[2021-04-06 14:50] satkunas commented on #6195
@jrouzierinverse and I agree to utilize a new key in order to communicate additional context - such as this one - from the backend. Since this bug is cosmetic and doesn't "break" the ui, but making the proposed change may introduce regressions I am moving the milestone post 10.3.

[2021-04-06 17:39] #6257 closed

[2021-04-06 17:52] #6258 closed

[2021-04-06 18:34] jrouzierinverse commented on #6185
Since the host can take both a string and array an upgrade notes is not needed at the moment.
I agree with the test should take both string and array that was fixed in b312a99.

[2021-04-06 18:34] #6185 closed

[2021-04-06 18:57] #5907 closed

[2021-04-06 19:20] jrouzierinverse commented on #6178
The issue is most likely caused by the different version of the perl DBD::mysql between CentOS and Debain.

[2021-04-07 10:27] jrouzierinverse commented on #6178
@satkunas at the moment what are you expecting?

[2021-04-07 11:42] nqb opened #6268 "web admin(RADIUS filters): connection_sub_type is not available as value for advanced filter"
**Describe the bug**
When you create a RADIUS filter, `connection_sub_type` value is not available in dropdown list.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new RADIUS filter
2. Search `connection_sub_type` as value for your advanced filter

=> Not available.

**Expected behavior**
`connection_sub_type` is available

**Additional context**
I didn't see this attribute returne

[2021-04-07 11:50] julsemaan opened #6269 "Web auth attributes are sent twice"
**Describe the bug**
The attributes for web-auth are being sent twice (see screenshot below)
This is with a Meraki access point

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/113862010-e1313b80-9775-11eb-9a5c-bddfaec51ff8.png)

**Expected behavior**
Sending the attributes once is enough

[2021-04-07 11:54] nqb opened #6270 "web admin: improvements on interfaces menu"
**Describe the bug**
To be more consistent, we should change minor things in Interfaces menu.

#### Interfaces and networks
- Netmask should be just after IPv4 address

#### L3 networks
- Order of fields should be: Network, Netmask, Description and Type (like in form)

#### Available buttons
When we change some settings in this menu, it's sometimes necessary to restart `keepalived`. I suggest to a

[2021-04-07 12:08] nqb opened #6271 "web admin: a user can be invalid after creation"
**Describe the bug**
When you create a user through form, web browser fill automatically `Registration Windows` (start period) with current time based on your computer setting.

If your PacketFence server is in another timezone, user created will not be available directly.

**To Reproduce**
Steps to reproduce the behavior:
1. PacketFence server configured with UTC timezone
1. Create an admin user

[2021-04-07 13:07] satkunas commented on #6178
@jrouzierinverse  we need a consistent JSON type-cast for `category_id` on CentOS and Debian.

[2021-04-07 13:29] nqb opened #6272 "mariadb-upgrade: Plugin 'unix_socket' is not loaded"
**Describe the bug**
Since merge of #6149, database setup doesn't work on Debian during configurator.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh Debian 9
2. Try to create your database

=>` {"message":"Error in connection to the database mysql with user root","status":500}`

**Expected behavior**
Configurator passed correctly.

**Additional context**
In CLI:

[code]

[2021-04-07 13:31] jrouzierinverse commented on #6268
Fixed by 821dd75ce3fa6b484bd6d94b8c5aa780f7f017fd

[2021-04-07 13:31] #6268 closed

[2021-04-07 13:33] nqb commented on #6272
Path to load plugins have changed since 10.2.

[code]

[2021-04-07 13:53] nqb commented on #6272
After I started MariaDB like this:
[code]
I can connect as `root` and I see following config:

[code]
which explain why I got this issue.

[2021-04-07 13:54] jrouzierinverse commented on #5296
After speaking with @fdurand.
This could be handled when we rework how we deal with interfaces for the next release.

[2021-04-07 14:06] nqb commented on #6272
[Workaround ](https://github.com/inverse-inc/packetfence/blob/821dd75ce3fa6b484bd6d94b8c5aa780f7f017fd/debian/packetfence.postinst#L164)is already present in postinstall script for Debian but it doesn't work in this version because it's not possible to connect as `root`.

I'm rebuilding `pfdeb9dev` image with new runtime dependencies because my tests were done against an image which has previous M

[2021-04-07 14:41] #6256 closed

[2021-04-07 15:16] satkunas commented on #6270
We'll need to add the L3 netmask to the API before I add the column to the table. Re-assigning to @jrouzierinverse for API.

[2021-04-07 15:17] satkunas commented on #6265
@julsemaan changes pushed, pleae te-test.

[2021-04-07 16:30] fdurand commented on #6272
I did a test on a fresh debian 9 and i was able to create the database.
I will try another time.

[2021-04-07 17:59] jrouzierinverse commented on #6270
The netmask should be there already for network types.

[2021-04-07 18:40] jrouzierinverse commented on #6270
I found the bug.

[2021-04-07 18:40] jrouzierinverse commented on #6270
@satkunas Can you look at the GUI changes now?

[2021-04-07 19:14] #6269 closed

[2021-04-07 19:35] fdurand commented on #6272
Did it a least 3 times from fresh install and don't have this issue.
I did an apt install packetfence, during the install it ask me to set the mysql password then after in the configurator i use the same to create the pf db and the pf user.

[2021-04-07 19:41] jrouzierinverse commented on #6029
From my understanding this was going to be handled by the GUI.
The current login user (with global tenant permission) will decide on which tenant he will be configuring for.
I am not sure this is needed.

[2021-04-07 20:44] jrouzierinverse commented on #5973
Nico are you able to check the OBS for the changes?

[2021-04-08 06:54] nqb opened #6274 "Golang unit tests: TestHealthFailTwice failed randomly"
**Describe the bug**
Since several days [TestHealthFailTwice](https://gitlab.com/inverse-inc/packetfence/-/jobs/1161651850#L836) failed randomly with following error:

`health_test.go:210: Expected number of health checks to be 2, got 1`

[2021-04-08 07:43] nqb commented on #6272
As mentioned in my latest comment, issue was caused by the fact that image already have MariaDB 10.1 pkgs installed.

I [rebuilt](https://gitlab.com/inverse-inc/packetfence/-/jobs/1159956724) image with MariaDB 10.2 and everything looks good regarding configurator.

[2021-04-08 07:43] #6272 closed

[2021-04-08 07:54] nqb commented on #4433
Commit 9852125 has been reverted by 210109c7ad5bb1319133aad44256fd7a3da15513

[2021-04-08 07:58] nqb commented on #4433
On a devel build (20210406) on CentOS 7, `/usr/local/pf/conf` is owned by `pf:pf` with permissions 770

EDIT: It's not the case for Debian (`2775`)

[2021-04-08 08:05] nqb commented on #4433
`pfcmd fixpermissions` switch permissions on `/usr/local/pf/conf` to `2775` on CentOS

[2021-04-08 08:08] nqb opened #6275 "permissions: restrict access to /usr/local/pf to pf user and pf group"
**Is your feature request related to a problem? Please describe.**
Current permissions on /usr/local/pf (Debian 9 and CentOS) are:

[code]
It allow any user to browse content of this directory.

See #4433

**Describe the solution you'd like**
Restrict access to /usr/local/pf to pf user and pf group with permissions 770

[2021-04-08 09:51] nqb commented on #6172
Not able to replicate this bug after upgrade of MariaDB. Closing for now.

[2021-04-08 09:51] #6172 closed

[2021-04-08 11:12] nqb commented on #6108
No more relevant since merge of #6161

[2021-04-08 11:12] #6108 closed

[2021-04-08 12:18] nqb opened #6276 "mariadb: Got an error reading communication packets when pfcron and iptables are started"
**Describe the bug**
On Debian (standalone), I noticed following messages in `mariadb_error.log`:

[code]

when `pfcron` and `iptables` run.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a Debian 9 with latest devel
2. Start all services
3. Look into /usr/local/pf/logs/mariadb_error.log

**Expected behavior**
No errors

**Desktop (please complete the following information):**
 - OS

[2021-04-08 12:23] nqb commented on #6276
I will check if issue was already present before MariaDB upgrade because I see that #6149 enabled `log_warnings` setting in configuration:

https://github.com/inverse-inc/packetfence/blob/464c6d3272e6ba0def8fb0f387960a5d223ee086/conf/mariadb/mariadb.conf.tt.example#L47

[2021-04-08 12:30] nqb commented on #6276
@fdurand doesn't have this issue on a fresh Debian 9 installed with latest nightly build. In my case, I upgraded a PF running 10.2 to latest nightly build.

On PF 10.2 with MariaDB 10.1.45, `log_warnings` were already enabled:

[code]

[2021-04-08 13:14] #6270 closed

[2021-04-08 13:28] satkunas commented on #6089
I'll have a look at this one post-10.3. It's a known limitation and more work is scheduled on our roadmap to port the Searches from Vue2 to Vue3. Bumping milestone.

[2021-04-08 14:33] nqb commented on #6276
`iptables` error was related to a misconfiguration after my upgrade.

Regarding `pfcron`, I'm able to replicate issue for example with `provisioning_compliance_poll` task like this:

[code]

It generates each time an error message in `mariadb_error.log` like mentioned above.

I don't see specific error in `/var/lib/mysql/hostname.log` after I set `general_log=1`, only:

[code]
when I run maintenan

[2021-04-08 16:12] jrouzierinverse commented on #6245
Every time you create a new uri filter you need to restart https.portal in order for it to match.

[2021-04-08 16:41] lzammit commented on #6245
systemctl restart packetfence-httpd.portal

[2021-04-08 16:41] #6245 closed

[2021-04-08 18:50] julsemaan commented on #6265
Still broken

I have the following in pf.conf:
[code]

And when viewing the advanced section in the admin, it displays nothing in the field

[2021-04-08 18:52] julsemaan commented on #6276
This is what I have in my 10.2 upgrade to 10.2.9:
[code]

[2021-04-08 19:03] julsemaan commented on #6265
And this also broke the authentication sources section with the following error:
[code]

[2021-04-08 19:12] jrouzierinverse commented on #6265
Retry

[2021-04-08 19:35] julsemaan commented on #6265
this only fixes half of the problem, the OpenID attributes are still broken in the advanced section

[2021-04-08 19:46] jrouzierinverse commented on #6265
@satkunas would have to look into that.

[2021-04-09 05:47] nqb commented on #6276
According to [MariaDB documentation](https://mariadb.com/docs/reference/mdb/system-variables/log_warnings/#mdb-system-variables-log-warnings), `log_warnings=2` is the default value. So it would mean that our MariaDB config is not taken into account after an upgrade from 10.2 to 10.2.9 in CentOS ?

On a ZEN build (with MariaDB change), `log_warnings` is set to `1`.

[2021-04-09 06:49] nqb opened #6277 "API: /api/v1/config/fingerbank_setting/upstream doesn't handle error with proxies"
**Describe the bug**
If you configure PacketFence to use Fingerbank behind a proxy and your proxy doesn't work, you will get following error message from API:

[code]

which is not true in this case.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a bad proxy in Fingerbank settings
2. Try to verify your key

=> You got error mentioned above.

**Expected behavior**
API should return

[2021-04-09 07:04] nqb opened #6278 "configurator(step 3): verify if no key has been enter when user click on "Next step""
**Is your feature request related to a problem? Please describe.**
At step 3 of configurator, you can:
- enter a Fingerbank key and verify it
- click on Next step if you want to skip this step

However, if you enter your key in the field and click on "Next step" (without verification), your key is not saved.

**Describe the solution you'd like**
Like in other steps of configurator, validate form w

[2021-04-09 07:13] nqb opened #6279 "web admin: fingerbank-collector restart button is missing in General Settings menu"
**Describe the bug**
Title says all

**Expected behavior**
In 10.2 we have a button in Fingerbank Profiling -> General Settings to restart fingerbank-collector service.

[2021-04-09 11:16] jrouzierinverse commented on #6178
@satkunas this is done what else needs to be done?

[2021-04-09 12:12] satkunas commented on #6178
@nqb please retest w/ Debian.

[2021-04-09 12:23] julsemaan opened #6280 "CoA-ACK RADIUS audit log entry doesn't have a valid created_at"
**Describe the bug**
![image](https://user-images.githubusercontent.com/3857942/114179154-a6154080-990c-11eb-8cbc-646c6abbe3bd.png)

The created_at is not set in the DB either and so it also gets deleted by pfcron after a minute or so

[2021-04-09 12:24] julsemaan commented on #6280
This seems to occur whether you reevaluate access in the admin, unreg/reg the node through the admin or do it through the portal

[2021-04-09 12:38] julsemaan opened #6281 "Webadmin: editing a node in the Audit section and going back goes into Nodes section"
**Describe the bug**
When you edit a node in the RADIUS audit log section and you go back by clicking the "X" in the node, you go back in nodes instead of back into the auditing view

**To Reproduce**
1. Go in the RADIUS audit log
2. Click on the MAC address of a node in one of the entries
3. Click on the "X" to close the node
4. You're in the nodes section now

[2021-04-09 12:42] #6279 closed

[2021-04-09 14:04] nqb commented on #6178
Issue still presents on Debian.

JSON payload returned by `/api/v1/current_user/allowed_node_roles`:
[code]

[2021-04-09 14:15] nqb opened #6282 "web admin: banned and allowed domains are missing on Sponsor sources"
**Describe the bug**
Before rework, you can specify banned and allowed domains on Sponsor sources (like for Email sources).

It's not the case anymore.

![Capture d’écran de 2021-04-09 16-15-05](https://user-images.githubusercontent.com/10830260/114193399-c4039500-994e-11eb-8269-81396fde5ab6.png)

[2021-04-09 14:25] #6280 closed

[2021-04-09 14:29] #6281 closed

[2021-04-09 14:36] jrouzierinverse commented on #6277
Can you retry I am supplying a more detailed error now.

[2021-04-09 15:46] julsemaan commented on #6265
The attributes cannot be used anymore when configuring authentication rules in an OpenID source

Before the data in the screenshot below was "given_name" equals "Julien", now its unrecognized:
![image](https://user-images.githubusercontent.com/3857942/114206153-0f0ab180-9929-11eb-9007-0526dbb2718e.png)

All the attributes defined in OpenID attributes (nickname,firstname,given_name) are not in the

[2021-04-09 17:05] jrouzierinverse commented on #6276
If there is a modified ```conf/mariadb/mariadb.conf.tt``` we must make remind the user to do so.

[2021-04-09 17:13] lzammit commented on #6246
You are right. Thanks.

[2021-04-09 17:13] #6246 closed

[2021-04-09 17:15] lzammit commented on #6262
![image](https://user-images.githubusercontent.com/5261214/114216978-9c540300-9935-11eb-852a-99fcd86afdf1.jpeg)

[2021-04-09 17:30] lzammit commented on #6261
I can't even save now.

I should not be forced to re-select the default settings.

![image](https://user-images.githubusercontent.com/5261214/114217260-edfc8d80-9935-11eb-9d1d-63e064894d45.jpeg)

[2021-04-11 20:39] jrouzierinverse commented on #6276
This should be moved to +1 as this is an existing issue.

[2021-04-12 05:55] #6282 closed

[2021-04-12 07:05] nqb opened #6283 "web admin(Fingerbank): general settings need to be refresh to display account informations"
**Describe the bug**
If you enter an API key in Fingerbank -> General settings, you need to refresh your page to display account informations.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup with no Fingerbank API key
2. Enter an API key in Fingerbank -> General settings and Save
3. Check account informations

=> Nothing is displayed

4. Refresh your page

=> Account informations are a

[2021-04-12 07:07] nqb commented on #6277
Hello @jrouzierinverse,

Yes, it works. I got this error after I configured a bad proxy:

[code]

[2021-04-12 07:09] nqb commented on #6277
@jrouzierinverse would it be possible to remove API key from error message ?

[2021-04-12 08:29] nqb opened #6284 "web admin(Nodes): role is not displayed when listing nodes"
**Describe the bug**
When you list nodes in Nodes menu, role column is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a node with a role assigned
2. Go in Nodes menu

=> You see your node but Role column is empty

**Expected behavior**
Role column should contain role assigned to node.

**Additional context**
Almost sure this issue was not present last week.

[2021-04-12 10:14] jrouzierinverse commented on #6277
Yes however this would require us create a new Fingerbank package.

[2021-04-12 10:25] jrouzierinverse commented on #6277
Fixed with fingerbank/perl-client@a63fb4e7e39e6a916922310400e5a41549ee74d1

[2021-04-12 10:30] jrouzierinverse opened #6285 "Update Fingerbank to include fixes"
fingerbank/perl-client@a63fb4e7e39e6a916922310400e5a41549ee74d1
fingerbank/perl-client@3f3119f76274882120f0a44e4c03b3b92d0542c8

[2021-04-12 10:37] #6274 closed

[2021-04-12 10:44] jrouzierinverse commented on #6261
@satkunas I will relax the backend to not require this to be sent as we have defaults for these values.
Can you remove the checks in the frontend thank you.

[2021-04-12 10:49] jrouzierinverse commented on #6178
They are all now returned as strings

[2021-04-12 12:28] #6261 closed

[2021-04-12 12:41] #6284 closed

[2021-04-12 12:56] nqb commented on #6276
Moving milestone.

Regarding reminder, if users follow upgrade guide, they should find a `.rpmnew` file or be warn by Debian packaging system about a change.

@julsemaan, could you confirm ?

Thanks.

[2021-04-12 13:14] #6283 closed

[2021-04-12 13:20] nqb opened #6286 "web admin: deprecated elements related to inline accounting to remove"
**Describe the bug**
#6171 has removed some settings related to accounting but they are still available in web admin.

They need to be removed.

**Screenshots**
![Capture d’écran de 2021-04-12 15-20-01](https://user-images.githubusercontent.com/10830260/114400762-957df800-9ba2-11eb-8d31-32410b7c7685.png)

[2021-04-12 13:34] satkunas commented on #6265
@jrouzierinverse can we get the openid attributes added to the meta?

[code]

Re-use the openid attribute key in text and value:

`{attributes: {data-type: "substring"}, text: "given_name", value: "given_name"}`

Attribute source: https://github.com/inverse-inc/packetfence/issues/6265#issuecomment-816060356

[2021-04-12 14:29] satkunas commented on #6265
@jrouzierinverse we'll need to remove ambiguity. In the following case "username" appears twice.

My suggestion is to prefix with "OpenID::":

![Screen Shot 2021-04-12 at 10 28 23 AM](https://user-images.githubusercontent.com/3904468/114411117-e75e5800-9b79-11eb-9f60-1fb3d4ca4ec4.jpg)

[2021-04-12 14:53] #6265 closed

[2021-04-12 17:44] #6286 closed

[2021-04-13 06:42] nqb commented on #6277
See #6285 for next part.

[2021-04-13 06:42] #6277 closed

[2021-04-13 08:35] nqb commented on #6178
Issue is solved on Debian. `category_id` and `max_nodes_per_pid` are returned as strings by API for ` /api/v1/current_user/allowed_node_roles`

@jrouzierinverse, I will let you create an issue related to upgrade of perl-DBD::mysql driver for v11 release.

[2021-04-13 08:35] #6178 closed

[2021-04-13 08:37] nqb commented on #5799
#6213 has been merged. It's now possible to request certificates using SCEP to packetfence-pki. This certificate can then be used to do EAP-TLS.

[2021-04-13 08:37] #5799 closed

[2021-04-13 08:56] nqb opened #6287 "web admin(switchs): improve description of switch modules"
**Describe the bug**
When you create a new switch and search for a Type, you see **description** of each switch modules (Perl and Swtich Templates).

After you select your module, Type is set to **ID** of your switch modules (like Brocade::Switch) which is different than description and doesn't speak to users.

It create some confusion about which module your are using.

**To Reproduce**
Steps to

[2021-04-13 10:37] jrouzierinverse opened #6288 "Upgrade Centos 7 MariaDB Driver"

[2021-04-13 11:58] julsemaan commented on #6276
if someone changed mariadb.conf.tt, they will get an rpmnew during the upgrade.

Haven't tested it for this current release but all the logic of that file seems untouched

[2021-04-13 12:57] satkunas commented on #6287
*Note:* The following method needs to be modified to support grouped values:

https://github.com/inverse-inc/packetfence/blob/beda7d0ba8f3a6ac0bd30274eea4d6cf47ae9cab/html/pfappserver/root/src/composables/useInputMultiselect.js#L494-L510

[2021-04-14 13:54] #6210 closed

[2021-04-14 14:07] julsemaan commented on #5240
Mas rapido

[2021-04-14 14:07] #5240 closed

[2021-04-14 14:10] julsemaan commented on #5592
Still problematic
![image](https://user-images.githubusercontent.com/3857942/114724458-90878880-9d09-11eb-9095-d49754de26b9.png)

[2021-04-14 14:20] #5592 closed

[2021-04-14 14:41] cgx commented on #6192
I had this error when the `pki_cas` table was missing. I've created it and it fixed the problem.

I think we can close this issue.

[2021-04-14 14:47] #6154 closed

[2021-04-14 17:08] julsemaan commented on #5997
@jrouzierinverse, can you take a look at this and see if you can find a quick fix? Seems relatively simple

[2021-04-15 04:22] HeroesLament commented on #1661
I'm getting almost this exact same error, I think due to the netns provisioning. For clarification, fiberfarm is my local domain, and 172.16.0.10 is the domain controller.

[root@packetfence01 ~]# ip netns exec fiberfarm ping 172.16.0.10
PING 172.16.0.10 (172.16.0.10) 56(84) bytes of data.
^C
--- 172.16.0.10 ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 1999ms

[roo

[2021-04-15 08:49] olmanolsztyn opened #6290 "Packetfence 10.3.0 ZEN installation login page instead configuration page"
**Describe the bug**
Packetfence ZEN login page appeared instead of configuration wizard

**To Reproduce**
1.Install PF ZEN 10.3.0 VM on VMWARE.
2.Start VM
3.Set static ip address and default gateway (dont have dhcp) for initial start
4.Go to https://packetfence_ip:1443
5.Login page appeared instead of configuration wizard

**Expected behavior**
Configuration wizard page should appear

[2021-04-15 10:08] olmanolsztyn commented on #6290
I solve the problem when set up /etc/sysconfig/ifcfg-eth0 settings.
After done that and restart configuration wizard appear.

[2021-04-15 10:08] #6290 closed

[2021-04-15 11:36] lzammit commented on #1661
It must be a configuration issue.

Which PF version are you running ?

Thanks,

[2021-04-15 13:14] lyubomirtraykov opened #6291 "Can't select Connection Type in Authentication Rules"
**Describe the bug**
Can't select Connection Type in Authentication Rules for AD Authentication Source.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authentication Sources
2. Configure new AD Authentication Source
3. Add new Authentication Rule
4. Use Connection Type for Condition

**Screenshots**
<img width="1012" alt="Screenshot 2021-04-15 at 16 06 58" src="https://user-images.git

[2021-04-15 13:15] nqb opened #6292 "tests during a release pipeline should be done against pristine VM"
**Describe the bug**
Since #6099, test stage of devel pipelines used Vagrant images built with all dependencies installed (only for Debian).

It's also the case for release pipeline which is not a good option.

For release pipelines, we should start pristine VM and install release packages from scratch.

[2021-04-15 13:22] julsemaan commented on #6291
@lyubomirtraykov, can you confirm the PF version please?

[2021-04-15 13:32] lyubomirtraykov commented on #6291
10.3

[2021-04-15 13:32] julsemaan commented on #6291
@satkunas, can you take a look at this please?

[2021-04-16 06:04] nqb commented on #6007
@satkunas, could you look at this one ?

[2021-04-16 06:35] nqb opened #6294 "packetfence-pki: allow to enter a FQDN as CN for certificate"
**Describe the bug**
Frontend prevents you to enter a FQDN in CN field for certificates but you can do it using API.

It's a best practice to use FQDN as a CN and according to a customer it was possible in 10.1.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a certificate with a FQDN as CN

**Expected behavior**
Frontend lets you create a certificate with CN equals to a FQDN

[2021-04-16 06:54] lyubomirtraykov opened #6295 "Can't select Switch Type for new switch in 10.3"
**Describe the bug**
Can't select Switch Type for new switch in 10.3

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Switch
2. Try to select Switch Type

**Screenshots**
<img width="1150" alt="Screenshot 2021-04-16 at 9 49 30" src="https://user-images.githubusercontent.com/17347347/114983722-9f9d4080-9e99-11eb-8678-5c8736a1c35e.png">

**Expected behavior**
Be able to select Switch

[2021-04-16 09:06] nqb opened #6296 "10.3: missing upgrade instructions to apply AD failover best practices"
**Describe the bug**
Since #6040, `/etc/resolv.conf` in chroots has new options by defaults. However, in order to apply these new options inside **existing** chroots, you need to run: `pfcmd generatedomainconfig`

According to [domain.pm](https://github.com/inverse-inc/packetfence/blob/0b1f7e5ac40004c8cfd62897ff8a33f363540982/lib/pf/domain.pm#L111), this command is run only when you **join** a dom

[2021-04-16 09:07] nqb commented on #6296
I will update upgrade guide with a new section.

[2021-04-16 10:33] lyubomirtraykov opened #6297 "Switch Type condition is not matched in Filter Engines"
**Describe the bug**
Switch Type condition is not matched in Filter Engines

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Filter Engines
2. Create Radius Filter
3. Add switch._type condition
4. Test with a node

**Expected behavior**
When using switch._type condition the filter should be matched.

[2021-04-16 11:47] olmanolsztyn commented on #6294
There is no reason not to allow an FQDN in the CN field.

[2021-04-16 11:59] julsemaan commented on #6291
@lyubomirtraykov, please apply the maintenance patches via /usr/local/pf/addons/pf-maint.pl and let us know if that fixes it

[2021-04-16 12:33] #6296 closed

[2021-04-16 12:53] #6294 closed

[2021-04-16 13:03] #6007 closed

[2021-04-16 13:11] WJCPacketFence opened #6298 "Upgrade from 10.1 to 10.3"
I have tried the procedure over 5 times now.  I end up with packetfence-config and packetfence-mariadb issues.  Again I'm at version 10.1.   If I do option 15.1 to upgrade mariadb that works fine.   I then run the package upgrade.   The database schema upgrade for 10.2 step 14.6 errors out.   I can't do any of the other 14.x steps because the code to run them is not installed yet. I get a  SQL syn

[2021-04-16 13:30] nqb commented on #6298
Hello,

Could you describe more precisely which steps did you follow ?
Also could you provide which SQL syntax error you have ?

[2021-04-16 13:40] julsemaan commented on #6295
@satkunas, what could be the issue here ?

[2021-04-16 13:51] jrouzierinverse commented on #6298
Run the following command.
```mysql -uroot -p -e'SET GLOBAL sql_mode = "NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER"'```
Then try and apply the 10.2 schema

[2021-04-16 13:56] WJCPacketFence commented on #6298
I got this message from James Rouzier.(below)   I’m going to try it.   I will let you know if it works or will supply the error.

Run the following command.
mysql -uroot -p -e'SET GLOBAL sql_mode = "NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER"'
Then try and apply the 10.2 schema

Eric J. Cox
Sr. Network Engineer
757.603.6513

From: Nicolas Quiniou-Briand ***@***.***>
Sent: Friday, April 16, 2021 9:

[2021-04-16 14:21] WJCPacketFence commented on #6298
1.  Backups of course.  They have been tested many times. 😊
  2.  Stopped PF
  3.  Stopped packetfence-config
  4.  Stopped packetfence-mariadb

 rpm -e --nodeps MariaDB-client MariaDB-common MariaDB-server MariaDB-shared

yum install --enablerepo=packetfence MariaDB-server

Complete!

***@***.***BETApktfnc ~]# systemctl unmask mariadb

Removed symlink /etc/systemd/system/mariadb.service.

***@***

[2021-04-16 14:22] WJCPacketFence commented on #6298
Here is what happened.

  1.  Backups of course.  They have been tested many times. 😊
  2.  Stopped PF
  3.  Stopped packetfence-config
  4.  Stopped packetfence-mariadb

 rpm -e --nodeps MariaDB-client MariaDB-common MariaDB-server MariaDB-shared

yum install --enablerepo=packetfence MariaDB-server

Complete!

***@***.***BETApktfnc ~]# systemctl unmask mariadb

Removed symlink /etc/systemd/system

[2021-04-16 14:57] satkunas commented on #6295
A regression was created in 381c84554aedcee0134017a3b5ec201eddfbb797

[2021-04-16 15:04] #6295 closed

[2021-04-17 05:22] lyubomirtraykov commented on #6297
Fixed

[2021-04-17 05:22] #6297 closed

[2021-04-17 06:21] lyubomirtraykov opened #6299 "Firewall SSO is not working in 10.3"
**Describe the bug**
Firewall SSO is not working. I an getting errors in t pfsso.log.

`Apr 17 09:10:23 pf-01 pfsso[29819]: t=2021-04-17T09:10:23+0300 lvl=eror msg="Recovered panic: runtime error: invalid memory address or nil pointer dereference." pid=29819 request-uuid=989a9c94-9f43-11eb-9e04-005056aada8e`

[2021-04-17 08:55] lyubomirtraykov opened #6300 "Editing Dot1x User requires Registration Window"
**Describe the bug**
Editing User crated by Dot1x authentication, requires Registration Window

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Users
2. Click on User
3. Edit something
4. Try to Save

**Screenshots**
<img width="1163" alt="Screenshot 2021-04-17 at 11 46 36" src="https://user-images.githubusercontent.com/17347347/115107454-9680a200-9f73-11eb-994e-7ffb5684725c.png">

**Ex

[2021-04-19 07:51] nqb opened #6301 "Restarting services on a Debian cluster cause an issue"
**Describe the bug**
When I try to restart all services on a Debian cluster, I got following results:

[code]

In `/var/log/syslog`, I see following messages:

[code]

This is what I see in `journalctl -u packetfence-config`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Debian cluster up and running
2. Run `/usr/local/pf/bin/pfcmd service pf restart` on one node

**Expected behavi

[2021-04-19 08:59] lyubomirtraykov commented on #6299
Log in DEBUG:
[code]

[2021-04-19 11:38] julsemaan commented on #6299
Can you provide the output of `journalctl -u packetfence-pfsso` while this is happening.

This will provide the full trace which is sent to STDOUT

Thanks

[2021-04-19 11:39] julsemaan commented on #6300
Is it when creating a new user or editing a user because the title says creating but the reproducing steps are for editing

[2021-04-19 11:49] lyubomirtraykov commented on #6299
Journal:
[code]

[2021-04-19 11:53] cdcrawford opened #6302 "Unable to create or edit Admin Access Roles in WebUI"
**Describe the bug**
I am unable to select Roles in the Admin Access Roles section in the WebUI. This prevents Admin Roles from being created. The data is being pulled from the API, just not printed to the user.

This is also present on existing roles as well.

Data Being Pulled:
![image](https://user-images.githubusercontent.com/3090648/115231183-a58a6000-a0eb-11eb-833c-5b070f037548.png)

**To Re

[2021-04-19 11:57] lyubomirtraykov commented on #6300
This is when the user is created by authentication from AD via EAP. When I try to edit and add notes to the user, it cant be saved because, Registration Window is required.

[2021-04-19 12:49] satkunas commented on #6302
Related to #6291 and #6295

@cdcrawford I applied a fix for this in the 2 other issues last week. Specifically:
- 381c84554aedcee0134017a3b5ec201eddfbb797
- 3a4c8631f81cde0592a52d144078e2b61f49105c

 Please apply the maintenance patch and let us know if the issue still persists.

[2021-04-19 12:49] #6302 closed

[2021-04-19 13:08] cdcrawford commented on #6302
That worked! Thanks so much!

[2021-04-19 13:58] julsemaan commented on #6299
Can you post `/usr/local/pf/conf/caddy-services/pfsso.conf`

[2021-04-19 14:12] #6299 closed

[2021-04-19 14:16] julsemaan commented on #6299
The new pfsso binary will be ready in an hour or so via the maintenance branch

[2021-04-19 14:31] julsemaan commented on #6300
This is because the admin interface forces you to set a registration window for users that aren't local users (no entry in the password table)

Easy way to replicate:
[code]

And then view the user `bobby` and you'll be forced to set stuff in the Actions tab although the user doesn't have a password entry

@satkunas, can you take a look into this

[2021-04-19 14:41] nqb commented on #6298
Able to replicate issue.

I installed a fresh ZEN running 10.1.0. After we pushed MariaDB-common (10.2.37) and MariaDB-compat (10.2.37) to stable repository, I got following error after I try to apply SQL schema:

[code]

As reported by @WJCPacketFence, issue is still presents after I used command proposed by @jrouzierinverse.

[2021-04-19 14:43] nqb commented on #6298
Fix will need to go in maintenance.

If users follow upgrade procedure, they should apply maintenance patches before running database schema scripts.

[2021-04-19 14:52] WJCPacketFence commented on #6298
So,  If I do what you suggest I can move on with the upgrade or do I need to wait for maintenance fix?

From: Nicolas Quiniou-Briand ***@***.***>
Sent: Monday, April 19, 2021 10:44 AM
To: inverse-inc/packetfence ***@***.***>
Cc: Cox, Eric ***@***.***>; Mention ***@***.***>
Subject: Re: [inverse-inc/packetfence] Upgrade from 10.1 to 10.3 (#6298)

External Email Advisory:

This message originated ou

[2021-04-19 15:14] #6298 closed

[2021-04-19 15:19] jrouzierinverse commented on #6298
I placed this fix in maintenance you can run
You can get this fix and all the other latest fixes by running pf-maint.pl

[code]
Or you can manually apply the patch by doing the following.
[code]

[2021-04-19 18:34] #6300 closed

[2021-04-19 18:42] satkunas commented on #6300
I've re-implemented the validation exception when a password entry exists. The expiration is only required when a local user exists and is no longer required otherwise.

[2021-04-20 06:27] nqb commented on #6298
Tested and it works.

[2021-04-20 08:43] lyubomirtraykov opened #6305 "No delete button on node with a locationlog opened in 10.3"
**Describe the bug**
Can't delete node with locationlog opened, because the is no delete button in the Web GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a Node
2. Go to the Node
3. The delete button is missing

**Screenshots**
<img width="1165" alt="Screenshot 2021-04-20 at 11 41 42" src="https://user-images.githubusercontent.com/17347347/115365866-70563e80-a1cd-11eb-8594-5751

[2021-04-20 09:40] nqb commented on #3804
@jrouzierinverse, did you finish to work on that issue ?

[2021-04-20 10:08] WJCPacketFence commented on #6298
Same here.

Thanks,

From: Nicolas Quiniou-Briand ***@***.***>
Sent: Tuesday, April 20, 2021 2:28 AM
To: inverse-inc/packetfence ***@***.***>
Cc: Cox, Eric ***@***.***>; Mention ***@***.***>
Subject: Re: [inverse-inc/packetfence] Upgrade from 10.1 to 10.3 (#6298)

External Email Advisory:

This message originated outside the WJCC Public Schools network. Use caution when opening attachments, clicki

[2021-04-20 11:50] julsemaan commented on #6305
@satkunas, can you take a look at the missing button

[2021-04-20 12:23] satkunas commented on #6305
The `default` user can not be deleted. The delete button exists for all other users.

[2021-04-20 12:26] lyubomirtraykov commented on #6305
I am not trying to delete the user. I am trying to delete the Node.

[2021-04-20 12:31] lyubomirtraykov commented on #6305
@julsemaan Please reopen

[2021-04-20 12:35] satkunas commented on #6305
I'm not able to reproduce,

@lyubomirtraykov Check the output from the node endpoint API call (replace with your own MAC). It should return `false`:

[code]

[2021-04-20 12:46] lyubomirtraykov commented on #6305
It is returning `true`. For all Nodes with  locationlog opened.

[2021-04-20 13:20] lyubomirtraykov commented on #6305
I tried `/usr/local/pf/sbin/pfperl-api get -M DELETE /api/v1/node/00:00:00:00:00:00` and it works without a problem on Nodes with locationlog opened.

[2021-04-20 15:00] julsemaan commented on #6305
I'm not able to replicate the issue either, does it do that for all nodes or for specific nodes ?

[2021-04-20 15:04] satkunas commented on #6305
@jrouzierinverse can you check and verify the `not_deletable` flag when a locationlog exists?

[2021-04-20 16:18] northernscum opened #6307 "User Roles"
Hi there
we are deploying packetfence and I'm running into issue with user roles. I had an employee of mine log onto my desktop but couldn't gain network or internet access. I saw his account on packetfence and it going to the default role, once I selected the bypass role it started to work. How do I properly ensure that our users when we roll out packetfence will NOT face the same issue. Thank Yo

[2021-04-20 16:36] extrafu commented on #6307
This kind of question needs to be discussed in the PacketFence mailing list or directly with us if you get a support agreement.

[2021-04-20 16:36] #6307 closed

[2021-04-20 16:37] northernscum commented on #6307
We do have a support with you :)

[2021-04-20 16:40] extrafu commented on #6307
So please don't hesitate to us it!

[2021-04-20 19:42] fcpimenta opened #6308 "Unable to install wildcard SSL certificate in Web UI"
**Describe the bug**
I was using version 10.2, where I can install our wildcard SSL certificate using the web UI. But after migrating to 10.3 and using the same method, the UI does not accept my .key file. After renaming the .key file to .txt, the web UI received the certificate content but presented an error message: Failed verifying chain. I've used the same files that were used in 10.2. I teste

[2021-04-21 08:28] lyubomirtraykov opened #6309 "Trigger Single-Sign-On (Firewall SSO) on locationlog update."
**Is your feature request related to a problem? Please describe.**
Some Switches(eg. Brocade ICX) are not sending Radius accounting update when the machine is authenticated first and then the User logs in with User authentication. The locationlog is updated but no Firewall SSO is performed.

**Describe the solution you'd like**
It would be nice if Packetfence performs Firewall SSO when the locatio

[2021-04-21 11:42] julsemaan commented on #6309
The IP information may not be accurate on this event so your SSO will only be valid if that device uses the same IP it had before.

That's the reason why the SSO is only available on events where the IP information is included in the inbound packet

[2021-04-21 11:52] julsemaan commented on #6308
These look like 2 issues, the first one is related to the key not being accepted by the GUI unless it has the `.txt` extension. I believe @satkunas can take a look at this

The other issue is related to the chain validation which may be a user error. Regarding this, are you supplying the intermediate certs manually in the GUI or using the "find intermediates automatically" option ?

[2021-04-21 11:57] satkunas commented on #6308
What is the output from the following command? (on Catalina):

[code]

[2021-04-21 12:48] fcpimenta commented on #6308
I'm using the last option. My crt file is concatenated.

<img width="580" alt="image" src="https://user-images.githubusercontent.com/6945439/115556122-af949600-a286-11eb-9e46-946f569d6f7f.png">

[2021-04-21 12:49] fcpimenta commented on #6308
Hi @satkunas,

Here is the output:

`cmbh-soluti-2020.key: text/plain; charset=us-ascii`

[2021-04-21 13:24] #6005 closed

[2021-04-21 13:40] satkunas opened #6310 "DELETE Tenant - Foreign Key Constraint"
**Describe the bug**
DELETE /api/v1/tenant/:produces foreign key constraint error in `person` table

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Tenant
2. Delete new tenant
3. Inspect packetfence.log
4. See error

**Additional context**
[code]

[2021-04-21 13:55] lyubomirtraykov commented on #6309
The logic should be the same as SSO on access reevaluation in `enforcement.pm`. There you don't have IP information included in the inbound packet.

[2021-04-21 14:07] satkunas commented on #6308
@fcpimenta I've added the mime-type which appears to be used by MacOS. This should allow you to upload without renaming.

[2021-04-21 15:14] fcpimenta commented on #6308
@satkunas I applied the patch, but the error persists.

[2021-04-21 15:19] fcpimenta commented on #6308
If I do it on Safari, it only enables txt loading as you can see below:

<img width="562" alt="image" src="https://user-images.githubusercontent.com/6945439/115578519-c0033b80-a29b-11eb-9117-d5ebfb88c79d.png">

[2021-04-21 15:19] satkunas commented on #6308
@fcpimenta the error is another issue. Please follow up with @julsemaan 's question above.

[2021-04-21 15:41] fcpimenta commented on #6308
But I was talking about the loading issue only. The validation is not solved too.

[2021-04-21 16:20] satkunas commented on #6308
@fcpimenta I'm able to replicate the Safari issue, but I'm unable to resolve it - even by omitting the `accept` attribute on the file upload - which indicates to me that it's an OS or Safari issue/limitation.

You can still drag-and-drop files onto the Upload button.

Safari must be >= 14.0.3

[2021-04-21 16:51] julsemaan commented on #6308
@fcpimenta, you need to apply the patch by running `/usr/local/pf/addons/pf-maint.pl`

Simply patching the file will not resolve the issue you're looking at with @satkunas

[2021-04-21 18:38] fcpimenta commented on #6308
@julsemaan, yes, I did exactly this procedure before trying to load the key file. Now I've just test using Windows and Firefox 87 64-bit. The same load error occurs:

![image](https://user-images.githubusercontent.com/6945439/115604083-54c76280-a2b7-11eb-9b84-dac676797722.png)

[2021-04-21 18:52] julsemaan commented on #6308
One thing to note, the patch was only available in the compiled admin interface around 11:06 although @satkunas pushed it at 10:34

So applying the maintenance again may be necessary since your comment was at 11:14 which means you may not have pulled the latest compiled code

(all times above are in Montreal's timezone because I'm too lazy to convert to UTC)

[2021-04-21 18:56] satkunas commented on #6308
If you wish to try the patch before the maintenance builds are completed you can compile the web source manually.

Requires NodeJS >= 10.24

[code]

[2021-04-21 22:19] fcpimenta commented on #6308
@satkunas how can I identify the patch? When I run the maintenance, here is what I see:

`Step 1: Patching of text based codefiles
Currently at dae3f53e7482cca0fd01ce56b9c956780c21d206
** GET https://api.github.com/repos/inverse-inc/packetfence/branches/maintenance/10.3 ==> 200 OK (1s)
Already up to date for text based patches`

[2021-04-22 05:15] nqb commented on #6308
Hello @fcpimenta,

Patching of web admin interface is done at Step 3.
You can check content of `/usr/local/pf/html/pfappserver/root/dist`

[2021-04-22 05:22] nqb commented on #6310
Perl unit tests failed: https://gitlab.com/inverse-inc/packetfence/-/jobs/1201417909#L559.

Related to #6239

[2021-04-22 09:41] nqb commented on #6301
When the restart works correctly, I see following messages:
[code]

[2021-04-22 10:24] nqb opened #6313 "pfmon configuration is lost during a Debian upgrade from a version prior to 10.2"
**Describe the bug**
When doing a  Debian upgrade from a version prior to 10.2, the `pfmon.conf` file is removed by package upgrade. It means that the script `to-10.2-pfmon-maintenance.pl` which is run **after** package upgrades can't migrate old `pfmon` configuration.

On my side, it causes an issue during a cluster upgrade on 10.3 because `cluster_check` task has been reenabled on node C.

**To

[2021-04-22 11:08] fcpimenta commented on #6308
@nqb , my server is patched, but the issue with the loading of .key file and with the validation of certificate continue with errors.

[2021-04-22 11:18] nqb commented on #6308
@fcpimenta, just to be sure, did you re-patched it as requested by @julsemaan ?

Also, did you restart services to take change into account ?

[2021-04-22 11:59] lzammit opened #6314 "fail more gracefully if source dns host not reachable"
If dns name not reachable in the sources it shows:

![image](https://user-images.githubusercontent.com/5261214/115710614-8f291200-a340-11eb-90f7-9ddfe54f2a35.jpeg)

[2021-04-22 12:21] satkunas commented on #6308
Although the patch above includes the commit (https://github.com/inverse-inc/packetfence/commit/dae3f53e7482cca0fd01ce56b9c956780c21d206) the source is not necessarily built yet.  This includes the UI in my last comment above.

Maintenance builds are based off of the GIT branch with the same name. In this case `maintenance/10.3` is built nightly and then available trough the `pf-maint.pl` script a

[2021-04-22 12:49] nqb commented on #6308
Not anymore. We build directly any push to maintenance branches since v9.2.
It takes 10-20 minutes to make patch available to users.

[2021-04-22 13:51] fcpimenta commented on #6308
@nqb, I tried again: Re-patched and rebooted the server completely.

When I upload the .key file, the same message is presented in the UI:

`Invalid file, only "application/x-x509-ca-cert, text/*" content-type(s) are accepted.`

[2021-04-22 14:35] fdurand opened #6316 "When saving SSL certificate in the admin gui it's doesnt return to the simple view."
**Describe the bug**
When saving SSL certificate in the admin gui it's doesnt return to the simple view and keep the edit view.

**To Reproduce**
1. Go to :1443/admin#/configuration/certificate/radius
2. Click on 'Edit'
2. Click on 'Save'
4. Still in the edit view, it should return to the read view.

[2021-04-22 14:39] julsemaan commented on #6308
@satkunas, is this mime type check really necessary, we could just trust the input from the user since this is validated server side anyway

[2021-04-22 16:03] satkunas commented on #6308
@julsemaan it's meant to help usability rather than validation. The input accept attribute filters local files for the user based on mime-types and/or extension during file selection(s) for upload. We can accept `*/*` if you feel it's not necessary in this case.

[2021-04-22 16:56] julsemaan commented on #6308
I never use the file upload since I usually copy/paste it inside the field but I don't feel like that validation is necessary. It may be useful though but we can live without it if its causing problems

[2021-04-22 19:11] fcpimenta commented on #6308
Yes @julsemaan, this is only a detail. The main problem is that, even copying the content of .key file I can't save the certificate as I did with version 10.2 with the same file. In 10.3, I receive the message:

`Failed verifying chain: stdin: CN = *.cmbh.mg.gov.br error 20 at 0 depth lookup:unable to get local issuer certificate . Ensure the intermediates certificate file you provided contains al

[2021-04-22 19:59] lzammit opened #6317 "Time balance in Sources not pulled from access_duration_choices"
[code]
![image](https://user-images.githubusercontent.com/5261214/115777772-b6550300-a383-11eb-8363-1415d5d73df6.jpeg)

[2021-04-22 20:01] lzammit opened #6318 "Re-send SMS feature for SMS registration"
Currently you would need to re-do the SMS form to get the SMS PIN again.

[2021-04-23 07:02] sonaligulia opened #6319 "pf admins for multiple buildings cant see nodes and do any action on nodes of other buildings"
hi all,

we want to deploy packetfence for multiple buildings .
for example we have 3 working packetfence server in cluster.we want to create admin/manager for each building but don't want one admin/manager can see nodes of other building or do any action on nodes of other buildings .

[2021-04-23 09:49] nqb opened #6321 "switches: slow display in frontend"
**Describe the bug**
On a 10.3 with 92 switch groups and ~400 switches, if I try to browse switches or switchs groups, I have to wait ~10 seconds between each page.

Setup has 37 roles.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh 10.3
2. Install a switches.conf with a lot of entries
3. Try to display switch or switch groups

=> You will have to wait between each page

**E

[2021-04-23 10:13] nqb opened #6322 "webadmin(Users): permit to identify local users vs remote users"
**Is your feature request related to a problem? Please describe.**
When you browse Users in webadmin, you can't identify local users vs remote users.

By remote users, I mean a user created in `person` table but not in `password` table in DB (like an AD account)
By local users, I mean a user created in `person` and `password` tables in DB (like a local account created through web admin or an accou

[2021-04-23 10:37] jrouzierinverse commented on #6321
How many roles do they have?

[2021-04-23 11:30] LizardNerd commented on #6291
@julsemaan I applyed the patch, but it doesn't work, the issue remain.

[2021-04-23 11:41] julsemaan commented on #6291
@satkunas, can you take a look into this?

[2021-04-23 11:43] julsemaan commented on #6319
That's a question for the mailing list

[2021-04-23 11:43] #6319 closed

[2021-04-23 11:45] julsemaan commented on #6308
Given you're using the same GH issue for 2 different things, I want to solve them one at a time to prevent mixing the discussion

Feel free to open another issue with just that problem and we can discuss it there and leave this one focussed on the mime type filtering

[2021-04-23 11:45] #6198 closed

[2021-04-23 11:56] fcpimenta opened #6323 "Unable to save/validate wildcard SSL certificate in the Web UI"
**Describe the bug**
 I was using version 10.2, where I can install our wildcard SSL certificate using the web UI. But after migrating to 10.3 and using the same method, the web UI received the certificate content but presented an error message: Failed verifying chain. I've used the same files that were used in 10.2. I tested again in 10.2, and the method worked normally.

**To Reproduce**
Steps t

[2021-04-23 11:58] julsemaan commented on #6323
Was "Find Intermediate CA automatically" left enabled ?

[2021-04-23 11:58] fcpimenta commented on #6308
Ok @julsemaan, the new issue for the certificate validation is #6323

[2021-04-23 12:01] fcpimenta commented on #6323
Yes, Find intermediate CA certificates automatically = True

[2021-04-23 12:03] julsemaan commented on #6323
Can you post the certificate file here (just the cert, not the key)

[2021-04-23 12:04] fcpimenta commented on #6323
[code]

[2021-04-23 12:08] julsemaan commented on #6323
You only should be putting the first cert in that field especially considering that the second one isn't event the intermediate CA of the cert you're trying to configure.

Just put the first cert and let me know if that works

[2021-04-23 12:22] LizardNerd commented on #6291
Nevermind, my bad the patch actually works well!

[2021-04-23 13:18] satkunas commented on #6291
@LizardNerd thank you for the update.

[2021-04-23 13:18] #6291 closed

[2021-04-23 13:39] fcpimenta commented on #6323
1. Fisrt test for 10.3 (as worked in *10.2* with final status: Certificate/Key match, Chain is valid)

Certificate - Concatenated
Certification Authority certificate(s) - Empty
Private Key - Filled
Validate certificate chain - *Enabled*
Find Intermediate CA certificates automatically - True

SAVE ERROR: Failed verifying chain: stdin: CN = *.cmbh.mg.gov.br error 20 at 0 depth lookup:unable to get l

[2021-04-23 14:37] fcpimenta opened #6325 "Include 3Com SS4400 (SuperStack) switch in the compatibility list"
**Is your feature request related to a problem? Please describe.**
I am trying to configure many switches we have in our company to activate Captive Portal using Aruba Instant as a wi-fi AP. But we noted that the switch **3Com SS4400** is not in the list of models. When I try to configure, packetfence informs me that this switch is not supported. Is it possible to include this model?

**Describe t

[2021-04-23 17:02] satkunas commented on #6316
This form has been changed to behave the same as the other Configuration forms. It will no longer automatically redirect back to the View after Save. The action key (CTRL on PC, Command on MacOS) can be held when clicking the Save button to return to the View after saving.

[2021-04-23 17:02] #6316 closed

[2021-04-23 17:03] #6308 closed

[2021-04-26 05:39] nqb commented on #6325
Hello,

1. Which RADIUS attributes need to be returned to your 3COM SS4400 ?
2. Did you try to use [switch templates](https://www.packetfence.org/doc/PacketFence_Developers_Guide.html#_creating_a_new_switch_via_a_template) to achieve your goal ?

[2021-04-26 07:06] nqb opened #6326 "web admin(RADIUS filters): condition on connection_sub_type doesn't work as expected"
**Describe the bug**
When I create a RADIUS filter like this:

![Capture d’écran de 2021-04-26 09-02-30](https://user-images.githubusercontent.com/10830260/116042029-3cb46200-a66e-11eb-9fbb-6c134837dd2b.png)

I got following config in `radius_filters.conf`:

[code]

This condition doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create RADIUS filter seen in screenshot
2. Forge a

[2021-04-26 08:29] nqb opened #6327 "RADIUS filters: Answers of type Request are ignored"
**Describe the bug**
When you create a RADIUS filter from GUI using an answer of type request, answer is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RADIUS filter from GUI with an answer of type Request, example:
![Capture d’écran de 2021-04-26 10-21-50](https://user-images.githubusercontent.com/10830260/116052054-8c4c5b00-a679-11eb-866b-66aaa3401573.png)

2. Forge a RA

[2021-04-26 12:25] cdcrawford opened #6328 "802.1ad QinQ Support"
**Is your feature request related to a problem? Please describe.**
No. It's a switch feature that would allow for a touchless network.

**Describe the solution you'd like**
I would like to add support for 802.1ad QinQ in the context of role assessments, which, if your switch supported 802.1ad it would use those values to either create the VLAN on the switch, associate the devices to that VLAN, and

[2021-04-26 13:52] #6314 closed

[2021-04-26 16:24] fcpimenta commented on #6325
Hi @nqb,

For the first question, I've researched the switch documentation, and here is what it shows:

**3Com Vendor Specific Attribute**

The default user levels on the Switch (monitor, manager, admin) are supported by a 3Com Vendor Specific Attribute (VSA). The Vendor-ID for 3Com is **43**. You must configure the RADIUS server to send this attribute in the Access-Accept message in order to spec

[2021-04-27 05:39] nqb commented on #6325
Hello @fcpimenta,

If you are trying "to activate Captive Portal using Aruba Instant as a wi-fi AP", I don't think you read the correct manual section.
Switch template should cover most of your needs and allow you to return almost all RADIUS attributes.

If you want to do WebAuth, you will have to write your own switch module in Perl.

So it's important to be sure what you want to achieve.

[2021-04-27 10:07] nqb opened #6329 "regression: configurator sets valid_from field to current time in place of 1970-01-01 00:00:00"
**Describe the bug**
When you set password for `admin` account during configurator, frontend should send `valid_from: 1970-01-01 00:00:00` due to following bugs:
- https://github.com/inverse-inc/packetfence/issues/5390
- https://github.com/inverse-inc/packetfence/issues/5594

Bugs were fixed by @cgx and @julsemaan for 10.1.0 see https://github.com/inverse-inc/packetfence/commits/54ccc203bd95b10bf3

[2021-04-27 10:11] nqb commented on #6329
I will improve integration test to check value of `valid_from` and `expiration` in DB.

[2021-04-27 10:14] nqb commented on #6329
It will not possible to add easily an integration test now because Venom is sending itself `valid_from` field with correct value.

[2021-04-27 12:06] satkunas commented on #6329
This regression is not UI borne.  Its origin is from the db setup (see `NOW()`):

https://github.com/inverse-inc/packetfence/blob/devel/db/pf-schema-10.3.0.sql#L491

[2021-04-27 12:09] satkunas commented on #6329
@nqb try the following patch. Commit these changes if you agree that no further regressions will be created:

[code]

[2021-04-27 12:18] nqb commented on #6329
@satkunas, I agree that we create user with `NOW()` but if I compared previous `pf-schema.sql`, we always create `admin` user like this (for example: [10.1 schema](https://github.com/inverse-inc/packetfence/blob/78b48ed629a83faa2b8b0dffa2b55a683af98f5c/db/pf-schema-10.1.0.sql)).

When frontend call API to update `admin` password (`/api/v1/configurator/user/admin/password`), it could modify `valid_

[2021-04-27 12:21] satkunas commented on #6329
@nqb just because we did it "previous"-ly doesn't make it right. Is there a need to setup the DB with the wrong value, only to change it seconds later with the right value? Why not just insert the right value in the first place during creation? What happens when the wrong value is inserted during creation and the configurator is skipped and the setup is done manually?

[2021-04-27 12:25] nqb commented on #6329
100% agree. My idea was just to report that something change since previous version and cause issue.

You approach makes sense. I will create a PR with your patch, adjustements on integration tests and also on ZEN (because we also create `demouser` on ZEN [like this](https://github.com/inverse-inc/packetfence/blob/78b48ed629a83faa2b8b0dffa2b55a683af98f5c/ci/packer/zen/scripts/install-pf.sh#L36))

[2021-04-27 12:56] nqb opened #6331 "ZEN: demouser is not visible in Users until you used it"
**Describe the bug**
During ZEN build, we add a `demouser` which can be used as a user to register devices using captive portal, 802.1X or device-registration process with "default" role.

However, I see several problems:
- `demouser` is not visible in "Users" menu after you setup a ZEN, I don't know why.
- if ZEN image is used in production, somebody can use this account to gain `default` role. O

[2021-04-27 14:38] cdcrawford opened #6332 "Please add support for RFC4675 which uses Egree-VLANID Radius Response"
**Is your feature request related to a problem? Please describe.**
The Egree-VLANID does not work, unless manually provisioned in a Radius Filter, with a static value assigned to each VLAN. RFC4675 uses different HEX Values to tell the switch how the port and device connected to it should be treated on egress, to the device.

The 'reply:Egress-VLANID = 0x32000008', with 0x31 for tagged, and 0x32 f

[2021-04-27 17:49] fcpimenta commented on #6325
Hi @nqb,

I've managed to configure a switch template and authenticate with write access to the 3Com switch.

I think I was in the wrong way.

Thanks!!

[2021-04-27 17:55] lzammit opened #6333 "time balance displayed in seconds in the template without units"
Guests are mathematicians or what?

![image](https://user-images.githubusercontent.com/5261214/116287693-af046f80-a75e-11eb-97f9-b192dc299c99.jpeg)

14400 seconds = 4 hours.

[2021-04-28 05:15] #6325 closed

[2021-04-28 11:06] nqb opened #6334 "configurator: high-availability is not displayed correctly by frontend"
**Describe the bug**
When you configure an interface with `high-availability` setting enabled during configurator, `high-availability` is correctly enabled in the backend but frontend displays it as disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an interface with high-availability during first step of configurator

=> Setting appear as disabled on fronted.

Certainly rel

[2021-04-28 11:49] julsemaan commented on #6333
Only guy allowed on this guest network:
![image](https://user-images.githubusercontent.com/3857942/116398835-38b34c00-a7f6-11eb-8d48-462fbec65534.png)

[2021-04-30 05:26] nqb opened #6337 "web admin(preferences): language can be change in two places"
**Describe the bug**
As mentioned on #6311 by @cgx:

I agree with this proposal, it makes more sense. I tested on nightly build and it looks like this suggestion has not been taken into account.

Could you look into this @satkunas ?

[2021-04-30 05:54] nqb opened #6338 "regression in web admin when trying to display a config element"
**Describe the bug**
When I open any config element, I got following display:

![Capture d’écran de 2021-04-30 07-40-59](https://user-images.githubusercontent.com/10830260/116654229-09811400-a989-11eb-97c9-1f4c7b4dc37a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install nightly build
2. Open a config element like a source

**Expected behavior**
Correct display

**Additional context*

[2021-04-30 07:54] nqb opened #6339 "web admin(AD/LDAP sources): Username attribute field should be a dropdown"
**Describe the bug**
`Username attribute` field on an AD or LDAP source is not a dropdown list. It should be identical to `Search atributes` field but with only one choice.

This field is validated by backend when you saved source so it doesn't make sense to keep this field as a free text field.

[2021-04-30 10:44] nqb opened #6341 "NTLM Auth cache(Debian): wrong permissions for /usr/local/pf/addons/AD/secretsdump.py"
**Describe the bug**
File is not executable.

See #6340

[2021-04-30 10:50] nqb opened #6342 "NTLM Auth cache: ldapsearch used in get_sync_samaccountname function is wrong"
**Describe the bug**
[LDAP search uses to find sAMAccountName of user to pass to `secretsdump.py`](https://github.com/inverse-inc/packetfence/blob/02b824046aaf21e770c79613b5a3e7bad87562bc/lib/pf/domain/ntlm_cache.pm#L210-L212) script is wrong at two places:
- binddn should be basedn, fixed by #6340
- search is not limited to username defined in AD source used for NTLM Auth cache. So LDAP query ret

[2021-04-30 11:29] cgx commented on #6337
From a user's perspective it would makes sense to remove the option from the navigation bar. However, as discussed with @satkunas, from a developer's perspective it  is convenient to be able to quickly switch the interface locale. My new suggestion would be to keep the option in the navigation bar in *debug* mode only.

[2021-04-30 13:33] #6192 closed

[2021-04-30 13:51] satkunas commented on #6329
@nqb patch also needs to be applied to https://github.com/inverse-inc/packetfence/blob/devel/db/pf-schema-X.Y.Z.sql#L491

[2021-04-30 14:15] #6301 closed

[2021-04-30 17:07] #6339 closed

[2021-04-30 17:56] #6327 closed

[2021-05-03 14:21] nqb commented on #5612
Has been partially fixed by #6311.

@satkunas, do you think it's possible to display **name** of current admin role ?

From what I see in API response of `token_info`, information is available.

[2021-05-03 14:34] nqb commented on #6329
done.

[2021-05-03 14:34] #6329 closed

[2021-05-05 08:51] nqb commented on #3631
I can confirm that this bug is partially addressed by #4061.

Now when you used "Associated sources" on a sponsor source, sources will be used to find sponsor on **captive portal**.
However, when sponsor clicks on link received by mail and try to authenticate, PF still uses all authentication sources to check for  a sponsor right.

It will be really nice if we can limit sponsor authentication to "

[2021-05-05 10:37] nqb opened #6345 "Provide a way to audit admin access to PacketFence"
**Is your feature request related to a problem? Please describe.**
Currently, there is no simple way to track who and when access to web admin interface to PacketFence.

Information is not recorded in Admin API Audit log, only in logs.

Unless I'm missing something, I don't see a place in DB where information is saved at the moment.

**Describe the solution you'd like**
Record access to /login in

[2021-05-05 18:24] cgx commented on #6322
It would be nice to visually identify some types of external users by looking at their corresponding authentication source:

 - OAuth
 - Email
 - SMS
 - Billing
 - SAML
 - Sponsor
 - etc

[2021-05-06 01:30] jrouzierinverse commented on #6345
Should we also log failed login?

[2021-05-06 05:32] nqb commented on #6345
I would say no because we want to audit who do what on a PacketFence server.

[2021-05-06 06:37] nqb opened #6346 "webadmin(dashboard): number of registered devices and open security events is not updated correctly"
**Describe the bug**
When you watch number of devices registered or open security events on the dashboard, it doesn't reflect current state on PacketFence.

It looks like number is not updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a fresh install
2. Registered two new devices manually
3. Trigger a security event on one node
3. Go on dashboard

=> Number are not updated.

**S

[2021-05-06 06:40] nqb commented on #6346
As you can see on screenshot, graph contains correct numbers.

[2021-05-06 08:19] nqb commented on #6346
A restart of all PacketFence services seems to fix issue.

EDIT: I mean, I'm able to have correct number on dashboard but I don't know if they will be updated after.

[2021-05-06 10:01] nqb commented on #5939
Issue is still presents on 10.3

[2021-05-06 10:38] nqb commented on #5957
Not able to replicate this issue on a 10.3 setup.

[2021-05-06 10:38] #5957 closed

[2021-05-10 05:32] nqb commented on #6057
@jrouzierinverse, could you look at missing items and backport to maintenance branches ?

[2021-05-10 10:26] nqb commented on #5976
@satkunas, issue is still presents on 10.3, could you look into this ?

[2021-05-10 10:29] nqb commented on #5976
Even if you select a Tenant ID for your user, Tenant ID is ignored and user is created in tenant where you create user.

[2021-05-10 15:03] #6057 closed

[2021-05-10 15:24] julsemaan opened #6349 "CLI authentication rules matching doesn't filter on the rules action"
**Describe the bug**
When you match the rules for a VPN user, it doesn't seem to be filtering out the rules that only have a "Mark as sponsor" action. So if you match the first rule that is a sponsor rule and the second that is for CLI access, then it gives you the "Mark as sponsor" from the first rule even though its not accurate in that context

Issue seems here:
https://github.com/inverse-inc/p

[2021-05-11 07:12] nqb opened #6350 "API: error message should be more explicit when using a .local domain"
**Describe the bug**
When you try to configure a '.local' domain during configurator (step 2), you got following error message:

`Unable to validate: An error occured while updating the general configuration.`

Which is not very explicit. You have to look into web browser console to see exact reason of issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a fresh 10.3 install
2. Go to

[2021-05-11 07:22] nqb commented on #6337
It looks like there is an incompatibility between the two methods.

[2021-05-11 12:02] lzammit commented on #6318
Let me know when I can test it.

[2021-05-11 22:03] luizluca opened #6351 "zen does not setup ipv6 firewall"
**Describe the bug**

While doing a network scan, I noticed that packetfence did answered some services through IPv6.
I checked and ip6tables is clean:

[code]

Shouldn't packetfence be responsible to, at least, block incoming IPv6 traffic?

I'm using zen running with packetfence-10.2.0-20201007132254.199263253.0007.v10.2.0.el7.x86_64.
It is not the latest but I didn't find anything related in cha

[2021-05-11 22:12] luizluca opened #6352 "pfdns returns bogus reply through IPv6"
**Describe the bug**

I'm using packetfence-10.2.0-20201007132254.199263253.0007.v10.2.0.el7.x86_64 from a zen installation (upgrading for some time)

A direct dns query will always fails through IPv6:

[code]
Both addresses are in the same interface, used by authentication portal.

[2021-05-12 04:58] lyubomirtraykov opened #6353 "DHCP Option 82 Logs Created At 0000-00-00 00:00:00"
**Describe the bug**
DHCP Option 82 Audit Log is not inserting Created At date.

** LOG **
[code]

**Screenshots**
<img width="604" alt="Screenshot 2021-05-12 at 7 54 06" src="https://user-images.githubusercontent.com/17347347/117920268-43daa180-b2f7-11eb-9852-4802ee8d9a99.png">

[2021-05-12 09:09] nqb commented on #6351
Same behavior on Debian running 10.3 and on ZEN running 10.3.

[2021-05-12 11:04] heiko-ma opened #6354 "Active Directory Authentication Source writes wrong server value to freeradius config"
**Describe the bug**
When the active directory authentication source is created, the config-wizard does not correctly safe the value for the host field. Instead of the ip-address/hostname, the following value is written to the radiusd ldap config:
ARRAY(0x873b8b0)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new authentication source (type Active Directory or LDAP)
2. Fill out th

[2021-05-12 12:06] julsemaan commented on #6354
I believe this has been fixed in the maintenance since I hit the same bug on 10.3 last week

Perform these:
[code]

And let us know if its still there

[2021-05-12 12:06] julsemaan commented on #6353
@jrouzierinverse, can you take a look?

[2021-05-12 12:24] heiko-ma commented on #6354
This seems to have fixed the config itself, but now there is another problem:

Is there something wrong with my packetfence-config or this is another backend problem? I followed the Documentation while creating the Active Directory Domain aswell as the Authentication Source

[2021-05-12 15:56] #6353 closed

[2021-05-12 16:15] cdcrawford opened #6355 "Unable use User_Role in VPN-Access request from FortiGate"
**Describe the bug**
When we have a user account log into the FortiClient, connected to a FortiGate. The Radius Authentication request is sent to PacketFence, which processes it without a problem.

But, we're not able to assign a role to that request. So, it is not able to send back the appropriate group membership to the FortiGate to complete the login request.

**To Reproduce**
Steps to reproduc

[2021-05-12 18:15] julsemaan commented on #6354
That's not how you should authenticate users against an AD but that's a subject for the mailing list, not for here

[2021-05-12 18:15] #6354 closed

[2021-05-13 20:20] lzammit opened #6357 "Time expiration: time_balance remove twice"
Left over of perl code for the time and bandwidth balance computation.

It looks like it being proceed by PFacct and httpd.aaa.

[2021-05-13 20:22] lzammit opened #6358 "Time balance subtracted when unreg"
title says it all

[2021-05-14 01:29] fdurand commented on #6248
It will be fixed when this branch will be merged https://github.com/inverse-inc/packetfence/tree/feature/intune

[2021-05-14 13:31] julsemaan opened #6359 "VPN login with EAP-TLS attempts to validate user/pass"
**Describe the bug**
Seems that this commit that fixed one case has introduced a regression:
https://github.com/inverse-inc/packetfence/commit/2b622a55fda11390d2d7c7cc6752f0dd3d4af2e6

We need to validate how to get that `if` statement accurate for all cases.

[2021-05-14 19:55] #6357 closed

[2021-05-15 09:20] bbs2web commented on #6305
I had/have a similar problem on PF 10.3 where an old unregistered node wouldn't show the delete option. In my case the not_deletable flag was enabled:
[code]

Herewith all info on the node before deleting:
[code]

I however now still have the deleted node showing up under the user account but the node itself no longer exists:
![image](https://user-images.githubusercontent.com/1456100/118355303-8c9

[2021-05-15 11:48] bbs2web opened #6361 "AD domain user creation error (person.pid is NULL)"
We recently upgraded from PF 10.2 to 10.3 running on Debian 9. Registered nodes work without any problems but new registrations are broken by the user account not being created.

My understanding of the following logs are that AD authentication and identity sources are correctly granting access to the RADIUS request and then placing the system in the registration network. When the user accepts the

[2021-05-17 05:23] nqb commented on #6361
Hello @bbs2web,

Could you provide exact steps to replicate ?

[2021-05-17 06:01] bbs2web commented on #6361
I have an AD domain configured:
![image](https://user-images.githubusercontent.com/1456100/118438694-0d30cc80-b6e5-11eb-9f03-15dd7b29b113.png)

We have internal sources configured, one for workstation authentication prior to login and another as a user identity source:
![image](https://user-images.githubusercontent.com/1456100/118438966-71539080-b6e5-11eb-8503-97b10f82a6a0.png)

The user identity

[2021-05-17 06:07] bbs2web commented on #6361
Just to clarify, users and devices that were created prior to us upgrading PF 10.2 to 10.3 continue to work. Guests can register without a problem (although guests generally get 'your computer was not found in the PF database. Please reboot to solve the issue' until they refresh a couple of second later, this is a completely different issue though).

Any new staff member since upgrading to PF 10.3

[2021-05-17 06:11] nqb opened #6362 "web admin(connection profile): switch_group values are description in place of name"
**Describe the bug**
When you create a connection profile with a filter that rely on `switch_group` criteria, dropdown list display Switch group descriptions in place of names but names are saved in configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a switch group called "switch_group_name" with "switch_group_description"
2. Create a connection profile called
3. Add a filt

[2021-05-17 06:27] bbs2web commented on #6361
Herewith the relevant scrubbed content of the authentication.conf file:
[code]

[2021-05-17 07:28] nqb commented on #6361
Could you provide `profiles.conf` ?

[2021-05-17 09:35] nqb commented on #6022
Merge of #6213 closed this issue but that's wrong: SNI is not supported on captive portal.

[2021-05-17 10:12] bbs2web commented on #6361
Absolute, herewith the content of /usr/local/pf/conf/profiles.conf
[code]

[2021-05-17 10:57] bbs2web commented on #6361
Just re-reading my correspondence and the following is out of context:
_I accept the agreement and then select username/password authentication after which I receive the above error._

Should have read something along the lines of:
If I connect to the 802.1X SSID I am prompted to accept the agreement after which the error about not being able to lookup the pid appears in the diagnostic logs. If I

[2021-05-17 12:13] davywan commented on #6342
@nqb were you able to authenticate via AD/LDAP?

[2021-05-17 12:15] nqb commented on #6342
@davywan, not sure to understand what you mean.

[2021-05-17 13:25] davywan commented on #6342
I have been trying to set up radius authentication through LDAP and kept getting errors on authentication.

[2021-05-17 13:26] davywan commented on #6342
@nqb I thought maybe you might know how to solve it

[2021-05-17 13:27] nqb commented on #6342
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for such question.

[2021-05-17 13:44] davywan commented on #6342
@nqb Sure, thank you.

[2021-05-18 07:44] nqb opened #6364 "web admin(SSL certificates): RADIUS Certification Authority certificate(s) empty prevent radiusd to start"
**Describe the bug**
When you replace built in RADIUS certificate by your own RADIUS certificate and leave Certification Authority certificate(s) empty (for example in EAP-PEAP configuration), `radiusd-auth` will not start.

Issue is caused by the fact that [ca_file](https://github.com/inverse-inc/packetfence/blob/48d6d0bb9ea58e16abfefa3814953dee8320db71/conf/radiusd/eap.conf.example#L143) is alwa

[2021-05-18 12:37] julsemaan opened #6365 "Issue with RADIUS filter that contains the $session_id variable"
**Describe the bug**
When using the following RADIUS filter:

[code]

We end up with the following RADIUS reply:
[code]

If we change it to that (i.e. removing $session_id):
[code]

Then it starts working as expected but we're missing the session ID:
[code]

That's on 10.3 with the latest maintenance patches

[2021-05-18 12:59] julsemaan commented on #6365
After discussion with @fdurand, @jrouzierinverse would be better placed to fix this issue

[2021-05-18 15:57] JeGoi opened #6366 "uninitialized value $switch_mac at /usr/local/pf/lib/pf/locationlog.pm line 487."
**Describe the bug**
Packetfence log show a warning with the `Use of uninitialized value $switch_mac in string ne at /usr/local/pf/lib/pf/locationlog.pm line 487.`

**To Reproduce**
Steps to reproduce the behavior:
I notice that there is no `Called-Station-Id` in the radius request

**Expected behavior**
No more warning

[2021-05-18 17:45] #6365 closed

[2021-05-18 18:08] jrouzierinverse commented on #6366
Fixed by 9737a2b7bbeedc73a2c49e7179a4cc1042adc4c7

[2021-05-18 18:08] #6366 closed

[2021-05-19 09:42] nqb opened #6367 "connection profile: switch_group advanced filter doesn't work"
**Describe the bug**
If you create a connection profile with an advanced filter like this:

[code]

A RADIUS request coming from a switch inside this switch_group will never match.

If you use a basic filter, it work as expected.
Related to #6362 and #6057

**To Reproduce**
Steps to reproduce the behavior:
1. Create a switch group with name: "cumulus_switch_group" and a switch (172.17.17.201), mem

[2021-05-19 10:32] nqb opened #6368 "Firewall SSO: add support for tenants"
**Is your feature request related to a problem? Please describe.**
In a multi-tenant configuration, there is no way to dedicate a firewall SSO configuration for a specific tenant.

You can play on network to do SSO or on roles to trigger updates for specific tenant but they have to be unique which is not always the case (for networks).

**Describe the solution you'd like**
Dedicate firewall SSO pe

[2021-05-19 10:39] nqb opened #6369 "pfpki: don't rely on common name as a unique identifier for templates and certificates"
**Is your feature request related to a problem? Please describe.**
Currently, `pfpki` use common name of templates and certificates has a unique identifier.

It means that:
- template names need to be unique across all CA managed by `pfpki`
- certificate names (CN) need to be unique across all CA managed by `pfpki`

It's a problem for example if two users with same `pid` request a certificate in t

[2021-05-19 10:43] nqb opened #6370 "pfpki: p12 mail from is ignored"
**Describe the bug**
If you create a template with a custom "p12 mail from", this field is ignored and mails are sent with a `From` field based on `alerting.fromaddr`

**Expected behavior**
Mail received has `From` header equals to "p12 mail from" value of certificate template.

[2021-05-19 11:23] fdurand commented on #6369
Agree for certificate but not for template.
The template name is not use in the generated certificate so you can have 2 templates with exactly the same configuration, like you can have 2 authentication sources with the same configuration but not with the same name.

[2021-05-19 12:07] nqb commented on #6369
I'm not totally agree with you regarding comparison with authentication sources.

In `pfpki`, templates are related to CA: you can't create a template without a CA.

So from my point of view, it would make more sense to have one namescape per CA: you can't create two identical templates related to same CA but you can have two templates with identical name in different CAs.

[2021-05-19 15:21] lzammit commented on #6358
After discussed with the world known @julsemaan we could check the registration date and if it pretty recent (ex: 5 mins) we won't decrease the time

[2021-05-19 16:22] julsemaan commented on #6358
@fdurand, do you have a better idea to detect a balance that shouldn't be substracted on a stop when switching from unreg to reg ?

Otherwise we could ask @jrouzierinverse to implement that, it should be relatively straightforward

[2021-05-19 16:23] julsemaan commented on #6358
And we'd also need to check that the status of the node is currently "reg"

[2021-05-19 18:58] effertzdv opened #6371 "Aruba 2930M switch template - CoA request fails"
**Describe the bug**
Radius CoA request sent to Aruba 2930 always failed (COA-Nak received).

**To Reproduce**
Steps to reproduce the behavior:
1. Send a COA request (e.g. triggered by bandwidth limit exceeded) to a 2930 running ArubaOS 16.09.
2. Always received a COA-Nak, port was not bounced

**Expected behavior**
Receive COA-Ack and port should be bounced for 12 seconds

**Additional context**

[2021-05-19 21:46] thedeco commented on #6329
@nqb Is it correct to say that the 10.3 ZEN OVF as currently released is broken by this? I ran into the same issue while trying to configure PF for the first time and couldn't log in.

[2021-05-20 05:13] nqb commented on #6329
Hello @thedeco,

Yes that's correct. Solution:
1. Boot ZEN
2. [Apply maintenance patches](https://www.packetfence.org/doc/PacketFence_Installation_Guide.html#_maintenance_patches)
3. Start to configure PacketFence using configurator

[2021-05-20 05:48] nqb commented on #6371
Hello @effertzdv,

Thanks for your report.

When I created [Aruba Switch NG switch template](https://github.com/inverse-inc/packetfence/blob/cfb1937ed479ea49c5a502588bb1c62a1114edf2/lib/pf/Switch/Aruba/ArubaSwitchNG.def), tested on Aruba 2530 with Aruba OS 16.10, I had difficulty to make RADIUS disconnect worked correctly. So this switch template doesn't use `NAS-Port` for RADIUS disconnect but re

[2021-05-20 07:35] effertzdv commented on #6371
Hi @nqb,

I'm no perl expert but after a short peek it looks like only single line needs to be changed.

The 2530 should accept the same CoA Request to bounce a port. At least the [Management Guide for the 2530](https://support.hpe.com/hpesc/public/docDisplay?docId=a00038746en_us) shows the same CoA profile settings as for the 2930F/M (page 213).

I will go ahead and try to create my first patch ;

[2021-05-20 07:41] nqb commented on #6371
Just to avoid any confusion. Are you trying to bounce a port using CoA or just trigger a new RADIUS request using CoA ?

[2021-05-20 10:09] #6107 closed

[2021-05-20 12:33] fdurand commented on #6358
In fact we need to keep the interim accounting -1 and when the device register use this value as the new start.

[2021-05-20 12:53] julsemaan commented on #6358
makes it more complex than the solution above though since we have to track this value somewhere. We could always leverage the regdate to calculate the amount of time you were really reg during that session

[2021-05-20 14:02] lyubomirtraykov commented on #6366
Please reopen. Now the warning:
`Use of uninitialized value in string ne at /usr/local/pf/lib/pf/locationlog.pm line 487. (pf::locationlog::_is_locationlog_accurate)`

[2021-05-20 16:00] julsemaan commented on #6358
The eye of the tiger (@fdurand) spotted that the soft query hasn't been adjusted
https://github.com/inverse-inc/packetfence/blob/devel/go/cmd/pfacct/radius.go#L554

This means that if your balance goes under 0 while unreg because of the interim updates, you'll lose all your balance.
The same unreg/reg logic needs to be there

[2021-05-20 17:10] effertzdv commented on #6371
Generally speaking I have now preference and both are ok for me as an action when a security event is triggered. In fact I am using the 2930M Perl module.

I saw the CoA-Nak responses in the audit log when my test node reached the bandwidth limit. So I took a packet trace. In these requests I the HPE-Bounce-Host-Port attribute was set. But didn't work because the NAS-Port attribute was missing.

I

[2021-05-21 05:19] nqb commented on #6358
`pfacct` Golang unit tests failed on CentOS 7 and Debian 9 this night: https://gitlab.com/inverse-inc/packetfence/-/jobs/1281692851#L534.

This is certainly related.

[2021-05-21 16:17] fdurand opened #6374 "Cloning the default connection profile doesn't make the filter mandatory."
Title say it.

[2021-05-21 17:16] julsemaan commented on #6374
..all

[2021-05-25 05:41] nqb commented on #5956
@satkunas and @jrouzierinverse, could you look into this ?
Issue is still presents on 10.3.

I don't see any API call when clicking on "Export CSV" so I don't know if issue is on frontend or backend.

[2021-05-25 05:49] nqb opened #6376 "web admin: Import from CSV is missing from Switch groups tab"
**Describe the bug**
On 10.3, it's possible to import/export switches but it's only possible to export switch groups. It would make sense to allow import of switch groups. Otherwise, when you import your switches, all switches are created in `default` switch group.

Related to #5956

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Switch Groups' menu

=> No "Import from CSV" button ava

[2021-05-26 07:39] nqb commented on #6361
Hello,

According to `profiles.conf`, if you have same issue on `Wireless_802.1x` and `Wireless_MAC` when using `companyad_users` source, I think `reuse_dot1x_credentials` setting is not responsible.

However, I see this error in log:
`May 15 12:46:54 packetfence2 packetfence_httpd.portal: httpd.portal(2865) ERROR: [mac:00:11:22:33:44:55] [companyad_users] Missing parameters to construct LDAP filt

[2021-05-27 05:29] bbs2web commented on #6361
Hi Nicolas,

I changed condition0 to replace '`is member of`' with '`equals`':
[code]

I then deleted the node and user account, issued a `/usr/local/pf/bin/pfcmd configreload hard` before restarting the whole system. Thereafter I attempted to connect to the Pre-Shared Key (PSK) SSID which correctly directs me to the registration portal where I enter credentials via the username/password form. The

[2021-05-27 05:33] nqb commented on #6361
Hello @bbs2web,

I don't see any errors message in your latest comment.
1. What is your current behavior after you "enter credentials via the username/password form." ?
2. What is your expected behavior after you "enter credentials via the username/password form." ?

Thanks.

[2021-05-27 06:51] bbs2web commented on #6361
Hi,

With PF 10.2 the configuration shown above would end up registering the device for the authenticating user. With PF 10.3 the node and user are created but not associated with each other.

Device receives the message 'Your do not have permission to register a device with this username', which appears to match the output in the logs above (Execute actions of module default_policy+default_regist

[2021-05-27 13:03] fdurand commented on #6371
Weird, i did the code based on the switch version WC.16.08.0018  and the NAS-Port-Id was the only way to make it work.

[2021-05-27 13:18] nqb opened #6377 "Captive portal doesn't display an error if pfpki failed"
**Describe the bug**
If you try to generate a certificate based on a packetfence_pki provider and a certificate with identical cn already exists, captive portal doesn't display any error and you can continue on captive portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure CA and user certificate template in pfpki
2. Configure a PKI provider with certificate provided by MAC
3. Con

[2021-05-31 08:32] nqb opened #6381 "pfpki: PKI provider settings are ignored if some fields in the profile doesn't have a value"
**Describe the bug**
When you use a pfpki profile to generate user certificates using a PKI provider, it seems that pfpki profile fields like organisation, country, state, locality needs to have a value. By default, they have an empty value in DB.

Otherwise, PKI provider settings (like organisation, country, state, locality) are ignored when generating certificates.

It means that in place of hav

[2021-05-31 09:23] nqb commented on #6377
Current behavior:
- new certificate is not generated
- with a mobileconfig provisionner, you can download your wireless profile which contains **existing** certificate

I think it's important to fix this issue because you can think you generated a new certificate (with new dates) and in fact you are still using your old certificate.

Using mobileconfig provisionner, I use following method to verif

[2021-05-31 09:48] nqb opened #6382 "webadmin(PKI): templates are not displayed as read-only"
**Describe the bug**
If you click on a template, you can edit some fields like Country, Organisation, etc. But you can't save your changes.

I think it's expected that you can't save but fields should be marked as read-only like on CA or Certificates tabs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CA
2. Create a template associated to your CA
3. Click on your template

=> You

[2021-05-31 11:34] lzammit commented on #6358
What do we do for that one ?

[2021-05-31 15:55] #6381 closed

[2021-06-01 01:39] jrouzierinverse commented on #6351
As a patch we could just block all ipv6 traffic via sysctl.

[code]
In a future version we can handle it properly like how we handle iptables but as a separate service for ip6tables.

[2021-06-01 01:44] #6288 closed

[2021-06-01 01:49] jrouzierinverse commented on #6350
I think @satkunas would be better handle this issue if not reassign it to me.

[2021-06-01 04:37] luizluca commented on #6351
A bad configured IPv6 is worse than no IPv6. However, I would prefer a static firewall settings that block INPUT/FORWARD. IPv6 might be used by default for some services, specially those listening at ::1 (localhost). And there is no reason to block the ZEN OS from accessing IPv6 services (active directory, NTP, DNS).

Just copy the rules (ip6tables-save) generated by any good firerall manager solu

[2021-06-02 05:45] nqb commented on #3631
I did several deployments recently and this bug is very annoying. You have to create different rules to deal with several use cases like:
- admin user only
- sponsor user only
- sponsor and admin only

If you have to handle case of CLI login, it's a nightmare.

I changed priority of this issue in order to have this one fixed for v11.

[2021-06-02 06:37] nqb opened #6385 "Sponsor registration: notes field can't be used on captive portal"
**Describe the bug**
When doing sponsor registration on captive portal using portal modules, you can specify "notes" field as a mandatory field. It could be used to let user specify some motivations related to its registration.

However, when doing sponsor registration, PacketFence automatically write some informations into "Notes" field. Consequently, notes entered by user are lost.

**To Reprodu

[2021-06-02 08:49] nqb commented on #6361
Hello,

I tried to replicate your issue on Debian 9 with PF 10.3 and all maintenance patches without success.

What I did:
- Create a staff role
- Create an AD source with a rule based on a memberof condition to assign staff role
- Create a dedicated connection profile to catch Wired MAC Auth
- Register device on captive portal using Username/Password choice with AD account member of staff group

[2021-06-02 10:36] nqb commented on #6039
@satkunas, this issue is still presents on 10.3

[2021-06-02 21:10] luizluca commented on #6351
As there is no official workaround, I installed iptables-service with a "block all incoming" policy inspired by firewalld standard rules:

<pre>
yum install iptables-services
cat > /etc/sysconfig/ip6tables <<'EOS'
# Completed on Wed Jun  2 16:41:02 2021
# Generated by ip6tables-save v1.8.7 on Wed Jun  2 16:41:02 2021
*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A PREROUTING -p ipv6-icmp -m

[2021-06-03 03:42] jrouzierinverse commented on #6310
What should be the expected behavior when you attempt to remove a tenant that still has resource tied to it?

[2021-06-03 08:26] #6367 closed

[2021-06-03 15:49] lzammit commented on #6358
Any news @jrouzierinverse ?

[2021-06-03 20:12] lzammit opened #6386 "Web admin: Prevent the usage of /32 switches in the configuration"
Having a switch with 1.2.3.4/32 will break your flow and the web admin allow it.

We should either block it in the switch creation or clean it when it's imported into the radius_nas table.

[2021-06-03 20:17] lzammit opened #6387 "Aruba web auth location log issue"
By default the Aruba web authentication does not update the location log table based out of the HTTP request:

[code]

any particular reason for:

[code]

It create an issue if you device does 802.1x and then connect on an open SSID. PF will only display the last known location at the 802.1x.

[2021-06-04 19:10] bbs2web commented on #6361
Hi,

Many thanks for your help, I applied the latest available patches, issued a hard config reload and it's working perfectly now. I presume the issue may simply have been switching out the 'is member of' with 'equals' to overcome the LDAP filter construction error; unless something else getting fixed somewhere remediated something else...

Many thanks, wishing you a good weekend!

[2021-06-04 19:10] #6361 closed

[2021-06-04 19:11] bbs2web commented on #6361
PS: portal_modules.conf is blank, using the defaults in portal_modules.conf.defaults

[2021-06-07 13:22] jrouzierinverse opened #6389 "Keep track the time balance by tracking node status changes"

[2021-06-08 17:28] #6359 closed

[2021-06-08 18:37] lzammit opened #6391 "TimeBalance issue"
[code]

[2021-06-14 11:53] davywan commented on #5728
Were you able to resolve this?

[2021-06-14 12:03] nqb commented on #5632
@jrouzierinverse, unless I'm missing something, 58c10ac is not in devel.

[2021-06-14 14:13] nqb opened #6393 "web admin(pfpki): unable to create certificates with CN equal to MAC addresses"
**Describe the bug**
Web admin prevents you to create certificates with CN equal to MAC addresses.

`pfpki` supports creating certificates with CN equal to MAC addresses through PKI providers.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CA and a template
2. Try to create a certificate with CN equals to MAC address

=> You got "Invalid common name" error

**Expected behavior**
MA

[2021-06-14 14:13] nqb commented on #6393
https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/src/views/Configuration/pki/certs/schema.js#L43

[2021-06-14 14:29] #5825 closed

[2021-06-14 15:08] fdurand commented on #5948
It looks that the email address is not asked anymore.

[2021-06-15 08:17] nqb commented on #5948
On 2021-05-21 build, I still have "Email" field on captive portal.

[2021-06-15 08:56] nqb commented on #5917
Issue is not presents on Debian 9 with 10.3.0 but presents on CentOS 7 with 10.3.0.

On CentOS 7, it seems that alerting settings are completely ignored by process where they are honored on Debian 9.

On CentOS 7, process try to use local SMTP server whatever is configured in alerting section.

[2021-06-15 09:02] nqb opened #6395 "pfpki: certificates sent by email doesn't contain password"
**Describe the bug**
If you create a certificate manually with an email address in order to send it by email, PacketFence will send an email with .p12 file attached but password to unlock .p12 file is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure SMTP settings in Alerting section (⚠️see #5917)
1. Create a certificate using `pfpki` with an email address
1. Click on Email

[2021-06-15 09:11] nqb opened #6396 "Officially support external MariaDB database and related architecture"
**Is your feature request related to a problem? Please describe.**
PacketFence can work with an external MariaDB database but it requires to tweak configuration at several places.

We should officially support this kind of installation and architecture because it seems to be used more and more.

**Describe the solution you'd like**
Full support of external MariaDB database:
- installation (standal

[2021-06-15 11:43] satkunas commented on #6393
Fixed in 536dbf17b579de44dc03b4c6e5aa30a46db9da9e

[2021-06-15 11:43] #6393 closed

[2021-06-17 12:35] cdcrawford opened #6399 "CLI Switch Access for Avaya ERS Switches"
**Is your feature request related to a problem? Please describe.**
Unable to log into Avaya switches. Getting error:
"PacketFence does not support this switch for read/write access login"

**Describe the solution you'd like**
CLI Switch Access to function as normal

**Describe alternatives you've considered**
Utilize an external Radius server. While this works. I'd like it all to go to PacketFence

[2021-06-17 12:40] fdurand opened #6400 "SQLSource (Local) is not tenant aware."
**Describe the bug**
Multitenant setup, specific connection portal for a tenant, you can login with an account from another tenant on the status page.

**Expected behavior**
We should not be able to login

[2021-06-17 14:42] #6362 closed

[2021-06-22 05:02] alarsing opened #6402 "Authentication rule condition basedn matching does not work"
**Describe the bug**
Authentication rule with condition basedn match does not work. The problem is in file lib/pf/Authentication/Source/LDAPSource.pm the function ldap_filter_for_conditions. It will return  string "basedn" not the actual value of the basedn that was specified in Authentication rule.

**To Reproduce**
1. Create new LDAP/AD Authentication Source and add Authentication Rule.
2. Set C

[2021-06-22 05:06] nqb commented on #6402
Hello,

Could you provide more details about "It will return string "basedn" not the actual value of the basedn" ?
I'm not sure to understand what you mean here.

Thanks

[2021-06-22 05:57] alarsing commented on #6402
Log is generated from subclass _match_in_subclass

on line 448 $logger->error("[$self->{'id'}] Unable to execute search $filter from $basedn on $LDAPServer:$LDAPServerPort, we skip the rule.");

$basedn is equal to "basedn" but should be "ou=Computers,dc=your,dc=domain"

in file lib/pf/Authentication/Source/LDAPSource.pm
line 591 sub ldap_filter_for_conditions {
line 615        if ($attribute eq "

[2021-06-23 09:23] mvalois opened #6405 "802.1X against FreeIPA LDAP source"
Hi,
I've installed PacketFence 10.3.0 and I would like to enable 802.1X on my network using my FreeIPA LDAP as a source of authentication using EAP if possible (computers are all debian 10 using network manager). Is that even possible, and if it is, where can I find resources to achieve such a thing?

Following the install documentation leaded me to always get authentication errors because the msc

[2021-06-23 10:15] nqb commented on #6405
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2021-06-23 10:15] #6405 closed

[2021-06-24 09:00] nqb commented on #5858
On Debian, I noticed that if systemd-networkd is used to manage networks (in place of NM). I need to manually restart network after step 1 in order to have all changes taken into account. Even if systemd-networkd has been disabled before starting configurator.

[2021-06-25 12:06] bbs2web opened #6408 "PF 10.3 - Broken Reports"
Several of the reports are non functional after upgrading from PF 10.2 on a Debian 9 host.

The following display no data:
- Standard Reports \ Node \ Operating System
- Standard Reports \ Connections \ Type
- Standard Reports \ Connections \ SSID (All)
- Standard Reports \ Authentication \ Failures
- Standard Reports \ Authentication \ Successes

Sample view:
![image](https://user-images.githubus

[2021-06-25 12:11] julsemaan commented on #6408
Are you getting any errors in packetfence.log ? Or any errors in the admin interface ?

[2021-06-25 15:31] bbs2web commented on #6408
None in the UI and packetfence.log is completely silent.

It appears only 'httpd.api-frontend.access' logs anything:
[code]

What I did however notice is that the 'Operating System' report loads when I first navigate to 'Inactive'. Not when I then refresh or first navigate to 'Operating System Class' (which itself works).
![image](https://user-images.githubusercontent.com/1456100/123448336-19a91e8

[2021-06-25 17:08] julsemaan commented on #6408
Can you make sure you're up to date with maintenance patches (/usr/local/pf/addons/pf-maint.pl). If it does it with the latest patches, we'll have to dig into the specific query by adding more debug

[2021-06-25 20:29] bbs2web commented on #6408
Debian 9 is as up to date as possible and again ran /usr/local/pf/addons/pf-maint.pl to apply updates. Problem continues:

If I navigate to 'Reports' it defaults to '/admin#/reports/standard/chart/os' which results in a graph with no data. If I then click on 'Inactive' and then select 'Operating System' graphs it displays but then displays again as 'no data' when I then refresh my browser.

[2021-06-28 12:12] julsemaan commented on #6408
I was able to replicate that bug on that latest maintenance/10.3 and the response from the backend API looks fine so that seems like a frontend issue.

@satkunas, can you look into it, I was able to replicate the issue using these instructions from @bbs2web:

[2021-06-28 12:22] nqb opened #6410 "webadmin: unable to change username on SAML source"
**Describe the bug**
When you configure a SAML source, you may want to change username attribute. At the moment, it's not possible to do it using webadmin. Frontend doesn't let you specify a value other than default (`urn:oid:0.9.2342.19200300.100.1.1`)

Reported on mailing-list by @bbs2web

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a SAML source by changing username attri

[2021-06-28 13:31] CraftMarine opened #6411 "Search not working on "Nodes" page"
**Describe the bug**
When on the node page, I try to search for a node, (tried by role and mac address). And the page just give me an unknown error and don't display any result.
It's a bit random, but always appear on the second search in a row. Also when using the "advanded search filter".

I didn't noticed the issue in the "Audit" tab

This is what I got in "packetfence.log" :  packetfence: pfpe

[2021-06-28 15:05] mattuyga opened #6412 "Status code 422 - Let's Encrypt"
**Describe the bug**
I intend to install an SSL certificate generated with "Let's Encrypt" to be used on the captive portal and admin interface.
After carrying out the port-forworing of the ports (1443, 443 and 80) and having verified the operation, I enter the Common name in the appropriate page, I click test, and I receive the status code 422.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-06-28 15:50] jrouzierinverse commented on #6411
Which fields are you trying to display?

[2021-06-28 16:01] jrouzierinverse commented on #6411
I cannot be replicated the error.
However I seen this happen before the packetfence-pfperl-api service was not properly restarted after applying pf-maint.pl.
Try the following please
[code]

[2021-06-28 17:31] julsemaan commented on #6412
My initial thought is that something must be misconfigured for your domain and port forwarding because that's what the code means.

I can take a quick look anyway if you give us your domain name

[2021-06-29 05:36] nqb commented on #6086
@fdurand, I can confirm your proposal work as expected.

[2021-06-29 05:40] nqb commented on #6086
Do you know why we need to set this option ?

Currently, we don't install a specific journald configuration on Debian 9.

On CentOS 7, we install https://github.com/inverse-inc/packetfence/blob/020224f1d4e62644047c73e26637d3b51f005c06/packetfence.journald

[2021-06-29 12:45] nqb opened #6416 "reuse_dot1x_credentials=enabled doesn't work on PF 10.3"
**Describe the bug**
If you use `reuse_dot1x_credentials=enabled` setting on a connection profile which catch 802.1X authentications **without** autoregistration, when users go on captive portal to register their devices using their 802.1X identity, they got an error:

`You don't have permission to register a device with this username.`

Worked on a 10.2, doesn't work on a 10.3 as reported by @bbs

[2021-06-29 13:06] CraftMarine commented on #6411
After using "systemctl restart packetfence-pfperl-api", the issues seems to be gone.

[2021-06-29 13:11] #6411 closed

[2021-06-29 13:52] #6402 closed

[2021-06-29 14:03] nqb commented on #6162
Fixed by #6378

[2021-06-29 14:03] #6162 closed

[2021-06-29 14:24] #6410 closed

[2021-06-30 16:25] #6368 closed

[2021-07-01 05:39] mattuyga commented on #6412
Thanks for your help.

This is my domain name: packet.bcentral.cloud

These are the iptables rules present on the Packetfence server:

[code]

[2021-07-02 17:19] luizluca opened #6418 "ZEN hangs on shutdown because systemd-logind is masked"
**Describe the bug**
If you call poweoff/reboot from a SSH session to a ZEN, SSH session will hang. This breaks batch shutdowns.

This happens because systemd closes network access as soon as it start the reboot/shutdown process. logind is the one responsible to close existing user sessions before network is down, correctly closing the SSH session. However, ZEN has systemd-logind masked.

I can "f

[2021-07-05 05:50] #1947 closed

[2021-07-05 06:04] nqb commented on #6418
Hello @luizluca,

Thanks for your report.
We masked `systemd-logind` to prevent #4822 issue. Root cause is described [here](https://github.com/inverse-inc/packetfence/issues/4822#issuecomment-533352235).

We are working on EL8 support so we can certainly check if this workaround is still necessary for next release.

[2021-07-05 12:01] julsemaan commented on #6412
You don't seem to have the `portal` daemon on your management interface (or the interface packet.bcentral.cloud points to internally)

This looks like a configuration issue, not a bug

[2021-07-05 12:01] #6412 closed

[2021-07-05 13:37] jrouzierinverse opened #6419 "pf::util::valid_mac miss some valid mac address"
The commit fe136435 added an additional check to reject MAC addresses that look like IP addresses.

The following is a valid mac address WWW.XXX.YYY.ZZZ format.
With this formatting some MAC address can look like IP address when all the digits are numeric and each section is less than 256.

The is question are we going to support this type of MAC formatting.

Outside of switch lookup where do we h

[2021-07-05 16:07] julsemaan commented on #6419
I don't believe there are vendors that use the format WWW.XXX.YYY.ZZZ for the MAC address

The closest is Cisco with XXXX.YYYY.ZZZZ but that doesn't match the IP pattern

IMO, I think this is an acceptable behavior, using that format for MAC addresses is just potential trouble so I don't see a vendor dumb enough to use it (although network vendors always have a way of making me lie for these)

[2021-07-05 16:57] cdcrawford commented on #6399
Pull Request has been merged. Closing ticket.

[2021-07-05 16:57] #6399 closed

[2021-07-05 17:45] cdcrawford commented on #5098
I'd like to request a text field that users can just paste in a CSV formatted block of text, or upload a CSV file. It would make it faster to import smaller batches of nodes.

Would you want this in a separate Feature Request?

[2021-07-06 12:36] extrafu commented on #4357
Closing, we dropped WMI support.

[2021-07-06 12:36] #4357 closed

[2021-07-06 12:55] #6345 closed

[2021-07-07 09:21] nqb opened #6424 "Backup DB using MariaDB-backup doesn't work on standalone installation"
**Describe the bug**
If you follow [instructions to setup MariaDB-backup](https://github.com/inverse-inc/packetfence/blob/05e4ef39ab64448f6bbd5c9d8cea5289d621952a/docs/installation/performance_optimizations.asciidoc#using-mariadb-backup) on a standalone, DB backups will not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a standalone PacketFence server
2. Follow [instructions t

[2021-07-07 09:31] #6424 closed

[2021-07-07 13:58] satkunas commented on #6408
I was also able to reproduce. I've reworked the report initialization.

@julsemaan @bbs2web please apply the maintenance patch and try again.

[2021-07-07 13:59] #6408 closed

[2021-07-09 09:19] luolufang opened #6427 "login-service no SSH"
![image](https://user-images.githubusercontent.com/4510469/125055455-ca361880-e0d9-11eb-8974-abf2ff127c1d.png)

version : PF 10.3

[2021-07-09 09:37] nqb commented on #6427
Hello,

Please provide more details or we will need to close this issue.

[2021-07-09 09:54] luolufang commented on #6427
i need add CLI Authorize Read Scope in switch templates.
but i don't find   ( Login-service = SSH ) .

![image](https://user-images.githubusercontent.com/4510469/125059925-6cf09600-e0de-11eb-98e2-1b58d73bd995.png)

i find it in windows nps

![image](https://user-images.githubusercontent.com/4510469/125060835-54cd4680-e0df-11eb-9149-e70f00351366.png)

[2021-07-09 12:23] fdurand commented on #6427
It's because ssh is not part of the IETF RFC 2865 and it looks that NPS doesn't care of that.
So if you want to have it available, you will need to add it in the dictionary.

in /usr/share/freeradius/dictionary.rfc2865
VALUE   Login-Service                   SSH         50

[2021-07-09 12:41] #6427 closed

[2021-07-12 06:10] luolufang opened #6428 "mysql always lock table"
**Describe the bug**

i run a pf cluster  with 3 nodes.
sometime  packetfence-mariadb lock tables and  any auth was reply accept-reject

and when i restart   packetfence-mariadb. pf became ok

the last happendfrom Jul 12 12:57:15  to Jul 12 1:00:00

**Screenshots**

![image](https://user-images.githubusercontent.com/4510469/125237346-1ff80400-e318-11eb-858d-40f09672a9cb.png)

**Expected behavior**

[2021-07-12 07:16] nqb commented on #6428
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2021-07-12 07:16] #6428 closed

[2021-07-12 15:32] aziel12 opened #6429 "Network Anomaly Detection - config error?"
**Describe the bug**
Hello guys, I'm new to packetfence. I would like to know how anomaly detection in packetfence works, but could not find precise resources explaining what is what and how all works. I'm using community account for fingerbank and an error I'm getting is, under Network behavior policy: "Your Fingerbank account currently doesn't have access to the network behavior analysis API end

[2021-07-12 16:44] julsemaan commented on #6429
Hi,

Network Anomaly Detection is currently only available for customers that have a valid support contract with us.

You can get in touch with our sales team at info@inverse.ca

Thanks,

[2021-07-12 16:44] #6429 closed

[2021-07-13 12:51] nqb commented on #5331
I did a new test today on a 10.3 setup: same behavior.

Saved searches are lost after you refresh your web browser.

[2021-07-14 12:22] marekhrbac opened #6432 "add Bypass VLAN to node"
Hello,
i tried to add bypass to node. it worked perfectly when i added it through "Bulk Action"
![Pic1](https://user-images.githubusercontent.com/50436103/125620933-763195ea-673b-459b-9618-fa7dbd1d282b.PNG)

But when i tried it through specific node, nothings happened.
![Pic2](https://user-images.githubusercontent.com/50436103/125621182-ab27ad57-4fdb-45b1-8894-0da82aaf4a01.PNG)

Thank you
Marek

[2021-07-14 12:25] marekhrbac opened #6433 "Restart switchport with CoA PortBounce"
Is it possible to Restart Switchport in "Bulk Action" with CoA PortBounce?
![image](https://user-images.githubusercontent.com/50436103/125621682-5b493ba6-93d6-439d-a8cc-e3469649325b.png)

Thanks
Marek Hrbáč

[2021-07-15 06:52] nqb commented on #6433
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2021-07-15 06:52] #6433 closed

[2021-07-15 06:59] nqb commented on #6432
On a 10.3 with all maintenance patches applied, I'm able to set a bypass VLAN and a bypass role on a node. Fields are correctly updated in DB.

I don't think there is a bug here.

[2021-07-15 09:24] nqb opened #6434 "Switch templates: extend variables available in 'disconnect' and 'coa' scopes"
**Is your feature request related to a problem? Please describe.**
In order to solve #6371 and to replace #6373,  I would like to create a simple switch template with following definition for `disconnect` scope:

[code]
However, according to documentation `$user_name` and `$nas_port_id` variables are only available in `accept*` scopes.
I think `$user_name` can be replaced by `$mac`.

**Describe th

[2021-07-15 09:27] nqb commented on #6371
I tried to solve this issue by creating a new switch template which:
- doesn't rely on accounting data
- use NAS-Port RADIUS attribute

to send disconnect messages but I hit following limitation: #6434

Until this issue is not solved, anyone can switch to `Aruba Switch NG` switch template and enable accounting on switch. RADIUS Disconnect will work.

[2021-07-15 11:49] julsemaan commented on #6434
The value of `User-Name` should likely match the value of the username in the last RADIUS request or the accounting packets for 802.1x. For MAB, you should be fine with just the MAC but if you want this to work consistently, you're likely going to need the real username. We could add the nas-port-id to the last_accounting data to help

On top of this, we could also start tracking the last_request

[2021-07-15 13:00] marekhrbac commented on #6432
when i set bypass vlan in the settings of the node, CoA doesnt change VLAN
because PF doesnt send CoA message to switch. When i set bypass vlan
through "Bulk Action", PF send CoA message to the switch

čt 15. 7. 2021 v 8:59 odesílatel Nicolas Quiniou-Briand <
***@***.***> napsal:

[2021-07-15 14:48] satkunas commented on #6382
@fdurand does templates support UPDATE? or are they still read-only once created?

[2021-07-15 14:50] fdurand commented on #6382
we changed it to support UPDATE

[2021-07-15 16:17] #6318 closed

[2021-07-16 03:16] b1cat opened #6437 "SAML redirect error , Always location to /protal_preview"
**Describe the bug**
Saml redirect error , always location /protal_preview, but not redirect Idp sso .
I hope it works, but it doesn’t work no matter how I test it
Thanks you !

These proofs：
![image](https://user-images.githubusercontent.com/30470078/125885495-1202d7c0-f342-4ac0-a213-5c7c024ca7c6.png)
This follow redirect
![image](https://user-images.githubusercontent.com/30470078/125885632-d2960

[2021-07-16 11:32] julsemaan commented on #6437
The portal preview and SAML are incompatible like its the case with OAuth sources since it relies on redirect URLs that are precise

Use the real portal to test SAML and OAuth sources

[2021-07-16 11:32] #6437 closed

[2021-07-16 15:26] #6321 closed

[2021-07-16 19:22] #5927 closed

[2021-07-19 05:50] Akityo commented on #6437
@julsemaan  Hello, one more question, how to access the real portal like URLs,path.  And how to modify saml redirect response page, i try to modify this file  /usr/local/pf/html/captive-portal/templates/redirect.tt  but it does't work

[2021-07-19 06:04] nqb commented on #6437
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2021-07-19 13:15] satkunas commented on #6382
UI updated in e21b4af67edb9a80cf4cfea5d344b42cf2983965

However, I'm seeing the following error w/ `PATCH`:

[code]

Using payload:
[code]

[2021-07-19 13:38] #6374 closed

[2021-07-19 14:03] nqb opened #6439 "fixpermissions: fingerbank.conf should be 0660"
**Describe the bug**
When you run `pfcmd fixpermissions` on a PacketFence server, `/usr/local/fingerbank/conf/fingerbank.conf` is forced to 0664. It should always be set to 0660 because it contains a Fingerbank API key.

**To Reproduce**
Steps to reproduce the behavior:
1. `chmod 0660 /usr/local/fingerbank/conf/fingerbank.conf`
2. `pfcmd fixpermissions`
3. `ls -l /usr/local/fingerbank/conf/fingerb

[2021-07-20 06:57] #6285 closed

[2021-07-20 12:10] nqb opened #6441 "v11: Coredns Golang unit tests failed"
**Describe the bug**
When running Golang unit tests on RHEL8, I got following results:

[code]

[2021-07-20 13:22] extrafu commented on #6310
@satkunas Hide the button for now. We'll handle that cleanly later.

[2021-07-20 15:55] julsemaan commented on #6441
I'm not getting this issue on the latest devel on my RHEL8 box

Could it be specific to running this in the docker image on the Gitlab runners ?

[2021-07-20 16:07] #5663 closed

[2021-07-20 17:02] satkunas commented on #5550
Fixed in https://github.com/inverse-inc/packetfence/pull/6167 by adding pfqueue async call

Closing.

[2021-07-20 17:02] #5550 closed

[2021-07-20 17:04] satkunas commented on #4454
Improved search deployed in various recent UI improvements. Closing

[2021-07-20 17:04] #4454 closed

[2021-07-20 17:21] julsemaan commented on #6386
@lzammit, please test and we can push this to the maintenance afterwards

[2021-07-21 04:57] nqb commented on #6441
It could be a random issue. I will see if I'm able to replicate.

[2021-07-21 22:01] effertzdv commented on #5728
We are currently facing a similar behavior testing a cluster setup with 3 nodes in the US and 2 nodes in Germany.

For the test setup we configured only LDAP servers in Germany - none in the US. That gave is the same timeout if we used the US Packetfence servers to process a radius request. The german  Packetfence servers worked flawless.

In the radius logs on the US servers we've found that time

[2021-07-22 06:02] nqb opened #6443 "v11: /api/v1/configurator/service/pf/update_systemd returns a HTTP 500 error"
**Describe the bug**
During configurator, when PacketFence is updating systemd, it returns a 500 HTTP error code on following API call:

`/api/v1/configurator/service/pf/update_systemd`

**To Reproduce**
Steps to reproduce the behavior:
1. Pass through configurator and try to start services

**Expected behavior**
Configurator should work as usual.

**Additional context**
@satkunas pushed a commit

[2021-07-22 06:04] nqb commented on #6443
Issue seems random.

[2021-07-22 09:10] kalamchi75 opened #6444 "Packetfence does not check password vailidity when authenticating to switch/router"
Hi Guys,

We have deployed PacketFence to be used as authentication server to our network devices (switches/routers, Cisco/Mikrotik).
We are trying to achieve authentication permission based on Active Directory groups.
So far, enabling Active Directory as authentication source, along with the conditions to check GroupMembers and assign privileges levels, seems to be working fine.
E.g., USER1 has A

[2021-07-22 09:29] nqb commented on #6444
Hello,

Try to apply maintenance patches (see https://www.packetfence.org/doc/PacketFence_Installation_Guide.html#_maintenance_patches ) and test again.

[2021-07-22 09:32] kalamchi75 commented on #6444
Thanks, applying right now.
Will test and update this thread.

Best regards

[2021-07-22 09:45] kalamchi75 commented on #6444
SPOT ON !!!!
The patch solved the issue and USER1 and USER2 are not authenticated unless the correct password is typed-in.

Many thanks

[2021-07-22 10:22] #6444 closed

[2021-07-22 10:41] kalamchi75 commented on #6444
Hi again,

another issue popped up after the patch.
any/all authentication via packetfence to mikrotik routers do not work anymore.
It worked before the patch, with the same password behavior described in the initial post of this thread. However, while the patch solved the password with Cisco devices, it stopped authentication completely to Mikrotik.

Any tips please ?

Thanks

[2021-07-22 11:16] kalamchi75 opened #6445 "Mikrotik router authentication via packetfence and AD does not work when using winbox"
Hi Guys,

We are facing an issue authenticating with Mikrotik winbox via packetfence and AD authentication source.
Authentication **works** with **telnet** both to cisco or mikrotik using AD accounts.
However, it gets **rejected** when using **winbox** to connect to the same mikrotik using the same AD accounts.
Below is a screen shot of the failing authentication log which seems to be related to C

[2021-07-22 11:52] nqb commented on #6445
What is Winbox ?

We need to have the "User-Password" in RADIUS request and I don't see it here.

I suspect that the patch applied to solve #6444 add a regression

[2021-07-22 11:57] nqb commented on #6445
User-Password is present in RADIUS request.

Could you provide extract of `packetfence.log` when you try to connect using Winbox ?

[2021-07-22 12:46] kalamchi75 commented on #6445
Hi Nicolas,

WinBox is Mikrotik proprietary software that allows GUI login to Mikrotik equipment.

Below is the log when I try to connect with winbox via PF and AD:

`
Jul 22 12:37:07 packetfence packetfence_httpd.aaa: httpd.aaa(11822) WARN: [mac:19:21:68:20:41:37] Trying to match IP address with an invalid MAC address 'undef' (pf::ip4log::mac2ip)`
`Jul 22 12:37:07 packetfence packetfence_httpd.aa

[2021-07-22 12:57] satkunas commented on #6443
UI workaround also requires https://github.com/inverse-inc/packetfence/commit/296df6f9b6d5df49853331f22fa8331e9a3cff22

[2021-07-22 13:02] nqb commented on #6443
Venom logs output:

[code]

[2021-07-22 13:24] nqb opened #6446 "v11: testing AD sources doesn't work anymore"
**Describe the bug**
if I create an AD source using Venom and try to test it using API call, it fail with following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a valid AD source and try to test it

**Screenshots**
I see a different error when I test using UI

![Capture d’écran de 2021-07-22 15-19-25](https://user-images.githubusercontent.com/10830260/126645548-de7e3

[2021-07-22 13:35] #6446 closed

[2021-07-22 14:36] nqb opened #6447 "v11: creating a node failed in frontend"
**Describe the bug**
When you try to create a node, you got a response from API:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to register a node using 11:22:33:66:77:88 as MAC

**Expected behavior**
Node should be created and registered.

**Additional context**
- Calling directly API to register a node using Venom doesn't cause issue.
- JSON payload sent by frontend is **empty

[2021-07-22 15:01] julsemaan commented on #5728
Just as a side note, the default timeouts we use are usually in line with the timeouts network vendors accept for replying to the RADIUS request

Tolerating a RADIUS request that runs for 20 seconds isn't a good practice because that means you can hang workers for that duration and potentially cause service disruption under high load because a small portion of the users can hang the workers for ev

[2021-07-22 15:44] #6447 closed

[2021-07-22 19:33] julsemaan opened #6448 "v11: When restarting PacketFence, httpd.portal shows as stopped but it isn't"
**Describe the bug**
When restarting PacketFence, httpd.portal shows as stopped but it isn't

**To Reproduce**
1. Restart PF on RHEL8 using `pfcmd service pf restart`

**Additional context**
![image](https://user-images.githubusercontent.com/3857942/126698745-93402b99-b951-4b52-8d2d-01c395c3b27f.png)

[code]

[2021-07-23 04:35] nqb commented on #6441
Not able to replicate on Debian 11.

[2021-07-23 04:50] nqb commented on #6443
Issue occured again during nightly test, this time on RHEL8

[2021-07-23 06:29] nqb opened #6449 "v11: RPM packetfence-perl-modules should manage permissions differently"
**Describe the bug**
If you try to read `yum history` of your PacketFence installation, you see around 31000 lines like this:

[code]

I think this is caused by permissions set on files in `packetfence-perl-modules`:
https://github.com/inverse-inc/packetfence/blob/c7f956fb075d6491f94ff3c23d1da51bc6b31e61/addons/cpan_perl/rhel8/SPECS/cpan_perl_module.spec#L32

When `packetfence-perl-modules` is ins

[2021-07-23 07:28] davywan commented on #5728
I checked my SNMP string to the NAS device, this is what was timing out.

On Thu, Jul 22, 2021 at 6:01 PM Julien Semaan ***@***.***>
wrote:

--

*Kind Regards,*

*David Wanyonyi*
*Tel: +254717836874*

[2021-07-23 09:34] nqb commented on #6441
@julsemaan, I'm able to replicate issue each time I run this Golang test on Vagrant VM in CI.

[2021-07-23 09:48] Gunni opened #6450 "haproxy-admin does not listen on IPv6"
**Describe the bug**
See title

**To Reproduce**
1. Install packetfence
2. run `lsof -nPi:1443`
3. Observe IPv4 only

**Expected behavior**
Frontend services should listen on all internet protocols.

**Additional context**
Fixing this is trivial, modify `/lib/pf/services/manager/haproxy_admin.pm` to listen on `:::1443 v4v6` instead of just `0.0.0.0:1443`.

[2021-07-23 11:05] extrafu commented on #6089
@satkunas Still relevant? If so, can we fix it for v11

[2021-07-23 12:09] nqb commented on #6092
If you take a dump as `root` triggers are present but when you restore there is a conflict because triggers are part of `pf-schema.sql `

I suggest to remove triggers from backup.

[2021-07-23 12:18] julsemaan commented on #6092
The thing with that is that if you import the schema and then import the dump, it drops the tables before recreating them which drops the triggers too (at least on MariaDB 10.5)

The import/export scripts have workaround to cope with this, the solution to this issue may just be that we'll have proper import/export scripts in the future

[2021-07-23 14:31] satkunas opened #6451 "UI - Unify saved search"
Saved search has different code paths using 3 different store modules. This causes inconsistencies in the sidebar menu list and the search dropdown button. The store modules need to be unified into a single code-path.

[2021-07-23 15:17] JeGoi opened #6452 "Add new members in switch group is not working out of the dropdown list"
**Describe the bug**
Add new member (a switch) in a Switch group that is not listed in the 25 switches of the dropdown list

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'configuration -> Policies and access control -> Switch groups'
2. Click on 'default'
3. Got to `members` tab
4. Scroll down to 'New Member'
5. Try to add an existing switch ip out of 25 switches from the list.
6. It

[2021-07-23 15:23] julsemaan commented on #6443
@nqb has implemented a fix by delaying the update_systemd call with the restart packetfence-config call that occurs just before and told me all was fine since then.

We'll need to see if the configurator works correctly and we can then close this issue

[2021-07-23 15:31] fdurand opened #6453 "v11: service doesn't start at the end of the configurator."
**Describe the bug**
Go in the configurator then hit start packetfence, packetfence-config restart, updatesystemd occur but there is no start of the services.

[2021-07-23 15:33] fdurand commented on #6453
![image](https://user-images.githubusercontent.com/1553962/126805802-cb2db0d5-0ab8-4cb1-9656-f83e1d5cd21d.png)

[2021-07-23 15:35] JeGoi opened #6454 "Members of a switch group are not always visible"
**Describe the bug**
Members of a switch group can be empty sometime without reason.
If the group has more than few members (like 25), it will be empty all the time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> Policies and access control -> Switch groups'
2. Click on a group with switches
3. Go to 'Members' tab
4. There are no members even after the page is entire

[2021-07-23 17:41] trevor-bryant opened #6455 "High Availability Status on Web Interface"
**Is your feature request related to a problem? Please describe.**
From the web interface, it is hard to determine which nodes are acting as the primary node.

**Describe the solution you'd like**
It would be helpful to have additional HA status details in the web interface. For example:

- Which node is holding the primary cluster IP
- How long has that node held the cluster IP
- When was the las

[2021-07-23 17:41] fdurand opened #6456 "v11: local user authentication failure"
**Describe the bug**
Authentication with local account fail

**To Reproduce**
1. Create a local account
2. hit the portal
3. use this user to authenticate
4. Check the logs

[code]

[2021-07-23 17:43] fdurand commented on #6455
In cluster services you should be able to see it.

[2021-07-23 18:17] fdurand opened #6457 "v11: On sso update error with the API"
Here the logs:

[code]

[2021-07-23 18:23] TheDigitalPlumber commented on #6455
Unless I'm missing seeing it, the only thing I see in Cluster -> Services are all the services running on each host. I'm not seeing anything informative about which host has the cluster IP or when failover occurred.

<img width="1005" alt="pfence - cluster services" src="https://user-images.githubusercontent.com/65608528/126825146-3b386b5c-15b3-4fb1-9e5b-abe5edf82d85.png">

[2021-07-23 18:33] #6457 closed

[2021-07-23 18:46] fdurand opened #6458 "v11: Radius audit log broken"
![image](https://user-images.githubusercontent.com/1553962/126827597-c6e3ec61-723b-4767-8c70-2b921eed6906.png)

[2021-07-23 18:53] fdurand commented on #6458
Ouch, time to take vacation @fdurand

[2021-07-23 18:53] #6458 closed

[2021-07-23 22:14] #6451 closed

[2021-07-26 08:23] kalamchi75 commented on #6445
Hi Guys,

any advise or help with this please ?

Thanks

[2021-07-26 14:29] #6456 closed

[2021-07-26 14:40] jrouzierinverse commented on #4845
Fixed by 24b38f28a8dfc8d6696375a4ea054d78dc8eeb46

[2021-07-26 14:40] #4845 closed

[2021-07-26 16:42] jrouzierinverse commented on #6441
Is there a way to find out what is listening to the tcp port 30062 and 30063 in the VM?

[2021-07-26 19:34] jrouzierinverse commented on #6454
Can you provide your switches.conf

[2021-07-26 21:08] jrouzierinverse commented on #6454
I found the issue. The problem seems to be the perl modules are loaded lazily to allow a fast startup time.
However this will cause a slow time for the initial API calls to load in the perl module.
This speed hit will happen for each worker and every time a worker dies and is respawned.
We could preload the Controller namespace which will cause all the API calls to become faster but the start and

[2021-07-27 11:51] JeGoi commented on #6454
Instead of all API preloaded, could we preload only some selected API requests based on PF conf?
Or the API we know that can failed due the high number of items in a particular section?
For exemple: If (number of switches > 150) then preload switches

[2021-07-27 12:23] #5728 closed

[2021-07-27 12:23] extrafu commented on #5728
Non-issue.

[2021-07-28 20:46] jrouzierinverse commented on #6441
I am able to replicate the error on my machine after I disabled ipv6 on my loopback device.
IPV6 needs to be enabled on the pfel8dev.

[2021-07-29 13:54] #6448 closed

[2021-07-29 20:43] #6086 closed

[2021-07-31 23:33] garci66 opened #6463 "OpenID attributes not passed to "match" authentication action"
**Describe the bug**
When using openid as an authentication source, if openid attributes are defined, these become available as matches in the authentication rules. The problems is those attributes are not passed to the `pf::authentication::match` function unless they are also added as a user mapping field. In my case, I was using the openid "department" attribute  which was added (together with o

[2021-08-02 08:31] nqb commented on #6441
Good catch @jrouzierinverse, IPv6 is disabled in RHEL8 box (https://github.com/lavabit/robox/blob/cd60c607a87db17ee470d4cde92889dca9951c06/scripts/rhel8/network.sh).

I will re-enable it and check if it works.

[2021-08-02 13:00] satkunas commented on #6089
This is no longer relevant. The auditing section has been upgraded to the new advanced search which retains all the search criteria across page (re)loads.

[2021-08-02 13:49] jrouzierinverse commented on #6454
This preloading help for all the APIs not just switches.

[2021-08-02 14:31] satkunas commented on #6452
This looks like a cache-expiry issue in the UI store module. When I move a switch to a different group A -> B, cache for group A becomes stale and still shows having the old switch member. I've made changes in b3dff4690e90b1c4394969c517d5d8dc7cffdc55 to ignore the switch group member cache. @JeGoi please retest and see if this fixes your issue.

[2021-08-02 15:00] satkunas commented on #6453
@jrouzierinverse will make `update_systemd` async

[2021-08-02 15:14] satkunas commented on #6453
Fixed in 53108b6fcf74d0d291ce1492c8ba35639438f100

[2021-08-02 15:14] #6453 closed

[2021-08-02 15:42] satkunas commented on #6443
Another change was made in 53108b6fcf74d0d291ce1492c8ba35639438f100

[2021-08-02 17:16] lzammit opened #6466 "v11 RHEL gateway issue when setting interfaces via web interface"
It looks like that when you set up the Registration and Isolation interface it sets the default gateway as well:
[code]
It breaks the internet access.

Work around:

[code]

[2021-08-02 19:02] #6337 closed

[2021-08-02 19:10] jrouzierinverse opened #6467 "Use the network manager API for managing interfaces and networks."
Move to use the network manager API for the crud of the interface and network.

[2021-08-02 19:57] #5612 closed

[2021-08-03 08:32] nqb opened #6468 "export/import: allow to run scripts in a non-interactive way"
**Is your feature request related to a problem? Please describe.**
Full import allow to run export and import scripts but you got prompts for:
- MariaDB password
- Choices (during import)

Consequently, it's hard to automate an upgrade using these two scripts.

It would be nice to be able to run these two scripts silently (without any prompts) and with some predefined choices.

**Describe the solu

[2021-08-03 08:41] nqb commented on #6092
I updated documentation to avoid confusion between backups taken as MariaDB user `root` or `pf`.

All backups should now be done using backup script and should not contain triggers and procedures (because they are made by  MariaDB user `pf`). Import script has been adjusted by @julsemaan to handle both cases.

[2021-08-03 08:41] #6092 closed

[2021-08-03 09:05] #5718 closed

[2021-08-03 09:22] nqb commented on #5973
@jrouzierinverse,

With our new way to package Perl dependencies, `Crypt::SMIME` is installed on Debian and RHEL systems without our patch (at version 0.27 from what I see in `/usr/local/pf/lib_perl/lib/perl5/x86_64-linux-gnu-thread-multi/Crypt/SMIME.pm`.
It means that signing a mobileconfig profile is certainly broken on Debian 11 and RHEL8.

Not sure if it's easy to patch a Perl dependencies whe

[2021-08-03 09:40] nqb commented on #6089
@satkunas,

I'm able to replicate issue using instructions in "To reproduce" section.

[2021-08-03 09:48] nqb commented on #6276
Issue is not present anymore on Debian 11

[2021-08-03 09:48] #6276 closed

[2021-08-03 09:52] nqb opened #6469 "packetfence-perl: install a metadata files to list version of each Perl modules"
**Is your feature request related to a problem? Please describe.**
When packetfence-perl package is installed, you have to browse `.pm` file to know at which version a module is installed.

**Describe the solution you'd like**
Add a metadata file which list all versions of Perl modules.

[2021-08-03 12:01] nqb commented on #6466
I've seen this issue too.

Certainly caused by `DEFROUTE=yes` in /etc/sysconfig/network-scripts/ens*

[2021-08-03 12:32] lzammit commented on #6466
You are correct, uncle @fdurand was on it.

We did the tests on the different interfaces and we found one solution that worked.

[2021-08-03 13:11] extrafu commented on #6089
@nqb Please provide RADIUS audit log entires for @satkunas to test.

[2021-08-03 13:58] nqb commented on #6089
Not able to replicate again with @satkunas. I will close for now and re-open if I notice this behavior again.

[2021-08-03 13:58] #6089 closed

[2021-08-03 14:24] satkunas commented on #6264
This can get tricky when scoped to a specific tenant since the `pid` will inherit the tenant's `domain_name`. In this case `pid` becomes `pid@tenants_domain_name`. Thus `%username_prefix%%id%@mydomain.com` would become `prefix-pid@tenants_domain_name@mydomain.com`.

More discussion is needed.

[2021-08-03 18:28] fdurand opened #6471 "V11 Cluster dashboard doesn´t work"
**Describe the bug**
Cluster dashboard doesn´t work

Haproxy config issue

[2021-08-03 18:33] satkunas commented on #6322
Search criteria currently allows `source` with a string.  Users search is currently limited and will be updated post-v11 release to include new basic/advanced search. Once implemented we can utilize a drop-down select grouped by source type (external/exclusive/billing) for the source search criteria. When doing so we can improve the table to include better visual indication of the source type(s).

[2021-08-03 19:05] #6255 closed

[2021-08-03 19:58] #794 closed

[2021-08-04 07:13] nqb commented on #6443
I tried to remove workaround mentioned by @julsemaan after 53108b6 commit but I still got a 500 error.

[2021-08-04 07:22] #6441 closed

[2021-08-04 08:10] nqb opened #6472 "EL8: `pf` user doesn't have read/write access on /usr/local/pf/conf/ssl/server.key"
**Describe the bug**
After a PacketFence installation on EL8, files created under `/usr/local/pf/conf/ssl/` have following permissions:

[code]

`server.key` is not readable by `pf` user.

On EL7 with PF 10.3 (ZEN installation), permissions were:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install PacketFence on EL8 and look at permissions in `/usr/local/pf/conf/ssl/`

**Expected

[2021-08-04 08:18] #6472 closed

[2021-08-04 12:43] #5133 closed

[2021-08-04 12:43] #5912 closed

[2021-08-04 12:51] #5668 closed

[2021-08-04 13:08] jrouzierinverse commented on #6443
DO you have the logs?

[2021-08-04 13:28] satkunas commented on #6034
@jrouzierinverse I'm able to reproduce

[code]

[code]

[2021-08-04 13:33] satkunas commented on #5934
Will not fix.

This is due to a workaround for an issue with the vue-multiselect component. Retaining the search criteria tricks the user into thinking that the search term is the current value within 'taggable' (user-defined) options. In order to alleviate this confusion the search term is automatically cleared onBlur.

[2021-08-04 13:33] #5934 closed

[2021-08-04 13:48] nqb commented on #6443
I worked with @julsemaan on this issue. Except a 500 HTTP error code in `haproxy.log`, we don't see anything else.

It seems related to the restart of `packetfence-config` which is made just before doing `update_systemd` API call.

[2021-08-04 15:04] jrouzierinverse commented on #6034
ip should be host.

[2021-08-04 16:02] satkunas commented on #5920
Fixes are in #5941

Reassigning.

[2021-08-04 16:12] #6034 closed

[2021-08-04 17:22] satkunas commented on #6019
Languages are defined in the backend.

[code]

[2021-08-04 17:34] satkunas commented on #5976
@nqb this UI issue is no longer reproducible on latest devel. Can you please re-test?

![Screen Shot 2021-08-04 at 1 34 49 PM](https://user-images.githubusercontent.com/3904468/128227713-c7255189-d3f6-43c4-834b-2c82d0337aed.jpg)

[2021-08-04 17:38] satkunas commented on #5956
No longer able to reproduce. Issue recently fixed in Config Search refactor.

[2021-08-04 17:47] #5891 closed

[2021-08-04 17:56] satkunas commented on #5649
@ZdenekPala this issue has been resolved with https://github.com/inverse-inc/packetfence/pull/6127

Searches - either basic or advanced - now persist both across page reloads and user sessions.

[2021-08-04 17:56] #5649 closed

[2021-08-04 18:17] satkunas commented on #5618
Assigning @julsemaan and @nqb, changes required for front-end are not defined. More discussion is needed.

[2021-08-04 18:52] jrouzierinverse commented on #6019
@nqb Please advice was change from ```no``` to ```nb_NO``` in commit 890895d5c25c7836bda03ac7affaa8b86309c30f
Which is in the list of available languages.

[2021-08-05 08:28] nqb commented on #5611
@satkunas, there is an issue with your fix.

When I create a node, I'm able to only provide a date (without HH:MM:SS) using calendar provided by frontend. Node creation works, entry is saved in DB like this: `unregdate: 2021-08-25 00:00:00`.

Consequently, when I edit this node, frontend displays `unregdate` as it is in DB: `2021-08-25 00:00:00` and complain about format:

![Capture d’écran de 202

[2021-08-05 08:32] nqb commented on #5956
@satkunas, I don't see any "Export CSV" button on latest devel builds for Switch or Switch groups menu.

[2021-08-05 08:32] nqb commented on #6376
Still true on latest devel builds.

[2021-08-05 08:58] nqb opened #6473 "v11: unable to create a routed network"
**Describe the bug**
If I try to create an inline L3 routed network using GUI:
* form is accepted
* network is not created in `/usr/local/pf/conf/networks.conf`
* I got following result from backend:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create `routed.json` file:
[code]
2. Run:

[code]

=> You got result mentioned below.

**Expected behavior**
Routed network created.

**Add

[2021-08-05 10:13] nqb opened #6474 "Replace vconfig by iproute2"
**Describe the bug**
When you create a virtual interface (i.e. eth2.100) on Debian 11, you got following error message:

`Warning: vconfig is deprecated and might be removed in the future, please migrate to ip(route2) as soon as possible!`

We should change the way we configure virtual interface.

[2021-08-05 10:25] nqb opened #6475 "v11 (Debian 11): unable to create a virtual interface"
**Describe the bug**
If I try to create a virtual interface (i.e. eth2.119) on Debian 11, I got an error in GUI:

`config/interfaces: Error in creating interface VLAN eth2.119`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual interface on a Debian 11

=> Interface is created on OS but not in PacketFence config.

**Expected behavior**
Interface created on OS and in PacketFence

[2021-08-05 12:04] satkunas commented on #5611
@nqb the frontend doesn't alter the values returned from the backend, except through user interaction. We'll need to backend to strip the time off of the value.

[2021-08-05 12:27] satkunas commented on #5576
Export has been moved to row selection. We will be adding additional bulk actions here.

![Screen Shot 2021-08-05 at 8 26 23 AM](https://user-images.githubusercontent.com/3904468/128349706-2051a62c-b48f-4680-b0e0-b3e89268c11f.jpg)

[2021-08-05 12:34] nqb commented on #5576
I'm reopening this issue because @satkunas want to provide an answer on #5956

[2021-08-05 12:36] fdurand commented on #6471
Fixed with https://github.com/inverse-inc/packetfence/commit/9f4b583c71cc55ce42026b649f74f2eae0c08eb9 and https://github.com/inverse-inc/packetfence/commit/fb3fa67414c9470bc7834435dc9567ce108fceb6

[2021-08-05 12:36] #6471 closed

[2021-08-05 12:38] nqb commented on #5956
As mentioned by @satkunas on #5576, we now need to select rows to be able to export.

Work as expected.

[2021-08-05 12:38] #5956 closed

[2021-08-05 13:06] nqb opened #6476 "v11: tenant_id is missing in networks.conf when you create interfaces during configurator"
**Describe the bug**
When you define interface as registration, isolation or inline L2 during configurator, related networks are defined in `/usr/local/pf/conf/networks.conf` but `tenant_id` is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a registration interface during configurator
2. Look at `/usr/local/pf/conf/networks.conf`

=> Related network doesn't have a `tenant

[2021-08-05 13:16] nqb commented on #6476
My comment in "Additional context" is wrong: `tenant_id` is not added if you create a new network from web admin GUI.

[2021-08-05 13:19] nqb commented on #6475
@fdurand provide me useful informations:
- my `perl` command was wrong. Must be:
[code]
- if you click on "Create" button a second time (after first error), you interface is correctly configured in `pf.conf` and IP is assigned. And you received a 200.

[2021-08-05 13:27] nqb opened #6477 "v11(Debian): OS network configuration is not saved if interface is down"
**Describe the bug**
If you configure an interface through PF (configurator or webadmin) which is **down** using following logic:
1. Assign IP address, netmask and type
2. Save
3. Set your interface up

On Debian, IP configuration is not saved into `/etc/network/interfaces`. Your interface is up, your PF configuration is correct but after a reboot, you lost IP assigned on interface.

**To Reproduc

[2021-08-05 13:44] #6039 closed

[2021-08-05 13:52] #6466 closed

[2021-08-05 13:54] fdurand commented on #6469
I think it should be possible to use the rpm command to see what the packetfence-perl package provides.

[2021-08-05 13:56] lzammit opened #6478 "v11: Switch Type issue"
The switch type is off

PacketFence version:
[code]
![Screen Shot 2021-08-05 at 9 50 40 AM](https://user-images.githubusercontent.com/5261214/128362349-2ee8cff7-ed32-4c63-9b26-f3f2325c1b2b.jpg)

[2021-08-05 14:03] nqb commented on #6475
I put some debug statements in `util.pm` and I noticed that code path invoked is:

https://github.com/inverse-inc/packetfence/blob/d5742d3c794a460abab45c1bf8e4516cf1f065be/lib/pf/util.pm#L859-L864

Identical on PacketFence ZEN 10.3 running on EL7.

[2021-08-05 14:22] lzammit opened #6479 "v11: Can't save stripping in REALM config"
![image](https://user-images.githubusercontent.com/5261214/128366026-9c3997ad-02c9-4a63-be84-b1025211233e.jpeg)
![image](https://user-images.githubusercontent.com/5261214/128366178-8225a939-a130-47a7-84f9-8637ecce8e3a.jpeg)

[2021-08-05 14:56] #5698 closed

[2021-08-05 14:56] #5699 closed

[2021-08-05 15:23] lzammit opened #6480 "v11: Can't save a node because of the unregdate format"
![image](https://user-images.githubusercontent.com/5261214/128376389-3cf81169-d304-4ffc-94a9-9005c2415251.jpeg)

[2021-08-05 15:58] #6479 closed

[2021-08-05 16:00] satkunas commented on #6480
Duplicate with https://github.com/inverse-inc/packetfence/issues/5611

[2021-08-05 16:02] satkunas commented on #5611
Changes also affect #5516

[2021-08-05 16:03] satkunas commented on #5516
Closing issue. Format is being discussed in #5611

[2021-08-05 16:03] #5516 closed

[2021-08-05 17:24] lzammit opened #6481 "v11: Overlay issue in Auditing display"
![image](https://user-images.githubusercontent.com/5261214/128394122-65132c4d-8873-471c-9ce3-ec375272efec.jpeg)

[2021-08-05 17:39] #6481 closed

[2021-08-05 18:05] lzammit opened #6482 "v11: SMS registration not workin"
RHEL8

PF build:
[code]

Logs:
[code]

[2021-08-05 18:08] jrouzierinverse commented on #6482
Was a mail server configured on the server?

[2021-08-05 18:15] #6474 closed

[2021-08-05 18:15] #6475 closed

[2021-08-05 18:43] lzammit commented on #6482
Yeah... learnt it the hard way, nor postfix or sendmail are installed by default on REHL8. That works once postfix installed.

[2021-08-05 18:43] #6482 closed

[2021-08-05 18:56] jrouzierinverse commented on #6482
Should we by default require postfix?

[2021-08-05 19:05] #6478 closed

[2021-08-05 19:21] lzammit commented on #6482
I was thinking of that, I would say yes.

[2021-08-05 19:50] satkunas commented on #6454
@JeGoi please retest and re-assign me if the issue persists.

[2021-08-05 19:53] satkunas commented on #6350
The error should be improved on the backend since the UI is not the only consumer. Reassigning.

[2021-08-05 20:00] jrouzierinverse commented on #6350
This error is coming from the frontend not the backend.

https://github.com/inverse-inc/packetfence/blob/fc25d33a27aaa4be17a04747b52e54e3d597b616/html/pfappserver/root/src/views/Configurator/packetfence/_components/FormGeneral.vue#L104

[2021-08-05 20:12] jrouzierinverse commented on #6350
[code]
[code]

[2021-08-05 20:14] lzammit opened #6484 "v11: Can't edit Root CA cert on RADIUS once let's encrypt enabled"
If you turn on let's encrypt for RADIUS it hides the Root CA config.

![image](https://user-images.githubusercontent.com/5261214/128415155-a0aee8ab-cd69-47f7-95d8-bad5293ff91b.jpeg)

It's needs for EAP TLS authentication.

Work around:

Edit /usr/local/pf/raddb/certs/ca.pem on all appropriate server.

[2021-08-06 02:36] #6476 closed

[2021-08-06 02:50] jrouzierinverse opened #6485 "Support both the string and integer value of EAP-Type and connection_sub_type."
Some condition values has a integer and string respresentation.
So those conditions should be converted into from (field op 'value') to (field op 'str' || field op int).

[2021-08-06 04:57] jrouzierinverse opened #6486 "Avoid using static mac address for testing to increase reliability of tests."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. Whenever I am trying to [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-08-06 08:49] nqb commented on #6350
Using /api/v1/configurator/config/base/general, I got this result:

[code]
but throug GUI, I got this:
![Capture d’écran de 2021-08-06 10-47-27](https://user-images.githubusercontent.com/10830260/128484078-df02e804-bcaf-4fa2-b374-f14a1c8634db.png)

=> Message related to domain name is not displayed to user.

[2021-08-06 09:38] nqb commented on #6469
On Debian, you have the name of Perl packages but not version number (using `apt-cache show packetfence-perl`)

`yum info packetfence_perl` doesn't provide this information ATM.

[2021-08-06 10:25] nqb commented on #5611
I'm reopening this one due to unexpected behavior.

Things I noticed:
- I received a DHCP request for an unknown node:
  * unregdate equals to `0000-00-00 00:00:00` in DB
  * frontend displays `0000-00-00`
  * registration of node through captive portal
  * unregdate equals to `2021-08-06 10:23:26`
  * frontend displays  `2021-08-06 10:23:26` => consequently frontend reports an error.

[2021-08-06 10:52] nqb opened #6487 "v11: creating a user without expiration is possible"
**Describe the bug**
Using GUI, you can create an account without expiration. It should not be possible.

On top of that, it creates an account in DB with `expiration` field sets to `$ZERO_DATE` which make account unusable after.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an user account without expiration date
2. Try to use account later

=> Not possible.

**Expected behavior**

[2021-08-06 10:52] nqb commented on #6487
@jrouzierinverse and @satkunas, not sure who should handle that bug.

[2021-08-06 11:57] #6484 closed

[2021-08-06 12:29] satkunas commented on #6487
I assumed that when expiration is left empty that a zero-date would used for infinite expiration. @jrouzierinverse correct me if I'm wrong.

[2021-08-06 12:46] #3421 closed

[2021-08-06 12:47] #4005 closed

[2021-08-06 12:47] #4154 closed

[2021-08-06 12:49] #4156 closed

[2021-08-06 12:50] #4164 closed

[2021-08-06 12:54] #5518 closed

[2021-08-06 12:56] nqb opened #6488 "v11: language preference defined in GUI is lost after a restart"
**Describe the bug**
If you define your language preference to a value different from your web browser, setting is lost after a `/usr/local/pf/bin/pfcmd service pf restart`.

By lost, I mean that web browser uses default web browser language in place of language preference.

**To Reproduce**
Steps to reproduce the behavior:
1. Define language preference with a value different from your web browser

[2021-08-06 12:59] nqb commented on #6488
I checked using following command:

`curl -X GET "https://172.17.17.12:9999/api/v1/translation/fr" -H  "accept: application/json" -H  "Content-Type: application/json" --insecure | jq`

There is no need to have a token to get a response.

[2021-08-06 13:03] #5654 closed

[2021-08-06 13:09] #5750 closed

[2021-08-06 13:16] #4302 closed

[2021-08-06 13:25] jrouzierinverse commented on #6487
If an expiration is not provided then a 31 days is given on the back end.
Do not send a zero date.

[2021-08-06 15:36] #6488 closed

[2021-08-06 16:43] jrouzierinverse commented on #6477
The interface needs to be up on Debian to get the IP address information.
Even if we save the IP address to ```/etc/network/interfaces``` the when booting.
The IP address information will not return since the interface is down.

[2021-08-06 17:10] jrouzierinverse commented on #6477
We should enable a device in order to edit it.

[2021-08-06 17:51] satkunas commented on #6350
@nqb please test e037c815aabb91e4f1c023456c288aeaec66480e w/ the next nightly builds. If the issue persists I will follow-up early next week. I want to ensure that an error at the end of the configurator properly stops the setup-chain and the user is able to navigate back to the interface settings without issue(s).

[2021-08-06 17:53] satkunas commented on #6350
@jrouzierinverse what is preventing the above error from being returned when re-running the configurator  for a 2nd+ time?

[2021-08-06 17:56] satkunas commented on #6287
A fix for this may impact several other sections. Without E2E tests it's a gamble to make changes while already in testing. I will push the milestone and revisit post-v11.

[2021-08-06 18:23] jrouzierinverse commented on #6350
As far as I can tell there is nothing preventing this from being returned.
Can you provide me the payload that caused this?

[2021-08-06 18:44] #6106 closed

[2021-08-06 18:46] satkunas commented on #6038
@nqb please advise

[2021-08-07 04:00] nqb commented on #6477
In that case, should we allow to edit an interface is this one is down ?

[2021-08-07 11:26] nqb commented on #6488
Work as expected.

Note:  Login windows is displayed in web browser language but once logged, language UI is switched to preference.

[2021-08-09 08:14] nqb opened #6491 "self-service: permit to disable status and/or device-registration feature(s) per connection profile"
**Is your feature request related to a problem? Please describe.**
Currently, it's not possible to disable status and/or device registration feature(s).

Even if there is not self-service policy assigned to a connection profile, feature(s) are still enabled.

**Describe the solution you'd like**
Would be nice to be able to disable these features per connection profile.

**Describe alternatives you

[2021-08-09 09:17] nqb opened #6492 "v11: OpenID attributes are not available in dropdown"
**Describe the bug**
When you create an OpenID source, OpenID attributes (configured in System Configuration -> Advanced) are not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Declare OpenID attributes in System Configuration -> Advanced
2. Create a new OpenID source

=> There is nothing listed in "Username attribute" dropdown

**Expected behavior**
It should be possible to sele

[2021-08-09 10:46] nqb opened #6493 "v11: passthroughs defined in configuration are not added to pfsession_passthrough (ipset)"
**Describe the bug**
If you define a passthrough and try to reach it from a registration VLAN or from an inline VLAN (without being registrered), traffic is not allowed.

`pfdns` reply with real public IP address but there is nothing added to `pfsession_passthrough` (ipset)

**To Reproduce**
Steps to reproduce the behavior:
1. Add a general passthrough for `packetfence.org`
2. Restart `pfdns` and

[2021-08-09 12:34] nqb commented on #6493
I would like to go deeper but I'm not able to find anything interesting in logs.
@jrouzierinverse, could you look into this ? I will prevent us to run OpenID tests.

[2021-08-09 12:56] satkunas commented on #6492
Not able to reproduce. Custom defined attributes are shown:

![Screen Shot 2021-08-09 at 8 54 55 AM](https://user-images.githubusercontent.com/3904468/128709531-85ad59ee-37c4-442b-8d07-646d4f8092c1.jpg)

[2021-08-09 13:01] nqb commented on #6492
@satkunas, issue is not with "Conditions" but with "Username attribute" field.

[2021-08-09 13:09] satkunas commented on #6492
@jrouzierinverse can we get these allowed options added in meta for `username_attribute`?

[code]

[2021-08-09 15:45] #5834 closed

[2021-08-09 17:22] satkunas commented on #5827
Unable to reproduce original issue using recent UI build.

Revoking a cert appears to have a backend delay before the revoked cert shows up in the search. No changes are needed in the UI at this time.

[2021-08-09 17:22] #5827 closed

[2021-08-09 18:01] #5965 closed

[2021-08-09 19:14] #5939 closed

[2021-08-09 19:24] #6492 closed

[2021-08-10 07:53] nqb commented on #3979
This issue is still presents even if we used FreeRADIUS 3.0.23: logrotate file provided by our freeradius package is not the one provided with 3.0.23.

[2021-08-10 07:56] nqb commented on #5798
Old web admin has been completely deprecated, issue is not relevant.

[2021-08-10 07:56] #5798 closed

[2021-08-10 08:14] nqb commented on #4985
On Debian 11, behavior is identical. `haproxy` package installed a file `/etc/rsyslog.d/49-haproxy.conf` which take precedence over our rsyslog configuration.

We can adjust our haproxy package to remove this file.

[2021-08-10 08:30] nqb commented on #6449
I push a commit to `cpan_perl_modules` branch, need to rebuild `packetfence-perl` module.

[2021-08-10 08:30] #6449 closed

[2021-08-10 08:34] nqb commented on #6418
`systemd-logind` would not be masked anymore on EL starting from PacketFence v11 (see https://github.com/inverse-inc/packetfence/commit/987970d7c33507e7f91c645a6d5036f9f97e925e)

[2021-08-10 08:34] #6418 closed

[2021-08-10 08:39] nqb commented on #6292
Would be the case for v11 release. I'm keeping this issue opened for next release.

[2021-08-10 08:43] nqb commented on #6247
With PacketFence v11,  `sscep` v0.9.0 is packaged for EL8 and Debian 11.

[2021-08-10 08:43] #6247 closed

[2021-08-10 08:44] nqb commented on #6163
`packetfence-test` package is available since #6430

[2021-08-10 08:44] #6163 closed

[2021-08-10 08:59] nqb commented on #6377
@jrouzierinverse, could you look at that one ?

[2021-08-10 09:06] nqb commented on #6351
Moving milestone to 11.0.

[2021-08-10 09:10] #6326 closed

[2021-08-10 09:13] nqb commented on #5847
@satkunas, could you do something for that ?

[2021-08-10 10:28] nqb commented on #6350
What I did:
1. Step 1: configure interfaces
2. Step 2: configure DB + domain part with `example.local` domain + admin account password

When I clicked on "Next step", I got **expected** message returned by frontend. I was able to go back to previous step (step 1). When I go back to step 2, DB configuration was done and frontend correctly detect it. Domain config has been removed and I can enter a

[2021-08-10 10:28] nqb commented on #6350
Closing.

[2021-08-10 11:38] nqb commented on #6334
It looks like `high-availability` column is not displayed anymore during configurator.
Is it expected @satkunas ?

[2021-08-10 11:59] nqb commented on #5617
Able to replicate on PacketFence v11 (devel).

[2021-08-10 12:01] nqb commented on #6263
Able to replicate on devel.

[2021-08-10 12:09] nqb commented on #5992
Just tested again: API doesn't return Tenant ID.
How do you want to handle this @jrouzierinverse and @satkunas ?

[2021-08-10 12:22] nqb commented on #5976
No more frontend error.

However, I noticed that my user is created with `tenant_id` equals to `0` in `password` table and with `tenant_id` equals to targeted `tenant_id` in `person` table.

If I switch to a specific tenant and create a user in that tenant, `tenant_id` is identical between both tables.

I look at API calls: `/api/v1/users` and  `/api/v1/user/USERNAME/password` boths contain follow

[2021-08-10 12:23] nqb commented on #5984
I agree with @ZdenekPala: it will be an interesting improvement.

Moving milestone.

[2021-08-10 12:29] satkunas commented on #5992
@nqb I will proceed with UI changes if/when API includes tenant_id.

[2021-08-10 12:40] lzammit opened #6494 "v11: Wireless EAP TLS PacketFence PKI Windows provisioner not working"
After further investigation for Windows EAP TLS to work we need to change

/usr/local/pf/html/captive-portal/templates/wireless-profile-tls.xml

From :
[code]

To:
[code]

[2021-08-10 12:43] satkunas commented on #6334
@nqb AFAIK it never **was** displayed.

[2021-08-10 12:58] nqb opened #6495 "v11: Merge answer is always reset to "yes" in RADIUS filters"
**Describe the bug**
If you create a RADIUS filter and switch "Merge answer" from "Yes" to "No", after you click on "Save", "Merge answer" switch to "Yes".

It means that if you click a second time and save, "Merge answer" will be switch to "Yes".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RADIUS filter with Merge answer=No
2. Save
3. Save a second time

=> Frontend send "merge

[2021-08-10 13:11] jrouzierinverse opened #6496 "Fix Linux::Distribution to support Alma/Rocky Linux"

[2021-08-10 13:20] jrouzierinverse opened #6497 "Preload all Mojo Controllers on startup"
Please note
-----------
Github issues are for reporting/tracking DEVELOPMENT ISSUES. For anything related to getting help in running PacketFence, or anything else not related to DEVELOPMENT, please use the mailing-list (https://lists.sourceforge.net/lists/listinfo/packetfence-users).

Any issues not related to DEVELOPMENT - WILL BE CLOSED -

How to properly file an issue
--------------------------

[2021-08-10 13:27] satkunas commented on #6350
The `PUT config/system/gateway` is only called on subsequent configurations when the gateway is mutated. Therefore the `hostname` warning is not produced the 2nd+ configuration if the `gateway` is left as-is.

Ref: https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/src/views/Configurator/network/_components/TheList.vue#L291-L295

 @nqb @jrouzierinverse should we alter this

[2021-08-10 13:37] nqb commented on #6350
If the warning has been displayed the first time, user should remember it ?

[2021-08-10 13:57] #6350 closed

[2021-08-10 13:58] satkunas commented on #6350
Direct feedback has been added to the form to show an inline warning with .local domains. This addresses the last issue mentioned above.

![Screen Shot 2021-08-10 at 9 57 25 AM](https://user-images.githubusercontent.com/3904468/128880211-b1401c5c-164a-4f2d-8ead-4ddd15c3db7e.jpg)

[2021-08-10 14:26] nqb commented on #6493
@jrouzierinverse, with your fix, now I see correct IP addresses in `pfsession_passthrough` but they used wrong ports (`0` and `3`):

[code]

It looks like `80` and `443` are truncated.

[2021-08-10 14:36] nqb commented on #6495
This issue also occured with `Role` on VLAN filters.

I suppose issue is present for all fields which have default values in Filter engines.

[2021-08-10 14:37] #6495 closed

[2021-08-10 14:47] jrouzierinverse commented on #5992
The Tenant Id is returned the field is ```TenantId``` not ```tenant_id```
```/usr/local/pf/sbin/pfperl-api get  /api/v1/config/switches | jq -r .items[].TenantId```

[2021-08-10 15:03] lzammit commented on #4816
Still the case in v11.

[2021-08-10 15:06] #6493 closed

[2021-08-10 15:11] #6497 closed

[2021-08-10 17:00] #5992 closed

[2021-08-11 06:53] nqb opened #6498 "v11: pfperl-api doesn't start"
**Describe the bug**
Integration tests failed last night at configurator step (on EL8 and Debian 11), almost all API calls returned 502 error code.

This was not the case yesterday. I think it's caused by following commit: 8fc9df6ed4f58904a4fd29bc985d5394114b39c7

Logs:
- https://gitlab.com/inverse-inc/packetfence/-/jobs/1493834862#L497
- https://gitlab.com/inverse-inc/packetfence/-/jobs/149383487

[2021-08-11 07:04] nqb commented on #6498
Logs of `pfperl-api`:

[code]

[2021-08-11 13:49] jrouzierinverse commented on #6498
Fixed by 3502c291b189a502b89f87767f71db12d81d3895

[2021-08-11 13:49] #6498 closed

[2021-08-11 13:53] jrouzierinverse commented on #6497
This caused some issues will properly debug them after the release of v11

[2021-08-11 15:26] satkunas commented on #5949
Fixed in https://github.com/inverse-inc/packetfence/commit/a29e1786f1b358e2e2f43ab66922b11818f51b95

[2021-08-11 15:26] #5949 closed

[2021-08-11 15:52] jrouzierinverse commented on #5653
This is no longer an issue

[2021-08-11 15:52] #5653 closed

[2021-08-11 15:57] jrouzierinverse commented on #5751
Is this still an issue?

[2021-08-11 16:27] TheDigitalPlumber commented on #6455
@fdurand Following up on my last message. I can see all the running services throughout my cluster, but I'm not seeing additional details on which node is the primary for each cluster  or any other high availability details? This is my reason for a feature request. If I should be seeing more details, please let me know.

[2021-08-11 16:31] #4224 closed

[2021-08-11 16:31] satkunas commented on #4224
![Screen Shot 2021-08-11 at 12 28 22 PM](https://user-images.githubusercontent.com/3904468/129067542-c28719c5-5a00-4674-988d-abf6a9b6b635.jpg)

[2021-08-12 06:04] nqb commented on #5751
We can close it.

[2021-08-12 06:04] #5751 closed

[2021-08-12 06:16] nqb commented on #6498
and also https://github.com/inverse-inc/packetfence/commit/3502c291b189a502b89f87767f71db12d81d3895

[2021-08-12 09:15] nqb opened #6501 "v11: gstatic.com passthroughs are ignored by pfdns"
**Describe the bug**
If you add `www.gstatic.com` or `*.gstatic.com` as a passthrough (globally or on a specific source), `pfdns` always returned captive portal IP address in place of real IP address.

Same behavior with `connectivitycheck.gstatic.com`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `*.gstatic.com` as a passthrough
2. Restart `pfdns` and `iptables`
3. As an unregistered

[2021-08-12 14:27] nqb opened #6502 "v11: roles inherited from switch groups are not visible on switches"
**Describe the bug**
It's not possible to see which ID has been assigned to a role when you browse a switch which inherited values from a switch group.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a switch group and set `guest=15`
2. Create a switch, member of switch group created at step 1.
3. Browse your switch (Roles tab)

=> You don't see value of `15` for `guest` role

**Expec

[2021-08-12 14:38] nqb opened #6503 "v11: cloning a sponsor source display a question mark in Associated sources field"
**Describe the bug**
If you clone a sponsor source which has a value in Associated Sources, frontend displays a question mark in that field (in place of source name).

If you want to change source in Associated Sources during copy, dropdown doesn't display anything.

If you save without changing anything, your new source has kept value from cloned source.

**To Reproduce**
Steps to reproduce the b

[2021-08-12 14:39] jrouzierinverse commented on #6501
www.gstatic.com is preconfigured in detection_mecanism_urls as a detection url.

This may not be a bug.
Since DetectionMechanisms are checked first then passthroughs it is working as expected.
If this is a bug then it should be moved to v11.1 since I prefer not to change the current behavior this late in the game.

[2021-08-12 14:42] nqb commented on #6501
@jrouzierinverse, could you try to do what I already did:
- remove www.gstatic.com from `detection_mecanism_urls`
- restart services
- test again

=> On my side, it still returned captive portal URL but perhaps I did a bad test

[2021-08-12 15:11] #6032 closed

[2021-08-12 15:35] jrouzierinverse commented on #6503
@satkunas is missing the url query parameter type=SponsorEmail from the options request

[2021-08-12 16:04] #5473 closed

[2021-08-12 16:40] satkunas commented on #6502
@nqb I was able to expand the meta placeholders for 3 of the 4 sections.

@jrouzierinverse The resource meta included `AccessListMapping`, `UrlMapping` and `VlanMapping`, But it did **not include `roleMapping`**, so I was not able to expand these placeholders. I don't know if this is intentional, or if it was missed. Please have a look and let me know if/when you add this field to the meta data.

[2021-08-12 16:49] satkunas opened #6504 "Switch description the same as inherited Switch Group description is ignored on save"
**Describe the bug**
Title says it all

**To Reproduce**
Steps to reproduce the behavior:
1. Create a switch group
2. Add a description to this group
3. Create a switch that inherits from this group
4. Use the same description in Switch ad from Switch Group created above
5. Description is thrown away and inherited value is used instead. This causes the user to have to re-enter the description each

[2021-08-12 16:52] satkunas commented on #6502
@jrouzierinverse is this what the `ControllerRoleMapping` is for?

If so, should we rename the following?

![Screen Shot 2021-08-12 at 12 52 37 PM](https://user-images.githubusercontent.com/3904468/129236865-66b28b09-f312-4ac0-853b-ecdced6d5ec3.jpg)

[2021-08-12 20:11] #6503 closed

[2021-08-13 11:45] nqb opened #6505 "v11: error message when Realms are displayed in a single-tenant setup"
**Describe the bug**
When you go in Realms menu on a single-tenant setup, you got following error message:

`config/realms/search: Token is not allowed to access this tenant 0 and only has access to tenant 1`

On top of that, frontend displays two sections: global and default.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Realms menu in a single-tenant setup

**Expected behavior**
-

[2021-08-13 12:10] #6505 closed

[2021-08-13 12:36] satkunas opened #6507 "OPTIONS /config/firewalls?type=BarracudaNG 500 Error"
**Describe the bug**
Title says it all

**Additional context**
[code]

[2021-08-13 13:08] #6507 closed

[2021-08-13 13:20] nqb commented on #5976
Action "Tenant ID" doesn't work on the backend so @satkunas will comment it for the release.

We will follow-up after the release.

[2021-08-13 13:23] nqb commented on #6477
@jrouzierinverse did backend work. @satkunas will adjust frontend.
Changes will impact EL and Debian systems.

[2021-08-13 13:31] nqb commented on #6487
Frontend is sending "null" value when no expiration date is provided. @jrouzierinverse will look into the issue.

[2021-08-13 13:49] nqb commented on #5611
To summarize:
- unregdate on node should be date time
- unregdate on user and authentication rules should be date because we never support it.

@jrouzierinverse will revert changes
@nqb too
@satkunas will adjust frontend and revert changes.

[2021-08-13 14:10] nqb commented on #6313
Packages will not be rebuilt for previous releases. For next release, OS need to be fully upgraded so copy of configuration file will be done manually.

I will add an entry in our upgrade guide (Upgrade to 10.2) to specify that `pfmon.conf` needs to be save on Debian before running package upgrades.

[2021-08-13 14:21] #6313 closed

[2021-08-13 14:49] satkunas commented on #5976
`set_tenant_id` source rule action disabled in https://github.com/inverse-inc/packetfence/commit/3a52da91f3b7fe04d92ae713f68231b790d77672

We will discuss the issues with this action with @julsemaan post-release and provide a workable solution.

[2021-08-13 17:52] #5611 closed

[2021-08-13 19:12] #6487 closed

[2021-08-16 10:21] nqb commented on #5973
`Crypt::SMIME` has been removed from `packetfence-perl` pkg in 1.1.0 version.

Our own `Crypt::SMIME` packages with `signonly_attached` will be updated soon in `11.0` repositories.
Once done, I will test again.

[2021-08-16 12:01] nqb commented on #5976
I'm moving milestone, no more actions needed for 11.0

[2021-08-16 12:51] nqb commented on #6501
@jrouzierinverse,

I tested again using steps provided in my last comment: resolution of `www.gstatic.com` is always `66.70.255.147`.

IMHO, it means that there is something wrong in this codepath. If we remove a domain from `detection_mecanism_urls` and this domain is added to passthrough, I don't see why we should not return real IP address of domain.

I tried on a 10.3 setup: same result.

[2021-08-16 14:39] nqb commented on #5973
Packages added into 11.0 repositories, I will test tomorrow.

[2021-08-16 19:05] #6496 closed

[2021-08-16 19:41] #6443 closed

[2021-08-16 20:05] jrouzierinverse commented on #6501
All URLs defined in captive_portal.detection_mecanism_urls in conf/pf.conf.defaults cannot be removed.
This seems to be issue where the frontend not matching the behavior of the backend.

[2021-08-17 08:10] nqb commented on #5973
### Debian 11 test

It failed with following error in `httpd.portal.catalyst`:

`Aug 17 08:08:33 pfdeb11dev portal_catalyst[30970]: httpd.portal(30970) ERROR: [mac:00:03:00:11:11:02] Caught exception in captiveportal::View::MobileConfig->process "Usage: Crypt::SMIME::AUTOLOAD() at /usr/local/pf/lib/pf/provisioner/mobileconfig.pm line 307." (Catalyst::finalize)`

[2021-08-17 10:02] nqb opened #6508 "v11(EL8): /etc/sysconfig/network is malformated"
**Describe the bug**
On EL8, after you passed through configurator and reboot, all network cards configured previously doesn't have any IP addresses.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through Configurator and configure several interfaces
2. Reboot

=> All interfaces configured previously lost network configuration

**Expected behavior**
Network configuration is kept between

[2021-08-17 10:59] julsemaan commented on #6501
@jrouzierinverse is right. The backend doesn't support removing entries from these type of lists (merged_list). The frontend makes this confusing by using a placeholder in those types of fields. The placeholder should be removed in the text field of merged_list

Reassigning to @satkunas

[2021-08-17 11:25] julsemaan opened #6510 "Unable to shutdown on RHEL8 because systemd-logind is masked"
**Describe the bug**
Title seems to say it all

**To Reproduce**
1. Install PF on RHEL8
2. Shutdown using `shutdown -h 0`
3. Obtain:
![image](https://user-images.githubusercontent.com/3857942/129717892-96d7ad11-a955-4820-a5af-c3e279195ce1.png)

[2021-08-17 11:26] julsemaan commented on #6510
We should either:
- Not mask systemd-logind in our spec file
- Unmask systemd-logind after PF is installed

Workaround:
`systemctl unmask systemd-logind`

[2021-08-17 11:28] julsemaan commented on #6510
Looks like its been addressed but my machine wasn't installed using the most recent spec:
https://github.com/inverse-inc/packetfence/commit/987970d7c33507e7f91c645a6d5036f9f97e925e

[2021-08-17 11:28] #6510 closed

[2021-08-17 12:03] julsemaan opened #6511 "Switch type selection typeahead is case sensitive"
**Describe the bug**
When using the typeahead to select a switch type (ex: `AeroHIVE AP`), it doesn't ignore the case of the search like it used to before

**To Reproduce**
1. Create a new switch
2. Go in the `Type` field
3. Input `aero`
4. No types are displayed

**Expected behavior**
The 3 types containing `aero` should be displayed

**Additional context**
Searching for `Aero` returns the expect

[2021-08-17 12:12] satkunas commented on #6511
Filtered searches are all now case-sensitive. Blame https://github.com/inverse-inc/packetfence/issues/5663

Will not fix.

[2021-08-17 12:38] satkunas commented on #6501
@jrouzierinverse we'll need to implement a new property in meta as discussed in https://github.com/inverse-inc/packetfence/issues/6195

Reeassigning to @jrouzierinverse

[2021-08-17 13:26] julsemaan commented on #6511
Its not all searches that should be case sensitive...

They should be case sensitive or insensitive depending on the context

It makes no sense to have it done this way, we need this to be flexible

[2021-08-17 13:37] nqb commented on #6511
I agree with @julsemaan.

[2021-08-17 13:52] julsemaan commented on #6351
discussed this with @extrafu and this is a bit late for v11, postponing to v11.1

[2021-08-17 13:53] nqb opened #6512 "pfpki: operation=GetCACert always returns same CA certificate"
**Describe the bug**
When you have several CA configured in `pfpki` and you try to get a certificate from a CA using `sscep`, you can get certificate from another CA.

**To Reproduce**
Steps to reproduce the behavior:
1. Add portal daemon on your management interface
1. Create two CA (CA1 and CA2) with one profile for each of them in `pfpki`
2. Run following commands on PacketFence server:

[code]

[2021-08-17 13:56] #6502 closed

[2021-08-17 14:58] jrouzierinverse commented on #6501
Fixed the meta Reeassigning to @satkunas

[2021-08-17 15:07] #6195 closed

[2021-08-17 15:07] #6501 closed

[2021-08-17 15:37] #6511 closed

[2021-08-17 16:16] julsemaan opened #6513 "Creating a CA with invalid parameters returns HTTP status code 200 but payload has 422 and error"
**Describe the bug**
When you create a CA certificate that is invalid, there is an error in the response and the status is set to 422 in the response body but the HTTP code stays 200 which makes the admin interface think it worked

[2021-08-17 16:25] #6504 closed

[2021-08-17 16:44] #6513 closed

[2021-08-17 16:57] julsemaan opened #6514 "Unable to edit an existing PKI certificate template"
**Describe the bug**
If you create and then edit a certificate template, it fails in pfpki because 2 different ID fields are included

**To Reproduce**
1. Create a certificate template in Configuration->Integration->PKI Templates
2. Edit this template and save it without changing anything
3. You get error: json: cannot unmarshal string into Go struct field Profile.ID of type uint

**Expected behav

[2021-08-17 16:57] julsemaan commented on #6514
This seems to apply to other sections of the PKI but templates were used as an example

[2021-08-17 17:18] extrafu commented on #6494
See https://github.com/inverse-inc/packetfence-windows-agent/blob/54112a26ff6faea40e59dc84ae0bbc89384a2dfb/templates.go for fixing the issue.

[2021-08-17 17:48] #6514 closed

[2021-08-17 17:54] julsemaan commented on #6512
I ran the commands and it seems the problem may be the actual sscep command and not pfpki

I took a tcpdump and the sscep client is sending this: `GET /api/v1/scep/TTCA1?operation=GetCACert&message=CA1=GetCACert&message=CA1 HTTP/1.1`

So the malformed URL seems to be coming from there.

Still digging deeper but will likely need feedback from @nqb

[2021-08-17 18:03] julsemaan commented on #6514
@satkunas, did you validate the other sections of the PKI in the admin?

The commit only fixes the profiles

[2021-08-17 18:08] julsemaan commented on #6512
And what's weirder to add on top of my comment above is that the sscep command claims it sends this: `GET /scep/TTCA1?operation=GetCACert&message=CA1 HTTP/1.1`

[2021-08-17 18:19] julsemaan commented on #6512
Looks like the portal is called and then bridges to pfpki and its the portal piece that adds the invalid URI components but even with the right URL, its broken in pfpki :(

[2021-08-17 19:40] #6512 closed

[2021-08-17 19:53] satkunas commented on #6514
@julsemaan I checked the api calls from the other 3 sections and no other section uses PUT/PATCH with a payload. So no other changes were made.

[2021-08-17 20:04] julsemaan opened #6515 "haproxy-portal doesn't rewrite scep queries correctly"
**Describe the bug**
Based on #6512 where @nqb discovered the query pfpki receives isn't valid

**To Reproduce**
1. Do: curl `http://192.168.3.35/scep/TTCA2?operation=GetCACert&message=CA2`
2. The path that pfpki gets is: `GET /api/v1/scep/TTCA2?operation=GetCACert&message=CA2=GetCACert&message=CA2 HTTP/1.1`

The only culprit can be haproxy-portal from what I can tell as it doesn't go through any

[2021-08-18 04:06] jrouzierinverse commented on #6386
Do we still want this maintenance?

[2021-08-18 04:09] jrouzierinverse commented on #6386
Do we want a script to normalize all /32 to a single ip address.

[2021-08-18 11:35] julsemaan commented on #6386
I don't think the script belongs in the maintenance but the fix that ensures no `/32` gets configured in the switches.conf can go there

[2021-08-18 11:46] julsemaan commented on #6515
This is on RHEL8 using `haproxy-2.2.14-1.1.x86_64`

[2021-08-18 12:00] julsemaan commented on #6515
This is also breaking URLs for the static assets: `GET /common/pf.js?.1:8889/common/pf.js? HTTP/1.1`

[2021-08-18 12:14] nqb opened #6518 "monit: add `set httpd` statement in monitrc on Debian"
As mentioned by @julsemaan on #6506, Debian users need to manually add `set httpd` statement in their monit configuration because this is not enabled by default.

We can adjust `monit_build_configuration.pl` script to add this configuration automatically on Debian only.

[2021-08-18 12:26] nqb commented on #6515
On Debian, we used `haproxy 2.2.15`

[2021-08-18 12:36] nqb commented on #6515
Identical results on Debian 11:

[code]

[2021-08-18 13:18] julsemaan commented on #6515
Same with the latest patch release of haproxy (2.2.16), will try the latest and greatest

[2021-08-18 13:42] #6515 closed

[2021-08-18 14:02] julsemaan opened #6520 "Disabling SCEP on a PKI profile leaves it enabled"
**Describe the bug**
Disabling SCEP on a PKI profile leaves it enabled

**To Reproduce**
1. Create a PKI profile that has SCEP enabled during its creation
2. Edit this PKI profile and try to disable SCEP
3. SCEP stays enabled

**Expected behavior**
SCEP is disabled on that profile

**Additional context**
The request payload is fine, the response isn't so pfpki isn't disabling it correctly

[2021-08-18 14:02] julsemaan commented on #6520
Modifying a text field like the 'SCEP challenge password' works as expected

[2021-08-18 14:09] julsemaan commented on #6520
Caused by the fact the SCEPEnabled and CloudEnabled attributes in the PKI Profile model are integers and 0 is the empty value so it never gets persisted when updating the value to 0

[2021-08-18 14:25] #6520 closed

[2021-08-18 14:37] nqb commented on #5973
`wireless-profile.mobileconfig` is correctly generated when I tried to download it on captive portal with latest `libcrypt-smime-perl` (Debian 11)

I'm not sure about the command I should use to validate that file is correctly signed.

[2021-08-18 16:58] julsemaan opened #6521 "Unable to select some authentication sources during creation"
**Describe the bug**
See screenshot below:
![image](https://user-images.githubusercontent.com/3857942/129940401-2d1463bb-f347-4657-b7a2-cb8e1a809464.png)

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: Firefox
 - Version 91.0.1

[2021-08-18 18:00] #6521 closed

[2021-08-18 19:26] jrouzierinverse commented on #6386
By putting this is maintenance a person cannot use a /32 to create a new switch.

But will be able to modify any old switches that are /32.

However if they have both /32 and single ip then only the single ip switch will be taken in consideration.

[2021-08-19 04:21] #6386 closed

[2021-08-19 05:34] #6508 closed

[2021-08-19 06:28] nqb opened #6522 "Multi-tenant: EAP-TLS is not supported"
**Is your feature request related to a problem? Please describe.**
If you want to set up a multi-tenant environment, you will not be able to use EAP-TLS for each tenant because our current RADIUS implementation only support one SSL configuration for one RADIUS server.

**Describe the solution you'd like**
Support EAP-TLS in a multi-tenant configuration.

For example, a end user with a client certi

[2021-08-19 06:47] nqb commented on #6477
I'm reopening because I would like to be sure about fix added by @jrouzierinverse and @satkunas.

On latest devel build (Debian 11), if I try to edit an interface **down** at step 1 of the configurator, I can do it. I can also assign an IP address to this interface. After I save my settings, I see that this change is saved in `/etc/network/interfaces` even if my interface was down.

@jrouzierinver

[2021-08-19 07:05] nqb commented on #6477
I think that is **not** the expected behavior.

After a reboot (I didn't continue the configurator), I noticed following thing:
- `/etc/network/interfaces` contains following content for my interface which was down:
[code]
=> `auto eth4` is missing which means that interface is not up after a reboot, you need to run `ifup eth4` to get correct IP configuration. For all other interfaces, we add `aut

[2021-08-19 07:28] nqb commented on #6512
Works as expected on my side when I try to pull a PFPKI certificate using SCEP on a PacketFence server running on Debian 11.

[2021-08-19 08:11] nqb opened #6523 "pfpki: get a cert using sscep enroll failed"
**Describe the bug**
If I try to get a certificate using  `sscep enroll`, `pfpki` generates certificate but doesn't return it.

**To Reproduce**
Steps to reproduce the behavior:
1. `yum install packetfence-test --enablerepo=packetfence`
2. `cd /usr/local/pf/t/venom/; make install ; make dot1x_eap_tls_pfpki_no_teardown`

=> Your admin password should be "secret", it will replace RADIUS and HTTP cer

[2021-08-19 09:15] nqb opened #6524 "v11: assign an access level using an administration rule doesn't work"
**Describe the bug**
If you create a source to assign an access level, it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Htpasswd source (or try to edit existing `file1` administration rule
2. Assign an access level of ALL using a catchall administration rule

=> Frontend displays following error message:

`config/sources: administration_rules.0.actions.0.value: Fiel

[2021-08-19 09:37] nqb commented on #5997
On v11, I see a line in logs each time I triggered a Disconnect request:
[code]

It generates following display:
![Capture d’écran de 2021-08-19 11-35-54](https://user-images.githubusercontent.com/10830260/130045944-29ec1d9d-1498-4d14-9df6-d13e8981c956.png)

I'm almost 99% sure, this error message was not present in 10.3.

@jrouzierinverse, I see your related PR for this issue and also comments of

[2021-08-19 12:23] satkunas commented on #6477
@nqb can you post the resposne the GET /config/interfaces call? The interface should include `not_editable: true` in order for the front-end to work from.

[2021-08-19 13:13] nqb commented on #6477
@satkunas, eth3 is one interface down and `not_editable` equals `true` but nothing prevents me to edit it:

[code]

[2021-08-19 13:18] julsemaan commented on #6523
f081267 should address this issue

I found a case where if you don't have a CN in your CSR then the subject of the issued cert is empty but I'm not sure if that's an expected behavior where only the CN of the CSR is being used to issue the cert and it ignores the rest of the subject. That's minor though as it does work as expected AFAIK where the cert is issued by the right CA

[2021-08-19 13:20] nqb commented on #6523
I will test again.

[2021-08-19 13:45] satkunas commented on #6477
On my RHEL build the interface should be marked w/ a yellow background, no buttons are shown on the right-most column

![Screen Shot 2021-08-19 at 9 43 53 AM](https://user-images.githubusercontent.com/3904468/130079488-35f6d17f-7c0e-4bec-806a-e443d7ba2773.jpg)

Clicking on it should avoid redirect and produce a notification

![Screen Shot 2021-08-19 at 9 43 40 AM](https://user-images.githubusercon

[2021-08-19 13:47] julsemaan opened #6525 "Firewall SSO in multi-tenant mode doesn't work"
**Describe the bug**
It looks like the unified API client is sending the X-PacketFence-Tenant-Id header multiple times (probably readded on every request)

Example:
[code]

[2021-08-19 13:47] nqb commented on #6477
I don't have this behavior on Debian 11

[2021-08-19 13:48] satkunas commented on #6477
Does it function properly in configuration (post-configurator) ?

[2021-08-19 13:54] jrouzierinverse commented on #6524
The payload sends ```administration_rules[0].actions[0].value``` as an array instead of a comma separated string.
@satkunas was this a change of behavior in what the frontend sends?

[2021-08-19 13:55] nqb commented on #6525
You have to count each X-PacketFence-Tenant-Id value to get the correct Tenant-Id, here the tenant is 4

[2021-08-19 13:57] #6525 closed

[2021-08-19 14:01] nqb commented on #6477
Issue is not present in configuration (post-configurator), only during configurator.

[2021-08-19 14:19] nqb commented on #6523
It works as expected, after I pulled certificate, I'm able to use it for authentication and authorization.

I also noticed what you describe in your previous comment. I will open a dedicate issue for this one.

[2021-08-19 14:19] #6523 closed

[2021-08-19 14:29] #6477 closed

[2021-08-19 14:32] jrouzierinverse commented on #6524
Fixed by c24d165a8641f2b4b27abc4d74172687fc3e39dd

[2021-08-19 14:32] #6524 closed

[2021-08-19 15:20] julsemaan opened #6526 "NBA policy blacklisted ports window field cannot be viewed/edited"
**Describe the bug**
As seen in the screenshot below, the value of the field is empty:
![image](https://user-images.githubusercontent.com/3857942/130095341-667ecffa-d96a-42be-967f-6df551c1bf9c.png)

**To Reproduce**
1. Go in Configuration->Compliance->Network Anomaly Detection
2. Edit android_blacklisted

**Additional context**
The policy in the file does contain a valid value for the blacklisted

[2021-08-19 16:28] #6526 closed

[2021-08-19 17:11] julsemaan commented on #6494
@lzammit, please try https://support.inverse.ca/~jsemaan/packetfence-windows-agent.exe and let us know if it works and I'll push this into devel

[2021-08-19 17:26] #4482 closed

[2021-08-19 17:27] jrouzierinverse commented on #4867
Can this be closed?

[2021-08-19 17:50] julsemaan opened #6528 "Editing the admin user provides an error about the registration window end being of the wrong format"
**Describe the bug**
With a freshly configured machine, editing the admin user says the end of the registration window has an invalid format

**To Reproduce**
1. Use a fresh machine (or freshly imported DB schema)
2. Edit the admin user
3. See the error:
![image](https://user-images.githubusercontent.com/3857942/130119079-6a311917-05c5-4072-afb1-46d46a60dc73.png)

[2021-08-19 17:51] julsemaan commented on #6528
what is weird too is that the begin datetime of the registration is fine with an hour but not the end

[2021-08-19 18:08] julsemaan opened #6529 "Unable to perform Android provisioning with a local PKI"
**Describe the bug**
Unable to perform Android provisioning with a local PKI

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a local PKI pointing to the local radiusd certs in raddb/certs
2. Configure the android provisioner and enable it on the connection profile
3. Try it out and the client gets this error:

![image](https://user-images.githubusercontent.com/3857942/130121406-f8b

[2021-08-19 18:08] julsemaan commented on #6529
I guess we need a newer/older/altered version Crypt::OpenSSL::PKCS12

[2021-08-19 20:32] satkunas commented on #6528
@julsemaan The backend should be stripping off the time portion. Please see https://github.com/inverse-inc/packetfence/issues/5611

Please loop-in myself and @jrouzierinverse if this needs more discussion

[2021-08-20 00:08] jrouzierinverse commented on #6528
The expiration for the user has date and time.
The unregdate for actions (like in sources) is just a date

[2021-08-20 05:47] #4867 closed

[2021-08-20 06:20] nqb commented on #6477
It works as expected in the configurator.

[2021-08-20 07:00] #2826 closed

[2021-08-20 11:58] julsemaan commented on #6528
That is exactly it. The registration window of a user **must** be a datetime, as well as the unregdate of a node.
We cannot strip the time off these fields as users may have access for hours and not necessarily full days until midnight

[2021-08-20 12:23] julsemaan opened #6532 "Creating/modifying/deleting a syslog forwarder should prompt to restart rsyslog in the admin"
**Describe the bug**
Creating/modifying/deleting a syslog forwarder should prompt to restart rsyslog in the admin

**To Reproduce**
1. Create a new syslog forwarder entry in the admin interface
2. It isn't active until you restart rsyslog via the command line

**Expected behavior**
Like the other admin sections, it should prompt to restart rsyslog when doing an operation on the entry
There is an A

[2021-08-20 12:28] julsemaan commented on #6341
@nqb, I guess we'll need this fixed for v11, right ? Or is this issue gone with Debian 11 ?

[2021-08-20 12:34] julsemaan commented on #5858
@nqb, is this still relevant and do we need to fix this for v11 ?

[2021-08-20 12:35] julsemaan commented on #5973
You would need to try it with an iOS device or I'm pretty sure there is an openssl command to validate it. @jrouzierinverse, I recall you did validate those locally with openssl, do you recall the command, or have pointers to the right direction ?

[2021-08-20 12:36] julsemaan commented on #5990
I guess this issue is relevant but won't be addressed for v11 given the commit @fdurand referred to isn't in devel right now

Let just confirm that and shovel this to 11.1

[2021-08-20 12:37] julsemaan commented on #6331
The user isn't visible because its likely in the password table but not in the person table

@extrafu, opinion on keeping `demouser` ?

I'm fine with removing it, we just need to remove that from the doc too since there is a reference to it from what I recall

[2021-08-20 12:38] julsemaan commented on #6454
@jegoi, please test and confirm if the issue persists

[2021-08-20 13:11] nqb commented on #6331
It's on my TODO list for new ZEN image.

[2021-08-20 13:15] nqb commented on #5990
Two limitations has been fixed in 10.3 by @fdurand, certainly in #6213.
Remaining part is related to "CSR generation" on webadmin and also to display Subject Alternative Name extension in web admin.

[2021-08-20 13:16] extrafu commented on #6331
We could remove it and in the doc, say how to create it.

[2021-08-20 13:17] nqb commented on #5858
No because we removed `NM_CONTROLLED=no` from sysconfig scripts in #6407.

[2021-08-20 13:17] #5858 closed

[2021-08-20 13:17] julsemaan commented on #5990
So do we call this good enough for 11.0 and shovel that to 11.1 for the CSR generation and SAN in the admin ?

[2021-08-20 13:26] nqb commented on #5990
I would say yes. Users who need to generate CSR can use workaround provided above.

[2021-08-20 13:27] nqb commented on #6341
Yes, I will take care of this issue.

[2021-08-20 13:29] julsemaan opened #6533 "Unable to get syslog CEF to work on RHEL8 + MariaDB 10.5.12"
**Describe the bug**
Tried to get syslog CEF to work on the latest devel and I'm unable to get it working

**To Reproduce**
1. Configure an event logger:
[code]
2. Restart packetfence-mariadb
3. Start a tcpdump: `tcpdump -nlp -i any host 2.3.4.5`
4. Do something in the admin to generate an admin API audit log entry. Entry appears in the table but no syslog message is sent

**Additional context**

[2021-08-20 13:29] nqb commented on #6532
As mentioned in [our documentation](https://www.packetfence.org/doc/PacketFence_Installation_Guide.html#_syslog_forwarding), you also need to run `/usr/local/pf/bin/pfcmd generatesyslogconfig`.

I don't think we have an API call for that and I think that restarting `rsyslog` will not put your configuration in production.

[2021-08-20 13:30] julsemaan commented on #6533
I know that #6031 was tested against CentOS7 and its associated MariaDB version so perhaps this is a regression due to RHEL8 and/or the newer MariaDB version

[2021-08-20 13:36] nqb commented on #6533
@julsemaan, could you run `select * from func;`

[2021-08-20 13:42] #6528 closed

[2021-08-20 13:58] julsemaan commented on #6533
[code]

[2021-08-20 13:59] julsemaan commented on #6532
When you restart rsyslog, it regenerates the configuration

[2021-08-20 14:03] JeGoi commented on #6454
Tested with 230 switches on PF11 and looks perfect!
I am closing it. Thanks

[2021-08-20 14:09] julsemaan commented on #6533
[code]

[2021-08-20 14:20] jrouzierinverse commented on #6533
Can you send me the output of ```cat /usr/local/pf/var/conf/mariadb_pf_udf```

[2021-08-20 14:29] JeGoi opened #6534 "Switch without Switch Group?"
**Describe the bug**
When you create a switch you need to choose a switch group
After that point, you can remove that switch group but the switch looks still linked to this group.
In the config the "group=" is not here.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the switch
2. Renove the group
3. Show in switch group or in the tab switch, the switch is still linked to the group

*

[2021-08-20 14:33] JeGoi commented on #6534
It looks that "no group" = "default"

[2021-08-20 14:35] julsemaan commented on #6533
Looks empty:
[code]

[2021-08-20 14:36] satkunas commented on #6532
@julsemaan The API responses from `/api/v1/system_service/:service/:method` and `/api/v1/service/:service/:method` differ. I won't be able to offer a service button for `rsyslog` that behaves the same as the others until the former API call has some changes made. Since these changes might cause regressions in the configurator I will defer on adding the usual service button for now, and instead off

[2021-08-20 14:37] JeGoi commented on #6454
I reopen it.
When you change the switch from one group to another group on the switch configuration UI, it is not reflected in the switch group where it has been moved.
In the config file, the new group is well set.
Cache Issue?

[2021-08-20 14:37] julsemaan commented on #6532
Lets just put a warning on top of the section like in the `Event loggers`

[2021-08-20 14:39] JeGoi commented on #6454
Looks like a cache Issue

[2021-08-20 14:39] #6454 closed

[2021-08-20 14:41] jrouzierinverse commented on #6533
Send the config file ```/usr/local/pf/conf/event_loggers.conf``` please.

[2021-08-20 14:42] julsemaan commented on #6533
Its the exact content that is in the bug description above

[2021-08-20 14:48] JeGoi commented on #6452
Ok it looks fine. I can see and choose any of the 220 switches from the other group.
Thanks

[2021-08-20 14:48] #6452 closed

[2021-08-20 14:52] jrouzierinverse commented on #6533
Can you do a configreload and restart packetfence-mariadb

[2021-08-20 14:55] satkunas commented on #6532
@julsemaan done. I left this issue open so we can reassign the milestone and revisit again later.

[2021-08-20 14:57] satkunas commented on #6534
AFAIK we've never enforced a group for a switch. Should a validator be added to prevent the group from being cleared/empty?

[2021-08-20 15:00] julsemaan commented on #6534
No we shouldn't, an empty group uses the default section

If we want to enforce this we need to also add a default group value in the switches.conf.defaults, not just adjust the frontend

Lets leave this aside for now IMO so that we don't introduce a regression

[2021-08-20 15:02] julsemaan commented on #6533
That was done before opening the issue too, did it again and no difference

But I restarted packetfence-config and packetfence-mariadb and it started working

My guess is that there must be a missing child dependency in your pfconfig namespaces because all the other pfconfig stuff works on this machine other than the event loggers

[2021-08-20 15:08] julsemaan commented on #6533
To add on top of my comment above, if I modify the existing entry in the admin and save it and restart packetfence-mariadb, the file `/usr/local/pf/var/conf/mariadb_pf_udf` becomes empty again until I restart packetfence-config and packetfence-mariadb

[2021-08-20 15:09] jrouzierinverse commented on #6533
Is this in a standalone or cluster environment?

[2021-08-20 15:10] julsemaan commented on #6533
standalone

[2021-08-20 15:22] #6494 closed

[2021-08-20 15:44] julsemaan opened #6535 "Syslog CEF configuration doesn't look valid with multiple namespaces"
**Describe the bug**
When you have multiple namespaces you want to do syslog CEF against, it doesn't seem to generate the right configuration

**To Reproduce**
1. Configure an event logger with the following:
[code]
2. Restart packetfence-config and packetfence-mariadb
3. See invalid conf:
[code]

[2021-08-20 15:46] julsemaan commented on #6533
Also, if you restart packetfence-mariadb twice, it does work so its not related to the restart of packetfence-config

[2021-08-20 15:56] julsemaan commented on #6533
Looks like its actually a race condition issue. After saving the resource, pfconfig's in memory cache (L1) is flushed

When restarting mariadb, generatemariadb calls pfconfig to obtain the keys of config::EventLoggers

pfconfig doesn't have it in memory so it calls the DB (its L2 cache) to obtain the value

In that case, it has to read it from the file directly but I guess that for a reason I have

[2021-08-20 16:00] #6533 closed

[2021-08-20 16:02] julsemaan commented on #6533
For the record, the reason why it was always working with the 2nd restart of packetfence-mariadb or the restart of packetfence-config is that the resource would have been loaded in L1 in both cases during that moment so it would work when restarting packetfence-config afterwards

I ended up bypassing the pfconfig daemon and calling the pfconfig module directly in order to remove the daemon depende