[2019-01-31 11:21] nqb opened #3976 "AD source: too complex password prevent RADIUS to start"
On 8.3, LDAP passwords in `/usr/local/pf/raddb/mods-enabled/ldap_packetfence` are not quoted:
[code]
They need to be quoted and escaped (like [@jrouzierinverse did for SQL passwords](https://github.com/inverse-inc/packetfence/commit/c61743dd206d61da7159788b23072676dcbb1640)). Otherwise, you will get issue #3975.

[2019-01-31 20:14] becchett opened #3977 "PF 8.3.0+OpenVAS. Scanning don't start"
Dear Inverse,
let me explain this case because I think it's a bug , so please if you have some
time read this post.

Server is:
CentOS Linux release 7.6.1810 (Core)
Linux pfsrv 3.10.0-957.1.3.el7.x86_64
8GB Ram , 4 core, ethernet (management) plus some vlan (registration,isolation,inline)
PF8.3.0 plus pf-addon.pl.

PF is configured to manage some vlans and some networks (inline mode) one of these

[2019-01-31 21:08] DanSheps opened #3978 "Email template variables not resolved"
Version: 8.3.0

### Steps to reproduce

1. Go to Users->Create
2. Create a user
3. Select send email

### Expected results

Email will be sent with full name, validity date, username, password

### Observed results

Templated fields are empty (example, "[% username %]", "[% password %]", "[% valid_from %]")

[2019-01-31 21:10] DanSheps commented on #3978
Duplicte of #3948, whoops

[2019-01-31 21:14] DanSheps commented on #3978
Re-Opening as it does not address the admin_activation email for some reason.

[2019-01-31 21:16] #3978 closed

[2019-02-01 00:38] fdurand commented on #3974
If you change the password of something else you need to restart radius and when you restart radius it generate the file ldap_packetfence.

[2019-02-01 03:12] fdurand commented on #3975
It's like FreeRADIUS works, test your ldap bind in the authentication source first.
Or open an issue on the FreeRADIUS github project.

[2019-02-01 13:04] #3974 closed

[2019-02-01 14:12] julsemaan commented on #3977
Is the endpoint in an inline VLAN ?

[2019-02-01 14:26] becchett commented on #3977
Il 01/02/2019 15:12, Julien Semaan ha scritto:

[root@pfsrv pf]# ip link
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode
DEFAULT group default qlen 1000
     link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc htb state UP
mode DEFAULT group default qlen 1000
     link/ether 00:1a:4a:16:01:7f brd ff:ff:ff:ff:ff:ff

[2019-02-01 15:05] satkunas commented on #3609
@julsemaan The Authentication Reports don't have range selection. Do you mean Accounting Reports?

[2019-02-01 15:44] julsemaan commented on #3609
They do have a range in the prod-pf admin that runs the latest stable at least:
![image](https://user-images.githubusercontent.com/3857942/52132967-5e991880-260e-11e9-9103-d323659fdd55.png)

[2019-02-01 22:29] satkunas commented on #3871
Possible: https://github.pytes.net/tail.DateTime/

[2019-02-02 04:06] hirsh2020 commented on #2306
I was able to get it to boot on vmware esx by doing the following. I'm writing this from memory so please excuse any mistakes.

1. use tar to extract the ova file "tar xvf PacketFence-ZEN-8.3.0.ova"
2. delete box.mf file
3. edit box.ovf change vmx-7 to vmx-07 and disk entries per robsee's post above. I've attached my edited box.ovf for reference.
[box.ovf.txt](https://github.com/inverse-inc/packet

[2019-02-03 14:18] victorhooi commented on #2460
Just wondering - is there a plan or roadmap as to which specific future version of PacketFence might support Debian again? (With or without WMI support).

[2019-02-04 02:05] extrafu commented on #2460
v9.

[2019-02-04 12:47] nqb opened #3979 "packaging: update logrotate conf files provided by FreeRADIUS"
Due to https://github.com/FreeRADIUS/freeradius-server/issues/2461, we must upgrade our FreeRADIUS packages.

[2019-02-04 12:54] nqb opened #3980 "configurator: provide a way to configure Fingerbank proxy"
As reported by @kkkimiko, if you use an HTTP proxy and want to configure your Fingerbank API key in PF's configurator, you can't.

If you specify, `http*_proxy` vars, they will not taken into account.

If you skip this step and want to configure the Fingerbank proxy settings in the Web admin, you can't.

The only way to do that is to edit by hand `/usr/local/fingerbank/conf/fingerbank.conf` like t

[2019-02-04 13:41] nqb opened #3981 "domain: inflate %h even if we have other characters"
When you do a domain join, you have the possibility to use `%h` in `This server's name` field to inflate `%h` to the host machine name.

Nonetheless, if you fill the field with `PF-%h`, `%h` won't be inflate.

It would be nice to have this possibility, especially when you have a cluster.

[2019-02-04 13:44] nqb commented on #3981
We just need to change this test: https://github.com/inverse-inc/packetfence/blob/devel/lib/pfconfig/namespaces/config/Domain.pm#L43

I will provide a fix.

[2019-02-04 23:52] centrasupport opened #3984 "Can we Please add a new Role Rule "Condition" for EAPTLS authentication source, many thanks. is:open label:"Type: Bug""
Hi Team,

I am currently doing a Wireless BYOD project, and we need to let PF set a role rule based on a certificate Extended Key Usage. We are using MSPKI so a new user certificate template was duplicated and this certificate template name is "BYOD", a new custom Application Policies was added to this certificate template. Hence, any cert that is issued based this certificate template will be add

[2019-02-05 16:27] becchett commented on #3977
my NETWORK.CONF:

[10.25.0.0]
dns=193.205.222.2
split_network=disabled
dhcp_start=10.25.0.10
gateway=10.25.0.1
domain-name=wired.local
nat_enabled=enabled
named=enabled
dhcp_max_lease_time=31536000
fake_mac_enabled=disabled
dhcpd=enabled
dhcp_end=10.25.255.246
type=inlinel2
netmask=255.255.0.0
dhcp_default_lease_time=31536000

[10.26.0.0]
dns=193.205.222.2
split_network=disabled
dhcp_start=10.26.0

[2019-02-05 17:45] caralo opened #3985 "patched maintenance pfdns not working in inline mode: returning MAC 00:00:00:00:00:00"
Debian 8.11, PF 8.1 with latest patches from pf-maint.pl including golang binaries.
After updating pfdns, inline connections don´t work anymore. **It always returns MAC 00:00:00:00:00:00**
pfdns.log:
Feb  5 13:29:19 pf1 pfdns[11695]: 192.168.18.212 - [05/Feb/2019:13:29:19 +0100]
"A IN detectportal.firefox.com. udp 42 false 512" NOERROR qr,aa,rd 58 4.863659ms
Feb  5 13:29:19 pf1 pfdns[11695]: Retur

[2019-02-05 21:43] fdurand commented on #3985
Fixed in maintenance/8.1 https://github.com/inverse-inc/packetfence/commit/04551db85ef2a7e8de93e04bb6e902edce6cd961
What tomorrow to apply the maintenance.

[2019-02-06 06:56] nqb commented on #3979
Workaround for CentOS7:
[code]

[2019-02-06 09:12] caralo commented on #3985
Working great now.

[2019-02-06 09:12] #3985 closed

[2019-02-06 19:02] julsemaan commented on #3977
Is the endpoint in an inline VLAN ?

[2019-02-06 19:28] becchett commented on #3977
Julsemaan I can't understand your question. Perphas endpoint means gateway ?
In this case I confirm that PF server is a gateway for vlans and it's configured with inline.
I apologize for this misunderstanding.
Best regards.
Enrico

[2019-02-06 19:52] julsemaan commented on #3977
and is the endpoint you want to scan in your inline network ?

[2019-02-06 20:20] becchett commented on #3977
yes, if the endpoint is user's device that is connected to inline network.
OpenVas is a separate server but is in the same management network of PF and has
got all vlans to reach inline user's device.
Thanks
Enrico

[2019-02-07 02:52] fdurand commented on #3984
Simply add the attribute here: https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/Authentication/Source/EAPTLSSource.pm#L37

[2019-02-07 11:55] caralo opened #3987 "panic in Cluster pfhttpd: json: cannot unmarshal"
Debian 8.11, PF 8.1 Cluster with 3 nodes with latest patches from pf-maint.pl including golang binaries.
Any change in master node config stops other nodes httpd.dispatcher.
packetfence.log:
Feb  7 10:16:47 pf2 pfhttpd[1547]: **panic: json: cannot unmarshal string into Go struct field PfConfFencing.proxy_passthrough**s of type []string
Feb  7 10:16:47 pf2 pfhttpd[1547]: goroutine 26 [running]:
Feb

[2019-02-07 12:36] julsemaan commented on #3987
Can you provide me:

 * Content of pf.conf **before** performing a save
 * Output of this command **before** performing a save: `/usr/local/pf/bin/pfcmd pfconfig get config::Pf`
 * And then again the above **after** performing a save

[2019-02-07 12:38] julsemaan commented on #3984
I think you can even add it in the PF configuration as well:
https://github.com/inverse-inc/packetfence/blob/devel/conf/pf.conf.defaults#L1126

Unless that config parameter doesn't do what I think it does

[2019-02-07 18:08] caralo commented on #3987
pf.conf:
[general]
domain=xxx.xxx.es
hostname=nac
dhcpservers=127.0.0.1,10.0.102.202,10.0.102.71,10.0.104.222,10.6.0.6,10.6.0.5,10.0.102.204
timezone=Europe/Madrid
[network]
dhcpoption82logger=enabled
[fencing]
wait_for_redirect=0
passthrough=disabled
[alerting]
emailaddr=root@xxx.xxx.es
smtpserver=xxx.xxx.xxx.es
[database]
pass=XXXXX
[services]
pfbandwidthd=enabled
httpd_collector=enabled
snmptra

[2019-02-07 18:14] julsemaan commented on #3987
There are still references to trapping.proxy_passthroughs

My wild guess is that your documentation.conf doesn't match the one of 8.1

Or you didn't properly restart the services after upgrading. For this one, as @lzammit says: "When in doubt, reboot"

[2019-02-07 19:12] satkunas opened #3989 "config/syslog_parser lines and loglines ambiguity"
The endpoint GET `api/config/syslog_parsers` returns both `lines` and `loglines`. This is ambiguous. It appears that they have a similar purpose, but we should only require one (not both).
[code]
* Should `lines` or `loglines` be used?
* If `lines` is used, does it need to be a String, or a Javascript Array for each line?
* If `loglines` is used, does it need to be a String, or a Javascript Array

[2019-02-07 19:32] julsemaan commented on #3977
So I took a look at the code and discussed with @fdurand, and for inline VLANs, scanning on post-registration is not possible. This is due to the fact that the device stays in the same VLAN and that this VLAN is used for reg and unreg devices.

Although it would be possible to add support for this, this is not in our priority roadmap especially given the large amount of work our team is doing to d

[2019-02-07 19:33] julsemaan commented on #3977
I'll leave this issue opened to track the fact post-reg scans don't work in inline

[2019-02-07 20:03] #3868 closed

[2019-02-07 20:04] julsemaan commented on #3653
forgot to mention the issue in PR #3970

was fixed by the PR above

[2019-02-07 20:04] #3653 closed

[2019-02-07 20:12] julsemaan commented on #3504
After looking into it, it seems that the description is displayed in the node view summary in the latest release.

Is this still an issue on your deployment ? Otherwise I'll close this.

[2019-02-07 20:14] julsemaan commented on #3148
should have been closed through #3255

[2019-02-07 20:14] #3148 closed

[2019-02-07 20:39] #3486 closed

[2019-02-07 22:39] satkunas opened #3990 "API Endpoint - config/syslog_forwarders missing fields"
APi Endpoint at GET `config/syslog_forwarders` and `config/syslog_forwarder/:id` missing fields:
 * proto
 * host
 * port

[2019-02-07 22:40] satkunas commented on #3990
Endpoints are also not documented in OpenAPI spec.

[2019-02-07 22:49] caralo commented on #3987
The file documentation.conf is the original PF 8.1
I can't find any references to trapping.proxy_passthroughs in any conf. But there might be something in the database.
 It is not a real upgrade. It is PF 8.1 from scratch but I imported the database from PF 5.7.
I had to upgrade the database from 5.7 to 8.1 carefully with all the upgrade scripts in db.
I have rebooted many times all the nodes in o

[2019-02-08 02:04] veedubbs commented on #3504
It is no longer an issue in my environment.  Thanks!

[2019-02-08 02:04] #3504 closed

[2019-02-08 03:32] wayne1g commented on #2763
May I check what maybe the plan to add this feature? Has a release/timing been assigned?

[2019-02-08 03:35] fdurand commented on #2763
oups it's already in 8.2. Forgot to close the issue.

[2019-02-08 03:35] #2763 closed

[2019-02-08 14:44] julsemaan opened #3992 "pfconfig golang: Issue when removing items from configuration arrays"
Due to how the golang library encoding/json merges the parsed data with the existing data in the struct, removing an element of an array in a resource that is managed by the pfconfig pool (hot-reload) will leave that element there since the same struct is being reused.

For example, if you would remove one of the passthroughs, then it would still be in the golang structs even if they reload.

Didn

[2019-02-08 21:06] satkunas opened #3995 "OPTIONS not working for config/bases"
Options not working for `config/bases` and `config/base/:id`

[2019-02-11 03:26] veedubbs opened #3996 "Ability to enable/disable entries within Integration"
Hello!

In testing within the Integration section of PF a lot for my environment (specifically for Firewall SSO and Syslog Forwarding) I could see it helpful to be able to enable/disable entries I have just configured.  A toggle switch (on/off, enable/disable, etc...) by listed entries may be an interesting feature.

With that said, these entries are pretty limited in the amount of typing, so, del

[2019-02-11 15:06] satkunas opened #3997 "Config Domains API Endpoint requires additional fields"
The domains endpoint at `config/domains` and `config/domain/:id` requires the join success boolean and string error message as shown in the following screenshot.

![selection_011](https://user-images.githubusercontent.com/3904468/52571964-af65f980-2de4-11e9-881b-1afa9cb0f970.png)

[2019-02-11 19:06] #3950 closed

[2019-02-11 20:58] #3935 closed

[2019-02-12 11:12] Alsheyra opened #4000 "Can't assign role via API for a user"
Hello !

We try to assign a role to a user via the packetfence's API.

Command used:

curl -X PUT -k -H 'Authorization: [token]' -i 'https://[linkpacketfence]/api/v1/user/Test-API/password' --data '{"access_duration":"8h","category":"default","expiration":"2019-09-09","password":"Example","pid":"Test-API","valid_from":"2019-05-05"}'

Also tested in PATCH.

We also tried to create a user via the AP

[2019-02-12 12:29] nqb commented on #4000
Hello,

Provide us **exact** steps to reproduce the issue.
Did you apply maintenance patchs on your 8.2 version ?

[2019-02-12 12:44] julsemaan commented on #3987
Try to do this:
[code]

And see if the issue still happens

[2019-02-12 13:01] Alsheyra commented on #4000
Yes I applied maintenance patch.

Step is simple.

- Try to update a role for a user via API (PATCH or PUT)

`curl -X PATCH "https://[IP PACKETFENCE]/api/v1/user/[USER-ID]/password" -k -H "Authorization: TOKEN" -H "accept: */*" -H "Content-Type: application/json" -d "{"access_duration":"8h","access_level":"NONE","category":"default","expiration":"2019-09-09","login_remaining":0,"password":"string"

[2019-02-12 13:05] caralo commented on #3987
I have executed the commands in the three nodes of the cluster and I get no errors when I change any config.  Working great!
Thank you very much.

[2019-02-12 13:22] julsemaan commented on #3987
For future reference, these commands (that are in the upgrade guide) need to be done after migrating the DB to your new servers

[2019-02-12 20:30] becchett commented on #3977
Dear Julien,
as I wrote above I'm looking for scanner, OpenVAS, because I need to know If devices that are connected to my networks are dangerous (high risk) or not. In case of a positive result PF must notify me with an email and if possible it must move the client to the isolation vlan.

So after changing lib/pf/api.pm and lib/pf/util.pm:
sub is_prod_interface {
        return $TRUE;
}

The purp

[2019-02-13 14:29] #3987 closed

[2019-02-13 14:48] julsemaan commented on #3932
Are you running a cluster or a standalone server?

Technically in standalone since packetfence-mariadb is part of packetfence-base it should be started before packetfence-tc is started.

If you're in cluster, then its because packetfence-haproxy-db isn't started but we can't add it to the "After" list since not everyone runs a cluster.

The solution could be to get a loop that waits for the DB to

[2019-02-13 15:47] julsemaan commented on #3932
fixed in 2779f0d81671a9a04895977c5d1a9e1ae0034e7c

[2019-02-13 15:47] #3932 closed

[2019-02-13 15:48] julsemaan commented on #3960
Please provide the content of all tabs of an audit log entry for a RADIUS request

[2019-02-13 15:50] julsemaan commented on #3909
Its pretty useful to keep this line for troubleshooting when a user reports that the SSO hasn't been performed

[2019-02-13 15:53] julsemaan opened #4004 "New Unified API needs an auditlog"
The new Unified API needs to have an audit log since the new admin will consume it so if we want to keep the feature of the admin audit log, the Unified API needs to be adjusted.

We'll have to discuss on whether this should be on the API frontend layer and be pretty generic or should be in the backends themselves (Perl only for now since it does most if not all the admin tasks) with a format that

[2019-02-13 15:56] julsemaan commented on #3862
This will need to be addressed in the API if we want this since doing it in the old admin isn't relevant anymore

[2019-02-13 15:59] satkunas opened #4005 "Wrix Location schema"
Wrix Locations currently use Title_Case.

(https://github.com/inverse-inc/packetfence/blob/devel/db/pf-schema-8.3.0.sql#L1001)

We'll need to change this to snake_case in:
 * Pfappserver
 * Perl
 * Database schema

[2019-02-13 15:59] julsemaan commented on #3860
It seems like the print style isn't being applied as its trying to print the page directly and not applying the special CSS rules as it was in the past.

I'll look into this

[2019-02-13 16:02] julsemaan commented on #3860
Seems that the regression is here:
20e9ae9bbbb14d82efce11fd78a22b9680fed65f

Where the CSS is being loaded as a script

[2019-02-13 16:07] #3860 closed

[2019-02-13 16:09] julsemaan commented on #3860
Fixed an cherry-picked up to maintenance/7.4 which is when the regression was made

You can get the fix by running:
[code]

And then restarting PacketFence completely

[2019-02-13 19:01] jrouzierinverse commented on #4005
The naming was done this way to match the schema from the Wrix specification.

[2019-02-13 22:26] jrouzierinverse commented on #3995
This has been fixed.

[2019-02-13 23:26] jrouzierinverse commented on #4004
Are you talking about logs/httpd.admin.audit.log?

[2019-02-14 05:18] nqb commented on #3909
I thought there was a `log.conf.d/firewallsso.conf` so I understand your answer.

Would be a nice to have.

[2019-02-14 13:56] julsemaan commented on #3909
That specific logging line is created by pfqueue so its controlled through that.

And for the pfsso log level, its controllable through conf/caddy-services/pfsso.conf

[2019-02-14 13:56] julsemaan commented on #4004
Yes that is correct

[2019-02-14 15:35] jrouzierinverse commented on #4004
Questions.

* Should this be a new database table instead of a file?
* Do we only care about actions that modifies a resource? (I assume yes)

Thoughts
* Does caddy provide a way to inspect the response?
* If we are to do this at the pfperl-api level.
  Then the user in the TokenInfo needs to be passed down.

[2019-02-14 15:38] extrafu commented on #4004
I think it should be in a database table similar to the RADIUS Audit Log and should be exposed in the Auditing tab from the Web GUI.

[2019-02-14 15:41] julsemaan commented on #4004
As long as its not a key/value table and that its searchable easily, I'd say we could go in the DB

That could be argued. I had customers that explicitly requested all actions in the admin to be logged. That could be configurable

Caddy itself no but nothing prevents us from extending the authorization layer to be able to inspect the action and record it

Should be fairly easy to do if we decide t

[2019-02-14 16:00] jrouzierinverse commented on #4004
If we do it at the authorization layer it seems that we do not have access to the status code.

[2019-02-14 16:02] julsemaan commented on #4004
Why wouldn't we have the access to the status code?

The API frontend terminates the SSL connection so everything in the HTTP headers along with the body of both the request and the response can be seen

[2019-02-14 22:37] satkunas opened #4008 "API Endpoints not url decoding %2F"
Switches and Switch Groups allow a CIDR identifier (eg: 192.168.0.1/24). This includes a '/' which needs to be escaped when using the identifier in the API path. The API does not url decode.

[code]

[2019-02-15 00:28] jrouzierinverse commented on #4008
Wrong path /api/v1/config/source/switch/192.168.1.24%2F24 -> /api/v1/switch/192.168.1.0%2F24

[code]

[2019-02-15 19:01] #3388 closed

[2019-02-15 21:01] jrouzierinverse commented on #3989
Fixed by 163f187c17f1ebcbf6a4e22c8372b9acd477ae03

[2019-02-15 21:01] #3989 closed

[2019-02-15 21:01] #3995 closed

[2019-02-19 18:12] brucehubbert opened #4011 "Support for Bancontact and iDeal with Stripe integration"
In the Netherlands, the elderly do not use credit cards, they prefer web based solutions for payment transactions. Stripe has support for this capability:

https://stripe.com/docs/sources/bancontact
https://stripe.com/docs/sources/ideal

After PF 9.0 debuts, inclusion of these features would benefit users in the EU very much if added in addition to the already terrific stripe integration.

[2019-02-19 20:47] #3127 closed

[2019-02-20 09:17] amiirrmm opened #4013 "AD authentication problem - Logon Workstation"
Hi

I have pf joint to my active directory. everything works well but when on my AD I set a logon workstation for a user, that user cannot get authenticated on pf.

I mean on my AD, the user properties, account, Logon To, the logon Workstations should be set to all computers and if I set a computer name, the packetfence says the user name/password is incorrect.

Is this a bug or I should define so

[2019-02-20 09:42] nqb commented on #4013
Hello @amiirrmm,

I suppose this is caused by the `ntlm_auth` performed by FreeRADIUS which did not use the `--workstation` option of `ntlm_auth`

With an account that has the LDAP userWorkstations attributes, try following command from PF server:
[code]
Second command should work.

[2019-02-20 11:02] amiirrmm commented on #4013
Thank you @nqb for your quick reply.

I constantly receive this reply. what am I doing wrong?

`could not obtain winbind separator!
Reading winbind reply failed! (0x01)
:  (0x0)
`

I also run wbinfo -p and receive this: "could not ping winbindd!"

[2019-02-20 11:08] nqb commented on #4013
Please send an email on the mailing list for this kind of issue.

We keep this bug tracker for bugs and feature requests.

[2019-02-20 11:08] #4013 closed

[2019-02-20 13:43] diedriko opened #4014 "integration fingerbank packetfence"
Hi,
We do not wish to integrate fingerbank with our packetfence installation.
Install and config is succesfull, but fingerbank keeps putting errors in the packetfence.log.
Example of errors, in fact there are only 2 of them, but constantly:
 pfqueue: pfqueue(14128) ERROR: [mac:unknown] Error while communicating with the Fingerbank collector
pfqueue: pfqueue(14128) ERROR: [mac:unknown] Unable to fe

[2019-02-20 15:23] #4014 closed

[2019-02-20 15:25] julsemaan commented on #4014
I've just fixed it by skipping the Fingerbank lookups and processing if you don't have an API key configured.

The fix is in the maintenance for all 8.x versions, you can apply it using:
[code]

[2019-02-21 07:49] diedriko commented on #4014
script gives an error
Step 1: Patching of text based codefiles
Currently at 63d1e05162ccfd92dc4408e23c375f8eb9ebd373
** GET https://api.github.com/repos/inverse-inc/packetfence/branches/maintenance/8.3 ==> 500 Can't connect to api.github.com:443
500 Can't connect to api.github.com:443

[2019-02-21 07:59] diedriko commented on #4014
LWP::Protocol::https::Socket: getaddrinfo: Name or service not known at /usr/share/perl5/LWP/Protocol/http.pm line 51.

[2019-02-21 10:12] diedriko commented on #4014
nevermind the above, mistake on my part

[2019-02-21 21:09] dondon21 opened #4018 "PacketFence-PKI certificate issue"
The PacketFence-PKI does not match with the good Radius certificate (The Windows supplicant check if every certificates matches witch is not the case with the Radius CA, and the certificates generated by the PKI). The problem may cause some connections issues if the check-box "verify CA certificate" is checked in the Windows wireless profile.

[2019-02-22 14:06] antonc42 commented on #4014
I was having this same issue and the fixes worked for me. Thanks!

[2019-02-22 14:08] antonc42 opened #4019 "(winbindd-wrapper): chatty log message "Re-registering""
I recently pulled in the maintenance fixes for 8.2 using `/usr/local/pf/addons/pf-maint.pl` to fix a chatty log message (see issue #4014 and thanks for the fix!). Now I have an even more chatty log message from "winbindd-wrapper". Approximately every six seconds, there is a log message:

[code]

`XXXX` is the PID of winbindd-wrapper
`<DomainName>` is the name of my configured Active Directory Doma

[2019-02-22 14:32] julsemaan commented on #4019
This likely means your winbindd process is dying which leads to the master process (winbindd-wrapper) respawning it.

If you performed the upgrade of samba/winbindd recently, you may have to kill off the old childs since a recent change caused issues requiring to rework the wrapper.

You can either:
[code]
or
[code]

[2019-02-22 14:33] julsemaan commented on #4019
I'll close this for now, re-open if that doesn't fix it

[2019-02-22 14:33] #4019 closed

[2019-02-22 14:37] antonc42 commented on #4019
That seems to have done it. I had tried to restart the winbindd-wrapper, but I didn't think to check for other running processes. Thanks!

[2019-02-22 19:33] #3357 closed

[2019-02-22 19:35] julsemaan commented on #2564
fixed by #3614

[2019-02-22 19:35] #2564 closed

[2019-02-22 19:36] julsemaan commented on #791
I'm guessing @cgx will take care of this in the new admin right ?

[2019-02-22 19:42] #2855 closed

[2019-02-22 20:17] julsemaan commented on #2073
Created a script on pfbuilder to mirror the dependencies via govendor and runs nightly

[2019-02-22 20:17] #2073 closed

[2019-02-22 20:38] #3953 closed

[2019-02-22 20:42] #3902 closed

[2019-02-25 17:46] fdurand commented on #4018
It's more a configuration we need to adapt.
Talked with @julsemaan and the windows agent enable the 'verify CA certificate' and select the CA and we supppose that the radius certificate has been signed by the CA. But in some cases we want to be able to push/select another CA or intermediate cert to validate the radius certificate.
So we need to change the PacketFence code and the windows agent cod

[2019-02-25 19:13] cgx opened #4021 "DELETE /api/v1/config/connection_profile/<id>/<files>/<directory> → error"
When editing a connection profile, we should be able to delete an empty directory.

Currently we have:

[2019-02-25 19:45] #4021 closed

[2019-02-26 21:04] fdurand opened #4022 "Add the way to set a proxy configuration for the provisioner."

[2019-02-26 21:35] nqb commented on #3975
We should **at least** warn users to restart their RADIUS services after editing a LDAP source.

Before 8.3, you could modify your LDAP source without any effect on RADIUS. Now, any change in a LDAP source can break RADIUS services when they will be restarted. From my point of view, it's a big change for users not mentioned in NEWS or UPGRADE guide for 8.3.

Moreover, it's should be possible to di

[2019-02-27 14:26] simbazad opened #4023 "Typo in api.pm"
Description:

On "lib/pf/api.pm" Line : 1099 , the $source var contains \ - "\$source,"
i've stumbled this while adding a wmi rule just like the documentation:

[logged_user]
namespace=ROOT\cimv2
request=select UserName from Win32_ComputerSystem
action= <<EOT
[UserName]
attribute = UserName
operator = match
value = (.*)

[1:UserName]
action = dynamic_register_node
action_param = mac = $mac, userna

[2019-02-27 15:25] garci66 opened #4024 "Missing ipfilter entries for Samsung captive portal fix"
When applying the fix for issue #3419 I noticed that the pffilter config includes a hard-coded IP address. (172.217.13.99)  But both when testing in my region (south america) and looking at the code, I don't see the specific IP being added to the "passthrough"  IPSET list that would allow the devices to reach the proper server.

I guess when testing or in other regions, dns queries of other phones

[2019-02-27 18:08] simbazad commented on #4023
Merged

[2019-02-27 18:08] #4023 closed

[2019-02-28 15:30] cgx opened #4026 "Add tags to the OpenAPI spec"
Group endpoints by [tags](https://swagger.io/specification/#tagObject).

Example:
https://www.gremlin.com/docs/api-reference/overview/
https://api.gremlin.com/v1/swagger.json

Tags should be *config*, *nodes*, *users*, *reports*, etc.

[2019-02-28 21:51] satkunas opened #4027 "API OPTIONS meta for ports"
Currently there's no `max_value` limit on a port number.

[code]

Port numbers should use one of either:
- a `max_value` of 65535
- or utilize a (new) `type: "port"`, so `max_value` can be set statically.

[2019-02-28 22:12] satkunas opened #4028 "API OPTIONS config/source/:id response code mismatch"
OPTIONS /api/v1/config/source/:id

HTTP response includes a valid status (200) and a payload. However the HTTP response code is a 422.

[2019-03-01 06:28] tony3142 commented on #3426
It would appear that my experience is covered by this #3426.

I am running the latest release of CentOS 7.6 minimal install with the
"packetfence-release-1.2-7.el7.noarch.rpm" installed on the CentOS 7.6.

I wanted to use the old naming convention for interfaces ifcfg-ethX instead of the default in CentOS 7.x

Here is what I have found:

I have discovered that there is an issue using the "old" nam

[2019-03-01 12:53] Alsheyra commented on #4000
After some research we need to use role's ID (example : default is 1, guest is 2, ...).

I found also that in my database new role created by an administrator isn't a continuos id (like 6,7,8).
![2019-03-01 13_51_04-keybox - composite terms](https://user-images.githubusercontent.com/39260915/53639310-1f6be080-3c29-11e9-84b7-ea3b269df5dc.png)

Can you add the functionality to display "id role" into

[2019-03-04 08:53] nqb commented on #3426
Don't use the configurator to configure your network cards. Only use pf.conf and your network scripts.

[2019-03-04 18:21] fdurand commented on #3926
I will probably call eapol_test from pfstats.

[2019-03-04 20:18] #3920 closed

[2019-03-05 15:04] satkunas opened #4031 "API OPTIONS scans?type=wmi returns oses as INTs only."
meta > oses > allowed > [{text: 1, value: 1}, ...]

`text` should be a friendly string.

[2019-03-05 15:09] satkunas commented on #4028
Same issue for:

 OPTIONS /api/v1/config/scan/:id

[2019-03-05 17:18] satkunas opened #4032 "API OPTIONS config/syslog_forwarders"
Missing:
- `proto`
- `host`
- `port`

[2019-03-05 17:44] #4028 closed

[2019-03-05 21:15] cgx opened #4034 "PUT /config/certificate/radius → error"
ca.pem is incorrectly saved when pushing new RADIUS certificate. Content is similar to `Crypt::OpenSSL::X509=SCALAR(0x1025a580)`.

[2019-03-06 08:57] danpoltawski opened #4035 "Use of uninitialized value $postdata{"timeout"} in firewallsso.pm"
Using Packetfence 8.3.0 with latest maintenance patches applied, we get lots of errors in the logs with pfsso requests timeout uninitialised value. Note that i've seen this across a few packetfence versions but never remembered to report it before now.
[code]

[code]

Related logs aroudn the time of the warning
[code]

[2019-03-06 09:00] danpoltawski commented on #3932
Sorry, I didn't see your question. We are running standalone.

[2019-03-06 12:33] #4034 closed

[2019-03-06 16:08] #3615 closed

[2019-03-06 16:50] Dan-eh3 opened #4036 "Jamf bug - Apostrophe in Device Hostname"
We have Jamf working, but have found one bug where if the device has an apostrophe (‘) in the hostname, it will fail.  There is a workaround: change the device’s hostname.  This is not a scalable solution, as that would translate into manually changing many hostnames.

This is what we saw in testing:

Mar  6 01:27:47 a3-05 packetfence_httpd.portal: httpd.portal(12544) INFO: [mac:a0:99:XX:XX:XX:XX]

[2019-03-06 16:55] julsemaan commented on #4036
It seems like its jamf's response that is not valid JSON when the hostname contains quotation since the failure occurs while we're decoding **their** response according to the error you provided

You could probably be able to see that behavior in postman by putting the following header:

[code]

Which will provide you the response that is closer to what PacketFence gets since we interact with thei

[2019-03-06 18:14] riouxdre commented on #4036
I made the change to add Accept: application/json to the Postman header. Data still looks ok to me:

{"mobile_devices":[{"id":2,"name":"Agarcia’s iPad","device_name":"Agarcia’s iPad","udid":"redacted","serial_number":"redacted","phone_number":"","wifi_mac_address":"A0:99:redacted","managed":true,"supervised":false,"model":"iPad Air 2 (Wi-Fi)","model_identifier":"iPad5,3","modelDisplay":"iPad Air 2

[2019-03-06 20:25] #791 closed

[2019-03-06 20:55] #3169 closed

[2019-03-06 21:27] satkunas opened #4037 "API OPTIONS config/base/guest_admin_registration"
meta > default_access_duration > allowed (is empty).

Should echo back allowed items from access_duration_choices.

[2019-03-07 15:01] nqb commented on #4035
Got the same on 8.2.1 with latest maintenance patches with following config:
[code]

[2019-03-07 15:31] nqb opened #4038 "Switches: description field is required"
In 8.3, when you create a new switch based on a switch group, Description field is required but there is no red start to indicate it:

![screenshot from 2019-03-07 16-27-48](https://user-images.githubusercontent.com/10830260/53967804-2d70a400-40f6-11e9-887d-36d7350c06ed.png)

and I'm not sure it's a good idea to inherit the group description when you create a new switch.

[2019-03-07 16:17] jrouzierinverse commented on #4032
This is done

[2019-03-07 16:17] #4032 closed

[2019-03-07 18:57] satkunas opened #4041 "API GET /config/bases"
`trap_limit_action` has invalid payload in ID of `snmp_traps`

[code]

Works as expected with GET on individual resource

GET /config/base/snmp_traps

[code]

[2019-03-07 19:20] #4041 closed

[2019-03-08 15:54] satkunas opened #4042 "API OPTIONS base/fencing requires proxy_passthroughs"
Need to expose the `proxy_passthroughs` from conf/pf.conf.defaults in `OPTIONS config/base/fencing`

`
proxy_passthroughs=crl.geotrust.com,ocsp.geotrust.com,crl.thawte.com,ocsp.thawte.com,crl.comodoca.com,ocsp.comodoca.com,crl.incommon.org,ocsp.incommon.org,crl.usertrust.com,ocsp.usertrust.com,mscrl.microsoft.com,crl.microsoft.com,ocsp.apple.com,ocsp.digicert.com,ocsp.entrust.com,srvintl-crl.veris

[2019-03-08 20:46] satkunas opened #4043 "API Endpoint needed to test SMTP from /config/base/alerting"

[2019-03-08 21:05] satkunas opened #4044 "API OPTIONS base/advanced requires ldap_attributes"
Need to expose the `ldap_attributes` from conf/pf.conf.defaults in `OPTIONS config/base/advanced`

`
ldap_attributes=uid,cn,sAMAccountName,servicePrincipalName,UserPrincipalName,department,displayName,distinguishedName,givenName,memberOf,sn,eduPersonPrimaryAffiliation,mail,postOfficeBox,description,groupMembership
`

[2019-03-08 21:51] satkunas opened #4045 "API Endpoint config/maintenance_task/:id requires description"

[2019-03-11 04:48] prasertsook opened #4046 "Mulitple scan engine in one conneciton profile"
Refer to the screen shot attached, please help advice whether we can scan multiple engine in one connection profile.  Or this tools limited to scan only one engine but i can see the engine can be added more that one.

Below is the profile config file and log file when tried to scan multiple engines.  The log file say the scan finished only the first engine "OpenVAS-Post" but not "WMI-Post-Scan".

[2019-03-11 13:39] julsemaan commented on #4046
This bug tracker is for development tracking and bugs

Please use the mailing list for configuration related questions

[2019-03-11 13:39] #4046 closed

[2019-03-11 16:38] #4045 closed

[2019-03-11 17:11] #4044 closed

[2019-03-11 17:12] jrouzierinverse commented on #4042
Fixed by ab83ac74e9262d788fd2e0f0498e298e475927ee

[2019-03-11 17:12] #4042 closed

[2019-03-11 17:22] jrouzierinverse commented on #4037
This is a tricky one since we could use the access_duration_choices for the allowed for default_access_duration.

However since the allowed values could changed when you add a new one in the GUI is it worth doing?

[2019-03-11 18:49] jrouzierinverse commented on #4031
Fixed by 4a59568e220c6e1b181765234caf88d9aa5e0982

[2019-03-11 18:49] #4031 closed

[2019-03-11 19:37] satkunas opened #4048 "API OPTIONS base/radius_configuration requires radius_attributes"
Need to expose the `radius_attributes` from conf/pf.conf.defaults in `OPTIONS config/base/radius_configuration`

`
radius_attributes=username,NAS-Identifier,Called-Station-Id,Calling-Station-Id
`

[2019-03-11 20:29] jrouzierinverse commented on #4048
Done

[2019-03-11 20:29] #4048 closed

[2019-03-11 20:29] jrouzierinverse commented on #4027
Done

[2019-03-11 20:29] #4027 closed

[2019-03-12 09:34] amiirrmm opened #4049 "Use Unicode characters like Chinese/Arabic not are not correctly shown in web admin"
Hi

I am using ZEN vm version. I get my users and authentication from my active directory and in the AD my users have Unicode characters.   It is not correctly shown in web admin and maybe in the database. Is there any solution to this problem now or in the future?

![Capture](https://user-images.githubusercontent.com/45257636/54189460-18658d80-44c7-11e9-8de7-1eb48a671e04.JPG)

[2019-03-12 11:40] julsemaan commented on #4049
@jrouzierinverse

Do you recall working on supporting different encodings when fetching users via LDAP?

I thought it was already addressed but that may just be my memory failing me

[2019-03-12 13:47] satkunas opened #4050 "API OPTIONS config/admin_roles missing meta->actions->allowed"
Currently:

[code]

[2019-03-12 14:15] jrouzierinverse commented on #4049
Bad memory
![](https://media.giphy.com/media/mYttD81qQ6vLi/giphy.gif)

[2019-03-12 15:09] satkunas opened #4051 "API OPTIONS /config/switches and /config/switch_groups meta->type->allowed broken"

[2019-03-12 18:12] satkunas opened #4052 "API OPTIONS /config/source/:id missing meta->authentication_rules->actions->type->allowed"

[2019-03-12 18:21] satkunas opened #4053 "Brainstorm on API OPTIONS structuring of deep nested objects"
Example:

`Authentication Sources > authentication_rules > actions > type` can be one of:

- set access_level
- mark_as_sponsor
- set_tenant_id

How do we structure `Authentication Sources > authentication_rules > actions > value->allowed` to show allowed values for all 3 types?

[2019-03-12 18:26] satkunas commented on #4053
One idea is to go from:
[code]
to this:
[code]

[2019-03-12 18:44] cgx opened #4054 "OPTIONS /api/v1/config/connection_profile/<id> → billing_tiers : missing allowed values"
Allowed values are missing for `billing_tiers`.

[2019-03-12 20:53] satkunas commented on #4008
Issue still exists w/ haproxy.

Request:
[code]
Response Body:
[code]

[2019-03-13 09:46] amiirrmm commented on #4049
So this is a bug, or at least a feature request, please.

Is there any temporary solution to this until an official fix ?

[2019-03-13 14:21] satkunas opened #4056 "API OPTIONS config/scan/:id meta->oses->item->allowed->[text] is INT"
Should be a string.

[2019-03-13 14:24] satkunas commented on #3378
Bump

[2019-03-13 14:30] satkunas opened #4057 "Pfappserver OpenAPI Spec still generating ref w/ "config/violations""
Should be config/security_events

[2019-03-13 15:01] jrouzierinverse commented on #4008
Combination of proxies rewrites and restful URLs with special characters has the potential to make our API brittle.

If companies ever put a proxy in front of the PacketFence Admin the api can break.

[2019-03-13 15:05] mendoza-conicet commented on #3664
It also presents problems with the "Activate Access" button. it does not write the activation_uri variable, which makes it impossible to use this feature.
It seems to me that I should have a higher priority.

[2019-03-13 15:08] jrouzierinverse commented on #4008
The problem is also with caddy
@julsemaan the commit from caddy to fix that https://github.com/mholt/caddy/commit/faa5248d1f1c73a1b5ed61a5a321319adae04f5f
Cannot be simply patched on our version of caddy.

[2019-03-13 15:11] satkunas commented on #3566
Bump

[2019-03-13 16:18] cgx opened #4058 "OPTIONS /api/v1/config/<..>/oses → lookup definition"
For some fields that expect a Fingerbank OS ID, we currently add the complete list of allowed values in the OPTION response which makes the payload ridiculously huge.

When querying Fingerbank for OSes (or any field restricted to one of an utterly large number of values), the OPTION API endpoint should return the appropriate information to perform a dynamic lookup when validating the field.

[2019-03-13 16:21] cgx opened #4059 "OPTIONS /api/v1/config/device_registrations → oses"
The OPTIONS response incorrectly lists `oses` under `allowed_devices`.

[2019-03-13 18:37] julsemaan commented on #4008
@jrouzierinverse raised a point were a proxy between the client and the server could also cause this issue.

So, should we change the identifier for switch ranges so they don't have a slash in them or should we adjust caddy to support it properly.

I'm fine with both, its just that I don't want to jump into a caddy update unless that is the route everyone is happy with

[2019-03-13 18:48] satkunas opened #4060 "API GET config/security_events always not_deletable: true"
not_deletable should be always be false

[2019-03-13 19:49] #3061 closed

[2019-03-14 08:31] Emil-G commented on #3703
Why would you disable selinux?

    - Disable firewall
    - Disable SELinux

.. Same for AppArmor

Is this a joke in the installation guide? Why can't a software claiming to be a security solution not support fundamental os security?

[2019-03-14 09:03] nqb commented on #3664
@mendoza-conicet: 8.3 version ? Apply maintenance patches and retry..

[2019-03-14 12:58] fdurand commented on #3703
@Emil-G , really cool that you want to take care of that, we waiting the PR.

[2019-03-14 13:04] julsemaan commented on #3703
Yes, considering the very small amount of services PacketFence has and inter-connectivity between them, that's definitely an easy job to add SELinux on PacketFence.

I'm pretty sure all the big names in NAC have SELinux and AppArmor enabled in their proprietary Linux distro on which they built their NAC.

Come on PF team, get it together...

[2019-03-14 13:35] extrafu commented on #3703
I have an other suggestion:  let's port PacketFence to OpenBSD because it's the only secure OS out there!

[2019-03-14 15:16] satkunas opened #4062 "API PATCH config/security_event/:id Error"
PATCHing only w/ keys:
 * id
 * enabled

Returns an error:
[code]

[2019-03-14 15:27] mendoza-conicet commented on #3664
@nqb i'm using 8.3, after apply maintenance patches work well!

[2019-03-14 15:49] satkunas opened #4063 "Deprecate CSV throughout pfappserver"
The following section(s)/field(s) should no longer use CSV string input, but rather an array.

@jrouzierinverse will first need to modify the backend to accept an array, then I will adjust the front-end.

Admin Roles
- allowed_access_durations

Captive Portal
- detection_mecanism_urls
- loadbalancers_ip
- other_domain_names

Fencing
- whitelist
- range
- passthroughs
- proxy_passthroughs
- isolati

[2019-03-14 15:55] satkunas opened #4064 "Permanently disabled CSP Headers in admin"
https://vuejs.org/v2/guide/installation.html#CSP-environments

[2019-03-14 16:15] cgx commented on #4064
We should take this opportunity to implement a XSRF token cookie.

[2019-03-14 17:40] #2460 closed

[2019-03-14 18:10] satkunas opened #4065 "API GET config/maintenance_tasks contains `null` item"
[code]

[2019-03-14 18:38] julsemaan opened #4066 "Allow suricata trigger + accounting to be in the same security event trigger"
Right now accounting + suricata (any event) triggers cannot be mixed in the same event trigger.

We should treat accounting triggers as non-event triggers since they can be computed from DB data

This is necessary for the new security events v9 GUI

[2019-03-14 19:57] julsemaan commented on #4049
That would be a feature request if it has never been part of PF

Will mark it for 9.1 and we'll see about addressing this in a future R&D meeting

[2019-03-14 20:03] danielerosatidast opened #4067 "Credentials send by email after user creation on 8.3"
Hi Guys,

when i try on zen 8.3 to create a new user and then hit the send email button, I do receive an email with blank credentials.
See attach;
![Cattura](https://user-images.githubusercontent.com/48086174/54387817-a5157480-469c-11e9-8e4f-e7ad413bd152.JPG)

[2019-03-14 21:13] #4065 closed

[2019-03-15 09:22] danielerosatidast commented on #4067
Please close, I realize bug was fixed in January:
https://github.com/inverse-inc/packetfence/issues/3948

[2019-03-15 09:30] #4067 closed

[2019-03-15 11:20] julsemaan commented on #4008
@satkunas @cgx @jrouzierinverse

What are we doing we this based on my previous comment?

[2019-03-15 11:28] julsemaan opened #4070 "Portal: Clicking multiple times on the signin submit is not handled properly"
When doing sponsor or email registration and the server is a bit slow to respond (like when not using an SMTP relay), a user may be tempted to click again on the button generating multiple access codes and emails that will be sent.

The main issue is that only one of those emails contains a valid activation code so the user has to play a bit of russian roulette to get his activation completed.

Th

[2019-03-15 13:48] nqb commented on #3062
I reopened because:
[code]
is still present in the datttttabbbazzze backup and maintenance script.

[2019-03-15 13:59] jrouzierinverse commented on #4008
The quickest way to handle this is to escape in the frontend while we are figuring out the best solution for caddy.
I can add support in the API convert a '-' to a '/'  for the id.
Also fix up the location header on create.

However we should either fix caddy or upgrade it.

[2019-03-15 14:23] extrafu opened #4072 "Duplicate rules break portal restarts"
Let's say we manually duplicate rules in conf/authentication.conf:

[sms-guest rule catchall]
action0=set_role=guest
match=all
class=authentication
action1=set_access_duration=12h

[sms-guest rule catchall]
action0=set_role=guest
match=all
class=authentication
action1=set_access_duration=12h

Doing a "pfcmd configreload hard" will work, but trying to restart the portal after will bail out with the

[2019-03-15 14:44] satkunas opened #4073 "API Endpoint required for Filter Engines"
AKA /usr/local/pf/conf/filter_*.conf

[2019-03-15 14:53] julsemaan commented on #4073
That will be easy :)

[code]

[2019-03-15 15:43] satkunas opened #4074 "API GET /service/:id/:action errors"
- GET /api/v1/service/pfmon/status returns systemctl output

[code]
- GET /api/v1/service/pfmon/restart returns an error
[code]

[2019-03-15 16:22] jrouzierinverse commented on #4074
For restart use the POST
* ``` POST /api/v1/service/pfmon/restart```

[2019-03-15 16:26] jrouzierinverse commented on #4073
Done

[2019-03-15 16:26] #4073 closed

[2019-03-15 16:35] jrouzierinverse commented on #4074
We have to redirect the output of systemctl to avoid issue.
However it will not effect the json output.

[2019-03-15 18:44] #4072 closed

[2019-03-17 21:13] jrouzierinverse commented on #4074
We should look into using ```systemctl show --property=Names --property=ActiveState --property=MainPID``` for the status instead of systemctl

[2019-03-18 10:31] nqb opened #4076 "monitoring of Redis processes on all pf versions"
Hello,

Commit https://github.com/inverse-inc/packetfence/commit/96f76d81c09f440166c455577c87c2551064003f updated Redis monitoring scripts for all PF versions.

However, Redis listens only on localhost **since** [8.3](https://github.com/inverse-inc/packetfence/commit/2f88ac1f322c94451cc4662c63ee097768785ab8).

On PF 8.2.1 with up-to-date monitoring scripts, `monit` is not able to check correctly R

[2019-03-18 10:57] nqb commented on #4076
For me, any change to monit scripts should be approve by a PR. It's too critical.

[2019-03-18 10:59] nqb commented on #4076
https://mmonit.com/monit/documentation/monit.html#Process

[2019-03-18 11:32] julsemaan commented on #4076
The monitoring scripts that are on inverse.ca and in devel are made for the latest version of PacketFence.

You have access to the right monit configuration that is built for your specific release through the package install in /usr/local/pf/addons/monit/

Also, not that sure all changes to the monit configuration should go through a PR given its not something that is automagically installed on a

[2019-03-18 11:45] julsemaan opened #4077 "API spec: configuration POST endpoints are missing"
The POST endpoints to create switches, scan engines and probably all other configuration types are missing from the spec both in stable and in devel

[2019-03-18 16:23] nqb opened #4084 "AD Domains: impossible to add new domain"
Fresh install on 8.3.9 under CentOS 7.6
![Screenshot from 2019-03-18 17-20-37](https://user-images.githubusercontent.com/10830260/54545603-4739a300-49a2-11e9-8691-2490f5260655.png)

I supposed this is cause by https://github.com/inverse-inc/packetfence/pull/4016

[2019-03-18 16:25] nqb commented on #4084
To get back the usual view, I need to check "Disable OS AD join check" in System configuration -> Advanced.

[2019-03-18 19:15] Dan-eh3 opened #4085 "Validate email address fields"
When configuring SMTP settings, the Sender and Recipient address fields are not validated.  Users can input an impreperly formatted address without warning or validation.

Please improve these fields to validate that an email address is inputted, in example name@domain.com

[2019-03-19 06:24] simbazad opened #4086 "Implementing update engine"
Hi All,
Would you consider merging implementation of an update engine?
Something like https://github.com/mendersoftware/mender

[2019-03-19 11:23] julsemaan commented on #4086
Like as a provisioner or scan engine you mean ?

[2019-03-19 11:34] simbazad commented on #4086
No, i mean implementing an update engine which will update packetfence to a new version when available without the current complication (migrate scripts , database migration , configuration migration ...)

[2019-03-19 11:36] julsemaan commented on #4086
Although we'd be interested in doing easier updates, I believe that this work should be done by the Inverse team and not an external contributor given the very complex nature of it especially when considering the clusters.

I don't think we'll use something as complex as what you suggested and we'll probably adjust our packaging to do the upgrade steps during the "yum update" process

[2019-03-19 11:44] simbazad commented on #4086
@julsemaan Sure ! , Just keep in mind that implementing something like https://github.com/mendersoftware/mender isn't that hard and its definitely worth it (they even implemented quite clever rollback logic)

[2019-03-19 12:09] #4086 closed

[2019-03-19 16:57] cgx commented on #3815
See #3254.

[2019-03-19 17:01] cgx opened #4091 "GET /api/v1/switches/bulk_{action}"
We need some bulk action for switches, the most important would be to change the switch group. See #1095.

[2019-03-19 18:37] satkunas opened #4092 "API /service/radiusd not implemented"
Services should reflect the pfcmd script, where `radiusd` is a valid service name.

[2019-03-19 22:02] satkunas opened #4093 "API PATCH config/base/services error"
Receiving 502 Bad Gateway

[2019-03-20 09:04] nqb commented on #3979
This change has not been integrated to FreeRADIUS 3.0.18.

[2019-03-20 13:24] julsemaan opened #4096 "pfstats queries /api/v1/dhcp/stats a lot of times"
In a cluster, I checked the usage of /api/v1/dhcp/stats and it seems its being called dozens of times although the configuration states that it should be called 4 times.

After checking, it seems its not configured to be done only for the management node and done for all nodes. Maybe that would explain the issue.

[2019-03-20 14:01] #4076 closed

[2019-03-20 15:21] fdurand opened #4100 "Optimize sql request for radius audit log"
When you go in radius audit log the following sql request is executed:
SELECT COUNT(*) AS `count` FROM `radius_audit_log` WHERE ( `radius_audit_log`.`tenant_id` = '1' )

We need to optimize this request like:
SELECT max(id) - min(id) AS `count` FROM `radius_audit_log` WHERE ( `radius_audit_log`.`tenant_id` = '1' )
and divide by the step of the id.

[2019-03-20 15:53] fdurand commented on #4100
ALTER TABLE radius_audit_log ADD INDEX tenant_id_id (tenant_id,id);
SELECT ( ( max(id) - min(id) ) DIV  ( select (select max(id) from radius_audit_log) - (select max(id) from radius_audit_log where id < (select max(id) from radius_audit_log ) ) ) ) AS count FROM radius_audit_log WHERE ( radius_audit_log.tenant_id = '1' );

[2019-03-20 21:20] satkunas commented on #4093
`api-frontend.log`

Mar 20 17:19:18 packetfence api-frontend[1737]: t=2019-03-20T17:19:18-0400 lvl=eror msg="Couldn't acquire lock for pfconfig pool" pid=1737 request-uuid=5feded78-4b50-11e9-881d-080027d5be68

`packetfence.log`

Mar 20 17:19:18 packetfence pfhttpd: 2480 Timeout obtaining or releasing lock that came from:
Mar 20 17:19:18 packetfence pfhttpd: github.com/inverse-inc/packetfence/go/ti

[2019-03-20 21:21] satkunas commented on #4093
Works fine via CLI, but not via API.

[code]

[2019-03-21 11:45] julsemaan commented on #4093
It doesn't really "work fine" through the CLI.

This API call takes an enormous amount of time to complete, and on my dev machine it times out on the CLI as well:
[code]

I can make the proxy timeout longer in the api-frontend to give more time to pfperl-api to answer so you don't get a 502 bad gateway but that will not make the backend call faster and the browser could still timeout since the cal

[2019-03-21 13:52] julsemaan commented on #4093
@jrouzierinverse

Are we able to make that UnifiedAPI call faster so that we don't have to increase the proxy timeout in the API frontend?

Increasing the allowed time for API calls isn't the right solution IMO since that opens the door to the backends taking a lot of time to answer and keeping too many connections opened.

A solution would be to make the systemd adjustments (the main consumer of

[2019-03-21 14:06] jrouzierinverse commented on #4093
Yes we can we just have to fork off a process handle the slowness.
No forking
[code]
With forking
[code]

However we should set that timeout higher.
At the moment we have a 10 minute database query timeout for queries in the admin.
The timeout in api-frontend should reflect that reality.

[2019-03-21 14:14] #4093 closed

[2019-03-21 14:17] julsemaan commented on #4093
We can't have API queries that are allowed to run for 10 minutes for all endpoints.

Some of the API endpoints are called dozens of times per second

I could make the timeout different for the unified API only though.

One of the good solutions for long running queries like special reports or domain joins would be to use an asynchronous job that the user would poll to check if it completed. That w

[2019-03-21 15:06] satkunas opened #4102 "API OPTIONS base/wrix_locations missing"

[2019-03-21 15:07] #1270 closed

[2019-03-21 17:38] jrouzierinverse commented on #4102
The /api/v1/endpoint base/wrix_locations does not exists do you mean  /api/v1/wrix_locations?

[2019-03-21 21:53] satkunas opened #4103 "API PATCH config/connection_profile/default issue"
Payload:
* id: `default`
* status: `disabled`

This request returns a status 200 OK. However, the `status` on the resource is not modified. If this is because it is `not_deletable`, then an error with a 4xx should be returned instead.

[2019-03-21 22:26] julsemaan commented on #4103
Actually, I think its because the default connection profile cannot be disabled, otherwise there would be no catchall if no other profile matches.

[2019-03-22 01:49] #4103 closed

[2019-03-22 12:40] nqb commented on #3940
@julsemaan,

We need at least to document how to delete properly a role in PacketFence's docs.

[2019-03-22 12:44] julsemaan commented on #3940
Right now we shouldn't be deleting roles. This is something that should not be done so we shouldn't document how to do it.

When we want to be able to do this, we should do it properly by implementing it in the code, not providing all the steps to go clean it up in the config + DB which would be error prone IMO.

Might as well do it right in our implementation instead of providing the guidelines

[2019-03-22 12:48] nqb commented on #3940
Steps I have in mind if we want to delete role "test":
* unassign role "test" from all nodes
* update all authentication sources where role "test" is assigned
* update all connection profiles or portal modules where role "test" is in use
* remove role "test" in $CONF/roles.conf
* remove role "test" in $CONF/switches.conf

Then do a `pfcmd configreload hard`. Last two steps need to be done on each

[2019-03-22 12:58] extrafu commented on #3940
The problem is that we cannot simply "unassign" a role for nodes - you have to transfer all nodes to a new role (or new roles), or unregister all of them.

[2019-03-22 13:52] cgx commented on #3940
One possible short-term option: let the user delete a role only if no nodes are assigned to it.

[2019-03-22 13:52] nqb commented on #3940
Not agree @extrafu. On a node registered with a role "guest", I can simply remove its role and set it to "No role".

[2019-03-22 13:54] extrafu commented on #3940
Yes and what happens then when the device is registered and no role is assigned to it and it connects using MAC authentication? Shit will hit the fan and it'll get ugly.

[2019-03-22 14:02] julsemaan commented on #3940
@extrafu's arguments are the reason why we need to have this done in a clean way

Like a wizard that guides you through the deletion, asks you what to do with the nodes associated to the role (unreg or change role), asks you what to do with auth rules with this role (delete them or change to another role). Then with that info in hand, it goes and modifies the config + DB and does the housekeeping.

[2019-03-22 14:02] julsemaan commented on #3940
![image](https://user-images.githubusercontent.com/3857942/54828007-a12fb680-4c89-11e9-82f1-bba3403c160a.png)

[2019-03-22 14:03] extrafu commented on #3940
@julsemaan Is that @lzammit ?

[2019-03-22 14:39] julsemaan opened #4105 "API spec: unable to auto generate from routes"
Using latest devel:
[code]

[2019-03-22 15:18] julsemaan commented on #3940
Also, to add to the list of housekeeping @lzammit's cousin will have to do:
- provisioners
- scan engines
- device registration
- vlan filters
- radius filters
- firewall SSO
- billing tiers

and I'm probably forgetting some

[2019-03-22 15:48] #3992 closed

[2019-03-22 15:57] jrouzierinverse commented on #4053
After discussion we are going to use the following approach.

[code]

[2019-03-22 20:12] cgx opened #4109 "API token expiration improvement"
As discussed with @julsemaan, we could improve the token expiration algorithm so the token validity can be extended upon each request but can't lasts longer than a certain amount of hours (8? 12? 24?).

[2019-03-22 21:14] jrouzierinverse commented on #4105
Fixed by 5156738176e61228cb36b341fcd3517b18d6c603

[2019-03-22 21:14] #4105 closed

[2019-03-25 08:26] nqb commented on #3669
@jrouzierinverse : any updates ?

[2019-03-25 12:02] julsemaan commented on #4109
It seems that a token lasts 10 minutes

Here is my suggestion on timings:
- A token should be valid for 15 minutes
- Everytime a token is used, it extends the expiration to now+15 minutes
- A token will not be valid after 12 hours of usage

I'll start implementing this unless someone disagrees today

[2019-03-25 12:34] nqb opened #4111 "webadmin: duplicate LDAP attributes for AD sources"
In 8.3, when I create an authentication rule in a **AD** source:

![Untitled](https://user-images.githubusercontent.com/10830260/54919918-40f77980-4f02-11e9-8f9e-3228cc470744.png)

Issue not presents for **LDAP** sources.

Dropdown operators are different, one sAMAccountName field has an additional `is member of` choice.

[2019-03-25 12:35] nqb opened #4112 "database_advanced.performance_schema: wrong value in pf.conf.defaults"
In 8.3.9, when I restarted pf services:
[code]

[2019-03-25 12:39] #4112 closed

[2019-03-25 12:47] nqb opened #4113 "dot1x_unset_on_unmatch: invalid parameter for profile default"
In 8.3.9, when restarting PF services through `pfcmd`, I got:
[code]

[2019-03-25 12:48] #4113 closed

[2019-03-25 14:30] jrouzierinverse opened #4116 "New API endpoints"
New API endpoints checkup and fix permission

[2019-03-25 14:49] satkunas commented on #4102
Yes, `OPTIONS` `/api/v1/wrix_locations`.

[2019-03-25 15:24] mickaelidf opened #4118 "it is not possible to go through the configuration wizard"
[Packetfence_First_Installation_Error.pdf](https://github.com/inverse-inc/packetfence/files/3004081/Packetfence_First_Installation_Error.pdf)

Hi,

I've stumbled upon some issues when trying to install and run PacketFence 8.3 on Red Hat 7.6 (Maipo).

First of all, package installation when through without errors. But after installation the packetfence it impossible to go through the Configurator.

[2019-03-25 15:25] extrafu commented on #4118
Use the mailing list for such problems.

[2019-03-25 15:25] #4118 closed

[2019-03-25 15:28] mickaelidf commented on #4118
Please can you describe how to Use the mailing list for such problems?

[2019-03-25 15:30] extrafu commented on #4118
1. boot your computer
1. open your web browser
1. open https://packetfence.org/support.html#/community
1. read the page
1. open your MUA
1. subscribe to the mailing list
1. post your email

[2019-03-25 17:49] jrouzierinverse commented on #4109
Send back the expiration date for the token so it can be properly refreshed.

[2019-03-25 18:09] julsemaan commented on #4109
@jrouzierinverse

Should that be in the token_info API call or in a header included in every response ?

[2019-03-25 18:29] jrouzierinverse commented on #4109
token_info API call.

[2019-03-25 18:44] satkunas commented on #4060
Talked with @jrouzierinverse, this is a non-issue.

[2019-03-25 18:44] #4060 closed

[2019-03-25 18:45] jrouzierinverse commented on #4056
This is fixed

[2019-03-25 18:45] #4056 closed

[2019-03-25 18:47] mickaelidf commented on #4118
Hi,
I sent my email to the mailing list.
 thank you again for your  reply.

[2019-03-25 19:37] #4054 closed

[2019-03-25 19:39] julsemaan opened #4120 "Security events: have useragent and user_agent in the code"
In the security events, we have user_agent in the pfappserver controller and in the conf while the trigger is useragent.

We need to adjust this to be only useragent as it is in the factory

Should be adjusted in at least:
 * html/pfappserver/lib/pfappserver/PacketFence/Controller/SecurityEvent.pm
 * conf/security_events.conf.example
 * conf/security_events.conf.defaults

[2019-03-25 19:43] julsemaan commented on #4120
While doing this, we should go through lib/pf/factory/condition/security_event.pm so that it uses the constants in lib/pf/constants/trigger.pm and ensure the latest is consistent with what is in the factory

[2019-03-25 21:33] satkunas opened #4121 "Pfappserver utils/api response w/ interceptor mutates after request is made"
In reference to the request `response` parameter below.

https://github.com/inverse-inc/packetfence/blob/ef273599599b13bd95717d0fdc2da14b0f851b25/html/pfappserver/root/static.alt/src/utils/api.js#L43

The response from `apiCall.interceptors.response.use((response)=>{})` includes the properties `baseURL` and `url`. The response from `apiCall.interceptors.request.use((response)=>{})` also include a

[2019-03-26 12:39] extrafu opened #4122 "v9-gui: toggling service running/stopped doesn't start/stop it"
Title says all.

[2019-03-26 12:44] extrafu opened #4123 "v9-gui: trying to rejoin an AD domain does nothing"
No API call is made when trying to rejoin an AD domain.

[2019-03-26 12:46] extrafu commented on #4123
Same with the Delete button.

[2019-03-26 12:49] julsemaan commented on #716
This has been addressed via the API frontend

[2019-03-26 12:49] #716 closed

[2019-03-26 13:02] julsemaan commented on #4123
actually because its not implemented

See #3561

[2019-03-26 13:03] extrafu commented on #4123
Ok I'll close that issue and rename the other one for ease of identification (broken v9 GUI stuff)

[2019-03-26 13:03] #4123 closed

[2019-03-26 13:26] cgx commented on #4121
I would assume this is a bug in the Axios library. Maybe the upcoming [getUri](https://github.com/axios/axios/pull/1712) method will help.

[2019-03-26 13:59] cgx opened #4125 "OPTIONS /api/v1/config/security_events → trigger"
We need to expose some of the [possible values](/inverse-inc/packetfence/blob/devel/lib/pf/constants/trigger.pm) for the trigger definition.

* internal options
* Suricata categories
* Nexpose categories
* Switches
* Switch groups

[2019-03-26 14:30] extrafu commented on #3561
Right now, we also don't have a visual indicator if the domain join is working. In v8, we used to display "Test join succeeded!"

[2019-03-26 14:53] extrafu opened #4126 "v9-gui: switch editing roles mapping"
When editing an existing switch (coming from v8.3 configuration), you cannot tell if you're using Role by VLAN ID, Role by Switch Role, etc. because all the toggles are in 'disabled state'.

When you toggle on something, existing data is shown.

We should toggle on the stuff that has data in it.

[2019-03-26 15:06] extrafu opened #4127 "v9-gui: Adding sources in connection profiles"
It's impossible to add an authentication source when editing a connection profile.

Even if I have about 10 sources defined, none of them are shown and selectable.

[2019-03-26 15:10] jrouzierinverse commented on #4127
I fixed this yesterday which version are you using?

[2019-03-26 15:11] extrafu commented on #4127
The latest stuff

[2019-03-26 15:14] extrafu commented on #4127
@satkunas or @cgx You might want to take a look at the GUI stuff so it's adjusted following @jrouzierinverse's fixes

[2019-03-26 15:19] julsemaan commented on #3561
I'll tackle this through an async domain join done via pfqueue + some polling to fetch the status of the job

[2019-03-26 15:24] extrafu commented on #3561
💪

[2019-03-26 15:25] extrafu commented on #3561
^--- @lzammit  muscles

[2019-03-26 15:29] extrafu opened #4128 "v9-gui: Dashboard unavailable"
In v8, if the netdata service is stopped, we at least show:

"Error! An error occured while contacting the server. Please try again later."

when accessing the Dashboard.

In v9 we get a blank page. We should improve this and perhaps even let the user know which service to start. It happened in production environments where netdata was gone away and the dashboard was broken.

[2019-03-26 15:31] extrafu opened #4129 "v9-gui: Deleting a firewall SSO module"
Trying to delete an existing firewall SSO module doesn't do anything.

The following JavaScript exception is raised at the console:

[code]

[2019-03-26 17:11] extrafu opened #4130 "v9-gui: configuration landing pages missing"
We're missing the configuration landing pages with rationale about the configuration's section like in the v8 GUI. See screenshot.

[2019-03-26 17:11] extrafu commented on #4130
<img width="1509" alt="Screen Shot 2019-03-26 at 1 07 57 PM" src="https://user-images.githubusercontent.com/1616141/55018182-a615a280-4fc8-11e9-9be8-116da69452f6.png">

[2019-03-26 17:33] julsemaan commented on #3561
:nail_care:

[2019-03-26 17:33] julsemaan commented on #3561
^---- @lzammit hand

[2019-03-26 17:39] extrafu commented on #3561
💩

[2019-03-26 17:39] extrafu commented on #3561
^--- @lzammit 's post morning's coffee gift

[2019-03-26 17:44] extrafu opened #4131 "v9-gui: RADIUS audit log doesn't show all information"
When clicking on a RADIUS log entry, the 3 tabs show very very little information about the actual RADIUS log entry.

[2019-03-26 17:45] extrafu commented on #4131
<img width="1333" alt="Screen Shot 2019-03-26 at 1 44 35 PM" src="https://user-images.githubusercontent.com/1616141/55020518-5b4a5980-4fcd-11e9-858d-1d3d0bc844fb.png">

[2019-03-26 17:45] extrafu commented on #4131
<img width="1337" alt="Screen Shot 2019-03-26 at 1 44 40 PM" src="https://user-images.githubusercontent.com/1616141/55020521-5edde080-4fcd-11e9-844d-be06ee84c6f7.png">

[2019-03-26 17:45] extrafu commented on #4131
<img width="1336" alt="Screen Shot 2019-03-26 at 1 44 45 PM" src="https://user-images.githubusercontent.com/1616141/55020528-62716780-4fcd-11e9-88f6-c635735971a4.png">

[2019-03-26 17:51] extrafu opened #4132 "v9-gui: RADIUS audit log missing many search options"
Only MAC address and Username are possible now - many more options should be provided as per the v8 GUI.

[2019-03-27 14:03] julsemaan commented on #4084
@fdurand

That is fixed now right ?

[2019-03-27 14:42] fdurand commented on #4084
Fixed in https://github.com/inverse-inc/packetfence/commit/a2efcda8f8085c9984d8f515d511e4cc5b80f74e

[2019-03-27 14:42] #4084 closed

[2019-03-27 15:53] julsemaan opened #4135 "Missing API spec for Fingerbank related API"
Title says it all

[2019-03-27 17:29] jrouzierinverse commented on #4125
This has been fixed in devel

[2019-03-27 17:29] #4125 closed

[2019-03-27 18:47] jrouzierinverse commented on #4008
We now convert a '-' to a '/' for the id.
@satkunas can you do that in the front end?

[2019-03-27 18:59] jrouzierinverse commented on #4008
We now convert a '~' to a '/' for the id per request of @satkunas

[2019-03-27 19:08] extrafu commented on #4127
Looks like it has been partially fixed. I see the sources now but whenever I add one (or more) and try to save I get the error:

<img width="480" alt="Screen Shot 2019-03-27 at 3 07 34 PM" src="https://user-images.githubusercontent.com/1616141/55105116-2a882400-50a2-11e9-9248-0cc7c5b76006.png">

[2019-03-27 19:11] extrafu commented on #4129
Seems to be working now.

[2019-03-27 19:11] #4129 closed

[2019-03-27 19:30] extrafu opened #4136 "v9-gui: nodes import from CSV - missing import options"
All the import options from v8 are missing when importing nodes from a CSV file.

<img width="1182" alt="Screen Shot 2019-03-27 at 3 30 32 PM" src="https://user-images.githubusercontent.com/1616141/55106424-4b05ad80-50a5-11e9-9010-0dd74cb73d32.png">

[2019-03-27 19:35] extrafu opened #4137 "v9-gui: creating a node manually fails"
Example:

[code]

[2019-03-27 19:37] extrafu commented on #4136
Same applies when importing users:

<img width="1182" alt="Screen Shot 2019-03-27 at 3 37 22 PM" src="https://user-images.githubusercontent.com/1616141/55106838-455c9780-50a6-11e9-98d6-7c2628cf7f9a.png">

[2019-03-27 19:42] extrafu opened #4138 "v9-gui: Missing actions button from Users page"
The Actions button is missing from the Users page.
<img width="204" alt="Screen Shot 2019-03-27 at 3 42 24 PM" src="https://user-images.githubusercontent.com/1616141/55107142-f6fbc880-50a6-11e9-93ed-3d1c57d76f89.png">

[2019-03-27 19:43] cgx commented on #4136
Nothing is missing. It's a more UX issue if you haven't found the options. I'll try to improve the GUI.

[2019-03-27 19:44] cgx commented on #4138
Related to issue #3564.

[2019-03-27 19:47] satkunas opened #4139 "API OPTIONS config/fingerbank_settings returns emtpy meta"
[code]

[2019-03-27 19:53] extrafu commented on #3564
@jrouzierinverse I guess it's time to add those!

[2019-03-27 20:03] jrouzierinverse commented on #3564
This is done in https://github.com/inverse-inc/packetfence/pull/3832

[2019-03-27 21:03] satkunas opened #4140 "API PATCH config/fingerbank_setting/:id 500 error"
Same issue with all ID's
 * upstream
 * collector
 * query
 * proxy

Example request URI: `PATCH /api/v1/config/fingerbank_setting/upstream`
Example request payload: `{"api_key":"[snipped]","db_path":"/api/v2/download/db","host":"api.fingerbank.org","not_deletable":true,"port":"443","sqlite_db_retention":"2","use_https":"enabled","id":"upstream"}`

Example response code: 500
Example response body:

[2019-03-27 21:09] #4062 closed

[2019-03-27 22:54] satkunas opened #4141 "API GET fingerbank/:scope/combinations scope response case mismatch"
The `scope` in the response uses an upper-case word "All", "Remote" or "Local", while the endpoints require all lower-case. These should use the same case.

[2019-03-28 01:01] jrouzierinverse commented on #4140
Fixed by 471c3afd21531666b66e8a905674f688c4103a57

[2019-03-28 01:01] #4140 closed

[2019-03-28 01:05] #4141 closed

[2019-03-28 11:25] julsemaan opened #4142 "Default Mojolicious templates are in HTML"
The default 404 and 500 templates (probably others but these are the ones I've hit) are in HTML meaning that if the Unified API hits an internal error, we're getting an HTML response instead of a JSON response

[2019-03-28 11:27] #3564 closed

[2019-03-28 12:40] extrafu commented on #4138
Code has been merged in this morning to offer the missing features. It can now be added to the GUI.

[2019-03-28 12:58] extrafu opened #4143 "v9-gui: after apply new role to nodes, list isn't refreshed"
From the Nodes module, if I select 2 nodes and I change their role, the view isn't updated.

[2019-03-28 13:02] extrafu opened #4144 "v9-gui: Confusing selection from Nodes module"
From the Nodes module, when clicking on "Search" it highlights pretty much everything in the list except Create and Import as per the following screenshot. This is quite confusing.
<img width="279" alt="Screen Shot 2019-03-28 at 9 01 47 AM" src="https://user-images.githubusercontent.com/1616141/55159783-3292a300-5138-11e9-8c63-68d27c180654.png">

[2019-03-28 13:18] extrafu opened #4145 "v9-gui: Email AND sponsor-based registration source misses allowed/banned domains"
See screenshot:

<img width="1211" alt="Screen Shot 2019-03-28 at 9 17 33 AM" src="https://user-images.githubusercontent.com/1616141/55160775-77b7d480-513a-11e9-92bf-30bd6dd6d483.png">

[2019-03-28 13:34] extrafu opened #4146 "v9-gui: Unable to create switchgroup"
When creating a switchgroup with IP address, description and uplinks specified, it fails:

[code]

[2019-03-28 13:42] nqb commented on #3702
As spoke with @julsemaan, regarding state of translation of PacketFence's captive portal in other languages than English, changing this setting will cause unexpected behaviors. It's better to keep English as a default value. Feel free to override this setting after installation.

[2019-03-28 13:42] #3702 closed

[2019-03-28 14:25] nqb opened #4148 "portal modules: help when no source selected"
When no source are selected on a portal module, we got this message:
![sources](https://user-images.githubusercontent.com/10830260/55165323-84095500-516d-11e9-90da-8cc4a48ec374.png)

We should have:

See https://github.com/inverse-inc/packetfence/pull/3827#issuecomment-476207616

[2019-03-28 14:33] cgx opened #4149 "security_events.conf → s/desc/description/g"
In `security_events.conf`, we use `desc` while in all other configuration files we use `description`. Let's fix this.

[2019-03-28 14:46] extrafu commented on #4148
BTW, I tagged v9-gui the stuff related to the *new* GUI - not the old one.

[2019-03-28 15:04] nqb commented on #4148
This was to have this thing in mind for the new GUI.

[2019-03-28 15:59] satkunas opened #4150 "API OPTIONS /fingerbank/* missing"
Also please indicate what URL is used for each collection (eg: combinations, useragents, etc), and wether or not the scope is needed in the URL or not?

[2019-03-28 16:00] satkunas commented on #4150
@jrouzierinverse please prioritize, I'm unable to build up the front-end until OPTIONS are complete.

[2019-03-28 16:00] fdurand opened #4151 "v9-gui: Policies and Access Control global issues. (keep it open until the list is empty)"
Global Section:
- [x] Clicking on sub-menu always collapse the main menu.

Roles Section:
- [x] New admin permit to delete a role.

Active Directory Domains:
- [x] Missing predefined values on create (like OU, Sticky DC, server name)

Realms:
- [ ] RADIUS ACCT still empty even if there is some radius authentication sources defined.

Authentication sources
- [x] ALL : No able to save {"errors":[{"i

[2019-03-28 17:07] satkunas opened #4152 "API GET fingerbank/all/combinations?field=id,device"
Error:

[code]

`device` is returned in the payload, it should be an allowed search field:

[code]

[2019-03-28 17:30] extrafu opened #4153 "v9-gui: "Configuration > Integration" issues (keep it open until the list is empty)"
- [ ] Firewall SSO: Missing "$pf_username" default value for "Username format"
- [x] Firewall SSO: When cloning an existing firewall SSO entry, the "Hostname or IP Address" has the value of the cloned entry, instead of being empty
- [ ] Firewall SSO: Search does not work
- [ ] Cisco Mobility Services Engine: When saving settings, it says "mse_tab updated" - needs to be prettier for users
- [ ] Web

[2019-03-28 17:50] jrouzierinverse commented on #4152
The error is correct
[code]

[2019-03-28 17:50] #4152 closed

[2019-03-28 18:36] jrouzierinverse commented on #3559
I think we can close this. @julsemaan what do you think?

[2019-03-28 18:37] #2432 closed

[2019-03-28 18:41] #3923 closed

[2019-03-28 18:44] julsemaan commented on #3559
![image](https://user-images.githubusercontent.com/3857942/55184178-e95a4780-5167-11e9-8017-272503e5de9e.png)

[2019-03-28 18:45] #3559 closed

[2019-03-28 20:04] satkunas opened #4154 "API GET config/l3_networks missing"

[2019-03-28 22:32] satkunas opened #4156 "API DELETE config/interface/:id returns empty response"
During the removal of a VLAN. Unsure about the non--VLAN interfaces.

[2019-03-29 12:58] julsemaan commented on #4154
It was me misleading you, its config/routed_networks

[code]

[2019-03-29 13:20] julsemaan commented on #4156
Its fixed in fe98d4c2254255519aabb16de0c21a34e3d1ac1b

@satkunas, you can try it again and close if its fixed

[2019-03-29 14:05] dondon21 opened #4157 "v9-gui: Issues for compliance"
- [x] cannot change fingerbank settings
- [x] HTTP code 500 on the nessus scan engine
- [ ] cannot select os on all the scan engines
- [x] cannot delete scan engine on the engine lists
- [ ] empty lists on the rapid7 scan engine
- [x] error "unable to validate invalid no valid formater" on the rapid7 scan engine
- [x] error "unable to validate" on the WMI scan engine
- [x] cannot see and add WMI r

[2019-03-29 14:21] julsemaan opened #4158 "Need 'role' trigger for security event"
For the security events rework, we defined we wanted to be able to use the role as trigger.

That was missing from the refactor #3969

[2019-03-29 14:41] cgx opened #4159 "API OPTIONS /config/switches & /config/switch_groups → incomplete"
We don't properly flag required fields. Or at least we should be consistant and not throw an error if a field is not required.

For example, `description` is not required, but the server will reject the request if it's not defined. Same think for `uplink`.

See #4146 and #4038.

[2019-03-29 15:02] jrouzierinverse commented on #4159
This is extra validation done by the form.

[2019-03-29 15:10] jrouzierinverse commented on #4091
I will provide a bulk_{update|delete} for config all items as this will be useful for config items.
The only question is for update if the id does not exists should we return an error for that config item or attempt to create it?

[2019-03-29 15:49] #4159 closed

[2019-03-29 15:49] #4146 closed

[2019-03-29 15:50] #4038 closed

[2019-03-29 16:07] dondon21 opened #4160 "v9-gui: "Configuration > Advanced access configuration" issues (keep it open until the list is empty)"
- [x] it's possible to add text in the IP field of the captive portal tab
- [x] the reset button don't delete the text in the IP field on the captive portal tab
- [x] HTTP code 500 on the new billing tier tab
- [ ] The error is not clear when a wrong path is set on the PKI provider path
- [ ] The locality list is empty in the SCEP PKI option in the PKI provider tab
- [ ] Cannot add OS in the provi

[2019-03-29 17:53] dondon21 opened #4161 "v9-gui: Issues for network configuration"
- [x] Cannot manage interfaces
- [x] Cannot manage inline traffic shaping policy
- [x] HTML tag visible in the title : generate signing request for certificate

[2019-03-29 19:02] #4158 closed

[2019-03-29 19:06] julsemaan opened #4163 "role trigger needs to have OPTIONS"
The new role trigger type needs to have the OPTIONS populated with all the roles in PacketFence

[2019-03-29 19:16] #4109 closed

[2019-03-29 19:27] julsemaan commented on #4154
@satkunas

close if all good

[2019-03-29 19:28] #4163 closed

[2019-03-29 19:37] #4142 closed

[2019-03-29 19:41] julsemaan commented on #4092
That may be a bit confusing though since that service will return 3 sub-services so it won't follow the same format as the other "simpler" services like httpd.portal

Are we sure we want to adjust this to what pfcmd does ?

[2019-03-29 19:44] julsemaan commented on #3863
I guess this is handled, can @jrouzierinverse or @satkunas confirm this ?

[2019-03-29 19:50] cgx commented on #3863
Looks good to me.

[code]

[2019-03-29 19:50] julsemaan commented on #4005
IMO this is a non-issue since I think we should follow WRIX's standard for field naming

[2019-03-29 22:50] satkunas opened #4164 "API GET config/interface/:id missing id in payload"
This sounds redundant, but it's necessary to maintain the same code paths throughout out pfappserver store. Please add to response.

[2019-03-31 20:10] jrouzierinverse commented on #4058
@cgx fixed by 287629a0f6364838f254ebd28d482a994fd97cb6

Added 'allowed_lookup' to meta
It has two fields search_path and field_name
The search path is the path to send the search query.
The field_name is the name of the field for the query.
Let me know if this is enough.

[code]

[2019-03-31 20:12] jrouzierinverse commented on #4059
This is the name in the configuration.

[2019-03-31 20:12] #4059 closed

[2019-04-01 04:44] polynamaude commented on #2392
@louismunro It would be better because you wouldn't ask people to install a specific software other than what's already in the Debian distribution. In this way, you could even get your software into the standard Debian distribution because it would be policy compliant. Well I'd need to get a closer look into the copyright but you'll simply make life easier for others ;-)

[2019-04-01 05:44] nqb commented on #2392
Another possibility is to use `lsb_release` from package `lsb-release`.

[2019-04-01 09:07] nqb opened #4166 "v9-gui: "Nodes" issues (keep it open until the list is empty)"
- [x] after apply new role to nodes, list isn't refreshed #4143
- [x] Confusing selection from Nodes module #4144

# Search
- [x] Missing search options: `Status`,`Source Switch Port`, `Source Switch Port Description`, `Security Event Name`
- [x] Unexpect character (`[?]`) in dropdown search menu for `Bypass VLAN`, `Connection type` and `Device manufacturer` items
- [x] Default view for Search men

[2019-04-01 09:07] nqb opened #4167 "v9-gui: "Users" issues (keep it open until the list is empty)"
- [x] Missing actions button from Users page #4138

# Search

# View
- [x] Missing `Psk` and `lang` field
- [x] Missing `Devices` and `Security Events` tab

# Create
- [x] Password must be at least 6 characters, no such limitation in old GUI
- [x] Access Level drop-down doesn't display all choices (missing: NONE, ALL, ALL_PF_ONLY) (see #3646)
- [x] Multiple users creation doesn't work (see #4256)

[2019-04-01 09:08] nqb opened #4168 "v9-gui: "Audit > RADIUS Audit Log" issues (keep it open until the list is empty)"
- [x] RADIUS audit log doesn't show all information #4131
- [x] RADIUS audit log missing many search options #4132
- [x] Missing pre-configured searches (Switch groups, Roles, Status, etc.)
- [x] Inconsistent name between left panel (RADIUS Audit Log) and frame (Search RADIUS Audit Log**s**)
- [x] Icon for RADIUS Audit Log is missing
- [x] `Search by .. username` must be `Search by .. Username`
-

[2019-04-01 09:10] nqb opened #4169 "debian 9 : installation failed"
I try to install devel packages on Debian 9, I got:
[code]

[2019-04-01 09:29] nqb commented on #4169
rsyslog is not a dependency of packetfence

[2019-04-01 09:29] #4169 closed

[2019-04-01 09:48] nqb opened #4170 "v9-gui: logo is different and not clickable"
old GUI:
![Screenshot from 2019-04-01 11-45-53](https://user-images.githubusercontent.com/10830260/55318725-bcfa4000-5473-11e9-94d4-80e46cc95feb.png)

new GUI:
![Screenshot from 2019-04-01 11-44-33](https://user-images.githubusercontent.com/10830260/55318738-c2f02100-5473-11e9-8322-776d11f79c67.png)

In the old GUI, logo was clickable. When clicking on the logo, you go back to the default page of

[2019-04-01 10:04] nqb opened #4171 "v9-gui: "Audit > Option82" issues (keep it open until the list is empty)"
- [x] Clicking on Option82 menu display a blank page
- [x] Icon for Option82 is missing

# Search
- [x] Entries sorted in reverse order (oldest entry in first)

# View

[2019-04-01 10:16] nqb opened #4172 "v9-gui: number of results by page"
old gui: 25, 50, 75, 100, 200, 500, 1000, All. Default choice: 25.

new gui: 10, 25, 50 and 100. Default choice: 10.

[2019-04-01 11:56] nqb opened #4173 "Debian 9: systemd-resolved prevent pfdns to start"
When I start PF services, `pfdns` doesn't want to start with following message:
[code]

Socket is in use by `systemd-resolve`:
[code]

Workaround:
[code]

[2019-04-01 12:12] julsemaan commented on #4164
Fixed in devel, @satkunas, have fun with your new toy

[2019-04-01 12:37] nqb opened #4174 "v9-gui: wrong label for conditions in searches"
![Screenshot from 2019-04-01 14-36-19](https://user-images.githubusercontent.com/10830260/55327989-9e07a800-548b-11e9-9837-748d87c6ba19.png)

Underscores need to be remove.

[2019-04-01 13:08] nqb commented on #4166
TODO:
- [ ] Security events

[2019-04-01 13:23] cgx commented on #3650
See #4063.

[2019-04-01 13:23] #3650 closed

[2019-04-01 13:24] nqb opened #4175 "v9-gui: columns selection"
In old GUI, it was possible to add several columns at same time by clicking on their names.

In new GUI, you can only add **one** column at same time.

[2019-04-01 13:29] nqb opened #4176 "v9-gui: background-color between two rows"
In new GUI, there is no difference on background-color between two rows:

Old GUI:
![Screenshot from 2019-04-01 15-26-19](https://user-images.githubusercontent.com/10830260/55330968-a1eaf880-5492-11e9-8b51-1ba72e354639.png)

New GUI:
![Screenshot from 2019-04-01 15-26-27](https://user-images.githubusercontent.com/10830260/55330979-a6171600-5492-11e9-8a53-6f2124480c1e.png)

[2019-04-01 13:40] nqb opened #4177 "v9-gui: missing labels next to "Actions" and "Visible columns" buttons"
There is no label next to buttons "Actions" and "Visible columns":

![Screenshot from 2019-04-01 15-39-42](https://user-images.githubusercontent.com/10830260/55331811-62251080-5494-11e9-8e47-00be018cbd82.png)

[2019-04-01 13:59] #3570 closed

[2019-04-01 13:59] #3565 closed

[2019-04-01 14:23] julsemaan opened #4178 "Failure to lock pfconfigpool is too verbose"
A failure to lock the pfconfigpool in pfhttpd causes errors that are way too verbose (its a panic with the stacktrace)

We should instead catch this and log a warning so its less scary for users and @lzammit who has been doing nightmares about this (and potential back-order of his favorite turkey for his sandwiches)

[2019-04-01 14:28] cgx commented on #3646
For reference, we consume those roles from the user creation page. Here's the old Web admin page:

![Screen Shot 2019-04-01 at 10 27 16 AM](https://user-images.githubusercontent.com/1088448/55335251-ca5dfd00-5468-11e9-9989-4d8b97d91fd0.png)

[2019-04-01 14:34] cgx commented on #3654
See #4063.

[2019-04-01 14:34] #3654 closed

[2019-04-01 14:51] cgx commented on #3778
The `local` source appears, but is deletable.

[2019-04-01 16:00] #4178 closed

[2019-04-01 17:09] #3566 closed

[2019-04-01 17:43] jrouzierinverse commented on #1253
This can be done via the API.

[2019-04-01 18:34] julsemaan opened #4180 "Node CSV import new line handling"
If you start the import process of a CSV file and it has new lines delimited with '\n' (no '\r'), then the "CSV File Contents" appears as a single line

Moreover, changing the Newline to '\n' in the CSV parser options still leaves the "CSV File Contents" tab unchanged

If possible, it would be good if the CSV parser could auto detect the newline type so it works flawlessly on both Linux and Window

[2019-04-01 18:44] jrouzierinverse commented on #3268
I am moving this to 9.1 since we removed or handled all the special case in devel.

[2019-04-01 18:48] jrouzierinverse commented on #3631
Can be partially addressed by #4061

[2019-04-01 18:50] cgx opened #4181 "OPTIONS /api/v1/config/security_events → switch allowed values"
Allowed values for the *switch* and *switch_group* property are missing.

[2019-04-01 22:01] satkunas opened #4182 "API GET config/routed_routed_networks"
With the CRUD usage the `network` and `id` appear to be synonymous.

This ambiguity should be removed and we should use either `id` or `network`, not both. To follow existing conventions `network` should become `id`.

[2019-04-01 22:14] satkunas opened #4183 "API PATCH config/routed_networks"
Error when patching an existing `id`.

URI: `PATCH /api/v1/config/routed_network/1.2.3.5`

Payload:
[code]
Response:
[code]

Possibly due to the `id`/`network` confusion described in https://github.com/inverse-inc/packetfence/issues/4182

[2019-04-02 06:48] nqb opened #4184 "API GET /config/provisionings: issue with CRUD"
I can't create a new provisioner:
[code]

[2019-04-02 06:49] nqb commented on #4184
`fingerbank` is not running on my test machine.

[2019-04-02 11:48] julsemaan commented on #4184
The Fingerbank database is corrupted in the package you're using or it got corrupted during the update

Check the fingerbank.log around the hour on which /usr/local/fingerbank/db/fingerbank_Upstream.db got created.

Also provide your OS + exact PacketFence and Fingerbank packages name so we know on which builds this is happening

[2019-04-02 11:50] nqb commented on #4184
- Debian 9
- packetfence 8.3.9-201904010040
- fingerbank 4.1.3-1

I see this kind of messages in `fingerbank.log`:
[code]

[2019-04-02 12:25] #4183 closed

[2019-04-02 12:26] julsemaan commented on #4183
@satkunas, fixed try again

[2019-04-02 12:26] julsemaan commented on #4182
@satkunas, fixed try again

[2019-04-02 13:22] satkunas commented on #4182
@julsemaan the collection is not populating the `id`

[code]

[2019-04-02 13:39] julsemaan commented on #4182
Should be fixed now in adf028363fe5118ae9c4ef4b5f009dc24794f24e

[2019-04-02 13:44] dondon21 opened #4185 "v9-gui: Issues for system configuration"
- [ ] Its possible to enter text in the ftp port field
- [ ] Its possible to enter text in the PFDNS processes field
- [x] Its possible to enter text in the PFilter processes field
- [x] Cannot change maintenance flag buttons (need to clear each time)
- [x] Unauthorized access on the search field of the maintenance tab
- [x] Cannot manage radiusd service in the active active tab
- [x] Cannot manag

[2019-04-02 14:12] #4182 closed

[2019-04-02 14:54] satkunas opened #4186 "API POST conf/routed_network error"
Perl backend still expects `network` when creating a new resource, `network` should be `id`

Payload:
[code]

Response:
[code]

[2019-04-02 14:59] becchett opened #4187 "suricata "ET TOR" violation doesn't start"
Dear all,
I've got a question about suricata integration. My PF 8.3 works fine and I've got some
violation rules that using this IDS but when I try to add "ET TOR" pf doesn't works.

My violation.conf is here:

`[1500003]
priority=2
trigger=suricata_event::ET TOR,suricata_md5::2522362
actions=email_admin
window=
max_enable=2
desc=IDS TOR
access_duration=12h
template=p2p
delay_by=
grace=10m
enabled

[2019-04-02 14:59] julsemaan commented on #4186
fixed, check again

[2019-04-02 15:45] #4186 closed

[2019-04-02 16:05] satkunas opened #4189 "API DELETE config/routed_network/:id response empty"
[code]

This could use a `message` in the response.

[2019-04-02 16:48] julsemaan commented on #4189
Seems all the config layer lacks a message for deletion.

I'd suggest:
[code]

[2019-04-02 17:58] satkunas opened #4190 "API POST config/interface not implemented"
Needed to create VLANs.

URI: POST /api/v1/config/interface

Payload:
[code]

Response:
[code]

[2019-04-02 18:04] julsemaan commented on #4190
we post to the collection not the resource

[2019-04-02 18:07] #4190 closed

[2019-04-02 18:09] satkunas opened #4191 "API config/interface* error badly formed"
The error message when creating a new resource in the interface collection doesn't follow the (error => message) structure in our spec.

Example from: POST config/interfaces
[code]

[2019-04-02 18:14] extrafu commented on #4187
I think you should use the mailing list for that. That's not the place to ask question.

[2019-04-02 18:14] #4187 closed

[2019-04-02 18:23] becchett commented on #4187
My apologize,I used github because I thought it's a bug.
Best Regards

[2019-04-02 18:41] #4191 closed

[2019-04-02 18:48] #3378 closed

[2019-04-02 19:53] julsemaan commented on #3997
Did the code in 4480ab60d56ddd51b8b3a23b2f0469713e4ef53e

Its another API endpoint that is called on the domain resource and its not included in the listing so that all domains can be done individually and we don't block listing while waiting for communication with the domain

Ex:
[code]

[2019-04-02 19:53] julsemaan commented on #3997
Leaving open since we're missing the spec but this is solved

[2019-04-02 19:54] julsemaan commented on #3997
@satkunas, you can have fun with the new API call

[2019-04-02 20:42] fdurand opened #4193 "Firewall sso log when sso fail."
There is no log when the request fail, like for paloalto we should log if the answer is not 200.

[2019-04-02 21:07] jrouzierinverse commented on #4184
Try and reinstall fingerbank

[2019-04-02 21:22] jrouzierinverse commented on #4189
Fixed by fff52ae82668cff9a780a92caebec94b0933e44a

[2019-04-02 21:22] #4189 closed

[2019-04-03 12:43] lzammit opened #4194 "v9-gui: pfcmd checkup checkup button is not there anymore"
Old admin

<img width="254" alt="Screen Shot 2019-04-03 at 8 42 27 AM" src="https://user-images.githubusercontent.com/5261214/55479651-8b58b480-55ec-11e9-80a7-38502669b7e4.png">

[2019-04-03 12:55] jrouzierinverse commented on #4194
This depends on #4117

[2019-04-03 13:10] #3561 closed

[2019-04-03 14:14] satkunas opened #4195 "API PATCH fingerbank/local/combination/:id not working"
Receiving 404 http response code with all of (resource update):

- PATCH fingerbank/all/combination/:id
- **PATCH fingerbank/local/combination/:id**
- PATCH fingerbank/remote/combination/:id

I assume it's only the `local` scope that should work.

[2019-04-03 14:27] satkunas commented on #4195
Also receiving a 404 with (resource creation):

- POST fingerbank/local/combination

[2019-04-03 14:29] jrouzierinverse commented on #4195
What is the exact response JSON response?

fingerbank/remote/combination route does not exists.
It is fingerbank/upstream/combination

[2019-04-03 14:29] jrouzierinverse commented on #4195
Patch is only allowed on local

[2019-04-03 14:30] jrouzierinverse commented on #4195
POST fingerbank/local/combination route does not exists
POST fingerbank/local/combinations is what you want.

[2019-04-03 14:43] jrouzierinverse commented on #4195
Fixed in 786793f6333ad196fdd2534cf5e3dc25d5902e2b please verify

[2019-04-03 15:02] satkunas opened #4196 "API GET fingerbank/combinations smashing Strings to INTs"
[code]

Should be:
[code]

[2019-04-03 15:04] satkunas commented on #4195
My bad @`remote`, but we shouldn't POST or PATCH to `upstream`, this should be `local` only.

I'll verify your other comments above.

[2019-04-03 15:15] satkunas commented on #4195
POST /api/v1/fingerbank/local/combination

[code]

[2019-04-03 15:17] satkunas commented on #4196
@jrouzierinverse if we want to use Identifier INTs you'll need to provide either OPTIONS endpoint, or search utility for all of the columns above.

[2019-04-03 15:21] satkunas commented on #4195
@jrouzierinverse POST and PATCH now working.

[2019-04-03 15:21] #4195 closed

[2019-04-03 15:24] jrouzierinverse commented on #4196
fingerbank ids are strings

[2019-04-03 15:26] jrouzierinverse commented on #4196
Mostly every field in fingerbank are strings

[2019-04-03 15:34] satkunas opened #4197 "POST fingerbank/local/combinations returns empty response"
[code]

Needs `message`, and `id` field returned in response.

[2019-04-03 15:37] satkunas commented on #4197
Same with DELETE fingerbank/local/combination/:id

[code]

Needs `message` in response.

[2019-04-03 15:45] satkunas opened #4198 "GET fingerbank/:scope/combinations requires not_deletable flag"
Need `not_deletable` key/value column in all responses to determine if a combination can be deleted (or not).

[2019-04-03 16:35] jrouzierinverse opened #4199 "Have to update perl-Cpanel-JSON-XS to avoid boolean decoding issue and with FormHandler"

[2019-04-03 17:30] satkunas opened #4200 "Need endpoint for Fingerbank Profiling -> Device Change Detection"
AKA https://packetfence:1443/admin/configuration#configuration/profiling/device_change

[2019-04-03 17:30] jrouzierinverse commented on #4199
Fixed without having to upgrade Cpanel-JSON-XS

[2019-04-03 17:30] #4199 closed

[2019-04-03 17:31] satkunas commented on #4196
@jrouzierinverse will you modify the API responses to use strings?

[2019-04-03 17:32] jrouzierinverse opened #4201 "Deserialization of booleans cause the API to crash."

[2019-04-03 17:34] #4201 closed

[2019-04-03 17:37] julsemaan commented on #4196
If we modify it so its the value and not the identifier, we should change the name and remove '_id' from the field name

So 'dhcp_fingerprint_id' would become 'dhcp_fingerprint'

[2019-04-03 17:38] julsemaan commented on #4200
That is part of the base API call I believe since its part of pf.conf

[2019-04-03 17:41] satkunas opened #4202 "API GET fingerbank/:scope/device/:id missing children"
[code]

Missing child devices in order to traverse the tree like in the image below:

![Selection_011](https://user-images.githubusercontent.com/3904468/55500370-35006b80-5616-11e9-802d-88d2ffdda287.png)

[2019-04-03 17:44] julsemaan commented on #4202
You should fetch the childs in subsequent calls with limits since some of the devices have thousands of childs similarly to what we do here: https://api.fingerbank.org/devices

[2019-04-03 17:44] julsemaan commented on #4202
The above should be achievable using the search endpoint AFAIK

[2019-04-03 17:47] satkunas commented on #4202
@julsemaan search endpoint is currently not available, nor is OPTIONS.

[2019-04-03 17:59] jrouzierinverse commented on #4202
It is there.
[code]

[2019-04-03 18:00] jrouzierinverse commented on #4202
just OPTIONS is avilable

[2019-04-03 18:03] jrouzierinverse commented on #4202
[code]

[2019-04-03 18:03] jrouzierinverse commented on #4202
just OPTIONS is not available

[2019-04-03 18:49] jrouzierinverse commented on #4200
That is under /api/v1/config/base/fingerbank_device_change

[2019-04-03 18:52] jrouzierinverse commented on #4200
Reopen if you cannot find it.

[2019-04-03 18:52] #4200 closed

[2019-04-03 18:53] jrouzierinverse commented on #4202
reopen is you need to

[2019-04-03 18:53] #4202 closed

[2019-04-03 18:54] jrouzierinverse commented on #4197
Like all create endpoints the id is in the location header.

[2019-04-03 18:54] jrouzierinverse commented on #4197
the delete message was added in 70bd30c86ea165834be6f1437b27b54529b20ada

[2019-04-03 19:00] satkunas opened #4204 "API POST */search error msg"
The `errors...msg` should be named `errors...message` for convention.

Example Response:
[code]

[2019-04-03 19:14] satkunas commented on #4198
Same with fingerbank/:scope/devices

[2019-04-03 19:18] satkunas opened #4205 "API fingerbank/:scope/devices mobile/tablet cast discrepancy"
When using the GET :scope/devices the `mobile` and `tablet` are INTs.
[code]
When using POST ./search, the `mobile` and `tablet` is `null`.
[code]

These should be casted to the same data types.

[2019-04-03 19:18] #4204 closed

[2019-04-03 19:19] jrouzierinverse commented on #4198
This is true for all fingerbank endpoints

[2019-04-03 19:28] jrouzierinverse commented on #4205
This could be because of bad data in the sqlite db.
Since sqlite use the field types as a suggestion and not as a hard and fast rule.
Different rows can have different data types for the same column.

[2019-04-03 19:28] satkunas commented on #4196
Feel free to include both the `field` and `field_id`, instead of changing and omitting the old. This may reduce future lookups from id <---> name.

[2019-04-03 19:28] jrouzierinverse commented on #4205
I will cast every non null field as a string.

[2019-04-03 19:30] satkunas commented on #4205
Also cast those (non-null) INTs as strings too, so we have only strings on all endpoints.

[2019-04-03 19:59] cgx commented on #4120
In your rework of the violations concept, you mentioned that useragent triggers need to be deprecated as they are useless. Time to remove them?

[2019-04-03 22:36] satkunas commented on #4198
@jrouzierinverse It would be nice to also have a `not_updatable` flag in the collection so the front-end doesn't need to make an extra API call to determine if the resource is available `local`-lly when viewing via `all`. Or we can simply use the `scope` and calculate on the front-end.

I realize that doing so might be redundant with `not_deletable` within this context, but I think we should separ

[2019-04-04 09:29] nqb opened #4206 "Security events: rename violations in docs"
In `docs` dir:
[code]
I propose to replace any "violation" word by "security event (formerly known as violation)"

[2019-04-04 11:24] nqb opened #4207 "Debian 9: `pfcmd service pf stop` doesn't display all services"
List of services displayed when doing `pfcmd service pf stop` doesn't contain all services (CentOS display contains all services)
[code]
Missing services:
* `httpd.aaa`
* `httpd.parking`
* `httpd.webservices`
* `iptables`
* `pfdhcp`
* `pfdhcplistener`
* `pffilter`
* `pfmon`
* `pfperl-api`
* `pfqueue`
* `radiusd*`
* `redis_queue`

[2019-04-04 11:31] julsemaan commented on #4120
They aren't 100% useless but I've never seen someone use them given the very dynamic nature of the user agents and the very static matching ability we have for matching time.

I'd say its time to deprecate them unless someone from the team opposes to it

[2019-04-04 12:18] julsemaan commented on #4151
Looks like someone wants to challenge @lzammit for the Chief Testing Officer position

[2019-04-04 12:33] lzammit opened #4208 "Importing CSV with bypass_vlan skips all the nodes unconditionally"
Since 7.3, when you import a CSV with a bypass_vlan, it will skip the nodes since it needs the VLAN to be in the allowed roles for the user.

Since a VLAN is not a role, this results in all the nodes being skipped

Perhaps it was meant to be filtering on bypass_role and not bypass_vlan?

Problematic code was introduced here:
https://github.com/inverse-inc/packetfence/blame/packetfence-7.3.0/html/p

[2019-04-04 12:35] lzammit commented on #4208
Logs:
[code]

Import file:
[code]

Import configuration
![image](https://user-images.githubusercontent.com/5261214/55556047-a0991600-56b4-11e9-82b5-9ffd044494f5.png)

[2019-04-04 12:48] satkunas commented on #4208
Nonsense. My sandwiches always have more than 3 ingredients.

[2019-04-04 13:47] jrouzierinverse commented on #4037
Closing as this since the value of the default_access_duration is depends on access_duration_choices which could also be modified in the GUI.
Reopen if needed.

[2019-04-04 13:47] #4037 closed

[2019-04-04 13:58] nqb commented on #4111
Fixed in new GUI.

[2019-04-04 13:58] #4111 closed

[2019-04-04 14:28] #4208 closed

[2019-04-04 14:33] cgx opened #4209 "API GET /api/v1/token_info → add readonly_mode"
We need to return a boolean attribute (say, `readonly_mode`) in the response of `/token_info` (or another endpoint?) to get this [database status](https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/db.pm#L594-L598).

[2019-04-04 14:35] julsemaan commented on #4209
Probably another endpoint because the api-frontend doesn't have direct access to this logic

We could create a new API endpoint /system_summary that would provide this info along with other good stuff like the hostname

If that sounds good, I could take care of this so @jrouzierinverse can focus on other issues

[2019-04-04 14:55] cgx commented on #4209
Or we return this information from `/api/v1/service/mariadb/status`?

[2019-04-04 15:03] julsemaan commented on #4209
That endpoint doesn't exist AFAIK since mariadb is not a service managed by pfcmd and the read-only mode is not directly related to the local MariaDB service since the user might be running an external MariaDB Galera cluster that is independant of PF but the checks would still work

[2019-04-04 20:25] jrouzierinverse commented on #4181
Fixed by 81165724a97c4d495ab8833a43d819c0982078a0

[2019-04-04 20:25] #4181 closed

[2019-04-04 20:26] jrouzierinverse commented on #4051
Fixed by 81165724a97c4d495ab8833a43d819c0982078a0

[2019-04-04 20:26] #4051 closed

[2019-04-04 22:40] #4050 closed

[2019-04-04 22:44] jrouzierinverse commented on #4052
This is working now fixed by 3520e5e9927a7cb3088ecd568b4254a632e279a5

[2019-04-04 22:44] #4052 closed

[2019-04-05 14:13] satkunas opened #4213 "API OPTIONS config/base/device_change_detection missing"
[code]

[2019-04-05 14:34] jrouzierinverse commented on #4213
Wrong path
[code]

[2019-04-05 14:34] #4213 closed

[2019-04-05 15:59] jrouzierinverse commented on #4196
As we spoke about this offline I am closing this.

[2019-04-05 15:59] #4196 closed

[2019-04-05 16:04] julsemaan opened #4215 "v9-gui: Fingerbank sections issues/bugs"
- [x] Browsing devices allows to go in devices that have no childs and it shows an empty list (ex: Operating System/Linux OS/Generic Linux)
- [x] Devices should be ordered by name and not by ID
- [x] The index page of the devices should show the top level parents (parent_id IS NULL) and not all devices
- [x] Browsing the DHCP fingerprints doesn't show the upstream DHCP fingerprints
- [x] Clicking

[2019-04-05 16:05] satkunas opened #4216 "API GET fingerbank/all/dhcp_fingerprint/:id fails"
[code]

[2019-04-05 16:13] #4216 closed

[2019-04-05 17:14] #4116 closed

[2019-04-05 17:55] satkunas opened #4217 "API GET fingerbank/all/dhcpv6_enterprises missing Organization column"
[code]

[2019-04-05 18:15] jrouzierinverse commented on #4217
This needs to be fixed in fingerbank assigning it to @julsemaan

[2019-04-05 18:25] julsemaan commented on #4217
The organization is not necessary for device profiling and is more a description/for informative purposes

Adding this field to the local DHCPv6 enterprise could make it confusing while creating a local value.

Also will require to release a new Fingerbank version + schema for something that is not really used.

So we decided to push this to 9.1 and address it then

[2019-04-05 19:55] wifispray opened #4218 "Feature/SSO for Smoothwall Firewall"
Would it be possible to add Smoothwall as a firewall SSO? I have tested this with the Fortinet SSO profile and this works when used with a Smoothwall firewall.

avr 05 14:44:10 HGSA3CLU03 packetfence_httpd.aaa[105848]: httpd.aaa(105756) INFO: [mac:[undef]] Sending a firewall SSO 'Update' request for MAC '08:e6:89:bf:6a:5d' and IP '10.1.208.19' and Username 'dwheeldon@gmail.com' (pf::firewallsso::d

[2019-04-05 22:05] #4144 closed

[2019-04-05 22:28] satkunas opened #4219 "API POST fingerbank/:scope/dhcp_vendors/search field mismatch"
Regarding key/field of `value`.

It looks fine with a GET fingerbank/all/dhcp_vendors

[code]
However when using search the `value` appears to be smashed.

Payload:
[code]

Response:
[code]

[2019-04-06 18:28] satkunas opened #4221 "API OPTIONS config/scan?type=rapid7 missing allowed"
Missing meta allowed for
- engine_id
- template_id
- site_id

[code]

[2019-04-06 18:30] satkunas commented on #4157
https://github.com/inverse-inc/packetfence/issues/4221

What criteria was used to generate this error?

What criteria was used to generate this error?

These are likely due to missing meta, and should be resolved once meta is available.

[2019-04-06 18:36] satkunas commented on #4151
@fdurand @julsemaan can I get a sample config from either of you so I can create and test a local RADIUS auth source?

Unable to replicate. Need retest/more info.

Moved to https://github.com/inverse-inc/packetfence/issues/4223

Moved to https://github.com/inverse-inc/packetfence/issues/4222

@jrouzierinverse defaults missing from meta
[code]

Likely due to the perl errors. Was working on MiraPay

[2019-04-06 18:58] satkunas opened #4222 "API POST config/sources issues"
2 Issues:

1) When creating a new auth resource, the password_rotation.interval and password_rotation.unit is not saved. It works w/ PATCH after the item is created.

Payload:
[code]

2) There is no response message on POST
[code]

[2019-04-06 20:21] satkunas commented on #4151
@jrouzierinverse Do we have an endpoint available for this? Or will it be returned as an error when attempting to PATCH or POST through config/sources?

[2019-04-06 20:33] satkunas opened #4223 "Pfappserver - pfFormRangeToggle dead spots"
Need to improve event handling

[2019-04-06 20:39] satkunas commented on #4151
@jrouzierinverse

**The left-over issues that are due to missing or incorrect meta:**

Realms:
- RADIUS ACCT still empty even if there is some radius authentication sources defined.

Authentication sources:
- No choice for Access duration
- AD/LDAP : Scope subtree by default (or list empty undefined)
- AD/LDAP : Encryption None by default (or list empty undefined)
- Email : Email activation Timeou

[2019-04-06 21:00] satkunas commented on #4157
@jrouzierinverse the following is caused by missing meta:
- cannot select os on all the scan engines
- empty lists on the rapid7 scan engine

[2019-04-06 21:08] satkunas commented on #4160
@jrouzierinverse the following are due to missing meta:
- The locality list is empty in the SCEP PKI option in the PKI provider tab
- Cannot add OS in the provisioner tab
- Cannot add OS in the new device registration tab

[2019-04-06 21:09] satkunas opened #4224 "pfappserver - improve error feedback on multiple errors"
Example issues:
 - (PKI Providers): The error is not clear when a wrong path is set on the PKI provider path

[2019-04-06 21:10] satkunas commented on #4160
Moved to #4224

May be related, or not... Moved to #4225

[2019-04-06 21:11] satkunas commented on #4160
@cgx these are yours:
- Cannot reset conf of the portals modules
- Cannot add new portals modules

This looks similar to cache poisoning to/from the store. See https://github.com/inverse-inc/packetfence/pull/4220/commits/cdee0b79a5b90d3f3e151ba137622eb9378518dc for my fix using JSON to dereference in/out.

[2019-04-06 21:15] satkunas opened #4225 "API DELETE config/device_registration/:id response empty"

[2019-04-06 21:16] satkunas commented on #4225
This may also be the cause of (from https://github.com/inverse-inc/packetfence/issues/4160)

- Cannot delete the previous device registration created in the alt GUI in the old GUI

[2019-04-06 21:21] satkunas commented on #4161
@dondon21 please retest the first 2 items.

[2019-04-06 21:33] satkunas commented on #4185
I don't see an FTP port in System Config. I added a port validator on SMTP server.

I don't see this field in System Config.

We still need to show/hide specific elements depending on your admin roles. Currently everything is shown even if you don't have rights.

Currently open at https://github.com/inverse-inc/packetfence/issues/4092

Please demo this to me

[2019-04-06 22:15] satkunas commented on #4215
@julsemaan all issues have been addressed.

[2019-04-06 22:16] satkunas commented on #4177
I think this was left out intentionally.

@cgx do you think they need labels?

[2019-04-06 22:22] satkunas commented on #4176
Will be fixed in https://github.com/inverse-inc/packetfence/pull/4226

[2019-04-06 22:22] #4176 closed

[2019-04-06 22:23] satkunas commented on #4175
@nqb I don't understand. Which section are you referring to?

[2019-04-06 22:47] #4172 closed

[2019-04-07 02:15] cgx commented on #4177
No, but a tooltip could be nice.

[2019-04-08 05:53] nqb commented on #4177
Current behavior:

![Untitled](https://user-images.githubusercontent.com/10830260/55701415-4e693500-59d3-11e9-9662-42deb0b3fd58.png)

[2019-04-08 05:58] nqb commented on #4175
I spoke about usage of this button:

![Screenshot from 2019-04-08 07-55-23](https://user-images.githubusercontent.com/10830260/55701507-af910880-59d3-11e9-9bba-2c3ee0281f34.png)

If you want to add several new colums, you need to do:
1. Click on "Visible columns" button
2. Select your **first** new column name
3. Wait you new column has been added to your display
4. Click again on "Visible columns

[2019-04-08 09:15] nqb opened #4227 "v9-gui: question mark button is missing"
In old GUI, when you click on question mark (`/admin/help`) on the left, you got this:
![Screenshot from 2019-04-08 11-09-55](https://user-images.githubusercontent.com/10830260/55712381-ea546a00-59ee-11e9-8f16-70b24a97c3f9.png)

This button is pretty useful.

API endpoint `/admin/help` doesn't seems to exist. Moreover, I didn't see any `doc` directory under `static.alt` to display embedded docs.

[2019-04-08 09:19] nqb opened #4228 "v9-gui: missing button to go to embedded docs"
In old GUI, we have links to embedded docs in specific menu. For instance:

![Screenshot from 2019-04-08 10-59-31](https://user-images.githubusercontent.com/10830260/55712946-fb51ab00-59ef-11e9-89bf-f32e97173ffe.png)

I didn't find this feature on new GUI.

[2019-04-08 09:20] nqb commented on #4227
@jrouzierinverse: can you take care of the API endpoint ?

[2019-04-08 11:31] satkunas commented on #4228
@cgx and I spoke about adding an embedded asciidoc viewer, and reworking the inline `(?)`'s to utilize this. Alas, it won't make it in this release, so I'm marking it for 9.1.

[2019-04-08 12:48] cgx commented on #4209
Go for `/system_summary`. Let's include the installed PacketFence version in the response. See #4227 .

[2019-04-08 14:04] satkunas opened #4229 "API GET service/httpd.admin/status returns 500"
500 Internal Server Error

[2019-04-08 14:16] satkunas commented on #4229
This appears to be intermittent. I am now unable to reproduce.

It occurred when attempting to fetch /status on all available services and it was the only service to return this error. Shortly afterwards I noticed that the admin had restarted since I now have a new untrusted cert. It is now working as expected.

[2019-04-08 14:21] jrouzierinverse commented on #4227
I am not sure this is useful.
Help links are static I don't see the need to add this functionality.

[2019-04-08 14:30] cgx commented on #4227
No need for an API endoint, except for the PacketFence version.

[2019-04-08 14:30] #4227 closed

[2019-04-08 14:35] jrouzierinverse commented on #4229
Please send me your logs

[2019-04-08 14:35] nqb opened #4230 "v9-gui: new admin not reachable through IE11"
With latest version of IE11, I got a blank page and following error when I go on `/admin/alt`:
![Screenshot from 2019-04-08 16-35-10](https://user-images.githubusercontent.com/10830260/55732470-513c4800-5a1c-11e9-91be-55503c6af6cb.png)

[2019-04-08 14:37] cgx commented on #4230
How about Edge?

[2019-04-08 14:41] jrouzierinverse commented on #4160
The issue 'Cannot delete the previous device registration created in the alt GUI in the old GUI'
May not be an issue.
If a device registration is defined in a profile then it cannot be deleted.
This need better error handling.

[2019-04-08 14:42] #4209 closed

[2019-04-08 14:47] jrouzierinverse commented on #4225
This is fixed in devel already.

[2019-04-08 14:47] #4225 closed

[2019-04-08 15:10] satkunas commented on #4229
It just occured again with httpd.aaa.

[code]

[2019-04-08 15:24] jrouzierinverse commented on #4222
You have both the flatten and object representation of password_rotation in the payload.

password_rotation.interval and password_rotation.unit are set to null which overrides
password_rotation:{"interval":"100","unit":"D"}
Use one or the other representation.

[2019-04-08 15:32] jrouzierinverse commented on #3647
Closed fixed by ef7bc85b637a23310b98d932e2b21874d23e73b4

[2019-04-08 15:32] #3647 closed

[2019-04-08 16:09] jrouzierinverse commented on #4219
That is the actual value in the database.

[2019-04-08 16:09] #4219 closed

[2019-04-08 16:10] #4198 closed

[2019-04-08 16:11] jrouzierinverse commented on #4205
Done

[2019-04-08 16:11] #4205 closed

[2019-04-08 16:15] #4221 closed

[2019-04-08 16:18] jrouzierinverse commented on #4197
This is done

[2019-04-08 16:18] #4197 closed

[2019-04-08 21:17] jrouzierinverse opened #4231 "Change the pfperl-api listen port from port 8080 to something else"
Port 8080 is is a commonly used port this could easily conflict with other services.

[2019-04-08 21:19] jrouzierinverse opened #4232 "Some Sources are not able to load via the API"

[2019-04-08 21:21] jrouzierinverse opened #4233 "Better error(s) when deleting a Config resource fails"
Related to #4160

[2019-04-08 23:05] satkunas opened #4234 "API GET config/security_events 502 error"
**Request URL**: https://packetfence:1443/api/v1/config/security_events?cursor=0&limit=25&fields=id,desc&sort=id

**Response**:
[code]

[2019-04-08 23:06] satkunas commented on #4122
Fixed in https://github.com/inverse-inc/packetfence/pull/4226/commits/94f4fc84b066debb26ff943821da31b88d30ced7

[2019-04-08 23:06] #4122 closed

[2019-04-08 23:08] satkunas commented on #4234
Likely a local config issue. I have done nothing to my build env locally to rename tables/config files manually. If such is needed please see me.

[2019-04-08 23:18] satkunas commented on #4126
@jrouzierinverse re-assigning to you.

There's a discrepancy in the *Map values returned when GETting the resource.

[code]

I'm expecting 'Y' or 'N'. Sometime recently RoleMap and VlanMap switched to INT. Let me know if you'd rather use INTs (or BOOLs) and I'll adjust the front-end.

[2019-04-08 23:21] satkunas commented on #4127
I'm able to create w/o issue. This has likely been fixed elsewhere.

I'll re-assign to @lzammit for a 3rd-party retest.

[2019-04-08 23:29] satkunas opened #4235 "API - Could not connect to Redis server..."
I'm running minimal services for admin.  This does not include redis. But this is only context and not the real issue here...

When I try to add a new resource (eg: node) I get the following response:
[code]

However the node was created successfully, because on the next attempt I get the response:
[code]

We should either:
1) suppress this error message
2) prevent the resource from being created

[2019-04-08 23:31] satkunas opened #4236 "API POST nodes - empty response"
[code]
`message` needed.

[2019-04-08 23:32] satkunas commented on #4137
Currently unable to reproduce. Likely fixed in another issue.

Re-assigning to @lzammit for a 3rd-party retest.

[2019-04-09 00:23] cgx commented on #4234
Execute `/usr/local/pf/addons/upgrade/to-9.0-security-events.sh`.

[2019-04-09 10:20] nqb commented on #4230
It works !

[2019-04-09 13:19] satkunas opened #4237 "API POST service/:id/start|stop|restart receiving 502 timeouts"
We need the ability to increase the timeout on this endpoint in contrast to the timeouts on the remainder of the endpoints. For example, restarting all the services at once causes the majority of the calls to timeout.

[2019-04-09 14:06] #4237 closed

[2019-04-09 14:06] #4234 closed

[2019-04-09 15:03] satkunas commented on #4132
Pimped in https://github.com/inverse-inc/packetfence/pull/4226/commits/07b1fb5559b3555ee9fad8aa6ff24f038c76e09f

[2019-04-09 15:11] dondon21 commented on #4185
I don't see an FTP port in System Config. I added a port validator on SMTP server.
In the Alerting tab, fixed now.

I don't see this field in System Config.
Sorry, i meant PFfilter, fixed now.

Please demo this to me
Fixed also.

[2019-04-09 15:17] dondon21 commented on #4161
Cannot manage interfaces - fixed
HTML tag visible in the title : generate signing request for certificate - fixed
Cannot manage inline traffic shaping policy - I can add a rule but i cannot search it on my side.

[2019-04-09 15:33] dondon21 commented on #4157
error "unable to validate invalid no valid formater" on the rapid7 scan engine.
I cannot reproduce this error now, the params was the localhost IP with the 20 min duration.
Now i have an API error : Can't use string ("1") as a HASH ref while "strict refs" in use at /usr/local/pf/lib/pfappserver/Form/Config/Scan/Rapid7.pm line 128.

error "unable to validate" on the WMI scan engine.
I was able to r

[2019-04-09 15:56] #4185 closed

[2019-04-09 17:55] satkunas opened #4238 "GET /radius_audit_log/:id fails"
Step 1: GET /api/v1/radius_audit_logs

[code]

Step 2: GET /api/v1/radius_audit_log/6465721

[code]

[2019-04-09 17:59] satkunas commented on #4131
Fixed in https://github.com/inverse-inc/packetfence/pull/4226/commits/70f51719b09efd0869e3f3ffcbb23c251e92426f

[2019-04-09 18:00] #4131 closed

[2019-04-09 18:11] jrouzierinverse commented on #4238
Works for me.
[code]

[2019-04-09 18:23] #4238 closed

[2019-04-09 18:25] jrouzierinverse commented on #4235
Fixed by 5b99d7e76a772aecb6f4edbf4220269cd2bffe17

[2019-04-09 18:25] #4235 closed

[2019-04-09 18:40] satkunas opened #4239 "GET radius_audit_log/:id field \n's collapsed"
CRLF's are missing from `radius_reply` and `radius_request`.

[code]

[2019-04-09 19:32] cgx opened #4240 "GET /api/v1/config/portal_modules/<id> → fields_to_save with empty string"
If `fields_to_save` is empty, the server returns an array with an empty string while it should simply return an empty array:

[code]

[2019-04-09 19:49] cgx opened #4241 "PATCH /api/v1/config/portal_module/<id> → source_id invalid"
When updating an existing portal module, the server responds with a 422:

`{"errors":[{"field":"source_id","message":"This field does not take multiple values"}],"message":"Unable to validate","status":422}`

[2019-04-09 20:10] #4148 closed

[2019-04-09 20:22] satkunas opened #4242 "Service httpd.aaa always restarts"
Whether stopped via API, CLI or systemctl it restarts immediately, also restarts when `disabled`.

[2019-04-09 20:22] #4239 closed

[2019-04-09 20:29] satkunas commented on #4242
[code]

[2019-04-10 01:09] cgx opened #4243 "API OPTIONS /api/v1/config/portal_modules?type=Authentication::* → source_id"
Modules that have roles *MultiSource* should not return the `source_id`.

[2019-04-10 06:38] nqb commented on #4185
I checked this items in initial description:
- Its possible to enter text in the ftp port field
- Its possible to enter text in the PFDNS processes field
- It's possible to create a user with the role ALL and the role NODE combined

[2019-04-10 09:42] nqb commented on #4242
I'm not able to reproduce this issue on latest builds.

Are you able to reproduce issue ? If yes, can you give me a way to reproduce ?

[2019-04-10 13:23] satkunas opened #4244 "API endpoint /user/:user_id/security_events needed"

[2019-04-10 13:23] satkunas commented on #4138
Depends on #4244

[2019-04-10 14:27] #4244 closed

[2019-04-10 14:31] #4043 closed

[2019-04-10 15:15] satkunas opened #4245 "API GET /users, /user/* missing field tenant_id"

[2019-04-10 15:27] jrouzierinverse commented on #4245
It is there please verify and close
[code]

[2019-04-10 16:26] #4245 closed

[2019-04-10 16:28] satkunas commented on #4242
@nqb let me know if you wish for me to email my conf/* contents so you can reproduce.

[2019-04-10 18:23] satkunas opened #4246 "API POST user/:pid/unassign_nodes error"
Request URL: POST https://packetfence:1443/api/v1/user/xxx/unassign_nodes

No payload

Response:
[code]

[2019-04-10 18:31] satkunas opened #4247 "API OpenAPISpec missing security_events"

[2019-04-10 18:45] #4246 closed

[2019-04-10 19:02] #4240 closed

[2019-04-10 19:14] satkunas opened #4248 "API GET users/, /user/* requires count fields"
Need `node.unreg_count` and `node.reg_count` to be included in all results.

Similar to the `security_event.open_count` and `security_event.close_count`.

[2019-04-10 19:14] satkunas commented on #4138
Depends on #4248

[2019-04-10 19:15] #4194 closed

[2019-04-10 19:36] sealsgit opened #4249 "/usr/local/pf/lib/pf/config/util.pm comma missing"
Hello there,

I am using packetfence 8.3.0.
I found a little bug with the guest email activation. The mail sent does not contain the correct activation link.
The problem is generated inside the util.pm at line 185
        i18n_format => \&pf::web::i18n_format
at the end of line a comma is missing it should be
        i18n_format => \&pf::web::i18n_format,
othewise the following  %$data
is not appe

[2019-04-10 19:47] cgx opened #4250 "API GET /api/v1/reports/* → no access"
I'm admin. The attribute *admin_actions* from the `/token` response includes **REPORTS**. When I try to view a report, the API returns an error:

[2019-04-10 20:25] jrouzierinverse commented on #4249
That you for reporting.
This has been fixed by 8ba34547471646b1fde6ccec887b68568e310f46.

[2019-04-10 20:25] #4249 closed

[2019-04-10 20:28] jrouzierinverse commented on #4250
REPORTS was renamed to REPORTS_READ
Try to clear out pfconfig.

[2019-04-10 20:34] #4250 closed

[2019-04-10 20:55] #4241 closed

[2019-04-10 22:29] satkunas opened #4251 "API POST users/bulk_apply_roles error"
POST payload:
[code]

Response:
[code]

[2019-04-10 22:29] satkunas commented on #4138
Depends on #4251

[2019-04-11 01:36] #4130 closed

[2019-04-11 05:17] nqb commented on #4242
Yes for sure.

[2019-04-11 06:09] nqb opened #4252 "v9-gui: path to Policies and Access control"
In new GUI, when you click on "Configuration" top-menu, you go on: `/admin/alt#/configuration/policesaccesscontrol`. Must be polic**i**es in place of polices

[2019-04-11 06:15] nqb opened #4253 "v9-gui: blank page when going in Configuration top-menu"
With latest nightly builds on CentOS 7 (8.3.9-0.201904110000.el7), I got a blank page when going in Configuration top-menu.

Web browser console:
[code]

[2019-04-11 06:57] nqb commented on #4253
Has been introduced by commits done yesterday, maybe 8f464b5.

[2019-04-11 07:26] nqb opened #4255 "API: missing doc for admin_endpoints"
I didn't see any documentation for admin endpoints created by #4117.

[2019-04-11 10:34] #4252 closed

[2019-04-11 10:34] #4253 closed

[2019-04-11 12:54] satkunas commented on #4251
Same error and response for users/bulk_apply_bypass_role

POST payload:

[code]

[2019-04-11 13:50] jrouzierinverse commented on #4251
The error logs please

[2019-04-11 14:21] cgx commented on #3558
We have `/queues/stats`, we need additional endpoints when in cluster mode.

[2019-04-11 14:31] #4251 closed

[2019-04-11 14:38] #3870 closed

[2019-04-11 15:53] #4145 closed

[2019-04-11 15:55] satkunas commented on #4153
This is intentional. However the validators will present a warning to the user that the field is in use and it needs to be unique. This helps fwd the information to the user of which record they are cloning.

[2019-04-11 15:59] satkunas commented on #4153
The field is locked and readonly. Unable to reproduce.

[2019-04-11 16:14] #4175 closed

[2019-04-11 16:14] #4215 closed

[2019-04-11 16:15] satkunas commented on #4177
Will adjust the tooltip placement.

[2019-04-11 16:21] #4174 closed

[2019-04-11 16:59] #4243 closed

[2019-04-11 19:19] #4128 closed

[2019-04-11 19:23] cgx commented on #4243
See 86600f7.

[2019-04-11 20:07] #4157 closed

[2019-04-11 20:10] #4161 closed

[2019-04-11 20:11] satkunas commented on #4143
Fixed in https://github.com/inverse-inc/packetfence/pull/4226/commits/4f1b2202a4905eedd32576dbe0b2d8b22c683f48

[2019-04-11 20:11] #4143 closed

[2019-04-11 20:13] satkunas commented on #4138
Added in #4226

[2019-04-11 20:13] #4138 closed

[2019-04-11 20:14] cgx opened #4256 "API POST /api/v1/users → generate password"
The API endpoint should support an optional parameter to generate a password for the user if no password is provided. This password should appear in the response in order to restore the *printable page* we have in the previous web admin.

[2019-04-11 20:37] satkunas opened #4257 "v9-gui: Consolidated Issues"
I've moved multiple outstanding issues here, to consolidate them in one place. I will leave a link to the original issue and close them.

**Invalid or Missing Meta** (for @jrouzierinverse)
- [x] Users -> Create: Access Level drop-down doesn't display all choices (missing: NONE, ALL, ALL_PF_ONLY) (see #3646, from #4167)
- [x] Realms View -> RADIUS ACCT still empty even if there is some radius authe

[2019-04-11 20:37] satkunas commented on #4228
Moving to #4257

[2019-04-11 20:37] #4228 closed

[2019-04-11 20:42] satkunas commented on #4168
No icon is needed

[2019-04-11 20:43] satkunas commented on #4168
Capitalization is only needed on the first word or abbreviations.

[2019-04-11 20:44] satkunas commented on #4168
Moved to advanced search, select "Created", then "greater than", and finally click -1H...-1Y (or CTRL+click to compound).

[2019-04-11 20:49] cgx commented on #4127
@jrouzierinverse Indeed, I can create a new connection profile, but I can't edit an existing one. I have the same error message as @extrafu.

[2019-04-11 21:27] satkunas commented on #4168
Remainder moved to #4257

[2019-04-11 21:27] #4168 closed

[2019-04-11 21:41] satkunas commented on #4167
Remainder moved to #4257

[2019-04-11 21:55] satkunas commented on #4166
It's an integer column

[2019-04-11 22:08] satkunas commented on #4166
Not reliable. If the user doesn't select `SSID` as a visible column, then the data isn't available to show/hide the icon. If they do enable the column then there's no need for the icon. There are workarounds, but let's see if we can get away without it - unless there are objections.

[2019-04-11 22:14] satkunas commented on #4166
I don't see online/offline colors currently. Can you please detail the difference, so I don't need to push a static locationlog entry :)

[2019-04-11 22:30] satkunas opened #4259 "API POST users/bulk_delete missing"

[2019-04-11 22:44] satkunas commented on #4166
This looks like an intentional locale change by @cgx

[2019-04-11 22:45] satkunas commented on #4166
This is intentional. I tried to put them with the tab that fit their context. It's too cluttered when included on ea. tab.

[2019-04-11 22:47] satkunas commented on #4166
There's now a check to determine if the button will do anything. It's disabled if there's no purpose. Here's the logic behind this:
[code]

[2019-04-11 22:53] satkunas commented on #4166
Unable to reproduce

[2019-04-11 22:54] satkunas commented on #4166
All issues address or moved to #4257

[2019-04-11 23:13] satkunas commented on #4160
Filters are dynamic and sorted in the backend. The best I can do is alphabetize them.

[2019-04-11 23:17] satkunas commented on #4160
Remainder moved to #4257

[2019-04-11 23:17] #4160 closed

[2019-04-11 23:30] satkunas commented on #4151
Moved to #4257

[2019-04-11 23:30] #4151 closed

[2019-04-12 13:17] satkunas commented on #4153
Moved to #4257

[2019-04-12 13:17] #4153 closed

[2019-04-12 13:19] satkunas commented on #4126
Moved to #4257

[2019-04-12 13:19] #4126 closed

[2019-04-12 13:21] satkunas commented on #4127
Moved to #4257

[2019-04-12 13:22] #4127 closed

[2019-04-12 13:22] satkunas commented on #4137
@cgx can you please test?

[2019-04-12 13:29] nqb opened #4260 "v9-gui: unexpected char in Configuration menu"
![Screenshot from 2019-04-12 15-29-03](https://user-images.githubusercontent.com/10830260/56040881-b901d400-5d37-11e9-9fdb-3aa29f8aea32.png)

[2019-04-12 13:33] nqb commented on #4260
fixed in 2ddfb3d8caa9dc370d1a6d685fce685137119acc

[2019-04-12 13:34] #4260 closed

[2019-04-12 13:55] nqb commented on #4177
"Actions" has been set to "Bulk Actions".

Not tooltip for MsEdge.

[2019-04-12 13:59] nqb commented on #4166
It's a common way to identify wireless users

[2019-04-12 14:01] #4166 closed

[2019-04-12 14:44] nqb opened #4261 "v9-gui: Clear button change current menu"
Steps to reproduce:
1. Go in Audit -> Option82
1. Do a search
1. Clear the search

Actual result: you go in RADIUS Audit Log menu

Expected result: you stay in Option82 menu

[2019-04-12 15:49] cgx commented on #4137
It works.

[2019-04-12 15:49] #4137 closed

[2019-04-12 17:38] satkunas opened #4262 "API nodes/:mac/rapid7 scan endpoint needed"

[2019-04-12 18:14] #4259 closed

[2019-04-12 18:21] jrouzierinverse commented on #4257
WrixLocation does not make sense it just a table for dumping data like option82

[2019-04-15 08:44] #4242 closed

[2019-04-16 10:17] nqb opened #4263 "API /config/interfaces: unconsistent items names and values"
In `pf.conf`, we use:
*  `mask` to define a mask for an interface, in API response, we got `netmask`
* `ip` to define an IP address (only), in API response, we got `address` (use CIDR notation) and `ipaddress`

[code]

[2019-04-16 11:26] satkunas commented on #4263
This doesn't necessarily imply that either is wrong. Personally I would like to see the endpoint naming scheme and structure follow that of netjson: http://netjson.org/rfc.html#rfc.section.5

[2019-04-16 11:43] nqb commented on #4263
I agree.

Me too. @satkunas: that means we need to rename `pf.conf` directives ?

[2019-04-16 12:28] nqb opened #4264 "API: /api/v1/config/Interfaces"
Adding a new VLAN on a current interface failed:
[code]
If I replace `"id":"eth0"` by `"id":"eth0.153"` and add `"master":"eth0", "name":"eth0"`, interface is created with following errors:
[code]

[2019-04-16 14:13] satkunas opened #4265 "Upgrade script needed for conf/report.conf when 8.x -> 9.0"
In order to rename `violation` to `security_event`.

[2019-04-16 15:17] satkunas opened #4266 "API POST dynamic_report/:id/search key mismatch"
The endpoint returns data using the column `alias` rather than using `table.column`.

[code]

However, when using the `alias` in the search criteria payload (see  "sort": ["MAC Address DESC"]):

[code]

The request fails with an error
[code]

This is because the sort must use the `table.column`, rather than the `alias`.

This needs to be changed so  the data returned and the keys used in the searc

[2019-04-16 16:02] cgx commented on #4136
@extrafu Still relevant?

[2019-04-16 16:04] cgx opened #4267 "API GET /api/v1/user/<pid> → doesn't support PID with parentheses"
The API server can't retrieve a user with a parenthesis in the PID:

[code]

[2019-04-16 16:39] extrafu commented on #4136
Looks good now, closing.

[2019-04-16 16:39] #4136 closed

[2019-04-16 16:40] satkunas commented on #4267
If you need to use URI encoding, please extend https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/views/Configuration/_api/index.js#L4

[2019-04-16 17:44] jrouzierinverse opened #4268 "Passing in a flatten id make an api call fail"
Example

[code]

[2019-04-16 18:37] #4267 closed

[2019-04-16 19:41] jrouzierinverse commented on #4263
What is the issue?

[2019-04-16 20:11] #4265 closed

[2019-04-16 20:29] #4261 closed

[2019-04-16 20:31] satkunas commented on #4263
Not sure. Doing so would likely be an enormous amount of changes and testing. I would defer this until post-9.0.

[2019-04-16 20:36] satkunas commented on #4268
This works with `interval` instead of `iterval`.

[code]

[2019-04-16 20:39] satkunas commented on #4268
I just verified that API calls are only sending 1 (flattened) copy of the variables, not 2 as shown above.

[2019-04-16 20:39] #4268 closed

[2019-04-17 00:41] #4058 closed

[2019-04-17 09:08] nqb opened #4270 "v9-gui: blank page when going in Users -> Create menu"
Tested on latest builds (0.201904170000.el7).

In web browser console, I got:
[code]

[2019-04-17 09:36] nqb opened #4271 "API POST /api/v1/user/{user_id}/password: advanced.hash_passwords ignored"
When creating a password for a user through API, `advanced.hash_passwords` is not taking into account.

Steps to reproduce:
[code]

Expected result: password should be store in DB using `advanced.hash_passwords` setting.

[2019-04-17 09:38] nqb commented on #4271
Another unexpected results:
* `valid_from` and `expiration` are not taken into account

[2019-04-17 15:50] lzammit opened #4272 "v9-gui: Services display"
It will be nice to have a way as before to see right away if a stopped service is because of a crashed service or because of the service is not needed in the configuration.

Example:

pfbandwidth is not stopped = I'm not in inline
httpd.portal is stopped and should be running = crashed or stopped on purpose.

Thanks!

[2019-04-17 19:48] #4270 closed

[2019-04-17 20:20] #4262 closed

[2019-04-18 14:07] satkunas opened #4273 "/var/conf/httpd.conf.d/httpd.admin not rebuilt from .tt on restart"

[2019-04-18 18:09] #3646 closed

[2019-04-18 18:16] jrouzierinverse commented on #4257
There is no locality in PKI

[2019-04-19 17:02] jrouzierinverse opened #4274 "Toggle field serialize to 0 when null"

[2019-04-22 07:04] nqb opened #4276 "Debian 8: libcrypt-le-perl depends is missing in debian repo"
When trying to install latest Debian packages for Debian 8, I got:
[code]
No issue with Debian 9.

[2019-04-23 13:48] satkunas opened #4277 "API POST radius_audit_logs/search error"
Payload
[code]

Response
[code]

[2019-04-23 13:54] jrouzierinverse commented on #4277
The problem is we do not have proper validation for null values.
Will fix

[2019-04-23 16:01] #4272 closed

[2019-04-23 16:22] #4277 closed

[2019-04-23 19:19] dondon21 opened #4279 "Empty page for Users/security events"
The open and close security events seems to be empty in the alt admin :

/admin/alt#/users/search/open_security_events
/admin/alt#/users/search/closed_security_events

Only JavaScript and CSS are available in my Firefox browser.
Even if there is no security events in the database, is it normal to see nothing ?

[2019-04-23 23:42] mofm opened #4280 "Unifi multi-site external portal"
I have tested external portal with Unifi Controller Default site. Ok. It works perfectly. But I have 20 sites on Unifi Controller.
Packetfence doesn't authorize clients different site other than default site. Because packetfence API works only default site.

[code]
162. line : 'my $site' variable is static and only 'default'. How can we change this? ( for multi sites)

[2019-04-23 23:46] fdurand commented on #4280
The code fetch all the sites and try to deauth until it succeed.

https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/Switch/Ubiquiti/Unifi.pm#L202

[2019-04-24 01:13] mofm commented on #4280
@fdurand  Yes, you are right. But It isn't a solutions for multi-sites controller.

Packetfence logs : https://gist.github.com/mofm/c9f6be45a5ffc4943d47a443ea33d2fe
Unifi logs: https://gist.github.com/mofm/328d9ae3feec1c389457da774f8002eb

[2019-04-24 01:26] fdurand commented on #4280
In your case "Deauth on site: default" mean that the mac address has been found on the default site so it's suppose to not be on another site.
If you want to deauth on all sites then remove this line: https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/Switch/Ubiquiti/Unifi.pm#L216
And retry, maybe it's a bug on ubiquiti.

[2019-04-24 14:03] nqb commented on #4167
@satkunas:

Still presents in latest builds.

[2019-04-24 14:03] nqb commented on #4167
@satkunas: I updated this issue with new bugs

[2019-04-24 14:15] nqb commented on #4184
Same issue after a fresh install on Debian 9 with latest builds. Can be reproduce with:
[code]

[2019-04-24 14:23] nqb commented on #4184
Upstream DB was corrupted. I will update fingerbank-perl-client packages.

[2019-04-24 15:37] #4279 closed

[2019-04-24 16:10] #4274 closed

[2019-04-24 18:21] fdurand opened #4282 "v9-gui: Policy and Access Control"
Sources
- [x] in general in the rule having Conditions before Action
- [x] Role/access duration empty list in authentication rule
- [x] Access Level is empty in administration rule
- [x] External Sources :
- {"errors":[{"field":"hash_passwords","message":"Database passwords hashing method field is required"}],"message":"Unable to validate","status":422}
- Missing in the form  : "Database passwords

[2019-04-24 19:55] satkunas opened #4283 "MySQL error"
https://github.com/inverse-inc/packetfence/blob/a1a6f9e7d5f6500a1aaa3b4244ad18bbad8ee861/conf/mariadb/mariadb.conf.tt.example#L132

Apr 24 15:53:54 packetfence mysqld: 2019-04-24 15:53:24 0 [ERROR] /usr/sbin/mysqld: unknown variable 'innodb_additional_mem_pool_size=20M'

[2019-04-24 20:45] #4283 closed

[2019-04-24 21:23] #3343 closed

[2019-04-24 21:40] nqb commented on #4271
My last comment is wrong, `valid_from` and `expiration` are not parameters when calling `/users` endpoint. Only for `/user/{user_id}/password` endpoint.

[2019-04-25 06:19] nqb commented on #4184
fingerbank-perl-client rebuilt for Debian stretch.

[2019-04-25 06:19] #4184 closed

[2019-04-25 07:13] nqb opened #4284 "v9-gui: System configuration -> RADIUS configuration"
When I go to System configuration -> RADIUS configuration, I got following error messages:

Frontend:
[code]

Backend:
[code]

I didn't see a `radiusd` service in output of:
[code]
only:
[code]

[2019-04-25 08:05] nqb opened #4285 "v9-gui: Node manager admin role"
As a user with "Node Manager" role, I got unexpected behaviors:

# General
- [ ] a user with "Node Manager" role can't show version of PF (next to its name)

# Nodes - Read

- [ ] After clicking on a node, following informations is not displayed to user:
* Current role of node
* Info tab -> IP4 address field
* IPv4 tab
* Location tab
* Security Events tab
- [ ] When I click on owner of a node, use

[2019-04-25 09:22] nqb opened #4286 "v9-gui: Nodes menu: results by page and browsing"
In Nodes menu, as admin user, I got unexpected behaviors:
- [ ] Number of results by page is empty and display 10 results by default:
![Screenshot from 2019-04-25 11-20-17](https://user-images.githubusercontent.com/10830260/56724937-35d77980-674c-11e9-85f9-6d571b7f93e2.png)
- [ ] When I want to go to page 2:
1. I click on "2" or ">" : page is updated and didn't change.
2. I click again on "2" or "

[2019-04-25 13:05] nqb commented on #4019
I can confirm that @julsemaan's solution works.

[2019-04-25 14:22] alkalinelito opened #4287 "Changing "Redirection delay" value has no effect (window.waitTime)"
Hi, I think this is bug and as instructed in PacketFence-users mailing list, I'm posting here.

When you try to change "Redirection delay" in Configuration -> Advanced Access Configuration -> Captive portal   . It has no effect, it always takes the same time.

I think the problem lies here:

/usr/local/pf/html/captive-portal/content/timerbar.js

Line 6:

`var time = window.waitTime || 25;`

window

[2019-04-25 20:11] cgx opened #4289 "v9-gui: no support for size="sm" for some components"
Can't request small size variation of the following components:

* pfFormPrefixMultiplier
* pfFormChosen

[2019-04-26 08:08] mofm commented on #4280
I have tested it. It works. Thank you @fdurand .

[2019-04-26 08:08] #4280 closed

[2019-04-26 14:53] dondon21 opened #4291 "v9-gui:System configuration/maintenance"
When i try to uncheck a system maintenance task, i get this API error :

Unknown path /api/v1/config/maintenance_tasks/search
/api/v1/config/maintenance_tasks/search

[2019-04-26 15:22] cgx opened #4292 "API POST /api/v1/users/bulk_delete → error"
[code]

[2019-04-26 15:32] #4292 closed

[2019-04-26 15:36] dondon21 opened #4293 "Cookie redirection failure"
Even when a valid cookie is set, the page IP/admin/alt#/ will all the time redirect on the login page instead of the dashboard. Tested with a new tab on Firefox after be logged. (Just editing the URL in the current tab seems to work correctly).

[2019-04-26 17:02] cgx opened #4294 "API OPTIONS /api/v1/connection_profiles → wrong defaults"
The defaults of the OPTIONS request don't considered the changes made to the parameters of the default profile. The values are retrieved from `profiles.conf.defaults` but ignore the values overwritten in `profiles.conf`.

[2019-04-26 17:07] dondon21 commented on #3871
Jquery < 3.4.0 (PF use 3.1) is vulnerable to prototype pollution who can lead to an XSS or RCE.
Here : https://snyk.io/vuln/SNYK-JS-JQUERY-174006
Can be quite hard to exploit but still possible.
I found some possible way to inject code in the admin login, i did not go further but i think it can be a good idea to keep it out of JS.

[2019-04-26 18:16] dondon21 opened #4295 "Nodes/open security events : SQL query passed by GET request"
Is it normal that it's possible to see the sql query in the url, passed by a GET request here ? :

https://PFIP:1443/admin/alt#/nodes/search?query{"op"%3A"and","values"%3A[{"op"%3A"or","values"%3A[{"field"%3A"security_event.open_count","op"%3A"greater_than_equals","value"%3A"1"}]}]}

URL decoded :
https://PFIP:1443/admin/alt#/nodes/search?query={"op":"and","values":[{"op":"or","values":[{"field":"

[2019-04-26 18:25] jrouzierinverse commented on #4295
No sql injection possible since we verify and clean the input before submitting.

[2019-04-26 18:37] dondon21 commented on #4295
ok, perfect

[2019-04-26 18:44] #4295 closed

[2019-04-26 21:25] #3658 closed

[2019-04-26 21:27] #4256 closed

[2019-04-28 19:24] jrouzierinverse commented on #4294
Fixed by e1c05544f833d4d2e29a494ac2817b9aff12692f

[2019-04-28 19:24] #4294 closed

[2019-04-28 20:06] jrouzierinverse commented on #4282
The item
[code]
Is this on debian or centos?

[2019-04-28 20:07] jrouzierinverse commented on #4282
Creating and viewing sources should be ok now.

[2019-04-28 20:10] jrouzierinverse commented on #4282
Twitter Source has no 'no create local account' at the moment

[2019-04-28 23:54] fdurand commented on #4282
editor : {message: "Can't locate object method "file" via package "Moj…ontroller... is on Debian

[2019-04-29 04:06] jrouzierinverse commented on #4282
This may be a packaging issue.

[2019-04-29 13:42] fdurand opened #4297 "Dashboard is empty because of redis"
Apr 29 09:38:05 daybiane admin_catalyst[21781]: httpd.admin(21129) ERROR: [mac:unknown] Couldn't render template "graph/dashboard.tt: undef error - Could not connect to Redis server at 127.0.0.1:6380 at /usr/lib/x86_64-linux-gnu/perl5/5.24/Redis/Fast.pm line 194.
                                                " (Catalyst::View::TT::_rendering_error)
Apr 29 09:38:05 daybiane admin_catalyst[21781]:

[2019-04-29 13:42] fdurand commented on #4297
Debian and Centos

[2019-04-29 14:19] #3943 closed

[2019-04-29 17:51] satkunas opened #4299 "API user/:id/close_security_event method needed"
Missing `close_security_event` method in lib/pf/UnifiedApi/Controller/Users.pm (only has `bulk_close_security_event`)

Like `close_security_event` from lib/pf/UnifiedApi/Controller/Nodes.pm

[2019-04-29 18:35] satkunas commented on #4248
Bump

[2019-04-29 18:35] pokmis opened #4300 "PacketFence-PKI Installation for Debian is broken"
The PacketFence-PKI installation package for Debian is broken.

Test environment:
Debian 8.11
PacketFence 8.3

Steps to reproduce:
Following 3.1.4 from the installation instructions (https://packetfence.org/doc/PacketFence_PKI_Quick_Install_Guide.html) the following error messages when running the apt-get command:

command:
sudo apt-get install packetfence-pki

errors:
Err http://inverse.ca/downlo

[2019-04-29 19:06] satkunas opened #4301 "API OPTION config/scans?type=wmi invalid meta oses default"
The following `meta` -> `oses` -> `default` uses a value ["Windows"] that is not contained in the list of allowed_lookup search_path.

[code]

[2019-04-29 19:09] satkunas opened #4302 "API POST config/scans 500 error"
Result when submitting a form, when containing an invalid `os` from #4301

[code]

[2019-04-29 19:10] satkunas commented on #4301
#4302 may be related

[2019-04-29 19:46] dondon21 opened #4303 "Configuration/security_events static color button"
In the Configuration/security_events, when i try to uncheck the button from enable to disable / disable to enable, the color of the button doesn't change.

[2019-04-30 00:51] jrouzierinverse commented on #4302
Please provide the json that caused that issue

[2019-04-30 17:16] cgx opened #4304 "API GET /api/v1/user/<pid> → category ID"
The *category* of a user should be the corresponding integer ID, not the textual name.

Current behaviour:

[code]

[2019-04-30 17:18] cgx opened #4305 "API OPTIONS /api/v1/user/<pid> → remove password"
We should never return the user's password.

Current behaviour:

[code]

[2019-04-30 18:41] #2291 closed

[2019-04-30 18:51] dondon21 opened #4306 "Configuration/Provisioner unable to create Accept provisioner"
When i try to create an accept provisioner i get this issue :

DBIx::Class::Storage::DBI::_prepare_sth(): DBI Exception: DBD::SQLite::db prepare_cached failed: no such column: me.text [for Statement "SELECT me.id, me.name, me.mobile, me.tablet, me.created_at, me.updated_at, me.parent_id, me.inherit, me.submitter_id, me.approved FROM device me WHERE ( ( me.text = ? AND me.value = ? ) )"] at /usr/lo

[2019-04-30 18:57] #4066 closed

[2019-04-30 19:36] jrouzierinverse commented on #4301
fixed by 92e7bda40ec069921892e43601a006d4487f695a

[2019-04-30 19:36] #4301 closed

[2019-04-30 20:15] dondon21 opened #4307 "Configuration/inline random data allowed in the fields"
It's possible to fill the form with random data in the inline tab :
Related to :

- Accounting session timeout
- Accounting sync interval
- Ports redirect
- SNAT Interface

Such as letters, numbers, special chars or whatever.

[2019-04-30 20:29] jrouzierinverse commented on #4302
This is related to the flatten of the oses.

[2019-04-30 20:30] jrouzierinverse commented on #4299
Fixed by e8f19e4d94b3b2ee43762863c9b5426bef14099c
POST /api/v1/user/:user_id/close_security_events

[2019-04-30 20:30] #4299 closed

[2019-05-01 12:12] julsemaan opened #4308 "Admin: Add ability to configure OCSP + CRL in admin interface"
Would be good to be able to configure the OCSP and CRL of FreeRADIUS through the admin

[2019-05-01 12:13] extrafu commented on #4308
Indeed, I spoke about it to @fdurand last week.

[2019-05-01 12:52] #3846 closed

[2019-05-01 15:41] dondon21 opened #4310 "Configuration/fencing text allowed in port tab"
In the fencing tab, it's possible to fill the 'Proxy Interception Port' with text and special chars.

[2019-05-01 17:51] #4207 closed

[2019-05-01 18:03] dondon21 opened #4311 "Configuration/firewalls BarracudaNG firewall SSO error"
When i try to create or delete a BarracudaNG firewall SSO I get this issue :
Can't bless non-reference value at /usr/local/pf/lib/pfconfig/objects/NetAddr/IP.pm line 9.

I tried with existing and non existing IP on the subnet.

[2019-05-01 19:00] julsemaan commented on #4273
I tried it with systemctl and the API and both regenerated the file, can you provide me more context around how this happens

[2019-05-01 19:46] #4305 closed

[2019-05-01 20:32] #4167 closed

[2019-05-01 20:42] #4311 closed

[2019-05-01 20:59] #1703 closed

[2019-05-01 21:02] extrafu commented on #2977
@julsemaan Haven't we added that recently? I recall customer deployments involving Meraki + VoIP.

[2019-05-01 21:04] extrafu commented on #3265
@satkunas / @jrouzierinverse Can we close that issue?

[2019-05-01 21:05] #2977 closed

[2019-05-01 21:06] jrouzierinverse commented on #3563
yes

[2019-05-01 21:07] #3997 closed

[2019-05-01 21:07] extrafu commented on #3708
@dondon21 Can you please that one again?

Close it if resolved.

[2019-05-01 21:10] extrafu commented on #3851
@julsemaan Still relevant?

[2019-05-01 21:11] julsemaan commented on #3851
will test this again

[2019-05-01 21:19] #3708 closed

[2019-05-01 21:25] extrafu commented on #3851
Will close for now.

[2019-05-01 21:25] #3851 closed

[2019-05-01 21:31] extrafu commented on #3869
@cgx Still relevant with your recent PR?

[2019-05-01 21:41] extrafu commented on #4008
@satkunas Have you updated the GUI part of it?

[2019-05-01 21:55] julsemaan commented on #4180
all good now

[2019-05-01 21:55] #4180 closed

[2019-05-01 22:02] #4171 closed

[2019-05-01 22:45] #4206 closed

[2019-05-01 22:52] #3869 closed

[2019-05-01 23:40] lzammit opened #4313 "v9-gui: Cluster state not present in the new admin (Status > Cluster State)"
Old Admin:

![](https://lh3.googleusercontent.com/-sf1CoWuqteQ/XMojwZ_xzpI/AAAAAAAACF8/n1LYlSvgAXk7A6weRzsNhZjQ1aymod8LQCK8BGAs/s0/2019-05-01.png)

[2019-05-01 23:44] extrafu commented on #3863
Looks good to @cgx !

[2019-05-01 23:44] #3863 closed

[2019-05-01 23:48] extrafu commented on #4276
Dropped Debian 8, closing.

[2019-05-01 23:48] #4276 closed

[2019-05-01 23:53] extrafu commented on #4230
This is a low-priority item, moving to v9.1 and we'll see if we care about this. Chrome, Firefox and Safari are now dominating. Perhaps what we could do is show the user his/her browser is not supported instead of bailing out with an ugly error.

[2019-05-02 00:01] extrafu commented on #4229
I can reproduce the issue even after many attempts. Lowering priority and pushing to v9.1

[2019-05-02 00:04] extrafu commented on #4092
I don't think it's a big deal to not have a "meta" radiusd service like in < v9.

@julsemaan Should we move that to v9.1?

[2019-05-02 00:07] julsemaan commented on #4092
I think this should indeed move to 9.0+ since it requires to change quite a bit of plumbing to get it working and the new GUI is probably already adapted to the individual services anyway

[2019-05-02 00:12] extrafu opened #4314 "v9-gui: When adding a new switch, not all types are available"
We stop at Foundry, looks like we have 5 more "pages" of switches to get.

We should ask for all of them.

[2019-05-02 00:12] julsemaan commented on #4229
I'm guessing we can call this a "problème intempestif qui arrive n'importe quand des fois"

[2019-05-02 00:19] extrafu commented on #4303
I can reproduce it.

[2019-05-02 00:25] extrafu commented on #4291
I can reproduce it.

[2019-05-02 00:33] extrafu commented on #4177
I don't see anything wrong in changing Actions to Bulk Actions. Moving to v9.1 for now.

[2019-05-02 00:41] extrafu commented on #4264
@julsemaan Please have a look at that!

[2019-05-02 00:59] #4314 closed

[2019-05-02 00:59] cgx commented on #4314
See abd959b.

[2019-05-02 09:40] nqb opened #4315 "Debian8: support dropped, update documentation"
Need to update documentation to replace:
* Jessie by Stretch
* 8.X by 9.X

[2019-05-02 13:08] lzammit opened #4316 "v9: Switch mode not inherited from switches.conf.default"
When I create a new switch, the mode is not set so it default to not in production for each new radius request.

[root@cluster1 pf]# rpm -qa packetfence
packetfence-8.3.9-0.201905011558.el7.noarch

[root@cluster1 pf]# /usr/local/pf/bin/pfcmd configreload hard
Use of uninitialized value in pattern match (m//) at /usr/local/pf/lib/pfconfig/namespaces/config/Switch.pm line 98.
Use of uninitialized va

[2019-05-02 13:11] julsemaan commented on #4000
its actually the same issue that @cgx raised 2 days ago (#4304) already assigned to @jrouzierinverse

When #4304 gets addressed by @jrouzierinverse, this will be fixed

[2019-05-02 14:58] extrafu commented on #3265
@satkunas / @jrouzierinverse I need an answer if we can close that issue.

[2019-05-02 14:59] extrafu commented on #4306
It is a GUI issue since it is not sending the proper value for OSes.

[2019-05-02 15:06] #4316 closed

[2019-05-02 15:11] dondon21 opened #4317 "Configuration/connection_profile error"
When I try to create a new connection profile with a valid source I get this error :

Server Error - "sources.0": This field does not take multiple values
#/configuration/connection_profiles/new

[2019-05-02 15:20] fdurand commented on #4317
Already repported in https://github.com/inverse-inc/packetfence/issues/4257 (Sources/Billing/Provisioners/Scanners form issue, the field should only accept one value (sms should not be allowed in the example))

[2019-05-02 15:20] #4317 closed

[2019-05-02 15:28] jrouzierinverse commented on #3265
From my view point yes.

[2019-05-02 15:28] extrafu commented on #3265
Ok, so I close it.

[2019-05-02 15:28] #3265 closed

[2019-05-02 16:05] #4303 closed

[2019-05-02 17:37] cgx commented on #4291
Related to #3563.

[2019-05-02 17:39] #4304 closed

[2019-05-02 18:04] #4291 closed

[2019-05-02 18:17] julsemaan commented on #4091
since #4212 is tagged for 9.1 and this looks more like a feature than a bug, I'll push this to 9.1

@cgx feel free to bring this back to 9.0 if needed

[2019-05-02 18:19] julsemaan commented on #3990
@satkunas

It seems that this is only missing from the local syslog forwarder

If the only issue with this is the missing spec now, lets change the title or open a new issue

[2019-05-02 18:23] jrouzierinverse commented on #3921
This has been fixed closing

[2019-05-02 18:23] #3921 closed

[2019-05-02 18:31] #4293 closed

[2019-05-02 18:32] jrouzierinverse commented on #4232
This has been fixed

[2019-05-02 18:32] #4232 closed

[2019-05-02 18:50] #3981 closed

[2019-05-02 18:54] julsemaan commented on #4102
Since WRIX locations seem to already work without the OPTIONS endpoint, shall we push this to 9.1 ?

[2019-05-02 18:55] julsemaan commented on #3973
Is this still relevant for 9.0 ?

[2019-05-02 18:56] julsemaan commented on #3990
After discussion with @satkunas, its not missing since the local source doesn't have these fields.

He will adjust accordingly

Will change this issue to talk about the spec only and push to 9.1

[2019-05-02 18:56] julsemaan commented on #3990
Actually will close and open a new issue for the spec

[2019-05-02 18:56] #3990 closed

[2019-05-02 18:56] julsemaan opened #4319 "API Endpoint - config/syslog_forwarders missing OpenAPI spec"
Please note
-----------
Github issues are for reporting/tracking DEVELOPMENT ISSUES. For anything related to getting help in running PacketFence, or anything else not related to DEVELOPMENT, please use the mailing-list (https://lists.sourceforge.net/lists/listinfo/packetfence-users).

Any issues not related to DEVELOPMENT - WILL BE CLOSED -

How to properly file an issue
--------------------------

[2019-05-02 19:00] julsemaan opened #4320 "v9-gui: Missing Fingerbank account information"
In the previous admin, you could see the username + API usage of the current API key in the top of the Fingerbank settings, right now nothing displays other than the header "Account information on api.fingerbank.org"

[2019-05-02 19:19] julsemaan commented on #4264
I only got one of the warnings while creating or updating using the following line (just corrected a new line issue with the one above):
[code]

My commit above addresses that warning and the only messages left are the device does not exist

@nqb, if that is still happening, then re-open and add other details specific to your environment like the OS + exact build on which you're running

[2019-05-02 19:25] julsemaan commented on #4273
@satkunas confirmed with me that its fine now

Could have been an issue with the environment

[2019-05-02 19:27] julsemaan commented on #4307
This has always been the case actually, we would need to adjust the form to perform this validation

Since its not an issue specific to 9.0, I'd suggest we push this to "+1 patch release" and address it later

[2019-05-02 19:38] julsemaan opened #4321 "v9-gui: Fingerbank OS select box doesn't contain common choices"
In the previous admin (ex: Provisioner OS configuration), the OS selection had a select box prepopulated with the common choices you could make (Windows OS, Apple OS, etc) so that its easier for someone to figure out what to select if they want to make common choices.

The new admin currently just shows all devices sorted alphabetically and common choices have to be searched and aren't as easy to

[2019-05-02 19:58] lzammit opened #4322 "PF v9 update on dev environment"
I'm not sure if it's legit or not:

Failed to open /usr/local/fingerbank/conf/fingerbank.conf: Permission denied at /usr/local/pf/lib/pfconfig/namespaces/config.pm line 59.
cannot create a tied pf::IniFiles at /usr/local/pf/lib/pf/IniFiles.pm line 413.

[2019-05-03 03:22] cgx opened #4323 "API OPTIONS /api/v1/config/sources?type=Email → email_activation_timeout defaults"
The default values of the email_activation_timeout are not exposed at the proper place:

Currently, we have:

[code]

I would expect to have the default values under `.properties`, not in a separate object under `.email_activation_timeout`.

[2019-05-03 08:50] nqb commented on #3973
Not for CentOS on new admin.

[2019-05-03 13:15] julsemaan commented on #3973
Lets close this then since the efforts are now focused on the new admin

[2019-05-03 13:15] #3973 closed

[2019-05-03 13:19] nqb commented on #3973
Not for Debian too.

[2019-05-03 13:34] extrafu commented on #4297
@jrouzierinverse What's the status on this?

[2019-05-03 13:34] extrafu commented on #4000
@jrouzierinverse What's the status on this?

[2019-05-03 13:34] fdurand commented on #4297
it's only on the old admin.

[2019-05-03 13:42] nqb commented on #4173
I got this behavior in a LXC container where `systemd-resolved` is enabled. Not the case in a default installation of Debian 9 in a Docker container or in a virtual machine.

[2019-05-03 13:42] #4173 closed

[2019-05-03 13:55] nqb opened #4324 "v9-gui: Status > Services : missing services"
On latest builds, standalone install, missing services in Status > Services page

* packetfence-mariadb
* packetfence-radiusd-cli.service
* packetfence-radiusd-eduroam
* packetfence-radiusd-load_balancer
* packetfence-redis-cache.service

I just did a comparison between output of `pfcmd service pf status`

[2019-05-03 13:57] nqb opened #4325 "pfcmd: pf status doesn't display api-frontend"
On latest builds, standalone server, service `packetfence-api.frontend` is not displayed.

But service is running and can be show in new GUI.

[2019-05-03 13:57] nqb commented on #4313
See also #4324

[2019-05-03 13:58] nqb commented on #4325
Caused by #4281

[2019-05-03 14:02] nqb commented on #4325
[code]

[2019-05-03 14:09] nqb opened #4326 "v9-gui: POTD sources should have rules"
In old GUI, POTD source doesn't have authentication and administration rules because that didn't make sense.

In new GUI, it's possible to set such kind of rules.

[2019-05-03 14:11] nqb opened #4327 "v9-gui: missing Authorization source (Internal)"
In new GUI, `Authorization` source is missing.

[2019-05-03 14:12] nqb commented on #4327
Fixed by https://github.com/inverse-inc/packetfence/commit/9dc1a7a72876a1c2e67d23289ddb61c102572dbe

[2019-05-03 14:14] nqb commented on #4327
Still not presents with 8.3.9-201905030831 build.

[2019-05-03 14:15] fdurand opened #4328 "v9-gui: When adding a new Admin Role, not all Actions are available"
Actions stop at Scan Engine - Update

[2019-05-03 14:25] satkunas opened #4329 "API GET config/connection_profiles missing status column"

[2019-05-03 14:26] fdurand opened #4330 "v9-gui: When adding a new User, there is no role and access duration in the list"

[2019-05-03 14:27] satkunas opened #4332 "API endpoint needed to check if file exists"
Required to check if file exists when setting up htpasswd source. Would be nice if we could check any path and return the owner/group/and file mode bits.

[2019-05-03 14:29] cgx commented on #4324
We rely on the API endpoint, so I'm reassigning this issue to @jrouzierinverse.

[code]

[2019-05-03 14:29] satkunas opened #4333 "API endpoints needed for switch_group members"

[2019-05-03 14:33] nqb commented on #4324
Ok @cgx but `radiusd-load_balancer` is in your API result.

[2019-05-03 14:35] cgx commented on #4324
It's also in the web admin.

[2019-05-03 14:44] jrouzierinverse commented on #4332
This error is returned when saving or updating the Htpasswd just reuse the error given when saving.

In the future we should allow people to upload the file they want to use for certs to make it easier for them to man.

[2019-05-03 14:44] extrafu commented on #4297
Ok so that issue isn't reproducible in v9?

[2019-05-03 14:47] julsemaan commented on #4329
Please ensure you put the appropriate milestone when opening issues for 9.0, otherwise this will be lost

[2019-05-03 14:47] julsemaan commented on #4332
Please ensure you put the appropriate milestone when opening issues for 9.0, otherwise this will be lost

[2019-05-03 14:48] satkunas commented on #4330
Fixed with #4334

[2019-05-03 14:48] #4330 closed

[2019-05-03 14:51] fdurand opened #4335 "V9-gui: Lack of Administrative role"
User with User read/create.
This happen when i login:

![image](https://user-images.githubusercontent.com/1553962/57145498-56798200-6d91-11e9-91c4-9db9df622d0e.png)

[2019-05-03 15:08] jrouzierinverse commented on #4329
Fixed by e0310efbdfd8054738969264abd14ea7c5032e35

[2019-05-03 15:08] #4329 closed

[2019-05-03 15:33] jrouzierinverse commented on #4326
In the old GUI POTD can have rules.
However Billing/Blackhole/SAML/HTTP source cannot.

[2019-05-03 15:36] jrouzierinverse commented on #4326
I removed the rules in the OPTIONS for Billing/Blackhole/SAML/HTTP sources.

[2019-05-03 15:42] jrouzierinverse commented on #4332
This is a low priority as this would be an enhancement not fixing any bug.
I will move this to 9.1 unless anyone has any objections.

[2019-05-03 15:43] julsemaan commented on #4332
I agree with @jrouzierinverse

If an error is thrown when saving on the server and its displayed to the user, then its good enough for 9.0

[2019-05-03 15:58] #4323 closed

[2019-05-03 16:09] jrouzierinverse commented on #4297
FIxed by 1b302c0a6944b8ab564310b5d0f0b65124823725

[2019-05-03 16:09] #4297 closed

[2019-05-03 18:14] jrouzierinverse commented on #4333
New endpoint
/api/v1/config/switch_group/:switch_group_id/members

[2019-05-03 18:14] #4333 closed

[2019-05-03 18:38] julsemaan commented on #4320
I've added the API endpoint (GET /api/v1/fingerbank/account_info)

All that is left is for @cgx or @satkunas to work their magic in the frontend to populate the data

[2019-05-03 19:09] julsemaan commented on #4271
Fixed it so it defaults to hashing password with the algorithm defined in the config and there is a query parameter to override it

[2019-05-03 19:11] satkunas commented on #4323
Fixed with https://github.com/inverse-inc/packetfence/commit/1e936a53d517515842ebde8cd7dafc643ab03a79

[2019-05-03 20:42] satkunas commented on #4320
added in https://github.com/inverse-inc/packetfence/commit/7543f91fc85993bf5e2e9b5308bfe99116b294b5

[2019-05-03 20:42] #4320 closed

[2019-05-03 21:18] satkunas commented on #4326
Removed in https://github.com/inverse-inc/packetfence/commit/8a9916881dcfb6964a40789445f10e69e5f01b65

[2019-05-03 21:20] satkunas commented on #4327
PR was only merged this morning. Will be in tonights build.

[2019-05-03 21:20] #4327 closed

[2019-05-03 21:21] satkunas commented on #4321
@cgx were you going to rework the search function, or should I?

[2019-05-03 21:33] satkunas commented on #4310
This is because we're using a textarea input.

We plan to deprecate these textarea "lists" with controlled array inputs. Validation can be added then.

Moving to 9.1

[2019-05-03 21:38] satkunas commented on #4307
Added numeric checks for
* Accounting session timeout
* Accounting sync interval

in https://github.com/inverse-inc/packetfence/commit/127e2f9990fdb9a2f63a041a1083b1cc74b1e6d8

The other two will need to be changed to controlled array inputs before validation can be added.

[2019-05-03 21:55] satkunas commented on #4306
May be fixed with https://github.com/inverse-inc/packetfence/commit/6f4130fc984ecc8eb7d236ec4c98f63f3dbfe8e5

@dondon21 Please re-test

[2019-05-04 01:43] #4313 closed

[2019-05-05 12:51] cgx opened #4336 "API OPTIONS /api/v1/system_summary → token required or not?"
For discussion.

I propose to make `/system_summary` accessible without a token.

[2019-05-06 01:58] prasertsook opened #4337 "Security_Event Portal Issue"
Currently i'm using Packetfence-Devel and trying to test security_event portal function.  With test client, somehow it's not working and show the screen shot refer to attach file.  The log files are not tell anything much and unable to carry on testing, please see details in attached files as well.

Please help advice here, this function used to working properly with version 8.3.0 but not this ver

[2019-05-06 06:18] nqb commented on #4336
I'm not sure it's a best practice because anybody can get PF version without logging. An attacker can run specific attacks based on this information.

[2019-05-06 08:22] nqb commented on #4337
Hello,

Thanks for testing packetfence-devel.

In order to be able to reproduce, please provide us a [Minimal, Complete, and Verifiable example (MCVE)](https://stackoverflow.com/help/mcve).

Thanks.

[2019-05-06 09:24] nqb opened #4338 "API usage: missing information in ConfigBase model"
Hello,

When you browse https://github.com/inverse-inc/packetfence/blob/devel/docs/api/spec/components/schemas/configbase.yaml, you can't get **id** of each ConfigBase object (like `general`, `network`, `fencing`, etc.) which is really helpful when you want to use API.

However, when you query API, you got this information:
[code]

Just tell me if I need to edit `docs/api/spec/components/schemas/c

[2019-05-06 09:48] nqb opened #4339 "v9-gui: automatically set LDAP port in LDAP source"
Currently, when you create a LDAP source, you got 389 as destination port.

When you select SSL, port should change to 636.

"Port" field should be replace by a dropdown list. "Secure" field should be put **before** "Port" field.

[2019-05-06 10:56] extrafu commented on #4336
I don't think that is an issue - security by obfuscation is always quite bad.

[2019-05-06 11:24] nqb opened #4340 "v9-gui: Tenant different from default are not display"
Nightly builds.

I create a tenant ID through command line:
[code]

API is aware of this new tenant:
[code]
but I can assign this tenant to a user in new GUI (only `default` tenant appears)

[2019-05-06 11:28] nqb commented on #3681
Also see #4340

[2019-05-06 11:31] julsemaan commented on #4336
The only thing that could be bad with this would be the read-only status of the system (MariaDB in read-only) and exposing this to unauthenticated users.

But then again, if you would access the captive-portal, you would be able to know if the system is in that state so that probably won't be an issue.

We just have to be careful as to what we put into this API endpoint

[2019-05-06 11:33] julsemaan commented on #4340
The new GUI will not be tenant aware AFAIK for 9.0 given the tight deadline we have so that might be a 9.1 issue

[2019-05-06 11:35] nqb commented on #4336
What is the interest of exposing this API endpoint without a token ?

[2019-05-06 11:40] nqb opened #4341 "monit on Debian 9: wrong rights for update.sh"
Nightly builds of Debian 9:

[code]
versus CentOS:

[code]

[2019-05-06 11:47] cgx commented on #4336
@nqb Having the version and read-only mode accessible on the login page.

[2019-05-06 12:10] nqb commented on #4340
Moving to 9.1

[2019-05-06 12:13] nqb commented on #4336
Ok @cgx. Who need this information ?
If an admin wants to get PF version, he just needs to log in.

[2019-05-06 12:28] nqb commented on #4324
@fdurand: I suppose you would like to close #4325 in place of this one. I will re-open this one.

[2019-05-06 12:39] nqb commented on #4325
@fdurand, 367cf94 didn't fix display `api-frontend` service in magenta. Service is still missing from `pfcmd` output.

[2019-05-06 13:17] satkunas commented on #4266
@julsemaan @jrouzierinverse bump, this is still required.

[2019-05-06 13:24] #4325 closed

[2019-05-06 13:26] julsemaan commented on #4266
As discussed verbally, due to the fact we need this to be retro-compatible with the old admin and the aliases are in the query, it would be a PITA to make it so the API returns the column name and not the alias that is put in the query.

The searches should be built on the searches attribute of the report

[2019-05-06 13:33] satkunas commented on #4266
Workaround with https://github.com/inverse-inc/packetfence/commit/0b1527b71cf1687122967e5f34fa9c679ae492c4

[2019-05-06 13:33] #4266 closed

[2019-05-06 13:54] fdurand opened #4343 "V9 - Not able to save a Password of the day source."
mai 06 09:52:46 facketfence.barriereapaquet.org packetfence[30939]: WARN pfperl-api(30939): Use of uninitialized value $value in exists at /usr/local/pf/lib/pfappserver/Form/Config/Source.pm line 458.
                                                                     (pfappserver::Form::Config::Source::validate)
mai 06 09:52:46 facketfence.barriereapaquet.org packetfence[30939]: WARN pfperl-api(

[2019-05-06 14:15] extrafu commented on #4315
@nqb What's the status on this? We need to get this done ASAP.

[2019-05-06 14:16] extrafu commented on #4341
@nqb Can we close this?

[2019-05-06 14:24] nqb commented on #4341
@extrafu: merging #4342 will close issue.

[2019-05-06 14:29] satkunas opened #4344 "Custom Reports missing components"
Requires:

- Export to CVS
- Start/End Datetime fields

[2019-05-06 14:31] #4315 closed

[2019-05-06 14:33] jrouzierinverse commented on #4336
We could cherry-pick what information we display depending if they are logged in or out.
However I am not sure that we send down the token information to the pfperl-api for paths that do not require a token @julsemaan can you verify this?

[2019-05-06 14:39] julsemaan commented on #4336
Right now the API frontend assumes that all requests have to be authenticated before going to any API backend.

Meaning pfperl-api should currently assume all requests are authenticated

The API frontend needs to be adjusted to bypass authentication on specific backend paths

Now, when I'll have this bypassing the auth, the X-PacketFence-Username will not be populated so that can be used to flag r

[2019-05-06 14:45] jrouzierinverse commented on #4336
That sounds good.
@cgx is just readonly_mode need for unauthenticated request or anything else?

[2019-05-06 14:48] #4341 closed

[2019-05-06 14:57] cgx commented on #4336
FYI -- `/api/v1/translation/<locale>` doesn't require authentication.

Let's keep `/api/v1/system_summary` for authenticated users only.

[2019-05-06 14:57] #4336 closed

[2019-05-06 15:00] satkunas commented on #4344
Export added in https://github.com/inverse-inc/packetfence/commit/92766a55fc5b04238c4a26525f61559c1f26d836

[2019-05-06 15:29] fdurand opened #4345 "v9-gui - Old gui radius audit log doesn't work anymore"
mai 06 11:28:19 facketfence.barriereapaquet.org httpd_admin_err[30968]: [Mon May  6 11:28:19 2019] -e: Argument "" isn't numeric in addition (+) at /usr/local/pf/html/pfappserver/root/auditing/radiuslog/search.tt line 21.
mai 06 11:28:19 facketfence.barriereapaquet.org httpd_admin_err[30968]: [Mon May  6 11:28:19 2019] -e: Argument "" isn't numeric in numeric le (<=) at /usr/local/pf/html/pfappser

[2019-05-06 15:34] satkunas commented on #4344
Export fixed in https://github.com/inverse-inc/packetfence/commit/7ab5ea1d7b8809ccd79312c53d874430dc2e34e9

[2019-05-06 16:13] jrouzierinverse opened #4346 "Add missing authorization mappings for pfperl-api"

[2019-05-06 16:23] julsemaan opened #4347 "radiusd fails to start but shows as started and green in pf status"
[code]

A check on the PID should be added or the existing check should be added

[2019-05-06 16:54] jrouzierinverse commented on #4345
Fixed by 393c9784342ab0a4f0f1c095103f481809f4dce7

[2019-05-06 16:54] #4345 closed

[2019-05-06 17:19] julsemaan opened #4348 "Security Event GUI: Cannot add many "Endpoint" and "Device profiling" trigger parts"
In the security event trigger line, we should be able to select multiple values in the "Endpoint" and the "Device profiling" columns for a row.

For example, I should be able to make my trigger fire on Endpoint->Role->default and Endpoint->Switch->192.168.1.1

[2019-05-06 17:22] julsemaan opened #4349 "Security Event GUI: empty select boxes / no typeahead for some triggers"
Currently missing values in the select boxes or a typeahead field for the following values:

* Switch
* Switch group
* All device profiling (Device, DHCP fingerprint, MAC Vendor, etc)
* Nexpose contains + starts with

[2019-05-06 17:23] dondon21 opened #4350 "Configuration/domains HTML <br/> tag visible"
In the new Active Directory tab, the HTML`<br/>` tag is visible in the Identifier field.

[2019-05-06 17:25] julsemaan opened #4351 "Security Event GUI: width of select type select box is too narrow"
The size of the type select box for the trigger values is too narrow to display the values:
![image](https://user-images.githubusercontent.com/3857942/57242771-62b84600-7002-11e9-8e00-2456412d4c56.png)

Applies to Endpoint, Device Profiling and Event

[2019-05-06 17:27] julsemaan opened #4352 "Question: SSL Certificates section location"
Right now the SSL certificates configuration is in "Network Configuration"

I'd see this in the "System Configuration"

Should I proceed to moving it ?

[2019-05-06 17:33] julsemaan opened #4353 "SSL Certificates GUI: No CA certificate field required for HTTP"
The CA certificate field shouldn't be there for the HTTP type in the SSL certificate configuration

[2019-05-06 18:05] julsemaan commented on #4008
@satkunas has addressed this in devel

[2019-05-06 18:05] #4008 closed

[2019-05-06 18:07] julsemaan opened #4354 "Properly handle #4008 (without a workaround)"
We should handle #4008 without the ~ workaround

[2019-05-06 18:12] julsemaan commented on #3563
We will do a simple search for 9.0, no advanced querying

[2019-05-06 18:15] julsemaan commented on #4150
@satkunas says it works

[2019-05-06 18:15] #4150 closed

[2019-05-06 18:15] julsemaan commented on #4222
@jrouzierinverse says @satkunas fixed it

[2019-05-06 18:15] #4222 closed

[2019-05-06 18:17] julsemaan commented on #4285
We'll review the built-in admin roles and add what is necessary

Related to #4335

[2019-05-06 18:17] #4285 closed

[2019-05-06 18:18] julsemaan commented on #4289
@cgx says its not a priority though so that will not be a release blocker, just a nice to have

[2019-05-06 18:20] julsemaan commented on #4324
These services have always been missing so pushing to 9.1

[2019-05-06 18:24] julsemaan commented on #4284
@satkunas will just strip the stuff that makes this happen, we don't need that now

[2019-05-06 18:25] julsemaan commented on #4286
@cgx will check if its still relevant and fix if necessary

[2019-05-06 18:26] julsemaan commented on #4328
@cgx will check if its in the OPTIONS and use them or update the static list

[2019-05-06 18:29] julsemaan commented on #4349
@cgx will check if the OPTIONS contain the good stuff, if not he'll reassign to @jrouzierinverse

[2019-05-06 18:30] julsemaan commented on #4352
I'll move it

[2019-05-06 18:33] jrouzierinverse opened #4355 "email preview endpoint"

[2019-05-06 18:40] julsemaan opened #4356 "Domain join doesn't work in new GUI"
Either a GUI or a backend, we don't know

Or BOTH :D

[2019-05-06 18:59] julsemaan opened #4357 "Missing WMI tab in new admin"
The WMI tab in the node details is currently missing

[2019-05-06 19:01] julsemaan opened #4358 "Missing Rapid7 tab in new admin"
In the node details, the Rapid7 tab is missing in the new admin

[2019-05-06 19:02] julsemaan opened #4359 "Configuration: Message when saving a base section"
When saving a base section, the success message is "$section_name updated" where $section_name is the raw section name which isn't friendly.

We should just change this to something more generic like "Settings updated"

[2019-05-06 19:02] julsemaan commented on #4359
Not sure if this is in the backend or frontend so I'm assigning @jrouzierinverse and @satkunas

[2019-05-06 19:03] julsemaan opened #4360 "Need to be able to print a user when creating it"
When creating one or multiple users, we should be able to print the details of the account(s) for use as vouchers. Also to send the details in an email

Requires #4355

[2019-05-06 19:05] julsemaan opened #4361 "Security events tab is empty for nodes and users"
The security events tab for user and node details is currently empty.

We need an API endpoint to expose these to the frontend since the standard search currently has a limitation for that type of search.

@jrouzierinverse will do the API endpoint, @satkunas adjust the frontend

[2019-05-06 19:06] julsemaan opened #4362 "Remove the open+closed security events saved searches in users + nodes"
These do not work anymore, they should be replaced by custom reports since we're not even viewing nodes + users, we're specifically viewing their security events

[2019-05-06 19:06] satkunas opened #4363 "API endpoint needed for node/:mac/security_eventrs"

[2019-05-06 19:07] julsemaan opened #4364 "Custom reports: add node+user clickable support"
In the new GUI, the node + user fields defined in the custom report declaration aren't honored like in the old admin to have it so clicking on the data of the field would open the details of the node or the user

[2019-05-06 19:08] satkunas opened #4365 "API endpoint config/domain/:id/rejoin response message split"
Merge the response JSON: `join.message` and `unjoin.message` into a single `message` like join/unjoin endpoints.

[2019-05-06 19:09] julsemaan commented on #4363
dup of #4361

[2019-05-06 19:09] #4363 closed

[2019-05-06 19:15] cgx opened #4366 "v9-gui: Vue.js-based admin as the default admin"
.. and a link to go back to the previous interface.

[2019-05-06 19:31] julsemaan commented on #4000
We've made the GET consistent with the POST/PUT and displaying the ID of the category field

The spec has also been updated in de9efff

[2019-05-06 19:31] #4000 closed

[2019-05-06 19:55] #4347 closed

[2019-05-06 19:59] jrouzierinverse commented on #4359
Fixed by 0f9ccd32c1d94bc4f3a5d456b3900207a021f373

[2019-05-06 19:59] #4359 closed

[2019-05-06 20:07] fdurand opened #4367 "V9 Radius Audit log status color"
Disconnect-ACK and COA-AcK should be green

![image](https://user-images.githubusercontent.com/1553962/57251869-e5e49680-7018-11e9-90ee-5aabd3553016.png)

[2019-05-06 20:47] satkunas commented on #4344
Datetime added in https://github.com/inverse-inc/packetfence/commit/53a855865b0d15a82bab1d9a8261b5148ce21d4d

[2019-05-06 20:47] #4344 closed

[2019-05-06 21:25] satkunas opened #4368 "API endpoint needed to trigger node security_event"
![Selection_015](https://user-images.githubusercontent.com/3904468/57256174-f2222100-7023-11e9-84a9-31908aabd6b1.png)

[2019-05-07 06:30] prasertsook commented on #4337
Hi,

All of above is whate i've so far, if required more inforomation, please let me know specific anythingelse i can provided.

security_event portal is not working as expected.  Before this in version 8.3.0 is working fine but not this version Packetfence-Devel.

Thanks a lot

[2019-05-07 07:56] slaggi opened #4369 "Fortigate SSO - no acct_session_id on accounting start"
For the Fortigate SSO:

There is no session id sent in the Radius Accounting Start packet. Though, it is added to the Accounting Stop. This is not a problem for the Fortigate, but it does create an issue if it is used with the FortiAuthenticator which expects a session id and creates an error on the missing session id.

go/firewallsso/fortigate.go
+40      rfc2866.AcctSessionID_AddString(r, "acct_

[2019-05-07 08:32] nqb opened #4370 "v9-gui: Network config > Interfaces"
# Adding a new VLAN

- [x] Netmask field is auto-filled with value from "master" interface which can cause errors: master interface can have a different netmask than new interface. This field must be set to null.
- [ ] Additional listening daemon(s): when you have selected at least **one** daemon, it's not possible to save form without any daemon.
- [ ] If an interface has been created with `"dhcp

[2019-05-07 09:04] nqb commented on #4264
Hello there,

It's not possible to create a new VLAN through GUI (also see #4370), API calls need to be adjust. From what I see `name` option is mandatory:
[code]
From my point of view, `id` and `vlan` option should be enough to create a new VLAN on a current interface. I mean: `name` option should not be mandatory.

Environment:
* Nightly builds under Debian
* Docker container with one interface

[2019-05-07 09:41] nqb opened #4371 "CentOS package: rsyslog should be a depends of packetfence"
Currently, `rsyslog` is not a dependency of `packetfence` package. SPEC file expect that `rsyslog` is installed in target environment which is not always the case (minimal environment like containers).

[2019-05-07 09:51] #4371 closed

[2019-05-07 09:58] #4343 closed

[2019-05-07 10:12] nqb opened #4373 "Debian POTD source: unable to create source"
Nightly builds under Debian.

When I try to create a POTD source from new web admin, I got this error message (`packetfence.log`and web browser):
[code]
If I try again, I got this error message:
[code]

Additional informations:
* Source is created

[2019-05-07 11:45] satkunas commented on #4364
Added in https://github.com/inverse-inc/packetfence/commit/53a855865b0d15a82bab1d9a8261b5148ce21d4d

@julsemaan Should we attempt to linkify the standard report columns as well?

[2019-05-07 12:40] nqb opened #4374 "v9-gui: Connection profiles"
# Create

- [x] When I try to create a new connection profile, profile name is auto-filled to "default". Should be empty.
- [x] Enable profile button is not display
- [x] It's not possible to create filters
- [ ] Filter: width of select type select box is too narrow

# View
- [ ] Default connection profile is disabled

[2019-05-07 12:42] nqb commented on #4374
Ok, I change "default" to "test" and all looks good but this behavior is a bit confusing.

[2019-05-07 13:13] #4364 closed

[2019-05-07 13:19] nqb opened #4375 "Debian 9: no logs under $PF/logs"
After a fresh install on Debian 9 (nightly builds), `$PF/logs` has following content:
[code]
`rsyslog` service is started.

If I run: `systemctl restart rsyslog`, I got all my files under `$PF/logs`.

I notice that `rsyslog` service is restarted during post-installation: https://github.com/inverse-inc/packetfence/blob/devel/debian/packetfence.postinst#L106.

However, during post-installation `syst

[2019-05-07 13:21] #4284 closed

[2019-05-07 13:22] satkunas commented on #4284
@julsemaan likes it when I strip :dancing_men:

[2019-05-07 13:27] satkunas commented on #4374
@jrouzierinverse `status` field is missing in response for only `default`.

[2019-05-07 13:34] nqb opened #4377 "Debian 9: error when going to Provisioners menu"
Nightly builds of Debian 9

When going to Provisioners menu or trying to create a new provisioner, I got this error message:
[code]
Issue is not present on CentOS nightly builds (0.201905060736.el7).

[2019-05-07 13:46] #4370 closed

[2019-05-07 14:01] jrouzierinverse commented on #4374
The status field is not editable for the default profile.
How do you want to handle this in the options

[2019-05-07 14:19] julsemaan commented on #4284
@satkunas, You just know me too well now

[2019-05-07 14:20] julsemaan commented on #4364
@satkunas, we could but it would be using statically defined stuff since the server side won't expose it.

I'd say for now its enough with the dynamic reports only which makes us on par with the previous admin

[2019-05-07 14:21] julsemaan commented on #4369
Easy enough, we'll take care of that after the 9.0 rush

[2019-05-07 14:22] julsemaan commented on #4368
dup of #4361 ?

[2019-05-07 14:25] julsemaan commented on #4264
The ID shouldn't be necessary and shouldn't be eth0, it should be eth0.201 which we could construct both the name and the VLAN with

I'd say to keep things fast, I'd say we adjust the frontend to send the expected attributes since the API call works fine but expects specific attributes

[2019-05-07 14:26] jrouzierinverse commented on #4373
This is an issue with the frontend.
The problem it sending both
[code]

[2019-05-07 14:35] jrouzierinverse commented on #4368
This already there

[code]

[2019-05-07 14:36] nqb opened #4378 "v9-gui: CSV import differs between Nodes and Users"
# Nodes
![Screenshot from 2019-05-07 16-34-05](https://user-images.githubusercontent.com/10830260/57308180-25c57f80-70e6-11e9-8990-662ed6e91c35.png)

# Users
![Screenshot from 2019-05-07 16-35-20](https://user-images.githubusercontent.com/10830260/57308183-29590680-70e6-11e9-97d7-65243c7d263c.png)

Users display looks good, I didn't see any "+" button.

[2019-05-07 14:37] #4352 closed

[2019-05-07 14:40] #4378 closed

[2019-05-07 14:52] jrouzierinverse commented on #4374
Fixed by 645fa4a45aa9a0459f1af8dfdf0edc51d80dd244 please verify

[2019-05-07 15:33] satkunas commented on #4282
@julsemaan can you test the following (if it's needed)?

[2019-05-07 15:44] jrouzierinverse commented on #4374
Can you clear the id field after cloning.

[2019-05-07 15:48] satkunas commented on #4374
@jrouzierinverse fixed

[2019-05-07 15:49] satkunas commented on #4374
It helps indicate which item is being cloned. The user only needs to add a prefix.

[2019-05-07 15:49] #4374 closed

[2019-05-07 15:50] satkunas commented on #4373
And I thought sending both would be helpful.

[2019-05-07 15:53] #4373 closed

[2019-05-07 15:57] satkunas opened #4379 "Admin Roles Verbiage"
I received the following error when trying to add a POTD source.

[code]
2 issues:
 * The preamble has bad grammar
 * Password Of the Day should be either "Password Of The Day" or "Password of the day". Don't mix case.

This would be better worded as:

**This user is not permitted to access** Password Of The Day.

[2019-05-07 16:01] satkunas commented on #4368
Missing from API Spec. Re-assigning.

[2019-05-07 16:04] jrouzierinverse commented on #4377
Is this only on Debian?

[2019-05-07 16:25] #4379 closed

[2019-05-07 17:31] #4375 closed

[2019-05-07 17:37] julsemaan commented on #4355
added API endpoint in 07879fcb16d6535e149740cf7dd7ba81dcb6c0d7

Will add example in #4360

[2019-05-07 17:37] julsemaan commented on #4360
The necessary API endpoint is there

Example:
[code]

[2019-05-07 17:38] #4355 closed

[2019-05-07 17:43] cgx commented on #4360
We also need an endpoint to actually send the mail.

[2019-05-07 17:46] julsemaan commented on #4360
I'll open another issue for that

[2019-05-07 17:47] julsemaan opened #4380 "Need API endpoint to send email"
We need an API endpoint to be able to send an email to a user

[2019-05-07 18:01] cgx opened #4381 "v9-gui: Missing dashboard alerts"
Add the netdata alerts to the dashboard.

[2019-05-07 18:14] #4362 closed

[2019-05-07 18:18] satkunas commented on #4361
Front end completed in https://github.com/inverse-inc/packetfence/commit/7b1d848ad12a8eb32268cea075bcc6395d7993da

[2019-05-07 18:18] #4361 closed

[2019-05-07 18:23] satkunas commented on #4367
@fdurand should be fixed in https://github.com/inverse-inc/packetfence/commit/cd9cbfb2f30fee39e9a8b5721343be04fba23b7c

Please test or send me your dataset so I can test.

[2019-05-07 18:26] julsemaan opened #4382 "Manipulating connection profile files in the new admin doesn't sync them in the cluster"
Performing changes on the connection profile files doesn't sync them in the cluster like it does in the current admin

[2019-05-07 18:26] julsemaan opened #4383 "SSL certificates update doesn't sync the files after updating them"
Updating the SSL certificate using the API / new admin doesn't sync the certificates throughout the cluster

[2019-05-07 18:37] Roer opened #4384 "POTD Email is empty"
After creating a POTD Authentication source, the email is sent without Username, Password, or Expire information.

PacketFence-ZEN 8.3.0

[2019-05-07 18:40] jrouzierinverse commented on #4367
You check the logic here.
https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/auditing/radiuslog/search.tt#L32
More simply if auth_status is Reject show red everything else is green.

[2019-05-07 18:43] cgx commented on #4353
The API endpoint should not return a *ca* attribute for the HTTP certificate. Reassigning to @jrouzierinverse.

[2019-05-07 18:46] julsemaan commented on #4353
I can take care of this one actually, less on @jrouzierinverse's plate

[2019-05-07 19:14] julsemaan commented on #4380
Endpoint added in c2bd6a7c5f3204668f984257a7848abc119d2b62

Example:
[code]

[2019-05-07 19:14] #4380 closed

[2019-05-07 19:38] #4353 closed

[2019-05-07 19:45] cgx commented on #4349
- [x] *Switch*: works for me.
- [x] *Switch group*: missing from the Web admin, but working with `pfperl-api`. ACL issue?
- [x] *Device*: works for me (lookup).
- [x] *DHCP(6) fingerprint*: missing lookup definition.
- [x] *MAC vendor*: missing lookup definition.
- [x] *Nexpose event starts with*: fixed.
- [x] *Nexpose event contains*: missing allowed values.

[2019-05-07 19:45] #4351 closed

[2019-05-07 19:46] cgx commented on #4349
Can either @julsemaan or @jrouzierinverse take care of the API endpoints?

[2019-05-07 19:47] cgx opened #4385 "Admin Roles for DHCP Option82"
We have
- AUDITING_READ
- RADIUS_LOG_READ

We rely on AUDITING_READ for Option82. Should we rename it to OPTION82_READ?

[2019-05-07 19:59] #4350 closed

[2019-05-07 20:07] satkunas commented on #4306
@dondon21 Please re-test

[2019-05-07 20:42] julsemaan opened #4386 "SSL certificates GUI: add option to ignore chain check"
Currently if you save an invalid cert chain (like a self-signed certificate), then the update is denied

I added a query parameter (check_chain) to bypass the check of the chain to force the save to happen even if the chain doesn't validate but I forgot to add it in the mockup

We would need a second save button to save without checking the chain so that the validation can be bypassed (or it could

[2019-05-07 20:45] julsemaan opened #4387 "New admin allows to multi-click the save button while the API is saving stuff"
Some of the API calls to save settings (like the certificate PUT) take a lot of time to occur and the GUI doesn't give feedback that the API call is currently being made allowing to multi-click the Save button and fire many API calls

The button should be disabled while the call is happening and provide feedback that magic is happening

[2019-05-07 21:01] julsemaan opened #4388 "Certificates GUI: going back to the info after updating a cert shows old cert info"
If you update an SSL certificate and the save succeeds, then if you go back by clicking cancel to view the cert information again, then it still shows the old certificate information.

Refreshing the page shows the right certificate information

[2019-05-07 21:02] julsemaan opened #4389 "Certificates GUI: Clicking on RADIUS certificate section doesn't change URL"
Clicking on the RADIUS tab of the certificates doesn't change the URL and leave it to '/configuration/certificate/http' meaning if you refresh the page, then it will show the HTTP cert instead of the RADIUS cert

[2019-05-07 21:13] julsemaan opened #4390 "Saving a configuration section succeeds even if cluster is broken"
When a cluster member is down, saving a section in the admin would show an error saying the section wasn't saved on the list of servers that failed

That isn't displaying anymore

[2019-05-07 21:18] #4383 closed

[2019-05-07 21:23] julsemaan commented on #4390
The issue is that the result of the configstore commit is ignored in the config unifiedapi layer

I should be able to adjust this so I'll reassign it to myself

[2019-05-07 21:41] #4390 closed

[2019-05-07 21:44] julsemaan opened #4391 "Connection profile default values during creation"
When creating a new connection profile, the default values are the ones of the default section meaning it auto-selects some provisioners and some sources

It should instead take the defaults of the pfappserver form

Not sure if the issue lies in the API or the frontend

@satkunas and @jrouzierinverse, can you check this out

[2019-05-07 21:47] julsemaan commented on #4282
@satkunas

Its not technically needed since in the old admin when you do it in a cluster, it creates the directory only on the first server

But there is a warning about it in pfcmd checkup when it doesn't exist, IMO this should go and we shouldn't care if the directory is created unless there are some override files in it

[2019-05-08 02:05] #4389 closed

[2019-05-08 05:59] nqb commented on #4167
@cgx, I reopened this issue because:

Password must be at least 6 characters, no such limitation in old GUI

has not been fixed.

Let me know if you want another way to manage this issue.

[2019-05-08 06:09] nqb commented on #3665
fixed in new GUI.

[2019-05-08 06:09] #3665 closed

[2019-05-08 06:10] nqb commented on #3491
fixed in new GUI.

[2019-05-08 06:10] #3491 closed

[2019-05-08 09:43] nqb opened #4392 "v9-gui: hash_passwords not correctly displayed"
Nightly builds.

In Configuration > System configuration > Advanced, new GUI always displays "bcrypt" as "Database passwords hashing method" even if backend returns other value.

Steps to reproduce:
* Default install
* Update hash_passwords through API
[code]
* Get hash_passwords value through API:
[code]
* Check value in web interface

[2019-05-08 09:59] nqb commented on #4392
If I purge my cache, it works!

[2019-05-08 09:59] #4392 closed

[2019-05-08 10:02] #4271 closed

[2019-05-08 10:14] nqb opened #4393 "Debian 9: rights on server.key"
Nightly builds.

Rights on server.key differs on Debian and CentOS:

Rights on Debian:
[code]

Rights on CentOS:
[code]

[2019-05-08 10:15] nqb commented on #4393
When you want to configure SSL Certificates from new GUI, you got an error message.

[2019-05-08 10:31] cgx commented on #4167
I propose to keep this requirement and eventually make it a configuration parameter.

[2019-05-08 10:39] cgx commented on #4393
Please add the error message from the GUI and from the logs.

[2019-05-08 11:33] nqb commented on #4393
@cgx: I will do it but it's just an error related to rights.

[2019-05-08 11:34] nqb commented on #4167
Ok.

[2019-05-08 11:51] nqb commented on #4393
We got this issue because `make conf/ssl/server.key` which use `openssl genrsa -out /usr/local/pf/conf/ssl/server.key 2048` on both distros doesn't set right the same way. Debian is more restrictive.

[2019-05-08 12:06] nqb commented on #4393
Doing a `chown pf /usr/local/pf/conf/ssl/server.pem` fix the issue.

[2019-05-08 12:17] nqb commented on #4313
Cluster > Services is now visible in new GUI but it should be hide when running in standalone (current behavior in old GUI).

[2019-05-08 12:19] nqb commented on #4377
@jrouzierinverse: yes, exactly.

[2019-05-08 13:00] nqb opened #4395 "v9-gui: sponsor field for Users"
# Lost from old GUI

- [x] Start date field in "Registration window" was set to current day
- [x] Access Level was automatically selected as Action
- [x] "Access Level" was mandatory when creating a user
- [x] PSK warning on number of characters
- [ ] When a new user was created, its `sponsor` field was populated with `pid` of current user. This will cause issue in new GUI (for users created on ol