[2019-08-14 14:20] jrouzierinverse opened #4721 "New command pfcmd edit_config"
Provide a visudo style command that will allow users to edit the configuration and have it verified before committing to pfconfig.

Workflow
 * run command
    ```/usr/local/pf/bin/pfcmd edit_config pf.conf```
* Launch editor of choice (defaulting to vim)

[2019-08-14 18:45] extrafu commented on #4602
@jrouzierinverse What's the status on this?

[2019-08-14 19:42] jrouzierinverse commented on #4602
I believe this was fixed in the front end by @satkunas.

[2019-08-14 19:43] extrafu commented on #4602
@satkunas Is that the case? If so let's close that issue.

[2019-08-15 09:14] apkt opened #4722 "Member of switch group inherits VLAN for Role from 'default' group rather than it'sparent"
When a switch is created as a member of a switch group the VLAN that is assigned to a role on that switch is inherited directly from the default group and not form the parent group.

[default]
type=Cisco::Catalyst_2960
registrationVlan=820
isolationVlan=999
voiceVlan=22
cliTransport=SSH
cliUser=XXX
cliPwd=XXX
cliEnablePwd=XXX
SNMPVersion=2c
SNMPCommunityRead=XXX
SNMPCommunityWrite=XXX
SNMPVersionT

[2019-08-15 10:21] apkt opened #4723 "Code in utils/radius.pm overrides COA port settings in ALL switch/switchgroup definitions"
sub perform_dynauth {
    my ($connection_info, $radius_code, $attributes, $vsa) = @_;

    # setting up defaults
    $connection_info->{'nas_port'} ||= $default_port;
    $connection_info->{'timeout'} ||= $default_timeout;

Routine is called by perform_coa:-

sub perform_coa {
    my ($connection_info, $attributes, $vsa) = @_;

    return perform_dynauth($connection_info, 'CoA-Request', $attribut

[2019-08-15 11:24] apkt commented on #4723
Code in Switch/Cisco/Catalyst_2960.pm seems to be missing a line in radiusdisconnect():-

        my $connection_info = {
            nas_ip => $send_disconnect_to,
            nas_port => $self->{'_disconnectPort'},     **<---- Added this and it now works as it should**
            secret => $self->{'_radiusSecret'},
            LocalAddr => $self->deauth_source_ip($send_disconnect_to),
        }

[2019-08-15 14:04] apkt commented on #4434
I think this may be related to another bug I have logged.
Switch inherits settings from default in preference to specific parent.

[2019-08-15 14:08] apkt opened #4724 "Setting snmp bounce duration in main GUI does not work"
PF9.0.0 - Standalone.

Adding a bounce duration under SNMP settings in GUI yields a NULL value in the pf.conf file and consequently the 'sleep' function does not work ands the port is bounced too quickly for a wired connected device (Windows 10) to register and perform a new DHCP request on the newly assigned VLAN:-

Aug 15 13:43:09 PacketFence-ZEN pfqueue: pfqueue(29330) WARN: [mac:10:7d:1a:18:71

[2019-08-15 16:07] jrouzierinverse commented on #4722
Which version of PacketFence?
Also, is this setup running in a cluster?

[2019-08-16 07:56] apkt commented on #4722
Hi James,

We are running 9.0.0 and is a standalone server.

If needed I can run pf-maint  after taking a VMWare snapshot of the server.

Regards

Andrew

From: James Rouzier <notifications@github.com>
Sent: 15 August 2019 17:08
To: inverse-inc/packetfence <packetfence@noreply.github.com>
Cc: Torry, Andrew <andrew.torry@fxplus.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [inverse-inc/pa

[2019-08-16 08:14] apkt commented on #4724
System 'checkup' complains at not having a qualifier in the bounce field (ie you have to put 10s):-

[root@PacketFence-ZEN logs]# pfcmd checkup
Checking configuration sanity...
WARNING - pf.conf value snmp_traps.bounce_duration does not explicity define interval (eg. 7200s, 120m, 2h) - please define it before running packetfence
[root@PacketFence-ZEN logs]#

but if you do this then the port reset

[2019-08-16 13:56] tech62 commented on #4646
I've encountered the bug `packetfence: ERROR pfperl-api(10413): Can't use string ("5s") as a HASH ref while "strict refs" in use at /usr/local/pf/lib/pf/UnifiedApi/Controller/Config.pm line 787.
`
PacketFence 9.0.1

I've tried /usr/local/pf/bin/pfcmd configreload hard and test with a reboot, no effect the bug persist

[2019-08-16 14:28] tech62 commented on #4646
I've remove the value of "network_detection_initial_delay" in the /usr/local/pf/conf/pf.conf.default.
Do a  /usr/local/pf/bin/pfcmd configreload hard and the api error disappeared

[2019-08-19 09:13] nqb opened #4725 "webadmin: delete a POTD source don't remove user in DB"
When you delete a POTD source from webadmin, POTD user juste created in tables `person` and `password` are not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new POTD source called `foo`
2. Delete POTD source
3. Check `person` and `password` table:
[code]
=> Entries still presents.

**Expected behavior**
No more entries in DB.

**Workaround**
Delete entries by hand in DB

[2019-08-19 13:53] nqb opened #4726 "webadmin: value unsupported for access duration"
Configuring following access duration is not possible in new webadmin: `3MF+0D`, still possible in old webadmin.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to configure an access duration (relative to the beginning of the day or the period) with `0` as value for additional duration

**Screenshot**
![Screenshot from 2019-08-19 15-52-06](https://user-images.githubusercontent.com/10830

[2019-08-20 12:41] nqb commented on #4628
Fixed on 9.0.1

[2019-08-20 12:41] #4628 closed

[2019-08-20 12:42] #4549 closed

[2019-08-20 12:46] #4177 closed

[2019-08-20 15:00] extrafu commented on #4602
@lzammit Please retry and update (or close) this ticket accordingly. Please also review all import related issues.

[2019-08-21 09:18] nqb opened #4728 "POTD: password not changing"
When you create a POTD source, initial password is correctly created but will not change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POTD source
2. Check password received by e-mail
3. Wait `Password Rotation Period`
4. Check new email
=> Password has not been updated.

**Expected behavior**
Password should change based on `Password Rotation Period`

**Additional context**
`val

[2019-08-21 13:55] nqb opened #4729 "Upgrade to RedHat 7.7 break ntlm_auth"
After an upgrade to RedHat 7.7, `ntlm_auth` is not working as expected in chroot. Directory `/var/lib/samba/private` seems to be mandatory due to upgrade of Samba 4.9.

**To Reproduce**
1. Go in a chroot `chroot /chroot/my-domain-id`
2. Try to run:`ntlm_auth --request-nt-key --domain=<domain> --username=<username> --password=<password>`

=> You got:
[code]
**Workaround**
1. Create missing director

[2019-08-21 14:09] #4729 closed

[2019-08-21 17:15] #4728 closed

[2019-08-21 18:24] #4707 closed

[2019-08-21 18:27] #3971 closed

[2019-08-21 21:28] veedubbs opened #4731 "Switch port is no longer shown in Location tab"
**Describe the bug**
Switch port is shown in the old GUI, but not new in the Location tab (or the Info tab) (old GUI shows something like Port: 294 (J6))

**To Reproduce**
Steps to reproduce the behavior:
1. Search for a MAC address
2. Click Location tab
3. Notice switch port information is not shown

**Screenshots**
![new](https://user-images.githubusercontent.com/382007/63469734-8cba3a80-c430-11

[2019-08-22 05:55] nqb opened #4732 "pfhttpd not working on RedHat 7.7"
After a fresh install on a RedHat 7.7, we noticed that some services are stopped:
- packetfence-api-frontend.service
- packetfence-httpd.dispatcher.service
- packetfence-pfipset.service
- packetfence-pfsso.service

**To Reproduce**
Steps to reproduce the behavior:
1. Install a RedHat 7.7
2. Install PacketFence
3. `pfcmd service pf status`

=> See services stopped.

**Expected behavior**
Services s

[2019-08-22 14:20] extrafu commented on #4731
@satkunas Please have a look at this.

[2019-08-22 17:53] cgx opened #4735 "api-frontend won't start if api_inactivity_timeout isn't set"
From the Web admin, it is possible to unset the **API inactivity timeout** since it's not a required field. Even though the placeholder shows it will default to **15 minutes**, *pfhttpd* will complain about the missing value:

    Aug 22 13:42:28 localhost.localdomain pfhttpd[25906]: panic: json: cannot unmarshal string into Go struct field PfConfAdvanced.api_inactivity_timeout of type int

[2019-08-23 05:50] nqb commented on #4732
@fdurand, after installing `ipset-symlink-1.0.0-19.1` on RedHat 7.7, I got following files:

[code]
All services previously mentioned are started.

[2019-08-23 10:02] nqb opened #4736 "webadmin: unable to display certificates on Debian 9"
After a fresh install on Debian 9, it's not possible to display SSL certificates in webadmin

**To Reproduce**
Steps to reproduce the behavior:
1. Install PacketFence on a Debian 9
2. Go in 'SSL certificates' menu

**Screenshots**
![Screenshot from 2019-08-23 11-56-45](https://user-images.githubusercontent.com/10830260/63584369-19820700-c59d-11e9-8ca2-e27485d2eefa.png)

**Expected behavior**
SSL c

[2019-08-23 10:03] nqb commented on #4736
Caused by https://github.com/inverse-inc/packetfence/blob/075a07266e5caf3b91eae272f097ac35480ef4cc/lib/pf/ssl.pm#L341

[2019-08-23 12:48] nqb commented on #4736
I will provide a fix.

[2019-08-23 15:29] fdurand opened #4737 "SNMP trap stuck in the queue"
**Describe the bug**
When PacketFence receive a security trap and try to authorize the mac but an error (commitFailed(14)) is received then we didn't test the returned code and try to continue to deal with the trap.
The issue is that we receive the same trap after and all is queued again and it produce a hugue number of sql queries in mysql.

https://github.com/inverse-inc/packetfence/blob/devel/l

[2019-08-26 11:40] nqb commented on #2482
Fixed by #3988. If you manage all your certificates from webadmin, they are synced in a cluster.

[2019-08-26 11:40] #2482 closed

[2019-08-26 11:49] nqb opened #4739 "webadmin: unable to display SSL certificates menu"
When you try to display SSL certificates from webadmin, you didn't get any information even if API call work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go in `Configuration -> System configuration -> SSL certificates`

=> Page is loading indefinitely

**Expected behavior**
Should display SSL certificates.

**Desktop (please complete the following information):**
 - Browser: Chrome and

[2019-08-26 12:40] nqb opened #4741 "SSL certificates: verify_chain called twice only on Debian"
When I run following API call:
[code]
I noticed two lines in `packetfence.log` only on Debian, not on RHEL systems:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `/usr/local/pf/sbin/pfperl-api get /api/v1/config/certificate/http/info | python -m json.tool`
2. Check `packetfence.log`

**Expected behavior**
Only one call to `pf::ssl::verify_chain`

[2019-08-26 12:43] nqb opened #4742 "vlan_pool_technique: invalid parameter for profile default"
When restarting PF services through `pfcmd`, I got:
[code]

[2019-08-26 12:50] #4742 closed

[2019-08-26 12:55] julsemaan commented on #4718
We should simply remove the note AUTO-REGISTERED, this was a hack for when we didn't have the autoreg column AFAIK

[2019-08-26 14:51] lzammit commented on #4739
Getting an error too on the latest patches:
[code]

[2019-08-26 15:24] julsemaan commented on #4735
It seems that the widget for time duration is not sending null but instead a null interval with a unit when we empty out the field:
[code]

Will speak with @satkunas about it

[2019-08-26 15:37] julsemaan commented on #4735
Seems like the frontend would expect null for this parameter if its value is inherited from pf.conf.defaults. That will trigger the right display on the frontend. That way the placeholder interval and unit will be shown correctly.

Will check with @jrouzierinverse for how to handle this specific case

[2019-08-26 19:35] cgx commented on #4739
Issue was related to the maintenance branch only. It's fixed.

[2019-08-27 11:03] tingvold opened #4744 "The id of a source cannot contain a space or a dot"
**Describe the bug**
If you register an authentication source contain a dot ("."), there's a warning during startup or restart;

[code]

However, I was able to create the source just fine, and it also works. Another thing is that you cannot change the name after it's created, so you cannot change it without re-creating it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create authentication

[2019-08-27 11:04] joachimtingvold commented on #4744
Seems like the "no dot" was introduced via #925 and 6b5cc8f.

[2019-08-27 11:13] tingvold opened #4745 "Switch x.x.x.x references a non existent group 'default'"
**Describe the bug**
Warning during startup or restart;

[code]

The group exists, though. Even if I edit the switch and re-apply the default group, it still complains.

Everything works as it should, and the settings from the group is actually applied.

![dump_2019-08-27_13 07 07](https://user-images.githubusercontent.com/359918/63766864-64b55600-c8cc-11e9-974b-64206d00b167.png)
![dump_2019-08-27

[2019-08-27 11:54] julsemaan commented on #4745
Seems to be because the default group is not a "real" group per say in the configuration and the switches declare `group=default` when edited/created in the new admin

I'll add a skip in the checkup for when the group is default

[2019-08-27 12:00] julsemaan commented on #4744
Seems like when the sources were reworked the validator was omitted and then the standard validator was added instead of migrating the old one.

Will fix this in the maintenance

[2019-08-27 12:07] #4744 closed

[2019-08-27 12:11] #4745 closed

[2019-08-27 12:11] julsemaan commented on #4745
You can get this fix by applying the patch manually or running `/usr/local/pf/addons/pf-maint.pl`

[2019-08-27 12:11] julsemaan commented on #4744
You can get this fix by applying the patch manually or running `/usr/local/pf/addons/pf-maint.pl`

[2019-08-27 12:13] nqb commented on #1947
`--no-dns-updates` is available in Debian Stretch. This issue can be fixed.

[2019-08-27 12:29] #4511 closed

[2019-08-27 12:37] nqb commented on #3340
Fixed by new web admin.

[2019-08-27 12:37] #3340 closed

[2019-08-27 12:48] nqb commented on #3897
Still present in new web admin.

[2019-08-27 18:54] julsemaan opened #4746 "Connection type choices for node search are wrong"
**Describe the bug**
The connection types you can select when searching nodes are wrong and don't match the values in the DB

**To Reproduce**
1. Go in Nodes
2. Search in advanced for "Connection Type"
3. Check the listed options for the values, they do not match the values that are stored in the locationlog (and displayed in that page)

**Expected behavior**
The available options should match wha

[2019-08-27 18:59] julsemaan opened #4747 "WiFi icon showed for wired connection in node location tab"
**Describe the bug**
When viewing the location entry of a wired node, the WiFi icon is shown (without any SSID name) leading the user to think that this device would be wireless

**To Reproduce**
1. Go in nodes
2. Select a wired node
3. View the location entry

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/63800000-3c812380-c8db-11e9-858a-f359a8391de1.png)

**Expected

[2019-08-27 21:16] #4719 closed

[2019-08-28 06:39] nqb commented on #4729
See also #4732

[2019-08-28 14:35] extrafu commented on #4732
@fdurand Check if it's in stable.

[2019-08-28 14:37] extrafu commented on #3557
Done already, closing. Happy bday!

[2019-08-28 14:40] extrafu commented on #4697
@cgx and @satkunas Please test this together and try to find if we can optimize things.

[2019-08-28 15:32] lzammit commented on #4602
Works for both format mentioned.

[2019-08-28 15:36] lzammit opened #4750 "CSV node import: Role in the CSV should be the Role name not the category ID"
In the CSV import if you put your role as Student or Staff it won't work.

You need to lookup the category id from the DB in order to work.

[2019-08-28 16:53] julsemaan opened #4751 "Add #4727 to maintenance once 9.1 is released"
Title says it all!!!!!!

[2019-08-29 06:30] nqb commented on #4750
I also noticed that when you do an "Export as CSV" of Nodes, `category_id` column contains role name (Student of Staff), not role ID.

[2019-08-29 12:42] lzammit opened #4754 "Default portal is not created by default"
I see that in the logs:

Aug 29 08:40:28 unicorn packetfence: WARN pfperl-api(11281): Can't stat /usr/local/pf/html/captive-portal/profile-templates/default: No such file or directory
 at /usr/local/pf/lib/pf/UnifiedApi/Controller/Config/ConnectionProfiles.pm line 393.

I wonder if we should create by default ?

[2019-08-29 12:49] lzammit opened #4755 "Sponsor registration not working"
PacketFence 9.1 devel

Authenticate with a local sponsor account:

[code]

[2019-08-29 13:38] fdurand commented on #3975
Fixed in https://github.com/inverse-inc/packetfence/commit/39d214132e05d1dd9c340fd6fa979b6c6d5df6b6

[2019-08-29 13:38] #3975 closed

[2019-08-29 13:59] nqb opened #4756 "Debian: packetfence-config failed to start during installation"
When you try to install nightly builds on Debian Stretch, post installation is paused after [fix permissions command](https://github.com/inverse-inc/packetfence/blob/devel/debian/packetfence.postinst#L164)

**To Reproduce**
Steps to reproduce the behavior:
1. Install nightly builds on a Debian Stretch

**Expected behavior**
PacketFence installed.

**Additional context**
`packetfence-config` is not

[2019-08-29 14:01] nqb commented on #4756
If I run `pfconfig` by hand, last message is:
[code]

[2019-08-29 14:34] nqb commented on #4756
Maybe it's the expected behavior before running configurator.

[2019-08-29 15:22] lzammit opened #4757 "Uplink value mandatory for switch group"
When I create a switch group, I need to put a Uplink port value in order to save the switch group.

It does not make any sense since I was creating it for a wireless controller.

We should use a default value or check the switch module capabilities?

[2019-08-29 19:12] #4754 closed

[2019-08-29 19:20] jrouzierinverse commented on #4756
This is strange. Can you run the following?

[code]

[2019-08-30 01:12] cgx commented on #4697
@satkunas I wonder if the [lazy attribute](https://vuejs.org/v2/guide/forms.html#lazy) could help. 🤔

[2019-08-30 05:59] nqb commented on #4757
IIRC, it was not necessary in the old admin because we got this value from defaults.

[2019-08-30 12:23] nqb commented on #4756
[code]

[2019-08-30 12:50] nqb opened #4758 "web admin: default access duration choices are not visible"
Default access duration choices are not visible in new web admin even if API call works as expected:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go in Access duration menu
=> All default choices are missing.

**Expected behavior**
Default choices displayed

[2019-08-30 12:51] nqb commented on #4758
![Screenshot from 2019-08-30 14-50-24](https://user-images.githubusercontent.com/10830260/64022009-836a5580-cb35-11e9-9f8e-4e360aaafd1c.png)

[2019-08-30 12:55] nqb opened #4759 "pfcmd fixpermissions: iptables.conf is ignored"
**To Reproduce**
[code]

Same as #3939

**Expected behavior**
Permissions fixed on `iptables.conf`

**Workaround**
[code]

[2019-08-30 13:06] nqb commented on #4759
It looks like `iptables.conf` is not defined as a constant anywhere.

[2019-08-30 14:40] nqb opened #4761 "web admin: display of images in subdirectories"
When you browse documentation in web admin on a CentOS host, all images located in a subdirectory (ex: `rapid7`) of `static/images/` are missing.

**To Reproduce**
1. Display embedded documentation in web admin
2. Try to see images related to Rapid7 topic

**Expected behavior**
Images should appear.

**Additional context**
Files have not been installed:
[code]

[2019-08-30 14:43] cgx commented on #4761
We should add an alias in the Apache configuration or define a symlink.

[2019-08-30 14:54] nqb commented on #4761
I just understand that files are under `images/` dir without subdirectories.

@cgx, why not fixing this issue directly in packaging ? Reading `install` man page, it seems possible to copy whole directory under `images/`

[2019-08-30 15:04] nqb opened #4762 "web admin: missing "Portal Modules" title and help in Portal Modules menu"
Portal Modules title and help are missing in new web admin

**Screenshots**
![Screenshot from 2019-08-30 17-01-38](https://user-images.githubusercontent.com/10830260/64031156-24620c00-cb48-11e9-8696-ffbb6b8c4378.png)

**Expected behavior**
Display "Portal Modules" title and help when going into the menu (like any other menu)

[2019-08-30 15:21] nqb opened #4763 "web admin: display access duration help is not working"
When I click on help button in Access Duration menu, web admin displays Installation Guide without going to a specific anchor even if anchor is configured.

**To Reproduce**
1. Go to Access Duration menu
2. Click on help button

**Expected behavior**
Should go to access duration menu in documentation (https://packetfence.org/doc/PacketFence_Installation_Guide.html#_access_duration)

**Additional c

[2019-08-30 15:40] nqb opened #4764 "web admin: wrong display for services in Main configuration"
When you go in System configuration -> Main configuration -> Services, all services have same state (see screenshot).

**Screenshots**
![Screenshot from 2019-08-30 17-35-53](https://user-images.githubusercontent.com/10830260/64033495-df8ca400-cb4c-11e9-88eb-43953e88c83b.png)

**Expected behavior**
![Screenshot from 2019-08-30 17-39-37](https://user-images.githubusercontent.com/10830260/64033633-27

[2019-08-30 18:42] julsemaan opened #4765 "Node with empty unregdate (0000-00-00 00:00:00) has error when editing it in the admin"
**Describe the bug**
If you edit a node that has an unregdate set to '0000-00-00 00:00:00' then editing this node shows an error with the field

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3857942/64044267-523d5580-cb34-11e9-9c2c-c89d7f9cb8e4.png)

[2019-08-31 06:44] nqb commented on #4417
Right now, in the new web admin "Custom reports" (defined by user) are called "Dynamic reports". From my point of view, we should keep "Custom reports". On top of that, documentation still refer to "Custom reports".
![Screenshot from 2019-08-31 08-43-51](https://user-images.githubusercontent.com/10830260/64060350-79933180-cbcb-11e9-9fca-00ff1da47a35.png)

[2019-08-31 07:19] nqb opened #4767 "web admin: wrong label for custom reports with custom search"
When you defined a custom search for your custom report, web admin display a wrong label (ex: Search for or Username, see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Add following content to your `report.conf` file

[code]
2. `pfcmd configreload`
3. Select your custom reports in "Dynamic reports" menu

**Screenshots**
![Screenshot from 2019-08-31 09-12-33](https://user-images

[2019-09-02 11:49] davidtorrell commented on #4756
i have the same problem, when updatting

[2019-09-02 13:32] nqb commented on #3425
Workaround for a one shot:
[code]

[2019-09-02 13:52] cgx commented on #4765
Should be fixed by 1ddb71e. Can you try *devel*?

[2019-09-02 14:28] nqb commented on #4765
@cgx: still presents in latest CentOS builds.

[2019-09-02 15:45] nqb commented on #4756
@cibertotem: in a devel environment too ?

[2019-09-02 16:07] davidtorrell commented on #4756
jope, in stable version.
i download the virtual machine from packetfence source.

[2019-09-03 07:55] nqb opened #4768 "API: some timezones values are missing"
In webadmin, when you want to configure your timezone as UTC, you can't.

**Screenshots**
![Screenshot from 2019-09-03 09-51-22](https://user-images.githubusercontent.com/10830260/64154191-98dec880-ce30-11e9-8398-4b42ce1fce6a.png)

**Expected behavior**
All allowed timezones should appear in the list (`UTC` included)

**Additional context**
According to documentation of [DateTime::TimeZone module]

[2019-09-03 09:11] nqb opened #4769 "web admin: password rotation duration field doesn't list default access duration choices"
New password rotation duration field on a POTD source, added by #4734, doesn't list default access duration choices, only new access duration choices.

**To Reproduce**
1. Create a new POTD source
2. Try to select a value in password rotation duration field

**Expected behavior**
All access duration choices should appear.

[2019-09-03 09:12] nqb commented on #4769
Certainly related to #4758

[2019-09-03 09:38] nqb commented on #4758
It's seems to be an API issue.

Stable setup, 9.0.1, default and new access duration are listed:
[code]

Devel setup, if I defined new access duration choices, they replaced default access duration choices:
[code]

[2019-09-03 09:50] nqb commented on #4769
It's also the case for Access Duration fields in authentication and administration rules.

I closed this issue as a duplicate of #4758.

[2019-09-03 09:50] #4769 closed

[2019-09-03 09:50] nqb commented on #4758
@cgx and @jrouzierinverse, could you take a look ?

[2019-09-03 10:02] nqb commented on #4758
The PATCH request made when you create a new access duration (for example: 10m) contains following payload on a devel setup:
[code]
versus a stable setup
[code]

[2019-09-03 12:03] nqb opened #4770 "web admin: VLAN pool technique is set to round_robbin by default"
When you create a new connection profile from web admin, `VLAN pool technique` is set to `round_robbin` even if `profiles.conf.defaults` has `vlan_pool_technique=username_hash`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new connection profile
2. See that `round_robbin` is selected by default

**Expected behavior**
`VLAN pool technique` sets to `username_hash`

**Additional cont

[2019-09-03 13:58] lzammit opened #4771 "Cluster: galera_replication_username and galera_replication_password fields not displayed in the web admin"
[code]

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/5261214/64179541-579ae880-ce31-11e9-9bcb-acf5dfd2dae0.png">

[2019-09-03 14:40] #4765 closed

[2019-09-03 15:25] #4771 closed

[2019-09-03 15:43] #4767 closed

[2019-09-03 15:46] cgx commented on #4764
I can't reproduce this issue. What's your output of `/usr/local/pf/sbin/pfperl-api get /api/v1/config/base/services`?

[2019-09-03 15:57] julsemaan opened #4773 "Adding homePhone to LDAP attributes doesn't make it available in auth sources"
**Describe the bug**
When you add homePhone (or any other LDAP attribute) in the custom LDAP attributes list, its impossible to use it in the auth sources until you restart pfperl-api

[2019-09-03 15:58] julsemaan commented on #4773
It seems to be because of the form caching which doesn't expire the available options after saving that LDAP attribute

[2019-09-03 17:06] #4770 closed

[2019-09-03 17:40] lzammit opened #4774 "Blackhole source is not exclusive anymore"
If you add multiple sources and it includes the Blackhole source it just displays it as a normal source.

<img width="800" alt="image" src="https://user-images.githubusercontent.com/5261214/64195787-54fbbb80-ce50-11e9-9db4-820dfdbad47f.png">

[2019-09-03 17:45] #4762 closed

[2019-09-03 17:51] jrouzierinverse commented on #4768
We only display the timezones that have a slash in the name.
@cgx do you know if there was any reason that was the case?

[2019-09-03 17:54] cgx commented on #4768
@jrouzierinverse I guess we could add them all without side effect.

[2019-09-03 18:21] #4768 closed

[2019-09-03 18:38] #4750 closed

[2019-09-03 18:55] cgx commented on #4761
@nqb You're right. Simply adjust the [spec file](https://github.com/inverse-inc/packetfence/blob/devel/addons/packages/packetfence.spec#L578-L581) and [Debian rules](https://github.com/inverse-inc/packetfence/blob/devel/debian/rules#L155-L158).

[2019-09-03 19:14] jrouzierinverse commented on #4774
This was previously handled on the frontend.
I would need to also add the check on the back end.

[2019-09-03 19:25] #4773 closed

[2019-09-03 19:28] #4747 closed

[2019-09-03 19:39] extrafu commented on #4732
@fdurand Have you been able to check if the package is in stable?

[2019-09-03 19:44] cgx commented on #4746
Can we rely on this [list](https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/constants/config.pm#L167-L178)?

[2019-09-04 01:11] #4756 closed

[2019-09-04 01:33] fdurand commented on #4732
Yes it is http://www.inverse.ca/downloads/PacketFence/CentOS7/x86_64/RPMS/ipset-symlink-1.0.1-3.1.x86_64.rpm

[2019-09-04 01:33] #4732 closed

[2019-09-04 11:43] julsemaan commented on #4746
Yes we can rely on the keys of this list

[2019-09-04 12:42] nqb commented on #4622
@cgx, @satkunas should we postpone to 9.2 ?

[2019-09-04 12:46] lzammit opened #4775 "Fingerbank: Can't save a cloned MAC Vendor"
New Admin:

![image](https://user-images.githubusercontent.com/5261214/64255884-45cc4a80-cef0-11e9-95a2-6db30eec8958.png)

Old Admin:

![image](https://user-images.githubusercontent.com/5261214/64255944-6694a000-cef0-11e9-911e-7afb51001e86.png)

[2019-09-04 12:57] nqb opened #4776 "ipset upgrade cause issues when installing PacketFence"
When you try to install latest builds of PacketFence under CentOS 7:
[code]

**Expected behavior**
It should be possible to install latest builds with ipset-6.38-3

[2019-09-04 13:04] nqb commented on #4776
Related to #4732, same issue if you try to install PF 9.0.1 on CentOS 7.

[2019-09-04 13:13] nqb commented on #4584
@satkunas, since asciidoctor viewer is now part of new web admin, how did you manage redirections ?

[2019-09-04 13:23] nqb commented on #4776
@fdurand is building a new package. Will be uploaded in a few minutes.

[2019-09-04 13:51] satkunas commented on #4584
@nqb The DOM is inspected and conditional redirection is applied.

See https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/components/pfDocumentation.vue#L131

[2019-09-04 14:13] julsemaan commented on #4764
@nqb will try to replicate and close or bump

[2019-09-04 14:14] julsemaan commented on #4758
@nqb try to replicate and close or bump

[2019-09-04 14:18] julsemaan commented on #4683
@jrouzierinverse will confirm the call exists, then assign @cgx or @satkunas to the issue when its done

[2019-09-04 14:20] julsemaan commented on #4622
@cgx will use the browser defined language

[2019-09-04 14:22] julsemaan commented on #4581
We need to update the examples to use the new 'custom' trigger

[2019-09-04 14:24] julsemaan commented on #4516
@jrouzierinverse will implement a skip in the SQL source so that it doesn't attempt to authenticate POTD creds

[2019-09-04 14:27] nqb commented on #4776
I still got an issue with new package:
[code]

[2019-09-04 15:56] julsemaan opened #4777 "Display of security events list is incorrect"
**Describe the bug**
The display of the security events list is not valid and shows empty data for everything except the ID

**To Reproduce**
1. Go in security events

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/64271291-0fe88f80-cf0b-11e9-9a0a-ce325d744d23.png)

**Expected behavior**
The security events are shown with their details

**Additional context**
Response p

[2019-09-04 16:01] julsemaan opened #4778 "Missing normalize_username function for RADIUS auth"
**Describe the bug**
Getting the following error:
[code]

[2019-09-04 16:07] #4778 closed

[2019-09-04 16:58] julsemaan opened #4779 "Issue when updating a local combination"
**Describe the bug**
When you attempt to update a local combination, you get the following error:
[code]

**To Reproduce**
1. Update an existing local combination

[2019-09-04 17:08] jrouzierinverse commented on #4779
The value is being sent from the frontend.
My question is should we fail when receiving an invalid field or should we ignore unknown fields?

[2019-09-04 17:10] julsemaan commented on #4779
We should be consistent across the API calls, i.e. making it the same as the DAL API calls and the configuration based API calls

[2019-09-04 17:55] jrouzierinverse commented on #4777
Fixed by 167d9c2506bec5395ae12892c47758a3859f35b9

[2019-09-04 17:55] #4777 closed

[2019-09-04 18:48] #4746 closed

[2019-09-04 18:49] cgx commented on #4705
@satkunas Is this issue still relevant?

[2019-09-04 20:09] satkunas commented on #4731
Added in `devel` w/ https://github.com/inverse-inc/packetfence/commit/899efcac037e5fb02f65296b8edac329f9479418

Added in `maintenance/9.0` w/ https://github.com/inverse-inc/packetfence/commit/06fbcf33f8796b9eb264d6424d9cb8e29f17af26 and https://github.com/inverse-inc/packetfence/commit/a5babef1b16662e66cf4310dfd35d297a1689a36

[2019-09-04 20:10] #4731 closed

[2019-09-04 20:42] #4775 closed

[2019-09-04 20:54] satkunas commented on #4675
`/api/v1/reports` endpoint does not currently support pagination variables (`limit`, `cursor`).

@julsemaan will need to implement this first in the backend before I can add it to the frontend.

Reassigning to @julsemaan

[2019-09-05 07:48] nqb opened #4781 "web admin: Embed documentation still use old CSS"
**Screenshots**
![Screenshot from 2019-09-05 09-47-29](https://user-images.githubusercontent.com/10830260/64322165-52b96e80-cfc2-11e9-8365-830baf716c98.png)

**Expected behavior**
Should use new CSS like on CentOS

[2019-09-05 07:51] nqb commented on #4758
Still presents.

[2019-09-05 07:53] nqb commented on #4764
Sounds good.

[2019-09-05 07:53] #4764 closed

[2019-09-05 08:13] nqb commented on #4763
@extrafu: could you give me answer ?

[2019-09-05 13:06] julsemaan commented on #4675
@satkunas, you actually wrote the API calls for those reports so I'll defer to you for what to do with them

The current controller glues together the API and the outdated report.pm module which didn't support pagination by design so here are the options I can think of:
- We stop having pagination of these reports in the frontend because the existing reports do not support it by design
- We adjust

[2019-09-05 13:15] nqb commented on #4682
has been fixed see #4728

[2019-09-05 13:15] #4682 closed

[2019-09-05 13:30] #4755 closed

[2019-09-05 13:48] #4581 closed

[2019-09-05 13:51] #4684 closed

[2019-09-05 14:01] lzammit commented on #4409
Fixed

[2019-09-05 14:01] #4409 closed

[2019-09-05 14:01] lzammit commented on #4445
Fixed

[2019-09-05 14:01] #4445 closed

[2019-09-05 14:03] lzammit commented on #4757
So do we add it back to the default config ?

[2019-09-05 14:07] fdurand opened #4782 "always_trigger configuration parameter"
**Describe the bug**
When you create a new switch from the new admin it set the configuration parameter always_trigger that does nothing.

Steps to reproduce the behavior:
1. Create a switch from the new admin
2. Edit switches.conf

**Expected behavior**
Should not have this configuration parameter

[2019-09-05 14:17] fdurand commented on #4782
https://github.com/inverse-inc/packetfence/blob/devel/docs/api/spec/openapi.yaml#L9290

[2019-09-05 14:21] jrouzierinverse commented on #4683
The new endpoint is POST /api/v1/fingerbank/update_upstream_db.
@satkunas have funn

[2019-09-05 14:26] lzammit commented on #4774
Please don't close it, let me close it after testing. It's easier for me to keep track of my opened issues.

[2019-09-05 14:30] lzammit commented on #4774
Fix does not work.

It does not seem to be handled in the front end (Can save the connection profile without any error)

The portal still displays the source on the portal as "Refuse Login"

[2019-09-05 14:30] nqb commented on #4781
Result of `make html` target in a Debian build:
[code]
=> `stylesheet` argument is empty

[2019-09-05 14:32] lzammit commented on #4775
Fixed

[2019-09-05 14:33] lzammit commented on #4771
fixed

[2019-09-05 14:53] julsemaan opened #4784 "Having multiple tabs opened on the admin with one inactive expires the session of all"
**Describe the bug**
If you have multiple tabs opened on the admin but one of them is inactive, it will start the inactivity countdown. Also getting premature session expiration on the other tabs when that happens

**To Reproduce**
1. Have multiple tabs opened on the admin, keep all active but one of them, and wait 15 minutes to see the behavior above

[2019-09-05 14:53] julsemaan commented on #4784
I will provide a query parameter to check the token without extending the expiration and @cgx will adjust the frontend afterwards

[2019-09-05 14:56] #4761 closed

[2019-09-05 15:01] cgx commented on #4781
You must generate the CSS of the Web admin first.

[2019-09-05 15:14] julsemaan opened #4785 "Refreshing a node view doesn't refresh the content of the 'Edit' tab"
**Describe the bug**
If you have outdated data on a node (like the status unreg instead of reg like it is in the DB) and you refresh the node while editing it (the refresh button in the page not the one of the browser), then it doesn't refresh the status field and most likely other fields

**To Reproduce**
1. Select a node and view its details
2. Keep the tab above opened and change its status in

[2019-09-05 15:15] julsemaan commented on #4785
@satkunas, could you also confirm if this applies to maintenance/9.0 as well or if its a new bug introduced between 9.0 and 9.1 when doing the fix

[2019-09-05 15:51] julsemaan commented on #4784
I've added a query parameter 'no-expiration-extension' that can be passed with any non empty value during the token_info call and this will skip the expiration extension portion of the API call

[2019-09-05 16:01] jrouzierinverse commented on #4774
Did you remove it manually from your profiles.conf?

[2019-09-05 16:02] lzammit opened #4786 "Audit Log: Auto Registration - Is a Phone 1 or 0"
In the radius audit log:

<img width="416" alt="image" src="https://user-images.githubusercontent.com/5261214/64358607-c49ab380-cfd4-11e9-84f2-1ea08b168bd3.png">

Maybe we could put instead check/unchecked or Yes/No

[2019-09-05 16:07] lzammit commented on #4774
No.

Here's my configuration:

<img width="935" alt="image" src="https://user-images.githubusercontent.com/5261214/64359089-a5505600-cfd5-11e9-87f3-fb482bc8adbb.png">

Preview and portal:
<img width="589" alt="image" src="https://user-images.githubusercontent.com/5261214/64359125-bb5e1680-cfd5-11e9-9740-975db1354f36.png">

[2019-09-05 16:54] julsemaan opened #4787 "Cannot search in Filter Engines text editor"
**Describe the bug**
If you attempt to search using Ctrl-F in the filter engine editor nothing happens

[2019-09-05 16:55] julsemaan commented on #4787
It seems the recent maintenance is also affected by this so that should likely go in maintenance/9.0 once the fix is done

[2019-09-05 17:50] lzammit opened #4788 "Security Event: Autoreg security event does not work"
Few things broken in the security events:

- When you clone a security event it does not display in the list. it displays in the old admin.
- The security event once triggered does not show up on the node Security event tab nor the Reports Security Events.
- The security event triggers correctly but does not assign the asked role.

config:
[code]
Logs:
[code]

[2019-09-05 17:55] #4622 closed

[2019-09-05 18:23] lzammit opened #4789 "Can't remove Radius source type"
<img width="739" alt="image" src="https://user-images.githubusercontent.com/5261214/64368554-96bf6a00-cfe8-11e9-80ca-3536c012fcdd.png">

Config:

[code]

[2019-09-05 19:29] jrouzierinverse commented on #4774
I pushed a fix on the backend please try again.

[2019-09-05 19:53] julsemaan commented on #4465
Done in https://github.com/inverse-inc/packetfence/pull/4679

[2019-09-05 19:53] #4465 closed

[2019-09-05 21:50] satkunas commented on #4675
@julsemaan I will go ahead with the first option, It's the least invasive ATM. Deprecating the Standard Reports and moving them to the other section will leave them without a graphical chart (table only), so we'll need to discuss this further before sharpening the axe.

[2019-09-06 10:44] davidzhang63 opened #4790 "Huawei AC6005 Wireless Controller doesn’t support Web Auth."
**Is your feature request related to a problem? Please describe.**
Huawei AC6005 Wireless Controller doesn’t support Web Auth.

**Describe the solution you'd like**
Add a new class “AC6005.pm” in the source code. And create Null Authentication Source for Guest in PacketFence web admin. Then configure AC6005 Controller. When a window wireless guest is connected to the public SSID, open a Chrome bro

[2019-09-06 12:09] julsemaan commented on #4675
![image](https://user-images.githubusercontent.com/3857942/64426802-8c9b7b00-d07d-11e9-91f6-01edbcc72af7.png)

[2019-09-06 12:15] julsemaan commented on #4788
I'm not 100% sure but it could be because of the '-copy' in the security event ID since they are assumed to be numbers

@lzammit Can you retry without the '-copy', if it works then we'll get @satkunas to adjust the clone in the frontend

[2019-09-06 13:32] #4653 closed

[2019-09-06 13:32] #4675 closed

[2019-09-06 14:24] #4785 closed

[2019-09-06 15:41] satkunas commented on #4683
Button added in https://github.com/inverse-inc/packetfence/commit/e7e24481ab37dac0bfdb400c964f5de9ce4142be

[2019-09-06 15:41] #4683 closed

[2019-09-06 18:10] extrafu commented on #4789
@lzammit Check if it's used on a connection profile.

[2019-09-06 18:11] extrafu commented on #4789
@jrouzierinverse Just make sure we have a better error when we can't delete it.

[2019-09-06 18:14] extrafu commented on #4763
Wipe the link.

[2019-09-06 18:16] extrafu commented on #4781
@fdurand will look at it before flying to cheese country.

[2019-09-06 19:03] #4781 closed

[2019-09-06 19:26] julsemaan opened #4791 "Wrong value is being inserted in mac_vendor_id when creating a local combination"
**Describe the bug**
When creating a local combination with a MAC vendor it puts the value of the mac field instead of the id field of the mac_vendor entry

**To Reproduce**
1. Create a local combination with a MAC vendor
2. Inspect entry in fingerbank_Local.db and you'll see the MAC instead of the ID in the table

**Additional context**
Here is the request payload sent by the browser:
[code]

[2019-09-06 19:26] julsemaan commented on #4791
Also please check if this applies to maintenance/9.0 or was introduced between 9.0 and 9.1

[2019-09-06 19:32] satkunas commented on #4223
Fixed with https://github.com/inverse-inc/packetfence/commit/d95bfa44d16ed597fcb8e179254eb72f91ada96c

[2019-09-06 19:32] #4223 closed

[2019-09-06 19:42] julsemaan commented on #4788
It seems that its related to cloning 1100007

So I cloned that security event and selected a role and saved the security event and it didn't add the 'role' action to the list of actions like it usually does when creating a security event from scratch

Assigning to @cgx to investigate the frontend issue

[2019-09-06 19:42] satkunas commented on #4791
Search function does not currently return the `id`.

[code]

[2019-09-06 20:16] satkunas commented on #4791
Fixed in https://github.com/inverse-inc/packetfence/commit/0b4aa48f6e560d83ebf77eb8a4527bda1c1b8fab

[2019-09-06 20:17] satkunas commented on #4791
@julsemaan it wasn't introduced, it was an oversight during the initial design.

[2019-09-07 20:16] jrouzierinverse commented on #4758
Unable to replicate please check again.

[2019-09-09 01:14] jrouzierinverse commented on #4516
Please retest

[2019-09-09 05:17] nqb commented on #4786
I agree.

[2019-09-09 10:19] diedriko opened #4792 "customize web auth URL captive portal"
Hi there,
We deploy packetfence as a captive portal solution combined with Cambium AP's.
For the configuration of the web auth URL the following url is proposed, https://$packetfenceserver/Cambium
Is this URL adjustable, more specifically could we change the Cambium part of the URL to something else?

[2019-09-09 12:16] nqb commented on #4758
I'm able to replicate this issue on a Debian fresh install with latest builds.

[2019-09-09 12:17] nqb commented on #4758
@julsemaan or @lzammit could you check on side if you get same behavior ?

[2019-09-09 12:33] nqb opened #4793 "FreeRADIUS: "cache" modules aren't allowed in 'authenticate' sections"
On a fresh Debian install with latest builds, FreeRADIUS is not able to start. If you run FreeRADIUS from command line you got:
[code]
Seems to be related to [following change](https://github.com/inverse-inc/packetfence/commit/be34215cc2397ac55e54c8acf237c82ea46cc630#diff-d113912c1724120ebaa882f4ed8c4e86).

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh Debian with latest bui

[2019-09-09 12:36] julsemaan commented on #4792
No its not possible, this is how PF knows the type of AP/switch its dealing with during web-auth since they all have their specificity for that workflow

[2019-09-09 12:36] #4792 closed

[2019-09-09 12:37] julsemaan commented on #4791
@satkunas, then this will need to be added in maintenance/9.0

[2019-09-09 12:47] nqb commented on #4793
Interesting thread: http://lists.freeradius.org/pipermail/freeradius-users/2015-August/079407.html

[2019-09-09 12:48] julsemaan commented on #4758
Unable to replicate so this must be a Debian specific bug then since on CentOS 7 its all good on my end

[2019-09-09 13:22] fdurand commented on #4793
https://github.com/fdurand/freeradius-server/commit/cac8d5b0b115fe3fa6d8e169f0710e14db1194f3

[2019-09-09 13:32] julsemaan opened #4794 "'No Results' shown while Fingerbank lookup is being performed"
**Describe the bug**
When you use a Fingerbank typeahead field (Ex: MAC vendor when creating a local combination, Device when creating a security event trigger)

**To Reproduce**
1. Create a local Fingerbank combination
2. Type '000000' into the MAC vendor field
3. 'No results' will be shown for a few seconds until the results are actually loaded

**Expected behavior**
A spinning wheel (or any oth

[2019-09-09 14:29] nqb commented on #4793
Thanks @fdurand, I will take a look.

[2019-09-09 14:35] nqb commented on #4758
I realized that when you add a new access duration choice, frontend send a PATCH request with all default access duration choices + new access duration choice in `access_duration_choices` item. Consequently, if your PATCH request only contains new access duration choice, default access duration choice will be overrided.

I'm surprised by this behavior. From my point of view, a PATCH request is use

[2019-09-09 14:43] jrouzierinverse commented on #4516
What is the output of the following command.

[code]

[2019-09-09 15:32] jrouzierinverse commented on #4758
PATCH is working as it should.
That behavior you are describing has an edge case that makes the API more complicated.
For example, How do you determine when to delete an access duration choice vs keeping it?

I move to close this issue.

[2019-09-09 19:17] #4784 closed

[2019-09-09 20:27] satkunas commented on #4791
@julsemaan pushed to maint/9.0

https://github.com/inverse-inc/packetfence/commit/080c57c730e3c3a9d070d4150a767970d9bdc6ba

[2019-09-10 00:22] jrouzierinverse commented on #4757
This validation is done in the frontend @satkunas or @cgx can you look?

[2019-09-10 00:23] jrouzierinverse commented on #4789
A better error was given @lzammit can you look?

[2019-09-10 05:39] nqb commented on #4763
Fixed by https://github.com/inverse-inc/packetfence/commit/9e14f844d36388c243fa26361f2ef6663a28b9cd and https://github.com/inverse-inc/packetfence/commit/74093c517765416bf090786bc271464b274dc75b

[2019-09-10 05:39] #4763 closed

[2019-09-10 14:21] #4786 closed

[2019-09-10 18:16] lzammit commented on #4774
Works:

![image](https://user-images.githubusercontent.com/5261214/64639294-97377680-d3d5-11e9-9904-518615babf4d.png)

![image](https://user-images.githubusercontent.com/5261214/64639308-9dc5ee00-d3d5-11e9-8adb-c33ef3a0deea.png)

[2019-09-10 18:16] #4774 closed

[2019-09-10 19:09] julsemaan opened #4796 "Missing switch groups in node search"
**Describe the bug**
The 'Quick search' for switch groups doesn't work and doesn't display the switch groups that I have in my config

**To Reproduce**
1. Add a couple of switch groups
2. Navigate to nodes
3. Try to search by these new switch groups in the left menu

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/64642677-e503ad00-d3dc-11e9-8afd-fbb9efd016e3.png)

[2019-09-10 19:09] julsemaan commented on #4796
Also note that there are 2 switch groups default and Default that are technically the same switch group.

[2019-09-10 19:17] satkunas commented on #4757
New issue introduced/found https://github.com/inverse-inc/packetfence/issues/4797 while addressing this. This issue causes an incorrect value in the "Use CoA" default value (inherited from default switch group). This will be addressed separately.

[2019-09-10 19:22] #4757 closed

[2019-09-10 19:23] satkunas opened #4797 "Invalid meta default"
There's a problem with the meta `default` value in switch group useCoA.

See `/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/switch_groups | jq '.meta.useCoA'`
[code]

The `default` value must be a value from one of the available options. In this case (for `useCoA`) those options are only `Y` and `N` (`enabled` not included).

[2019-09-10 19:39] julsemaan opened #4798 "Triggering delayed security event results in many opened security events"
**Describe the bug**
If you create a security event delayed by 2 minutes with action isolate, then there will be numerous security events opened instead of 1 after 2 minutes. The leftover delayed security event is in place.

**To Reproduce**
1. Create a new security event delayed by 2 minutes with action isolate trigger `custom::hello`
2. Trigger the security event (`perl -Ilib -Mpf::security_even

[2019-09-10 19:39] julsemaan commented on #4798
May apply to maintenance/9.0 but that is to confirm

[2019-09-10 19:58] #4794 closed

[2019-09-10 20:10] lzammit opened #4799 "Portal: langage issue"
I tested the portal with the latest developments version. It show a locale issue in the log:

[code]

[2019-09-11 06:02] nqb commented on #4758
@jrouzierinverse, I see, thanks for your explanation.

[2019-09-11 06:02] #4758 closed

[2019-09-11 06:08] nqb commented on #4516
It works as expected.

[code]

[2019-09-11 06:46] nqb opened #4801 "web admin: wrong display for network interfaces menu"
Display of network interfaces could be better:
- Daemons column: you got `[]` character when no additional daemons have been defined
- IPv4 column: long IP addresses are splitted

**Screenshots**
![Screenshot from 2019-09-11 08-29-28](https://user-images.githubusercontent.com/10830260/64673436-740cd580-d46e-11e9-92a0-6354c2623f44.png)

[2019-09-11 11:22] nqb opened #4802 "web admin: better handling of invalid Fingerbank key"
An invalid Fingerbank key is not correctly handle when saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Fingerbank -> General settings`
2. Enter your API key: `Zayme`
3. Save
=> Next four API calls reply with 200 (upstream/collector/query/proxy)
4. Leave this menu and come back
=> your API key has disappeared, API call to account_info return:
[code]
but `/usr/local/fingerbank/co

[2019-09-11 11:29] nqb commented on #3979
Not critical can be postpone to v9.2.

[2019-09-11 12:05] #4798 closed

[2019-09-11 12:06] julsemaan opened #4803 "Saving an existing security event through the DAL creates a new record"
**Describe the bug**
Using the code below creates 2 security events while it would be expected that the created security event be simply updated and no new record created

**To Reproduce**
1. Ensure 00:11:22:33:44:55 exists as a node
2. Use the following script
[code]

[2019-09-11 12:07] julsemaan commented on #4803
Investigated the issue and it seems that during the upsert the primary keys aren't being used because they aren't insertable fields which results in no conflict and a new record being created

[2019-09-11 12:14] nqb opened #4804 "web admin: security events search is case sensitive"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Security Events menu
2. Search on "generic"
=> No results

**Expected behavior**
Should get "Generic" security event.

[2019-09-11 12:14] julsemaan commented on #4794
This is a +1 and needs to go in the maintenance if it can be applied there

[2019-09-11 12:17] julsemaan commented on #4787
Again here a +1 patch that needs to go in the maintenance

[2019-09-11 12:26] julsemaan opened #4805 "Fingerbank settings are empty in the admin"
**Describe the bug**
When visiting the Fingerbank settings it doesn't display the default values (taken from the OPTIONS)

**To Reproduce**
1. Visit the Fingerbank settings

**Expected behavior**
The settings should reflect the default values

**Additional context**
Here is what is returned by the API server for OPTIONS /api/v1/config/fingerbank_settings:
[code]

[2019-09-11 12:33] nqb opened #4806 "web admin: unable to open HTML files in sub-directories"
From web admin, it's not possible to edit a HTML file for a connection profile in a sub-directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Open default connection profile
2. Select `Files` tab
3. Try to open `emails/_footer.mjml` or `oauth2/landing.html`

=> `oauth2~landing.html` not found

**Expected behavior**
HTML files should be editable.

**Additional context**
API returns a 404

[2019-09-11 12:37] nqb commented on #4802
Certainly related to #4805

[2019-09-11 12:42] #4806 closed

[2019-09-11 12:50] nqb opened #4807 "web admin: missing columns titles in nodes tabs"
When you display information for a node, tabs doesn't have column titles like it was in old GUI.

**Screenshots**

![Screenshot from 2019-09-11 14-44-12](https://user-images.githubusercontent.com/10830260/64698500-5148e400-d4a3-11e9-9dfe-8ebd1f6c0e4c.png)

[2019-09-11 12:55] #4799 closed

[2019-09-11 13:24] nqb opened #4808 "web admin: invalid caracter saved by file editor"
If I try to insert a "é" in an HTML file using file editor, my HTML file will be save with "Ã©" character in it causing a wrong display on captive portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a "é" character in `layout.html` of the default connection profile using file editor
2. Save
3. Display your HTML file using file editor or with `less captive-portal/profile-templates/def

[2019-09-11 13:52] jrouzierinverse commented on #4516
Can we close this?

[2019-09-11 14:03] julsemaan commented on #4791
Fixed, closing

[2019-09-11 14:03] #4791 closed

[2019-09-11 14:06] julsemaan commented on #4796
My issue here was that my group didn't have members

will replicate with a meaningful switches.conf that was reported as an issue and check if its still relevant

[2019-09-11 14:15] #4516 closed

[2019-09-11 14:41] julsemaan commented on #4802
#4805 currently prevents me from working on this issue since the settings section is broken in the admin

[2019-09-11 14:46] satkunas commented on #4787
@julsemaan added to `maintenance/9.0` w/ https://github.com/inverse-inc/packetfence/commit/c38e1c5fd7945ea410ea8542210dbaaf23e2a53d

Closing

[2019-09-11 14:46] #4787 closed

[2019-09-11 14:58] #4554 closed

[2019-09-11 15:31] julsemaan opened #4809 "Cannot update node in admin interface"
**Describe the bug**
Getting a 404 in the API when editing a node in the admin. Seems it doesn't like the URL encoded `:` that were added recently

**To Reproduce**
1. Edit a node in the admin
2. Change something
3. Save it
4. Eat your emotions while contemplating the error

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/64711519-b7c00900-d487-11e9-88e8-0b67f265d6dd.png

[2019-09-11 15:58] #4807 closed

[2019-09-11 16:11] satkunas commented on #4804
Collation issue in DAL. In this case `id` will need to be collated as `LATIN1_GENERAL_CI` during the query, or we change the default `security_events` table collation from `LATIN1` to `LATIN1_GENERAL_CI` or `UTF8_GENERAL_CI` (preferred).

[code]

Re-assigning to @jrouzierinverse

[2019-09-11 16:34] julsemaan commented on #4804
The ID isn't 'Generic' through, its another field that contains it

[2019-09-11 17:33] satkunas commented on #4801
@nqb adding nowrap to any column will cause others to overlap on lower resolutions. You'll need to either increase your screen resolution, or decrease your font-size in order to fit the entire table on-screen without word-breaks.

[2019-09-11 17:34] #4801 closed

[2019-09-11 17:35] lzammit commented on #4789
It works.

<img width="420" alt="image" src="https://user-images.githubusercontent.com/5261214/64720678-0f1aa500-d499-11e9-8f75-1672433038f4.png">

[2019-09-11 17:35] #4789 closed

[2019-09-11 17:39] #3139 closed

[2019-09-11 17:39] #2190 closed

[2019-09-11 17:51] satkunas commented on #4794
@julsemaan added to `maintenance/9.0` w/ https://github.com/inverse-inc/packetfence/commit/b4d6a01ab73fe6d2d7a7c6403f68209cd3f28b07

closing

[2019-09-11 18:28] satkunas commented on #4726
@nqb appending `+0x` does nothing to change the date, so it's not required to retain it since it's useless. Just because it's "**still possible in old webadmin**" - this doesn't make it right. Here's some examples using the perl backend to parse a couple different durations:

[code]
I would need to refactor the serialization and deserialization in order to support this, which seems more trouble th

[2019-09-11 18:57] satkunas commented on #4514
`person` table uses `latin1` encoding. Either only latin characters should be used, or the table collation will need to be changed to utf8.

[code]

[2019-09-12 14:10] satkunas commented on #4788
Clone appears to work via the new web admin without issue. The cloned event shows up at the bottom of the 2nd page (default sorting), and `-copy` is properly appended to the identifier.

There are some slight differences between the original config (`security_events.conf.defaults`) and the cloned config (`security_events.conf`).

- `trigger` uppercases `device` to `DEVICE`
- `enabled` is ignored.

[2019-09-12 14:21] satkunas opened #4810 "Improper sorting on security events"
**Describe the bug**
Sorting security events collection by `id` is not alphabetical.

**To Reproduce**
`/usr/local/pf/sbin/pfperl-api get -M GET "/api/v1/config/security_events?cursor=0&limit=50&fields=id&sort=id" |jq '' | grep id
`

[code]
**Expected behavior**
Sorting should be alphabetical - with `defaults` being the only possible exception.

[2019-09-12 14:21] satkunas commented on #4788
Sorting by `id` on the Security Event index page appears to be broken.

Issue opened for this at https://github.com/inverse-inc/packetfence/issues/4810

[2019-09-12 16:54] jrouzierinverse commented on #4809
Please retest.

[2019-09-12 17:05] satkunas commented on #4788
Added to `maintenance/9.0` in https://github.com/inverse-inc/packetfence/commit/eb0b27e01be2c4bfb3c483cb2536382ae52eb143

[2019-09-13 15:51] #4802 closed

[2019-09-13 18:31] extrafu commented on #4735
@julsemaan Any updates? Should @satkunas work on this?

[2019-09-13 18:34] extrafu commented on #4809
@julsemaan Can you test James' fix?

[2019-09-13 19:39] #4735 closed

[2019-09-14 18:51] #4233 closed

[2019-09-16 15:37] cgx opened #4814 "API GET /api/v1/config/portal_module/<id> → source_id is an array"
When fetching the `source_id` of a portal module, the value is an array while it should be a **string**.

[code]

[2019-09-16 15:38] julsemaan commented on #4814
You can have multiple ids in some modules and the parameter will still be called source_id so that's why its an array

[2019-09-16 15:42] cgx commented on #4814
I though it was called `multi_source_ids` in this case?

[2019-09-16 15:58] julsemaan commented on #4814
Seems you're right, I was thinking of the backend code which doesn't rely on this fields which is virtual and created for usage through the ConfigStore (and the API/admin)

I checked and `source_id` is not defined as multiple in the forms so it looks like it should be fine.

Perhaps @jrouzierinverse can quickly confirm if this change occurs in the API form magic

[2019-09-16 16:12] #4720 closed

[2019-09-16 16:45] julsemaan commented on #4809
golden

[2019-09-16 16:45] #4809 closed

[2019-09-16 18:20] jrouzierinverse commented on #4808
I pushed a fixed @cgx or @julsemaan would you mind testing?

[2019-09-17 11:53] nqb opened #4815 "web admin: wrong dates for nodes on inline network"
Dates displayed in IPv4 and Location tabs for nodes on an inline network are wrong (01/01/70)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an inline layer 2 interface
2. Send DHCP requests from a node
3. Check dates in IPv4 and Location tabs

**Screenshots**
![Capture d’écran de 2019-09-17 13-46-54](https://user-images.githubusercontent.com/10830260/65039275-27d00280-d952-11e9-8025

[2019-09-17 11:55] nqb commented on #4815
Request and Response from API:
[code]

Response seems correct. I'm assigning @cgx as it looks like a frontend issue.

[2019-09-17 12:56] julsemaan opened #4816 "Ethernet-Webauth connection type isn't assigned when connecting a device to a Catalyst 2960"
**Describe the bug**
If you connect a device using web-auth to a Catalyst 2960, it doesn't set the connection type as Ethernet-Webauth and leaves it to Ethernet-NoEAP

[2019-09-17 13:43] extrafu commented on #4808
@julsemaan Can you test please?

[2019-09-17 13:46] nqb commented on #4776
CentOS 7.7 has been released today with new version of ipset. Something to have in mind for our 9.1 release.

[2019-09-17 13:52] julsemaan commented on #4808
Still an issue

[2019-09-17 14:46] jrouzierinverse commented on #4808
Works on my machine. Did you restart pfperl-api?

[2019-09-17 14:50] #4815 closed

[2019-09-17 14:54] cgx commented on #4808
Doesn't work for me neither.

[2019-09-17 14:58] nqb opened #4817 "web admin: Services menu reports wrong state for some services"
Some services are marked as "running" but in reality they are disabled (PID=0). Consequently, a warning is displayed to user (next to service name)

**Screenshots**
![Capture d’écran de 2019-09-17 16-52-13](https://user-images.githubusercontent.com/10830260/65053167-d0d72700-d96b-11e9-9267-3fa987bf1681.png)

**Expected behavior**
Stopped state for services not running.

**Additional context**
Debi

[2019-09-17 15:02] nqb commented on #4817
API response for `fingerbank-collector`, a service that is not running on my setup:
[code]
I suppose backend should return `"alive":0`, assigning @jrouzierinverse.

[2019-09-17 16:10] julsemaan commented on #4776
I'm tired of this ipset bull***t, I'm adding ipset to our repos and pinning it

[2019-09-17 17:34] julsemaan commented on #4808
Works now

[2019-09-17 17:34] #4808 closed

[2019-09-18 15:18] nqb opened #4818 "Unifi: send deauthentication on specific site"
Currently, when PF try to deauthenticate a device on Unifi controller, it [sends an API call on each site](https://github.com/inverse-inc/packetfence/blob/b14a65edfd253ba1dfba275435ca4515e63fe359/lib/pf/Switch/Ubiquiti/Unifi.pm#L212-L218) found in Unifi configuration until it gets a success.

As described on [Unifi forum](https://community.ui.com/questions/authorize-guest-command-permit-to-allow-a

[2019-09-18 18:01] martinoscarrodriguez opened #4819 "No automatic Radius Disconnect-Request after timeout of access duration"
The scenario: Aruba Instant AP (IAP) version 8.4 with PacketFence 9.0.1 outband. Captive Portal authentication. I configured the switch as Aruba Networks, because using Aruba Instant Access CoA doesn't work. Captive Portal works fine: user authenticate OK. There is a pre auth role (registration) and then PF accept with a new role. However after Session Timeout (Access Duration) PF does not discone

[2019-09-19 02:23] shanehull commented on #4776
Yep, I'm getting:

[code]

And 6.38 doesn't appear to be available.

[2019-09-19 05:08] nqb commented on #4776
Issue presents in nightly builds too.

[2019-09-19 07:35] nqb commented on #4776
### Current state

#### CentOS 7.6 with PF 9.1
Only `ipset-symlink` has been installed from packetfence repo:
[code]

#### CentOS 7.7 without PF installed
[code]

[2019-09-19 07:58] nqb commented on #4776
### Issues

1. Installing PF 9.1 on a fresh CentOS 7.7 is not possible
2. Upgrading from CentOS 7.6 with PF 9.1 installed to CentOS 7.7 is not possible

[code]

# Workaround for 1.

The only way to make it working is to downgrade by hand `ipset` and `ipset-libs` with: `yum downgrade ipset ipset-libs --enablerepo=packetfence`

State after:
[code]

# Workaround for 2.

Upgrade all packages except `i

[2019-09-19 08:09] franzste commented on #4776
I've spend a whole day on this ipset thing on centos 7.7.. thanks for your workaround! I will try this asap.

[2019-09-19 08:10] nqb commented on #4776
Ok @franzste, we will try to provide a more simple way to install PF under 7.7 ASAP.

[2019-09-19 08:50] nqb opened #4820 "Issues with CentOS 7.7"
See #4776

[2019-09-19 11:17] franzste opened #4822 "CentOS 7 ssh connection aborted during installation"
OS: CentOS 7.7

**description**
during installation my ssh connection aborted during installation (tested several times) and the installation seams to stop. also several bugs seem to occur during installation.

[code]

refer to #4776 if tried to install packetfence on an fresh installation of centos 7.7 and used the workaround for 1.

**reproduce:**

skipping the network stuff..

deactivate selinu

[2019-09-19 11:37] nqb commented on #4822
I'm able to reproduce this issue on CentOS 7.7 by running `pfcmd service pf restart`.

Need to verify if it's caused by workaround provided.

[2019-09-19 11:49] nqb opened #4823 "web admin: unable to display role for each user in Users menu"
In Users menu, if you want to display the role for each of your users, you can't.

**To Reproduce**
1. Go to 'Users' menu
2. Click on 'Visible columns'
=> Role is missing.

**Expected behavior**
Visible columns should contain `Role` like for Nodes.

**Additional context**
`/api/v1/users` doesn't contain `category_name` for now.

[2019-09-19 12:57] nqb commented on #4822
Not able to reproduce the issue with CentOS 7.6 and PF 9.1.

We certainly need to adapt something with CentOS 7.7

[2019-09-19 13:06] julsemaan commented on #4776
I will look into compiling the ipset lib directly in our golang binaries so that the dependency on the ipset version can be softer and be independent from the version of ipset-libs installed on the system

[2019-09-19 13:06] nqb commented on #4822
Able to reproduce on CentOS 7.7 after upgrading from CentOS 7.6 with PF 9.1 with : `yum --exclude=ipset,ipset-libs upgrade -y`

[code]

[2019-09-19 13:49] nqb commented on #4822
I got same behavior if I'm connected on console.

Not completely sure but a recent update of `polkit` package has been added to CentOS 7.7 (see https://access.redhat.com/errata/RHBA-2019:2359) and it looks like the `polkitd`service is called for every command run by `pfcmd` using `sudo`:
[code]
We didn't have such message on CentOS 7.6 with PF 9.0.1.

EDIT: I don't know if it is related to running

[2019-09-19 14:57] julsemaan commented on #4776
@jrouzierinverse will look with me on statically compiling the binary with ipset or use libipset.so instead of libipset.XX.0.so (where XX is a version) so that it can use any version installed on the system

[2019-09-19 15:20] supportFGT commented on #4822
Same problem here

[2019-09-19 16:01] julsemaan commented on #4822
If you run 'systemctl isolate packetfence-base.target' it closes your SSH connection so it seems its not related directly to pfcmd but instead to the packetfence-base.target

[2019-09-19 16:13] julsemaan commented on #4776
Just pushed an ipset package with an increased epoch (thanks @jrouzierinverse) and that package is able to serve as an update to ipset 7.1 although its a lower number.

Performing:
[code]

And retrying the install/update should now work correctly

[2019-09-19 16:20] julsemaan commented on #4822
It seems like the issue is with `systemctl isolate` in CentOS 7. Logs while I do it:
[code]

Perhaps `Starting Terminate Plymouth Boot Screen` is the issue but I'll dig deeper

[2019-09-19 17:05] julsemaan commented on #4822
I discovered that the issue seems to be with nfs-config.service which makes the session close.
Disabling this service using `systemctl mask nfs-config.service && systemctl daemon-reload` allows to use pfcmd without any issue

[2019-09-19 19:29] rcmcdonald91 commented on #4818
UniFi 5.12 now supports RADIUS CoA, which is probably a better solution moving forward.

[2019-09-20 00:02] julsemaan commented on #4822
Finally was able to pinpoint the issue.

Its related to the fact the user-0.slice is being stopped (removed) when isolating targets. This wasn't the case in previous versions of systemd and doesn't occur on a pristine CentOS 7.7 install so one of our many dependencies must be tampering with the isolation of targets.

In order to get it running properly, stopping systemd-logind and masking it will

[2019-09-20 05:35] nqb commented on #4818
Hello @theonemcdonald,

Thanks for point it out. I already opened a case for #4573.

For 802.1X, we will be able to use CoA to send deauthentication but WebAuth is done using HTTP only (not RADIUS). We will need to keep same logic for WebAuth.

[2019-09-20 05:37] nqb commented on #4573
@theonemcdonald, could you confirm CoA is supported on Unifi Controller too ?

[2019-09-20 14:34] rcmcdonald91 commented on #4573
@nqb

Yes, it’s available in the Controller and the firmware. You can find the CoA settings per wireless network configuration in UniFi.

Controller: >5.12
Firmware: >4.0.54 (I think)

![COA](https://user-images.githubusercontent.com/3102039/65342861-a1a9fb00-dba1-11e9-8b5a-65c4f3ce6857.png)

[2019-09-20 15:35] julsemaan commented on #4822
New package (9.1.0-3) is now available in the stable repos and tested with a fresh install + upgrade and all seems fine now

[2019-09-20 15:35] #4822 closed

[2019-09-23 07:55] nqb opened #4825 "web admin: import switches from CSV is missing"
Import switches from a CSV file is not available in new web admin. It was the case in old admin.

**Expected behavior**
Possibility to import switches from a CSV.

[2019-09-23 09:22] nqb commented on #3975
Due to #4114, LDAP configuration for FreeRADIUS is generated only if a `Search Attribute` is defined.

[2019-09-23 14:40] fdurand commented on #4816
The issue is when PacketFence receive the radius request it's a Ethernet-EAP or Ethernet-NoEAP request (the radius reply will decide if it's a webauth).
Also when the device hit the portal we don't synchronize the locationlog https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/Switch/Cisco/Catalyst_2960.pm#L660 .

[2019-09-23 14:50] fdurand commented on #4818
This is what we did before:
https://github.com/inverse-inc/packetfence/commit/3ac5dee58de526db8635c1e6f21258392ca8fd13#diff-8b99f599546e7710d1df6b776d184569
We can try to reapply the same logic.
For the CoA, i will try it.

[2019-09-23 14:59] nqb commented on #4776
Does it mean that `ipset-devel` [package](https://github.com/inverse-inc/packetfence/blob/devel/addons/packages/packetfence.spec#L59) will not be a BuildRequires ?

[2019-09-23 15:07] fdurand commented on #4573
We will wait until 5.12 is released, there is no way to download it.

[2019-09-23 15:08] julsemaan commented on #4776
I wasn't able to statically compile libipset in our binary but if I would have been able to, ipset-devel would still be necessary for building

[2019-09-23 15:16] rcmcdonald91 commented on #4573
https://community.ui.com/releases/UniFi-Network-Controller-5-12-5/6e656b4e-5406-44c3-a56c-a4637ae7a6b3

You will need a Ubiquiti account and access to the beta channel (both are free and easy to sign-up for).

[2019-09-23 15:20] fdurand commented on #4573
Thanks, i have it.

[2019-09-24 23:44] centrasupport opened #4828 "[Packetfence 9.1] Barracuda NG firewall SSO SSH fail"
**Describe the bug**

The Barracuda NG firewall SSO is created in the PF section "Integration" - "Firewall SSO" - "BarracudaNG" as per the doc of packetfence.
The barracuda firewall does not receive any User information.
Checked the Barracuda NG firewall log, the PF does try to connect the firewall but it is not success connection.
The NG firewall log shows
"sshd: Connection from 192.168.10.20 por

[2019-09-25 15:57] MuriloCalegari opened #4829 "DNS Audit is only logging passthroughs, Portal and DNS filters"
The new **DNS Audit Log** is only registering "passthoughs", "Portal" and "DNS filters". There are several logs registered, but if I filter those types out, there are no logs left:

![image](https://user-images.githubusercontent.com/38005452/65618004-fc719700-df93-11e9-8897-260339a45d1a.png)

[2019-09-25 15:59] julsemaan commented on #4829
If you would have use our issue template I'd be able to understand what you expect to see there

[code]

If you're not going to use our issue template, at least make sure we can understand what the issue is.

[2019-09-25 16:41] MuriloCalegari commented on #4829
I'm sorry @julsemaan.

I think the expected behavior would be that all queries would be registered in the audit log, not only the "exceptions".

[2019-09-25 16:47] julsemaan commented on #4829
Still not fully sure about what you mean but here are some clarifications on how this works:
- Entries only log traffic that pfdns processes (i.e. PF is the DNS server for that request)
- Entries only log traffic for unreg devices in inline and DNS enforcement

[2019-09-25 21:44] MuriloCalegari commented on #4829
Ok, I think I understand it now. Since the Audit interface does not specify which types of entries are going to be logged (processed by pfdns and on unreg devices), I thought that it would also include the queries that were forwarded to another DNS server (e.g. 8.8.8.8).

I think this would be a more interesting feature since some governments (like Brazil) requires internet providers like a school

[2019-09-26 00:25] aced11 opened #4830 "Fingerbank only partially profiling device"
Hello,

I am running packetfence 9.0.1 and have a small issue with fingerbank's profiling capability. I have fingerbank fully configured with my API key/account and DHCP listening for forwarded requests.

When I initially plugin a device or connect over the wireless, registration/authorization occurs, and the fingerbank info is only partially filled out on the Node's profile (usually "uknown" and

[2019-09-26 00:49] aced11 commented on #4830
<img width="749" alt="fb_initial" src="https://user-images.githubusercontent.com/53785606/65649772-f6040f00-dfd5-11e9-8268-5a892049f61b.PNG">

![fb_refresh](https://user-images.githubusercontent.com/53785606/65649721-c6ed9d80-dfd5-11e9-9270-0c63bb43e483.png)

[2019-09-26 00:54] aced11 opened #4831 "Fingerbank only partially profiling device"
**Describe the bug**
I am running packetfence 9.0.1 and have a small issue with fingerbank's profiling capability. I have fingerbank fully configured with my API key/account and DHCP listening for forwarded requests.

When I initially plugin a device or connect over the wireless, registration/authorization occurs, and the fingerbank info is only partially filled out on the Node's profile (usually

[2019-09-26 00:54] #4830 closed

[2019-09-26 07:28] nqb commented on #4831
Hello, are you running PF 9.0.1 with latest maintenance patches ?

[2019-09-26 07:31] nqb commented on #4829
Hello MuriloCalegari,

From my point of view, this is the role of a proxy, not PacketFence. @fdurand can confirm but the DNS audit log is more like a troubleshooting tool.

[2019-09-26 09:58] MuriloCalegari commented on #4829
I thought this was possible since in pfdns.log this data is actually logged
(internally processed AND forwarded DNS queries)

Em qui, 26 de set de 2019 04:31, Nicolas Quiniou-Briand <
notifications@github.com> escreveu:

[2019-09-26 11:21] julsemaan commented on #4829
I'd tend to agree with @nqb, this is more made for troubleshooting, logging all DNS requests of a large scale environment will result in GBs of data in a matter of a day.

This also implies using inline or DNS enforcement with PacketFence which aren't the core use cases of the solution

[2019-09-26 11:25] julsemaan commented on #4831
From what I recall this was a bug about DHCP filters fixed by 6a27442671a3d26f4bca3d32bfd9e6959352d097 which is in the maintenance.

Apply @nqb's suggestion and retry and it should work fine (run `/usr/local/pf/addons/pf-maint.pl` + reboot)

[2019-09-26 11:25] julsemaan commented on #4831
I'll close this for now since its already fixed, reopen if necessary

[2019-09-26 11:25] #4831 closed

[2019-09-26 12:24] aced11 commented on #4831
Thank You both, that fixed it.

Have a good day!

[2019-09-26 12:30] nqb commented on #4829
@julsemaan, I'm confused about these sentences:

In a VLAN enforcement scenario, `pfdns` will be use a DNS server for registration and isolation VLAN. Do you mean these requests are not logged ?

[2019-09-26 14:35] jp-morvan opened #4833 "PacketFence 8.3.0 - Problem to add a new SAML Source"
**Describe the bug**
I want to register a new SAML source and when I use it in captive portal, I've the error :

Caught exception in captiveportal::Controller::Root->dynamic_application “Can't create Single-Sign-On URL : The identifier of a provider is unknown to #LassoServer. To register a provider in a  #LassoServer object, you must use the methods lasso_server_add_provider() or lasso_server_add

[2019-09-26 15:03] nqb commented on #4833
Hello,

What is the difference between this source and the working source ?

It doesn't seem to be a bug, much more a configuration issue.

We prefer to keep this bug tracker for bugs and feature requests  and use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for report like you did.

[2019-09-26 15:23] jp-morvan commented on #4833
Ok, sorry, here is a bug :
when I declare a new source, if I change the location and the name of the metadata file, the other source does not work anymore.
By default, the idp metadata file is located here : /usr/local/pf/conf/ssl/idp-metadata.xml
If, in the configuration, I change it to /usr/local/pf/conf/ssl/metadata.xml or /usr/local/pf/conf/ssl/anotherDirectory/idp-metadata.xml and save it, th

[2019-09-26 15:24] jp-morvan commented on #4833
And to be more specific, the configurations are exactly the same, just I change the certificate filename and the metadata filename

[2019-09-27 00:16] centrasupport commented on #4828
Barracuda firewall is version 7.2.4-186

[2019-09-27 01:03] centrasupport commented on #4828
Sep 27 11:00:06 NAC-01 pfsso[2470]: t=2019-09-27T11:00:06+1000 lvl=eror msg="Error while sending SSO to ssh: must specify HostKeyCallback: %!s(MISSING)172.10.1.251" pid=2470 request-uuid=2589682c-e0c2-11e9-a3fd-000c294b48a6 username=test@mail.com ip=10.79.101.209 mac=66:a7:2d:6f:30:87 role=guest

[2019-09-27 01:08] centrasupport commented on #4828
This may help fix this bug

[x/crypto/ssh: Failed to open ssh connection to the server: ssh: must specify HostKeyCallback]
https://github.com/golang/go/issues/20200

https://github.com/jilieryuyi/ssh-simple-client/blob/master/main.go

[2019-09-27 02:12] centrasupport commented on #4828
changed this file  /usr/local/pf/go/firewallsso/barracudang.go

        sshConfig := &ssh.ClientConfig{
                User: fw.Username,
                Auth: []ssh.AuthMethod{
                        ssh.Password(fw.Password),
                },
                **HostKeyCallback: ssh.InsecureIgnoreHostKey(),**

        }

And reboot the server, but it is still not good.

the log:

Cannot connec

[2019-09-27 09:27] nqb commented on #4822
Mail sent by @julsemaan, on packetfence-users mailing list:
[code]

[2019-09-27 11:42] nqb commented on #4833
I was not able to reproduce the issue as explained by mail.

[2019-09-27 14:33] julsemaan commented on #4829
pfdns will log requests of unreg devices in isolation + registration, what I meant was that in inline + dns enforcement where it sees the traffic of reg devices, it will not log it

[2019-09-28 12:33] #4779 closed

[2019-09-28 20:36] jrouzierinverse commented on #4817
@nqb Can you verify this patch on Debian?

[2019-09-30 10:10] jrouzierinverse commented on #4782
Fixed by 2933fb506cb80ce87a9ad4ca992ae6f61236e8ee

[2019-09-30 10:10] #4782 closed

[2019-09-30 14:19] fdurand opened #4836 "Security event associated to a connection profile."
Only trigger a security event if this one is associated to a connection profile and if the connection profile match.
Like autoregister printer only if the device match a specific connection profile (filter ssid = bob).

[2019-09-30 14:43] jrouzierinverse commented on #4572
@cgx @satkunas
Added a new field in the OPTIONS output
[code]

Which mean field1 is required when field2 is equal to v1.

However, to be more flexible I was thinking of this way of doing it.

[code]
What do you think?

[2019-10-01 13:19] jrouzierinverse commented on #4817
@nqb Patch link https://github.com/inverse-inc/packetfence/commit/2a7e707ff1434c7b881d027510768b949238c077.diff

[2019-10-01 17:21] jrouzierinverse commented on #4229
2a7e707ff1434c7b881d027510768b949238c077  fixed this.
reopen if it is still happening.

[2019-10-01 17:21] #4229 closed

[2019-10-01 17:27] jrouzierinverse commented on #4332
I think we should close this issue.
I would prefer not to have an API call to check the existence of a file.
It only provides very little improvements and can open ourselves to leaking information.

[2019-10-01 17:28] jrouzierinverse commented on #4395
I think this can be closed. @nqb can you verify?

[2019-10-01 19:18] jrouzierinverse commented on #3965
This requires multiple changes that cannot fit into a +1 release.

[2019-10-02 12:25] nqb commented on #4395
@jrouzierinverse,

I only see 31a4dc3 commit which is a workaround related to this issue.
Did you make other changes to fix this issue ?

[2019-10-02 12:40] nqb commented on #4817
Patch applied on a Debian 9 with nightly builds, restart of PF services. I got same behavior.
API response for `fingerbank-collector`, a service that is not running on my setup:
[code]

[2019-10-02 14:15] jrouzierinverse commented on #4395
commit a41709bb Automatically fills in the sponsor with current_user.

[2019-10-02 14:46] jrouzierinverse commented on #3483
This can be replaced by support for functions.

[2019-10-02 14:46] #3483 closed

[2019-10-02 18:03] jrouzierinverse commented on #4817
Can you run the following command on your install and let me know the output.
[code]

[2019-10-02 18:08] jrouzierinverse commented on #4817
Also the output of this command
[code]

[2019-10-03 05:42] nqb commented on #4817
[code]

Exactly the same for `packetfence-haproxy-db`.

[2019-10-03 09:22] jrouzierinverse commented on #4817
Which API call did you use?
Maybe I am looking at the wrong one.

[2019-10-03 11:15] nqb commented on #4817
It's a GET on `/api/v1/service/fingerbank-collector/status`

[code]

[2019-10-04 18:28] julsemaan opened #4842 "No feedback while loading/refreshing dynamic report"
**Describe the bug**
When you click on a dynamic report, it shows 'No data' while the report is loading. This can stay there for awhile for large reports giving the impression the report is empty.

This also happens when you change the size of the data set (ex: from 25 to 50 per page) and it leaves the old data until the new one arrives and is rendered

**To Reproduce**
1. Click on a dynamic repor

[2019-10-05 11:06] smilehat commented on #4828
noone cares?

[2019-10-07 17:03] #4737 closed

[2019-10-08 11:34] julsemaan commented on #4828
Did you recompile pfhttpd after changing what you changed in barracudang.go ?

Its not interpreted like perl code anymore, its a compiled binary

[2019-10-09 11:23] #4820 closed

[2019-10-09 12:56] abeulink opened #4844 "very small mac address bug in location tab"
Hello developers,

I think I found a very small bug in Nodes - MAC Address - Location tab (in Switch/AP column).
The **fourth octet** of mac address is not identical as hardware mac address.
The seventh and eighth character of MAC Address.
After my research, this bug is only in the location tab.

We use Packetfence version 9.1.0.

[2019-10-09 13:12] nqb opened #4845 "Support ipset 7.1 version for Golang binaries"
**Is your feature request related to a problem? Please describe.**
Current CentOS 7.7 version are shipped with ipset 7.1 version. Our Golang binaries doesn't support yet this version (still on 6.38).

**Describe the solution you'd like**
Support ipset 7.1 version in Golang binaries. We certainly need to adapt https://github.com/inverse-inc/go-ipset to support this new version like we did in the pa

[2019-10-09 13:26] nqb commented on #4776
As discussed internally with @julsemaan, it seems more simple for now to release one PF version with one fixed ipset version (like we did for 9.1). Maintenance binaries for each PF version will be build using same environment as for the release. We plan to build new Docker images for each release of PacketFence to meet this requirement.

We will try to be proactive to support new ipset versions be

[2019-10-09 13:27] nqb commented on #4776
For 9.2, @julsemaan will put `ipset-devel-6.38` in our repos.

[2019-10-09 22:29] centrasupport commented on #4828
sorry I don't know how to compile it ...

[2019-10-10 05:26] nqb commented on #4828
Hello @centrasupport,

Take a look at [go/README.md](https://github.com/inverse-inc/packetfence/blob/maintenance/9.1/go/README.md).

[2019-10-10 05:39] centrasupport commented on #4828
Thxs, I will take a look.

[2019-10-10 11:27] julsemaan commented on #4844
That's the MAC address your vendor provides during the RADIUS authentication. They often don't make it the same as the hardware MAC and sometimes also generate one per BSSID

That's not a PF bug, that's one of your vendor's "features"

[2019-10-10 11:27] #4844 closed

[2019-10-10 12:57] lzammit opened #4847 "Dynamic unregdate is not working on devel"
On PacketFence 9.1.9, I can't save the dynamic unregdate format:

0000-00-00

But I can't save the date:

<img width="466" alt="image" src="https://user-images.githubusercontent.com/5261214/66570618-f22acd80-eb3b-11e9-8692-edb581bc1a2e.png">

[2019-10-10 15:50] julsemaan commented on #4776
ipset-devel was already in our packetfence-devel repo:
http://inverse.ca/downloads/PacketFence/CentOS7/devel/x86_64/RPMS/ipset-devel-6.38-3.el7_6.x86_64.rpm

[2019-10-10 19:47] nqb commented on #4776
Sorry if I missed it. I supposed we can close this issue now.

[2019-10-10 19:47] #4776 closed

[2019-10-10 22:28] centrasupport commented on #4828
sorry, I still don't understand how to do this.... should I just compile the SSO module?

[2019-10-11 11:55] julsemaan commented on #4828
No, you need to recompile pfhttpd and install it as described in the README

See the following section:
https://github.com/inverse-inc/packetfence/blob/maintenance/9.1/go/README.md#building-the-code

And don't forget the 2 sections before to setup the environment and the dependencies

[2019-10-11 14:23] Ieno77 opened #4849 "Inline layer 2: Network filter on connection profil broken"
conf/profil.conf:
[code]

[2019-10-11 19:34] jrouzierinverse commented on #4849
What is the setup of PacketFence server?
The network filter itself works https://github.com/inverse-inc/packetfence/blob/devel/t/unittest/Portal/ProfileFactory.t#L41

It sounds like the locationlog for the node is incorrect or has the wrong IP address.
Can you verify the node's ip address in the locationlog.

[2019-10-12 14:07] lyubomirtraykov opened #4850 "Radius Disconnect with Juniper EX2200_v15"
Hello when I try to Reevaluate  Access on a Node on Juniper EX2200_v15, it fail with this log:

`Oct 12 16:55:45 pf pfqueue: pfqueue(1318) INFO: [mac:c4:2f:90:1e:5d:6e] deauthenticating c4:2f:90:1e:5d:6e (pf::Switch::Juniper::EX2200_v15::radiusDisconnect)`
`Oct 12 16:55:45 pf pfqueue: pfqueue(1318) WARN: [mac:c4:2f:90:1e:5d:6e] Unable to perform RADIUS Disconnect-Request: must specify key and code

[2019-10-13 13:40] mofm opened #4851 "Dots in role break switch_group and gives error httpd_admin service"
**Describe the bug**
A role with a name containing a dot ('.') gives errors in  the 'httpd_admin' service. 'switch groups' gives error in the webui.

_Note: **hld.printer** is role name. I deleted it in roles after gives errors. but I'm still getting same errors._

**To Reproduce**
Steps to reproduce the behavior:
1. **/usr/local/pf/bin/pfcmd version**
`PacketFence 8.3.0`

2. **cat /etc/os-release

[2019-10-14 08:45] nqb opened #4853 "[Vagrant] No more static IP on host only interfaces"
Netmask option in Vagrantfile added by https://github.com/inverse-inc/packetfence/pull/4843/commits/2322e53aa5030da1d8f23ed731e1d8b92bd7646b broke IPv4 config of host only interfaces.

It looks like netmask should be "255.255.255.0" in place of "24". "24" is considered as an IPv6 netmask (https://github.com/hashicorp/vagrant/blob/b886ec0b323163920202baec6424b64ccfcc56bc/plugins/providers/virtualbo

[2019-10-14 08:48] #4853 closed

[2019-10-14 09:39] nqb opened #4854 "Admin roles: Allowed node roles not taken into account"
When a user has an admin role with a limited list of `Allowed node roles`, he is able to create nodes with all roles (not only `Allowed node roles`).

**To Reproduce**
Steps to reproduce the behavior:
1. Create two roles: `role1` and `role2`
1. Create an admin role called `Role-1`
   * Actions: Nodes - Create
   * Node options - Allowed node roles: `role1`
1. Create a user `foo` and assign `Role-1

[2019-10-14 09:45] nqb commented on #4851
I'm able to create a role called `hld.printer` on PF 9.1.0 without any issue but I used new web admin. If I switched to old web admin and try to display Switch Groups menu, I got same issue as @mofm

[2019-10-14 10:00] nqb opened #4855 "Admin roles: underscores in name cause issue"
When I assigned an admin role that contains underscores in its name to a user, web browser freezes during log in of user (tested on two different browsers).

**To Reproduce**
Steps to reproduce the behavior:
* Create an admin role called `node_manager_role`:
[code]
* Create a user `foobar` with access level set as `node_manager_role`
* Log in as `foobar` user

=> Web browser freezes during log in.

[2019-10-14 13:33] nqb opened #4856 "web admin: Download Service Provider metadata button is missing"
In new web admin, on SAML sources, button "Download Service Provider metadata" is missing.

**To Reproduce**
1. Create a SAML source
2. Save your source

=> Button is missing.

**Expected behavior**
You should have a button "Download Service Provider metadata" after you save your source.

**Workaround**
Button still presents in old admin.

[2019-10-14 13:35] nqb commented on #4856
I assigned @jrouzierinverse and @satkunas because I supposed frontend and backend should be adjust.

[2019-10-14 13:52] nqb commented on #4856
An important thing to have in mind:

Now we manage certificates from web admin and server.crt contains server certificate + all intermediates. Consequently, when you click on Download Service Provider metadata button, XML generated will contain full SSL chain in `<ds:X509Certificate>` tags. This seems to cause issue.

[2019-10-15 09:15] jrouzierinverse commented on #4850
Which version of PacketFence is this?

[2019-10-15 09:29] #4850 closed

[2019-10-15 09:35] jrouzierinverse commented on #4850
Thank you for reporting this.

You can get this fix and all the other latest fixes by running pf-maint.pl

[code]
Or you can manually apply the patch by doing the following.
[code]

[2019-10-15 10:27] lyubomirtraykov commented on #4850
Everything is working OK now, thanks.
I noticed that in the Audit Log on Disconnect-ACK there is no MAC address, Node Status , Computer name and User name. With EX2300 the information is available in the  Audit Log.

[2019-10-15 10:30] jrouzierinverse commented on #4856
@satkunas I put the new endpoint in the branch  fix/saml_metadata

[2019-10-15 11:23] julsemaan commented on #4854
This is a duplicate of https://github.com/inverse-inc/packetfence/issues/4536

[2019-10-15 11:26] julsemaan commented on #4849
The node's IP address should be taken from ip4log, not locationlog

[2019-10-15 11:40] nqb commented on #4854
@julsemaan, I've seen this issue too. It's related to Users not to Nodes.

I reopen, let me know if you disagree.

[2019-10-15 12:24] julsemaan commented on #4854
#4558 which fixes #4536 doesn't look to be specific to nodes or users.

@jrouzierinverse can confirm and close this accordingly

[2019-10-15 13:38] jrouzierinverse commented on #4850
@julsemaan do you have an idea why this is happening?

[2019-10-15 13:40] julsemaan commented on #4850
Not really, perhaps @fdurand has an idea on the Disconnect ACK audit log

My wild guess is that not all the fields of the audit log entry are populated during the Disconnect ACK, perhaps we could hide the ones we're not populating

[2019-10-16 06:15] nqb opened #4858 "web admin: nodes menu doesn't contain all switches"
In a setup with more than 25 switches when you go in `Nodes` menu and try to display "Switch Groups", you don't see all switches and switch groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Create more than 25 switches
2. Go in `Nodes` menu
3. Click on `Switch Groups`

**Expected behavior**
Display all switches and switch groups.

**Additional context**
When I go on `Nodes` page, I see

[2019-10-16 12:43] julsemaan opened #4859 "Unable to create new switch"
**Describe the bug**
Unable to create a new switch on current devel due to JS error in the admin

**To Reproduce**
1. Go in switches
2. Try to create a new one

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
JS error in the console:
[code]

[2019-10-16 15:45] #4858 closed

[2019-10-16 22:40] beetdb opened #4861 "Packetfence LetsEncrypt not working - ACME V1 has ben disabled by Letsencryt"
From the alert:

Account creation on ACMEv1 is disabled. Please upgrade your ACME client to a version that supports ACMEv2 / RFC 8555. See https://community.letsencrypt.org/t/end-of-life-plan-for-acmev1/88430 for details.
/api/v1/config/certificate/http/lets_encrypt

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SSL Certificates
2. Click on '.Use Lets Encrypt'
3. Add hostname
4. Click

[2019-10-17 13:19] fdurand commented on #4573
Just an update, i am not able to make it work.
In the access point they use a kind of CoA proxy who send the request to the correct instance of hostapd.
Per example the normal port is 3799 and the hostapd instance for the ssid bob is 3800 and obo is 3801, so the "proxy" is suppose to test the bssid value and forward to the port 3800 or 3801.
The issue is that in the configuration file the variable

[2019-10-17 13:29] nqb opened #4862 "web admin: bad handle of "unit" fields"
When you want to modify unit of a field on web admin, it's easy to set a wrong value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to System configuration -> Main configuration -> Advanced
2. On "API token max expiration" field, click in the dropdown unit:
=> It displays all units (seconds, minutes, hours, etc.) and its value becomes "h" in grey.
3. Click on "hours" in the dropdown
=>

[2019-10-17 13:31] nqb commented on #4573
@fdurand, could you open an issue upstream ?

[2019-10-17 14:27] extrafu commented on #4856
@satkunas We'll need that bug fixed quickly.

[2019-10-17 14:28] extrafu commented on #4854
@jrouzierinverse Please provide an update.

[2019-10-17 18:29] jrouzierinverse commented on #4854
#4558 will do the same thing for both users and nodes.
However, #4558 is incomplete will need to look at what else is needed to fix it.

[2019-10-18 10:13] jrouzierinverse commented on #4855
The problem is you need at least one of these admin roles to login through the old admin.

SERVICES_READ REPORTS_READ USERS_READ NODES_READ CONFIGURATION_MAIN_READ
CONNECTION_PROFILES_READ PROVISIONING_READ ADMIN_ROLES_READ INTERFACES_READ
SWITCHES_READ FLOATING_DEVICES_READ USERS_ROLES_READ USERS_SOURCES_READ
SECURITY_EVENTS_READ FINGERPRINTS_READ MAC_READ
FINGERBANK_READ FIREWALL_SSO_READ REALM_

[2019-10-18 10:13] #4855 closed

[2019-10-18 10:31] #4847 closed

[2019-10-18 13:38] julsemaan commented on #4861
Its really weird since [Crypt::LE's documentation](https://metacpan.org/pod/Crypt::LE#version) states that it takes an educated guess on the version when not specified which you'd assume to handle that case.

Added a force to v2 in 03ee4dcc391d7d13ccdc038a5da7cfbacc93ce1d

Tested on my machine and I was also impacted by that regression and the commit above fixed it

I've also added the fix to main

[2019-10-18 13:38] #4861 closed

[2019-10-18 14:50] satkunas opened #4865 "API: Import Bulk Nodes/Users endpoint needed"
The front-end requires 2 new bulk endpoints from the perl back-end:
- nodes
- users (persons)

This endpoint will be responsible to handle bulk import from CSV.

Expected request payload:
[code]

The endpoint should:
- process the `items` in the same order given in the request payload.
  - when `stopOnFirstError: true` stop execution on the first error and auto-fill all subsequent items in the res

[2019-10-18 19:02] julsemaan commented on #4814
I guess this should go in the maintenance if possible as its marked as a +1

[2019-10-18 19:09] jrouzierinverse commented on #4814
done

[2019-10-18 19:09] #4814 closed

[2019-10-20 21:13] beetdb commented on #4861
Thanks.  I've updated as mentioned and now I'm seeing :

![Screen Shot 2019-10-20 at 2 11 03 PM](https://user-images.githubusercontent.com/26783034/67166380-8dddea00-f343-11e9-91fe-98d3dbce0d63.png)

I only see the following in my packetfence.log:

Oct 20 14:09:04 bet0packet00 packetfence: INFO pfperl-api(2646): A file 'zIBMBX8TUenlL_4WLr9e8u1oaZuakCNY1PLk8cSJfSE' with the text: zIBMBX8TUenlL_4WLr

[2019-10-21 11:56] julsemaan commented on #4861
If you do 'Test public access', does it succeed or fail ?

Also, in order to provide more debug, do the following:
1. Apply the maintenance again (`/usr/local/pf/addons/pf-maint.pl`)
2. Restart all pf services (`/usr/local/pf/bin/pfcmd service pf restart`)
3. Try the cert onboarding
4. Provide the output of the following command while you onboard the cert: `journalctl -u packetfence-pfperl-api -f`

[2019-10-22 06:25] nqb opened #4866 "builds: caddy upgrade broke pfdns build"
After the merge of #4857, Golang builds failed with following error:
[code]
See [Failed pipeline](https://gitlab.com/inverse-inc/packetfence/pipelines/90209726/failures).

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Additional info**
There is certainly something to adjust in `go.mod` or `go.sum` because when I'm trying to reproduce the issue, I can see following diff in `go.sum`:
[

[2019-10-22 09:33] rossmeng opened #4867 "AD join fail after upgrade to samba 4.9.1"
**Describe the bug**
CentOS already update, so the samba version also got updated to 4.9.1.
when I try to join my packetfence instance to my domain, it fails but it works before I use samba 4.8.3

**To Reproduce**
Steps to reproduce the behavior:
1. configure AD
2. join the packetfence into the domain

result:
Failed to join domain: failed to precreate account in ou cn=Computers,dc=QACAKE,dc=TEST:

[2019-10-22 09:51] nqb commented on #4867
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2019-10-22 10:45] jrouzierinverse opened #4868 "update asciidoctor dependencies in spec"
In order to build the HTML documentation you need to have at least asciidoctor 2.0.10.
Our spec does not reflect this.

[2019-10-22 11:16] nqb commented on #4868
Yes, I know. As [I already explained for Golang](https://github.com/inverse-inc/packetfence/pull/4832#issuecomment-535984149), putting things in spec files only make sense when packages are available.

[2019-10-22 14:39] jrouzierinverse commented on #4868
The exact scenario happened that I was concerned about.
I could not reproduce the issue you were seeing.
As there is no known place for me to refer to fix the problem.
I packaged asciidoctor 2.0.10 for centos.
I will upload them to the OBS soon.

[2019-10-22 15:09] julsemaan opened #4870 "Obfuscate passwords in nodes+users bulk import"
TItle says it ALL!

james knows

[2019-10-22 17:00] #4866 closed

[2019-10-22 17:01] julsemaan commented on #4866
For some reason it did work on my dev machine, perhaps due to the fact I still had a GOPATH

Anyway, the fix above should do it and I tested it in your container, let me know otherwise

[2019-10-23 08:39] nqb commented on #4866
It works !

[2019-10-23 09:10] nqb commented on #2616
@satkunas, do you think it possible to have this feature for 9.2 ?

[2019-10-23 10:04] jrouzierinverse opened #4871 "Move auditing logic to it's own module to allow finer grain auditing cleanup."
In order to have a per endpoint audit cleanup logic.
The auditing logic should be in its own module.

[2019-10-23 14:10] #4865 closed

[2019-10-23 14:10] #4870 closed

[2019-10-24 08:27] lyubomirtraykov commented on #4850
The problem is that there is no:
Calling-Station-Id Attribute in the request.

[2019-10-24 11:21] julsemaan commented on #4850
@fdurand, could you investigate the issue with the RADIUS audit log + no Calling-Station-Id

[2019-10-24 11:49] julsemaan commented on #4867
This is an actual bug with PF using samba 4.9.1, not a user driven error/configuration

[2019-10-24 11:54] julsemaan commented on #4867
Its due to specifying the location of the account. Ran the net ads join command without createcomputer=XYZ and it worked fine

See the following RHEL bug:
https://bugzilla.redhat.com/show_bug.cgi?id=1746122

Will investigate the potential solutions, it seems to be a samba bug

[2019-10-24 12:09] julsemaan commented on #4867
It seems we'd have to use adcli or realmd to join the domain as a workaround which is not maintenance compatible.

The current workaround would be to pre-create the object when specifying a creation OU and to default to not specifying the parameter when creating in Computers which is the default value

[2019-10-24 12:17] julsemaan commented on #4867
Discussed with @extrafu and we'll be doing the following:
1. Strip createcomputer=Computers when creating in the default OU which will mean joining with default location will work
2. Add notes in the help saying that if you specify an OU other than Computers you'll have to pre-create the account in the AD
3. Wait for the samba fix and revert the 2nd point. If samba fails to deliver a fix shortly t

[2019-10-24 12:43] nqb commented on #4867
@julsemaan,

1. Are you able to reproduce the issue on a fresh CentOS 7.7 and not on a CentOS 7.6 ?

[2019-10-24 12:52] julsemaan commented on #4867
@nqb, the bug is when you upgrade to CentOS 7.7 and then join the domain afterwards.

Existing domain joins are unaffected and joining on CentOS 7.6 works fine AFAIK

[2019-10-24 12:53] julsemaan commented on #4867
Commits pushed for:

Will wait for the samba fix and will leave this opened to track this but will lower the priority

[2019-10-24 13:00] nqb commented on #4867
I asked details on RedHat issue you mentioned because I didn't see any reference to a Samba upstream bug.

[2019-10-24 13:04] nqb commented on #4867
https://bugzilla.samba.org/show_bug.cgi?id=14007

Samba already provides a patch.

[2019-10-24 14:02] jrouzierinverse commented on #3245
This was fixed by 5b99d7e76a772aecb6f4edbf4220269cd2bffe17

[2019-10-24 14:02] #3245 closed

[2019-10-24 14:03] jrouzierinverse commented on #4004
This has been taken care of by feature/admin_api_audit_log

[2019-10-24 14:03] #4004 closed

[2019-10-24 14:26] jrouzierinverse commented on #794
@satkunas what are your thoughts on having the API return warnings.
In this scenario, if there are leftover files from a previous profile.
And if that profile name is reused I would like to give a warning to the users.
[code]

[2019-10-24 16:53] satkunas opened #4873 "API - Bulk User Import requires password update"
The title says it all

[2019-10-25 06:40] lyubomirtraykov opened #4874 "Juniper EX2300 CoA Port Bounce"
Hello, It would be nice to implement CoA Port Bounce for EX2300, because the ssh method is very poor. It is supported since 18.1
You can find more info at:
[Juniper CoA Request Port Bounce](https://www.juniper.net/documentation/en_US/junos/topics/topic-map/802-1x-authentication-switching-devices.html#jd0e423)

[2019-10-25 19:11] jrouzierinverse commented on #4873
FIxed by b73de578aea2942fed4223a120cde82e775a23f8

[2019-10-25 19:11] #4873 closed

[2019-10-25 19:19] satkunas opened #4876 "Web Admin - v-slot:modal-footer not rendering on anything except <template>"
The following files will need to be tested and possibly adjusted:
[code]

[2019-10-25 22:52] #4509 closed

[2019-10-28 09:53] #1480 closed

[2019-10-28 09:53] #1907 closed

[2019-10-28 09:53] #1524 closed

[2019-10-28 14:12] #4876 closed

[2019-10-28 14:14] cgx commented on #4876
There's no modal in `pf-form-upload`; fix your stash.

[2019-10-30 10:49] nqb opened #4879 "pfdns: zone is not a valid domain name"
`pfdns` is not able to start on nightly builds.

If I start it manually, I got following message:
[code]

Same behavior on Debian and CentOS.

[2019-10-30 13:18] #4879 closed

[2019-10-30 13:20] #3789 closed

[2019-10-30 13:31] nqb opened #4881 "perl: deprecation message"
Deprecation message when running `pfperl-api`:
[code]
Caused dy #4848

[2019-10-30 13:36] nqb opened #4882 "builds: size of RPM packages"
Since we build RPM packages with new build system, I noticed two unexpected behavior:
- RPM package size increased a lot: `node_modules` directory is part of the RPM and should not
- Golang binaries are stored in two places:
  * `go/` dir
  * `sbin/ `dir

[2019-10-31 08:38] nqb opened #4883 "builds: yum-builddep failed sometimes"
Since new build system is in use, I noticed that some CentOS builds failed when running:
[code]

For example:
- https://gitlab.com/inverse-inc/packetfence/-/jobs/325461260
- https://gitlab.com/inverse-inc/packetfence/-/jobs/338011352

[2019-10-31 09:40] nqb commented on #4883
pfbuild-centos-7 docker images have been updated on Docker Hub. New builds will use new images and this issue should not occur.

[2019-10-31 14:44] nqb commented on #4882
In fact, we make all the javascript stuff in `BUILD` dir and then we copy the whole `html` dir into `BUILDROOT`.

My proposal:
- identify all files needed under `html` dir after a build occur (already done in Debian packaging)
- install only those files using a `make install-pfappserver`
- list these files in `%files` in SPEC

[2019-11-01 13:00] lzammit opened #4885 "Fingerbank: Can't write his config in the configurator"
Package:
[code]

Logs:
[code]

[2019-11-01 13:13] lzammit opened #4886 "PFDNS: does not start after at the end of the configurator"
PacketFence devel:
[code]

Logs:
[code]

[2019-11-01 13:23] julsemaan commented on #4886
It should have been fixed in https://github.com/inverse-inc/packetfence/commit/f28020203d33a2ce996247ea4e4ac3cbddeb11c7

Can you post your `/usr/local/pf/var/conf/pfdns.conf`

If possible this file should be rendered in a numbered list

[2019-11-01 13:36] julsemaan commented on #4886
It seems the build in devel isn't really based off devel as it doesn't contain my commit.

After investigation by the resident numbered list expert, it seems this branch is based off feature/ci-upload and not devel

@nqb needs to adjust the builds

[2019-11-01 18:46] #4881 closed

[2019-11-04 05:51] shed909 opened #4888 "dpsk.html appears to be missing"
**Describe the bug**
dpsk.html appears to be missing in 9.1.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DPSK/IPSK provisioner
2. Log in to the portal/portal preview
4. Receive the following error:

`''' Caught exception in captiveportal::Controller::Root->dynamic_application "Can't generate template provisioner/dpsk.html: file error - provisioner/dpsk.html: not foundError : f

[2019-11-04 07:13] nqb commented on #4886
#4880 has been merged.

[2019-11-04 07:13] #4886 closed

[2019-11-04 08:11] nqb commented on #4883
Still present:
- https://gitlab.com/inverse-inc/packetfence/-/jobs/340216809
- https://gitlab.com/inverse-inc/packetfence/-/jobs/339941638

[2019-11-04 08:55] nqb commented on #4883
I was not able to reproduce this issue using same container as on GitLab.com on my laptop. So it seems related to shared runners hosted on GitLab.com dealing with EPEL repos using `baseurl` parameter.

Current configuration of EPEL repo in `pfbuild` Docker containers is not perfect because we use `baseurl` parameter and upstream use `metalink` parameter.

For now, I will switch to install `epel-re

[2019-11-04 09:47] nqb commented on #4888
It seems you have same behavior as #3741. Commit https://github.com/inverse-inc/packetfence/commit/a51d02922176047ca26d40433d4c298d06b1938f has removed `ipsk.html`file from directory but I don't see any commit that adds `dpsk.html` back.

@julsemaan, did you want to rename `ipsk.html` to `dpsk.html` and forget to add back `dpsk.html` ?

[2019-11-04 10:28] nqb commented on #4883
Seems to be fixed according to [latest pipeline](https://gitlab.com/inverse-inc/packetfence/-/jobs/340764127).

[2019-11-04 10:28] #4883 closed

[2019-11-04 11:48] nqb opened #4890 "web admin: make Machine account and Computer name fields editable"
Allow to edit Machine account and Computer name fields from web admin.

Currently, these fields are only displayed on "Info" tab for Nodes.

[2019-11-04 11:53] nqb opened #4891 "web admin: allow to map all fields when doing CSV import"
**Is your feature request related to a problem? Please describe.**
Currently, when you do a CSV import, you can map CSV fields to a short list of users or nodes fields.

**Describe the solution you'd like**
From my point of view, you should be able to map all fields.

My use case: I want to set `machine_account` field for a list of nodes at import.

[2019-11-04 13:16] julsemaan commented on #4888
@nqb, its very likely this is what happened

[2019-11-04 13:19] julsemaan commented on #4885
@lzammit, can you confirm the permissions+owner of /usr/local/fingerbank and /usr/local/fingerbank/conf

[2019-11-04 15:25] lzammit commented on #4885
[code]

[code]

[2019-11-04 17:45] satkunas opened #4892 "MySQL schema upgrade statements should be re-runnable."
**Describe the bug**
Our upgrade db scripts require the ability to be re-run without generating an error such as "Database already exists", or "userid already exists". Doing so will prevent us from having to manually comment out each line that has already been run, either when re-running a modified upgrade-X.X.X-X.Y.Z.sql, or re-running the same script twice that halted midway due to a sync issue.

[2019-11-04 17:49] satkunas commented on #4892
The following example has 2 such problems:

Example: https://github.com/inverse-inc/packetfence/blob/devel/db/upgrade-X.X.X-X.Y.Z.sql

[code]

These should become

[code]

[2019-11-04 19:37] lzammit commented on #4885
El Señor @julsemaan point it out that PF is not part of the Fingerbank group:
[code]

[2019-11-05 12:44] nqb commented on #4885
Able to replicate on latest nightly builds.

[2019-11-05 13:06] nqb commented on #4885
That's the case for `apache`, `netdata` and `wbpriv` groups.

It looks like [following commands](https://github.com/inverse-inc/packetfence/blob/4bb1663e979fef7952888aaf00757c1c68d7803a/rpm/packetfence.spec#L566-L568) in pre-installation stage of PacketFence are not working as expected.

If I run first command after installation, `pf` user is added to all groups.

[2019-11-05 14:08] julsemaan opened #4893 "Multiple IPs on ZEN result in invalid output for admin interface location"
When you have more than 1 valid IP address on a ZEN machine it will display all the IPs as accessible for the admin. We should instead intelligently detect the admin network interface if possible and fallback to the first one otherwise for our output

[2019-11-05 15:03] nqb commented on #4893
What does "valid" mean ?

Do you mean detect the default network interface ?

[2019-11-05 18:18] #2616 closed

[2019-11-05 21:02] satkunas opened #4895 "Web Admin - Custom Reports generates many 404s while loading undefined user preferences."
**Describe the bug**
Load the Reports section in the web admin. Note many 404's in the network debug.

A 404 is generated for each preference that is loaded but does not exist.

We should leverage using the collection @ `/api/v1/preferences`

@jrouzierinverse Currently the `/api/v1/preferences` is too verbose. It currently includes both the key and the value. It should be modified and scaled back

[2019-11-05 21:19] shanehull commented on #4888
@nqb no, it seems like I never had either of them. Running a find for both files in the "pf" directory returns nothing. This is a fresh install of 9.1.0.

Edit: Nevermind, I just realised you were talking to @julsemaan  :D

[2019-11-06 08:37] nqb commented on #4885
I found the issue: `usermod` commands are not run because %pre installation scriptlet of PacketFence ends after creating user `pf` due to missing brackets around:
https://github.com/inverse-inc/packetfence/blob/4bb1663e979fef7952888aaf00757c1c68d7803a/rpm/packetfence.spec#L560

If user creation succeeded, scriptlet exit.

It works in the past because user creation was done by `packetfence-config`

[2019-11-06 09:33] nqb commented on #4885
I reopened issue to let you test again @lzammit but it looks good.

Content of `/var/log/secure` after package installation:
[code]

[2019-11-06 16:48] #4882 closed

[2019-11-06 17:06] Ieno77 opened #4897 "Error when adding/removing interface"
When adding or removing interface on the gui, I got this error;

[code]
Even if the error appear, if I refresh the gui the modification appear correctly.

Packetfence version: packetfence-9.1.9-20191106084038.93997110.devel.olab.el7.x86_64

[2019-11-06 19:02] lzammit opened #4898 "PFDNS: Process dies after one minutes"
Logs:
[code]

@julsemaan 👃  wat 2 do

[2019-11-06 20:32] lzammit opened #4899 "Devel: Can't save rule with unregistration date"
Rule created on a AD source.

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/5261214/68335462-7d9b6e00-00aa-11ea-9015-f52709f5fa1d.png">

<img width="455" alt="image" src="https://user-images.githubusercontent.com/5261214/68335518-9a37a600-00aa-11ea-9d44-74b27e8dd133.png">

[2019-11-06 20:37] #4898 closed

[2019-11-06 20:49] #4892 closed

[2019-11-06 21:05] lzammit opened #4900 "Default connection profile is disabled by default"
<img width="781" alt="image" src="https://user-images.githubusercontent.com/5261214/68337738-251a9f80-00af-11ea-9c23-7153f175b881.png">

[2019-11-06 21:49] lzammit opened #4901 "New Admin: Clear API event does not clear"
How to replicate:

Click on "Clear all" in the API Events

The number does not reset, if you refresh the page it does reset it.

I don't see obvious errors except one that I think is not related:
<img width="743" alt="image" src="https://user-images.githubusercontent.com/5261214/68340898-44b4c680-00b5-11ea-8ead-7a8e68ef13ed.png">

[2019-11-06 21:55] cgx commented on #4899
@jrouzierinverse I can fix the frontend, but could we use a standard syntax ([set_unregdate](https://github.com/inverse-inc/packetfence/blob/devel/html/captive-portal/lib/captiveportal/PacketFence/DynamicRouting/Module.pm#L74) vs [set_unreg_date](https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/Authentication/constants.pm#L162))?

[2019-11-07 10:52] jrouzierinverse commented on #4899
set_unreg_date

[2019-11-07 12:17] nqb commented on #4697
Hello,

I got same behavior for a customer running PF 9.0.1 after applying maintenance patches (not the case before I applied maintenance patches).

Issue is not only related to switches. I got same behavior when editing:
- an user already created
- an authentication source already created
- a connection profile already created

I'm able to reproduce issue on nightly builds, I got following messag

[2019-11-07 12:23] nqb commented on #4697
In order to identify which commit has caused regression, I list commits applied on my PF 9.0.1 setup:

https://github.com/inverse-inc/packetfence/compare/4d4f7ba3a77db5e238b351133d36f1d5e5fc8232...edf2d66bbc8d1bcab3874cb5ca0a532ca5eee2fc

[2019-11-07 12:24] nqb commented on #4697
@cgx and @satkunas,

Do you see a commit that can cause this behavior ?

[2019-11-07 12:42] nqb commented on #4697
Customer just informed me that he gots this behavior **before** I applied maintenance patches. So it doesn't seems related to maintenance patches.

From my point of view, we should try to fix this issue before releasing 9.2

[2019-11-07 12:51] julsemaan commented on #4697
I totally agree, this has been going on for way too long, its been like this since the initial release of 9.0

[2019-11-07 13:33] nqb commented on #4697
I moved milestone to 9.2 to be sure we don't skip it.

[2019-11-07 15:26] satkunas opened #4902 "API - NULL maintenance_task"
**Describe the bug**
[code]
Last entry is `null`

[2019-11-07 15:44] lzammit commented on #4900
Update, all connection profiles look like this:

<img width="775" alt="image" src="https://user-images.githubusercontent.com/5261214/68403730-66f92380-014b-11ea-9eb2-3272ca50fa46.png">

But they do work as they were enabled.

[2019-11-07 16:05] jrouzierinverse commented on #4900
This seems to be an issue on the frontend.
As the profile status is set in the response.

[2019-11-07 16:15] jrouzierinverse commented on #4902
Fixed by 950e4a279294756c2edca7871b95f855bf4a7521

[2019-11-07 16:15] #4902 closed

[2019-11-07 16:24] #4893 closed

[2019-11-07 16:52] julsemaan commented on #4888
Added it back in 29784811ae20440c4033055f053936e3453892f3 and cherry-picked up to maintenance/8.1 (release on which DPSK it was introduced)

[2019-11-07 16:52] #4888 closed

[2019-11-07 16:56] julsemaan commented on #4751
cherry-picked in maintenance/9.0

[2019-11-07 16:56] #4751 closed

[2019-11-07 17:04] jrouzierinverse opened #4903 "normalize the use of set_unreg_date through out the code base"

[2019-11-07 20:00] jrouzierinverse commented on #4895
Part of the issue is the endpoint does not use the standard CRUD interface.
So you cannot use search or select the fields you want to be returned.
As far as I can see the only thing it does it filters the preferences by the current_user.
@julsemaan is there anything else that should be taken into consideration when moving preferences to the standard CRUD interface.

[2019-11-07 20:02] julsemaan commented on #4895
@jrouzierinverse

What you've described is what is specific to that endpoint

[2019-11-07 20:12] jrouzierinverse commented on #4895
So to confirm there is nothing else as far as you know to take into consideration when moving preferences to the standard CRUD interface.

[2019-11-07 20:40] #4833 closed

[2019-11-07 22:17] satkunas opened #4904 "Backend error on fix_permissions"
`/usr/local/pf/sbin/pfperl-api get -M POST /api/v1/config/fix_permissions | jq ''`

[code]

[2019-11-07 22:34] satkunas opened #4905 "API - Admin Audit Log - Request column not compressed"
**Describe the bug**
The table `admin_api_audit_log` should utilize either table compression, or the `request` column should be type `BLOB` and used with `COMPRESS()` and `UNCOMPRESS()`. Currently bulk CSV imports can consume a lot of unnecessary disk space. Since we don't need to query (or index) the `request` column then compression would be ideal.

If we need to keep the `request` column readab

[2019-11-07 22:50] satkunas commented on #4905
Here's the statements I used to modify the table:
[code]

The subsequent schema:
[code]

I chose MEDIUMBLOB because it gives us up to 4MB. BLOB is only 64KB, and LONGBLOB is 4GB. It seemed like the ideal size.

We'll need to ensure that the BLOB column is not corrupted when dumped to backup and subsequently restored. There are some special mysqldump flags that will ensure this.

[2019-11-07 23:02] satkunas commented on #4905
With only 645 rows I only use 14% of the previous disk space w/ the compressed column.

**Before**
-rw-rw---- 1 mysql mysql  4194304 Nov  7 17:58 admin_api_audit_log.ibd

**After**
-rw-rw---- 1 mysql mysql   606208 Nov  7 17:51 admin_api_audit_log.ibd

[2019-11-08 10:28] #4904 closed

[2019-11-08 12:35] julsemaan commented on #4905
If we want to do this, then now is the time before we release the initial version of the table in the wild

@jrouzierinverse and @satkunas, make sure you have the necessary discussions so we can do the change today (nov 8th) if necessary before we start testing 9.2 4 the realz

[2019-11-08 13:56] satkunas commented on #4905
@jrouzierinverse additionally, the `status` column should be reduced as there's no need to store anything < 0 or > 499. So a SMALLINT should suffice.

[code]

[2019-11-08 14:00] satkunas commented on #4905
@jrouzierinverse  is the `user_name` the same as the `pid` column from the `persons` table? If so, should we not utilize the same column name?

[code]

[2019-11-08 14:06] satkunas commented on #4905
@jrouzierinverse since the `user_name` and `request` columns can contain utf8, the table should support this encoding/charset.

[code]

[2019-11-08 15:05] satkunas commented on #4905
Schema optimized with https://github.com/inverse-inc/packetfence/commit/c26270d64718b06daf26c6f612bf78e017d4c7af

[2019-11-08 15:05] #4905 closed

[2019-11-08 19:12] lzammit opened #4908 "PF devel upgrade broken"
I just upgraded my level environment and it looks broken.

[code]

[code]
[root@c7-testing pf]# ls -ltr
total 9320
-rw-r--r--  1 pf pf    8282 Nov  8 12:30 Makefile
-rw-r--r--  1 pf pf   18013 Nov  8 12:30 COPYING
-rw-r--r--  1 pf pf 9050283 Nov  8 12:30 ChangeLog
drwxr-xr-x  6 pf pf      76 Nov  8 12:30 html
-rw-r--r--  1 pf pf   66406 Nov  8 12:31 UPGRADE.old
-rw-r--r--  1 pf pf   86074 Nov  8 1

[2019-11-08 19:54] satkunas commented on #4900
This should have been fixed in https://github.com/inverse-inc/packetfence/commit/1694b5ef43fe54c54149997453cbe01c22d5d85b

[2019-11-09 04:10] rcmcdonald91 commented on #4573
https://community.ui.com/questions/Is-802-1X-Change-of-Authorization-CoA-support-still-on-the-road-map/caec9c47-4067-4fb2-8f72-3be316cc236a#answer/d9f23ee9-7507-4ef2-ad59-0ba3ab1efd5b

[2019-11-11 08:30] nqb commented on #4573
@theonemcdonald, even after being logged in, I'm not able to reach this web page.

[2019-11-11 09:02] nqb commented on #4908
Good catch @lzammit.

I added `config.mk` in RPM packaging, already presents in Debian.

Please close issue if all is working fine.

[2019-11-11 13:39] rcmcdonald91 commented on #4573
You need to have beta access.

https://account.ui.com/earlyaccess

[2019-11-11 13:49] fdurand commented on #4573
Exactly the same issue i have.

[2019-11-11 14:10] nqb opened #4912 "Golang unit tests: module github.com/inverse-inc/packetfence/go/caddy/caddy@latest"
If I run Golang unit tests, I got following erro:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Install PF dependencies
2. `make -C go go-env`
3. `./addons/packages/build-go.sh test /usr/local/pf/`
4. See error

**Additional context**
Certainly related to #4857

[2019-11-11 14:37] lzammit commented on #4908
I tested twice:

The first time I did check the time on the server and it was wrong:
[code]

I reverted the snapshot and I fixed the time:
[code]

That time it created the server certificate and the DH key.

[2019-11-11 14:52] nqb commented on #4908
Ok. Now, could you make a test with latest package built on devel ? `config.mk` should be included in RPM.

[2019-11-11 14:58] lzammit commented on #4908
I tried to restart and the certs are not there.
[code]

Yes, that's the latest devel:
[code]

[2019-11-11 14:59] lzammit commented on #4908
[code]

[2019-11-11 15:11] nqb commented on #4908
I push a new commit into `devel` to fix (https://github.com/inverse-inc/packetfence/commit/268f15269e02aecc209281eaa3d9f4b49db5de57) and trigger a new pipeline. Should be good in ~20 minutes.

[2019-11-11 15:32] satkunas commented on #4900
@lzammit please retest and close if all-is-good.

[2019-11-11 16:53] #4912 closed

[2019-11-11 19:29] lzammit commented on #4908
It fixes it but I do have an issue with this, is there any particular reason that file need to be put in /usr/local/pf?

I do a lot of auto-completion with the conf/ directory and now it does not show up as before because of that file, can it be moved somewhere else ?

Thanks!

[2019-11-11 19:33] lzammit commented on #4908
Edit: is it removed after the install ? It's not present now.

Forget my previous suggestion

[2019-11-11 19:37] fdurand opened #4913 "Can't locate object method "supportsRoamingAccounting""
Title say it.

Nov 11 14:35:11 localhost packetfence_httpd.aaa: httpd.aaa(24882) INFO: [mac:[undef]] Updating locationlog from accounting request (pf::api::handle_accounting_metadata)
Nov 11 14:35:11 localhost packetfence_httpd.aaa: httpd.aaa(24882) ERROR: [mac:[undef]] radius update locationlog accounting failed with error: Can't locate object method "supportsRoamingAccounting" via package "pf::S

[2019-11-11 19:57] #4913 closed

[2019-11-11 20:23] #4899 closed

[2019-11-11 20:25] #4900 closed

[2019-11-11 20:49] satkunas opened #4914 "Improve Label"
**Describe the bug**
Form label uses the key name. A more descriptive label is needed for the user.

https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/globals/configuration/pfConfigurationNetwork.js#L115-L127

**Screenshots**
![Selection_067](https://user-images.githubusercontent.com/3904468/68620121-d6984700-049a-11ea-8a44-2603f633a71b.png)

[2019-11-11 21:13] cgx commented on #4895
We should overwrite the string in the [source translation](https://github.com/inverse-inc/packetfence/blob/devel/conf/I18N/api/en.po#L12938).

[2019-11-11 21:13] cgx commented on #4914
We should overwrite the string in the [source translation](https://github.com/inverse-inc/packetfence/blob/devel/conf/I18N/api/en.po#L12938).

[2019-11-12 13:51] nqb commented on #4908
Hi @lzammit,

It should work as expected now:
[code]

No, file is included in RPM like any other file.

[2019-11-12 13:56] nqb commented on #4908
I suppose what you mean is now you need to enter `conf/` in place of `c+TAB` or `co+TAB` before. In that case, we can rename this file to another name later.

This file is only necessary during installation and post-installation steps, you can remove it after if you want.

[2019-11-12 13:56] #4908 closed

[2019-11-12 15:40] lzammit opened #4916 "Web admin: Removing a switch does not refresh the switch list."
Remove a switch and the packetfence-9.1.9-20191112123512.95344370.0007.el7.x86_64 and the switch remove properly but I need to refresh the page to make it disappear.

[2019-11-12 15:50] lzammit opened #4917 "Web admin: Cache not reloaded for new Access duration"
When you add a new access duration you need to refresh your web page in order to make it available in the drop down list in the source.

[2019-11-12 17:05] fdurand opened #4918 "Multiples authentication sources in Authentication::Login module issue"
**Describe the bug**
Multiples authentication sources in Authentication::Login module doesn't permit to see it in the captive portal choice.

**To Reproduce**
Create a portal module root + choice + Authentication::Login (2 login sources inside)
Assign it to a connection profile and hit preview, the module is not visible.
Remove one source from the Authentication::Login module and hit one more time

[2019-11-12 17:10] lzammit opened #4919 "Inline Layer2: Not getting access on the internet after registration"
The registration works until the node get switch IPSET session:

[code]

[2019-11-12 18:10] lzammit commented on #4885
Works.

[2019-11-12 18:10] #4885 closed

[2019-11-12 18:13] #4919 closed

[2019-11-12 18:57] julsemaan commented on #4918
The sources are being saved as an array instead of comma separated values.

@jrouzierinverse performed some changes in the multi-source handling in the form after 9.1 for another issue. I'll check that with him

Here is what it is:
[code]
Here is what it should be:
[code]

[2019-11-12 19:12] jrouzierinverse commented on #4918
@julsemaan please retry.

[2019-11-12 19:20] julsemaan commented on #4918
This works now but I'm unable to clear the authentication sources in the portal module. I'll open a separate issue.

Also will let @fdurand test that his original case does work correctly now

[2019-11-12 19:23] julsemaan opened #4920 "Unable to remove authentication sources in login portal module"
**Describe the bug**
I'm unable to remove all the authentication sources of a portal module

**To Reproduce**
1. Create an Authentication::Login portal module and specify a couple of authentication sources
2. Save that portal module
3. Clear the authentication sources
4. Save that portal module
5. Refresh the page and the authentication sources are still there

**Additional context**
From what I c

[2019-11-12 19:35] jrouzierinverse commented on #4918
What do you mean by clear the portal modules?

[2019-11-12 19:36] julsemaan commented on #4918
Was me writing too fast, I fixed my comment and opened another issue for this (#4920)

[2019-11-12 19:39] extrafu commented on #4918
Use that to make everything crystal clear:

![image](https://user-images.githubusercontent.com/1616141/68704362-30137b00-055a-11ea-963c-029d0649d257.png)

[2019-11-12 19:51] jrouzierinverse commented on #4920
@julsemaan please retry.

[2019-11-12 19:54] fdurand commented on #4918
tested and worked.

[2019-11-12 19:54] #4918 closed

[2019-11-12 20:03] Venice-89 opened #4921 "Eduroam Radius in Clustermode is not listening on VIP"
**Describe the bug**
If you run PacketFence 9.1.0 (with all Maintenance patches installed) in clustermode, radius server for edurom isn't listen on VIP.

After upgrading from 8.3.0 to 9.1.0 we had to add a single cluster-node as radius server on our wireless infrstructure for getting it working again.

Raddebug showes no auth informations coming in on VIP.

**Expected behavior**
Eduroam radius ins

[2019-11-12 20:05] extrafu commented on #3603
No feedback provided.

[2019-11-12 20:05] #3603 closed

[2019-11-12 20:11] #4916 closed

[2019-11-12 20:15] julsemaan commented on #4918
Reminds me of this: https://www.youtube.com/watch?v=yPCIsIJ7nhY

[2019-11-12 20:39] #4895 closed

[2019-11-13 14:00] lzammit opened #4922 "PFDHCP dies because of statsd"
[code]

[2019-11-13 14:31] Ieno77 opened #4923 "Cant reevaluate access on wired"
Tested on Cisco 2960 switch.

Error log:
[code]

[2019-11-13 14:47] fdurand opened #4924 "Email authentication - double email"
**Describe the bug**
Email registration create a double email

**To Reproduce**
Register by email

**Logs**

Double post on /signup:
Nov 13 10:10:04 localhost httpd_portal: 172.21.135.105 - - [13/Nov/2019:10:10:02 -0500] "POST /signup HTTP/1.1" 302 964 766 2642898 "http://www.prout.net/captive-portal" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.328

[2019-11-13 16:11] lzammit opened #4925 "IPSET: API error"
[code]

[2019-11-13 16:43] lzammit commented on #4916
works.

[2019-11-13 16:53] lzammit opened #4926 "Status page: Can't unreg a registered device"
When I click on the unreg button:

<img width="892" alt="image" src="https://user-images.githubusercontent.com/5261214/68785369-16327080-060c-11ea-98e5-9c070b285a60.png">

[code]

[2019-11-13 17:39] #4925 closed

[2019-11-13 18:01] julsemaan commented on #4926
Should be fixed, re-test and close using a specially formatted numbered list please

[2019-11-13 18:04] lzammit commented on #4926
Works.

[2019-11-13 18:04] #4926 closed

[2019-11-13 18:10] lzammit opened #4927 "Web Admin: Other Reports"
When I display the SMS registration section under Report > Other reports, I can see this error in the logs:
[code]

[2019-11-13 18:23] lzammit opened #4928 "Web admin: Can't assign role to local account"
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/5261214/68792116-b7272880-0618-11ea-9089-b6bb391e231e.png">

I don't have any available option to add a role.

[2019-11-13 20:04] lzammit commented on #4928
<img width="632" alt="image" src="https://user-images.githubusercontent.com/5261214/68799838-e8a6f080-0626-11ea-834e-9e8b6ffcc756.png">

[2019-11-13 20:14] julsemaan opened #4930 "Add #4929 once 9.2 is released"
Title says it all!

[2019-11-13 20:37] fdurand commented on #3713
Reappear in devel:
Nov 13 15:35:50 localhost packetfence_httpd.portal: httpd.portal(15241) ERROR: [mac:9c:b6:d0:8b:e5:db] Can't send email to 'bob@bob.bob' :'Wide character in syswrite at /usr/share/perl5/vendor_perl/Net/Cmd.pm line 212.' (pf::config::util::send_mime_lite)

[2019-11-14 14:43] jrouzierinverse commented on #4923
please retest

[2019-11-14 15:06] nqb commented on #4817
@jrouzierinverse,

Still presents in devel.

[2019-11-14 15:46] nqb opened #4931 "web admin: RADIUS audit log entry not clickable on Debian"
It's not possible to click on a RADIUS audit log entry to display it on Debian.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Auditing -> RADIUS Audit logs
2. Try to click on a line
=> Not able to display RADIUS audit log

**Expected behavior**
Open RADIUS audit log entry

**Additional context**
- Admin audit log entry works as expected
- Issue is also presents on a 9.0.1 setup

**We

[2019-11-14 15:57] nqb opened #4932 "pfperl-api: constantly call get_realm_authentication_source"
Since merge of #4929, I see a lot of `pfperl-api` logs on a Debian 9 setup each 30 seconds:
[code]
**To Reproduce**
- Install a fresh Debian 9 with latest builds
- Create some sources

[2019-11-14 15:58] nqb commented on #4930
See #4932 before merging.

[2019-11-14 20:00] jrouzierinverse commented on #4932
This should be fine unless you think it will fill up the logs to quickly.

[2019-11-14 21:22] lzammit opened #4933 "Local user creation: creates the account without an access duration"
It tells you that you need to put the unreg date or an access duration but it will create the local account anyway.

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/5261214/68897082-c9799300-06fa-11ea-8e1f-5e270c36dca5.png">

<img width="467" alt="image" src="https://user-images.githubusercontent.com/5261214/68897128-d7c7af00-06fa-11ea-87c4-cc82de3fb37a.png">

[2019-11-14 21:52] cgx commented on #4931
Can you set [VUE_APP_DEBUG](https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/.env#L3) to `true`, recompile the Javascript code and generate a new stack trace?

[2019-11-15 06:50] nqb commented on #4897
Able to reproduce the issue on nightly builds.

[2019-11-15 08:19] nqb commented on #4933
Able to reproduce this issue.

Issue is not present if you edited an already created user which didn't have a Role but an Access Level

[2019-11-15 12:14] nqb commented on #4932
I think that will fill up the logs quickly. On top of that, it prevents you to see interesting log messages.

[2019-11-15 13:50] lzammit opened #4934 "Default connection profile can be moved, should be static"
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/5261214/68947228-f4a7c500-0782-11ea-81fc-3e6d3504b8d6.png">

Once refresh it does come back at the first position.

[2019-11-15 14:59] Ieno77 commented on #4923
It works

[2019-11-15 14:59] #4923 closed

[2019-11-15 15:21] fdurand opened #4935 "Unable to compile the new admin gui"
**Describe the bug**
When we try to compile the admin gui we have the following error:

[code]
It's because it missing all the hidden files in the packaging:
 https://github.com/inverse-inc/packetfence/tree/devel/html/pfappserver/root/static.alt

[2019-11-15 20:46] fdurand opened #4937 "No tab RADIUS if Cisco ASA Switch module"
**Describe the bug**
There is no tab RADIUS ( no way to set the shared secret) for Cisco ASA switch module

**To Reproduce**
Create a switch in packetfence with type CIsco ASA

[2019-11-15 20:46] #4934 closed

[2019-11-15 20:51] cgx commented on #4928
I can't reproduce this issue. Are you running devel?

[2019-11-15 21:34] #4937 closed

[2019-11-18 07:14] nqb commented on #4931
![Capture d’écran de 2019-11-18 08-13-39](https://user-images.githubusercontent.com/10830260/69031865-5e221080-09db-11ea-9b3f-6c85f09c8cb4.png)

I don't see a real difference with VUE_APP_DEBUG set to `true`. @cgx, let me know if you have enough information to troubleshoot this issue.

[2019-11-18 07:18] nqb opened #4938 "web admin: Admin API audit logs displays authentication source passwords in clear text"
I'm able to see a password in clear-text when browsing Admin API Audit logs

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AD source
2. Go in Auditing -> Admin API Audit logs
3. Display last event
=> You can see "password" item in Request field.

**Expected behavior**
Password hidden with `*` characters.

[2019-11-18 07:23] #4935 closed

[2019-11-18 08:24] nqb opened #4939 "web admin: generated passwords doesn't always meet requirements"
I tried to generate a password with default parameters:
- 8 characters
- ABC
- 123
- abc

I noticed that sometimes password doesn't contain numbers.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a password several times when creating a user with default parameters

Password will not always contain number.

**Expected behavior**
Passwords should meet requirements.

[2019-11-18 08:25] nqb commented on #4928
Not able to reproduce too running on Debian with devel packages.

[2019-11-18 11:27] #4938 closed

[2019-11-18 12:52] nqb opened #4940 "docs: extra '#' missing at beginning of source blocks in HTML when using lists"
When you build an AsciiDoc document in HTML with following content:

[code]
Asciidoctor generation adds an extra '#' before first character of command. In this example:
[code]

I noticed that if you have following content, you don't have this behavior:
[code]

**Expected behavior**
'#' at beginning of code block.

[2019-11-18 13:45] nqb commented on #4940
https://raw.githubusercontent.com/inverse-inc/packetfence/devel/docs/PacketFence_Developers_Guide.asciidoc

[2019-11-18 14:15] nqb commented on #4931
As discussed, I will need to send content of `static.alt/dist/js`.

I will also check if there is an API call.

Another information: I noticed that `nodejs` is installed automatically when installing PacketFence from official Debian repositories. It seems to be a requirements from one of PacketFence dependencies.

[2019-11-18 14:22] nqb commented on #4940
Minimal example:
[code]

To generate:
[code]

[2019-11-18 15:09] fdurand opened #4941 "Add an additional daemon on an interface return an error"
**Describe the bug**
Edit the management interface, add additional daemon then save produce this error:
nov 18 10:03:58 localhost.localdomain packetfence[24807]: ERROR pfperl-api(24807): Can't locate object method "id" via package "pf::UnifiedApi::Controller::Config::Interfaces" at /usr/local/pf/lib/pf/UnifiedApi.pm line 106.
                                                           (Mojolicious:

[2019-11-18 15:14] nqb commented on #4941
Seems to be a duplicate of #4897

[2019-11-18 17:47] satkunas commented on #4933
I'm on this

[2019-11-18 18:03] extrafu commented on #4514
@satkunas I don't see that in the default v9.1 script.

I think everything should be in/out UTF8. The node_category table is hard-coded in latin1 right now in the SQL creation script.

We should review this thoroughly and offer a migration path from latin1 to UTF8.

[2019-11-18 18:12] #4933 closed

[2019-11-18 18:20] satkunas commented on #4927
Reproducible with:
[code]
Error is also seen on stdout:
[code]

Reassigning to @jrouzierinverse

[2019-11-18 18:33] satkunas commented on #4939
This seems like a non-issue to me. Because a password may contain A-Z, doesn't mean that all characters from A-Z must be included. It builds it by assembling a combined set from the selected subsets and picks from the combined set randomly, which doesn't guarantee that there will be at least one character from a desired subset. The same should be true for numbers. Otherwise, it wouldn't be able to

[2019-11-18 19:00] lzammit commented on #4928
Magically fixed

[2019-11-18 19:00] #4928 closed

[2019-11-18 19:18] nqb commented on #4931
@fdurand, any idea about a PF's dependency that depends on nodejs ?

[2019-11-18 19:29] nqb commented on #4931
@cgx,

I sent you my `dist/js` directory. As discussed, CentOS and Debian packages are both built using Nodejs 12.13.0 installed as distribution packages.

Able to reproduce issue with Chrome:
![Capture d’écran de 2019-11-18 20-22-09](https://user-images.githubusercontent.com/10830260/69082954-7d538900-0a41-11ea-8cb1-6266a4458aa4.png)

I'm able to see following API call: `api/v1/radius_audit_logs?

[2019-11-18 19:43] nqb commented on #4939
I agree with your explanation but it's not intuitive to see a box `123` checked to have a string that doesn't contain number at end.

[2019-11-18 19:43] #4939 closed

[2019-11-18 19:54] jrouzierinverse commented on #4941
Please test

[2019-11-18 19:54] nqb commented on #4931
@cgx, I did a build of web admin assets on CentOS and Debian using Nodejs 12.13.0, all files listed [here](https://gist.github.com/nqb/1e39bb617c3f9928682afd3d453bf97f) have same md5sum.

[2019-11-18 19:58] nqb commented on #4931
and there is not difference between build environments when I run `npm list -g`

[2019-11-18 20:40] #4927 closed

[2019-11-18 20:49] #4901 closed

[2019-11-18 21:41] satkunas commented on #4931
@nqb I was unable to reproduce. However, I was missing the `radius_audit_log`.`request_time` and `radius_audit_log`.`radius_ip` columns in my schema. I caught the omission and manually added the missing columns to test. When I removed the `radius_time` column I get an error (similar to yours).

Can you check to see if your missing these column(s) as well? If so, add them and see if you still get e

[2019-11-18 21:56] fdurand commented on #4941
fixaid

[2019-11-18 21:56] #4941 closed

[2019-11-18 21:57] fdurand commented on #4932
we can set to debug instead.

[2019-11-19 06:06] nqb commented on #4931
Unfortunately @satkunas, these two columns were already present in my table:
[code]
I will try on a fresh install and see if I'm able to reproduce.

[2019-11-19 07:33] nqb commented on #4931
Same behavior under Chrome and CentOS with a fresh Debian 9 installation (9.11 with latest security patches), running today nightly builds.

You will find a RADIUS log entry here: https://gist.github.com/nqb/9c3907deabcc8e11ab517b4463a4f13d

[2019-11-19 09:21] nqb commented on #4931
@satkunas, @cgx, if you want to replicate this issue, you can follow these instructions to have exactly same environment as me:

https://github.com/inverse-inc/packetfence/blob/devel/docs/PacketFence_Developers_Guide.asciidoc#not-so-bleeding-edge

Then in vm `pfdeb9night`:
[code]

[2019-11-19 10:07] nqb commented on #4932
@fdurand, it could be a solution for `get_realm_authentication_source` calls but I'm not sure we can do it for other function calls.

[2019-11-19 10:49] jrouzierinverse commented on #4897
fixed

[2019-11-19 10:49] #4897 closed

[2019-11-19 10:50] jrouzierinverse commented on #4920
@fdurand can you test this?

[2019-11-19 11:13] jrouzierinverse opened #4942 "Better error handling for HTTPSource when the json return is invalid"

[2019-11-19 11:36] #4942 closed

[2019-11-19 11:58] nqb commented on #4942
Nicely done @jrouzierinverse ;-)

[2019-11-19 15:22] extrafu commented on #4687
@lzammit Please test and close if all fine.

[2019-11-19 20:45] satkunas commented on #4338
@nqb you can consume each base individually with the URL:

`/api/v1/config/base/:id`

Example:

`/usr/local/pf/sbin/pfperl-api get -M GET /api/v1/config/base/general`

This was added later, and probably why the spec missed it.

[2019-11-19 20:56] nqb commented on #4338
hey @satkunas,

Thanks for your answer. I agree with you and I was aware of this. Sorry if my question was unclear.

In fact, I would like to know where can I get a list of all ids available for `/api/v1/config/base/`. I understand you, you mean this information is missing from the specs ?

[2019-11-19 21:03] satkunas commented on #4338
There's no endpoint for just the ID's, but you can consume the collection `bases` to list them

`/usr/local/pf/sbin/pfperl-api get -M GET /api/v1/config/bases |  jq '.items[].id'`

[2019-11-19 21:54] lzammit commented on #4687
Imported 10 000 nodes, works.

[2019-11-19 21:54] #4687 closed

[2019-11-19 22:06] lzammit opened #4944 "PFDNS audit log: Does not work when pfdns loose the connection to the db"
Logs:

I enable the PFDNS audit log and can't see entries.

[code]

I had to restart pfdns and it worked.

[2019-11-19 22:43] fdurand opened #4945 "Database error on node_add_simple"
**Describe the bug**
If it's the first time a device appear on the network then packetfence try to add twice an entry in the node table.

The dhcp process is to quick between a request and a ack than packetfence detect that the device is not yet in the database so the second node_add_simple return a error message:

[code]
We should use REPLACE instead of INSERT

[2019-11-20 10:18] rt050 opened #4946 "Engenius Devices Supported?"
Hi there,

Before I start I was wondering if you've had any confirmation of a working set-up on Engenius equipment?

Specifically the EAP1300, EAP1250 + EWS switches.

Thanks,
Ryan

[2019-11-20 14:23] satkunas commented on #4945
Use INSERT IGNORE

[2019-11-20 19:57] #4862 closed

[2019-11-20 20:06] #4536 closed

[2019-11-21 11:12] #4932 closed

[2019-11-21 14:35] #4854 closed

[2019-11-21 15:14] #4842 closed

[2019-11-21 15:17] #4726 closed

[2019-11-21 16:17] lzammit opened #4952 ""Wireless-802.11-NoEAP" isn't numeric"
I don't know what it affects but does not look good.

[code]

PF version:
[code]

[2019-11-21 16:20] lzammit opened #4953 "Inline L2: Can't register, registration IPSET is not removed"
[code]

[2019-11-21 16:26] lzammit opened #4954 "Security event: Autoreg on DHCP fingerprint is not longer working"
The violation is not triggered for the DHCP fingerprint: 1,121,3,6,15,119,252

conf/security_events.conf:
[code]

[2019-11-21 16:38] lzammit opened #4955 "Web admin: Can't reevaluate access"
I do re-evaluate access from the node info page.

I got that in the Packetfence.log:
[code]

[2019-11-21 17:32] jrouzierinverse commented on #4922
Please retry

[2019-11-21 19:06] jrouzierinverse commented on #4952
Do you know how to trigger this?

[2019-11-21 19:12] satkunas commented on #3925
@julsemaan no longer relevant. Closing.

[2019-11-21 19:12] #3925 closed

[2019-11-21 19:29] satkunas commented on #4690
No longer able to reproduce on FireFox v70.0. Closing.

[2019-11-21 19:29] #4690 closed

[2019-11-21 20:09] satkunas commented on #4920
I'm unable to reproduce.

[2019-11-21 20:32] #4856 closed

[2019-11-21 21:01] jrouzierinverse commented on #4952
Fixed by b660c86874062043cf480007e482117e01b74782 please retest.

[2019-11-21 21:10] jrouzierinverse commented on #4955
Can you retest?

[2019-11-21 21:21] jrouzierinverse commented on #4920
Should we close this then?

[2019-11-22 13:41] ev5unleash opened #4957 "MemberOf Filter not working"
Hi Everyone,

I'm fairly new to PacketFence so bare with me. Everything is working for the most part except for the memberOf filter under authorization. I believe this is a bug in the current code. I have tried the exact path with equals, and just the group name with contains. I've looked over the configuration multiple times, but the system continues to skip over this rule and just hit my catch a

[2019-11-22 13:42] ev5unleash commented on #4957
Version: 9.1.0

[2019-11-22 15:07] extrafu commented on #4955
@lzammit Please retest ASAP.

[2019-11-22 15:08] extrafu commented on #4954
@jrouzierinverse Please have a look ASAP. It's our last day.

[2019-11-22 15:08] extrafu commented on #4953
@jrouzierinverse Have a look ASAP, last day.

[2019-11-22 15:08] extrafu commented on #4952
@lzammit Please retest ASAP.

[2019-11-22 15:08] extrafu commented on #4944
@fdurand We keep it for v9.2 or not? Last day for any bug fix.

[2019-11-22 15:09] extrafu commented on #4922
@lzammit Please retest ASAP.

[2019-11-22 15:09] extrafu commented on #4920
If it's not reproducible, let's close it.

[2019-11-22 15:09] #4920 closed

[2019-11-22 15:22] fdurand commented on #4944
I think we can push it in +1 then it will be in the maintenance

[2019-11-22 17:48] #4944 closed

[2019-11-22 18:09] #4955 closed

[2019-11-22 18:11] lzammit commented on #4952
Not happening anymore

[2019-11-22 18:12] #4952 closed

[2019-11-22 18:34] jrouzierinverse commented on #4954
This seemed to be fixed by f8f938b9d4db672e7ea8d4ae16160488d7ad1e19.
Please re-review

[2019-11-22 19:19] #4931 closed

[2019-11-24 10:17] Yosirion opened #4958 "Authentication::Null portal module"
Bug description
After a user has filled in and confirmed the fields indicated in the Null Portal Module, an empty entry is added in the User section of the Web GUI instead of an entry containing the information specified by the user.

Configuration
I followed the steps in section 14.1.1 of the Installation Guide

[2019-11-24 10:26] ghost commented on #4579
I have the same issue. Fingerbank process doesn't start at the initialization of a new connection profile. I'm sure of this because the process timestamp does not match the system time when a new device is detected.

[2019-11-25 06:36] nqb commented on #4697
@extrafu, any reason you change milestone for this issue ?

From my point of view, we should fix this issue for 9.2. Editing items mentioned here is really painful with this bug. I'm putting back 9.2 milestone, feel free to change it.

[2019-11-25 07:33] nqb commented on #4957
Hello,

Switch log level from info to debug in `$PF/conf/log.conf.d/httpd.aaa.conf` and restart `httpd.aaa`, you certainly have an issue with your LDAP configuration. `memberof` is working as expected in 9.1.

I'm closing this issue because we want to keep this bug tracker for bugs and features. Feel free to send an email on mailiing list.

[2019-11-25 07:33] #4957 closed

[2019-11-25 09:19] BotDW opened #4959 "Cannot load required JS library: https://X.X.X.X:XXXX/netdata/127.0.0.1/lib/**"
Hello Guys,
i'm completly new to packetfence. The appliance throws the following error as soon as i try to access the WebGUI on Status or Reports :

The libary which failed to load varies from
/perfect-scrollbar-0.6.15.min.js
/dygraph-c91c859.min.js
/d3-4.12.2.min.js

I took a look at what rpm packages are recommended, and i noticed that the perl version i'm using on my CentOS 7.7.1908 is  v5.16.3

[2019-11-25 10:03] nqb commented on #4959
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of reports.

[2019-11-25 10:03] #4959 closed

[2019-11-25 10:57] #4759 closed

[2019-11-25 12:24] extrafu commented on #4697
We'll have to push it to v9.3 - it requires too much work for 9.2. We should make it available in the maintenance nonetheless if possible.

[2019-11-25 13:31] julsemaan commented on #4648
This needs to go in maintenance/9.0 and maintenance/9.1

[2019-11-25 13:31] julsemaan commented on #4085
This needs to go in maintenance/9.0 and maintenance/9.1

[2019-11-25 13:31] julsemaan commented on #4696
This needs to go in maintenance/9.0 and maintenance/9.1

[2019-11-25 13:38] julsemaan commented on #4917
This needs to go in maintenance/9.0 and maintenance/9.1

[2019-11-25 13:38] julsemaan commented on #4914
This needs to go in maintenance/9.0 and maintenance/9.1

[2019-11-25 15:22] satkunas commented on #4890
@nqb both of these fields are normally pulled from the AD and stored locally. Is there a specific reason why they should be mutable?

[2019-11-25 16:08] fdurand commented on #4953
configuration issue

[2019-11-25 16:08] #4953 closed

[2019-11-25 16:09] #4922 closed

[2019-11-25 17:41] satkunas commented on #4917
@julsemaan done

[2019-11-25 17:41] #4917 closed

[2019-11-25 17:43] satkunas commented on #4696
@julsemaan done

[2019-11-25 17:43] #4696 closed

[2019-11-25 17:53] lzammit opened #4960 "Inline L2: NAT option not checked by default"
When you create a new inline L2 interface the NAT option is not checked.

[2019-11-25 18:04] satkunas commented on #4672
@julsemaan done

[2019-11-25 18:50] #4960 closed

[2019-11-25 18:52] extrafu commented on #4954
@lzammit Restest ASAP.

[2019-11-25 18:52] satkunas commented on #4960
Cherry-picked into `maintenance/9.0` and `maintenance/9.1`

[2019-11-25 19:05] satkunas commented on #4891
Related #4890

[2019-11-25 19:06] satkunas commented on #4890
Related #4891

[2019-11-25 19:57] satkunas commented on #4914
@julsemaan done

[2019-11-25 20:22] lzammit commented on #4954
I re-tested and it does the same, it does not trigger anything.

[2019-11-25 20:25] lzammit opened #4961 "Web admin: Configuration issue when security event is saved"
It adds up role in the security event every time I save it:
[code]

[2019-11-25 20:41] #4924 closed

[2019-11-25 20:46] jrouzierinverse commented on #4961
This is being sent multiple times so this why.
[code]

I will remove the duplicate actions in the backend.

[2019-11-25 20:56] jrouzierinverse commented on #4961
Please retest

[2019-11-25 21:15] #4961 closed

[2019-11-25 21:45] fdurand commented on #3713
retested and works now.

[2019-11-25 21:45] #3713 closed

[2019-11-25 22:14] fdurand commented on #4954
worked on my side but it's more an issue with the way to select a dhcp fingerprint in the admin gui.

[2019-11-25 22:31] satkunas opened #4962 "(API) OPTIONS - dhcp_fingerprint dynamic search operator needed"
**Describe the bug**
Related #4954
Searching for a DHCP fingerprint returns too many results. The search path uses the `contains` operator, where in this specific case it would help if the `starts_with` operator was used instead.

We can assist the user search in a couple different ways:
* Modify the meta to include a `search_operator` that we can utilize when consuming the `search_path`.
* Give t

[2019-11-26 13:16] #4954 closed

[2019-11-26 17:04] fdurand opened #4963 "In multi_zone config the db server list is not ordered by the position in cluster.conf"
**Describe the bug**
Multizone cluster config, 5 DC, the cluster.conf is the same on each servers.
When you generate haproxy-db configuration, it doesn't respect the order in the file.

[2019-11-26 19:01] satkunas opened #4966 "API - Front-end searches are pushed to admin audit log."
**Describe the bug**
Front-end searches (POST) are pushed to admin audit log.

[2019-11-26 23:48] #4966 closed

[2019-11-26 23:54] jrouzierinverse commented on #4966
Should this be pushed into maintenance?

[2019-11-27 00:57] extrafu commented on #4966
Absolutely.

[2019-11-27 13:00] nqb commented on #4697
I set this issue with a high priority because another customer is impacted by this behavior.

[2019-11-27 15:02] #4963 closed

[2019-11-27 16:10] cgx commented on #4440
Some of those metrics can be obtained from netdata.

[2019-11-27 17:20] #3787 closed

[2019-11-27 18:29] cgx commented on #3778
The `local` source is now simply [concealed](https://github.com/inverse-inc/packetfence/commit/0077799a3c92a25679bbdf41b11494bea1ca6dc0#diff-1e657d0cbc58a4e173e1852822d542b9R189-R200).

[2019-11-27 18:43] fdurand commented on #4921
Tested and not able to replicate.
Did you restarted packetfence-radiusd-load_balancer.service ?

[2019-11-27 21:01] Venice-89 commented on #4921
We will test it again, maybe its caused by an issue while migrating to 9.1
(fixed in Support ticket 0008196)

We just applied the changes of  /usr/local/pf/raddb/policy.d/packetfence on one of our cluster nodes because we thought it's replicated to the other nodes, like files in /usr/local/pf/conf

[2019-11-28 06:48] nqb commented on #4469
I'm able to reproduce this issue on a 9.1 and 9.2 setup.

Steps to reproduce:
- Create a new switch group called "my_group" with:
  * description: "my_group"
  * type: Dell::PowerConnect3424
- Save
- Create a switch based on "my_group"
You got following display:
![Capture d’écran de 2019-11-28 07-43-00](https://user-images.githubusercontent.com/10830260/69783163-36893000-11b3-11ea-9baa-fcb75a718be

[2019-11-28 06:49] nqb commented on #4469
@Venice-89 can confirm.

[2019-11-28 07:02] ttcchl01 opened #4973 "dhcp server add option 66 67 TFTP open timeout"
packetfence godhcp server config option 66 67 for  client cannot pxe boot , always TFTP open timeout,
but use isc-dhcp alt. dhcpd  works fine.

DHCP OPTION 66  67 TFTP open timeout

##add option command
curl -H "Content-Type: application/json" -d '[{"option":66,"value":"192.168.0.36","type":"string"},{"option":67,"value":"undionly.kpxe","type":"string"}]'  http://127.0.0.1:22222/api/v1/dhcp/option

[2019-11-28 08:15] nqb commented on #4973
Hello,

It seems that option is correctly sent to your end-device no ? In DHCPACK:
[code]

[2019-11-28 09:32] nqb opened #4974 "Parking: unable to make it working"
On a 9.1.0 setup ([httpd.parking as been removed](https://github.com/inverse-inc/packetfence/pull/4673)), I enabled parking feature in a VLAN enforcement setup following [Installation Guide instructions](https://packetfence.org/doc/PacketFence_Installation_Guide.html#_parked_devices).

If I trigger the security event related to parking on a device in the registration network, this device is consta

[2019-11-28 12:07] julsemaan commented on #4974
It seems that in checkForParking it still redirects you to the valid portal FQDN on /captive-portal

From what I know this doesn't make it go through the dispatcher since its on a valid domain so it goes back into httpd.portal over and over.

We could redirect the user to /go-to-parking and get this path handled in passthrough.lua

I'll let @fdurand confirm this to make sure

[2019-11-28 12:11] julsemaan commented on #4469
The fact that it doesn't display before saving is a different issue IMO

Since the data is dynamically computed from N possible layers of hierarchy, getting the frontend to compute that would be heavy and painful I think. What we could do is trigger the save of the switch when we change the switch group or have a button right next to it to apply the switch group and reload the view from what the s

[2019-11-28 13:43] nqb opened #4975 "web admin: unable to display devices for host/ users"
When a user has a name with a prefix "host/" and is doing registration, web admin doesn't display nodes in "Devices" tab of the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable auto-registration on default connection profile
2. Generate a client certificate with `host/myusername`:
  * set `commonName = host/myusername` (last line of file) in `/usr/local/pf/raddb/certs/client.cnf`

[2019-11-28 16:12] Venice-89 commented on #4921
Mhhh no success

No logs for that connection on packetfence cluster nodes (no log in radius)

**Node is listening on correct port**

[code]

**IP Tables rule is correct**

[code]
**Server is receiving packages from AeroHive AP**

[code]

But is rejecting the request:
**Log from Aerohive**

[code]

`Nov 28 16:50:30 pf-1 load_balancer[4191]: (114650) Login incorrect (No Auth-Type found: rejecting th

[2019-11-29 00:48] ttcchl01 commented on #4973
nqb THX for reply
more tcp dunp from end-device
## packetfence dhcp tcpdump from end-device boot failure bad return
08:26:35.027975 ARP, Request who-has inline2.local tell 192.168.0.57, length 46
08:26:35.028066 IP **192.168.0.57.ah-esp-encap > inline2.local.tftp:  30 RRQ "undionly.kpxe"** octet tsize 0
08:26:37.048513 IP 192.168.0.57.acp-port > inline2.local.tftp:  30 RRQ "undionly.kpxe" octet ts

[2019-11-29 06:52] #4975 closed

[2019-11-29 08:33] #4974 closed

[2019-11-29 09:26] nqb commented on #4973
Hello @ttcchl01,

In your situation, `pfdhcp` doesn't set `Next Server IP address` to Option 66 value in **header** (not options) of DHCP ACK. In that case, you need to set option 67 to a full TFTP URI like this: `tftp://tftp.example.lan/undionly.kpxe` (see http://ipxe.org/err/3c0920#additional_notes). Option 66 is useless in that situation.

Command:
[code]

Could you check if `isc-dhcp-server` s

[2019-11-29 09:54] nqb commented on #4338
Thanks @satkunas

[2019-11-29 09:54] #4338 closed

[2019-11-29 09:57] nqb commented on #4441
I will see if this issue is still presents.

[2019-11-29 12:45] bklier opened #4976 "Roles missing in 'Role mapping by VLAN ID' while editing switches or switch groups (pf 9.0.1)"
**Describe the bug**
After adding a new role at 'Configuration -> Roles', most of the defined roles are missing from 'Configuration -> Policies and Access Control -> Network Devices -> Switches (or Switch Groups)' (see attached screenshot... I have about 250 defined roles... only the first 28 appear in the table...)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> Poli

[2019-11-29 12:48] chrkoe opened #4977 "Bypass role/vlan for specified time"
When you have some clients which needs a bypass vlan, you set the role/vlan and forgot about changing back.

It would be nice if you can add an option to set an "End date/time" for the bypass function.
e.g.:
role: "static"
bypass role: "dynamic"
bypass ends: "2019-29-11 03:00 pm"

And then you have to handle that date/time:
1. Wait for the next authentication request and remove the bypass vlan/rol

[2019-11-29 15:42] julsemaan commented on #4976
I believe this issue has been fixed in the maintenance

Apply it running this command twice:
/usr/local/pf/addons/pf-maint.pl

And then restarting all the PF services

Reopen if it doesn't work

[2019-11-29 15:42] #4976 closed

[2019-11-29 16:08] bklier commented on #4976
Thank you, it's working again - at least it's displaying the list again, but editing the form is painfully slow.

[2019-12-02 08:38] nqb commented on #4469
I disagree. Description of this issue:

When I'm creating a switch, I didn't see the "Type" of the switch until I save. Consequently, I will configure it.

[2019-12-02 08:51] nqb opened #4979 "web admin: wrong value display for a switch after an override"
When I create a switch from a switch group and I override its `Type` field with a value different from switch group, it works. However, when I want to set back `Type` field to value from switch group, web admin shows value from switch group but `switches.conf` use value from default switch group (Generic).

**To Reproduce**
- Create a new switch group called "my_group" with:
  * description: "my_g

[2019-12-02 11:58] nqb opened #4980 "parking: /release-parking is cached"
After applying #4974 fix on a setup, I'm not able to make parking feature work as expected.
If the Parking security event is triggered on a node, I need to reach /release-parking URL twice before security event is closed. The first time I reach /release-parking URL, my web browser gets it from cache. Consequently, parking security event is not closed.

**To Reproduce**
Steps to reproduce the behav

[2019-12-02 12:07] fdurand commented on #4980
conf/caddy-services/httpdispatcher.conf.example needs to be renamed after you apply the patch.

[2019-12-02 12:29] extrafu commented on #4395
@nqb Can we close this?

[2019-12-02 13:25] nqb commented on #4980
@fdurand: already done !

[2019-12-02 13:30] nqb commented on #4395
@extrafu, I suppose @satkunas wants to remove its workaround added by 31a4dc3 before.

[2019-12-02 14:18] fdurand commented on #4980
I am not able to replicate on my side.
In the http response header, can you see : Cache-Control: no-cache, no-store, must-revalidate ?

[2019-12-03 15:50] fdurand commented on #4921
Can you try that:
https://github.com/inverse-inc/packetfence/commit/4fe5bb42d9d39767dbb19b743759504943ae517c

[2019-12-03 15:59] satkunas commented on #4440
@cgx I'd prefer these metrics were not dependent on netdata. If we hope to run PF on embedded devices they should be standalone.

[2019-12-04 06:20] nqb commented on #4867
Samba patch has been merged into CentOS 7.7: https://access.redhat.com/errata/RHBA-2019:3969

[2019-12-04 11:00] Venice-89 commented on #4921
I have applied the patch, I am out of office but a colleague will test it today.

[2019-12-04 12:32] lyubomirtraykov opened #4981 "Can't add Local Fingerbank Device"
When I try to add new Local Fingerbank Device the interface sends me to black page with url: https://pf.local:1443/admin/alt#/

[2019-12-05 09:08] lyubomirtraykov opened #4983 "Firewall SSO is sending Radius accounting 'Stop' request for not configured roles"
Packetfence is sending Radius accounting 'Stop' request to the firewall even if the node role is not selected in the Firewall SSO configuration.

[2019-12-05 15:14] nqb commented on #3862
@jrouzierinverse, is Admin Audit Log (see #4834) feature solves this issue ?

[2019-12-05 15:41] jrouzierinverse commented on #3862
Yes

[2019-12-05 15:41] #3862 closed

[2019-12-06 12:23] nqb commented on #4980
Cache issue on my side.

[2019-12-06 12:23] #4980 closed

[2019-12-06 12:32] nqb opened #4985 "Debian: haproxy's logs missing from $PF/logs"
On Debian 9, haproxy's logs are missing from `$PF/logs`. haproxy write its logs in `/var/log/haproxy.log`.

**Expected behavior**
Two logs files `haproxy-portal.log` and `haproxy-db.log` in `$PF/logs` directory like for CentOS.

[2019-12-06 12:46] nqb opened #4986 "Copyright in conf files caused useless rpmnew or dpkg-dist files during upgrades"
Some conf files (see below) contains a copyright which is updated each year. When you make an upgrade, package manager detect those files as new and create useless rpmnew or dpkg-dist files.

Conf files with an Inverse copyright:
[code]

**Expected behavior**
From my point of view, we should drop copyright from these files because most of files under `conf` directory doesn't contain any copyright

[2019-12-06 12:47] Venice-89 commented on #4921
Hi,

no, same Issue like before.
I applied all maintenance patches on all packetfence nodes and get the same message:

Dec  6 13:45:33 pf-1 load_balancer[26353]: (250) Login incorrect (No Auth-Type found: rejecting the user via Post-Auth-Type = Reject): [anonymous@ads.fraunhofer.de] (from client 10.130.22.27/32 port 0 cli A0-28-ED-83-CA-C4) - Proxied to:

[2019-12-06 13:45] fdurand commented on #4921
You need to rename conf/radiusd/eduroam-cluster.example to conf/radiusd/eduroam-cluster and restart radius.
Btw there is the PR #4982 who is a better fix.

[2019-12-06 14:40] nqb opened #4987 "node_discovered is triggered when you create a node from API"
When security event "Node discovered" is enable and you create a node, this security event is triggered.

**To Reproduce**
1. Enable "Node discovered" security event
2. Create a node
3. Check your mail box or mail queue

**Expected behavior**
Only trigger this security event when a node has been *discovered*, not created in web admin. By
*discovered*, I mean data comes from DHCP or RADIUS request.

[2019-12-06 14:50] nqb opened #4988 "security event: unable to execute a script"
When I want to execute a script when a security event is triggered, it doesn't work.

**To Reproduce**
1. Create a shell script on your PF server:
[code]
2. Configure following security event
[code]
3. Create a new node in web admin to trigger this security event (as reported on #4987)

**Expected behavior**
Script `/usr/local/bin/node-discovered.sh` executed.

**Additional context**
Logs in `pack

[2019-12-06 15:01] nqb commented on #4988
Issue is caused by the fact that scripts are run by [pf user using sudo](https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/action.pm#L188) but we limit what [pf user can run using sudo](https://github.com/inverse-inc/packetfence/blob/devel/packetfence.sudoers#L1).

[2019-12-06 15:06] nqb commented on #4988
From my point of view, we should:
* remove `sudo` call in `action_api` function because it seems to be used only to run security events scripts
* improve documentation about this setting to inform user that `pf` user should have rights to read and execute these scripts

@julsemaan, does it sounds good for you ? If yes, I will make a PR

[2019-12-06 15:26] julsemaan commented on #4988
Sounds good to me

Just a small upgrade note as well on this change and that will be perfect

[2019-12-06 15:45] nqb opened #4989 "web admin: forbid actions without "Read" privilege in Admin roles menu"
Currently, you can create admin roles without "Read" privilege. For example, an admin role with only a "Node - Create" privilege. If you try to log on PF web admin with a user assigned to this role, your web browser freezes. In log you can see something:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an admin role called `Role-1`
   * Actions: Nodes - Create
1. Create a user `

[2019-12-06 15:51] #4921 closed

[2019-12-06 15:56] nqb opened #4990 "Admin roles: add a new setting to allow visibility of Nodes/Users"
When you'are logged on web admin as a user with an admin role with following privileges:
   * Actions: Nodes - Create
   * Actions: Nodes - Read
   * Node options - Allowed node roles: `role1`

You can see Nodes with all roles.

**Expected behavior**
From my point of view, we should add a new setting that control display of nodes (or users) like "Allowed node roles" that control which roles can be

[2019-12-06 15:59] julsemaan commented on #4921
So it should work now if you apply the maintenance and rename eduroam-cluster.example to eduroam-cluster and restart radiusd

[2019-12-06 16:15] julsemaan commented on #4930
@nqb, are we safe in putting #4929 in maintenance/9.2 or something in #4932 still prevents this from happening?

[2019-12-06 16:22] julsemaan commented on #4724
Tried to replicate and all is good now. Reopen if necessary.

[2019-12-06 16:22] #4724 closed

[2019-12-06 16:34] nqb commented on #4930
No more messages on a clean Debian 9 install @julsemaan, you can push to maintenace.

[2019-12-06 17:46] #4691 closed

[2019-12-06 17:50] #4718 closed

[2019-12-06 18:36] julsemaan commented on #4796
I created a switch group and added members to it and I can't see it in the switch groups.

I also can't see the default group

This is on the latest devel (40b626c4394b92863642f66faba20b6cc313d74a)

[2019-12-06 18:38] julsemaan commented on #4796
I'm using a large switches.conf file and it seems that there is an API call to list the first 1000 switches.

This call never seems to complete.

@satkunas, can you see if the 1000 limit is really necessary

[2019-12-09 02:58] scv-m opened #4991 "Can't boot live system from Hyper-V (9.0) VM"
**Describe the bug**
_I'll start this off with the fact that I renamed the .img to .iso in able to boot this from a Hyper-V VM in the first place. Just in case this is where the issue might lie?_

When live booting a Hyper-V VM with Configuration Version 9.0 using the PacketFenceZEN_usb.iso the boot stalls at `(initramfs) aufs not available` and does not proceed any further.

- When creating a VM

[2019-12-09 12:08] nqb commented on #4890
@satkunas,

I see several reasons:
1. You want to register several devices using a CSV file by doing an import
2. You want to use this field for your devices even if you don't have an AD or if you don't use an AD source

[2019-12-09 14:31] extrafu commented on #4991
@julsemaan Might be relevant to remove this from the vagrant builds.

[2019-12-09 14:58] julsemaan commented on #4991
Its not yet part of the vagrant builds and still made manually with love by @fdurand

[2019-12-09 18:25] #4988 closed

[2019-12-10 02:02] ttcchl01 commented on #4973
Hi nqb
sorry for late reply and thank you very much for your help,
but option 67 config still problem on pxe boot,
ISC mybe alt.method

[2019-12-10 06:17] nqb commented on #4973
Hello,

Could you paste here configuration of your network with only 67 option ?

[2019-12-10 15:27] danpoltawski opened #4993 "Debian Packages Signed by RPM Key"
**Describe the bug**
The install instructions on https://packetfence.org/support/faq/how-to-install-packetfence-on-debian.html suggest importing the key 0x810273C4 but this key doesn't seem to sign the packages.

When trying to install, it seems the RPM Signing key is required.

**To Reproduce**
Steps to reproduce the behavior:
1. Install debian stretch
2. Follow install guide
3. Run apt update

W

[2019-12-10 15:45] lzammit opened #4994 "Cluster Zone: The dashboard does not display all servers, only the one(s) from the same zone."
When using a cluster zone of 3 servers, 2 into the first data center and 1 in the second datacenter, the VIP from DC1 or DC2 displays the node(s) from the zone only.

[2019-12-10 15:59] julsemaan commented on #4930
Done in 53f7a16be9ea9297069a23d71f59519ef7fb735a

[2019-12-10 15:59] #4930 closed

[2019-12-10 23:08] Venice-89 opened #4996 "Include Radius Debug Tool in Packetfence GUI"
It would be nice to have a Radiusdebug tool with the ability filter for User Name, Client MAC address or NAS IP Address inside the Admin GUI.

Just like AeroHive has included in their NAC Sollution "AeroHive A3", which looks only a little bit like  a PacketFence fork  ;-)

-> http://docs.aerohive.com/a3/v3.0.0/gui/tools.htm#RADIUS%C2%A0D

[2019-12-11 06:15] nqb commented on #4993
Hello @danpoltawski,

Thanks for your report.

FAQ has not been updated for 9.2, I only updated [Installation guide](https://packetfence.org/doc/PacketFence_Installation_Guide.html#_debian). I will do it.

[2019-12-11 06:37] #4993 closed

[2019-12-11 12:37] julsemaan commented on #4996
We thought of having a "live log viewer" with the same kind of filters that would give a live feed of all the PF logs on all cluster members.

Its in the roadmap, we'll see if it becomes a real thing for PF 10

[2019-12-11 18:21] Venice-89 commented on #4996
Mhh too bad, I thought that aerohive has published the sources of their "toolbox" tab, because PacketFence is under GPLv2.
But I didn't find any sources on their Websites.

Then I hope you'll find time to implement such a Feature in the original PacketFence ^^

[2019-12-12 10:25] Venice-89 opened #4997 "Creation of language specific files on connection profile not working"
You can not create files like **aup_text.de.html**, because the gui doesn't allow dot's in filename.

You get the message: Alphanumeric characters only. Extension must be .html or .mjml

So if you want to create AUP files for different languages, you have to do that via CLI at the moment.

[2019-12-12 12:32] julsemaan commented on #4997
@satkunas

Can you check if the limitation comes from the frontend or the backend ?

[2019-12-12 12:54] #4994 closed

[2019-12-12 13:48] nqb opened #4998 "web admin: allow to start fingerbank-collector from General settings"
Like it is possible in other menus (like Network configuration -> Interfaces), it will be interesting to have a button to start fingerbank-collector when you configure your API key in Compliance -> General settings.

[2019-12-12 15:24] Venice-89 opened #4999 "You get the "Portal Module creation form" again after closing the form"
**Describe the bug**
If you create a new portal module on new Admin-Gui, you get the form for creating a new Portal Module again after saving and closing the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Portal Modules
2. New-Module (for example use message)
3. Fill all informations you want to have in your module
4. click create for saving your new module
5. Click on the X
7. You se

[2019-12-13 19:29] #4810 closed

[2019-12-16 10:40] jrouzierinverse commented on #4989
In order to log into the admin you must have certain permissions.
We could add NODES_CREATE permission to the login group.
However, does it make sense?

Here is the list of permissions.

SERVICES_READ
REPORTS_READ
USERS_READ
NODES_READ
CONFIGURATION_MAIN_READ
CONNECTION_PROFILES_READ
PROVISIONING_READ
ADMIN_ROLES_READ
INTERFACES_READ
SWITCHES_READ
FLOATING_DEVICES_READ
USERS_ROLES_READ
USERS_SOURC

[2019-12-16 10:53] jrouzierinverse commented on #4987
This has been the behavior for a while.
If a node is created it is considered discovered to the system.
Does it make sense to change this behavior?

[2019-12-16 11:00] akurzawa opened #5001 "Debian package link - file not found"
https://packetfence.org/download.html

Debian Packages > Debian 9 >

`https://packetfence.org/downloads/PacketFence/debian/pool/stretch/p/packetfence/packetfence_9.2.0+20191126134139+98674490+0009+stretch1_all.deb`

Not Found
The requested URL /downloads/PacketFence/debian/pool/stretch/p/packetfence/packetfence_9.2.0+20191126134139+98674490+0009+stretch1_all.deb was not found on this server.

Apac

[2019-12-16 12:59] julsemaan commented on #4987
I discussed this with @nqb and it doesn't seem like its a valid behavior.

This security event trigger was designed to alert you when a new node would come online on your network.

By applying this to the API, it makes it so importing 1000 nodes will generate 1000 security events and some devices may never actually come online on the system.

[2019-12-16 14:16] cgx commented on #5001
Fixed. Thank you for reporting this issue.

[2019-12-16 14:16] #5001 closed

[2019-12-16 14:32] danpoltawski opened #5002 "Inline L3: Can't specify multiple DNS servers"
**Describe the bug**
When configuring a new routed network, it's not possible to specify multiple DNS servers in the DHCP options.

The DHCP option description says 'Should match the IP of a registration interface or the production DNS server(s) if the network is Inline L2/L3 (space delimited list of IP addresses).'

But it's not possible to space delimiter the list of addresses. An error is retur

[2019-12-16 14:38] fdurand commented on #5002
It's a frontend issue @satkunas can you check that ?

[2019-12-16 14:40] danpoltawski commented on #5002
@fdurand are you able to tell me how to configure it in the config file?

[2019-12-16 14:47] fdurand commented on #5002
it's in conf/networks.conf

[2019-12-16 15:14] danpoltawski commented on #5002
so
[code]
?

[2019-12-17 18:57] BenB196 opened #5003 "Cluster Upgrade Docs have Incorrect Step Order"
**Describe the bug**
In the [Cluster Upgrade docs](https://packetfence.org/doc/PacketFence_Clustering_Guide.html#_performing_an_upgrade_on_a_cluster) Under section [9.5.4](https://packetfence.org/doc/PacketFence_Clustering_Guide.html#_migrating_service_on_node_c). It is mentioned that you should stop pf and mariadb on both nodes A and B, before starting pf on node C. If this order is followed, the

[2019-12-19 06:36] nqb commented on #4987
Completely agree with @julsemaan.

[2019-12-19 06:39] nqb commented on #4989
In that case, when you create an admin role that will be used to connect to web admin, we should ensure these permissions are defined.

[2019-12-19 08:19] nqb commented on #4890
@satkunas,

Currently, I noticed that Computer name can be set using a CSV import.

[2019-12-19 08:50] nqb opened #5005 "web admin: CSV import doesn't work for MAC addresses"
On PF 9.2.0 (with maintenance patches), if you try to import a CSV file with a column that contains MAC addresses and select "MAC address" in the "Field mappings", you got every time a "Invalid MAC address".

**To Reproduce**
1. Create a node
2. Export a CSV file
3. Import your CSV file
4. See error:

![Capture d’écran de 2019-12-19 09-46-44](https://user-images.githubusercontent.com/10830260/7115

[2019-12-19 12:01] nqb commented on #4695
Fixed by https://github.com/inverse-inc/packetfence/commit/c3b98a43499f5320437aba620409b70ef90b52b2

[2019-12-19 12:01] #4695 closed

[2019-12-19 12:50] nqb commented on #4818
Hello @fdurand,

Could you remind me (or @lzammit) why this behavior has been changed in https://github.com/inverse-inc/packetfence/commit/8fd86b943667dfd1ba5180f049cb2e74f994965b#diff-8b99f599546e7710d1df6b776d184569 ?

[2019-12-19 14:22] nqb commented on #4817
@jrouzierinverse, any idea why still getting this behavior ?

[2019-12-19 14:37] nqb opened #5006 "Debian: some shell scripts are not marked executable under addons/"
Following files are not marked as executables under Debian:
[code]

[2019-12-19 18:30] #4989 closed

[2019-12-19 18:51] #4998 closed

[2019-12-20 13:08] nqb opened #5010 "API: impossible to delete security event"
If I tried to delete a security event from web admin or API, I got a "Unable to delete" error message.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Deletion of security event.

**Additional context**
I tried with code of #5009 to be sure it was not related to the fact that some security events where defined in `security_events.conf.defaults` but that didn't chang

[2019-12-20 14:15] nqb commented on #4818
As discussed with @fdurand, behavior has been changed because sometimes Unifi controller were not yet aware of clients when it received an `authorize-guest` command (due to asynchronous exchanges between AP and Unifi controller). Consequently, on PF side, client was not link to any site.

Solution: try first to deauthenticate with old logic and use current logic if site is undef.

[2019-12-20 20:26] fdurand commented on #4818
Try that: https://github.com/inverse-inc/packetfence/commit/9ae2bd44dc78b045c531b18b5b4e91d65c46236a

[2019-12-21 13:35] nqb commented on #4818
Hello @fdurand,

Thanks for you code.

Take a look at last answers to my [Unifi post](https://community.ui.com/questions/authorize-guest-command-permit-to-allow-any-clients-from-any-AP-without-verification/5d9bd04c-17f5-4e57-93fd-d46131304967#answer/67861ae4-3a33-4939-bb42-13d3b6fe6ab4)

In short, @leonardogyn explained that we can overcome delay between AP and Unifi controller by enabling STUN pr

[2019-12-23 07:11] nqb commented on #5006
Fixed by 892d5568e491c13a3f26b71f7230a04630bb2c50

[2019-12-23 07:11] #5006 closed

[2019-12-23 19:26] jrouzierinverse commented on #5010
Expected behavior any security event that has an id below 1500000 cannot be deleted.
We should relook into this behavior
Also, the error message should be more clear.

[2019-12-24 02:01] cgx opened #5012 "API GET /api/v1/config/syslog_forwarder/* → all_logs always enabled"
When fetching the definition of a **syslog forwarder**, `all_logs` is always set to `enabled`.

[code]
It should be set to `disabled` when `logs`is not `ALL`.

[2019-12-24 16:01] #4997 closed

[2019-12-26 07:28] nqb opened #5013 "builds: node packages update breaks build"
After 3d1c9dcdd13756a6ba4253c71fdafeeeec9d35c4 commit, CentOS and Debian builds failed with following error:

[code]

[2019-12-26 07:28] #5013 closed

[2019-12-26 20:57] satkunas opened #5014 "Security Event backend/frontend discrepancies"
**Describe the bug**
There are currently 2 discrepancies between the backend and the frontend in security events.

1. `recorded_acounting` does not exist in frontend.
  * Added to backend in https://github.com/inverse-inc/packetfence/commit/d985011d4d324429c579dfebae96234092df63ad
  * Missing in frontend https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/com

[2019-12-26 20:59] satkunas commented on #5014
@julsemaan @jrouzierinverse we should provide a list in meta OPTIONS and have the frontend consume it to prevent another future de-sync.

[2019-12-26 21:12] satkunas commented on #5014
To prevent future de-sync we may need to find a way to re-organize the meta OPTIONS so they're categorized in `endpoint`, `profiling`, `usage` and `event`. It's currently not consumable because of the missing categorization.

[2019-12-27 14:28] jrouzierinverse commented on #5012
What is in the config file?

[2019-12-27 15:07] #5012 closed

[2019-12-30 20:06] fdurand opened #5017 "Ugly Cluster - Services"
**Describe the bug**
Malformed rendering in Cluster - Services

![image](https://user-images.githubusercontent.com/1553962/71598687-dbca5780-2b15-11ea-8cb2-4a25b0d7e813.png)

[2019-12-30 20:09] fdurand opened #5018 "Radius CLI issue"
**Describe the bug**
Radius CLI doesn't work when there is an ldap authentication source where the cache is enabled.

[code]

[2019-12-30 20:11] fdurand opened #5019 "Duplicate entries in ip4loghistory"
**Describe the bug**
The trigger move the entry from ip4log to ip4log_history and close ip4log do the same, so it produce a double entry in the table.

[2019-12-30 21:28] #5019 closed

[2020-01-06 14:55] julsemaan commented on #5014
For #1, recorded_accounting is a virtual trigger that doesn't need to be in the frontend. The accounting trigger should be used as before.

[2020-01-06 14:56] julsemaan commented on #5014
For #2, we just need to remove it from the frontend

[2020-01-07 15:52] #5017 closed

[2020-01-07 19:38] #2533 closed

[2020-01-08 07:03] nqb commented on #5005
Issue seems to have been fixed in maintenance, I didn't see a commit related.

Button next to "MAC Address" field is still red:
![Capture d’écran de 2020-01-08 08-01-33](https://user-images.githubusercontent.com/10830260/71957174-4dc52f80-31ed-11ea-99e3-a96b95cbea03.png)

[2020-01-08 07:35] nqb opened #5021 "web admin: CSV import (nodes) doesn't work with role name"
When you import a CSV file with a column equals to a role name, mapped to Role field. Import is successful but no nodes are created. Should have been fixed: https://github.com/inverse-inc/packetfence/issues/4750

In `packetfence.log`, for each row:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a node in web admin with a role
2. Export CSV: nodes.csv
3. Import nodes.csv and ma

[2020-01-08 12:58] nqb commented on #5010
I'm updating milestone for this issue and label.

[2020-01-08 13:24] ccaaajf opened #5022 "IPtables being managed even after service unchecked."
Iptables is still being managed by packetfence even after I've unchecked it from the services in the configuration menu.

If i use pfcmd to restart another service iptables is activated again.  This happens in both 9.2.0 and 8.1.0 (linux rpm install)

[2020-01-08 13:28] nqb commented on #4697
I don't see a real improvement on this issue with merge of #4978 when I'm creating a new rule on a source or when I'm trying to edit a user.

[2020-01-08 13:52] nqb opened #5023 "web admin: CSV import(nodes) report a user doesn't exist"
On nightly builds, when I tried to import a CSV file that worked on 9.2 (+maintenance patches), I got following display:
![Capture d’écran de 2020-01-08 14-50-42](https://user-images.githubusercontent.com/10830260/71983066-440bee00-3226-11ea-84b7-e60c0aa76e61.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to import following CSV file:
[code]

**Expected behavior**
Don't display tha

[2020-01-08 14:02] nqb opened #5024 "web admin: clicking on "New Realm" button display "New domain" windows"
When I want to create a new Realm, if I click on "New Realm" button, web admin displays windows to create a new **domain**.

If I fill the first two fields, my Realm is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a Realm

**Expected behavior**
Realm windows is displayed.

**Additional context**
I made a domain join before.

Same behavior if I edited an existing Rea

[2020-01-08 14:24] nqb opened #5025 "web admin: testing an AD source doesn't work"
On nightly builds, if I tried to test an AD source, frontend doesn't give me any feedback.

I didn't see any API call in my web browser console or in logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AD source
2. Click on 'Test' to test credentials

**Expected behavior**
- API call to `/api/v1/config/sources/test`
- Button 'Test' with a green tick

**Additional context**
This f

[2020-01-08 14:34] nqb opened #5026 "web admin: wrong display of "Monitor" field on AD source"
When you create a new AD source, "Monitor" field appear to be disabled but API call set it to "1".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new AD source: Monitor field is disabled
2. Take a look at authentication.conf
=> `monitor=1`

**Expected behavior**
Monitor field should be display as "Enabled" when you create a new AD source.

[2020-01-08 14:41] #5024 closed

[2020-01-08 14:52] nqb opened #5027 "web admin: missing and extra fields when creating a new switch group"
When I try to create a new switch group:
* RADIUS tab is missing even if you switch to "Advanced" (not the case on 9.2)
* Switch group field is presents (not the case on 9.2)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new switch group

**Expected behavior**
- Switch group field not presents
- RADIUS tab presents

[2020-01-08 14:57] nqb commented on #5027
You can ignore: "RADIUS tab is missing even if you switch to "Advanced" (not the case on 9.2)", it appears when a "Type" has been selected.

[2020-01-08 15:08] satkunas commented on #5025
I've made adjustments in https://github.com/inverse-inc/packetfence/commit/733a3ea9cf60feb889adf92429d205b68f6a9c54

@nqb Please re-test.

[2020-01-08 16:19] #5023 closed

[2020-01-08 16:28] satkunas commented on #5026
`monitor` uses `0` and `1`.

See https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/lib/pfappserver/Form/Config/Source/LDAP.pm#L168

Non-issue.... Closing.

[2020-01-08 16:28] #5026 closed

[2020-01-08 16:46] cgx commented on #5026
It is really an issue, and the fix is server-side:

[code]

[2020-01-08 17:05] #5027 closed

[2020-01-08 17:36] #5014 closed

[2020-01-08 18:00] julsemaan commented on #5025
Works now

[2020-01-08 18:00] #5025 closed

[2020-01-08 18:03] julsemaan opened #5028 "Creating an authentication rule doesn't give a value field"
**Describe the bug**
When you create an AD source and you want a condition on sAMAccountName equals XYZ, then you're unable to enter XYZ since the value field doesn't work

**To Reproduce**
1. Create AD source
2. While creating the AD source, add an authentication rule
3. Select ALL, sAMAccountName, equals

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/72003342-2683580

[2020-01-08 18:20] julsemaan opened #5029 "Location log entries aren't being updated"
**Describe the bug**
Getting the following error in the logs:
[code]

**To Reproduce**
1. Connect on an SSID
2. Connect on another SSID
3. Open logs
4. Read

[2020-01-08 18:21] julsemaan commented on #5029
This is on a fresh 9.2.9 devel schema, not an upgraded schema

[2020-01-08 18:58] julsemaan commented on #5029
The error doesn't show anymore but the locationlog entry is still not being updated although logs state it should have been:
[code]

[2020-01-08 19:21] julsemaan opened #5030 "Unable to toggle event actions in security events"
**Describe the bug**
Its impossible to toggle the state of event actions when creating a new security event

**To Reproduce**
1. Create a new security event
2. Try to enable an event action (isolate, register, etc)

[2020-01-08 19:25] julsemaan opened #5031 "Unable to edit the "Bandwidth expiration" security event"
**Describe the bug**
When clicking the "Bandwidth expiration" security event to edit it, it does nothing and there is a JS error in the console

**To Reproduce**
1. Edit the "Bandwidth expiration" security event

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/72008840-ad89fd80-3222-11ea-8d86-02e108c8e98b.png)

[2020-01-08 19:42] cgx commented on #5031
Any security event with a *time_expiration* trigger will also throw an exception.

[2020-01-08 19:43] julsemaan opened #5032 "Now necessary to select if all/any condition match in auth source"
**Describe the bug**
It is now necessary to select if all/any condition match in auth source while before it defaulted to 'all'

[2020-01-08 20:22] julsemaan commented on #5029
If I have an entry which has a session_id and the synchronization involves an entry which doesn't have a session ID, then it doesn't rotate the entry (i.e. it updates the entry in locationlog but doesn't put the old one in the history)

[2020-01-08 20:26] julsemaan commented on #4697
I feel its much faster personally in those 2 pages.

Can you expand on what parts of those are still slow

[2020-01-08 20:48] satkunas opened #5033 "Web Admin - Provisioner OS text is smashed"
Title says it all

[2020-01-08 20:57] jrouzierinverse commented on #5033
Does it need to go AA?

[2020-01-08 21:00] jrouzierinverse commented on #5029
I pushed a new fix. Let me know it worked.

[2020-01-09 06:49] nqb opened #5035 "httpd.* services and pfqueue are not able to start"
Due to change introduced by https://github.com/inverse-inc/packetfence/commit/27e7810305f6d82f67a7d29535431b406e0bfb44, `httpd.aaa`, `httpd.admin`, `httpd.webservices` and `pfqueue` are not able to start.

In logs:
[code]

[2020-01-09 06:53] #5035 closed

[2020-01-09 09:03] nqb opened #5036 "API: regdate not set when creating a node from web admin"
When you create a node from web admin, registration date is set to "0000-00-00 00:00:00" in DB. If you create a node using a CSV import, registration date is set to date and time of import.

Already the case in PF 9.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a node from web admin
2. Check value of `regdate` in DB for node created at step 1

**Expected behavior**
Registration d

[2020-01-09 09:44] nqb opened #5037 "web admin: bulk import generate useless admin API audit log entry in DB"
Each time you make a CSV import, two rows are inserted in `admin_api_audit_log` table:
* one with JSON payload
* one with an empty JSON payload (useless)

Example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a CSV import
2. Go in Admin API Audit logs menu

**Expected behavior**
Only one Admin API audit log entry by bulk import.

[2020-01-09 10:08] nqb opened #5038 "web admin: useless checkboxes in RADIUS audit log entry"
When you opened a RADIUS audit log entry, you see useless checkboxes after "Auto registration" and "Is a phone" fields:

![Capture d’écran de 2020-01-09 11-06-25](https://user-images.githubusercontent.com/10830260/72058381-49257780-32d0-11ea-9107-65e444157c95.png)

**Expected behavior**
Remove checkboxes.

[2020-01-09 10:55] nqb commented on #5037
In fact, I just noticed that web admin send two API calls. Admin API audit log is correct, frontend needs to be adjusted. Reassigning.

[2020-01-09 11:04] nqb opened #5039 "web admin: CSV import (users) ignore registration window"
When you create users using a CSV import, "Registration window" is mandatory. If you fill "Start date" and "End date", they are not taken into account when creating users.

**To Reproduce**
Steps to reproduce the behavior:
1. Use following CSV file:
[code]
2. Import your users with a registration window
3. Check value in DB:
[code]

**Expected behavior**
Registration windows should be set to value

[2020-01-09 11:12] nqb commented on #4697
@julsemaan: you're right.

[2020-01-09 11:21] nqb opened #5040 "web admin: CSV imports (users) doesn't check presence of email"
When you create a single user, email address is mandatory. When you use CSV import, you can create users without email addresses.

**To Reproduce**
Steps to reproduce the behavior:
1. Import following CSV file:
[code]

=> Users are created without email addresses.

**Expected behavior**
CSV import must not allow creation of users without email address.

[2020-01-09 11:29] jrouzierinverse commented on #5036
Are the nodes you created are registered or unregistered?

[2020-01-09 12:05] nqb commented on #5036
Registered.

[2020-01-09 12:25] julsemaan commented on #5029
Works well now

[2020-01-09 12:25] #5029 closed

[2020-01-09 12:28] nqb commented on #5040
I noticed that this check is not present when you create multiple users. In this situation, that makes sense.

[2020-01-09 12:30] nqb commented on #5005
I got same behavior as mentioned in my last comment when importing users with PID field.

[2020-01-09 12:38] julsemaan opened #5041 "web-admin: locationlog sorting by end_time doesn't work"
**Describe the bug**
When you sort location entries by end_time (default ordering) in the admin interface, it shows correctly the opened entry (most recent) on the top of the list but the other entries below are from the oldest to the newest.

**To Reproduce**
1. Have a few locationlog entries for a node
2. View the location tab of that node

**Screenshots**
![image](https://user-images.githubuser

[2020-01-09 13:35] #5032 closed

[2020-01-09 13:56] #5031 closed

[2020-01-09 14:23] nqb opened #5042 "web admin: issues with HTTP SSL certificates"
I have two issues with HTTP SSL certificates configuration:

1. If I edit configuration of my HTTP certificate, I didn't see a text area called "Certificate Authority" like for RADIUS certificate. However, there is a button "Choose Certificate Authority". If I upload my root certificate with this button and make another change in the form, the Certificate Authority text area appeared.

2. When I t

[2020-01-09 15:21] #5039 closed

[2020-01-09 16:24] #5030 closed

[2020-01-09 16:59] julsemaan opened #5043 "Security event triggers aren't displayed when saving and returning to event"
**Describe the bug**
If you edit a security event, save it, then return back to edit it again, you don't see the triggers anymore although they are still in the configuration. If you refresh the page, you can see them correctly.

**To Reproduce**
1. Configure the following security event: https://pastebin.com/E7furA5A
2. Refresh the admin in your browser
3. Go in Compliance->Security Event and edi

[2020-01-09 17:07] julsemaan opened #5044 "Can't configure security event bandwidth usage triggers"
**Describe the bug**
Its now impossible to configure a bandwidth usage trigger in the security event (ex: accounting::TOT1KBD)

**To Reproduce**
1. Try to create a bandwidth based security event trigger

[2020-01-09 17:26] #4999 closed

[2020-01-09 17:44] #5043 closed

[2020-01-09 17:45] extrafu commented on #5036
@jrouzierinverse Bump.

[2020-01-09 17:46] cgx commented on #5044
I'll need more details for this one. On my side, I can define a bandwidth limit. I see the changes in `security_events.conf`.

[2020-01-09 17:47] julsemaan commented on #5044
I can select "Bandwidth limit" in the select box, but nothing below allows me to say X amount of data in Y amount of time. It just says "Bandwidth limit"

[2020-01-09 18:01] cgx commented on #5044
Strange. It works for me™.

<img width="567" alt="Screen Shot 2020-01-09 at 12 59 54 PM" src="https://user-images.githubusercontent.com/1088448/72092289-04094180-32e0-11ea-81e4-3da02d336521.png">

[2020-01-09 18:09] julsemaan commented on #5044
![image](https://user-images.githubusercontent.com/3857942/72092853-2e0f3380-32e1-11ea-867c-8c28097b1e77.png)

Doesn't for me, I'm on a RPM build based on commit a371fe64, should that be working ? Is it worth updating the package ?

[2020-01-09 18:10] julsemaan commented on #5044
Since we're getting into details, I'm using Firefox 71.0 on Ubuntu 16.04

[2020-01-09 18:30] fdurand opened #5046 "On fingerbank combination creation most of the search criteria doesn't work."
**Describe the bug**
If you try to add a new local combination in fingerbank then most of the field doesn't return any results.
Per example in DHCP Fingerprint if you start to type 1,15,3,6, nothing is found and the set is always empty

**To Reproduce**
Steps to reproduce the behavior:
1. :1443/admin/alt#/configuration/fingerbank/local/combinations/new
2. Dhcp fingerprint
3. Type 1,15,3,6,
4. Noth

[2020-01-09 18:59] #5044 closed

[2020-01-09 19:06] fdurand opened #5047 "Creating a self service profile generate a blank page on save"
**Describe the bug**
Create a new self service config then save it, it's saved but there is a blank page after.

**To Reproduce**
Steps to reproduce the behavior:
Create a self service config and save

**Screenshots**
![image](https://user-images.githubusercontent.com/1553962/72096857-1a67cb00-32e9-11ea-9039-eaeda407598a.png)

**Expected behavior**
We should see the self service config after save