[2019-05-08 13:09] dondon21 commented on #4306
Fixed

[2019-05-08 13:57] nqb commented on #4395
@jrouzierinverse,

Seems to be cause by frontend. If I set `can_sponsor` at `1` or `sponsor` at `true` when doing API calls, nothing happens in DB.

[2019-05-08 14:38] cgx commented on #4348
If I have this trigger defined:

[code]

The API give me this JSON representation (**missing device 2808**):

[code]

Can you @julsemaan or @jrouzierinverse fix the endpoint to return the correct values?

[2019-05-08 14:40] fdurand opened #4397 "v9-gui - Lack of admin permission in radius audit log (Sometimes)"
Unauthorized access, lacking the AUDITING_READ_READ administrative role (/api/v1/dhcp_option82s/search)

[2019-05-08 14:47] cgx commented on #4397
Must [blame](https://github.com/inverse-inc/packetfence/commit/3015531899f56d4d03967426733abae738bddb6a) @julsemaan.

[2019-05-08 14:55] #4393 closed

[2019-05-08 15:01] satkunas commented on #4387
Fixed in https://github.com/inverse-inc/packetfence/commit/ced5b48cc13442c1828e18f7f03ed1a6d9b849be

[2019-05-08 15:01] #4387 closed

[2019-05-08 15:04] satkunas commented on #4356
![Selection_017](https://user-images.githubusercontent.com/3904468/57385782-0f203680-7181-11e9-923e-c3cafbaa8048.png)

[2019-05-08 15:08] julsemaan commented on #4356
Working now

[2019-05-08 15:08] #4356 closed

[2019-05-08 15:12] satkunas commented on #4391
I just confirmed that defaults are populated from OPTIONS. This is a back-end change for @jrouzierinverse

[2019-05-08 15:23] satkunas commented on #4395
I'm able to create a new user without `access_level` in the old admin. Not implementing in new.

[2019-05-08 15:26] satkunas commented on #4395
`psk` character limit is based on database schema. Ignoring.

[code]

[2019-05-08 15:27] satkunas commented on #4395
@jrouzierinverse this will need to be populated in the back-end.

[2019-05-08 15:27] julsemaan commented on #4397
https://youtu.be/ynMk2EwRi4Q?t=145

[2019-05-08 15:29] satkunas commented on #4395
First 2 points fixed in https://github.com/inverse-inc/packetfence/commit/c7c6e4c21ca498969b0a94e6c349e8a84e0f442e

The remainer is for @jrouzierinverse

[2019-05-08 15:56] fdurand opened #4398 "V9-gui - Network configuration is not available for local network"
![image](https://user-images.githubusercontent.com/1553962/57389438-36c6cd00-7188-11e9-9af8-7be5fa85bae5.png)

![image](https://user-images.githubusercontent.com/1553962/57389477-49410680-7188-11e9-8926-46351c3e4ed2.png)

As you can see there is no way to edit 172.20.135.0

[2019-05-08 16:29] jrouzierinverse commented on #3563
This is done and in devel

[2019-05-08 16:48] #4397 closed

[2019-05-08 16:51] julsemaan commented on #4346
I've addressed a lot of them by looking at the configured routes

There are some missing that I intentionally left to the default SYSTEM role

Unless someone has a specific missing endpoint in mind, I'll close this issue

[2019-05-08 16:58] julsemaan commented on #4348
There can only be one device sub-trigger so device::2808 and device::86 isn't valid

For device profiling (and endpoint), there can be multiple different sub triggers but there cannot be multiple of them since it wouldn't make sense to look if the DHCP fingerprint is equal to something and something else which will never be a true value

[2019-05-08 17:12] julsemaan commented on #4349
I'll dive into what is missing in the API endpoints and reach out to @jrouzierinverse in case I start drowning

[2019-05-08 17:17] extrafu commented on #3563
@dondon21 Can you please test this?

[2019-05-08 17:20] cgx commented on #4348
All right. I'll adjust the GUI.

[2019-05-08 17:23] cgx commented on #4348
Fun fact: I've built the invalid trigger condition with the old Web admin.

[2019-05-08 17:25] julsemaan commented on #4349
@cgx, the lookup API endpoints are there for all the Fingerbank data points so they can be implemented as far as I can tell like with the devices:
[code]

As for my comment about devices that was missing, I was actually wrong

[2019-05-08 17:27] julsemaan commented on #4349
Switch group works on my end now so I guess all is good on that side too

[2019-05-08 17:28] julsemaan commented on #4349
And for nexpose event contains, there is no widget to help select it in the previous admin although I thought there was one so this is fixed too

[2019-05-08 17:29] julsemaan commented on #4349
Seems just the lookup needs to be adjusted for all the Fingerbank data points to use the existing search API endpoint and we'll be good

[2019-05-08 17:30] julsemaan commented on #4348
Man that guy who wrote the triggers tab in the old admin, don't start me on him :)

[2019-05-08 17:40] #4368 closed

[2019-05-08 17:55] julsemaan commented on #4286
@cgx, is this relevant ?

[2019-05-08 17:59] julsemaan commented on #4365
easy enough, I'll do it

[2019-05-08 18:06] dondon21 commented on #3563
I still get the error : Unknown path /api/v1/config/maintenance_tasks/search

[2019-05-08 18:20] jrouzierinverse commented on #3563
fixed

[2019-05-08 18:23] jrouzierinverse commented on #4349
Fixed the lookup

[2019-05-08 18:37] #4365 closed

[2019-05-08 18:40] julsemaan commented on #4335
I can take care of this one, we'll adjust the existing admin roles as discussed in the meeting

[2019-05-08 18:59] julsemaan opened #4399 "Error while viewing node page"
Getting the following error when browsing to the node page on the latest devel:
[code]

[2019-05-08 19:04] fdurand opened #4400 "v9-gui - Firewall sso page just spinning"
![image](https://user-images.githubusercontent.com/1553962/57400946-a0ec6b80-71a2-11e9-91bd-546ea00d4f2b.png)

[2019-05-08 19:06] fdurand commented on #4367
Fixed

[2019-05-08 19:06] #4367 closed

[2019-05-08 19:10] julsemaan commented on #4335
Fixed in f899e210f56ccf54b8da330f1435cf355c8e2038

[2019-05-08 19:10] #4335 closed

[2019-05-08 19:12] julsemaan commented on #4349
All is done here then, closing the issue

[2019-05-08 19:12] #4349 closed

[2019-05-08 19:13] julsemaan commented on #4346
Closing, if there are specific ones missing, we should open new issues

[2019-05-08 19:13] #4346 closed

[2019-05-08 19:14] julsemaan commented on #4264
Pushing to 9.1 since this is polishing as the existing calls work

[2019-05-08 19:26] jrouzierinverse commented on #4399
Which node view?

[2019-05-08 19:27] julsemaan commented on #4399
viewing the nodes in the nodes tab, just clicking on "Nodes"

[2019-05-08 19:30] julsemaan opened #4401 "admin roles: Index displays ALL and ALL_PF_ONLY"
The admin roles listing (/admin/alt#/configuration/admin_roles) displays ALL and ALL_PF_ONLY but these aren't viewable nor editable and they should be hidden from that list

[2019-05-08 19:32] julsemaan commented on #4401
Also displays NONE which shouldn't be displayed

[2019-05-08 19:36] cgx commented on #4385
See f899e21.

[2019-05-08 19:37] satkunas commented on #4398
Added in https://github.com/inverse-inc/packetfence/commit/cf6618c60cd28899f67ab20f61cccdd62043b5bb

[2019-05-08 19:37] #4398 closed

[2019-05-08 19:37] cgx commented on #4401
See #3646.

[2019-05-08 19:38] julsemaan commented on #4400
Loads on my end, errors in the JS console?

[2019-05-08 19:39] fdurand commented on #4400
nop

[2019-05-08 19:40] fdurand commented on #4264
We can't create a new vlan interface on the admin gui, i think it's important to fix that for 9.0.

[2019-05-08 19:42] jrouzierinverse commented on #4399
New or old admin

[2019-05-08 19:45] satkunas commented on #4286
These were fixed this morning in https://github.com/inverse-inc/packetfence/commit/17384290b3b49b16fd7f40f0e2b2a58a087e1fdd (the page number was rubber-banding back to page 1)

[2019-05-08 19:45] julsemaan opened #4402 "Adjust the amount of pfperl-api workers"
Right now we have 4 pfperl-api workers

I believe this number is static so heavy usage of the admin by multiple users won't make more processes spawn which will likely require us to just bump up the amount of workers to be safe

Probably 8 would be enough

[2019-05-08 19:45] #4264 closed

[2019-05-08 19:46] jrouzierinverse commented on #4402
Should we make it configurable?

[2019-05-08 19:47] julsemaan commented on #4402
@jrouzierinverse

Would be good to have it configurable, probably in pf.conf's services section

Or somewhere else if you have a better idea

[2019-05-08 19:47] julsemaan commented on #4399
new

[2019-05-08 19:48] satkunas commented on #4286
Likely due to a change after you manually selected 10 items/page. Clear your localStorage to reset.

Open Debugger > Application > Local Storage > [Choose PF admin host] > In the filter on top of the right-pane type "limit" > Highlight key/values in the right-pane and click [Delete]

[2019-05-08 19:50] satkunas commented on #4286
No outstanding issues here. Closing.

[2019-05-08 19:50] #4286 closed

[2019-05-08 19:51] satkunas commented on #4400
Not able to reproduce. Closing.

[2019-05-08 19:53] julsemaan commented on #3563
just tried it and it seems to be working

[2019-05-08 19:53] #3563 closed

[2019-05-08 19:54] lzammit opened #4403 "v9-gui: Cluster state + cluster service state not displaying"
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/5261214/57404221-74881d80-71a9-11e9-8db5-1bfd31f7ab09.png">

[2019-05-08 20:03] #4399 closed

[2019-05-08 20:03] satkunas opened #4404 "API GET config/firewalls error"
When using the following in `firewalls_sso.conf`
[code]

The API response is malformed:

[code]

From #4400

[2019-05-08 20:03] satkunas commented on #4400
Moved to #4404

[2019-05-08 20:03] #4400 closed

[2019-05-08 20:09] lzammit opened #4405 "v9-gui: Reports: Authentication Failures / Success does not work"
It does not display either failed  or succeed authentications.

[2019-05-08 20:18] fdurand commented on #4404
Fixed with https://github.com/inverse-inc/packetfence/commit/d60cf52a321dbeb5c2f75fe0d0483da2e90f7fb1

[2019-05-08 20:18] #4404 closed

[2019-05-08 20:24] lzammit opened #4406 "v9-gui: Security Event autoreg"
The clone button does not auto-increment the ID of the security event.

Once I create the violation it does not display in the new admin but works on the old admin.

[1100055]
priority=1
trigger=mac::d8:1c:79:85:dd:3b
actions=log,autoreg,email_admin
max_enable=3
desc=Auto-register Device example
enabled=Y
access_duration=12h
template=generic
auto_enable=Y
delay_by=0s
grace=120m
button_text=Enable

[2019-05-08 20:32] fdurand opened #4407 "v9-gui - Realms: RADIUS ACCT still empty even if there is some radius authentication sources defined."

[2019-05-08 20:42] lzammit opened #4408 "v9-gui: Security Event can't be triggered from the device"
It's missing the security events dropdown list and the button trigger a security event

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/5261214/57407021-380bf000-71b0-11e9-989e-e2b4bda7db3f.png">

[2019-05-08 20:53] satkunas commented on #4321
Added in https://github.com/inverse-inc/packetfence/commit/0e36d405cd4c65d20f32a4bbbc3e921e88920474

[2019-05-08 20:53] #4321 closed

[2019-05-08 20:58] lzammit opened #4409 "v9-gui: syslog parser does not display that you need to restart pfdetect / pfqueue"
It would be nice to have pfqueue and pfdetect restart/start button within the Parser creation

[2019-05-08 21:02] lzammit opened #4410 "v9-gui: Pfdetect does not start after creating a security onion syslog parser"
[code]

[2019-05-08 21:09] #4402 closed

[2019-05-08 21:55] jrouzierinverse commented on #4409
This is a new feature move to 9.1

[2019-05-08 22:48] #4386 closed

[2019-05-09 01:51] cgx commented on #4402
Shall we expose this parameter in the Web admin?

[2019-05-09 01:52] extrafu commented on #4402
I would suggest to not do so for v9 at least.

[2019-05-09 07:43] sathiska opened #4411 "My Hardware device is Ruckus ICX7150-24P. Can I configure it with packetfence NAC?"
My Hardware device is Ruckus ICX7150-24P. Can I configure it with packetfence NAC?

Please note
-----------
Github issues are for reporting/tracking DEVELOPMENT ISSUES. For anything related to getting help in running PacketFence, or anything else not related to DEVELOPMENT, please use the mailing-list (https://lists.sourceforge.net/lists/listinfo/packetfence-users).

Any issues not related to DEVE

[2019-05-09 08:43] nqb commented on #4411
Please use mailing-list for such question.

[2019-05-09 08:43] #4411 closed

[2019-05-09 11:06] julsemaan commented on #4402
@cgx, it depends how much time it takes. If its a 5 minutes thing, then I'd say it would be good to have it there

[2019-05-09 11:51] julsemaan opened #4412 "Node search by security event open/closed"
The options to search by "Security Event Open" and "Security Event Closed" are still there in the node search although they are known to be broken (at least from our last meeting discussions)

I guess these should be removed

@satkunas, can you confirm and remove them

[2019-05-09 11:56] julsemaan opened #4413 "Nodes view: unable to view all selected columns"
In the node view (guessing this applies to other places as well), if I add enough columns so that the data overflows on the right, there is no way to scroll right to view it

In my case, I only had to add a single column so that my screen was too narrow to display all the data:
![image](https://user-images.githubusercontent.com/3857942/57451641-dbe8b080-722f-11e9-8e1b-c56202871588.png)

[2019-05-09 11:58] julsemaan opened #4414 "Able to multi-click "Refresh Fingerbank" button"
I'm able to multi-click the "Refresh Fingerbank" button while the refresh is happening resulting in many concurrent requests.

Should spin while the request is pending

[2019-05-09 11:59] julsemaan opened #4415 "Reevaluate access button always disabled"
I have a node that has a valid location and the "Reevaluate access" button in the node details is still grayed out and disabled

[2019-05-09 12:00] julsemaan opened #4416 "Reevaluate access + Restart switchport button tooltip needed when disabled"
When any of the 2 buttons above is disabled in the node details, a tooltip should explain why they are disabled (no node location, not a wired connection, etc)

[2019-05-09 12:10] julsemaan opened #4417 "New admin doesn't differentiate builtin dynamic reports from user defined ones"
The old admin separates the builtin dynamic reports (type=builtin) from the ones defined by the user since PF ships with dynamic reports defined by us

Old:
![image](https://user-images.githubusercontent.com/3857942/57452419-b78dd380-7231-11e9-87d2-f68fb0f809e9.png)

New:
![image](https://user-images.githubusercontent.com/3857942/57452435-c5435900-7231-11e9-9888-4590fb31128f.png)

[2019-05-09 12:38] #4385 closed

[2019-05-09 12:57] cgx commented on #4413
I'm able to scroll the entire table to the right.

Scroll down to the last row and you'll see the horizontal scrollbar.

[2019-05-09 13:01] julsemaan commented on #4413
yes indeed, we've had a fine case of semaan blindness

[2019-05-09 13:01] #4413 closed

[2019-05-09 13:08] lzammit opened #4418 "Dashboard doesn't work when accessing admin using cluster VIP"
When accessing the new admin using the VIP, it attempts to access net data on VIP:19999 which isn't listening

Result (my VIP is 172.21.145.34):
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/5261214/57455760-dabc8100-7239-11e9-8e75-f8dd73d82f1c.png">

If I access the admin on the IP of one of the members, it works fine.

[2019-05-09 13:13] #4418 closed

[2019-05-09 13:49] satkunas commented on #4417
Split in https://github.com/inverse-inc/packetfence/commit/d64b5f0bc8f92ad64db25e697bde1933a61c3519

[2019-05-09 14:04] julsemaan opened #4419 "Virtual 'pf' service is listed in the services list"
The virtual 'pf' service that regroups all the PacketFence managed services is displayed in the services page (/admin/alt#/status/services)

Since that services is not manageable, it should simply be hidden from that list

[2019-05-09 14:05] julsemaan opened #4420 "httpd.dispatcher shouldn't be a protected service"
The httpd.dispatcher shouldn't be in the protected services in the services page (/admin/alt#/status/services) since its not used for the admin but for the captive portal

[2019-05-09 14:09] julsemaan opened #4421 "Fingerbank combination version is forced to an integer"
The version field of a Fingerbank local combination is forced to be an integer while it can be any arbitrary string

[2019-05-09 14:12] julsemaan opened #4422 "Creating a Fingerbank combination doesn't display the right ID"
After creating a Fingerbank local combination, it saves fine but the header displays the ID as null:
![image](https://user-images.githubusercontent.com/3857942/57460327-e5c7df00-7242-11e9-8cd7-d414a2e8478b.png)

[2019-05-09 14:27] cgx opened #4423 "v9-gui: Expose pfperl_api configuration parameters"
We have two parameters that could appear under *System Configuration → Advanced*.

[code]

See #4402

[2019-05-09 14:35] cgx commented on #4403
Instead of having a single API endpoint to fetch the services status of all the cluster members, the endpoint should expect a server as argument. Ex:

`/api/v1/cluster/<server_ip>/services`

or

`/api/v1/services/<server_ip>`

This way the frontend would be faster by querying all the cluster members at the same time.

[2019-05-09 14:46] satkunas opened #4424 "API POST dynamic_report/:id/search"
A workaround (see "sort": [null]) is needed to dynamically set the fields when they are not exposed with `GET /dynamic_report/:id`, therefore `sort` and `fields` are not initially known.

`POST /dynamic_report/:id/search`  currently generating a 500 with the following payload.

[code]

[2019-05-09 14:51] satkunas commented on #4420
Fixed in https://github.com/inverse-inc/packetfence/commit/b30b759fe4b82fc544c0f8b3e8f559bf43bc7a2c

[2019-05-09 14:51] #4420 closed

[2019-05-09 15:07] satkunas commented on #4419
@julsemaan Can it be removed from `GET /services` instead?

[2019-05-09 15:27] lzammit opened #4425 "v9-gui: Adding a new switch, the ip field has "default" as default value"
On the old admin, the switch ip/Mac address/network range would be empty.

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/5261214/57465846-70add700-724d-11e9-8881-df5a2f062f85.png">

[2019-05-09 15:36] satkunas commented on #4416
Added in https://github.com/inverse-inc/packetfence/commit/dd8ea68f2dcc1d714a7bd5e7c94d7fcda85a285f

[2019-05-09 15:36] #4416 closed

[2019-05-09 15:37] cgx commented on #4425
We need to modify the OPTIONS. Reassigning to @jrouzierinverse.

[code]

[2019-05-09 15:38] satkunas commented on #4425
This is due to `meta`.

[code]

[2019-05-09 15:42] #4421 closed

[2019-05-09 15:44] satkunas commented on #4415
Please include the nodes data.

Here's the logic behind enable/disable w/ this button:

[code]

It requires at least 1x location, and (at least 1x ip4 or ip6)

[2019-05-09 15:53] satkunas commented on #4423
This would fit well in `GET /system_summary`

[2019-05-09 15:55] julsemaan commented on #4415
We don't need to have a node IP for reevaluate access and restart switchport so that is likely the issue.

Only the location is necessary

[2019-05-09 15:56] jrouzierinverse commented on #4382
fixed by 892b519f99389222f6acc070f2cb3ef19cd3c61c

[2019-05-09 15:56] #4382 closed

[2019-05-09 16:01] satkunas commented on #4414
Fixed in https://github.com/inverse-inc/packetfence/commit/ceefe0cb73facdbea55491a9cddde66b9322b430

[2019-05-09 16:01] #4414 closed

[2019-05-09 16:04] satkunas commented on #4415
Changed in https://github.com/inverse-inc/packetfence/commit/d8da32b8a198f62358f82118d57f13e839443663

[2019-05-09 16:04] #4415 closed

[2019-05-09 16:07] #4412 closed

[2019-05-09 16:11] satkunas commented on #4408
This was implemented just recently.

[2019-05-09 16:11] #4408 closed

[2019-05-09 16:18] cgx commented on #4360
Would it be easy to also return the subject and the sender?

[2019-05-09 16:33] julsemaan commented on #4360
For the preview I didn't support the subject so its currently a dummy subject

The subject is only supported when sending an email

[2019-05-09 16:40] julsemaan commented on #4419
There is a use case for having it available through the API to execute an action on all the services so I'd say it would be better to adjust the frontend

[2019-05-09 16:44] julsemaan commented on #4424
I've tried it and it works fine on the built-in ip4log history report:
[code]

Let me know more precisely in which context it doesn't work

[2019-05-09 17:12] satkunas commented on #4419
@julsemaan such an endpoint would never be able to return a response when it's stopped or restarted. What case could make use of this?

[2019-05-09 17:17] satkunas commented on #4424
Based on:

[code]

[code]

[code]

[code]

[2019-05-09 17:19] julsemaan commented on #4424
you most probably don't have the table survey_survey1 which is specific to my environment

I suggest testing with the builtin reports

[2019-05-09 17:20] satkunas commented on #4424
All builtin reports are working. I'm attempting to get the non-builtin ones working ATM.

[2019-05-09 17:21] julsemaan commented on #4424
They might not work if you don't have the necessary data, some of those reports are specific to my own environment and aren't distributed with PF

[2019-05-09 17:21] satkunas commented on #4424
Then can we either improve the error response, or add some backend checks to prevent these silent errors from occurring?

[2019-05-09 17:22] julsemaan commented on #4419
You could use it to restart pf which would restart all the managed services (that's at least the theory)

[2019-05-09 17:23] julsemaan commented on #4424
i'm not passing down the exact SQL error down so we'll have to stick with that generic error and have the user look at the log for the moment like the message describes

[2019-05-09 17:24] satkunas commented on #4424
Please fwd me the data needed for the [radius_accounting] section. I'm attempting to post-calc columns from the columns=* directive.

I'm currently getting an empty response.

[2019-05-09 17:56] jrouzierinverse commented on #4425
fixed by 4601309ab1cdb6298e924e3e62d7761859216093

[2019-05-09 17:56] #4425 closed

[2019-05-09 17:57] #4424 closed

[2019-05-09 17:58] satkunas commented on #4417
More fixes in https://github.com/inverse-inc/packetfence/commit/d1ff4af71d40ef45ff2215295fbcf46c88308c14

[2019-05-09 18:11] #4410 closed

[2019-05-09 18:17] lzammit opened #4427 "v9: bin/pftest authentication not verifying the password anymore"
I've tested with a local account that has the password hashed with ntlm + plaintext.

[2019-05-09 18:32] jrouzierinverse commented on #4377
I know why this is happening but I need to find out where.

[2019-05-09 18:41] lzammit commented on #4427
It's working. Code 12.

[2019-05-09 18:41] #4427 closed

[2019-05-09 18:43] lzammit opened #4428 "v9-gui: When creating local account, the registration window start date doesn't set to today"
The field is empty.

[2019-05-09 19:00] satkunas commented on #4428
![Selection_020](https://user-images.githubusercontent.com/3904468/57479325-250a2600-726b-11e9-93c5-a7f28d79b644.png)

This was added to devel yesterday.

[2019-05-09 19:06] satkunas opened #4429 "API POST fingerbank/local/combinations"
In some cases form data includes meta information received from GET. This is carried forward when cloning. The following error was received when creating a new item based on data received from an existing item (a clone).

[code]

Fingerbank endpoints should silently ignore any unknown fields.

[2019-05-09 19:07] lzammit commented on #4428
Fixed on the latest build

[root@cluster1 pf]# rpm -qa packetfence
packetfence-8.3.9-0.201905091301.el7.noarch

[2019-05-09 19:07] #4428 closed

[2019-05-09 19:12] lzammit opened #4430 "v9-gui: DHCP option 82 error when clicking on a Mac address"
<img width="434" alt="image" src="https://user-images.githubusercontent.com/5261214/57480054-c5147f00-726c-11e9-94c8-10d47735ff90.png">

[2019-05-09 19:24] julsemaan commented on #4429
I'm not sure I'm the best one to do this since that may be hidden in @jrouzierinverse's magic when he wrote those API endpoints.

I can try to look at it though and I'll see what I can do

[2019-05-09 19:24] satkunas commented on #4430
Related to admin roles. Re-assigning.

[2019-05-09 19:27] satkunas commented on #4419
This won't work. `httpd.admin`, `pfperl-api` and `api-frontend` will restart with this, which will cancel the request and never return a response, thus leaving the app in a dead state, and even worse - making it impossible to remedy via the dead admin. A similar dependency issue as restarting all interfaces while connected remotely. This was the idea behind "Protected" services, making them untouc

[2019-05-09 19:46] jrouzierinverse commented on #4429
Two issues
* You are passing in not_deletable which is virtual field.
* We are not cleaning our data before passing it in to fingerbank API.

[2019-05-09 19:56] cgx commented on #4430
@lzammit: which admin role was assigned to the current user? Node Manager?

@julsemaan: shall we update the `adminroles.conf` defaults?

[2019-05-09 19:58] lzammit commented on #4430
@cgx admin user with ALL access.

Thanks.

[2019-05-09 20:04] cgx commented on #4430
That's a backend issue. @julsemaan ?

[2019-05-09 20:45] lzammit opened #4431 "v9-gui: Security event web page not working; Too many redirects"
If I rise a security event on a Mac address I got the portal redirection 6 times.

[code]

[2019-05-10 01:00] Phongnho commented on #4421
Jzsjsk

[2019-05-10 03:07] webliuxiang opened #4432 "CentOS 7: How do I install perl dependencies ？"
I want to use the 8.3.0 version of packetFence code to compile and run, but I haven't found the specific operation process, and I don't know how to install the dependent project, how to run the project, and how to package the project.

[2019-05-10 07:31] nqb commented on #4377
@jrouzierinverse: tell me if I can help.

[2019-05-10 07:55] nqb opened #4433 "permissions: review permissions on conf/ dir"
Currently a local UNIX account without any privilege can read all files under `conf/`

Steps to reproduce (Debian and CentOS):
[code]
Considering the number of secrets a PF server can store under `conf/`, we need to review and adjust rights on this directory.

[2019-05-10 11:25] julsemaan commented on #4432
This is not the place where you'll get answers. Use the mailing list for such questions.

BTW, the install process is all documented in the installation guide on packetfence.org

[2019-05-10 11:25] #4432 closed

[2019-05-10 11:26] julsemaan commented on #4431
Would you have expected it 7 times ?

[2019-05-10 11:28] julsemaan commented on #4430
There is no adminroles.conf defaults unfortunately, I've updated the example file

This is probably just an issue where the package was updated but packetfence-config + all PF services weren't restarted so the new admin roles constants weren't loaded so they aren't applied to the ALL role

@lzammit: Try restarting everything + configreload

[2019-05-10 11:29] julsemaan commented on #4429
@jrouzierinverse sent me a PM saying he'll be taking care of it, reassigning

[2019-05-10 11:30] julsemaan commented on #4419
In this case, let me remove that service from the API

CLI FTW!

[2019-05-10 11:33] #4419 closed

[2019-05-10 11:36] extrafu commented on #4422
@julsemaan Who should take care of this? Please assign.

[2019-05-10 11:36] extrafu commented on #4407
@fdurand  Who should take care of this? Please assign.

[2019-05-10 11:37] extrafu commented on #4406
@lzammit  Who should take care of this? Please assign.

[2019-05-10 11:37] extrafu commented on #4405
@lzammit  Who should take care of this? Please assign.

[2019-05-10 11:37] extrafu commented on #4401
@julsemaan Who should take care of this? Please assign.

[2019-05-10 11:37] extrafu commented on #4322
@lzammit  Who should take care of this? Please assign.

[2019-05-10 12:03] julsemaan opened #4434 "Creating a switch ignores inherited values"
When creating a switch, it used to not redefine the inherited values in the section if they were the same as one of the parent section (either default or the switch group + default)

Right now, it redefines them, example:
[code]

[2019-05-10 12:03] #4422 closed

[2019-05-10 12:40] #4431 closed

[2019-05-10 12:45] nqb opened #4436 "Old GUI: some sources didn't have any rules"
Nightly builds.

If I create a new Htpasswd source through API or new webadmin, source didn't have `Authentication rules` or `Administration rules`. Same for POTD, sms, email, sponsor, null.

@jrouzierinverse, I suppose this is caused by c9c5ede

[2019-05-10 13:22] dondon21 opened #4437 "New GUI / Missing documentation"
In the new GUI the "Help" section (Documentation) in the configuration tab and others is missing.
Refers to the documentation test on Testlink (failed).

[2019-05-10 13:38] lzammit commented on #4430
Seems fixed now.

[2019-05-10 13:38] #4430 closed

[2019-05-10 13:40] lzammit commented on #4431
Tested, it works.

[2019-05-10 13:46] lzammit opened #4438 "Releasing a violation does not show the loading"
If you click on the release button it does not show the loading bar.

It shows a warning/error:

Your access would be enable within a minutes or 2. Please reboot your computer.

[2019-05-10 13:48] lzammit opened #4439 "v9-gui: Closed security event does not appear closed"
New admin:

<img width="1150" alt="image" src="https://user-images.githubusercontent.com/5261214/57531885-86340700-7308-11e9-80b0-1ea03047933f.png">

Old admin:

<img width="847" alt="image" src="https://user-images.githubusercontent.com/5261214/57531957-a95eb680-7308-11e9-917c-a87cf06fbd60.png">

[2019-05-10 13:49] lzammit commented on #4439
I needed to refresh the node..

[2019-05-10 13:49] #4439 closed

[2019-05-10 13:52] satkunas opened #4440 "API GET /system_summary nice-to-have's"
It would be nice to expose additional system information such as:

- # of cpus
- meminfo
- OS uname

So that we can develop admin helpers that can make recommendations based on the system setup. Once example that comes to mind is the `pfperl_api_processes` (from https://github.com/inverse-inc/packetfence/issues/4423) which we can make a recommendation - or a warning - based on the amount of memory

[2019-05-10 13:59] jrouzierinverse commented on #4436
Can you provide me with API content you used?

[2019-05-10 14:03] #4423 closed

[2019-05-10 14:03] satkunas commented on #4402
Added in https://github.com/inverse-inc/packetfence/commit/e343bdeb2da2a0e2ea0bf35aa4d4590aa0a2ee6a

[2019-05-10 14:03] jrouzierinverse commented on #4436
I think the problem is here 8a9916881dcfb6964a40789445f10e69e5f01b65.
@satkunas for the sources how do you handle the cases where some have rules while others don't?

[2019-05-10 14:04] #4429 closed

[2019-05-10 14:09] nqb opened #4441 "v9-gui: editing a current network interface"
Since 8e97e7d, it's not possible to edit a current network interface from Network configuration > Interfaces in the new GUI if interface has a `ifindex` which is not equal to its `iflink` (see [this thread on stackoverflow](https://unix.stackexchange.com/questions/444892/what-does-if1if2-mean-in-interface-name-in-output-of-ip-address-command-on#444911)).

My setup:
[code]
If I try to edit `eth0`,

[2019-05-10 14:09] nqb commented on #4441
Related to #4264

[2019-05-10 14:13] nqb commented on #4441
I got this behavior in a Docker container running Debian or CentOS.

[2019-05-10 14:14] jrouzierinverse commented on #4436
As mentioned before Billing/Blackhole/SAML/HTTP sources do not have rules.
All other source needs rules.

[2019-05-10 14:24] #4401 closed

[2019-05-10 14:33] nqb commented on #4436
@jrouzierinverse,

Sorry if it was unclear: issue is in **old GUI**.

What I did:
[code]
Source is created but when I go to **old GUI**, this source doesn't display "Authentication" or "Administration" rules section. Same behavior for new sources created like "Null".

Same behavior if I create source with `administration_rules` or `authentication_rules` in API content.

Issue seems to be only on D

[2019-05-10 14:35] cgx commented on #4310
See #4063.

[2019-05-10 14:39] nqb commented on #4436
@fdurand: are you able to reproduce under Debian (latest nightly builds) ?

[2019-05-10 14:43] julsemaan commented on #4441
I will need to have details on how to create such an interface

Also, its not because it used to work that it should have worked

If this is a twisted use case we might postpone the fix after 9.0

[2019-05-10 14:49] julsemaan opened #4442 "VLAN label overlaps IP address"
The VLAN label overlaps the IP address when the interface name is too long:
![image](https://user-images.githubusercontent.com/3857942/57536005-4887ac00-7311-11e9-8fef-387a9610366a.png)

[2019-05-10 15:18] #4407 closed

[2019-05-10 15:20] julsemaan opened #4443 "Let's encrypt renewal should restart haproxy-portal and radiusd"
When renewing Let's Encrypt through the cronjob, it should restart the appropriate services so that its taken into account

[2019-05-10 15:28] fdurand commented on #4436
The issue is when there is no authentication or administration rules defined in the source then the form doesn't appear.

[2019-05-10 15:40] lzammit opened #4444 "Having the ability to restart a service on all cluster node from the admin"
The title says it all.

[2019-05-10 15:48] lzammit opened #4445 "v9-gui: New access duration is not available in the list until refresh"
We need to refresh the page to reload the option.

[2019-05-10 16:33] #4436 closed

[2019-05-10 16:59] julsemaan opened #4446 "Enabling let's encrypt doesn't show it as enabled next time you edit the cert"
If you enable let's encrypt and issue a valid cert, the next time you edit the certificate resource, let's encrypt is shown as disabled and displays the classic certificate edit screen

[2019-05-10 17:37] cgx commented on #4446
Fixed via 1921e95.

[2019-05-10 17:37] #4446 closed

[2019-05-10 17:43] cgx opened #4447 "v9-gui: Allow to restart services when updating SSL certificates"
When changing the RADIUS certificate, we should allow the user to restart the *radiusd-** services.

When changing the HTTP certificate, we should allow the user to restart the *haproxy-portal* and alert that *httpd.admin* must be restarted from the command-line.

[2019-05-10 17:54] lzammit opened #4448 "v9-gui: vlan_filters configuration not replicated on all cluster nodes"
Create or update a vlan filter does not replicate the configuration on other servers.

[2019-05-10 18:04] julsemaan commented on #4443
fixed in 9ffe786844f47bdc05c3b820a8c7f4b1c04e7d07 and 71b6523154050e4a0f0c4496236be1bbb4a6bd35

[2019-05-10 18:04] #4443 closed

[2019-05-10 18:16] fdurand commented on #4377
I am not able to replicate on debian, can you retry with the new package ?

[2019-05-10 18:17] fdurand opened #4449 "v9-gui : Not able to create a root portal module"
The form is just empty.
![image](https://user-images.githubusercontent.com/1553962/57548183-55ff5f00-732e-11e9-8d75-483c22a7e935.png)

[2019-05-10 18:22] #4438 closed

[2019-05-10 18:26] fdurand opened #4450 "v9 gui: timezone list is not complete."
The time zone list stop at America/Merida

[2019-05-10 18:28] fdurand commented on #4450
Looks to be the same as #4328

[2019-05-10 18:34] julsemaan commented on #4450
On mine it stops at America/Mierda

[2019-05-10 18:34] #4450 closed

[2019-05-10 18:37] #4328 closed

[2019-05-10 18:41] fdurand opened #4451 "v9-gui: New Billing Tier : Price form issue"
Let say i want to put 125000$ then when i type it it's 1,0025000

[2019-05-10 18:49] julsemaan commented on #4451
Better have a 10 gig internet access for that price

[2019-05-10 18:52] jrouzierinverse commented on #4391
This has been fixed by 78ce3b2bd185109e18bd9f1c5ed46d1815f193fa please verify

[2019-05-10 18:58] satkunas opened #4452 "API POST config/sources meta mismatch"
When posting a new `Stripe` source the following error is received in the response:

`{"message":"Attribute (secret_key) is required at \/usr\/lib64\/perl5\/vendor_perl\/Moose\/Meta\/Attribute.pm line 519.\n\tMoose::Meta::Attribute::initialize_instance_slot('Moose::Meta::Attribute=HASH(0x9183ae8)', 'Moose::Meta::Instance=HASH(0x9183ec0)', 'pf::Authentication::Source::StripeSource=HASH(0x12712198)'

[2019-05-10 19:14] #4360 closed

[2019-05-10 19:14] #4452 closed

[2019-05-10 19:15] satkunas commented on #4282
@julsemaan should I open an issue on 9.1 to suppress the pfcmd checkup warning?

[2019-05-10 19:15] cgx commented on #4388
Fixed via 1921e95.

[2019-05-10 19:15] #4388 closed

[2019-05-10 19:22] julsemaan commented on #4282
I'll remove the checkup warning of the empty directory

[2019-05-10 19:37] fdurand opened #4453 "v9-gui: user create empty access duration list"
Not able to assign a access duration to a user when i create it.

[2019-05-10 19:38] satkunas opened #4454 "Improve search criteria on config/search"
Configuration search (POST config/.../search) will need to be extended to support complex operators so we can re-implement the WRIX Location search tools.

From: https://github.com/inverse-inc/packetfence/issues/4153

[2019-05-10 19:41] satkunas commented on #4153
Moved to #4454

[2019-05-10 19:42] julsemaan opened #4455 "Connection profile "default" can be reordered"
The default connection profile can be reordered in the list although it should always be the first like in the previous admin

[2019-05-10 19:43] fdurand commented on #4453
Page refresh fix the issue.

[2019-05-10 19:43] #4453 closed

[2019-05-10 19:43] julsemaan opened #4456 "Error when editing a connection profile file"
Edit error.html on the default connection profile and you get this little gift:
[code]

[2019-05-10 19:44] fdurand commented on #4456
Update perl Mojoliciuos from the devel repo.

[2019-05-10 19:45] julsemaan commented on #4456
Is the dependency added to the packetfence.spec ?

@lzammit got this in a machine that uses packaging

[2019-05-10 19:46] fdurand commented on #4456
not the version

[2019-05-10 19:49] #4406 closed

[2019-05-10 19:49] julsemaan commented on #4391
works now

[2019-05-10 19:49] #4391 closed

[2019-05-10 19:57] #3854 closed

[2019-05-10 21:08] #4448 closed

[2019-05-10 21:19] cgx commented on #4348
Partially fixed via 7b1c469.

[2019-05-10 23:30] extrafu commented on #4451
@lzammit's pocket money.

[2019-05-11 10:57] tech62 opened #4457 "Can't install packetfence - debian 8.11.0"
I've encountered the message "Dependency not satisfied", any idea ?
 packetfence : Dépend: libmojolicious-perl (>= 7.74) mais ne sera pas installé
               Dépend: libmojox-log-log4perl-perl mais ne sera pas installé
E: Impossible de corriger les problèmes, des paquets défectueux sont en mode « garder en l'état ».

[2019-05-11 13:38] auxmatto opened #4458 "Packetfence 8.3 not showing Device Manufacturer in Nodes"
Hello,

I recently setup Packetfence 8.3.0 with the ZEN deployment. I setup the Fingerbank API with github, and shows successfully connected. I have a switch connected to the Packetfence, and it is working correctly, including accounting. However, in the Node view, I see my nodes listed, with mac address, switch ip, switchport, but I cannot seem to figure out how to show Device Manufacturer. The c

[2019-05-13 11:28] julsemaan commented on #4458
That is a question that should be asked on the PacketFence mailing list

This bug tracker is reserved for confirmed bugs and development issues

[2019-05-13 11:28] #4458 closed

[2019-05-13 13:25] extrafu commented on #4456
Fixed?

[2019-05-13 13:26] julsemaan commented on #4456
not in my envrionment, I'll try it with a packaged version, not from sources to see if it makes a difference

[2019-05-13 13:41] fdurand commented on #4457
Wrong libmojolicious-perl version in the repo.
Fixed

[2019-05-13 13:41] #4457 closed

[2019-05-13 13:58] fdurand opened #4459 "V9 gui: Reports -> Security Events -> Open, will send you to the dahsboard when you click on it."

[2019-05-13 14:06] satkunas commented on #4455
@jrouzierinverse please add a `not_sortable` boolean to the connection profiles payload.

[2019-05-13 14:06] extrafu commented on #4377
What's the status on this? If @fdurand you can't replicate, close it and it'll get re-opened if @nqb has the issue again.

[2019-05-13 14:08] lzammit commented on #4448
Tested and it works.

[2019-05-13 14:12] julsemaan commented on #4455
Just to make it clear, the profiles are sortable by ID but the default section should not be sortable.

Not sure if that can be handled in the OPTIONS or if we should make it a special case in the frontend

[2019-05-13 14:15] lzammit commented on #4439
fixed with 7a7305c83e9641336b356164dd1ed9e21d5e02e4

[2019-05-13 14:32] fdurand commented on #4377
Just did a test and worked

[2019-05-13 14:32] #4377 closed

[2019-05-13 14:42] julsemaan commented on #4395
@jrouzierinverse: Adjust the backend to auto-fill the sponsor field during POST on user creation (only creation)

[2019-05-13 14:44] julsemaan opened #4460 "Embed asciidoc in admin"

[2019-05-13 14:44] #4257 closed

[2019-05-13 15:06] fdurand opened #4461 "V9 Gui: Provisionner form is not complete, it miss some fields."
Per example if you choose wpa2 then there is no EAP type.

[2019-05-13 15:33] julsemaan opened #4462 "Switching node status from reg to unreg doesn't trigger access reevaluation"
In the new admin, when you switch the status from a status to another, there is no access reevaluation done which leaves the node with the wrong network access

[2019-05-13 15:35] julsemaan opened #4463 "Switching role from node in new admin doesn't trigger access reevaluation"
Similarly to #4462, an access reevaluation should be triggered if the role of an endpoint changes

[2019-05-13 15:38] #4403 closed

[2019-05-13 16:10] #4381 closed

[2019-05-13 16:25] cgx opened #4464 "v9-gui: Read-only mode"
Add visual distinction when in read-only mode

[2019-05-13 16:30] julsemaan opened #4465 "Remove user_agent/useragent security event triggers"
These are useless and deprecated now.

Also should provide upgrade notes+script

[2019-05-13 16:31] fdurand opened #4466 "V9-Gui: Miss routes service when you create a routed network"
![image](https://user-images.githubusercontent.com/1553962/57638115-15e0ec00-757b-11e9-8005-a8aab25e9422.png)

[2019-05-13 16:46] julsemaan opened #4467 "enabling/disabling pfmon task doesn't provide immediate feedback"
If you enable/disable a task in the pfmon index (#/configuration/maintenance_tasks), there is no feedback that the task is enabling/disabling while the API is performed which leads you to multi-click the toggle and generate multiple API calls

[2019-05-13 16:52] jrouzierinverse commented on #4455
not_sortable boolean is done

[2019-05-13 16:53] jrouzierinverse commented on #4434
This is done please verify

[2019-05-13 17:01] julsemaan opened #4468 "Add suffix or prefix to cloned configuration"
When cloning a piece of configuration (lets say a source), the name in the clone is the same as the source you're cloning which results in a warning right when you get onto the page

Let's say the initial source name is "@lzammit's sexy LDAP server", cloning it could make the ID of the new source "@lzammit's sexy LDAP server (copy)"

Not sure if its decided in the frontend or backend so assigning

[2019-05-13 17:07] julsemaan opened #4469 "Creating a switch doesn't display inherited values"
When you create a new switch, you don't see the values inherited by the switch group (default or an actual switch group) which leads you to reconfigure the whole switch since you don't clearly know what is the default/inherited value

[2019-05-13 17:08] fdurand opened #4470 "V9-Gui: Network: named configuration parameter is unset"
When i create a remote network then the named and domain-name parameters are not set in the configuration file:

[code]

[2019-05-13 17:08] julsemaan commented on #4434
Not overriding everything anymore

[2019-05-13 17:08] #4434 closed

[2019-05-13 17:15] julsemaan commented on #4465
This has way too many implications and implies too many code changes so close to the release.

This will have to be done in 9.1

For now, the new GUI will not show the user agent triggers and will be inconsistent with the old admin until 9.1

[2019-05-13 17:29] julsemaan opened #4471 "Need to be able to test SMTP settings from the admin"
The API endpoint for testing SMTP settings was done (#4043) but was never implemented in the admin interface so we can't test the SMTP settings in the admin by sending an email like before

That might be a 9.0.1 unless its a quickie so I've put it in the 9.0 pipe for now

[2019-05-13 17:39] fdurand opened #4472 "V9-Gui: not able to delete a vlan interface"
xhr.js:178 DELETE https://172.20.135.4:1443/api/v1/config/interface/ens224.139 404 (Not Found)
...
api.js:261 API error
api.js:263 {errors: Array(0), message: "Unimplemented", status: 404}

[2019-05-13 17:42] julsemaan opened #4473 "Add more obvious delimiter in RADIUS audit log"
When viewing a RADIUS audit log entry "RADIUS" tab, we could use a clear delimiter between the request and the reply attributes since they can be pretty close to each other:

![image](https://user-images.githubusercontent.com/3857942/57642240-d0c1b780-7584-11e9-8dc4-7d445157bb04.png)

[2019-05-13 17:49] #4472 closed

[2019-05-13 17:54] julsemaan opened #4474 "Creating a domain doesn't join it"
When you create a new domain, it doesn't initiate the join process and you have to manually go back to the domain index and initiate the join process

We should initiate the join process during the creation (but not during the update) of a domain

[2019-05-13 18:02] #4449 closed

[2019-05-13 18:10] satkunas opened #4475 "API PATCH sources/sort_items error"
Payload:

[code]

Response:
[code]

[2019-05-13 18:13] jrouzierinverse commented on #4475
Ok will look into this

[2019-05-13 18:18] jrouzierinverse commented on #4475
send me your conf/authentication.conf in order for me to replicate

[2019-05-13 18:29] jrouzierinverse commented on #4475
Caused by a bad configuration in conf/authentication.conf

[2019-05-13 18:32] jrouzierinverse commented on #4468
It would be just simpler to blank out the old ID as this is the current behavior in the old admin.

[2019-05-13 18:33] jrouzierinverse commented on #4468
This is frontend since we have not knowledge of how cloning is implemented in the backend.

[2019-05-13 18:35] jrouzierinverse commented on #4470
Either this not sent from the frontend or the backend is not saving it.
@julsemaan since you are more familiar with this code can you look it?

[2019-05-13 18:51] julsemaan commented on #4470
The frontend seems to be sending the field named as 'dns' instead of 'named' so that's very likely to be a frontend issue

Assigning @satkunas

[2019-05-13 18:54] julsemaan commented on #4456
works on a packaged version, no need to invest time in my machine running the sources

[2019-05-13 18:54] #4456 closed

[2019-05-13 18:56] fdurand opened #4476 "v9 Gui: User create , when click on create nothing happen"
![image](https://user-images.githubusercontent.com/1553962/57646716-2ef39800-758f-11e9-8149-bcdda2894b72.png)

[2019-05-13 19:06] #4455 closed

[2019-05-13 19:12] #4405 closed

[2019-05-13 19:22] #4437 closed

[2019-05-13 19:25] #4322 closed

[2019-05-13 19:28] cgx opened #4477 "v9-gui: Saved Searches sidebar position"
The user-defined saved searches should appear bellow the standard searches.

[2019-05-13 19:54] julsemaan commented on #4366
I'll look into that

[2019-05-13 19:56] #4462 closed

[2019-05-13 19:56] #4463 closed

[2019-05-13 20:00] satkunas opened #4478 "API OPTIONS config/provisioning allowed security_type mismatch"
`WPA` value is used twice.

`/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/provisioning/ios | jq '.meta.security_type.allowed'`

[code]

[2019-05-13 20:01] #4476 closed

[2019-05-13 20:09] cgx opened #4479 "v9-gui: Improve localizable strings"
Fix typos

[2019-05-13 20:15] satkunas opened #4480 "API OPTIONS config/provisioning eap_type missing "No EAP" option"
`/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/provisioning/ios | jq '.meta.eap_type.allowed'`

[code]

[2019-05-13 20:17] satkunas commented on #4480
![Selection_021](https://user-images.githubusercontent.com/3904468/57651186-a3800400-759a-11e9-9c84-b9ea9899ef77.png)

[2019-05-13 20:26] jrouzierinverse commented on #4480
No EAP is just an empty field.
As per your request all fields that are empty are removed from the allowed values

[2019-05-13 20:30] #4466 closed

[2019-05-13 20:33] fdurand opened #4481 "V9 Gui: Enable NAT is always disabled even if it is in the configuration file"
![image](https://user-images.githubusercontent.com/1553962/57652125-e347eb00-759c-11e9-8ad1-0e74756a07d2.png)

[2019-05-13 21:04] #4461 closed

[2019-05-13 21:16] #4475 closed

[2019-05-13 21:16] #4478 closed

[2019-05-13 21:26] satkunas commented on #4470
@julsemaan, can either you or @fdurand give me steps (for the old admin) so I can see where this field is missing?

In the screenshot below, the field "DNS Server" is keyed as "dns".  There appears to be no field "named".

![Selection_023](https://user-images.githubusercontent.com/3904468/57655843-e34be900-75a4-11e9-9edc-6a0bd6eb59c6.png)

[2019-05-13 22:03] fdurand commented on #4470
It's implicit in the old admin when you create a remote network:
https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/ConfigStore/Network.pm#L147
True for domain-name and named configuration parameter.
Btw i don't know how the new remote network is added in the new admin through the api.

[2019-05-13 22:09] satkunas commented on #4470
If that's the case then it should also be implicit in the new admin as well. If agreed please re-assign to @jrouzierinverse  for back-end changes.

[2019-05-13 23:01] #4348 closed

[2019-05-14 01:23] #4479 closed

[2019-05-14 06:44] nqb commented on #4384
Try to apply maintenance patches with `$PF/addons/pf-maint.pl` and retry.

[2019-05-14 06:44] #4384 closed

[2019-05-14 06:50] slaggi opened #4482 "SSO with two devices under the same owner"
I got some weird behaviour of SSO if there are 2 or more devices active under the same owner.
The first device comes online and the SSO (Fortigate SSO) gets triggered correctly.

In the moment a second device comes up of the same owner, both SSO’s get cancelled out via
Radius accounting – stop messages (Fortigate SSO).

Now if I look in the packetfence.log, it gets even more weird as at some stage

[2019-05-14 06:51] nqb commented on #4326
Issue still presents: I can't add rules for a POTD source under CentOS.

@jrouzierinverse, on current builds:
- Billing/Blackhole/SAML/HTTP source cannot in **old** GUI and **new** GUI
- POTD source cannot in **old** GUI and **new** GU

[2019-05-14 08:11] nqb opened #4483 "v9-gui: email activation timeout incorrectly set"
If you click on **current** value in dropdown list of "Email activation timeout" setting on a source, drop-down list disappear and `email_activation_timeout` is unset in `authentication.conf`.

### Steps to reproduce

Environment: Chromium | 74.0.3729.131 (Official Build) snap (64-bit)

1. Create a new Email source
2. Click on "minutes" choice in drop-down list

[2019-05-14 08:54] nqb opened #4484 "v9-gui: security events display on a node"
After a security event has been opened for a node (Lost or stolen), I got following display:

![Screenshot from 2019-05-14 10-42-16](https://user-images.githubusercontent.com/10830260/57684018-38cfd680-7635-11e9-8293-e05c3fb2f0da.png)

Column Security Event will never display "Lost or stolen", " Release Date" should be empty (like in old GUI). If I trigger a new security event, this one is correct

[2019-05-14 09:53] nqb opened #4485 "v9-gui: missing field on SponsorEmail source"
On SponsorEmail source, "Language for sponsor email" field is missing. This feature has been added in 8.3.

### Actual results

* It's possible to set the "lang" attribute from API:
[code]

[2019-05-14 11:16] julsemaan commented on #4482
we'll look into this once the 9.0 release rush passes.

I'll tag this as a +1 patch so it hits maintenance if its a bug

[2019-05-14 11:21] julsemaan commented on #4470
@satkunas, you're right, I'll look into that

[2019-05-14 11:47] nqb opened #4486 "v9-gui: width of box after password creation is too narrow"
![Screenshot from 2019-05-14 13-45-31](https://user-images.githubusercontent.com/10830260/57695485-b05e2f80-764e-11e9-9ab0-3bd45092cc9c.png)

### To reproduce

Create a user with a password of 30 characters length.

[2019-05-14 11:58] nqb opened #4487 "v9-gui: display of access level for users"
When access level is set to NONE for a user, **new** GUI doesn't display this information in `Actions` tab of the user. Not the case with `ALL`.

As I mentioned in #4395, after a new creation of a user, access level is displayed. If I clear my browser cache, I lost this information.

[2019-05-14 12:11] nqb opened #4488 "Embedded doc not available"
On CentOS nightly builds (old and new GUI), `doc` is missing from `$PF/html/pfappserver/root/static/` causing embedded doc to be unavailable.

[2019-05-14 12:30] #4366 closed

[2019-05-14 12:36] #4470 closed

[2019-05-14 12:41] #4485 closed

[2019-05-14 13:03] nqb commented on #4488
I don't understand why.

`doc` dir is part of latest builds (in RPM) with HTML files needed.

[2019-05-14 13:03] Roer commented on #4384
I have run pf-maint.pl and tried again. The POTD emails are still blank.

[2019-05-14 13:29] #4442 closed

[2019-05-14 13:35] julsemaan opened #4489 "Security Events: cannot remove ignored role after adding one"
If you add one (just a single one) ignored role to a new security event, you can't clear it anymore to have no ignored role

[2019-05-14 13:36] #4487 closed

[2019-05-14 13:44] jrouzierinverse commented on #4480
@satkunas I am closing this as this is not an issue on my side.

[2019-05-14 13:44] #4480 closed

[2019-05-14 13:44] julsemaan opened #4490 "Security Events: MAC vendor trigger doesn't have type-ahead"
The MAC vendor field of the device profiling trigger sub-section doesn't have auto complete via a search lookup.

Inspected the console and there was no call made to '/search' like with the other attributes

[2019-05-14 13:44] cgx commented on #4489
@julsemaan Works for me. I click on "New Security Event", add a role to the ignored roles, and I can remove it from the pulldown or by clicking on the "x" of the chip.

[2019-05-14 13:46] jrouzierinverse commented on #4481
@fdurand can you provide me with an example config please?

[2019-05-14 13:46] julsemaan commented on #4489
yes it works now after I visited the following link:
https://semaan.needed.to.recompile.com/he-should-double-check-that-before-opening-an-issue.html

[2019-05-14 13:46] #4489 closed

[2019-05-14 13:47] #4451 closed

[2019-05-14 13:47] cgx commented on #4490
Must fix the backend first:

[code]

[2019-05-14 13:52] satkunas commented on #4484
@nqb Not able to reproduce.

Patience is required for the GET config/security_events to complete. Check the debugger and wait for this

![Selection_025](https://user-images.githubusercontent.com/3904468/57703355-e212ce80-762d-11e9-8a2d-2105127745ce.png)

to become this

![Selection_024](https://user-images.githubusercontent.com/3904468/57703366-e808af80-762d-11e9-8193-6af13ad8e779.png)

After the

[2019-05-14 13:53] fdurand commented on #4481
[code]

[2019-05-14 13:57] fdurand opened #4491 "v9 Gui: Not able to activate some security events"
- [ ] Security Event 1100004 :
![image](https://user-images.githubusercontent.com/1553962/57703632-72511380-762e-11e9-832c-e035a8530dd4.png)

- [ ] Security Event 1100006:
![image](https://user-images.githubusercontent.com/1553962/57703741-a9bfc000-762e-11e9-9654-4fe7abb0f448.png)

- [ ] Security Event 1300002:
![image](https://user-images.githubusercontent.com/1553962/57704308-9fea8c80-762f-11e9-

[2019-05-14 14:00] cgx commented on #4491
The backend can't resolve some the of the devices:

[code]

[2019-05-14 14:02] satkunas commented on #4483
Clicking on the email activation timeout units to remove the current option does make the chosen element narrower, but it does not "disappear" . The dropdown arrow is still visible and selectable.

![Selection_026](https://user-images.githubusercontent.com/3904468/57703853-d673d780-762e-11e9-9b2b-1d9a93cc4cfb.png)

It only commits the changes after you click "Save". Changes are not automatically c

[2019-05-14 14:08] satkunas commented on #4483
@jrouzierinverse Meta for `units` should be required when the parent is required. This will disallow the chosen from being emptied/cleared.

`/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/sources?type=Email | jq '.meta.email_activation_timeout.properties.unit.required'`

I'll manually override this attribute until the backend is modified.

[2019-05-14 14:10] #4483 closed

[2019-05-14 14:12] satkunas opened #4492 "API Meta for duration units not required"
From #4483

Meta for units should be required when the parent is required. This will disallow the chosen from being emptied/cleared.

/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/sources?type=Email | jq '.meta.email_activation_timeout.properties.unit.required'

[2019-05-14 14:12] satkunas commented on #4492
Temporary static front-end workaround in https://github.com/inverse-inc/packetfence/commit/ccc92ff294df029ce260f76cbee272707eeede41

Targeted for 9.1

[2019-05-14 14:15] satkunas commented on #4483
Issue re-worked in https://github.com/inverse-inc/packetfence/issues/4492

[2019-05-14 14:27] fdurand opened #4493 "v9 gui: Missing "Rate limit" in the form of the syslog parsers"
![image](https://user-images.githubusercontent.com/1553962/57705964-cd850500-7632-11e9-9f87-0cc7a318b621.png)

![image](https://user-images.githubusercontent.com/1553962/57705997-dfff3e80-7632-11e9-9887-16b178d6ad29.png)

[2019-05-14 14:30] #4490 closed

[2019-05-14 14:31] satkunas commented on #4481
Fixed in https://github.com/inverse-inc/packetfence/commit/0f1163e9e6b35333841346e3b74ccb4c7bfc8b61

[2019-05-14 14:31] #4481 closed

[2019-05-14 14:38] julsemaan commented on #4395
@nqb, can you verify the fix @jrouzierinverse did for the auto-fill of the sponsor

[2019-05-14 14:39] cgx opened #4494 "v9-gui: Can't set a bandwidth balance to a portal module"
Adding a bandwidth balance to the actions of a portal module can't be saved.

[2019-05-14 14:39] julsemaan commented on #4326
@fdurand will check the packaging issue

Debian only

[2019-05-14 14:41] julsemaan commented on #4326
@jrouzierinverse will investigate the formhandler issue

[2019-05-14 14:42] julsemaan commented on #4395
fix by @jrouzierinverse in a41709bb645602313490eb604c2d30a3f17bcb06

[2019-05-14 14:43] julsemaan commented on #4395
@satkunas will add a note saying if nothing is put into that field, it gets autopopulated with the current user

[2019-05-14 14:53] jrouzierinverse commented on #4326
Fixed by 9e9fe3c679220281efbcc2beb5c24efe9ae13223

[2019-05-14 14:53] nqb commented on #4395
@satkunas and @jrouzierinverse

On latest builds in new GUI, sponsor field is not populated with current user. Moreover, take care of the fact that new GUI now checks if sponsor field is an email address (not the case in old GUI).

[2019-05-14 14:54] satkunas opened #4495 "API l2_network nat_enabled fake_mac_enabled are ints"
Should be changed to strings (in/out).

Changes needed in backend and in frontend. (undo https://github.com/inverse-inc/packetfence/commit/0f1163e9e6b35333841346e3b74ccb4c7bfc8b61)

From @4481

[2019-05-14 15:17] satkunas commented on #4474
Fixed in https://github.com/inverse-inc/packetfence/commit/6429323000c5f59b8c21b50e5257af96e5f4d96b

Auto Join is trigger on both Create and on Update. The [CTRL] changes the behaviour of the [Save] button to allow the user to Save & Join (default), or just Save (w/ CTRL key pressed)

[2019-05-14 15:17] julsemaan opened #4496 "SSL certs UI: Issuing Let's Encrypt cert doesn't change the cert info"
When you switch to Let's Encrypt (or probably save any new cert with a different domain name), then when you're redirected to the cert info, it still shows the info of the old cert, not the new one that has been installed

[2019-05-14 15:21] cgx opened #4497 "API: /api/v1/config/syslog_parsers → missing nexpose"
The **nexpose** type is missing in the available types:

[code]

[2019-05-14 15:26] #4493 closed

[2019-05-14 15:40] #4496 closed

[2019-05-14 16:00] #4474 closed

[2019-05-14 16:04] #4497 closed

[2019-05-14 16:21] extrafu commented on #4488
@fdurand Can you please take care of this one?

[2019-05-14 16:52] satkunas commented on #4467
Fixed in https://github.com/inverse-inc/packetfence/commit/9303b15106ab9a47cb426813fc8cbb80135a6473

[2019-05-14 16:52] #4467 closed

[2019-05-14 16:54] julsemaan opened #4498 "There should be no validation of event triggers"
The event triggers (suricata_event, suricata_md5, nexpose_*) should offer suggestions in select boxes but shouldn't validate what the user provided as anything should be allowed as a value

[2019-05-14 16:56] #4459 closed

[2019-05-14 17:01] satkunas commented on #4395
Note added in https://github.com/inverse-inc/packetfence/commit/11da915a56113c7f0b71f7a89df6fcec3039eb10

![Selection_027](https://user-images.githubusercontent.com/3904468/57717072-65411e00-7648-11e9-8c94-d936f3a1cec7.png)

[2019-05-14 17:09] lzammit commented on #4464
I just tested and on the old web admin the read only status was persistant and very obvious.

I will move it to 9.1

[2019-05-14 17:16] cgx commented on #4464
We're trying to centralize information into the *notification center*. We could *pin* (not clearable) the most important notifications at the top.

[2019-05-14 17:33] julsemaan commented on #4498
Still doesn't work I'm unable to enable the 'P2P Isolation (snort example)' security event through the frontend and it fails because of the following error:
[code]

[2019-05-14 17:44] fdurand commented on #4488
Just installed a fresh centos 7 with devel and the doc is there.
But https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/views/Help/index.vue#L43 it miss the prefix PacketFence_

[2019-05-14 17:51] #4498 closed

[2019-05-14 17:55] #4488 closed

[2019-05-14 18:03] jrouzierinverse commented on #4491
Partially fixed by d700b939330300c14a93a4a6fbf7cc7f174ad6e7

[2019-05-14 18:09] cgx commented on #4490
@julsemaan can you validate that this is the lookup we want?

[code]

[2019-05-14 18:11] julsemaan opened #4499 "Shouldn't be able to toggle 'defaults' of security events"
We shouldn't be able to toggle the 'defaults' section of the security events

[2019-05-14 18:13] julsemaan opened #4500 "'defaults' section of security events should appear first"
The 'defaults' section of the security events should appear first in the default ordering view

[2019-05-14 18:17] julsemaan commented on #4490
We should be able to search by name or MAC prefix if that is possible

Then the display could be "$NAME ($MAC)', ex: "Dell Inc. (001122)"

[2019-05-14 18:21] #4491 closed

[2019-05-14 18:22] julsemaan commented on #4491
Tried to toggle all the available default security events and they worked so we should be golden

[2019-05-14 18:30] jrouzierinverse commented on #4494
It seems to work on my side.

[code]

Please check in the front end what you are sending

[2019-05-14 18:40] julsemaan opened #4501 "unittest/UnifiedApi/Controller/Config/OPTIONS.t failure"
[code]

[2019-05-14 19:00] lzammit opened #4502 "v9-gui: Disabling connection profiles in the new admin hides others"
If you disable or enable one connection profile it hides the other ones

[2019-05-14 19:04] cgx commented on #4494
We're sending *type* and *value*. Why *arguments*? What do you think @satkunas since you worked on `pfFormPrefixMultiplier`?

[2019-05-14 19:11] julsemaan opened #4503 "Need to be able to push admin compiled files through pf-maint.pl"
The new admin compiled files need to be pushed through pf-maint.pl

Similarly to the golang binaries we could host the files on inverse.ca/downloads and simply download + replace the existing ones

[2019-05-14 19:38] lzammit opened #4504 "v9-gui: If we clicked on the ? we were able to see which packetfence server hosts the admin"
we were able to see which packetfence cluster node hosted the packetfence httpd.admin.

<img width="327" alt="image" src="https://user-images.githubusercontent.com/5261214/57726928-38980100-765e-11e9-9c69-f24b31f533f0.png">

<img width="377" alt="image" src="https://user-images.githubusercontent.com/5261214/57726944-42b9ff80-765e-11e9-844b-3f32d1c79d7d.png">

[2019-05-14 19:45] jrouzierinverse commented on #4494
That is the name it has always been.

[2019-05-14 19:55] satkunas commented on #4494
@cgx I'll need to produce a pfFieldTypeArguements.vue component to use `arguements` field.

@jrouzierinverse will modify the backend to accept `value` instead, so we can get away with using existing naming.

[2019-05-14 20:01] satkunas commented on #4471
Waiting on @jrouzierinverse to fix the following error on `/test_smtp` before commiting this addition.

[code]

[2019-05-14 20:02] satkunas commented on #4502
Fixed with https://github.com/inverse-inc/packetfence/commit/47287978aa695b89e86082776c0579bc2ce7b50d

[2019-05-14 20:03] #4502 closed

[2019-05-14 20:07] lzammit opened #4505 "Old web admin: Can't add a login portal module"
[code]

[2019-05-14 20:08] jrouzierinverse commented on #4469
This has been fixed

[2019-05-14 20:11] extrafu commented on #4469
If fixed please close the bug and reference the commit.

[2019-05-14 20:14] satkunas commented on #4499
@julsemaan currently in the old admin the status can be enabled/disabled in the item. It saves fine and when reloaded displays the last saved state.

![Selection_028](https://user-images.githubusercontent.com/3904468/57729084-4ef48b80-7663-11e9-9515-8f7c51d74fd0.png)

Should this be inhibited in the view as well? If so, should it be enabled or disabled by default?

[2019-05-14 20:14] #4501 closed

[2019-05-14 20:19] satkunas opened #4506 "v9-gui: missing Authentication:password portal module"
Depends on https://github.com/inverse-inc/packetfence/issues/4505

[2019-05-14 20:19] satkunas opened #4507 "v9-gui: missing Authentication:password portal module"
Depends on https://github.com/inverse-inc/packetfence/issues/4505

[2019-05-14 20:20] satkunas commented on #4505
Issue https://github.com/inverse-inc/packetfence/issues/4507 is waiting on this fix

[2019-05-14 20:21] fdurand opened #4508 "V9 Gui: Portal module chained missing Action and module in the old admin"

[2019-05-14 20:25] fdurand opened #4509 "API missing SSIDs endpoint"

[2019-05-14 20:32] satkunas commented on #4507
Duplicate

[2019-05-14 20:32] #4507 closed

[2019-05-14 20:47] jrouzierinverse commented on #4505
Fixed by 1a03e1464ed174960a5e1a73c521f74313107a96

[2019-05-14 20:47] jrouzierinverse commented on #4506
Fixed by 1a03e1464ed174960a5e1a73c521f74313107a96

[2019-05-14 20:48] jrouzierinverse commented on #4508
Fixed by 1a03e1464ed174960a5e1a73c521f74313107a96

[2019-05-14 20:48] #4508 closed

[2019-05-14 20:49] jrouzierinverse commented on #4494
fixed by a41363df45ee7b88bfc6a3fe9e80aa4c899f77d3

[2019-05-14 20:49] #4494 closed

[2019-05-14 20:50] jrouzierinverse commented on #4469
Fixed by be419e82d82dd3fcc13afb59e1ed5173b45a68fb, 82adccc2c6681635ed94c529d582b1effe0d8b38, and  9ed45395eb28cad69c06160a9f6453315bb82e20

[2019-05-14 21:07] extrafu commented on #4395
Is that bug still relevant?

[2019-05-14 21:49] satkunas commented on #4509
Endpoint for SSIDs does not yet exist.

Temporary workaround that uses `reports/ssid` added in https://github.com/inverse-inc/packetfence/commit/57f8405cd87ca131037d7305f2067232ae2b9d9b

Renaming and reassigning this issue for missing endpoint.

[2019-05-14 21:54] satkunas commented on #4499
Inhibited status on **list** for `defaults` added in https://github.com/inverse-inc/packetfence/commit/2fd6ce8ff83ebbda64384d9d386686e45277b420

View not modified.

[2019-05-14 21:59] satkunas commented on #4471
Test added in https://github.com/inverse-inc/packetfence/commit/d4e889917eb671ca521839f3a6df9433a46cb250

Unable to generate a successful test locally. @julsemaan please test.

[code]

[2019-05-14 22:23] jrouzierinverse commented on #4500
The default sorting (unsorted) always has the default section first.
However as soon as any sort is defined we should not this is no longer the case.

[2019-05-14 22:24] jrouzierinverse commented on #4471
That is a valid error

[2019-05-14 22:34] Aluzion commented on #4500
The id is used as the default sort. A custom sort function should be used to place default. Agree that once any other sort column is used it's no longer pinned.

[2019-05-14 22:43] jrouzierinverse commented on #4500
Is it possible to have no sorting by default?

[2019-05-15 00:05] extrafu commented on #4500
@Aluzion looks like the happy version of @satkunas

[2019-05-15 07:34] nqb commented on #4488
@fdurand: thanks. I just find why: in CentOS Docker images, yum is configured to no install `%doc` files from RPM (setting `tsflags=nodocs` in `yum.conf`).

Sorry !

[2019-05-15 07:46] nqb commented on #4326
Hello,

Now I got rules in **old** GUI for Debian and CentOS.

Still missing from **new** GUI for Debian and CentOS.

[2019-05-15 07:49] #4326 closed

[2019-05-15 08:00] nqb commented on #4395
Hello,

Current status:
* If I create a new user from **new** GUI, I got note added by @satkunas. However, after creation `Sponsor` field is still empty.
* If I create a user from API call, `Sponsor` field is set to **pid** of user used to do creation. Consequently, you can edit your new user in new GUI because you get "Invalid email address" for `Sponsor` field.

[2019-05-15 08:23] nqb opened #4510 "v9-gui: Default value for Language on SponsorEmail source"
@cgx adds Language field on SponsorEmail source (see #4485). However, `Default` choice is missing (like in old GUI) although if field is untouched, we got same behavior.

I would prefer to see `Default` for this field in place of an empty field.

[2019-05-15 08:50] nqb commented on #4471
I work on my side for CentOS and Debian.

[2019-05-15 08:57] nqb opened #4511 "v9-gui: Adjust SMTP test function"
- `SMTP test` field should allow several email addresses comma-separated
- `SMTP test` field should have `alerting.emailaddr` has default value

[2019-05-15 09:12] nqb opened #4512 "v9-gui: several issues with connection profiles"
Several issues when creating a new connection profile from **new** GUI:

- [x] All dropdown lists are empty:

### Root Portal module
![Screenshot from 2019-05-15 11-07-00](https://user-images.githubusercontent.com/10830260/57763426-a34e4880-7701-11e9-8834-caa4b5af5141.png)

### Filters
![Screenshot from 2019-05-15 11-54-17](https://user-images.githubusercontent.com/10830260/57766745-338f8c00-7708-

[2019-05-15 10:10] nqb commented on #4512
Error message in `packetfence.log`:

[code]

[2019-05-15 10:14] nqb opened #4513 "v9-gui: impossible to assign modules to a Root Portal Module"
After creating a Root Portal Module from **new** GUI, I can't link other modules (like Authentication:: modules) to this module. Same behavior in **old** GUI:

### New GUI

![Screenshot from 2019-05-15 12-14-04](https://user-images.githubusercontent.com/10830260/57767995-f37dd880-770a-11e9-9d68-630ba0b61510.png)

### Old GUI
![Screenshot from 2019-05-15 12-13-40](https://user-images.githubusercont

[2019-05-15 11:31] julsemaan commented on #4499
Lets leave view as is and readdress in 9.1, at least we have parity now

[2019-05-15 11:32] julsemaan commented on #4500
@satkunas, I guess the frontend would have to not send a sort according to @jrouzierinverse

[2019-05-15 11:40] julsemaan commented on #4469
The placeholders show only the values inherited via the default section but doesn't show the values inherited by the switch group as described in the issue

Also, the select boxes value aren't showing the placeholder and are simply empty

[2019-05-15 11:59] julsemaan commented on #4469
@satkunas will check the issue of the missing placeholder in the select box and its correctly pushed in the OPTIONS

[2019-05-15 12:04] julsemaan commented on #4512
seems to be caused by 82adccc2c6681635ed94c529d582b1effe0d8b38

[2019-05-15 12:23] extrafu commented on #4471
"I work" or "It works" ?

[2019-05-15 12:23] nqb commented on #4471
Sorry, it works.

[2019-05-15 12:29] nqb opened #4514 "v9-gui: display of UTF8 strings"
Incorrect display of UTF8 strings in new GUI.

### Steps to reproduce

CentOS 7.6 running nightly builds

[code]
### Actual results

In DB:
[code]

From API:
[code]

In webadmin:
![Screenshot from 2019-05-15 14-20-18](https://user-images.githubusercontent.com/10830260/57775116-95f28780-771c-11e9-8386-2dca4f5c35f7.png)

### Expected results

Correct display of strings in new GUI.

### Additional no

[2019-05-15 12:56] Roer opened #4515 "POTD Email is Empty"
After creating a POTD Authentication source, the email is sent without Username, Password, or Expire information.

PacketFence-ZEN 8.3.0

Running `$PF/addons/pf-maint.pl` did not solve the issue.

Last ticket was closed without resolution. #4384

[2019-05-15 13:06] nqb opened #4516 "POTD: conflict with local source"
When you want to use a POTD source with a local source (for example on default connection profile without modification), your POTD user will match the local source before POTD causing following message:
![Screenshot from 2019-05-15 14-53-41](https://user-images.githubusercontent.com/10830260/57777070-41054000-7721-11e9-97bc-14fe808fd935.png)

In this context, local source should be able to detect

[2019-05-15 13:15] julsemaan commented on #4505
Seems that its still missing in the latest devel even with @jrouzierinverse's fix

[2019-05-15 13:15] julsemaan commented on #4505
wrong issue

[2019-05-15 13:15] #4505 closed

[2019-05-15 13:16] julsemaan commented on #4506
Seems that its still missing in the latest devel even with @jrouzierinverse's fix

[2019-05-15 13:17] extrafu commented on #4471
If it works, let's close it.

[2019-05-15 13:17] #4471 closed

[2019-05-15 13:29] satkunas commented on #4469
Placeholders fixed in https://github.com/inverse-inc/packetfence/commit/d4cc539f1e19a8b0150c56a3f4f706642fdcf49e

[2019-05-15 13:30] julsemaan opened #4517 "New portal modules graph doesn't display chained modules correctly"
As discussed verbally with @cgx, the modules part of a chained module (and root) are displayed vertically but should instead be displayed as additional steps since they occur in sequence.

The current display makes it look like you only have to complete one of the step in the root module while all of them have to be completed

[2019-05-15 13:35] satkunas commented on #4500
@julsemaan sort will still be sent as many columns can be sorted, where pagination needs to be calculated on the backend. All perl needs to to intercept the `sort: ['id']` and apply a custom sort function only on this key/column. All other keys can use natural sorting.

[2019-05-15 13:38] nqb commented on #4512
I got same error message when I go to: https://IP_MGMT:1443/admin/alt#/configuration/security_event/1300005

[2019-05-15 13:41] #4506 closed

[2019-05-15 13:43] #4503 closed

[2019-05-15 13:46] nqb commented on #4484
@satkunas: you're right. It works.

[2019-05-15 13:46] #4484 closed

[2019-05-15 13:51] cgx commented on #4513
Fixed for new GUI via e63d6f9.

[2019-05-15 13:53] julsemaan opened #4518 "Cannot edit default_login_policy in old admin"
Getting the following error:
[code]

[2019-05-15 13:53] nqb opened #4519 "v9-gui: add a button to leave "Preview""
When you create a user and click on "Preview", you don't have any button to leave this menu. You can only:
* Send
* Print
* Click on another menu

[2019-05-15 13:56] julsemaan commented on #4518
was actually fixed yesterday

[2019-05-15 13:56] #4518 closed

[2019-05-15 13:57] julsemaan opened #4520 "Portal modules: unable to edit actions in old admin"
You cannot edit the actions of a portal module (ex: default_login_policy) in the old admin.

They're just invisible, like the modules list in the chained portal modules so that may be linked to #4513

[2019-05-15 13:58] satkunas opened #4521 "API POST config/bases/test_smtp returns HTML on proxy timeout"
The following errors needs to be in JSON with a `message` in order to be handled properly by the front-end.

[code]

[2019-05-15 14:19] jrouzierinverse commented on #4512
Fixed by 30eac14f1469c69f44c7199e2ce258fb99d12496 and 3b0ab86f187aa4cd53abf6665626d0bfe129fe22

[2019-05-15 14:21] julsemaan opened #4522 "Remove the cluster services section from the new admin status page"
title says it all

[2019-05-15 14:24] julsemaan commented on #4395
@satkunas will make this the default in the frontend

[2019-05-15 14:29] fdurand opened #4523 "V9-GUI: drag and drop and save on portal module doesn't save in the backend"

[2019-05-15 14:41] nqb commented on #4512
Commits mentioned fixed this issue.

**However**, I create two new connection profiles (one from new GUI and another from old GUI). Both have `locale=` in `profiles.conf` with `lang=en_US` for default connection profile.

@jrouzierinverse, could you check why ?

[2019-05-15 14:44] nqb opened #4524 "v9-gui: dot1x_unset_on_unmatch is missing in connection profiles"
Missing parameter on connection profile.

Recent feature added by @fdurand.

[2019-05-15 14:44] jrouzierinverse commented on #4512
This is not a new behavior

[2019-05-15 14:45] jrouzierinverse commented on #4469
Fixed in 360bef741e358563bf9d0c6fd4edeb309fb65484

[2019-05-15 14:46] julsemaan opened #4525 "Unable to create switch using MAC address"
In the new admin, its impossible to create a switch that has a MAC address as the ID

[2019-05-15 14:46] extrafu commented on #4512
If that's the case, we push this to v9.0.1 and we'll advise.

[2019-05-15 14:48] nqb commented on #4513
Not able to test this quickly. I let you do it.

[2019-05-15 14:50] extrafu commented on #4524
I guess @satkunas can take care of that quickie too.

[2019-05-15 14:51] fdurand commented on #4513
Works in the new admin.

[2019-05-15 14:51] extrafu commented on #4395
Workaround added, moving to v9.0.1.

[2019-05-15 14:52] nqb opened #4526 "v9-gui: (debian) edit an HTML file in a new connection profile"
### Steps to reproduce

1. Create a new connection profile in new GUI
2. Edit layout.html in this connection profile

### Actual results

![Screenshot from 2019-05-15 16-51-17](https://user-images.githubusercontent.com/10830260/57785331-d7416200-7731-11e9-8659-f771b935950c.png)

### Expected results

HTML file displayed

[2019-05-15 14:52] julsemaan opened #4527 "Switch: forced to set static uplinks when dynamic uplinks is inherited to enabled"
When dynamic uplink is enabled in the parent section (group or default), the frontend still forces you to set static uplinks since it doesn't detect that dynamic uplinks are enabled via inheritance

Explicitly enabling the dynamic uplinks allows to save

[2019-05-15 14:54] satkunas commented on #4395
Workaround added in https://github.com/inverse-inc/packetfence/commit/31a4dc3419989312de0b22273c5e7a2e60e0af06

Remove workaround once backend applies default sponsor.

[2019-05-15 14:54] julsemaan commented on #4469
works fine now

[2019-05-15 14:55] #4522 closed

[2019-05-15 14:56] nqb commented on #4512
@jrouzierinverse: are you sure ? For me, new connection profiles inherits values from default connection profile (`locale` setting included). I'm sure @julsemaan can confirm.

[2019-05-15 14:59] #4513 closed

[2019-05-15 14:59] #4520 closed

[2019-05-15 15:01] fdurand commented on #4526
What is your version of libmojolicious-perl ?

[2019-05-15 15:03] julsemaan commented on #4525
Code 12

[2019-05-15 15:03] #4525 closed

[2019-05-15 15:03] extrafu commented on #4525
You have damn short arms.

[2019-05-15 15:05] cgx commented on #4525
Or you're too close to your monitor.

[2019-05-15 15:06] jrouzierinverse commented on #4525
Why not Both?

[2019-05-15 15:09] jrouzierinverse commented on #4512
You can test this by installing 8.3.0 and see for yourself.

[2019-05-15 15:10] jrouzierinverse commented on #4526
This is a packaging issue.

[2019-05-15 15:10] julsemaan commented on #4525
I was actually at 12 feet of my screen configuring PF through a Palm Pilot

[2019-05-15 15:35] jrouzierinverse commented on #4521
Can you provide the payload please?

[2019-05-15 15:35] fdurand commented on #4526
Uploaded the version is use in the debian repo , if you can make a try.

[2019-05-15 15:37] #4524 closed

[2019-05-15 15:37] jrouzierinverse commented on #4525
Actual footage of Julien configuring Packetfence
https://www.youtube.com/watch?v=Znxfv8x91K0

[2019-05-15 15:42] julsemaan commented on #4525
Actual footage of what happens at ZammitCorp when I'm angry:
https://www.youtube.com/watch?v=vY82ZYtOHVw

We can see me fighting with @lzammit in the video above

[2019-05-15 15:47] extrafu commented on #4526
We'll try with v9.0 packages (all deps) - if all is fine, we'll close that issue.

[2019-05-15 16:20] #4527 closed

[2019-05-15 16:28] #4523 closed

[2019-05-15 16:49] fdurand opened #4528 "v9-GUI: Portal module "This field does not take multiple values""
In portal module where you are able to select a authentication source (like Authentication:SMS) then when you try to save it this error appear:

![image](https://user-images.githubusercontent.com/1553962/57793646-d992c480-770f-11e9-8cba-6dfd60da90f7.png)

[2019-05-15 16:49] julsemaan commented on #4527
had to disable the uplink_dynamic validation in formhandler as it didn't support validation through the inherited values

See b206ec4446f8abc1397afb580cf7ef952d5f4329

[2019-05-15 17:18] #4528 closed

[2019-05-15 17:20] julsemaan commented on #4528
quickly tested and it works

[2019-05-15 17:22] fdurand commented on #4528
same for me

[2019-05-15 17:49] fdurand commented on #4526
Fresh debian 9 install with  libmojolicious-perl=7.87-1 works perfectly

[2019-05-15 17:49] #4526 closed

[2019-05-15 18:12] fdurand commented on #3761
We should just change in the form the "Password Rotation Period" by the access duration list since it's possible to define an access duration relative to the bigining of the period.

[2019-05-15 18:39] jrouzierinverse commented on #4395
Just tested this and it works when no sponsor is set.

[2019-05-16 03:07] webliuxiang opened #4530 "Run /usr/local/pf/bin/pfcmd checkup ; but report error"
packetFence v8.3.0
Centos 7

Error :
[code]

[2019-05-16 05:33] nqb commented on #4512
@jrouzierinverse is right.

[2019-05-16 05:34] nqb commented on #4512
This looks like a strange behavior from my point of view. New connection profiles should inherits from default connection profile for `locale` too.

[2019-05-16 12:14] nqb commented on #4530
Not able to reproduce on a fresh CentOS 7 running PF 8.3

[2019-05-16 12:14] #4530 closed

[2019-05-16 12:20] nqb commented on #4515
Not able to reproduce your issue after installing a fresh CentOS 7.6 with PF running 8.3.

[2019-05-16 12:23] nqb commented on #4282
Can we close this case ?

[2019-05-16 12:25] satkunas commented on #4514
This may be just due to your `character_set_client` (server encoding may be fine). What's the encoding of your debian 9 client?

`MariaDB [pf]> SHOW VARIABLES LIKE  'char%';`

[2019-05-16 12:26] Roer commented on #4515
I reloaded Packetfence-ZEN and started fresh. It's working fine now. Not sure what the issue was.

[2019-05-16 12:26] #4515 closed

[2019-05-16 12:33] nqb commented on #4514
### Debian

[code]

### CentOS
[code]

[2019-05-16 13:01] julsemaan commented on #4282
On my side we're all good

[2019-05-16 13:51] nqb opened #4531 "v9-gui: display user with REALM in pid"
When I try to display a user from Users menu with following pid: `MYDOMAIN\myname`, I got following error:

[code]

Backslash doesn't seems to be handle correctly

### Steps to reproduce

[code]
### Actual results

Impossible to display information for such users.

### Expected results

Display information for this users.

[2019-05-16 13:54] cgx commented on #4531
Related to #4008.

[2019-05-16 14:07] julsemaan commented on #4531
It seems like MYDOMAIN\myname works fine

Its MYDOMAIN/myname that doesn't get handled right from what I can tell

[2019-05-16 14:08] nqb opened #4532 "webadmin: default description for new connection profiles"
Before v9, when you create a connection profile without description, backend didn't set a default description.

Now when you create a new connection profile, default description is "Default profile".

If you upgrade from v8.3 to v9 and you didn't set a description on your connection profiles, all your connection profiles are called "Default Profile"

From my point of view, Description should be se

[2019-05-16 14:08] julsemaan commented on #4531
Then I've just tried MYDOMAIN/myname and it worked fine, it properly encoded the slash into %2F and got handled correctly for viewing it

[2019-05-16 14:09] julsemaan commented on #4531
That's on the official 9.0.0 package

[2019-05-16 14:11] julsemaan commented on #4531
Hold on, it seems that when I refresh the page it doesn't work anymore so it must have been displaying the data from the admin cache after it created the users

[2019-05-16 14:17] jrouzierinverse commented on #4512
I will move this to 9.1 as I do not what to change the behavior on a minor version.

[2019-05-16 14:20] julsemaan commented on #4531
One thing that is weird is that viewing bob\bob or bob/bob results in GET /api/v1/user/bob/bob and the username doesn't seem to be URL encoded

[2019-05-16 14:34] #4532 closed

[2019-05-16 14:36] #4282 closed

[2019-05-16 15:26] julsemaan commented on #4149
IMO Thats more a 9.1 since its a feature and not a necessary fix

[2019-05-16 15:54] fdurand opened #4533 "v9-gui: Apple provisioning missing the signing part"
![image](https://user-images.githubusercontent.com/1553962/57868597-4621c800-77d1-11e9-9721-43e64a05253b.png)

[2019-05-16 19:58] jrouzierinverse commented on #4511
This looks like 9.1 feature not a 9.0.1

[2019-05-16 20:52] #4486 closed

[2019-05-16 21:03] #4519 closed

[2019-05-17 14:21] julsemaan commented on #4395
Works for now, lets readdress this in 9.1

[2019-05-17 14:36] julsemaan commented on #4500
@satkunas will remove the sorting by id by default for the security events section

[2019-05-17 15:41] fdurand opened #4536 "v9_gui: admin role issue."
Let's create a admin role hotel:
![image](https://user-images.githubusercontent.com/1553962/57939441-61a3d600-7898-11e9-97f7-14750d205e0a.png)

with the following user options:
![image](https://user-images.githubusercontent.com/1553962/57939510-80a26800-7898-11e9-953f-d38e67416648.png)

If i assign a local user to this admin role, connect to the admin gui with that user and i try to create a user

[2019-05-17 17:13] #4473 closed

[2019-05-17 19:14] #4464 closed

[2019-05-17 19:16] julsemaan commented on #3609
Close won't fix, that's in the old admin

[2019-05-17 19:16] #3609 closed

[2019-05-20 07:10] nqb opened #4543 "API: POST /api/v1/config/sources undocumented"
POST /api/v1/config/sources is undocumented

[2019-05-20 09:45] nqb opened #4544 "v9-gui: username and password fields to join domain"
When you want to join a domain, you can't specify username and password in the form. You have to create your domain waiting a failure **then** you can click on "Join" and specify your username and password.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new domain

**Additional context**
It was possible in old GUI.

[2019-05-20 09:58] nqb opened #4545 "webadmin: birthday and anniversary fields"
Currently in webadmin, we have both fields to represent birthday of a user: `birthday` and `anniversary`. I suppose we can keep only one.

[2019-05-20 12:08] nqb opened #4546 "v9-gui: default actions when creating rules"
In old GUI, we have following behaviors when creating:
* a new authentication rule, default action was "Role"
* a new administration rule, default action was "Access Level"

We lost this behavior with new GUI.

[2019-05-20 13:44] nqb opened #4547 "v8.3 to v9: unable to display sources after an upgrade"
**Describe the bug**
After an upgrade from v8.3 to v9 (CentOS 7), Authentication sources and Security Events aren't display.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> Policies and Access Control -> Authentication sources' or 'Configuration -> Compliance -> Security Events'

**Expected behavior**
Authentication sources and security events should appear.

**Additi

[2019-05-20 14:05] nqb commented on #4547
Doing a `pfcmd pfconfig reload` didn't help.

[2019-05-20 14:28] nqb opened #4548 "v9-gui: label on netdata graphs truncated"
**Describe the bug**
Labels on Netdata graphs are truncated (see below). Not the case in old GUI.

**Screenshots**
![Screenshot from 2019-05-20 16-24-15](https://user-images.githubusercontent.com/10830260/58029006-05e97f00-7b1c-11e9-8485-a71f847b517b.png)

**Expected behavior**
Wireless-802.11-NoEAP and Wireless-802.11-EAP labels should not be truncated.

** Additional context**
I got this behavio

[2019-05-20 14:36] nqb opened #4549 "v8.3 to v9 (pfconfig): Could not send all bytes the client."
**Describe the bug**
When `pfstats` is running, `pfconfig` display each ten seconds in `pfconfig.log` following error message:
[code]

[2019-05-21 07:57] nqb opened #4550 "v9-gui: unable to trigger a custom security event to a node"
**Describe the bug**
From new GUI, it's not possible to trigger a custom security event to a node.

**To Reproduce**
1. Create a custom security event (with [following payload](https://gist.github.com/nqb/b3694cead23e7a422158c93c4610780b))
[code]
2. Go on a node and try to find "fake" security event in drop-down list

**Expected behavior**
"fake" security event should be display. This security eve

[2019-05-21 08:16] apkt commented on #4550
Any chance of patch?

[2019-05-21 08:21] nqb opened #4551 "v9-gui: search by name is not working for security events"
**Describe the bug**
Doing a search by name (description) on a security event is not working.

**To reproduce**
1. Go in 'Compiance -> Security Events'
2. In the Search field, specify "P2P"

=> You got 0 results.

**Expected behavior**
Should return "P2P Isolation (snort example)"

**Additional context**
We got this behavior because search is done on 'id' (from what I see in debugger).

I can simp

[2019-05-21 08:37] nqb opened #4552 "v9-gui: fail to toggle some actions in security events"
**Describe the bug**
When creating or editing a **non-default** security event, it's not possible to toggle following actions:
* Email administrator
* Email endpoint owner
* Execute script
* Close another security event

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new security event
1. Try to toggle "Email administrator"

**Screenshots**
![Screenshot from 2019-05-21 10-28-03](htt

[2019-05-21 10:28] nqb commented on #3669
Still presents in v9 for CentOS.

[2019-05-21 11:28] julsemaan commented on #4544
I thought @satkunas made it so the username/password would prompt right after the creation of the domain so that it would join through the creation process.

Reassigning to 9.0.1 since that seems like a regression to something that should have been in 9.0

[2019-05-21 11:32] julsemaan commented on #4550
is it possible it requires you to refresh the page so that the OPTIONS are reloaded ?

[2019-05-21 11:43] julsemaan commented on #4549
Tried it with the latest version of pfstats and I'm not getting this behavior.

Can you provide more details around the environment?

Also, can you confirm if things are working nonetheless, if its the case, we'll move this to +1 patch so we can release 9.0.1 without it

[2019-05-21 11:45] julsemaan commented on #4547
Did you do a fixpermission after the upgrade?

This looks like the config files can't be read at all which is usually because of invalid permissions or owner/group

[2019-05-21 12:04] nqb commented on #4547
Yes.

[2019-05-21 12:07] julsemaan commented on #4544
Just tested and although the button says "Create and join", it only creates the domain and never starts the join process on creation

The issue in #4474 is still alive

[2019-05-21 12:08] julsemaan commented on #4547
And are the permissions correct on the configuration files that are involved ?

(authentication.conf, security_events.conf)

[2019-05-21 12:11] nqb commented on #4547
Yes, looks good:
[code]
Issue has been caused by the upgrade.

[2019-05-21 12:26] nqb commented on #4549
v8.3 CentOS 7.6 upgraded to v9, following UPGRADE guide.

`pfstats` is running, it doesn't display erros.
How to check `pfstats` is working as expected in dashboard ?

[2019-05-21 12:35] julsemaan commented on #4549
All the different metrics described in the stats configuration appear with data. You could do:

tcpdump -nlp -i any port 8125 -w-|strings| grep 'source.packetfence.redis.queue_stats_count'

And do this with the different namespaces in stats.conf.defaults to validate that they are being pushed correctly to statsd

You can also check in the netdata dashboard (the one on 19999) that for the different

[2019-05-21 13:20] apkt commented on #4550
Tried several things on this. Also does not come up in the ACTIONS list from the Nodes GUI or from the individually selected NODE page or fro the selected USERS page. Refreshing the page just causes the seerver to get into a tizz with refreshing the existing 'Closed' SE's

[2019-05-21 13:40] #4544 closed

[2019-05-21 13:41] satkunas commented on #4544
I missed the redirection on new/clone on my last fix. This has been added in https://github.com/inverse-inc/packetfence/commit/f76998604547cf9eaac83da585ee37e11257f606

[2019-05-21 13:44] nqb commented on #4550
@julsemaan: I tried to refresh page without success.

[2019-05-21 13:51] nqb commented on #4547
@julsemaan: it look like issue is not limited to Authentication Sources and Security Events, now I got following error message  when I go in Nodes or Users menu
[code]

[2019-05-21 13:57] satkunas commented on #4468
@julsemaan keep in mind that this will lead us to the following new issue(s):

![Screenshot from 2019-05-21 09-49-52](https://user-images.githubusercontent.com/3904468/58102132-ce77e280-7bae-11e9-9b83-ffa82fc2ce9a.png)

[2019-05-21 14:00] satkunas opened #4554 "API OPTIONS meta missing ID constraints"
Additional meta for `id`entifiers required, so the front-end can catch these errors first.

![Screenshot from 2019-05-21 09-49-52](https://user-images.githubusercontent.com/3904468/58102339-20b90380-7baf-11e9-9f9a-3b3a27c93388.png)

[2019-05-21 14:02] nqb commented on #4549
Thanks @julsemaan.

`pfstats` is working as expected.

[2019-05-21 14:04] julsemaan commented on #4468
I guess its fine since I think its the only place where there is a length limitation

Unless we don't apply the 'copy' logic to domains

[2019-05-21 14:04] julsemaan commented on #4550
So we're definitely in 9.0.1 territory

[2019-05-21 14:25] satkunas commented on #4468
@julsemaan your call. It's easy to cherry-pick this out of domains.

[2019-05-21 14:38] jrouzierinverse commented on #4547
This is a devious bug.
It seems to be depends on the order in which the modules are loaded.
Or maybe a module failed to load.
So I will preload all controllers to avoid this issue

[2019-05-21 14:40] nqb commented on #4547
@jrouzierinverse: I got my idea on this.

Log of the upgrade display following error:
[code]

I wonder if it is not the root cause of this issue.

[2019-05-21 14:43] nqb commented on #4547
Because `pfconfig::namespaces::FilterEngine::Violation` doesn't exist anymore (moved to `SecurityEvent`).

[2019-05-21 15:03] jrouzierinverse commented on #4547
Then the issue more clear now pfconfig was never restarted

[2019-05-21 15:26] jrouzierinverse commented on #4547
Since pfconfig was never restarted some modules could not load properly.
Which caused any dependent modules to either partially load or complete fail to load.
Since the upgrade process was not followed I am closing this issue.
Reopen if you find that restarting pfconfig and pfperl-api does not solve the problem.

[2019-05-21 15:36] jrouzierinverse commented on #4554
Which constraints?
[code]

[2019-05-21 16:14] jrouzierinverse commented on #4545
Those are two different things.

birthday => anniversaire
anniversary => anniversaire de mariage

[2019-05-21 16:14] #4545 closed

[2019-05-21 16:40] julsemaan opened #4556 "Help should be pulled down from pfappserver forms"
**Describe the bug**
Right now the help is duplicated in the frontend and not pulled from the OPTIONS using the content of the pfappserver forms

**To Reproduce**
Steps to reproduce the behavior:
1. open vim
2. read code

**Expected behavior**
The help should only be located in one place

[2019-05-21 16:51] dondon21 opened #4557 "User creation / security issue"
In the old GUI it's not possible to create a new admin with an user manager user, but in the new GUI it's possible.

Moreover the restriction to create a new admin can be bypassed in the old GUI by setting all the rights except ALL.

[2019-05-21 16:57] #4500 closed

[2019-05-21 17:10] satkunas commented on #4550
Seeing an error on latest devel when trying to insert the example payload. Likely unable to view because it's failing during creation.

[code]

```parse error: Invalid numeric literal at line 1, column 6```

@nqb can you verify that `1500000` exists in your db?

[code]

[2019-05-21 19:06] #4551 closed

[2019-05-21 20:15] satkunas commented on #4477
Restyled in https://github.com/inverse-inc/packetfence/commit/9e31f6d61f3ae45663e6181a66a558755ed424bf

[2019-05-21 20:35] satkunas commented on #4531
Backend fixes from @jrouzierinverse  in
- https://github.com/inverse-inc/packetfence/commit/ff71715c1d2cc42ded25241903211e513437f8de
- https://github.com/inverse-inc/packetfence/commit/005c6c588b8b88846002fe37ab928609dcb5363f

[2019-05-21 20:48] jrouzierinverse commented on #4550
Bad data in.
[code]
The problem is the keys interval and uint for window and delay_by are null.

[2019-05-21 20:52] #4552 closed

[2019-05-22 07:08] nqb commented on #4545
:birthday:

[2019-05-22 07:24] WallaPF opened #4559 "v9-gui WMI Scanner won't accept values"
When configuring WMI scanner in PFv9 (Compliance -> Scans -> New Scan Engine -> WMI, values are not accepted:

** To Reproduce **
1. Form input screenshot:
![2019-05-22 10_07_53-Administrator - PacketFence](https://user-images.githubusercontent.com/45529653/58154933-778c0f00-7c7b-11e9-933b-1f71d77b6669.png)
2. OS pick list is not populated.
3. After filling the form error messages: "Unable to vali

[2019-05-22 09:57] nqb commented on #4504
On Debian 9, I got this behavior:
[code]
![Screenshot from 2019-05-22 11-56-46](https://user-images.githubusercontent.com/10830260/58165758-b5436480-7c88-11e9-9704-a3b16297ce0e.png)

[2019-05-22 10:41] #4504 closed

[2019-05-22 12:16] satkunas commented on #4554
@jrouzierinverse can we include a `pattern`?

[2019-05-22 13:16] satkunas commented on #4550
@jrouzierinverse could additional meta cover this case?

[2019-05-22 13:22] satkunas commented on #4559
@jrouzierinverse `oses` has no meta, so there's no `allowed_lookup` to search.

[code]
[empty response]

[2019-05-22 13:49] jrouzierinverse commented on #4559
WMI has no oses

On 5/22/19 3:24 AM, WallaPF wrote:

[2019-05-22 13:54] jrouzierinverse commented on #4554
will do also it seems like max_length is not being checked before submitting.

[2019-05-22 13:57] nqb commented on #4547
I didn't mention previously but, of course, I followed UPGRADE guide and I restarted packetfence-config.

[2019-05-22 14:18] satkunas commented on #4559
`oses` removed from WMI scans in https://github.com/inverse-inc/packetfence/commit/7222370400692ed3bfc85af9f6d42ce2768d24ed

[2019-05-22 14:25] nqb commented on #4547
Restart of `pfperl-api` has fixed issue. It looks like `packetfence-pfperl-api` has not been restarted by a `pfcmd service pf restart` I did at the end of the upgrade.

[2019-05-22 14:25] #4547 closed

[2019-05-22 14:26] satkunas commented on #4554
@jrouzierinverse max_length is working

[code]

![Selection_030](https://user-images.githubusercontent.com/3904468/58182669-0bf67180-7c7c-11e9-9771-cefd0b0e6e57.png)

[2019-05-22 14:37] jrouzierinverse commented on #4554
It is missing when doing the clone

[2019-05-22 15:03] jrouzierinverse commented on #4550
Further checking the pfperl-api command is wrong.
You are missing get command

[code]
[code]
The more probable cause is the the security events data is being cached.
The nodes security event in drop-down list is not updated.

[2019-05-22 15:18] julsemaan commented on #4559
@dondon21 can you test you can save a WMI scan engine in the next build

[2019-05-22 15:19] julsemaan commented on #4548
Its the netdata rendering that is problematic, we'll push forward

[2019-05-22 15:21] julsemaan commented on #4445
Proper fix will be done with allowed lookup

[2019-05-22 15:22] #4477 closed

[2019-05-22 15:23] julsemaan commented on #4517
that's a nice to have for 9.0.1 @cgx will check if its doable

[2019-05-22 15:32] julsemaan commented on #4550
@satkunas and @jrouzierinverse will sit down together 15 minutes to fix this

[2019-05-22 15:36] #4533 closed

[2019-05-22 15:44] #4521 closed

[2019-05-22 15:44] jrouzierinverse commented on #4550
It seems that the real issue is that the drop down list only shows the first 25 security events.

[2019-05-22 15:52] apkt commented on #4550
Ha, that’ll do it

From: James Rouzier <notifications@github.com>
Sent: 22 May 2019 16:45
To: inverse-inc/packetfence <packetfence@noreply.github.com>
Cc: Torry, Andrew <andrew.torry@fxplus.ac.uk>; Comment <comment@noreply.github.com>
Subject: Re: [inverse-inc/packetfence] v9-gui: unable to trigger a custom security event to a node (#4550)

It seems that the real issue is that the drop down list o

[2019-05-22 16:52] cgx opened #4563 "survey.conf editor in Web admin"
The Web admin should offer to view and edit *surveys* (as defined in `conf/survey.conf`).

`conf/survey.conf.example` should also be populated with some valid examples.

[2019-05-22 16:57] satkunas commented on #4550
Limit increased in https://github.com/inverse-inc/packetfence/commit/32627554d632bd3848ab79743def69b488ef9a13

[2019-05-22 18:24] satkunas commented on #4445
After more discussion with @jrouzierinverse we've decided that there's no reliable way to automatically update a forms meta. This would require the front-end to frequently poll each API resource, and complex hooks between various store modules. This is not a direction we wish to take.

The user will either need to refresh (F5) or click the [reset] button at the bottom of the form to reload the met

[2019-05-22 18:29] #4468 closed

[2019-05-22 22:27] Hawnken opened #4564 "Nothing happens buttom configurator"
Hi,
I'm on the last version of ZeroEffort NAC and when I go on the adress on my webpage (configurator page) When I clic on buttom "continue" on step 1, nothing happens, I can't pass step 1 ahah. And I can navigate menu at the top.

I tried :
Clear cache
Use other web navigator
Reboot VM
Give more ressource to VM
Install it my self with my debian (work but have another problem...)
Try USB version (

[2019-05-23 08:29] ghost commented on #4564
Have find solution :
1°/Go to setting of your browser
2°/Language
3°/Change French (or any other language) by English

I think they are problem with Jquerry for the french version.

But now have another problem... When I'm at step 4, the process just crash. Maybe bad information like domain? But I'm on local network, just my host, 1 switch et my virtual machine on my host with Oracle VM.
I close t

[2019-05-23 08:53] nqb commented on #4564
Hello,

Don't put an IP address in "Hostname" field. Also, if possible:
* use PacketFence v9 in place of ZEN 8.3.
* use packetfence-users mailing list for this kind of issue

[2019-05-23 08:53] #4564 closed

[2019-05-23 09:07] nqb opened #4565 "v9-gui (dashboard): server uptime missing"
In new GUI, server uptime is missing in dashboard.

**Expected behavior**
Old GUI
![Screenshot from 2019-05-23 11-05-24](https://user-images.githubusercontent.com/10830260/58240221-dc626a80-7d4a-11e9-802d-0ada9181ddcc.png)

[2019-05-23 09:10] nqb commented on #4550
Work on my side in latest builds.

[2019-05-23 09:10] #4550 closed

[2019-05-23 13:19] cgx commented on #3584
Fixed in v9.0.0.

[2019-05-23 13:19] #3584 closed

[2019-05-23 13:26] cgx commented on #1253
Fixed in v9.0.0.

[2019-05-23 13:26] #1253 closed

[2019-05-23 14:50] #4531 closed

[2019-05-23 17:17] #4546 closed

[2019-05-23 18:27] cgx opened #4566 "Rewrite Configurator with Vue.js/Bootstrap 4"

[2019-05-24 09:52] nqb opened #4569 "v9-gui: default columns in RADIUS audit logs"
The default columns in RADIUS audit logs are not the same between old GUI and new GUI.

**Screenshots**

New GUI
![Screenshot from 2019-05-24 11-52-25](https://user-images.githubusercontent.com/10830260/58319699-6af1ed00-7e1a-11e9-8f66-1674d0bb8a5d.png)

Old GUI
![Screenshot from 2019-05-24 11-52-19](https://user-images.githubusercontent.com/10830260/58319708-6d544700-7e1a-11e9-8b1a-1d36b84084de.p

[2019-05-24 11:41] julsemaan commented on #4569
Lets postpone this to 9.0.2 since its not a showstopper for 9.0.1

[2019-05-24 11:41] julsemaan commented on #4517
postponing to 9.0.2

[2019-05-24 11:57] nqb commented on #4569
you're right.

[2019-05-24 12:45] julsemaan commented on #4536
Pushing to 9.0.2 so we can get a full fix for the issue

[2019-05-24 13:28] julsemaan commented on #4559
This is still happening on the latest build

[2019-05-24 13:46] jrouzierinverse commented on #4559
This is a frontend issue.
wmi_rules is being sent as an array of array of string instead of an array of strings

[code]

[2019-05-24 14:11] satkunas commented on #4559
Flattened in https://github.com/inverse-inc/packetfence/commit/f8c443cf0084e95b7581858879f8021fcf80f667

[2019-05-24 14:15] nqb opened #4570 "v9-gui: clicking on a owner"
When clicking on a owner, with a slash in its name, from the Nodes menu, web browser go to Dashboard.

**To Reproduce**
1. Create user and node
[code]
2. Go on Nodes menu, click on `host/MYCOMPUTER`

=> You will be redirect to dashboard.

**Expected behavior**
Web browser should display user entry

[2019-05-24 14:21] julsemaan commented on #4559
tested and it works fine, the source config looks the same in the old and new admin as well

[2019-05-24 14:21] #4559 closed

[2019-05-24 14:24] nqb commented on #4570
When I go in Nodes menu (before clicking on `host/MYCOMPUTER`), I see following error message in web browser console:
[code]

[2019-05-24 14:54] satkunas commented on #4570
Front-end fixed on https://github.com/inverse-inc/packetfence/commit/0ba774afa56ad5a79e8d765aa37cc586d0ee89e8

Waiting on @jrouzierinverse to perform a needed back-end change

[2019-05-24 14:55] satkunas commented on #4570
@nqb these can be ignored, when there's no saved search available in preference a 404 is generated.

/api/v1/preference/pfappserver::saveSearch::*

[2019-05-24 15:03] jrouzierinverse commented on #4570
fixed by restart

[2019-05-24 15:10] julsemaan opened #4571 "Redirect to login screen on token expiration"
**Is your feature request related to a problem? Please describe.**
Right now when the token expires, you are allowed to browse the admin and you get redirected to the login when the next API call is done

**Describe the solution you'd like**
It would be good to redirect the user to the login screen when the token expires in the frontend (available in token_info)

**Additional context**
Zammit said

[2019-05-24 15:12] julsemaan commented on #4570
works fine

[2019-05-24 15:12] #4570 closed

[2019-05-24 15:31] jrouzierinverse opened #4572 "Config OPTIONS does not handle required_when properly"
When calculating required for OPTIONS.
Currently we not look at the required_when.

[2019-05-24 15:35] satkunas commented on #4571
![](https://memegenerator.net/img/instances/84512665/if-you-could-redirect-me-when-my-token-expires-that-would-be-nice.jpg)

[2019-05-24 15:44] julsemaan commented on #1023
We'll close this, the new emails don't seem to have this issue

[2019-05-24 15:44] #1023 closed

[2019-05-24 15:45] julsemaan commented on #3354
The assets of the new admin can be updated

[2019-05-24 15:45] #3354 closed

[2019-05-24 15:46] julsemaan commented on #3924
The new admin is not official, this shall be closed

[2019-05-24 15:46] #3924 closed

[2019-05-24 15:47] julsemaan commented on #3925
@satkunas

Can you check if this is still relevant in the new admin ?

[2019-05-24 15:47] extrafu commented on #3924
Just in case we hit some zealots:  is not -> is now

[2019-05-24 15:48] julsemaan commented on #3960
no info provided, closing

[2019-05-24 15:48] #3960 closed

[2019-05-24 16:47] #4070 closed

[2019-05-24 19:17] julsemaan commented on #4369
fixed in 6182e190db and cherry-picked up to maintenance/8.0

[2019-05-24 19:17] #4369 closed

[2019-05-24 19:20] julsemaan commented on #4482
Do you have SSO on accounting enabled ?

From what I can tell it is

So we'd need to have a packet capture of the RADIUS packets (port 1813) while you're trying it out along with the packetfence.log so this can be troubleshooted

[2019-05-24 19:21] #3721 closed

[2019-05-26 20:34] slaggi commented on #4482
I did a little more testing, it only happens when the nodes have different roles set. With the same role it works fine ...

Attached is a Wireshark trace with both, the actual Radius access requests as much as the SSO Accounting requests from PF ... and the matching logs from packetfence.log

To the trace:
192.168.1.220 = PF
10.10.1.10 = authenticating Firewall
172.16.9.15 = different firewall rec

[2019-05-27 06:31] nqb opened #4573 "Add CoA support for Unifi switch modules"
**Describe the solution you'd like**
Unify [now supports CoA](https://community.ubnt.com/t5/UniFi-Feature-Requests/Implement-802-1x-Change-of-Authoirzation-CoA-support/idc-p/2793600/highlight/true#M19511), we should support CoA for Unifi switch modules.

[2019-05-27 10:23] nqb opened #4574 "pf-maint: patching of the administration frontend causes issue"
**Describe the bug**
After an upgrade from 9.0 to 9.0.1, I ran `pf-maint.pl` and restart all PF services.

I got 404 to get some files under: `$PF/html/pfappserver/root/static/alt/js`. My web browser is trying to reach old JS files (before patching).

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a fresh installation with PF 9.0.1
2. Run `pf-maint.pl` and restart all PF services
3. T

[2019-05-27 12:41] julsemaan commented on #4574
If the issue is the browser cache my guess would be we should add no cache headers to the index page.

That means it will be reloaded every time but my expectation is that it won't be too much since the biggest data chunks are in the assets

@cgx, can you confirm the idea above is good ?

[2019-05-27 12:45] nqb commented on #4574
@julsemaan: I clear all my cache, issue still presents.

[2019-05-27 12:58] cgx commented on #4574
`root/admin/v-index.tt` must be updated.

[2019-05-27 13:05] nqb commented on #4574
@cgx is right, this file still contains path to old JS files.

[2019-05-27 13:14] julsemaan commented on #4574
working on pf-maint.pl so that it patches v-index.tt as well

[2019-05-27 13:56] lzammit opened #4576 "Interface up/down not working in the web admin"
Putting down an interface does not disable it from the system.

It works in the config.

[code]

[2019-05-27 16:37] julsemaan commented on #4574
Patched pf-maint.pl and added the creation of v-index.tt in the repo

af13b3393309d8b29ff703a0fd5b780c9d4104ef

@nqb, give it another try and let me know how it goes, you'll need to run pf-maint.pl twice (first to patch pf-maint.pl itself, second to run it with the new code)

[2019-05-27 19:29] jrouzierinverse commented on #4576
This looks like a display issue aa itt works in the backend.
How did you determine it was not disabled?

[2019-05-27 20:40] satkunas commented on #4569
Added in https://github.com/inverse-inc/packetfence/commit/b5a9249e78676d7e430d2ff3c1066e3f9adda9ce

[2019-05-27 20:51] lzammit commented on #4576
The status is down but it does not take out the IP address for inline split network:

[code]

It shows down but the address are there, if I do:

[root@unicorn pf]# ifdown ens192.147

The interface is not there anymore.

[2019-05-28 06:41] nqb commented on #4574
It works, well done @julsemaan !

[2019-05-28 06:41] #4574 closed

[2019-05-28 10:50] julsemaan commented on #4576
@lzammit

Not sure we need the IP addresses to disapear. If the interface is down, IMO its fine.

[2019-05-28 12:00] nqb opened #4578 "v9-gui: bad display of role without description"
If a role has no description, new GUI display "null" next to role's name when selecting a role in a dropdown list (from Nodes menu).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a role without description
2. Try to assign this role to a node

**Screenshots**
![Screenshot from 2019-05-28 13-59-41](https://user-images.githubusercontent.com/10830260/58476374-dc9aa580-8150-11e9-93ef-d8

[2019-05-28 13:39] satkunas commented on #4578
fixed in https://github.com/inverse-inc/packetfence/commit/83278c6e1570642d584c4a4c2dba42b4cbca0fe0

[2019-05-28 13:50] #4569 closed

[2019-05-28 14:19] julsemaan commented on #4578
This needs to be cherry-picked in the maintenance branch

[2019-05-28 17:23] #857 closed

[2019-05-28 17:45] satkunas commented on #4339
Some confirmation is needed before I attempt to make these changes:

@nqb - if we automatically populate the port number, then you are comfortable if the port is overwritten everytime the dropdown is touched, even if it is user-defined?

@nqb - so we will remove the ability to use non-standard ports?

[2019-05-28 17:50] julsemaan commented on #4339
IMO limiting ourselves to the standard LDAP ports could backfire

If we really want to address this, we could do have a dropdown like @nqb suggests but that also contains an option named 'custom'. So selecting between 'plain', 'ssl', 'start_tls' would configure the port accordingly, but selecting custom would allow you to configure the protocol and the port manually for the times when its needed

[2019-05-28 18:32] #4339 closed

[2019-05-28 18:32] satkunas commented on #4339
Helper added:

![Selection_031](https://user-images.githubusercontent.com/3904468/58502866-6a788f80-8155-11e9-9204-ff01e0a0e7df.png)

[2019-05-28 19:26] #4517 closed

[2019-05-29 13:18] satkunas commented on #4578
@julsemaan done

[2019-05-29 13:19] WallaPF opened #4579 "v9 Fingerbank empty set"
**bug description**
Fingerbank "Combination" and "User_Agent" tables return an empty value

**To Reproduce**
Get these tables from the API

**packetfence.log errors**
May 29 13:04:31 PacketFence-ZEN packetfence: INFO pfperl-api(24632): Searching for 'Combination' entries in schema(s) returned an empty set (fingerbank::Base::CRUD::search)
May 29 13:04:31 PacketFence-ZEN packetfence: INFO pfperl-api

[2019-05-29 13:36] julsemaan commented on #4579
These tables aren't shipped anymore from PF 8.0 and above as the database is only used for creating local combinations but not for discovery anymore as it goes through the API at 100% now

[2019-05-29 13:43] WallaPF commented on #4579
@julsemaan Note that it did work in ver 8.3

[2019-05-29 13:44] satkunas commented on #4409
Added in https://github.com/inverse-inc/packetfence/commit/54cbea8e775650d12ebeb2080417787b9fe88ec8

[2019-05-29 14:12] julsemaan commented on #4579
Not sure how that ever worked unless you had an outdated database version or pointing to the wrong API server since its stripped from the DB since the launch of Fingerbank v2

[2019-05-29 15:30] satkunas commented on #4308
Added in https://github.com/inverse-inc/packetfence/commit/7b06d2f5f4bd1aeedecefed0c4f37ce887b0cd38

[2019-05-29 15:45] satkunas commented on #4308
Example added in https://github.com/inverse-inc/packetfence/commit/c3be3bee384ca976d02e8493d4b1410644309d01

[2019-05-29 20:15] #4548 closed

[2019-05-30 08:44] nqb commented on #4565
Need to be adjust.

I got different `hostname` between uptime in new admin and old admin:

**Old**
![Screenshot from 2019-05-30 10-41-58](https://user-images.githubusercontent.com/10830260/58620579-b5b2af80-82c7-11e9-8ca2-7fb4152e1b45.png)

**New**
![Screenshot from 2019-05-30 10-42-57](https://user-images.githubusercontent.com/10830260/58620593-bf3c1780-82c7-11e9-889f-e46abe15d4cd.png)

API call

[2019-05-30 15:48] #4565 closed

[2019-05-30 17:52] cgx commented on #4121
Axios v0.19.0 released, `getUri` doesn't help.

[2019-05-30 17:54] cgx commented on #4578
dewscription fixed! thanks to *big-fingers* @satkunas.

[2019-05-30 17:54] #4578 closed

[2019-05-30 18:08] #4510 closed

[2019-05-30 18:13] cgx commented on #1194
We now have *protected services* that can't be stopped. That will keep the Web admin alive. Otherwise, I don't think a confirmation is required for the other services.

[2019-05-30 18:13] #1194 closed

[2019-05-31 16:01] #4447 closed

[2019-05-31 18:31] cgx opened #4580 "Web admin: smart close"
Some pages allow to route to a *closable* view. Examples:

* from the RADIUS search, one can visit a node;
* from the nodes search, one can visit a user.

When closing such a view, we should be smart and return the previous context. Currently, we always route to the search page of the visited component.

[2019-05-31 18:33] cgx commented on #1138
Role is present, but I can't see the VLAN. Is it missing?

[2019-05-31 18:45] #4499 closed

[2019-06-02 12:59] WallaPF commented on #4579
**Refining the case**
When a node is identified, Its fingerprint won't populate in the in the node tab.
These are the relevant packetfence.log errors:

Jun  2 15:44:44 PF-9 packetfence: WARN pfperl-api(13318): Can't find scan engine for 68:f7:28:bd:95:17 since we don't have it's OS (pf::Connection::Profile::findScan)
Jun  2 15:44:50 PF-9 packetfence: INFO pfperl-api(13319): Could not find any 'Dev

[2019-06-03 11:31] julsemaan commented on #1138
We don't record the VLAN in the audit log right now

We should see if this should be recorded for display or if looking at the RADIUS attributes details is enough for now

[2019-06-03 12:06] julsemaan commented on #4579
Device 31 doesn't exist anymore in Fingerbank v2

This really looks like a deployment (or database) that was pre-8.0 then upgraded to 8.0+ without applying the proper Fingerbank upgrade scripts

Try applying:
[code]

Note that after this, PacketFence will need to learn the data again from your endpoints meaning it will need to see DHCP/HTTP/TCP packets for the device in order for the information t

[2019-06-03 13:03] nqb opened #4581 "web admin (security events): add an internal trigger"
In new GUI, it's not possible to add an internal trigger on a security event.
Still possible from old GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new security event
2. Add a trigger
3. Click on "Any event"

=> You can select built-in triggers but you can't **create** a new trigger.

**Expected behavior**
You should be able to create a new trigger with an ID.

**Screenshot**

[2019-06-03 20:03] cgx opened #4582 "API OPTIONS /config/security_events → text of internal triggers"
The *text* attribute of internal allowed values is identical to the value. It should used the translation of the text from the [constants](https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/constants/trigger.pm#L78-L83).

[code]

[2019-06-03 20:41] theonemcdonald opened #4583 "Unable to upgrade from 8.3 to 9.0.x"
I'm following the UPGRADE guide to the letter. However, I get the following error:

`Running transaction check
Running transaction test
Transaction test succeeded
Running transaction
  Updating   : packetfence-pfcmd-suid-9.0.1-1.el7.x86_64                    1/9
  Updating   : packetfence-config-9.0.1-1.el7.noarch                        2/9
Adding PacketFence config startup script
  Installing : p

[2019-06-03 21:04] rcmcdonald91 commented on #4583
This is my first time upgrading PacketFence (from 8.3). The upgrade was very verbose and kicked out a lot of messages that seem catastrophic (see my original post).

However, the upgrade did finally finish and I ran the relevant scripts to upgrade from 8.3 to 9.0.1 and upgraded the SQL schema. After a reboot, it seems like everything is working fine.

[2019-06-03 21:06] #4582 closed

[2019-06-04 05:33] #4583 closed

[2019-06-04 06:13] WallaPF commented on #4579
@julsemaan
Applied the DB command you provided.

Note that it's a clean fresh v9 install, not an upgrade.
I use SNMP trap to assign VLAN with Cisco 3760G switch.
The node is Windows 10 with Symantec endpoint protection.

**Logs**
Jun  3 17:40:35 PF-9 packetfence: INFO pfperl-api(13310): Could not find any 'Device' entry with ID '31' in schema 'Upstream' (fingerbank::Base::CRUD::read)
Jun  3 17:40:

[2019-06-04 11:58] satkunas commented on #4580
Using `router.go(-1)` should suffice

https://router.vuejs.org/guide/essentials/navigation.html#router-go-n

[2019-06-04 13:17] satkunas opened #4584 "Inconsistent use of pf_management_ip in docs"
**Describe the bug**
There are currently 6 different uses of the packetfence hostname/ip throughout our documentation in /static/docs.

- %3Chostname%3E
- your_portal_hostname
- your_portal_ip
- pf_management_ip
- %3Cyour_captive_portal_ip%3E
- _ip_address_of_packetfence

**Expected behavior**
A single definition should be used for all of the above for consistency.

**Additional context**
Consiste

[2019-06-04 14:36] julsemaan commented on #4579
Device 31 and 32 are outdated devices.

Could you provide an archive containing /usr/local/pf/conf/ so I can take a look at everything

You can send this directly to jsemaan@inverse.ca so its not published online

[2019-06-04 15:28] cgx commented on #4581
Custom internal triggers should be now defined as *custom* triggers. v9.0.2 will provide the *custom* trigger in the Web admin, and v9.1 will provide a migration script (to be developed) to migrate custom internal triggers to custom triggers.

[2019-06-04 19:37] julsemaan opened #4585 "Fingerbank MAC vendor lookup doesn't search for mac (only name)"
**Is your feature request related to a problem? Please describe.**
When creating a Fingerbank local combination (#/configuration/fingerbank/local/combinations/new) and assigning a MAC vendor it only searches by the MAC vendor name and not the MAC vendor mac field which is a pain when you want to filter by a specific MAC OUI since you have to guess the name of the OUI

**Describe the solution you'd

[2019-06-04 19:46] julsemaan opened #4586 "Modifying the local database in the new admin doesn't sync the cluster"
**Describe the bug**
When you CRUD a Fingerbank local attribute (like creating a combination), the cluster isn't being synced since the API doesn't call pf::fingerbank::sync_local_db() like the previous admin did

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '#/configuration/fingerbank/combinations'
2. Click "Local"
3. Create a new local combination with some valid data

**Expected b

[2019-06-04 20:43] #4580 closed

[2019-06-05 10:51] julsemaan commented on #4586
Missing the maintenance

[2019-06-05 13:17] jrouzierinverse commented on #4586
Done

[2019-06-05 13:17] #4586 closed

[2019-06-05 18:36] julsemaan opened #4588 "Unable to delete a switch in new admin"
**Describe the bug**
Unable to delete a switch in the new admin

**To Reproduce**
1. Go in the switches, select delete
2. It expands and show confirmation
3. Click on the delete
4. Cry because the switch is still there

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3857942/58980818-2281ea00-879f-11e9-9f98-a16383aa1d2

[2019-06-05 20:14] cgx opened #4589 "API GET /api/v1/config/filters → add name"
Along the filter id, we should add a *name* attribute with a proper display name for the filter. Example:

[code]

[2019-06-05 21:05] #4589 closed

[2019-06-06 14:04] julsemaan opened #4592 "Test database env are not respected anymore"
**Describe the bug**
The smoke.t script used to import variables to override the database configuration of t/data/pf.conf for when the database isn't listening on 127.0.0.1

[2019-06-06 15:31] fdurand opened #4593 "Search for a mac address doesn't accept all format. (New admin)"
**Describe the bug**
In nodes tab , search for 605718E1F0F0 doesn't work, search for 60:57:18:E1:F0:F0 works.

**To Reproduce**
Steps to reproduce the behavior:
In nodes tab , search for 605718E1F0F0 doesn't work, search for 60:57:18:E1:F0:F0 works.

**Expected behavior**
Find something

[2019-06-06 15:48] julsemaan opened #4594 "Many search columns in RADIUS audit log are missing"
**Describe the bug**
The available search columns of the RADIUS audit log aren't the same as in the old admin

**To Reproduce**
1. Open advanced search of RADIUS audit log
2. Select the available columns
3. Look with your :eyes:

**Expected behavior**
Expected the list to be on par with the old admin

[2019-06-06 18:47] julsemaan opened #4595 "(old admin) Import users with bypass_role fails"
**Describe the bug**
Jun 6 13:42:18 aus11-nac3 httpd_admin: httpd.admin(12938) ERROR: [mac:unknown] Caught exception in pfappserver::Controller::Node->create "Undefined subroutine &pf::import::nodecategory_lookup called at /usr/local/pf/lib/pf/import.pm line 138, <$import_fh> line 2." (pfappserver::PacketFence::Controller::Root::end)

[2019-06-06 20:27] satkunas opened #4596 "Documentation in /static/doc/ is Missing image assets from /static/doc/docs/images"
**Describe the bug**
Almost all `.html` documents in `/static/doc/` are missing one or more image assets in `/static/doc/docs/images/`

**To Reproduce**
Steps to reproduce the behavior:
1. Preview any document from `/static/doc/` in your browser.
2. View the debugger network tab and look for a `404`.

**Screenshots**
![Selection_032](https://user-images.githubusercontent.com/3904468/59064313-fb4b1

[2019-06-07 12:00] Venice-89 opened #4597 "It's not possible to create a Source action "mark as sponsor" in PF 9.0.1"
**Describe the bug**
If you try to create a AD Source with "mark as sponsor" action, you get the following message:
administration_rules.1.actions.0.value: Value field is required

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your AD Source
2. Create a Administration Rule
3. Use "Mark as sponsor" as Actions
4. click save

In pf 8.3 it worked as expected

[2019-06-07 12:09] nqb commented on #4597
As a workaround, you can use old web admin.

[2019-06-07 12:13] julsemaan opened #4598 "Cluster state page is missing in new admin"
**Describe the bug**
Seems no issue was left open after the 9.0 release around the fact that this is still missing

Lets get this fixed

[2019-06-07 12:18] julsemaan commented on #4598
I've extended the cluster_status API endpoint so it supports specifying a server so we can do the calls in parallel without having to obtain a token on all servers.

Here are the API calls:

Get the list of the servers:
[code]

For each of those servers:
[code]

Example:
[code]

Note that it still sends the single server in the items array as the only element and not in item to stay consistent wit

[2019-06-07 13:53] julsemaan commented on #4595
Missing the maintenance branch maintenance/8.x -> maintenance/9.0

[2019-06-07 14:05] #4595 closed

[2019-06-07 14:47] jrouzierinverse commented on #4598
Maybe we should change it to.

for all    GET /api/v1/services/cluster_statuses
for one  GET /api/v1/services/cluster_status/:server

[2019-06-07 15:00] jrouzierinverse commented on #4598
Another choice is to change server to servers and have it accept a comma separated list of hosts

As this makes more the call more consistent with our API.

sbin/pfperl-api get /api/v1/services/cluster_status?servers= julien-cluster-1, julien-cluster-3

[2019-06-07 15:19] julsemaan opened #4599 "(old admin) Disabling captive_portal.secure_redirect isn't taken into account"
**Describe the bug**
When you disable captive_portal.secure_redirect in the old admin, it leaves it enabled

**To Reproduce**
1. Go to '/admin/configuration#configuration/captive_portal'
2. Disable 'Secure Redirect'
3. Save
4. Refresh and the parameter will still be enabled

**Expected behavior**
Secure redirect should be disabled

[2019-06-07 16:59] julsemaan commented on #4588
That applies to switch groups as well

[2019-06-07 17:16] #4588 closed

[2019-06-07 17:23] extrafu commented on #4588
Shouldn't that go in the maintenance?

[2019-06-10 15:44] veedubbs opened #4601 "v9-gui: Other Reports display issue"
**Describe the bug**
It seems the SMS Registration and the Email Registration reports displays records ordered by Code expiration in reverse order -- and you can not sort per column.  So, to see the most recent Email/SMS Registrations, I have to page through each page to get to the end.  In regards to that, it seems both the single page > and the last page >> icons only advance a single page.

**T

[2019-06-10 15:53] cgx commented on #4601
Concerning pagination, see issue #3342.

[2019-06-10 17:43] satkunas opened #4602 "CSV Node import only accepts single MAC format"
Import accepts `00:11:22:33:44:55` format.

Also needs to accept formats:

- `001122334455`
- `00-11-22-33-44-55`

[2019-06-10 22:17] jacac opened #4603 "Google auth default setting changed."
Following the installation guide for google oauth did not setup local accounts with first name, last name and email. Apparently Google changed their OpenID connection points and the defaults should reflect that.
Based on https://accounts.google.com/.well-known/openid-configuration the `userinfo_endpoint` should be `https://openidconnect.googleapis.com/v1/userinfo` and the `scope` should be `openid

[2019-06-11 14:37] julsemaan commented on #4601
The frontend is likely not sending the sort during its query which is available in `order_fields`

[2019-06-11 20:00] #4597 closed

[2019-06-11 21:10] satkunas commented on #4576
@julsemaan Is this a front-end issue? If not, this should be re-assigned.

[2019-06-12 13:01] julsemaan commented on #4576
I think this is a non-issue, if the interface is set to down and appears as down then we're good.

The fact that the IP addresses are left on the interface is the same behavior as the old admin and should be fine since they're inactive due to the down state of the interface

[2019-06-12 13:01] #4576 closed

[2019-06-12 13:14] julsemaan commented on #4585
It would be good if the MAC OUI would be included in brackets after the name

Example:
Searching for 00112 shows the names of the vendors but not the OUI.

So it would be good to display the MAC OUI (mac attribute) in brackets after the name at all times making it '${mac_vendor.name} (${mac_vendor.mac})' so that we know what we're searching for

[2019-06-12 13:21] #4594 closed

[2019-06-12 13:23] julsemaan commented on #4598
What should we do ?

1:

2:

?

[2019-06-12 13:32] cgx commented on #4598
I prefer option 1. We don't want to retrieve the services status of multiple servers at the same time since it will likely take too much time, as Captain @lzammit experienced.

[2019-06-12 13:42] julsemaan commented on #4598
![image](https://user-images.githubusercontent.com/3857942/59356187-5c4e7580-8cf6-11e9-9f2b-6114081a30c0.png)

[2019-06-12 14:51] satkunas commented on #4585
@julsemaan added in https://github.com/inverse-inc/packetfence/commit/de66d82309b7a180f71e90132ea50d27bdef38bc

[2019-06-12 17:12] julsemaan commented on #4598
@jrouzierinverse, any preference before I move forward with option 1 ?

[2019-06-12 17:29] jrouzierinverse commented on #4598
Nope

[2019-06-12 19:08] #4601 closed

[2019-06-13 12:06] julsemaan commented on #4598
Just adjusted the API route

@cgx, this should be ready for some frontend magic

Example call:
[code]

[2019-06-13 14:58] #4598 closed

[2019-06-13 19:08] satkunas commented on #4511
Fixed with https://github.com/inverse-inc/packetfence/commit/b748b1d560e823fb09c0cbc6e98425192e487c77

[2019-06-14 13:27] julsemaan commented on #4585
all good now!

[2019-06-14 13:27] #4585 closed

[2019-06-16 10:21] danielerosatidast opened #4616 "V9.1 - Online/offline Nodes in Inline Mode"
Hi guys, I was wondering, I do have a deployment of PF in outofband mode with Radius auth and the radius accounting does work well. I'm able to see online and offline nodes thanks to radius accounting.

I'm looking to see the same info in an inline mode deployment assuming that my PF is gateway so it shouldn't be so hard to display if a node is online rather than not.

Is possibile already now to

[2019-06-17 18:43] julsemaan opened #4617 "Impossible to select empty role (no role) for device registration entry"
**Describe the bug**
When configuring a device registration policy its not possible to select an empty value for the role (meaning compute role dynamically) because the OPTIONS for the device registration strip the empty values from the allowed options of the select

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the default registration policy and try to assign an empty role

[2019-06-18 17:50] julsemaan opened #4620 "(nodes) Bulk apply security event does a bulk close security event"
**Describe the bug**
When you're in the nodes, if you do a bulk apply security event, it actually calls bulk_close_security_event and closes the security events for the device

**To Reproduce**
Steps to reproduce the behavior:
1. Go in nodes
2. Check one of the nodes
3. Try to apply one of the security events (I took P2P Isolation)
4. Check network tab and see the wrong API call

**Expected behavi

[2019-06-18 18:32] julsemaan commented on #4620
fixed via 18fb878e7bc2d49e8c6c7c1cc58be8872c6d7dfa and 998cfd0b3a2cb5b25af07e13593497887c10db87

[2019-06-18 18:32] #4620 closed

[2019-06-18 19:49] satkunas commented on #4617
@julsemaan does https://github.com/inverse-inc/packetfence/commit/b9991af59800e67ab2b6ce4d3d70b6ed739752c2 address this issue?

[2019-06-19 12:50] julsemaan commented on #4617
@satkunas, if it allows to select no role in the default device registration policy then it does but from our previous discussion, @jrouzierinverse had to send back the right OPTIONS for this to work

[2019-06-19 17:19] julsemaan opened #4621 "Node create doesn't assign the role"
**Describe the bug**
When creating a node in Nodes/Create, the selected role doesn't apply to the node

**To Reproduce**
1. Go in the new admin
2. Go in Nodes/Create
3. Enter aa:bb:cc:dd:ee:ff as the MAC
4. Select a role
5. Save
6. Go check the node and see that there is no role

**Expected behavior**
The role selected in the creation should be applied on the node

[2019-06-19 17:28] julsemaan commented on #4621
It seems the frontend would be to blame, its putting the category_id inside category:
[code]

@satkunas can you look into this ?

[2019-06-20 12:00] nqb opened #4622 "webadmin: translation not persistent"
After setting language to French in webadmin, preference is lost when I quit my web browser and open a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as "admin"
2. Change language to French
3. Quit your web browser
4. Re-open your web browser and go back to web admin

=> Web admin is translated in English

**Expected behavior**
Web admin is still translated in French

**Infor

[2019-06-20 12:15] julsemaan commented on #4621
This needs to go in the maintenance, its a +1 patch

[2019-06-20 12:17] julsemaan commented on #4622
![image](https://user-images.githubusercontent.com/3857942/59848706-d359be80-9333-11e9-9ff0-85af311ea01c.png)

[2019-06-20 12:19] extrafu commented on #4622
@julsemaan Clearly looks like @nqb

[2019-06-20 12:26] nqb commented on #4622
:baguette_bread:

[2019-06-20 12:49] julsemaan commented on #4617
@jrouzierinverse

Can you look into this so we can get this in maintenance ?

[2019-06-20 12:53] julsemaan opened #4623 "Creating a node requires the MAC to be cleaned"
**Describe the bug**
When creating a node (Nodes/Create), you need to input the MAC following PF's standard instead of being able to use any recognized formats (with/without colons, uppercase/downcase/mixed-case/zammit-case)

**To Reproduce**
1. Go in 'Nodes/Create'
2. Use AABBCCDDEEFF to create a node
3. Be sad because it doesn't work

**Expected behavior**
Should be able to use any format that p

[2019-06-20 12:54] julsemaan commented on #4593
@jrouzierinverse

Can we get this fixed, its a PITA and all customers where I did upgrades complained about the MAC format issue in the search

[2019-06-20 12:57] #4287 closed

[2019-06-20 12:58] julsemaan commented on #4287
fix merged and added to maintenance/9.0 and maintenance/8.3 (8.2 and below don't cherry-pick cleanly)

[2019-06-20 12:59] julsemaan commented on #4096
@fdurand

Did this get fixed via one of the pfdhcp PRs we merged?

[2019-06-20 15:27] #3871 closed

[2019-06-20 16:25] #4623 closed

[2019-06-24 11:04] izzie88 opened #4624 "Ubiquiti Support"
Is there packet fence support for Ubiquiti UniFi controller and AP?

[2019-06-24 11:22] nqb commented on #4624
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of question.

https://packetfence.org/doc/PacketFence_Network_Devices_Configuration_Guide.html#_ubiquiti_2

[2019-06-24 11:22] #4624 closed

[2019-06-24 18:43] jacac opened #4625 "Google auth with local account creation not showing during captive portal."
With the Google authentication source and create local account enabled, the local account information is not available to the user. No email is send to the user and the page show local account is not displayed during captive portal registration.

**To Reproduce**
1. Add `Google` authentication source with `Create Local Account` selected.
![image](https://user-images.githubusercontent.com/422293/60

[2019-06-25 11:29] julsemaan commented on #4625
If you check the user entry that got created through that registration (Users tab of the admin) and provide me a screenshot of the entry when you view the details of the user

If there is no user, try to perform the process without the local account creation and check if the entry gets created

[2019-06-25 15:53] #4593 closed

[2019-06-25 16:11] julsemaan opened #4626 "Adding a search attribute removes the username attribute from the auth lookup"
**Describe the bug**
When using search attributes, it performs the auth lookup only on the attributes in searchattributes and not on the username attribute plus the search attributes like one would expect since we're adding attributes that can be used as the username.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an LDAP source with sAMAccountName as the username attribute and homeP

[2019-06-25 16:48] jacac commented on #4625
The issue is that the email with the account information is not send to the user. Neither is the `default_show_local_account` page displayed during the captive portal registration process.

If I add
`if($info->{email}) {
        $self->app->session->{email} = $info->{email};
}`

to https://github.com/inverse-inc/packetfence/blob/c52ef3e013d5e0cab94de83551edc7528f42a7d3/html/captive-portal/lib/capt

[2019-06-26 13:58] nqb commented on #4626
As a workaround, you can set username attribute in the list of search attributes.

[2019-06-26 14:20] nqb opened #4628 "webadmin: impossible to create a new Active directory source without an admin rule"
In new webadmin, you can't create a new Active Directory source without an administration rule.

**To Reproduce**
1. Create an Active Directory source with minimal requirements
2. Click on 'Create'

=> Page stucks here.

In web browser, you got following error:

![Screenshot from 2019-06-26 16-10-39](https://user-images.githubusercontent.com/10830260/60187616-2b119180-982e-11e9-989d-39c9dfbd9985.p

[2019-06-26 20:25] julsemaan commented on #4625
The fix there seems to make sense. I'll test it in lab and add it to devel + maintenance

[2019-06-26 23:15] jose-duarte opened #4631 "v9 GUI - SAML: Path to Service Provider Cert (x509) missing field"
Missing field makes it not possible to create a SAML source using the new GUI.

Steps to reproduce the behavior:
1. Go to Authentication Source
2. Click on new Internal Source - SAML
3. Fill in all the fields
4. See API error noticing the Cert field is missing

pf 9.0.1, debian stretch

[2019-06-27 12:32] julsemaan commented on #4631
@satkunas
Can you check for any missing fields in the SAML source in the new admin and add them

@jose-duarte
Just in case you don't know, you can still access the old admin to configure this source in the meanwhile (accessible in the top right menus)
![image](https://user-images.githubusercontent.com/3857942/60266451-0f51ce00-98b6-11e9-911b-31c60b6eea2d.png)

[2019-06-27 13:28] #4625 closed

[2019-06-27 13:29] julsemaan commented on #4625
fixed and added to the maintenance, thanks for the pointer

[2019-06-27 13:33] lukasnasc opened #4632 "DNS Clients not 8.8.8.8"
Pfdns is enabled

/etc/resolv.conf
8.8.8.8

Interface LAN PacketFence
DHCP: active
DNS: 8.8.8.8

Although, the client get do DNS IP from packetfence (example: 192.168.1.1)

I want the clients get DNS 8.8.8.8.  How I do that?

Thanks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screensh

[2019-06-27 13:34] extrafu commented on #4632
Use the mailing list for such question.

[2019-06-27 13:34] #4632 closed

[2019-06-27 18:22] julsemaan opened #4633 "Some config API calls are slow"
**Describe the bug**
Some of the config API endpoints are slow and weird glitches while performing tasks.
Example, the fact that the security events take a while to load makes them appear with a delay of a few seconds in the batch node menu although everything else has loaded.

The security events page also takes a lot of time to load and so does the authentication page.

We need to profile and op

[2019-06-27 18:23] julsemaan commented on #4633
Putting this as a +1 although the fix might be fairly fat and require to be only included in 9.1+

Still, we'll try to make an effort so that it can be cherry-picked in the maintenance if its possible

[2019-06-27 20:40] jacac commented on #4625
Thanks for fixing it.

[2019-06-28 09:35] socjordi opened #4634 "[PF 9.0.1] VLAN assignment fails because of a decimal point in the VLAN ID"
I have PacketFence 9.0.1 on Debian 9.

When I try to authenticate from an Ubuntu with PEAP and MSCHAPv2, without certificate, I get an error on the switch (Cisco Catalyst 2960-s):

	`%DOT1X_SWITCH-5-ERR_VLAN_NOT_FOUND: Attempt to assign non-existent or shutdown VLAN 14.0 to 802.1x
`
In the RADIUS audit log I see that the VLAN ID in Tunnel-Private-Grup-Id has a decimal point and a decimal zero, but

[2019-06-28 11:21] julsemaan commented on #4634
Can you provide:
- content of /usr/local/pf/conf/switches.conf (with obfuscated secrets)
- content of /usr/local/pf/logs/packetfence.log while testing this connection

With those 2 pieces I should be able to pinpoint where the issue is

Thanks,

[2019-06-28 15:18] socjordi commented on #4634
I've attached packetfence.log and switches.conf (renamed to switches.conf.txt).

[packetfence.log](https://github.com/inverse-inc/packetfence/files/3339795/packetfence.log)
[switches.conf.txt](https://github.com/inverse-inc/packetfence/files/3339815/switches.conf.txt)

[2019-06-28 15:29] #4626 closed

[2019-06-28 16:27] julsemaan commented on #4634
Can you provide me the output of the following commands:
[code]

Careful with the secrets in both commands

[2019-06-28 16:30] #4621 closed

[2019-06-30 10:03] jose-duarte commented on #4631
@julsemaan thanks for the tip, actually found the old admin panel just before your reply and was able to set it up correctly.
Just for reference, another thing missing in the new panel is the metadata download button after creating the SAML source.

[2019-07-01 04:50] bbs2web commented on #4634
We were experiencing this until we enclosed the RADIUS attributes with double quotation marks. Previously being returned as 666.0 instead of just 666. These changes are from another module but appear identical to your issue.

PS: This was also causing a problem when sending RADIUS disconnect messages.

Not working:
<pre>        $radius_reply_ref = {
            'Mikrotik-Wireless-VLANID' => $args-

[2019-07-01 05:02] bbs2web opened #4635 "MikroTik - Necessary changes to get this working (Solved)"
The following changes fix MikroTik RADIUS support and RADIUS disconnect for wireless clients to be re-evaluated.

Changes:
- FreeRADIUS now includes MikroTik vendor attributes, renamed those in the module to avoid having to define custom vendor attributes.
- RADIUS disconnect uses the MAC address with colons, not dashes
- RADIUS disconnect expects the MAC address in the User-Name attribute
- RADIU

[2019-07-01 05:12] bbs2web opened #4636 "[PF 9.0.1] Spelling mistake 'RADIUS Spurce IP Address'"
Typo in RADIUS audit view, in Switch Information. Appears to be present in various locations:

<pre>find /usr/local/pf -type f -print0 | xargs -r0 grep --color 'RADIUS Spurce IP Address'
/usr/local/pf/conf/I18N/api/en.po:msgid "RADIUS Spurce IP Address"
/usr/local/pf/conf/I18N/api/fr.po:msgid "RADIUS Spurce IP Address"
/usr/local/pf/conf/I18N/api/i_default.po:msgid "RADIUS Spurce IP Address"
/usr/

[2019-07-01 05:15] bbs2web opened #4637 "[PF 9.0.1] Security Events - Accounting removed on save"
Editing a security event via GUI results in data usage trigger being removed. Have to manually edit security_events.conf to get it working:

<pre>trigger=(role::guest&Accounting::TOT2GBD)</pre>

[2019-07-01 05:22] bbs2web opened #4638 "[PF 9.0.1] Firewall "SSO on access reevaluation" not working"
Enabling the option to send a RADIUS accounting packet to a Check Point firewall on access re-evaluation is not working. Only the "SSO on accounting" is working as expected.

Have temporarily set our wireless APs to send accounting information every minute, so that the firewall is informed of the association between the IP and MAC address.

[2019-07-01 06:54] socjordi commented on #4634
The first command gives me errors like this:

[code]

I attach the output from the second command:

`/usr/local/pf/bin/pfcmd pfconfig get config::Switch
`
[switch.txt](https://github.com/inverse-inc/packetfence/files/3344234/switch.txt)

[2019-07-01 13:07] #4636 closed

[2019-07-01 14:23] cgx commented on #4637
I can't reproduce this issue with the *devel* branch.

[2019-07-01 14:39] #4637 closed

[2019-07-01 16:03] #4631 closed

[2019-07-02 09:35] bklier opened #4639 "Fingerbank problem"
**Impossible to fetch Fingerbank account information**
`Impossible to fetch Fingerbank account information: Can't connect to api.fingerbank.org:443 SSL connect attempt failed error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure at /usr/share/perl5/LWP/Protocol/http.pm line 49.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> Compliance -> F

[2019-07-02 13:08] julsemaan commented on #4639
Are you using any kind of proxy on this machine that would be intercepting HTTPS ?

Also, please provide the PF version

[2019-07-02 13:11] julsemaan commented on #4638
We'll need the content of packetfence.log while you're expecting the packet to be sent

Also, we'll need the pf.conf and firewall_sso.conf from /usr/local/pf/conf/

[2019-07-02 13:13] julsemaan commented on #4635
I'm guessing the module must have worked previously for the RADIUS disconnect so IDK if we'll maybe need 2 modules, one for the newest version/hardware, one for the oldest.

From what I recall, @fdurand did the support for that equipment so I'll defer to him for how we'll handle that

[2019-07-02 13:33] julsemaan opened #4640 "Summary of Let's Encrypt renewal is being sent although no Let's Encrypt resource is enabled"
Title says it all!!!

[2019-07-02 15:09] #4634 closed

[2019-07-02 15:13] julsemaan commented on #4635
I addressed the part about the VLAN being a number, left out the disconnect part so @fdurand can provide feedback on the proper resolution

[2019-07-02 15:14] julsemaan commented on #4634
I added a fix in the maintenance, can you try to apply it:

[code]

And let me know if that works better now

[2019-07-02 15:42] bbs2web commented on #4635
Wow, super impressed with the quick feedback!
MikroTik provide free software update to all their products and the highly publicised vulnerability in RouterOS prior to v6.42.1 should have most users running a revision which works with the changes suggested above.
MikroTik do however provide CAPsMAN, as centrally managed AP infrastructure, where the RADIUS disconnect messages may require a different

[2019-07-02 15:46] #4640 closed

[2019-07-02 19:16] julsemaan commented on #4638
Just tested in devel and it did work fine so we'll wait on the data requested above

[2019-07-03 07:09] socjordi commented on #4634
After maintenance applied I think the VLAN returned is OK ("14" and not "14.0"), but now I can't access to admin portal: it generates many 404 errors. I attach http.admin.access log.

[httpd.admin.access.txt](https://github.com/inverse-inc/packetfence/files/3353652/httpd.admin.access.txt)

EDIT: I applied pf-maint.pl a second time, and now I can access to admin portal, but in the switch log I see

[2019-07-03 11:32] bklier commented on #4639
I'm not using any kind of proxy

PF version is 8.3.0

[2019-07-03 12:23] julsemaan commented on #4639
What if you do the following command on the server:
curl https://api.fingerbank.org/

[2019-07-03 12:23] julsemaan commented on #4634
Try to force refresh your browser (Ctrl-F5) to clear the cache

[2019-07-03 14:16] bklier commented on #4639
The curl command runs without any problems.

[2019-07-04 11:38] julsemaan opened #4643 "Large switches.conf file slows down startup and loads pfconfig"
**Describe the bug**
When having a large switches.conf (my case was ~2K switches), it loads %ConfigSwitchesList in the triggers constants for every perl process that is spawned (god knows there is a bunch of them during startup). This results in a enormous load to pfconfig to walk the keys one by one due to this line here: https://github.com/inverse-inc/packetfence/blob/85887e0e5f17e7af12e52a99088

[2019-07-04 11:57] julsemaan opened #4644 "FreeRADIUS attempts to resolve all MACs as IPv6 addresses on startup"
**Describe the bug**
When starting up, FreeRADIUS is attempting to lookup all the MAC address based clients as IPv6 clients causing extreme slowdown in the startup when having a lot of MAC based RADIUS clients (~2K in my case)

**To Reproduce**
1. Use a switches.conf with 2K MAC based switches
2. Start FreeRADIUS
3. Logs should show a lot of `Jul 04 07:54:51 packetfence03.zammitcorp.com load_balan

[2019-07-04 14:39] #4643 closed

[2019-07-04 14:43] julsemaan commented on #4644
That's due to the fact IPv6 is enabled but not working so every lookup is slow

Tried it on a machine with IPv6 disabled and it works fine where the IPv4 lookups are done very fast

Will have to see if we can disable IPv6 in FreeRADIUS since we don't support it anyway

[2019-07-04 14:45] julsemaan commented on #4644
Can't seem to find a way to disable IPv6 in FreeRADIUS directly, the solution will have to be to disable IPv6 on systems that have it enabled but not working as it should

[2019-07-04 14:45] #4644 closed

[2019-07-04 17:47] lzammit opened #4645 "Cannot create eduroam source"
**Describe the bug**
Unable to create an eduroam source because of what looks like missing Administration rules (which are impossible to have in eduroam)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an eduroam source
2. See error in console

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1261" alt="Screen Shot 2019-07-04 at 1 46 21 PM" src=

[2019-07-04 17:54] #4645 closed

[2019-07-04 19:58] julsemaan commented on #4639
Can you provide me the content of '/usr/local/pf/conf/fingerbank.conf' (make sure you strip the key from it)

[2019-07-04 20:56] lzammit opened #4646 "Web Admin: Can't open the Captive portal section"
The logs show:

[code]

[2019-07-06 12:24] pizu opened #4647 "SSL Certificate - Change From Self-Sign To Company Certificate. - v8.1.0"
Hi,

Currently we are using the self-signed certificate, which was installed automatically during the yum installation on Centos 7, now we would like to update it to our company certificate, is there any guide on how to do this?

Thanks.

[2019-07-07 00:51] extrafu commented on #4647
Use the mailing list for such questions.

[2019-07-07 00:51] #4647 closed

[2019-07-07 12:26] bbs2web opened #4648 "[PF 9.0.1] Unable to enable Fingerbank device change detection"
Compliance, Device change detection does not alter any files in /usr/local/pf/conf nor /usr/local/fingerbank/conf/fingerbank.conf.

Moving the slider to enable the function and then saving initially appears to work but refreshing the page shows it still being disabled.

Fingerbank API profile shows statistics so it itself appears to be functional. For example:
483 total number of requests
1 hourly

[2019-07-08 01:44] lazypaul opened #4649 "WMI security events not trigger in Pf 9.0.1"
Problem 1 : Packetfence 9.01 can  show wmi tab in wmi rule (old admin, new ui not show) , but not trigger any security events?

On the wmi tab, I can see the who is loggin , what software install, what processes running, but can't trigger any security events. How to trigger security events auto ?

[3000006]
priority=9
actions=email_admin,reevaluate_access,log
window=
max_enable=0
desc=Team viewer

[2019-07-08 08:34] bklier commented on #4639
There is no '/usr/local/pf/conf/fingerbank.conf/'. I only have a '/usr/local/fingerbank/conf/fingerbank.conf' with the following content:

[upstream]
api_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2019-07-08 13:42] julsemaan commented on #4648
Could you provide the content of pf.conf after enabling the flag in "Device change detection"

If you say that its not being taken into consideration after refreshing I'm guessing it won't be enabled there but I just want to confirm that so it can be assigned to the right person

[2019-07-08 13:43] julsemaan commented on #4649
That's more a configuration question for the mailing list than a bug

[2019-07-08 13:43] #4649 closed

[2019-07-08 13:44] julsemaan commented on #4639
Sorry yes it was my bad for the path, so it all looks good there.

Could you provide me the output of:
[code]

[2019-07-08 14:46] bklier commented on #4639
* Rebuilt URL to: https://api.fingerbank.org/
* Hostname was NOT found in DNS cache
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0*   Trying 35.196.72.95...
* Connected to api.fingerbank.org (35.196.72.95) por

[2019-07-08 14:48] bklier commented on #4639
Here's the full output (stdout & stderr) of `curl -vvv https://api.fingerbank.org`

[out.txt](https://github.com/inverse-inc/packetfence/files/3368921/out.txt)

[2019-07-08 15:20] bbs2web commented on #4648
Nothing changes in pf.conf when I try to change the option via the web interface. I manually added the following in to pf.conf but it still shows as disabled in the GUI:

<pre>[fingerbank_device_change]
enable=enabled</pre>

Got the structure from pf.conf.default:
<pre>[fingerbank_device_change]
#
# fingerbank_device_change.enable
#
# Whether or not the Fingerbank device change feature is enabled

[2019-07-08 16:03] bbs2web commented on #4635
Comments pertaining to the RADIUS disconnect functionality in Mikrotik.pm indicates that this was tested with RouterOS v6.18 and not working. Most people are most probably using the SSH method of disconnecting users.

Sending the MAC address with colons as the 'User-Name', instead of 'Calling-Station-Id', kicks users off when established using either EAP or MAC based authentication.

[2019-07-08 16:32] #4646 closed

[2019-07-08 19:27] veedubbs opened #4650 "'Other Reports' do not accept all MAC address formats"
**Describe the bug**
'Other Reports', specifically Email Registration and SMS Registration do not accept all MAC address formats.  Currently, you must enter it as 11:22:33:44:55:66

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reports'
2. Click on 'Other Reports'
3. Open 'SMS Registration'/'Email Registration'/'All Authentications'/etc....
4. Search with various MAC address formats

[2019-07-08 20:08] bbs2web opened #4651 "[PF 9.0.1] Admin Roles - Adding 'RADIUS Domains - Read'"
Trying to add 'RADIUS Domains - Read' role adds 'Device registration - Read' instead.

[2019-07-08 20:20] bbs2web opened #4652 "[PF 9.0.1] Nodes location summary date format inconsistent"
The start and end times display dates in different formats, when reviewing a node's location history.

ie:
Start Time: 2019-07-03 07:35:40
End Time: 07/03/19 07:37 am

[2019-07-08 20:25] bbs2web opened #4653 "Node Bandwidth Report & User Report"
It would save time to have the node MAC addresses hyper linked in the node bandwidth report, instead of having to copy & paste them in to the nodes management view.

Would be great to additionally have a user bandwidth report to sum utilisation of multiple devices associated with a given user or guest.

[2019-07-08 20:45] bbs2web opened #4654 "[PF 9.0.1] Reviewing devices for DOMAIN\user shows 'no devices found'"
Viewing nodes' details shows it being owned by eg DOMAIN-01\davidh but viewing the user's device tab displays an error that no devices could be found.

Perhaps the domain separator '\\' isn't escaped out on the query?

PS: This works fine on users where the mobile devices connected using WPA2 Enterprise (eg Android) using just the username. Going to nodes and searching for eg davidh shows 4 nodes

[2019-07-08 21:05] bbs2web opened #4655 "[PF 9.0.1] User information 'Security Events' - no event or description"
Reviewing security events tab, after selecting user, shows the events as having been closed but Event and Description columns are blank.

Reviewing nodes' security events shows 'closed' in the status column but security events column displays loading circle animation icon forever. There is no description column when reviewing a node's security events.

[2019-07-09 03:42] lazypaul commented on #4649
But, had already difined the security events, nothing trigger , not a bug ?

[2019-07-09 03:45] lazypaul opened #4656 "Pf 9.0.1 not trigger any internal security events, nothing show on security tab"
In the profile added the wmiscan engine, defined the security internal trigger ID, and nothing happen, but the same in packetfence 8.3 it works. Had met the condition but nothing show in the security event tab.

[2019-07-09 03:51] bbs2web commented on #4648
The functionality is however working, I have a closed 'Fingerbank device class change' security event.

[2019-07-09 04:11] bbs2web commented on #4655
Hrm... So some events, such as device change detection for example, do display better. The 'event' column is still blank when reviewing user's security events but the description contains 'Previous device detected: Phone, Tablet or Wearable'.

The node's security event display doesn't include the description column, this could be classified as a feature request.

The guest bandwidth utilisation li

[2019-07-09 16:54] julsemaan commented on #4652
@satkunas, can you look into that ?

[2019-07-09 16:54] julsemaan commented on #4653
Looks like it has @satkunas written all over it

[2019-07-09 16:55] julsemaan commented on #4654
Can you try applying the maintenance patches (/usr/local/pf/addons/pf-maint.pl)

You may have to run it twice if you're running a pristine 9.0.1 since that script will get patched through the first call

[2019-07-09 16:56] julsemaan commented on #4648
@satkunas, can you look at why the parameter isn't sticking when enabling it?

[2019-07-09 19:08] julsemaan opened #4657 "Failure in rest module when calling filters on EAP-TLS request"
**Describe the bug**
When you have the authorize filters enabled (radius_configuration.filter_in_packetfence_authorize) and you perform an EAP-TLS request, you will obtain a failure related to the length of the encoding of the EAP-Message resulting in an invalid JSON payload being sent to httpd.aaa which results in a 415 and FreeRADIUS rejecting the user

**To Reproduce**
Steps to reproduce the be

[2019-07-09 19:09] bbs2web commented on #4638
Apologies about the long delay, trying to obtain debug logs during the day was frustrating due to the amount of chatter in the logs. The attached should be a clean log records detailing:

- Node changed to be unregistered without role (device kicked off WiFi)
- Device reconnects to 'Syrex WiFi' and gets placed in registration VLAN 666.
- Accept AUP which re-uses dot1x credentials to register devic

[2019-07-09 19:29] bbs2web commented on #4654
Many thanks, I ran the update thrice and then restarted the system as a whole. Restarted my laptop which initially reconnects using machine authentication and thereafter using my Windows login credentials.
When I navigate to users, search for my account and view devices associated with DOMAIN-01\davidh it displays 'No devices found' although I can search for my username in the nodes view and can t

[2019-07-09 19:33] bbs2web commented on #4638
Herewith log entries when I simply cycle wireless on a mobile device:

<pre>
Jul  9 21:31:45 packetfence2 packetfence_httpd.aaa: httpd.aaa(1775) INFO: [mac:64:a2:f9:1c:32:de] handling radius autz request: from switch_ip => (100.127.255.10), connection_type => Wireless-802.11-EAP,switch_mac => (6e:3b:6b:18:bc:0e), mac => [64:a2:f9:1c:32:de], port => 0, username => "davidh", ssid => Syrex WiFi (pf::

[2019-07-09 19:41] julsemaan commented on #4638
It looks like when the device gets reevaluated it switches VLAN, if that is the case the SSO cannot occur correctly because PacketFence doesn't know about the new IP address. That mode is made for cases where you're doing inline or web-auth. If you're doing VLAN enforcement you'll either want to get PacketFence to see the DHCP traffic of your network or enable 'SSO on Accounting' and 'Update the i

[2019-07-09 19:47] julsemaan commented on #4654
Seems like the escaping was fixed for when a user is being viewed but not when we query the nodes of the user. Will investigate

[2019-07-09 19:53] #4460 closed

[2019-07-09 20:00] #4654 closed

[2019-07-09 20:01] julsemaan commented on #4654
Should be fixed now if you run pf-maint.pl again and restart pfperl-api

Let me know if it doesn't work and we'll reopen this

[2019-07-10 12:43] bbs2web commented on #4654
Working perfectly, many thanks!

[2019-07-10 12:49] bbs2web commented on #4638
Many thanks and apologies for wasting your time. I incorrectly assumed that 'SSO on access reevaluation' would trigger when devices connected to the network and their role was evaluated.

[2019-07-10 12:49] #4638 closed

[2019-07-10 13:07] bbs2web opened #4658 "[PF 9.0.1] RADIUS accounting generates 'fingerbank-collector: Couldn't extract IP/MAC from packet'"
We are using RADIUS accounting for SSO (Single Sign On) with a Check Point firewall and it's working perfectly. We however observe the following messages being logged in packetfence.log:

<pre>
Jul 10 14:25:09 packetfence2 fingerbank-collector[1787]: Couldn't extract IP/MAC from packet
Jul 10 14:25:09 packetfence2 fingerbank-collector: Couldn't extract IP/MAC from packet
</pre>

WiFi APs are gener

[2019-07-10 13:16] bbs2web opened #4659 "[PF 9.0.1] RADIUS accounting iplog updates start and end with each update"
We are using RADIUS accounting for SSO (Single Sign On) with a Check Point firewall and it's working perfectly. We have the following options enabled:
- SSO on accounting
- Update the iplog using the accounting
- Close locationlog on accounting stop

The IPv4 node history however starts and ends with each accounting update (interval: 1m):
<pre>
IP Address    | Start Time        | End Time
192.168.

[2019-07-10 20:17] lzammit opened #4660 "v9-gui: Can't add multiple access level into one source. Works on the old gui."
Does not allow me to add more than one access level.

[2019-07-11 03:28] lazypaul opened #4661 "Switch group can't open"
add a switch group name 2960, description 2960 , then after save in the old admin, it can't open, but can be opened in the new admin

2960 | 2960 | Cisco::Catalyst_2960 | Production

showing :  Error! error reading 2960 from the configuration

[2019-07-11 11:31] julsemaan commented on #4661
Try applying the maintenance branch using '/usr/local/pf/addons/pf-maint.pl'

I believe this has already been fixed in the latest patches

[2019-07-11 11:31] julsemaan commented on #4660
@satkunas would you be able to check this out?

[2019-07-11 11:33] julsemaan commented on #4659
You can enable the cache timeout in the firewall configuration in PacketFence so that it isn't sent every time we receive a packet and you can control the frequency.

BTW, I don't suggest using an interim update of 1 min for accounting, PF will simply not scale for a large deployment with that setting.

A setting of ~1 hour is preferable

[2019-07-11 11:33] #4659 closed

[2019-07-11 11:34] julsemaan commented on #4658
Looks like an issue in the RADIUS handler of the collector.

@fdurand would you be able to look into that ?

[2019-07-11 17:59] #4660 closed

[2019-07-11 18:11] satkunas commented on #4652
Fixed with https://github.com/inverse-inc/packetfence/commit/96cce93d4db30376acebd8e9f2f3cb9b76c155d7

[2019-07-11 18:11] #4652 closed

[2019-07-11 18:15] satkunas commented on #4628
Unable to replicate. Possibly fixed previously with https://github.com/inverse-inc/packetfence/commit/84193c2d1e8f53c1629db28432fcccfa77b27895

@nqb can you please re-test and close if no-longer an issue.

[2019-07-11 18:17] satkunas commented on #4622
@cgx should we use the browsers `Accept-Language` header to automagically set the default lang?

[2019-07-12 04:05] bbs2web commented on #4659
We do have firewall sso caching enabled of 30 minutes. Should the IPv4 history be updated with each accounting update though?
The most recent record always show no end date so shouldn't the RADIUS accounting update then ignore updating the IPv4 history until it changes?

ie: If accounting ip = last history ip, then skip ?

[2019-07-12 04:16] bbs2web commented on #4654
It appears the '/' in queries may also not be getting escaped. If I search for 'david' in nodes it shows a device registered using the AD machine account 'host/Laptop-DavidH.ad.lair.co.za' but displaying devices for this user reports no devices having been found.

Node information also shows no computer name:

Owner: host/Laptop-DavidH.ad.lair.co.za
Computer Name: <blank>
Machine Account: host/Lap

[2019-07-12 06:05] olmanolsztyn opened #4662 "[PF 9.0.1] New GUI Juniper SRX adding form username field missing"
In new GUI Juniper SRX SSO adding form username field is missing.

[2019-07-12 07:09] lazypaul commented on #4656
any news

[2019-07-12 12:59] julsemaan opened #4664 "SSL inspection module configuration makes portal modules section crash"
**Describe the bug**
When you have an SSL inspection portal module configured in PF, the portal modules section of the new admin fails with a JS error

**To Reproduce**
1. Add the following in conf/portal_modules.conf
[code]
2. Visit: #/configuration/portal_modules in the new admin
3. Check error in JS console

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/61129844-4e2

[2019-07-12 12:59] julsemaan commented on #4664
all works good in the old admin

[2019-07-12 15:10] cgx commented on #4622
@satkunas The backend should already be consuming the `Accept-Language` header. On the frontend, we should look at `window.navigator.language`.

[2019-07-15 13:12] fdurand opened #4665 "Missing Custom LDAP/RADIUS attributes in the authentications rules."
Adding custom attributes for RADIUS/LDAP doesn't allow you to use them in authentications rules

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> System Configuration->Advanced'
2. Click on 'LDAP Attributes'
3. Add Zamattr
4. Go in 'Policies and access control->Authentication Sources->New internal source->LDAP'
5. Create a rule and search for Zamattr.

**Expected behavi

[2019-07-15 13:50] #4662 closed

[2019-07-15 14:50] fdurand commented on #4657
It looks to be the EAP-Message that is too big to be encoded.

[2019-07-15 14:57] julsemaan commented on #4657
Its like trying to fit @lzammit in this car:
![image](https://user-images.githubusercontent.com/3857942/61225831-5da50080-a6ef-11e9-8e1f-753c74199939.png)

[2019-07-15 16:25] fdurand commented on #4658
fingerbank-collector doesn't log the correct error, i fixed it in the code, we need to have a new binary.

[2019-07-15 16:36] fdurand commented on #4657
Fixes by a8d9110046a60560ca935f628651ebc64ff76e44

[2019-07-15 16:37] #4657 closed

[2019-07-15 16:57] #4635 closed

[2019-07-15 17:28] fdurand commented on #4096
We should set the management variable to True but if the VIP move to another server then we will lost the stats.

[2019-07-15 17:37] julsemaan commented on #4096
We could make pfstats aware of whether or not the server has the VIP at this very moment which would allow to workaround the issue and would make much more sense IMO since management doesn't mean 1st node, it means the current management

[2019-07-15 17:42] fdurand commented on #3499
I am not able to replicate it.
Can you give the result of : systemctl get-default

[2019-07-16 08:40] nqb opened #4666 "[webadmin] timeout in first LDAP source causes unexpected behavior"
During authentication in the new web admin against several LDAP sources, if the first LDAP source timeouts, authentication failed even if next LDAP sources matched.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure two LDAP sources with administration rules:
   1. A LDAP source which takes too much time to answer
   1. A normal LDAP source
2. Try to authenticate on web admin
3. See e

[2019-07-16 11:51] julsemaan commented on #4666
The best solution IMO would be to ensure the LDAP sources stay healthy or have an aggressive connection timeout if its common that the LDAP sources fail in that specific deployment

We could also try to see if we could adjust the timeout to something higher than 5 seconds (which seem to be the case in the logs you provided)

[2019-07-16 12:59] fdurand commented on #492
Can you test with that:
https://github.com/inverse-inc/packetfence/issues/4635

[2019-07-16 13:09] julsemaan opened #4668 "Newly created role isn't available in auth sources after creation"
**Describe the bug**
After you create a role in the new admin, it isn't available in the authentication sources unless you refresh the page

Same applies for the connection profile "Node role" filter unless you refresh the page

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new role named 'zammitsDevices' in #/configuration/roles
2. Navigate to #/configuration/sources
3. Create a n

[2019-07-16 13:18] julsemaan commented on #4659
The ip4log was initially made to track leases so a new record gets created even if it doesn't change so that you can track the beginning and the end of a device leases.

The accounting update of the ip4log mimics the reception of a DHCP packet so uses the same logic currently

[2019-07-16 15:02] fdurand opened #4669 "Incorrect encoding in the db."
**Describe the bug**
Let's say you want to create a user João Conceição then in the db it will be encoded like this: JoÃ£o ConceiÃ§Ã£o

**To Reproduce**
Steps to reproduce the behavior:
1. Go to USer create
2. Create user : João Conceição
3. Go back in users tab
4. See the wrong encoding

**Expected behavior**
Should be encoded correctly.

**Desktop (please complete the following information):**

[2019-07-16 15:12] julsemaan opened #4670 "RADIUS clients in radius_nas table that are loaded on start do not expire"
**Describe the bug**
The clients in the radius_nas table that exist on startup do not use the expiration defined in dynamic-clients. This means that if you change the secret of a client that existed before the startup of FreeRADIUS, it will never expire.

[2019-07-16 15:17] #4670 closed

[2019-07-16 15:38] julsemaan opened #4671 "Creating an IP specific client after a range RADIUS client can use the wrong config"
**Describe the bug**
If you create a RADIUS client with a range (192.168.1.0/24), generate a request from the first IP of that range (192.168.1.1), the configuration of the range will be cached for 5 minutes. If you then add another client for the second IP in PF (192.168.1.2) with a different secret and do a RADIUS request for that client, it will hit the cache of 192.168.1.0/24 and not use the s

[2019-07-16 16:02] #4671 closed

[2019-07-16 18:36] julsemaan opened #4672 "Cannot set dynamic unreg date in authentication source"
**Describe the bug**
Its impossible to set an action of "Unregistration date" with value "0-08-01" which would have the unreg date be August 1st of the current year. This works fine in the old admin

**To Reproduce**
1. Create an authentication source
2. Add an authentication rule with "Unregistration date" "0-08-01"
3. Attempt to save and you're not allowed

**Expected behavior**
Having 0 as the

[2019-07-16 19:02] #4668 closed

[2019-07-17 13:49] #4096 closed

[2019-07-17 15:13] SpokeIng opened #4674 "Openvas Integration add CVSS level or Severity"
Hello
example report data
IP | Hostname | Port | Port Protocol | CVSS | Severity | Solution Type | NVT Name | Summary | Specific Result | NVT OID | CVEs | Task ID | Task Name | Timestamp | Result ID | Impact | Solution | Affected Software/OS | Vulnerability Insight | Vulnerability Detection Method | Product Detection Result | BIDs | CERTs | Other References
-- | -- | -- | -- | -- | -- | -- | -- |

[2019-07-17 16:18] satkunas commented on #4672
There's currently an open issue with the flatpickr component used for the date/time input.

https://github.com/flatpickr/flatpickr/issues/1878

[2019-07-17 17:38] #4664 closed

[2019-07-19 08:24] nqb opened #4675 "webadmin (reports): unable to browse additional pages"
When you go in Reports menu and try to display, for example, `Standard Report / Node / Active`, you will be able to display only the first page of your report. If you click on other pages, nothing happens.

**To Reproduce**
1. Go to Standard Report / Node / Active
2. Click on '2' to display second page of report

**Expected behavior**
Web admin should display second page of report.

[2019-07-19 13:29] julsemaan commented on #3319
#3257 was reverted

[2019-07-19 13:29] #3319 closed

[2019-07-19 13:33] julsemaan commented on #4358
@satkunas, can we aim to make this a thing for 9.1 ?
This is a regression from pre-9.0

[2019-07-19 13:33] julsemaan commented on #4357
@satkunas, can we aim to make this a thing for 9.1 ?
This is a regression from pre-9.0

[2019-07-19 13:33] julsemaan commented on #4308
Code was made and is in devel

[2019-07-19 13:33] #4308 closed

[2019-07-19 13:55] julsemaan commented on #1138
Columns are now configurable in the new admin

[2019-07-19 13:55] #1138 closed

[2019-07-19 13:57] julsemaan opened #4677 "Allow to configure expiration of the API frontend token"
Currently, token expires after 15 minutes of inactivity which is more secure but also much different than what people were used to.

We should still have the more secure setting in place but also allow to override it in the configuration

[2019-07-19 13:58] #2932 closed

[2019-07-19 16:06] cgx commented on #4677
Could also be useful to be able to change the *max expiration*, currently hardcoded to [12 hours](https://github.com/inverse-inc/packetfence/blob/devel/go/caddy/api-aaa/api-aaa.go#L76).

[2019-07-19 16:47] #2096 closed

[2019-07-19 17:01] #4666 closed

[2019-07-19 17:03] julsemaan commented on #4666
I've adjusted the default timeout to 10 seconds which will tolerate a failure of one LDAP server configured with the default PF setting (1 second)

IMO trying for more than 10 seconds doesn't make sense and the timeouts of the sources should be optimized so it doesn't go over that

[2019-07-19 17:03] #4661 closed

[2019-07-19 17:06] julsemaan commented on #4651
I was able to confirm the bug in the latest devel

Its in the frontend that the swap occurs before we save so it looks like a frontend glitch when selecting the option in the select

[2019-07-19 17:32] julsemaan commented on #4617
fixed in maintenance

[2019-07-19 17:32] #4617 closed

[2019-07-19 17:34] julsemaan commented on #4599
no more love for the old admin

[2019-07-19 17:34] #4599 closed

[2019-07-22 07:56] nqb opened #4680 "web admin: display a switches doesn't contain all roles"
In a setup with more than 20 roles (user defined) when you go in `Policies and Access Control -> Switches`, select a switch and go in tab `Roles`, only first 25 roles are displayed (user defined + defaults).

New web admin calls `api/v1/roles` only once even if response contains a `nextCursor` information.

**To Reproduce**
1. Use [roles.txt](https://github.com/inverse-inc/packetfence/files/341623

[2019-07-22 11:55] caralo commented on #4639
I am getting the same error with a Packetfence 8.1 cluster and Fingerbank 4.1 in debian jessie 8.11 with latest patches installed (debian and pf-maint.pl).  I am not using any kind of proxy either.

[2019-07-22 13:33] julsemaan commented on #4639
This seems to be because libio-socket-ssl-perl on Debian 8 is using an outdated cipher list.

As the Fingerbank Cloud API platform uses https://github.com/caddyserver/caddy and they use very secure default settings, this is causing the issue since we've updated the Cloud platform to the latest version of Caddy.

This is Debian 8 specific, the other distros we support (Debian 9 and CentOS 7) work f

[2019-07-22 13:45] julsemaan commented on #4639
@fdurand has packaged an updated version of the package and I tested on my lab machine and its working fine.

The new package will be available in our repo in about 24 hours, you will then be able to perform the following command to update it:
apt-get update && apt-get install libio-socket-ssl-perl

Then restart PacketFence and you should be good.

The new package version is 2.044-1 (libio-socket-

[2019-07-22 19:04] smorhun opened #4682 "Password of the day generates same password each time"
**Describe the bug**
The "password of the day" is configured for password rotation of 24 hrs. Each day the email is sent with a generated password but it always the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure "Password of the Day" authentication source to rotate the password often.
2. Receive an email with a generated password

**Expected behavior**
Each time the password

[2019-07-22 19:36] smorhun opened #4683 ""Update Fingerbank DB" option is missing in New Admin UI"
**Describe the bug**
In OLD Admin UI every Fingerbank configuration page includes "Update Fingerbank DB" under "Actions" dropdown.
That option is not available anywhere in New Admin UI

**To Reproduce**
Steps to reproduce the behavior:
in Old Admin UI
1. Go to 'Configuration' -> 'Compliance' -> 'General settings'
2. Click on 'ACTION' dropdown
3. Select  'Update Fingerbank DB'

in New Admin UI
1. G

[2019-07-23 09:22] caralo commented on #4639
Just installed new libio-socket-ssl-perl. Error is gone. Fingerbank working again. Good job!

[2019-07-23 12:06] lzammit opened #4684 "Mac Importation not working"
I have tested on PacketFence 8.3 (Old admin )and Packetfence 9 (New + old admin)

CSV file:

[code]

PacketFence 8.3 (old admin):
[code]

Looks like we need to set an unregdate, we never put any unregdate before and it worked.

PacketFence 9.0.1 (old admin):

[code]

PacketFence 9.0.1 (new admin):

![image](https://user-images.githubusercontent.com/5261214/61710564-e5a68e00-ad1f-11e9-8c1f-b86777a6

[2019-07-23 12:56] #4639 closed

[2019-07-23 15:24] #4677 closed

[2019-07-24 13:26] gmcmpe opened #4685 "Services"
**Describe the bug**
fingerbank-collector get pid=0 while its status seems disabled
haproxy-portal get pid=0 and its status seems stopped

**To Reproduce**
Steps to reproduce the behavior:
1-Set up packetfence via yum install -y https://packetfence.org/downloads/PacketFence/RHEL7/x86_64/RPMS/packetfencerelease-
1.2-7.el7.noarch.rpm
yum install --enablerepo=packetfence packetfence
2-Change Interfac

[2019-07-24 13:38] nqb commented on #4685
Hello,

In order to be able to reproduce, please provide us a [Minimal, Complete, and Verifiable example (MCVE)](https://stackoverflow.com/help/mcve)

[2019-07-25 11:54] julsemaan opened #4687 "Node import: Missing "Import all" option"
**Describe the bug**
There is no way to import all the nodes of a file through a simple button like there was before

**To Reproduce**
1. Try to import nodes with a large file (~1000 nodes)

**Expected behavior**
There should be an option to import all the nodes at once

[2019-07-25 12:11] julsemaan opened #4688 "MAC addresses aren't cleaned during node import"
**Describe the bug**
The MAC addresses aren't cleaned in the node import which results in a PATCH on the uncleaned MAC (which fails), then a POST using the uncleaned MAC which can succeed but will fail if the MAC already exists.

**To Reproduce**
1. Go to node import
2. Import a file with uncleaned MACs (like 001122334455)

**Expected behavior**
The MAC addresses should be cleaned by the frontend

[2019-07-25 12:22] julsemaan opened #4689 "Importing many nodes with errors spams with notifications"
**Describe the bug**
Importing a lot of nodes that are unimportable (for whatever reason) will create a notification for every row that fails which spams the user

**To Reproduce**
1. Go to node import
2. Import 100 rows that will fail validation

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/61873828-df95e600-aeb4-11e9-8446-9de4d55643be.png)

**Expected behavior**
A s

[2019-07-25 15:22] julsemaan opened #4690 "maintenance/9.0: Bug when navigating next page in nodes"
**Describe the bug**
When navigating the next page on the nodes, you are brought back to the first page every time the amount of pages goes higher than the one that is already there (so when it expands from 2 to 3 pages, 3 to 4, etc)

**To Reproduce**
1. Go in the nodes
2. Click on page 2
3. You're back to page 1
4. Click on page 2, it works
5. Click on page 3
6. You're back on page 1
7. Rince and

[2019-07-25 15:22] julsemaan commented on #4690
This doesn't affect the latest devel but does affect the latest maintenance/9.0

[2019-07-29 11:46] julsemaan opened #4691 "Disabling "Network Detection" doesn't disable it"
**Describe the bug**
When you disable captive_portal.network_detection, it actually doesn't disable it and it continues to happen

**To Reproduce**
1. Disable network detection
2. Attempt registration
3. Still get the attempt to detect the network

**Expected behavior**
The timerbar should run for the specified duration in the config and then assume it worked and redirect the user to its destinati

[2019-07-29 13:15] soilsk opened #4692 "Problem with deploy ZER (9.0.1) with ESXi 6.7"
Hi. When i deploy ZEN version of PF (v 9.0.1) in ESXi 6.7 (via web client) i get message: The provided manifest file is invalid: Invalid OVF manifest entry: .

SOLUTION for somebody with similiar problem:
1. with OVFTool convert OVA to OVF
2. edit OVF with these steps: https://www.techcrumble.net/2018/04/vcenter-server-6-5-ovf-deployment-error-value_illegal-value-3-of-parent-element-does-not-refer

[2019-07-29 13:17] julsemaan commented on #4656
Please adjust the description using our issue template:
[code]

And please provide a way (as simple as possible) to replicate the issue on our side

[2019-07-29 13:19] julsemaan commented on #4692
I will check to adjust our OVF template and get this in our next ZEN release

[2019-07-29 13:28] julsemaan opened #4693 "No way to delete local combination in new GUI"
**Describe the bug**
There is no way to delete a local combination in the new GUI, only clone is available

**To Reproduce**
1. Create a local combination
2. Try to delete it

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/62052290-32d4a500-b1e3-11e9-904e-ee92cc5a37b0.png)

**Expected behavior**
Should be able to delete a local combination

[2019-07-29 13:28] julsemaan commented on #4693
This is on 9.0.1 with latest patches

[2019-07-29 13:34] julsemaan opened #4694 "Enabling "register" action in the new security events GUI doesn't enable it"
**Describe the bug**
If you enable the "Register" action in a security event, it doesn't add it to the list of actions.

**To Reproduce**
1. Create a new security event with action "Register"
2. View the security event and the action isn't enabled anymore
3. View the conf file and the action isn't there (action list is empty)

**Expected behavior**
Enabling this should enable the action in the lis

[2019-07-29 13:34] julsemaan commented on #4694
This is 9.0.1 with latest patches

[2019-07-29 14:29] satkunas commented on #4694
Fixed with https://github.com/inverse-inc/packetfence/commit/7ee12de4bc302665550467dbf9a2fd9ae81f4b15

[2019-07-29 15:22] julsemaan commented on #4694
Works!

[2019-07-29 15:22] #4694 closed

[2019-07-29 15:24] satkunas commented on #4693
Due to scope not being `local`.

@julsemaan recommends that we deprecate scope and statically use `local` in combinations and user agents.

[2019-07-29 15:25] #4693 closed

[2019-07-29 16:47] satkunas commented on #4690
Unable to reproduce on latest `maintenance/9.0`

[2019-07-29 16:53] julsemaan commented on #4690
Seems to be browser specific where the issue is only with Firefox

[2019-07-30 07:03] #4685 closed

[2019-07-30 09:56] nqb opened #4695 "Unifi: sending access duration to controller"
Currently, when we send an "authorize" command to a Unifi controller for a node, we don't include access duration. Consequently, Unifi controller will use its default access duration (called "Expiration" in web interface) with a value of 480 minutes (8 hours).

This mean that if you set an access duration of 12 hours on PacketFence, your device will be disconnected after 8 hours.

https://github.c

[2019-07-30 11:53] julsemaan opened #4696 "Node timeline: Detected bar is cut in half"
**Describe the bug**
When viewing the timeline for a node, the Detected bar was cut in half which strips the word "Detected"

**To Reproduce**
1. View a node timeline

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/62126990-fbc3c980-b29e-11e9-8c70-ba094cb965b3.png)

**Expected behavior**
The bar containing "Detected" should not be stripped. Stripping is reserved for @lz

[2019-07-30 13:26] julsemaan commented on #4665
@satkunas

Can you look at this, it makes some LDAP/AD source uneditable if they contain the custom LDAP attributes defined in pf.conf

[2019-07-30 14:06] julsemaan opened #4697 "Editing switches, users, auth sources, conn. profiles is extremely slow in new admin"
**Describe the bug**
When configuring a switch, typing in the text fields is extremely slow

**To Reproduce**
1. Create a new switch
2. Type in the description field
3. Go grab a coffee
4. Your description has been populated successfully

**Expected behavior**
Better responsiveness of the text fields

[2019-07-30 14:44] jrouzierinverse commented on #4665
The Additional LDAP attribute are in the OPTIONS in the condition this seems to be a GUI issue.

[2019-07-30 19:07] #4689 closed

[2019-07-30 19:16] julsemaan opened #4699 "Creating a new switch shows wrong 'Role by VLAN ID' value"
**Describe the bug**
When creating a new switch on a brand new PF install 'Role by VLAN ID' shows as disabled when creating the switch but its actually enabled (through the inheritance of the default value). After saving if you refresh the switch you actually see the right value (enabled)

**To Reproduce**
1. Create a new switch with default values (I had to set IP and description)
2. Before savin

[2019-07-30 19:33] julsemaan opened #4700 "Add note/button to restart service(s) after editing a cert"
**Describe the bug**
When we update an HTTP or RADIUS cert there is no note to restart the appropriate services

**Expected behavior**
Should have a note on restarting the services:
- HTTP: httpd.admin + haproxy-portal
- RADIUS: radiusd

[2019-07-30 20:25] satkunas commented on #4687
Dynamic page size added in https://github.com/inverse-inc/packetfence/commit/4077173b2e3e9a07992292e1f26e72b82ea75d98

[2019-07-31 12:01] julsemaan commented on #4692
I've adjusted the OVF template in our nightly ZEN. Could you try installing it from here:
https://sourceforge.net/projects/packetfence/files/PacketFence%20ZEN/nightly/PacketFence-ZEN-nightly.zip/download

I tested it on ESXi 6.0.0 and it worked fine as before

SIDE NOTE: It grew in size for a reason I'm still investigating but should work fine

If you confirm this works then I can include the fix

[2019-07-31 12:11] julsemaan opened #4702 "Unit test failure in latest builds"
[code]

[2019-07-31 13:26] julsemaan commented on #4687
Tried to import more than 1000 users (3800) and it made the page use 3GB of memory and eventually get killed. Didn't even get the chance to import the nodes, it crashed while I was selecting them

We'll definitely need an option to import the whole file that is more lightweight

[2019-07-31 13:30] julsemaan commented on #4687
Tried with 1000 and it got through some of it but eventually froze the whole page so it seems like although we can import more at the same time, you'd need to run your browser on this to get through it: https://www.itinstock.com/dell-poweredge-r810-4-x-8-core-xeon-l7555-512gb-ram---32-cores-in-2u-rack-server-34516-p.asp

[2019-07-31 15:17] #4665 closed

[2019-07-31 15:43] julsemaan opened #4703 "Error when viewing user in new admin"
**Describe the bug**
Tried to view a user with a fancy name on a PF deployment and got an error with the user not being found

**To Reproduce**
1. Have a user named `$weed$#@gmail.com`
2. Try to view him
3. Get a not found error when the details open

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/62226519-54bb5c80-b388-11e9-8ca6-4331ef0104e0.png)

**Expected behavior**

[2019-07-31 15:53] julsemaan commented on #4672
Can we get a workaround in place, seems the issue @satkunas opened on the @flatpickr repo didn't get any attention

[2019-07-31 16:44] satkunas commented on #4699
Meta options `default` value is `null`. Changing this to `'Y'` in the payload will fix this problem. Reassigning.

`/usr/local/pf/sbin/pfperl-api get -M OPTIONS /api/v1/config/switches | jq '.meta.VlanMap.default'`

[2019-07-31 17:33] satkunas commented on #4688
Should be fixed with https://github.com/inverse-inc/packetfence/commit/57b51dc75549816609deb93de601de4c796058ca

[2019-07-31 17:40] satkunas commented on #4680
Limit increased to 1000 with https://github.com/inverse-inc/packetfence/commit/9148ce399a622195e555c5f0018eb58f977f9085

[2019-07-31 17:42] satkunas commented on #4680
@nqb please test and close this issue if all OK.

[2019-07-31 17:44] satkunas commented on #4684
@lzammit the first line is assumed to be a header (default).

To include the first line go to CSV Parser Options and disable Header.

[2019-07-31 19:13] jrouzierinverse commented on #4699
The inherited value is in placeholder not the default.

[2019-07-31 19:58] #4603 closed

[2019-07-31 20:05] jrouzierinverse commented on #4702
Fixed by c7eae23cbe88e15d1a87b3ee3be807d49c87e028

[2019-07-31 20:05] #4702 closed

[2019-07-31 20:08] satkunas commented on #4699
Fixed with https://github.com/inverse-inc/packetfence/commit/a1531719e7c4da3893def35ab0efae81a07402c0

[2019-07-31 20:09] #4699 closed

[2019-07-31 20:23] satkunas commented on #4672
I bumped the issue. I'll wait patiently for another 24 hours.

It looks like my issue w/ tail.datetime was addressed in their latest release. I'll attempt to revert back to this if flatpickr isn't resolved ASAP.

https://github.com/pytesNET/tail.DateTime/issues/35

[2019-08-01 09:28] nqb commented on #3430
This issue seems to be still presents in 9.0.1 but we lost logs maybe due to new API call.

[2019-08-01 11:54] nqb commented on #4680
On my side it works after `pf-maint`. Waiting feedback from a customer.

[2019-08-01 12:22] nqb commented on #4680
Work as expected, thanks @satkunas

[2019-08-01 12:22] #4680 closed

[2019-08-01 14:35] #4651 closed

[2019-08-01 15:53] julsemaan commented on #4688
Works fine on the latest maintenance

[2019-08-01 15:56] #4688 closed

[2019-08-01 18:38] satkunas commented on #4672
Moving milestone for future reevaluation.

[2019-08-02 06:40] soilsk commented on #4692
I think ESX 6.0 - 6.5 is fine with, but we use ESXi 6.7 and there is "something" different :)
Btw A few minutes ago i have download nightly ZEN from your link and the same error: The provided manifest file is invalid: Invalid OVF manifest entry: .

[2019-08-02 09:33] nqb commented on #4684
@julsemaan, we could also put in maintenance/8.3 ?

[2019-08-02 13:54] julsemaan commented on #4692
I've adjusted the OVF file to match the procedure you provided in the description

Could you validate that the OVF now matches the one you had that was valid after modifying it?

[2019-08-02 13:58] julsemaan commented on #4672
@satkunas
Can c811f36 be applied in maintenance/9.0+

[2019-08-02 14:02] julsemaan commented on #4684
I've put the old admin fix in maintenance/8.3

[2019-08-02 14:03] julsemaan commented on #4684
and the other 8.x maintenances

[2019-08-02 15:12] satkunas opened #4705 "Admin - Login modal retains previous password"
**Describe the bug**
When the session expires on the the web admin it produces a login modal on top of the current page instead of redirecting the user to a separate login screen. When the session expires a 2nd time the password from the previous login is retained and not cleared, thus only requiring a button-press to re-login.

**Expected behavior**
The password field should be cleared as soon as

[2019-08-03 21:54] soilsk commented on #4692
In nightly version ? Because i tested and still the same message ...

[2019-08-04 23:13] tingvold opened #4706 ""Cannot unmarshal string" when doing LDAP authentication"
**Describe the bug**
Trying to authenticate via LDAP yields an error;

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add LDAP server
2. Try to authenticate
3. Login fails, with error logged.

**Expected behavior**
Login should work.

**Desktop (please complete the following information):**
 - OS: Mac OS 10.14.5
 - Browser: Chrome, Firefox, Safari
 - Version: Chrome 75.0.3770.142 (Of

[2019-08-05 14:11] fdurand opened #4707 "pftest authentication should return the rule who matched"
It should be helpful if pftest  can return the rule that match when we test authentication.

[2019-08-05 18:52] mendoza-conicet opened #4708 "radius authorize failed post upgrade 8.3 to 9.0.1"
**radius authorize aparently broken after upgrade**

i upgrade from 8.3 to 9.0.1 following the upgrade instructions and reboot
[code]

[2019-08-06 17:38] jrouzierinverse commented on #4706
Is this on centos or debian?

[2019-08-06 19:24] jrouzierinverse opened #4710 "URLs are not being properly encoded in the frontend."
URLs are not being properly encoded in the frontend.

[2019-08-06 19:24] jrouzierinverse commented on #4703
Related to #4710

[2019-08-07 13:56] #4706 closed

[2019-08-07 14:14] joachimtingvold commented on #4706
This is on ZEN, so CentOS.

[2019-08-07 14:32] jrouzierinverse commented on #4706
You can get this fix and all the other latest fixes by running pf-maint.pl
[code]
Or you can manually apply the patch by doing the following.
[code]

[2019-08-07 14:54] #4708 closed

[2019-08-07 15:05] jrouzierinverse commented on #4708
You can get this fix and all the other latest fixes by running pf-maint.pl

[code]
Or you can manually apply the patch by doing the following.
[code]

[2019-08-07 16:39] jrouzierinverse opened #4711 "pf-maint and asset handling"
To avoid having to run pf-maint.pl multiple times when there are new assets.

We should have a single asset that is downloaded and applied.

Idea

https://inverse.ca/downloads/PacketFence/CentOS7/binaries/maintenance/9.0/latest.tgz
https://inverse.ca/downloads/PacketFence/CentOS7/binaries/maintenance/9.0/latest.tgz.sig

When there are new assets we just add them to the latest.tgz instead of having

[2019-08-08 01:25] rossmeng opened #4713 ""Export to CSV" not work for node and user"
**Describe the bug**
use latest version and new interface, go to node page or user page, search for some exist, then I want to export data to CSV, the download file only have title information, no any node/user data in CSV file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to node page, search for some exist node then select
2. Click on "Export to CSV"
3. check the download file node.c

[2019-08-08 18:04] #4713 closed

[2019-08-08 19:36] cgx commented on #4705
Are you sure this is not the result of your browser's password manager?

[2019-08-08 19:58] cgx commented on #4700
Looks like this was [fixed](b6b3088e3c834972543182bfcee0deb8b99bf76b).

[2019-08-08 19:58] #4700 closed

[2019-08-08 21:18] enkidushane commented on #4692
Here's a diff of the changes I made to the box.ovf from today's nightly and it imports successfully into vcenter 6.7.  I didn't test to see if some subset of these changes were sufficient.
[code]

Note that this still doesn't boot (I think because the initrd doesn't support SCSI Controllers).  I got it to work by following steps 5 & 6 and then 10 and later from https://github.com/inverse-inc/packe

[2019-08-09 12:42] soilsk commented on #4692
Ok. Thanks.

[2019-08-09 19:38] #4231 closed

[2019-08-12 13:33] tingvold opened #4718 "Auto-register overwrites note for nodes"
**Describe the bug**
If you register a node manually (by entering MAC-address and assigning role) via the web-GUI, and set a note in the `Notes` field, that will be overwritten next time that node connects via MAB when having auto-register enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Register node manually. Add note.
2. Connect the node, authenticated via MAB.
3. `Notes` field no

[2019-08-12 19:37] lzammit opened #4719 "PF9 Web admin: Let you save an AD source without a IP address into the hostname field"
title says it all :)

[2019-08-12 19:45] #4703 closed

[2019-08-12 19:45] #4710 closed

[2019-08-13 12:07] joachimtingvold commented on #4718
This also seems to be the case with the `role` field sometimes (i.e. set the role upon first registration, and when the device connects, the `role` field gets set to `No Role`). Have to do some more testing to confirm that.

[2019-08-13 13:05] hugleo opened #4720 "Gender button in captive portal is broken"
Gender button is not rendering properly as you can see in the attached image. Can't select gender male or female.

Packetfence 9.0.1 (Centos 7)

The problem is in the captive portal opening in any device that I have tested (android phone, desktop OSes)

![gender](https://user-images.githubusercontent.com/4573505/62943809-afee4580-bdb1-11e9-98a8-9b7c1640e986.png)