[2020-06-22 12:35] nqb commented on #5618
@lzammit, that's not the right way to fix that issue from my point of view.

[2020-06-22 12:58] #5556 closed

[2020-06-22 12:58] #5621 closed

[2020-06-22 19:11] julsemaan commented on #5622
The user will always be created under the current tenant

[2020-06-22 19:11] #5622 closed

[2020-06-22 19:59] #5620 closed

[2020-06-22 20:22] fdurand opened #5624 "Radius filter doesn't support multiple same attribut."
**Describe the bug**

Use this radius filter:
[code]
Authenticate then check the radius reply:

[code]

We should have

"Egress-VLANID = 320002" too

[2020-06-23 06:06] olmanolsztyn opened #5625 "One admin in multiple tenants."
Sometimes you may need to assign one administrator with access-level to several tenants (i.a. domain1.com and domain2.com). This feature will certainly be useful.

[2020-06-23 07:24] olmanolsztyn opened #5626 "Web admin: users device list only 25 devices"
**Describe the bug**
Users device list shows only 25 devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Users' > `Username` > `Devices`

**Screenshots**
![users_device_list](https://user-images.githubusercontent.com/22956491/85373215-3b3c7980-b533-11ea-8cab-d510499a4c16.png)

**Expected behavior**
All user devices should be listed.

[2020-06-23 07:37] danpoltawski opened #5627 "Implement IETF CAPPORT (draft-ietf-capport-rfc7710bis-07)"
**Is your feature request related to a problem? Please describe.**
Captive portal detection is somewhat fragile with interception and particularly with the increased prevalence of TLS across the internet.  it would be good to adopt the [IETF Capport](https://tools.ietf.org/html/draft-ietf-capport-architecture) architecture.

**Describe the solution you'd like**

Apple have [announced their intenti

[2020-06-23 08:08] olmanolsztyn opened #5628 "Multitenancy: FATAL - person user id "admin" must exist - please reinitialize your database"
**Describe the bug**
When i moved default `admin` user to global tenant (id 0) then couldnt restart packetfence services

**To Reproduce**
Steps to reproduce the behavior:
1. Move default admin user into global tenant
2. restart packetfence services
3. See error `FATAL - person user id "admin" must exist - please reinitialize your database`

**Expected behavior**
Default admin user should be in gl

[2020-06-23 09:05] olmanolsztyn opened #5629 "Web admin: Missing condition and is not valid value in radius auth source"
**Describe the bug**
After using `to-10.1-authentication-prefix.pl` update script value radius_request causes empty condition value in radius authentication source and trigger value is not valid when save.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration' > `Policies and Access Control` > `Authentication Sources` > `Internal Sources`
2. Click on radius server
4. See there

[2020-06-23 11:29] julsemaan commented on #5628
don't move it, create a new admin user or use the webservices credentials

[2020-06-23 11:29] #5628 closed

[2020-06-23 11:30] julsemaan commented on #5626
@satkunas, should we add pagination to this section or just make it very large ?

Note that for the `default` user this may reach thousands of devices

[2020-06-23 11:34] julsemaan commented on #5629
@fdurand, can you take a look into this ?

[2020-06-23 13:09] nqb commented on #5490
I can confirm that using the PacketFence::Standard switch template module will not work when you use CLI login.

Another different behavior between Generic module and PacketFence::Standard switch template module is that the first will always use SNMP to deauthenticate when the second will try to use RADIUS Disconnect.

[2020-06-23 15:59] julsemaan opened #5630 "Actions aren't set when importing users"
**Describe the bug**
When you import users, the actions aren't set correctly

**To Reproduce**
1. Go in the users import page
2. Attempt to import the following file: https://pastebin.com/etyg5GH4 using the following config:
![image](https://user-images.githubusercontent.com/3857942/85426697-cffda200-b548-11ea-9b89-b7667604a74e.png)
3. After importing the users, check them in the DB:
[code]
4. You

[2020-06-23 15:59] julsemaan commented on #5630
This affects 10.0, 10.1 and devel

[2020-06-23 17:00] olmanolsztyn opened #5631 "Web Admin: audit log and nodes are not tenant aware."
**Describe the bug**
In a situation where the user is created in a tenant other than 'default', then after correct logging in and registration of the device there are no entries in the audit log (in this tenant) and the registered device appears in 'default' tenant registered for the user 'default' without assigning a role and access duration etc.
The same user in 'default' tenant registers device

[2020-06-23 17:13] #5609 closed

[2020-06-23 17:58] #5624 closed

[2020-06-23 19:26] satkunas commented on #5630
The payload on import appears to be good.
[code]
However the susequent GET returns a different response:

[code]

@jrouzierinverse can you have a look?

[2020-06-24 05:44] #5476 closed

[2020-06-24 07:14] nqb opened #5632 "web admin: impossible to use Switch port filter"
**Describe the bug**
When you want to make a filter on Switch Port value in a connection profile, you should use `<SwitchId>-<Port>` like we have in [unit tests](https://github.com/inverse-inc/packetfence/blob/8202a8ed2f87fc398a0ddf6eb15a3998f2500666/t/data/profiles.conf#L20-L21) but this syntax is not allowed by frontend. If you use an integer like frontend suggests you, backend will report an er

[2020-06-24 07:23] lyubomirtraykov opened #5633 "Restart Switchport with COA"
Restart Switchport configuration can be added to Switch Templates to set the COA attributes. This way we don't need SNMP for the Switches that support port bounce with COA.

[2020-06-24 07:44] nqb opened #5634 "web admin: Advanced filter (advanced mode) on a connection profile doesn't work as expected"
**Describe the bug**
On a connection profile, when you define an Advanced filter using Advanced mode (for advanced users in an advance configuration), your filter is not saved in `profiles.conf`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a connection profile called `test2`
2. Switch to Advanced mode to define an Advanced filter
3. Copy following content in field: `last_connectio

[2020-06-24 08:55] nqb opened #5635 "pf-maint is unusable on Debian starting from v10.1.0"
**Describe the bug**
When you run `pf-maint.pl` on Debian running v10.1.0, you got following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install PF v10.1.0 on Debian 9
2. Run `/usr/local/pf/addons/pf-maint.pl -t`

**Expected behavior**
`pf-maint.pl` should work as expected.

**Additional context**
If I run [pf-maint.pl](https://github.com/inverse-inc/packetfence/blob/d0aef

[2020-06-24 09:33] ZdenekPala opened #5636 "Missing quotes in the web documentation"
Open the web page: [Install Guide](https://packetfence.org/doc/PacketFence_Installation_Guide.html#_connection_profiles)
scroll down and find the following text:

Examples (Match machine authentication on secure wireless ssid)
machine_account != "" && connection_type == Wireless-802.11-EAP

This example does not work. The value should be in quotes:
machine_account != "" && connection_type == **"Wi

[2020-06-24 09:39] ZdenekPala commented on #5636
![image](https://user-images.githubusercontent.com/16311452/85531812-63010f80-b60f-11ea-87d3-bfb10da9fcdd.png)

[2020-06-24 10:36] olmanolsztyn opened #5637 "Rules from authentication sources are not used after last patch"
**Describe the bug**
After last pf-maint patching (today) devices are autoregistering from connection profile but rules from sources are not used.
**Screenshots**
![role_assign1](https://user-images.githubusercontent.com/22956491/85541071-f63e4300-b617-11ea-868c-7399c5a67ddf.png)
![role_assign2](https://user-images.githubusercontent.com/22956491/85541078-f8a09d00-b617-11ea-8bff-40fa216203ed.png)

[2020-06-24 11:25] olmanolsztyn commented on #5629
The same problem exists in `Exclusive Sources` > `Eduroam`

[2020-06-24 11:44] nqb commented on #5637
Hello @olmanolsztyn,

1. Which patch was applied on your setup today (you should be able to see in `/usr/local/pf/.patches`) ?
2. Could you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) in order to replicate the issue ?

[2020-06-24 11:46] nqb commented on #5629
Reopening issue because I assume @olmanolsztyn as applied maintenance patches provided by @fdurand

[2020-06-24 11:47] olmanolsztyn commented on #5637
1. `-rw-r--r--   1 root root  9458 Jun 24 09:54 ae52317961cf3f38aa0fc9f78b8d0594e9051eae-6c91a04915c95ea5bbff254fe3e42595a8b13cc9.diff
`
2. I just patched `/usr/local/pf/addons/pf-maint.pl` then `/usr/local/pf/bin/pfcmd configreload hard` and finally `/usr/local/pf/bin/pfcmd service pf restart`. Before patch worked fine.

How can i rollback one patch back? I could check if problem still exist afte

[2020-06-24 11:53] nqb commented on #5633
Hello,

From what I see, it seems possible to return specific RADIUS attributes in CoA (vendor-specific) to bounce port. I didn't see anything standard in [RFC 5176](https://tools.ietf.org/html/rfc5176)

[2020-06-24 12:12] nqb commented on #5637
1. Could you paste .diff file somewhere ?
2. I mean a MCVE to replicate this issue.

[2020-06-24 12:39] olmanolsztyn commented on #5637
1. https://213.184.0.143/own/index.php/s/GSnH0qg1SQIFfCi
2. Example that you could check with local user:
- Create role `worker `
- Create realm `domain.com` with `realm options` `ignore_null = yes
nostrip`
- Create user `test@domain.com` with role `worker` and `access duration` 1 day in default tenant
- Create Exclusive authentication eduroam source with local realm `domain.com`
- Create Portal `

[2020-06-24 13:02] nqb commented on #5636
On which PF version did you noticed that bug ? I would like to reproduce.

[2020-06-24 16:55] ZdenekPala commented on #5636
Hi Nicolas.

It is not related to any PF version. The bug is in the documentation = on the packetfence web site!.

[2020-06-24 16:56] ZdenekPala commented on #5636
I believe the second example is also wrong as the word Secure should be also in quotes. it is also a value.

[2020-06-24 18:27] garci66 opened #5638 "Add support for RFC-7710bis - captive portal detection through DHCP"
**Is your feature request related to a problem? Please describe.**
Trying to find a way to improve captive portal detection, as it seems to be hit-or-miss. As of two days ago, Apple has announced support ([https://developer.apple.com/news/?id=q78sq5rv](https://developer.apple.com/news/?id=q78sq5rv)) for https://tools.ietf.org/html/draft-ietf-capport-rfc7710bis-08.

This allows networks to advertis

[2020-06-24 19:44] garci66 commented on #5638
Additionally, supporting the captive portal API endpoint specified in the related RFC https://tools.ietf.org/html/draft-ietf-capport-api-08 could be supported. Or, at a minimum, with a static content in the "registration"  network with the "user-portal-url" pointing to the login url for the portal. This content should be served using `application/captive+json` as the content-type but it _seems_ th

[2020-06-25 05:46] nqb commented on #5636
Not sure. My coworkers will confirm but quotes are certainly needed because pattern contains special characters.

[2020-06-25 05:47] nqb commented on #5627
Hello @danpoltawski, I will close this issue in favor of #5638 (duplicate but with more information).

[2020-06-25 05:48] nqb commented on #5638
Hello,

Thanks for this detailed request.

We received same request on #5627 but with more details. I closed it in favor of this one.

[2020-06-25 09:57] lyubomirtraykov opened #5639 "Can't change the name of the Filter when cloning"
When you try to clone a filter in Filter Engines you can't change the name of the filter before coning.

[2020-06-25 10:52] jrouzierinverse commented on #5636
Quotes are not needed for values if they contain a-z, A-Z, 0-9, '-', '_', '.', or ':'

[2020-06-25 11:06] ZdenekPala commented on #5636
ok, so maybe this was fixed in the latest release. This is my experience with A3 version 3.1.2:
![image](https://user-images.githubusercontent.com/16311452/85708613-a5e0e700-b6e4-11ea-89e3-b5195cc4cd30.png)

[2020-06-25 11:08] ZdenekPala commented on #5636
If the example in the documentation works in the latest version of the product then I am ok to close this ticket.
Thank you.

[2020-06-25 11:14] jrouzierinverse commented on #5632
The syntax for switch port is ```<SwitchId>-<Port>```
The frontend validation should just validate if the value is in that form.

[2020-06-25 11:24] nqb commented on #5636
@ZdenekPala, we currently have an issue on latest version, see #5634

[2020-06-25 11:51] nqb commented on #5636
@ZdenekPala, could you tell us on which PacketFence version A3 3.1.2 is based ?

[2020-06-25 12:30] lyubomirtraykov opened #5640 "EAP-MS-CAPv2 is not working for VPN"
When I try to use Packetfence for IKEv2 VPN radius server I am getting this:
<img width="1188" alt="Screen Shot 2020-06-25 at 15 21 45" src="https://user-images.githubusercontent.com/17347347/85719913-92d81200-b6f8-11ea-92d4-5d841b164d98.png">
<img width="1247" alt="Screen Shot 2020-06-25 at 15 23 38" src="https://user-images.githubusercontent.com/17347347/85720024-b0a57700-b6f8-11ea-8063-7ddfa97b

[2020-06-25 12:31] julsemaan commented on #5640
Please use the mailing list for configuration related questions

[2020-06-25 12:31] #5640 closed

[2020-06-25 12:36] olmanolsztyn commented on #5637
I don't know if this is the problem related log but i got in audit log:
![failed_retrieving](https://user-images.githubusercontent.com/22956491/85721078-5228ca80-b6f1-11ea-8d86-89126ec6b33f.png)

[2020-06-25 12:39] #5629 closed

[2020-06-25 12:44] jrouzierinverse commented on #5636
In older versions of PacketFence we did not support '-' or ':' without quotes so that is most likely the issue here.

[2020-06-25 12:54] julsemaan commented on #5064
I will address this by at least making it explicit in the portal that the user shouldn't leave the page until his access is granted

[2020-06-25 13:14] julsemaan commented on #5064
I added the explicit message in devel, I'll work on creating a feature that registers the device upon activation (that will be in a PR since its a large change)

[2020-06-25 13:28] ZdenekPala commented on #5636
OK it makes sense. I will use quotes in my setup and once we upgrade to the new PF then we are good.

[2020-06-25 13:28] #5636 closed

[2020-06-25 14:30] ZdenekPala commented on #5636
A3 3.1.2. is based on Packet Fence 9.0

[2020-06-25 16:05] payne1982 opened #5643 "Saved searches and Switch Group search in node tab disappeared"
Hello,
Since this morning when I go in Node tab and try to search with switch group, I can't see any switch group when I expand the section "Switch Groups" on the left, only "Default". I got switch group in the configuration and there are switch inside.

Also saved searches is empty, and If i save a search it appears in the saved_searches db table, but doesn't show in the menu.

I realized that ye

[2020-06-25 18:34] fdurand commented on #5638
I have no device that support that yet but i did the code here: https://github.com/inverse-inc/packetfence/compare/feature/rfc-7710

[2020-06-25 20:57] garci66 commented on #5638
Awesom! Thanks a million!!!  I will try to get hold of a device (worse case, virtual) and test. It might not be the same, but should be a good start! (I hadn't noticed the other request, but glad you worked on this so quickly!)

That was very fast!!!

By the way, is the go dhcp server always sending the configured options regardless of whether the dhcp client request them or not?

[2020-06-25 21:28] fdurand commented on #5638
Yes i set it as a default option , only if the secure redirect option is enable and the certificate on the portal is valid.
Also i enable it for any networks (registration/Isolation/Inline) and for the inline case, if the device try to go on /api then the captive value will depend of the status of the device.

[2020-06-25 21:38] garci66 commented on #5638
awesome!!! you guys went "above an beyond".

On Thu, Jun 25, 2020 at 6:28 PM Durand <notifications@github.com> wrote:

[2020-06-26 07:33] lyubomirtraykov commented on #5640
This is not a configuration issue. As you can see the error is:
`mschap: Program returned code (1) and output 'Reading winbind reply failed! (0xc0000001)'`

[2020-06-26 11:33] julsemaan commented on #5630
@jrouzierinverse, can you take a look at @satkunas' findings

[2020-06-26 11:57] fdurand commented on #5640
it's a configuration issue. Use the mailling list.

[2020-06-26 12:15] #5635 closed

[2020-06-26 12:21] olmanolsztyn commented on #5637
Now i see is just radius authenticating but dont use rules from authentication source and devices are not registering.
When i checked authentication using `pftest` then rules are not matching when use `radius_request.username`.
When i change to `username` rules are matching but still are not affected.

[2020-06-26 13:18] olmanolsztyn commented on #5637
I solved issue. Problem was with my realms that i moved to global tenant (id 0) to configure from gui.

[2020-06-26 13:18] #5637 closed

[2020-06-28 17:09] janegilv opened #5644 "GTC freeradius module not loading after upgrade"
GTC freeradius module not loading after upgrading from 10.0 to 10.1.

[2020-06-29 12:37] fdurand commented on #5644
Hello janegilv, thanks for the fix but it looks that you want to merge in your own devel branch, not in the inverse-inc/packetfence one.

[2020-06-29 13:50] janegilv commented on #5644
I thought it was a bit weird that I did not have to agree to the license, and also had the ability to merge the pull-request myself -.-
Trying again

[2020-06-29 14:39] #5644 closed

[2020-06-29 15:17] #5156 closed

[2020-06-29 19:32] ZdenekPala opened #5648 "GUI issue when editing the switch with advance mode disabled"
**Describe the bug**
Configuration -> Policies and Access Control-> Network Devices -> Switches -> chose switch -> select CLI and stay with "Advanced off" = you will see SNMP settings instead of CLI settings. The content is shifted compare to the menu. SNMP menu and Web Services menu are also affected.

If I Enable "Advanced" then it works properly.

**To Reproduce**
Create Switch Group, device ty

[2020-06-29 19:32] ZdenekPala commented on #5648
Packetfence Version
10.1.0

[2020-06-29 19:50] julsemaan commented on #5648
We would need either @cgx or @satkunas to check it out

[2020-06-29 19:54] ZdenekPala commented on #5648
@julsemaan I can share access to the system if it helps. Let me know.

[2020-06-29 19:55] julsemaan commented on #5648
It looks fairly simple to replicate on our end but I'll definitely reach out if we can't figure it out

[2020-06-29 21:53] ZdenekPala opened #5649 "GUI issue - Search filter is persistent but not displayed when navigating out and back"
**Describe the bug**
The search filter is active when returning, but the search criteria are not displayed/indicated.

**To Reproduce**
In the top menu select Nodes
In the left menu select Search
In to the "Search by MAC or owner" type your criteria (e.g. c8)
hit Search button
now the list contains only nodes matching the criteria and the criteria are displayed = perfect
Now navigate to Users
Retu

[2020-06-29 22:23] ZdenekPala opened #5650 "The Role is not displayed if the Filter does both AutoRegister and RegisteredRole"
**Describe the bug**
The Role is not displayed if both AutoRegister and RegisteredRole are used in the Vlan Filter

**To Reproduce**
1. Define Vlan Filter (/usr/local/pf/conf/vlan_filters.conf):

2. Connect the device to the switch, the switch gets proper radius response
3. Nodes - Search -> does not display the role

**Screenshots**
The Filter definition:
![image](https://user-images.githubuserco

[2020-06-30 00:32] fdurand commented on #5650
It's not really a bug since it's the expected behaviour.
If you want to set the role then add an action (Perform action).

[2020-06-30 06:30] lyubomirtraykov opened #5651 "Switch Template COA with VSA not working"
Switch Template COA with VSA not working, because it is using dictionary file `/usr/local/pf/lib/pf/util/dictionary` to perform perform_coa. If you add the VSA attributes to the dictionary file it is working.

[2020-06-30 11:45] julsemaan commented on #5650
@ZdenekPala

If you put the scope NodeInfoForAutoReg that should do what you expect

[2020-06-30 11:49] lyubomirtraykov commented on #5633
You can also add configuration for port disable using  RADIUS attributes in CoA (vendor-specific) and send it on security event.

[2020-06-30 15:00] ZdenekPala commented on #5650
Thank you Julien. It works as expected now.

[2020-06-30 15:00] #5650 closed

[2020-06-30 16:05] ZdenekPala opened #5652 "VLAN filter action modify role can crash the system"
**Describe the bug**
I configured the VLAN filter as on the screen. When the device appears in the network and this rule trigger then the product is crashed. Reboot does not help.

**To Reproduce**
Create filter with action Update Role Configuration, as a value add: role, $role

**Screenshots**
![image](https://user-images.githubusercontent.com/16311452/86149125-d5845a80-bafb-11ea-9b37-bd8d06fa032

[2020-06-30 17:37] #5652 closed

[2020-06-30 17:43] julsemaan commented on #5652
This has been addressed in 790ddb7 with an additional safety net in f45d842

Its been cherry-picked into the maintenance, if you run `/usr/local/pf/addons/pf-maint.pl` you'll get the fix

[2020-07-01 14:55] #5554 closed

[2020-07-01 15:56] jrouzierinverse opened #5653 "Serialization of rate_limit of syslog parsers is bad"

[2020-07-01 18:28] jrouzierinverse opened #5654 "Syslog Regex Parser view is incorrect."
When viewing an already created syslog regex parser the following is wrong.
* A rate limit is shown when.
* There are no rules shown.

The issue is syslogParserType is null [here](https://github.com/inverse-inc/packetfence/blob/devel/html/pfappserver/root/static.alt/src/views/Configuration/_config/syslogParser.js#L298).

[2020-07-01 18:59] #5630 closed

[2020-07-01 19:53] julsemaan commented on #5618
I've pushed a couple of related commits to user rights management, it should fix this but @nqb said CONFIGURATION_MAIN_READ isn't the "right" way to fix it so I'll leave this opened but this is technically fixed

[2020-07-01 22:29] danpoltawski commented on #5627
I'm going to close this, as it seems you meant to but didn't press the button :-)

[2020-07-01 22:29] #5627 closed

[2020-07-02 12:24] satkunas commented on #5648
I'm not able to reproduce. @ZdenekPala can you forward me your conf/switches.conf (remove any sensitive information) - or email it to me at support@inverse.ca

[2020-07-02 13:27] satkunas commented on #5634
Waiting on @jrouzierinverse to provide a `parse_condition` fix before I resolve this issue.

[2020-07-02 13:35] satkunas commented on #5632
Is there a specific reason why we're not using the `:` separator and using `-` instead? This seems counter-intuitive as `:` is almost always used to separate an address and a port (since switch IDs must be a valid IP address).

[2020-07-02 13:40] satkunas commented on #5626
@julsemaan pagination is currently not supported in the User Tabs, as the extra endpoints (nodes, security events) are pre-fetched when the pid is requested and added statically to the user object - which means the node search endpoint are currently not reactive inhibiting pagination.

I can bump the list size easily; but like you said, the default user could list thousands of devices. If we want

[2020-07-02 14:22] satkunas commented on #5615
The following meta is consumed from the backend:

[code]

[2020-07-02 14:47] #5610 closed

[2020-07-02 15:02] #5603 closed

[2020-07-02 15:11] satkunas commented on #5597
Hyphen changed to underscore in https://github.com/inverse-inc/packetfence/commit/e1e9c68f2680894bb1013b8987596986be7f24db

@jrouzierinverse the backend will still need to validate the identifier to ensure no hyphen is used. It can also optionally send a regex pattern in the meta for the identifier to catch these invalid chars on the front-end.

[2020-07-02 16:03] ZdenekPala commented on #5648
Here is the file. no modification done. I just downloaded it through scp.
[switches.conf.zip](https://github.com/inverse-inc/packetfence/files/4865429/switches.conf.zip)
the 180 works fine
the 181 has gui issue

[2020-07-02 16:36] julsemaan commented on #5648
It seems 181 doesn't have a type explicitely defined but it inherits the Generic type from the default section so it should be fine but for some reason the GUI doesn't seem to realize there is a type when its the inherited default "Generic" type

No idea how to fix it in the GUI though, I'll let @satkunas do his magic

[2020-07-02 18:54] ZdenekPala commented on #5648
IMHO the 181 should inherit the type and all other settings from the group.

[2020-07-02 19:07] julsemaan commented on #5648
It already does but the frontend seems to be unaware of it for the type

[2020-07-02 19:59] fdurand opened #5658 "pf-maint.pl on pf 10.1 error on generatersyslogconfig"
Run pf-maint.pl on pf 10.1:

[code]

[2020-07-02 20:11] jrouzierinverse commented on #5658
This would only happen if the environmental variable 'PERL_NET_HTTPS_SSL_SOCKET_CLASS' is set.
Can you check that out?

[2020-07-02 20:11] fdurand opened #5659 "Network Interface Configuration Issue"
**Describe the bug**

Happen if you use the HWADDR parameter to map the interface with a specific name.

When you have a network interface configured like that:

[code]

and when you go in the configurator and set the interface as management (or reg/isol) then the configuration become like that:

[code]
and you lost the HWADDR configuration parameter.
Then if you rebbot the server than you will lo

[2020-07-02 20:13] fdurand commented on #5658
it's the case and it's the case by default now.

[2020-07-02 20:40] #5658 closed

[2020-07-02 20:41] jrouzierinverse commented on #5658
We have a chicken and an egg now.
pf-maint cannot run now because of this bug.
So there is no way to fix it through pf-maint

[2020-07-03 11:36] julsemaan commented on #5626
@satkunas, I see another solution.

When in the nodes tab, when you scroll at the bottom, it displays a message saying something like "Only 25 nodes have been displayed, click here to view all the nodes of the user". When clicking on that, it would bring you to the node page with a search on the user PID to view all the nodes in the full node page.

What do you think ?

[2020-07-03 15:50] fdurand opened #5663 "Connection profile SSID filter should be case sensitive"
**Describe the bug**

In a connection profile if you try to set 2 SSID filter , like one with BOB and the other one with BoB then it's not possible to add the second one.

[2020-07-03 18:02] #5626 closed

[2020-07-03 18:04] satkunas commented on #5626
@julsemaan great idea. I bumped the limit to 1k and added a button at the end of the table that redirects to the node search when that limit is reached.

[2020-07-03 18:33] lzammit opened #5664 "Can't rename a cloned vlan filter"
Title says it all.

[2020-07-06 05:55] nqb commented on #3426
Closing this in favor of #5659

[2020-07-06 05:55] #3426 closed

[2020-07-06 06:12] nqb commented on #5618
In my previous comment, I would like to mention that adding `CONFIGURATION_MAIN_READ` to User managers provide a wide access to configuration when I doesn't seem to be necessary (in application of [PoLP](https://en.wikipedia.org/wiki/Principle_of_least_privilege))

[2020-07-06 10:38] sonaligulia opened #5665 "eap login issue sub module failed version 10.1.0"
In current version 10.1.0 update there is an error in eap login  .
in eap.conf (/usr/local/pf/conf/radiusd/eap.conf) file GTC is not mentioned in else if loop . infact leap is mentioned 2 times  . i am attaching screenshot of error . after editing my config file its working fine now

error screenshot:
![eap error](https://user-images.githubusercontent.com/33476142/86584300-529f4c00-bfa2-11ea-9428-

[2020-07-06 11:57] nqb commented on #5665
Hi @sonaligulia,

Thanks for your bug report.

It has been already fixed by @janegilv in 1b2556b23ae34651c42635294a95121783bcf0c2 commit.

Fix will be available in next release.

[2020-07-06 11:57] #5665 closed

[2020-07-06 12:40] nqb commented on #5658
@jrouzierinverse, I'm not able to understand your last comment.

From what I see, your fix has not been cherry-picked to maintenance, is it intended ?

If I understand correctly the issue, if this fix is backported, we should be able to have a complete fix by running `pf-maint` twice no ?

[2020-07-06 13:18] jrouzierinverse commented on #5658
Sorry I was wrong.
I can be placed in maintenance it will just fail after the first run.

[2020-07-06 13:54] nqb opened #5666 "web admin: missing RADIUS tab on switches/switch groups"
**Describe the bug**
When you try to create a new switch or switch group, all tabs are present except `RADIUS`. On switches, it seems to work when I toggle Advanced button.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new switch group

=> RADIUS tab is missing

![Capture d’écran de 2020-07-06 15-52-47](https://user-images.githubusercontent.com/10830260/86600801-d5bfa280-bfa0-11ea

[2020-07-06 15:54] lzammit commented on #5666
It's because of the generic module ? What happen if you switch to Cisco 2960 ?

[2020-07-07 05:55] nqb commented on #5666
Good catch @lzammit !

If I switch to Cisco 2960 module when creating a switch group, RADIUS tab appears.

[2020-07-07 10:03] nqb opened #5667 "haproxy-admin unable to start in a cluster in a RADIUS enforcement scenario"
**Describe the bug**
If you set up a cluster with only management interface (without portal deamon), `haproxy-admin` service is unable to start because `/usr/local/pf/var/conf/haproxy-admin.conf` as a syntax issue. The [portal_preview_ip function](https://github.com/inverse-inc/packetfence/blob/c74f0839a95387eea9339efe7ede600ab7bea5b5/lib/pf/services/manager/haproxy_admin.pm#L275) returns an undef

[2020-07-07 12:45] julsemaan opened #5668 "Admin interface only shows the 100 oldest security events"
**Describe the bug**
The security events tab of a node only shows the 100 oldest security events associated to the node.

**To Reproduce**
1. Have a node that has more than 100 security events
2. Try to view them in the admin in the nodes details

**Expected behavior**
The limit itself isn't a problem but it should show the most recent ones

[2020-07-07 14:07] #5648 closed

[2020-07-07 14:07] #5666 closed

[2020-07-07 19:06] #5667 closed

[2020-07-07 22:34] theonemcdonald opened #5669 "pfcmd fixpermissions all : conf/ssl is ignored."
**Describe the bug**
pfcmd fixpermissions
pfcmd fixpermissions all

Neither will fix permissions to SSL certs in $CONF/SSL.

**To Reproduce**
Steps to reproduce the behavior:
1. Change permissions on any file underneath $CONF/SL
2. run pfcmd fixpermissions
3. ls -l ... permissions are NOT fixed.

**Expected behavior**
fixpermissions claims to walk the ~~entire~~ pf tree... conf/ssl directory is ig

[2020-07-08 00:57] rcmcdonald91 commented on #5290
I'm seeing this issue on fully patched 10.1.0 cluster.

Ran this prior to installing PF

`yum install kernel-devel-$(uname -r)`

`[root@pf1 ~]# uname -a
Linux pf1.ad.mydomain.com 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2020-07-08 01:16] theonemcdonald opened #5670 "iptables fails to start (again)"
**Resolution:** If running in UEFI mode, keep secure boot DISABLED.

REF: #5290

**Describe the bug**
I'm seeing #5290 again on a fully patched CentOS 7 cluster running 10.1.0

Ran this prior to installing PF

`yum install kernel-devel-$(uname -r)`

`[root@pf1 ~]# uname -a
Linux pf1.ad.mydomain.com 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2020-07-08 02:40] fdurand commented on #5670
Can you check if the module is loaded ?

[code]

And can you do (and paste the result):

[code]

[2020-07-08 06:09] nqb commented on #5670
I'm not able to replicate this issue on a standalone running in 10.1.0.

Process we used to always run latest Linux kernel packages:
1. Upgrade CentOS to latest version (to have latest kernel installed)
1. Reboot system (to use latest kernel)
1. Run `yum install kernel-devel-$(uname -r)`
1. Install PacketFence

@theonemcdonald, could you confirm you have follow this exact process ?

My guess is th

[2020-07-08 10:20] nqb opened #5671 "to-10.1-move-radius-configuration-parmeters.pl doesn't handle existing radius_configuration correctly"
**Describe the bug**
If you have changed some RADIUS configuration parameters before upgrading to 10.1.0 and you run `to-10.1-move-radius-configuration-parmeters.pl`, new files under `/usr/local/pf/conf/radiusd/ `are created with wrong values.

Parameters are:
- eap_authentication_types
- eap_fast_opaque_key
- eap_fast_authority_identity
- ocsp_enable
- ocsp_override_cert_url
- ocsp_url
- ocsp_use

[2020-07-08 10:40] nqb commented on #5671
I fixed this issue in 4da38e9a6ac63e13bd26dbc9fb1165b707f5c565.

There was another issue with this script: if `ocsp_softfail` has been redefined in `pf.conf`, option was written to `/usr/local/pf/conf/radiusd/eap_profiles.conf` in place of `/usr/local/pf/conf/radiusd/ocsp.conf`. Fixed in 574d3fde59c21c345a467bb444b68dcc6f0effb2

[2020-07-08 10:41] nqb commented on #5671
I will backport this to maintenance but a patch release will be necessary.

[2020-07-08 11:52] danielerosatidast opened #5672 "Radius auth with host - Reply-Message = "no role computed by any sources""
After upgrading from 9.3.0 to 10.1.0 the radius authentication with host objects is not working anymore.
I get the error: Reply-Message = "no role computed by any sources"

Any source, domain, connection profile, switch was changed after the upgrade.

Local machines do ask for credentials instead of sending their host domain\hostname

Connection profile: if connection is wireless eap - use AD_loca

[2020-07-08 12:04] julsemaan commented on #5672
This looks like a configuration issue, not a bug, please use the mailing list

[2020-07-08 12:04] #5672 closed

[2020-07-08 12:21] #5671 closed

[2020-07-08 13:39] rcmcdonald91 commented on #5670
Edit: This seems to be a Secure Boot UEFI issue. Investigating now.

@fdurand

`lsmod | grep ipt_NETFLOW` doesn't return anything...module is NOT loaded.

@nqb I'm pretty sure I followed the process you described.

When I reinstall the package `yum reinstall dkms-ipt-netflow --enablerepo=packetfence` everything works fine, indicating that the correct kernel headers are present?

[2020-07-08 13:48] rcmcdonald91 commented on #5670
Here is make.log for netflow

`DKMS make.log for ipt-netflow-2.4-4.1 for kernel 3.10.0-1127.13.1.el7.x86_64 (x86_64)
Mon Jul  6 18:01:52 EDT 2020
./gen_compat_def > compat_def.h
Compiling for kernel 3.10.0-1127.13.1.el7.x86_64
make -C /lib/modules/3.10.0-1127.13.1.el7.x86_64/build M=/var/lib/dkms/ipt-netflow/2.4-4.1/build modules CONFIG_DEBUG_INFO=y
make[1]: Entering directory `/usr/src/kernels/3.

[2020-07-08 13:58] #5670 closed

[2020-07-08 14:16] julsemaan commented on #5669
Its indeed something we could improve.

I checked the help though and it doesn't claim it walks `the entire pf tree`, it says `the pf tree`

Can you point me to where it says `the entire pf tree`, we need to fix this as we'll never be able to get fixpermissions to fix the permissions of all the files under `/usr/local/pf`

[2020-07-08 14:20] rcmcdonald91 commented on #5669
Eh, I might have been really tired and a bit cross-eyed when I read that. It probably doesn't make that claim. Disregard.

[2020-07-08 17:24] jrouzierinverse opened #5674 "When updating a single interface all interface config files are rewritten."
This make updating a single interface slower than needed.

[2020-07-08 17:37] jrouzierinverse commented on #5674
For debian we should use '/etc/network/interfaces.d/' per interface instead of using one big file for all the interfaces.

[2020-07-08 18:45] julsemaan opened #5676 "Add ability to force the use of a RADIUS Disconnect"
**Is your feature request related to a problem? Please describe.**
When reevaluating access, we can't pick if we want to use a CoA or a Disconnect. When troubleshooting, it can be useful to force a disconnect and not use the CoA mechanism.

**Describe the solution you'd like**
In the admin, we could have a "Force disconnect" to reevaluate the access while forcing a RADIUS Disconnect if the switch

[2020-07-08 19:00] julsemaan opened #5677 "pfdhcp lists disabled servers in DHCP response"
**Describe the bug**
The DHCP server lists disabled servers in the DNS and gateways that are sent in its DHCP replies.
It needs to honor the disabled servers in the following places:
https://github.com/inverse-inc/packetfence/blob/6315486b1e83cd74b0e67aeb35435d2748d894b2/go/dhcp/utils.go#L193
https://github.com/inverse-inc/packetfence/blob/6315486b1e83cd74b0e67aeb35435d2748d894b2/go/dhcp/utils.go#

[2020-07-09 10:05] nqb opened #5678 "Optimizations on switches endpoints for better user experience on web admin"
**Is your feature request related to a problem? Please describe.**
When you deal with an important number of switches (< 300 and more), API takes really long time to give answer to frontend which result in:
* bad user experience on webadmin when you have to manage switches (a common task of PacketFence admins)
* 504 gateway timeout errors

As mentioned on #5550, it's possible to increase server ti

[2020-07-09 12:08] julsemaan opened #5679 "192.0.2.1 IP address may be used by another system"
**Describe the bug**
I just got a case where that IP was active on a network equipment that was between PF and the endpoint. It was intercepting traffic and preventing users from being on the portal.

**To Reproduce**
1. Put 192.0.2.1 on another equipment than PF that is directly connected to the endpoint (like on the WLC directly)
2. Try to use the reg VLAN

**Expected behavior**

I suggest one o

[2020-07-09 13:20] extrafu commented on #5679
I think we need to do both.

[2020-07-09 13:25] julsemaan commented on #5679
Agreed, that way we're sure we have a way around any potential issue

[2020-07-09 14:51] rcmcdonald91 commented on #1947
Any update on this issue? Is it something that can be fixed?

[2020-07-09 15:39] theonemcdonald opened #5680 "High Availability listed as an 'additional listening daemon' when editing interface."
**Describe the bug**
After initially configuring HA on an interface using the checkbox, HA becomes an 'additional listening daemon' and the checkbox is not ticked.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an interface with HA by checking the checkbox.
2. Save the interface.
3. Edit the interface
4. Save the interface.

**Screenshots**
![habug](https://user-images.githubuserc

[2020-07-09 18:25] theonemcdonald opened #5681 "Domain Join Not Surviving Reboot "Cannot open network namespace "AD": No such file or directory""
**Describe the bug**
10.1.0 fully patched via ./pf-maint.pl as of 7/9/2020 (2:21PM EST)

Domain join not surviving reboot on 3 node 10.1.0 cluster (patched via ./pf-maint.pl as of 7/9/2020, 2:22pm)

"Cannot open network namespace "AD": No such file or directory" in test join.

**To Reproduce**
Steps to reproduce the behavior:
1. build up a cluster using the clustering guide.
2. Join each cluster t

[2020-07-09 20:39] fdurand commented on #5677
it can probably be done in resource::network_config directly.

[2020-07-09 20:49] fdurand commented on #5677
No, it must be done in the dhcp code.

[2020-07-10 10:04] szhouhao opened #5683 "Cant display the “olnline/offline” status on the nodes' page。"
The “olnline/offline” status  always be “unknown”
how to fix it?

[2020-07-10 11:40] lzammit commented on #5683
It's based on radius accounting, check if you receive the radius accounting start and stop.

[2020-07-10 12:03] julsemaan commented on #5677
Exactly, because there may not be a configreload hard after disabling a node and it may still be sharing config with another cluster member through its DB storage

[2020-07-10 12:04] julsemaan commented on #5681
Are you using `%h` as the hostname value in your domain configuration ?

[2020-07-10 13:01] rcmcdonald91 commented on #5681
Yes

[2020-07-10 13:31] julsemaan commented on #5681
Perhaps then we need to do: `pfcmd service pf updatesystemd` after creating a domain to ensure that it will be properly enabled

[2020-07-11 11:35] cdcrawford opened #5684 "Role Selection in Node Config is not sorted"
**Describe the bug**
When you are in the node configuration, the role and bypass role fields are not sorted. This makes selection of the role difficult.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'nodes'
2. Click on 'any node'
3. Scroll down to 'roles'
4. Select roles, it is not sorted.

**Expected behavior**
The roles and bypass roles sections are sorted and easily selectable.  I

[2020-07-11 20:02] aleixdorca opened #5685 "fingerbank-collector: "Invalid MAC address provided""
**Describe the bug**
If I enable and start the fingerbank-collector, the fingerbank.log is flooded (5-10 entries per second) with these two errors:

"Found IP/MAC (ip:192.0.2.1|mac:) on the local interface"
"Failed to update IP/MAC from local interface result. Error: Invalid MAC address provided"

It seems that this address is used by haproxy on the local (lo) interface by the captive portal.

Any

[2020-07-13 02:26] szhouhao commented on #5683
TKS, I solved it

[2020-07-13 02:26] #5683 closed

[2020-07-13 02:35] szhouhao opened #5686 "The “switch port description ” on nodes page is not correct."
The “switch port description ” on nodes page is not correct.
My switch  is the H3C-5120，It's port description is "slot=1;subslot=0;port=5;vlanid=1"，that isn't the correct description  on my swicth；
I can use a snmp command to catch the correct description,but it  cant  display the correct result   the packetfence.
Do  you have the correct port description on your switch? or other vendor's switches

[2020-07-13 11:40] julsemaan commented on #5685
What is the version of the fingerbank-collector package?
Are you running Debian or CentOS?

I have a good idea of a workaround fix for this but I just want to make sure I'm not missing something else

[2020-07-13 13:23] nqb commented on #5678
@jrouzierinverse and @satkunas, could you mention here commits you pushed to improve performances ?

Also could you tell me if issue should be consider as fixed ?

Thanks

[2020-07-13 13:30] aleixdorca commented on #5685
fingerbank-collector: version 1.3.6-1 - amd64 (installed via apt from the deb http://inverse.ca/downloads/PacketFence/debian stretch repository)
OS version: Debian 9.12

[2020-07-13 13:35] #5684 closed

[2020-07-13 14:57] jrouzierinverse commented on #5678
There is a bit more to be done on my side.
Such as add some optimizations to the simple cases.
The next optimization I am working on is where no filter or sorting is needed.

[2020-07-13 19:53] #5681 closed

[2020-07-13 19:54] julsemaan commented on #5681
It was indeed the fact that the systemd configuration of winbindd isn't updated when manipulating domains

I've made it so whenever we generate the configuration of domains, it will adjust this

The fix is in the maintenance if you need it (apply via `/usr/local/pf/addons/pf-maint.pl`)

[2020-07-14 06:20] nqb opened #5688 "Perl and Golang unit tests in failed state"
**Describe the bug**
Commits added since 10/07 caused issue on unit tests
- [Perl unit tests](https://gitlab.com/inverse-inc/packetfence/-/jobs/636998003#L525)
- [Golang unit tests](https://gitlab.com/inverse-inc/packetfence/-/jobs/636998018#L448)

[2020-07-14 07:04] nqb opened #5689 "Unable to create switch group and access levels on devel"
**Describe the bug**
If I try to create switch group or access levels, I got a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a switch group or an access level

=> You got following errors:
[code]

**Expected behavior**
It should work.

**Additional context**
I don't have this issue using build triggered by https://github.com/inverse-inc/packetfence/commit/ff4029317

[2020-07-14 08:59] dmiyyy commented on #3806
how to build it for ubuntu?
I can help, if you have any problem.

[2020-07-14 10:07] dmiyyy opened #5690 "How to build it from source?"
Can anybody guide how to build packetfence from sources with dependesies etc.? Thanks in advance!

[2020-07-14 10:20] nqb commented on #5690
Hello @dmiyyy,

You can got some informations in https://packetfence.org/doc/PacketFence_Developers_Guide.html#_packetfence_builds.
Also take a look at our GitLab pipeline:
- https://github.com/inverse-inc/packetfence/blob/99af1292bb455288104dcb801a3abb96b60a0e1a/.gitlab-ci.yml
- https://gitlab.com/inverse-inc/packetfence/pipelines

[2020-07-14 10:20] #5690 closed

[2020-07-14 10:31] nvyao commented on #5295
Hello man, Follow up on what you've written

[1:forticlient]
action=trigger_security_event
action_param = mac = $mac, tid = PROCESS_EDGE, type = CUSTOM

Sorry，I’m a beginner!
what's the tid? Built-in or self-defined？and are there logs that can query the behavior of triggers?
tks

[2020-07-14 10:33] extrafu commented on #5295
Use the mailing list for such questions.

[2020-07-14 10:40] nvyao commented on #5295
what is the path

[2020-07-14 10:42] extrafu commented on #5295
https://lmgtfy.com/?q=packetfence+mailing+list

[2020-07-14 10:48] nvyao commented on #5295
![image](https://user-images.githubusercontent.com/50283471/87417270-7990fa00-c602-11ea-8e01-36152a42c1cb.png)

I've tried this before, and the answer is this

[2020-07-14 10:49] nvyao commented on #5295
![image](https://user-images.githubusercontent.com/50283471/87417368-a3e2b780-c602-11ea-81a0-db402e650c3b.png)

I've tried this before, and the answer is this。

[2020-07-14 11:00] nvyao commented on #4649
Hi man，Have you solved the problem yet？

[2020-07-14 11:22] nvyao opened #5691 "WMI Scan"
It was Packetfence that went straight to the scanning endpoint or the AD server do?
I think it's the former,but During testing, I did not find network traffic of WMI Scan

[2020-07-14 11:23] extrafu commented on #5691
Use the mailing list.

[2020-07-14 11:23] #5691 closed

[2020-07-14 12:11] dmiyyy commented on #5690
Hello, Nicolas!
Thank you for quick responce.
I'm trying to build it for ubuntu and I need step-by-step guide for manual build pf from sources. The links you provided are not have enough information.

[2020-07-14 12:12] extrafu commented on #5690
Use the mailing list for such questions.

[2020-07-14 12:13] dmiyyy opened #5692 "build pf from sources"
I'm trying to build it for ubuntu and I need step-by-step guide for manual build pf from sources. The links you provided are not contain enough information.

_Originally posted by @nqb in https://github.com/inverse-inc/packetfence/issues/5690#issuecomment-658099835_

[2020-07-14 12:14] extrafu commented on #5692
Use the mailing list for such questions.

[2020-07-14 12:14] #5692 closed

[2020-07-14 12:15] dmiyyy commented on #5690
why it's not public information?
looks like you are not providing, how to build it. your scripts are using binaries:
![изображение](https://user-images.githubusercontent.com/31450243/87426016-48ef9700-c5e7-11ea-960f-422bbb370cd5.png)

[2020-07-14 12:17] extrafu commented on #5690
What @nqb sent is public and is used to build PacketFence.

[2020-07-14 14:00] jrouzierinverse commented on #5689
Fixed by 7c90ea4c2dccf6cf60b034c9de3711c2916c1adf

[2020-07-14 14:00] #5689 closed

[2020-07-14 17:36] jrouzierinverse commented on #5678
This has been fixed by c6cadf1fddb981f479b2dcd3b2d95203877d3214, 15d4c9553bc5d96187b2fddff6d64e1cb665d7c9, and 4bfa80a330049c550b59cce21ca99babad3e59d6

[2020-07-14 17:36] #5678 closed

[2020-07-14 17:40] #5688 closed

[2020-07-14 17:57] jrouzierinverse commented on #5619
One way to solve this is to redesign our authorization system.
Where a single role to give access to multiple paths and HTTP methods.

For example EMAIL_PREVIEW role give access to GET /api/v1/config/base/alerting, GET /api/v1/config/base/general, and POST /api/v1/email/preview.

This will basically future proof our authorization system as it allows very coarse or fine-grain control of roles to ac

[2020-07-14 18:11] theonemcdonald opened #5694 "Mariabackup should be used as Galera SST provider instead of Xtrabackup"
**Is your feature request related to a problem? Please describe.**
In MariaDB 10.1+, Mariabackup is the recommended backup method to use instead of Percona XtraBackup.

**Describe the solution you'd like**
Use Mariabackup for SST instead of Percona

[2020-07-14 18:19] jrouzierinverse commented on #5353
Is the speed for the new bandwidth account approach acceptable and we can close this or does it still need some improvement?

[2020-07-14 18:44] julsemaan commented on #5353
I think we're good, we can always open a new issue if something specific comes up

[2020-07-14 18:44] #5353 closed

[2020-07-15 05:18] nqb commented on #5694
Hi @theonemcdonald,

Could you provide a link about this new recommended backup method ?

[2020-07-15 05:28] nqb opened #5695 "Perl unit tests in error"
Perl unit tests in error: https://gitlab.com/inverse-inc/packetfence/-/jobs/639032599#L580

[2020-07-15 05:29] nqb commented on #5686
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2020-07-15 05:29] #5686 closed

[2020-07-15 06:07] sonaligulia commented on #5667
unable to start packetfence-haproxy-admin service even after setting managment interface as portal

[2020-07-15 12:08] rcmcdonald91 commented on #5694
https://mariadb.com/kb/en/mariabackup-overview/

This will be more important when maria is eventually updated , hopefully before October when the version used by packetfence hits EOL

[2020-07-15 12:16] julsemaan commented on #5619
This should be fairly easy to implement. We'd just need to have an RBAC map that maps a role to additionnal API paths (which would be checked prior the the current map)

So we'd have a new map that looks like this:
[code]

We should probably have something to handle the search case a bit better so that we don't have to define both the GET on index and POST on search like we have for the existing l

[2020-07-15 12:23] julsemaan commented on #5685
This is addressed by the fingerbank-collector-1.3.7 which is pushed for CentOS.

I'll assigned it to @fdurand so that he can build the new collector for Debian

[2020-07-15 12:47] #5679 closed

[2020-07-15 12:53] julsemaan commented on #5679
#5682 has been applied in maintenance/10.0 and maintenance/10.1

[2020-07-15 13:16] jrouzierinverse commented on #5619
I had something like that in mind but a bit more flexible to deal with sub-routes better.

[code]

[2020-07-15 13:18] julsemaan commented on #5619
Yes correct, the code should match all subpaths like it currently does with the existing logic

[2020-07-15 13:24] #5695 closed

[2020-07-15 14:28] fdurand commented on #5685
New collector has been pushed in the debian repo.

[2020-07-15 14:33] aleixdorca commented on #5685
Updated to latest collector version (1.3.7-1) on Debian 9.12. All seems to work fine! Thanks!

[2020-07-15 17:01] #5685 closed

[2020-07-15 17:24] julsemaan opened #5696 "haproxy_admin backend api doesn't honor the disabled servers"
**Describe the bug**
Servers that are disabled appear in the `backend api` section of haproxy_admin

[2020-07-15 17:36] #5696 closed

[2020-07-15 18:31] rcmcdonald91 commented on #5694
This should be pretty easy to implement.

1. `apt install mariadb-backup` or `yum install mariadb-backup` (I'd recommend installing this as part of the standard packetfence installation automatically so to simplify the clustering documentation a bit).
2. Update the mariadb conf template  `wsrep_sst_provider = mariabackup`

It should be a drop-in replacement for xtrabackup and will be useful when M

[2020-07-16 05:53] nqb commented on #5694
You missed the [backup](https://github.com/inverse-inc/packetfence/blob/f039b332ef2e6340d4613369d42f7a68388d5ec8/addons/backup-and-maintenance.sh) script.

[2020-07-16 12:43] nqb opened #5697 "API: /api/v1/node/{mac} return null values for some elements"
**Describe the bug**
In 802.1X scenario, when you use:
[code]
Some elements like:
- last_connection_sub_type
- last_connection_type
- last_dot1x_username
- last_ifDesc
- last_port
- last_role
- last_start_time
- last_start_timestamp
- stripped_user_name

have `null` values.

**To Reproduce**
Steps to reproduce the behavior:
1. Registered a node using a 802.1X scenario (autoregister)
2. Run `pfperl

[2020-07-16 14:10] JeGoi opened #5698 "GUI: status/services/Manageable Services/[Start,Restart All] buttons have strange results"
**Describe the bug**

Standalone server.

In the UI, at status/services/Manageable Services/ if you tried the button "Restart All", it will restart even disabled services.
Disabled services are running and still at "disabled" status.

In the UI, at status/services/Manageable Services/ if you tried the button "Start All", it will start some of disabled services, but not all of them.

**To Reproduce

[2020-07-16 14:11] JeGoi opened #5699 "GUI: status/services/Manageable Services/[Stop All] button do not stop all services"
**Describe the bug**
Standalone server.
In the UI, at status/services/Manageable Services/ if you tried the button "Stop All", it will only stop some services, but not all of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to status/services/Manageable Services
2. Check if fingerbank-collector and httpd.aaa are enabled and running
3. Click on "Stop All"
4. fingerbank-collector and h

[2020-07-16 14:13] JeGoi commented on #5699
Whoups I've just seen that there is section for Protected services (like system services).
I'll change my issue expected.

[2020-07-16 14:28] JeGoi opened #5700 "GUI status/services/Manageable Services/[Protected Services] enabled option should be protected"
**Describe the bug**
Standalone server.
You can disabled Protected services and, if it is disabled and the server restart, the service will not restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to status/services/Manageable Services
2. Click on haproxy-admin to disable it
3. Check the status service on the server
[code]
4. At restart, no more Admin GUI

**Expected behavior**
Protec

[2020-07-16 16:28] julsemaan commented on #5698
It seems the frontend calls the action on all the services individually, not only the enabled services.

@satkunas, can you ensure actions are taken only on the services that are enabled in that page

[2020-07-16 16:40] julsemaan commented on #5699
I was able to replicate on the latest devel.

The API calls that stop the services all succeeded and the frontend still shows them as started.

If I do a `pfcmd service pf status`, the services are actually stopped

[2020-07-16 16:41] julsemaan commented on #5700
Should be an easy one for @satkunas

[2020-07-17 05:24] lyubomirtraykov opened #5702 "LLDP and CDP VoIP Detect for Switch Templates"
Add LDDP and CDP config in the templates.

[2020-07-17 11:32] lzammit commented on #5702
Which template? Link it if it's a real issue. Thanks.

[2020-07-17 11:48] julsemaan commented on #5702
This lacks a lot of details.

Also, implementing CDP/LLDP discovery works on a per-vendor basis with often multiple SNMP calls to figure it out. It will be hard to allow this configuration in the switch templates. The best we could probably do is to create some pre-built Perl templates for the different vendors that we could then apply on the switch template. But you'd be limited to the ones the I

[2020-07-17 15:11] julsemaan opened #5703 "configreload is not being performed during pfcmd service pf restart"
**Describe the bug**
title says it ol

[2020-07-17 15:28] #5703 closed

[2020-07-18 05:53] lyubomirtraykov commented on #5702
I disagree. This code is generic. It uses LLDP-MIB.

    my $oid_lldpRemPortId  = '1.0.8802.1.1.2.1.4.1.1.7';
    my $oid_lldpRemSysCapEnabled = '1.0.8802.1.1.2.1.4.1.1.12';

    if ( !$self->connectRead() ) {
        return @phones;
    }
    $logger->trace(
        "SNMP get_next_request for lldpRemSysCapEnabled: $oid_lldpRemSysCapEnabled");
    my $result = $self->{_sessionRead}
        ->get_t

[2020-07-19 17:49] YLVNHAIQUACH opened #5706 "AD Authentication"
Please help to fix this issue when using AD authentication.

[root@packetfence samba]# wbinfo -p
Ping to winbindd failed

MAC Address
a0:8c:fd:d5:a8:58
Auth Status
Reject
Auth Status
eap
Auto Registration
No
Calling Station Identifier
a0:8c:fd:d5:a8:58
Computer Name
N/A
EAP Type
MSCHAPv2
Event Type
Radius-Access-Request
IP Address
Is a Phone
No
Node Status
N/A
Domain
YLVNDOMAIN
Profile
N/A
Realm
n

[2020-07-19 21:32] extrafu commented on #5706
This is a configuration issue, use the mailing list for that.

[2020-07-19 21:32] #5706 closed

[2020-07-20 11:50] #5129 closed

[2020-07-20 12:07] julsemaan commented on #5702
I see at least 2 different implementation in the code by looking at it quickly

Avaya != Cisco

And Procurve (which your example looks to be taken of) doesn't use the same regex for lldpRemIndex

I doubt we can get a one size fits all piece of code but if you find something that can work with all vendors using a handful of configuration variables, we can definitely get that in through a pull reque

[2020-07-20 13:18] julsemaan opened #5709 "pf::mini_template ignores some of the template content"
**Describe the bug**
pf::mini_template ignores some of the template content

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following code:
[code]

**Expected behavior**
Expected to have `HELLO good-bye`, only got HELLO

[2020-07-20 13:53] #5709 closed

[2020-07-20 17:31] #5114 closed

[2020-07-21 09:29] lyubomirtraykov opened #5712 "SSO on accounting is not working"
SSO on accounting is not working. It works for SS0 on DHCP and SSO on access reevaluation.

[2020-07-21 10:37] lyubomirtraykov commented on #5712
Sorry the switch was nor sending Framed-IP-Address

[2020-07-21 10:37] #5712 closed

[2020-07-21 15:22] fdurand opened #5713 "Pre-registration portal doesn't work anymore."
**Describe the bug**
Pre-registration portal doesn't work anymore.

**To Reproduce**
Create a connection profile where pre registration has been enabled.
Connect to it from outside and you will show the error message: "Your computer was not found in the PacketFence database. Please reboot to solve this issue."

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expecte

[2020-07-21 15:30] #5651 closed

[2020-07-21 15:48] #5659 closed

[2020-07-22 06:25] nqb opened #5714 "Perl unit tests failed after merge of #5711"
**Describe the bug**
Perl unit tests report [error](https://gitlab.com/inverse-inc/packetfence/-/jobs/649869590#L455)

[2020-07-22 08:12] nqb opened #5715 "web admin: Netflow on all networks option is missing in Advanced section"
**Describe the bug**
If you want to enable "Netflow on all networks" using GUI, you can't because setting is not available in GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go in advanced menu

**Expected behavior**
Netflow on all networks setting in GUI

[2020-07-22 08:14] #5715 closed

[2020-07-22 08:21] lyubomirtraykov commented on #5702
This regex
`^(?:0x)?([0-9A-Z]{2})[\s-\,\.]?([0-9A-Z]{2})[\s-\,\.]?([0-9A-Z]{2})[\s-\,\.]?([0-9A-Z]{2})[\s-\,\.]?([0-9A-Z]{2})[\s-\,\.]?([0-9A-Z]{2})(?:.*)?(?::..)?$`
should work for all vendors that you support now.
This getBitAtPosition is universal:

    sub getBitAtPosition {
        my ($bitStream, $position) = @_;
        my $bin ='';
        if ($bitStream =~ /^0x/) {
            $bitStream

[2020-07-22 10:25] nqb opened #5716 "pfacct doesn't seems to handle NetFlow traffic"
**Describe the bug**
If I send NetFlow traffic on management IP of my PacketFence server, I didn't see anything created in `bandwidth_accounting` table in DB.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `fingerbank-collector` (to have a process that listen on `udp/2055` (NetFlow port) on all interfaces)
1. Send NetFlow v5 traffic from a IP that match a switch on management IP of PF

[2020-07-22 12:35] julsemaan commented on #5702
Still need other variables for Avaya/Nortel because they don't use the same MIB, not sure if they also use a different way to handle the data in the SNMP table

[2020-07-22 12:41] #5714 closed

[2020-07-22 13:14] jrouzierinverse commented on #5716
Netflow is used internally for inline bandwidth accounting.
The NetFlow traffic for pfacct is from the NetFlow kernel module that is configured to send the traffic to localhost:2056 https://github.com/inverse-inc/packetfence/blob/devel/packetfence.modprobe .
In order not to conflict with the fingerbank-collector, we listen internally to localhost:2056.
This does not seem to be a bug.

[2020-07-22 13:14] #5716 closed

[2020-07-22 13:22] nqb commented on #5716
Thanks for you clarification.

[2020-07-22 20:07] jrouzierinverse commented on #5713
This issue is the path '/preregister' is used as the URI filter in a profile that had the preregistration enabled.
However, that was also the old global catalyst path for preregistration.
I removed '/preregister' as a catalyst path.
Should I also add b2ac085 to maintenance?

[2020-07-22 20:24] julsemaan commented on #5713
I think it doesn't hurt as it would be a common mistake we could make

On a separate note, perhaps we should prevent users from defining a URI filter with one of the paths that are defined in pf::web::constants

[2020-07-22 21:07] jrouzierinverse commented on #5713
Done

[2020-07-22 21:07] #5713 closed

[2020-07-23 04:48] lyubomirtraykov commented on #5702
Ok we can have $uselldpRemSysDesc BOOL and $regexRemSysDesc regex.

[2020-07-23 06:39] nqb opened #5718 "API: GET /api/v1/config/interfaces ignores sort and fields parameter"
**Describe the bug**
I tried to use API to query specific elements of network interfaces and sort results.

**To Reproduce**
Steps to reproduce the behavior:
1. Query API using following syntax:
- `pfperl-api get '/api/v1/config/interfaces?sort=name&fields=id' | python -m json.tool`
or
- `cat example.json | pfperl-api get /api/v1/config/interfaces | python -m json.tool` with following JSON payload

[2020-07-23 06:46] lyubomirtraykov commented on #5702
This is an example code:

	sub getPhonesLLDPAtIfIndex {
		my ( $self, $ifIndex ) = @_;
		my $logger = $self->logger;
		my @phones;
		if ( !$self->isVoIPEnabled() ) {
			$logger->debug( "VoIP not enabled on switch "
					. $self->{_ip}
					. ". getPhonesLLDPAtIfIndex will return empty list." );
			return @phones;
		}
		my $oid_lldpRemPortId  = '1.0.8802.1.1.2.1.4.1.1.7';
		my $oid_lldpRemSysDesc =

[2020-07-23 11:12] julsemaan commented on #5702
Hi,

Since you've done quite a bit of work around it, I think it would be good if you submit a pull request.

This way we can test it with the switches we have available in our lab and continue the conversation there.

Thanks,

[2020-07-23 11:13] julsemaan commented on #5718
This API endpoint doesn't support sorting and fields

For what use-case do you need this ?

[2020-07-23 11:46] nqb opened #5719 "API: GET to /chart/{os,user,node}bandwidth/{unit} return a 500 error"
**Describe the bug**
If you try to display Accounting reports from Reports -> Standard reports and you don't have enough data, you got 500 errors for all reports.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install without accounting
1. Go to Reports -> Standard reports
1. Click on "Node bandwidth" or "User bandwidth" or "Operating system bandwidth"

=> 500 errors.

In `packetfence

[2020-07-23 13:08] nqb commented on #5718
This is how frontend called the API.

For Venom scenario, I need to get the id of the latest interface of the system.

[2020-07-23 13:11] julsemaan commented on #5718
Even if you would sort by ID, it wouldn't be the latest interface, ex:

Begining: you have an interface eth0 and eth1, order is [eth0, eth1]
You create a VLAN eth0.156
After, order is: [eth0, eth0.156, eth1]

So it would be better for you to track what interface you created and then delete it

[2020-07-23 13:12] dmiyyy commented on #5672
I have the same issue

[2020-07-23 13:24] danielerosatidast commented on #5672
I resolved the issue, after upgrading, giving the correct grants on radius file. Somehow in upgrade procedure grant side something broke.

Da: dmiyyy <notifications@github.com>
Inviato: giovedì 23 luglio 2020 15:13
A: inverse-inc/packetfence <packetfence@noreply.github.com>
Cc: Daniele Rosati <daniele.rosati@dastech.biz>; Author <author@noreply.github.com>
Oggetto: Re: [inverse-inc/packetfence] Ra

[2020-07-24 13:15] fdurand opened #5721 "No default tab open for connection profiles"
**Describe the bug**
When you click on a connection profile you are not able to see the configutaion parameter.
Befaore the parameter tab was open by default.

**Screenshots**
![image](https://user-images.githubusercontent.com/1553962/88394603-b93bac80-cd8d-11ea-91e4-dfed1629581c.png)

**Expected behavior**
Have the parameter tab open by default

[2020-07-24 16:35] #5697 closed

[2020-07-24 16:35] #5719 closed

[2020-07-24 17:23] fdurand commented on #5721
Same in switches

[2020-07-25 13:45] lyubomirtraykov opened #5722 "Accounting not working for switches that don't send NAS-IP-Address"
I am getting this errors on accounting with Juniper switches, because they don't send NAS-IP-Address on accounting.
`Jul 25 16:38:04 pf packetfence_httpd.aaa: httpd.aaa(1999) ERROR: [mac:00:25:64:bb:b2:06] WARNING ! Unknown switch(es) 08:81:f4:ab:43:c0 (pf::SwitchFactory::instantiate)`

`Jul 25 16:38:04 pf packetfence_httpd.aaa: httpd.aaa(1999) WARN: [mac:00:25:64:bb:b2:06] Use of uninitialized va

[2020-07-27 11:33] julsemaan commented on #5722
I believe we have a safety net in the FreeRADIUS unlang configuration to set the NAS-IP-Address to the RADIUS client IP when its not there.

I only see the config for this in the cluster virtual server though.

Question for @lyubomirtraykov: Are you running a cluster or standalone ?

Also, a workaround for the moment would be to define `08:81:f4:ab:43:c0` (value of Called-Station-Id) as a switch i

[2020-07-27 11:37] lyubomirtraykov commented on #5722
It is a standalone server.

[2020-07-27 11:54] julsemaan commented on #5722
I looked and I can't see the NAS-IP-Address detection logic for standalone but that may be me not looking properly.

@fdurand, is there a logic to fill the NAS-IP-Address if its missing for standalone servers

I found the logic in the packetfence-cluster virtual server here:
https://github.com/inverse-inc/packetfence/blob/e7a1d119d232e67ced4038f686c39b156fef044f/conf/radiusd/packetfence-cluster.ex

[2020-07-27 12:02] julsemaan commented on #5722
@fdurand has confirmed that the logic doesn't apply to a standalone server.

We should wrap this in a policy and call it both in the packetfence-cluster and the packetfence virtual server

I'll do it and provide a patch you can test shortly

[2020-07-27 12:39] lyubomirtraykov commented on #5722
Ok thank you. I can confirm that the workaround works.

[2020-07-27 13:10] julsemaan commented on #5722
Hi,

I adjusted our FreeRADIUS configuration and pfacct so that it handles the case correctly in standalone.

In your case you'll want to use the pfacct with the fix

In order to do so:
[code]

And that will install the binary with the fix

Full fixes are in: #5723 but the new pfacct should be enough for you

[2020-07-28 07:31] lyubomirtraykov opened #5727 "Error when doing auto register with VLAN Filters"
The mac authentication auto register with VLAN Filters is working, but I am getting this ERROR in the log:
`Jul 28 10:24:29 pf packetfence_httpd.webservices: httpd.webservices(4216) ERROR: [mac:00:1e:8f:df:11:c4] Missing argument username for the function pf::api::dynamic_register_node (pf::util::validate_argv)`

[2020-07-29 08:46] olmanolsztyn opened #5728 "rest: Request failed: 28 - Timeout was reached"
**Describe the bug**
In some random period of time i have problems to access network.

Audit log shows:
Module-Failure-Message = "rest: Request failed: 28 - Timeout was reached"
Module-Failure-Message = "rest: Server returned no data"

It started to happen after last pf-maint.pl done

[2020-07-29 12:00] #5722 closed

[2020-07-29 17:18] fdurand opened #5729 "Should be possible to set multiples ca cert in radius ssl"
**Describe the bug**

When i have to add multiples ca certificates in the Certificate Authority section and when i save only one of them is saved.

Freeradius support multiples CA in the same file, so PacketFence should support that.

**To Reproduce**
1. Go to 'https://mgmt_ip:1443/admin/alt#/configuration/certificate/radius'
2. Click on 'Edit'
3. Fill Certificate Authority with:

[code]

4. Save

[2020-07-30 05:53] #5727 closed

[2020-07-31 16:09] fdurand commented on #5721
in routed network too

[2020-08-01 05:47] lazypaul commented on #4649
no do not slove

发自我的iPhone

在 2020年7月14日，19:00，nvyao <notifications@github.com> 写道：

﻿

That's more a configuration question for the mailing list than a bug

But, had already difined the security events, nothing trigger , not a bug ?

Hi man，Have you solved the problem yet？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.co

[2020-08-03 15:52] fdurand opened #5731 "Source list is limited to 25"
**Describe the bug**
When you go in the authentication sources in the admin gui, only 25 sources are available.

**To Reproduce**
Steps to reproduce the behavior:
1. Have more than 25 authentication sources
2. Click on 'Configuration-> Authentication sources'
3. You can see only 25 sources

**Expected behavior**
We should be able to see all of them

**API CALL**

/api/v1/config/sources?fields=id,d

[2020-08-04 14:30] fdurand opened #5732 "Create a single user without a category raise an error."
**Describe the bug**
Create a single user in the admin gui raise an error in the logs, not in the frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'User create'
2. Create a user
3. Save
4. Aug  4 10:25:01 bibop: pfperl-api(22616) ERROR: Database query failed with non retryable error: Column 'category' cannot be null (errno: 1048) [INSERT INTO `password` ( `access_duration`, `a

[2020-08-04 14:31] fdurand opened #5733 "LDAP Cache issue"
**Describe the bug**
When the cache is enable in a ldap source, sometimes teh cache return a wrong answer and the device is assigned the wrong role.

Disable the cache fix is a workarround

[2020-08-04 15:16] #5733 closed

[2020-08-05 09:02] giacintocaretto commented on #5685
same problem on :
OS centos 7
PF ver 10.1
fingerbank-collector 1.3.6

if i run
yum info  fingerbank-collector  --enablerepo=packetfence
I find that vesrion 1.3.8 is available

does this version solve the problem?
 using only command
yum update  fingerbank-collector  --enablerepo=packetfence

or using the sequence :

/usr/local/pf/bin/pfcmd service pf stop
sudo systemctl stop packetfence-config

yu

[2020-08-06 13:00] jrouzierinverse commented on #5732
This is strange as the category can be null according to the database schema.
Also created a user and did not get this error.
Which version of PacketFence did this happen on?

[2020-08-06 13:08] #5597 closed

[2020-08-07 06:51] lyubomirtraykov opened #5736 "Deprecate Gaming Devices Registration"
I think it is time to remove Gaming Devices Registration and all components related to it. The standard use-cases can cover the gaming registration.  Packetfence is mostly used in the enterprise and education. Seeing gaming functionality is strange and awkward.

[2020-08-07 11:21] lzammit opened #5737 "Role field missing from the variable to import Users via CSV"
![image](https://user-images.githubusercontent.com/5261214/89640756-3f6fec80-d87e-11ea-82c6-970bfd879581.png)

It does show up at the static section:

![image](https://user-images.githubusercontent.com/5261214/89640868-79d98980-d87e-11ea-925f-3d164058d159.png)

But if I want to import:
[code]
[code]

[2020-08-07 12:23] jrouzierinverse commented on #5736
Managing Gaming Console is a common use case in education.
Also, We moved to a more generic device registration a long time ago.
What components are referring to?

[2020-08-07 13:03] lyubomirtraykov opened #5738 "Fingerbank Device Class is not working properly for local combinations"
If you create local fingerbank combination the device class is the same as device type, not the top parent of the fully qualified device name. Another thing that i noticed is that the device manufacturer is empty.

[2020-08-07 13:14] lyubomirtraykov commented on #5736
Now that you are working on role deletion it would be nice if we could remove gaming role. My staff is asking what is this role for.

[2020-08-07 13:20] jrouzierinverse commented on #5736
Are roles the only component you were referring to?

[2020-08-07 13:37] lyubomirtraykov commented on #5736
Yes

[2020-08-07 13:38] jrouzierinverse commented on #5736
The gaming role is a standard PacketFence role nothing to do here.

[2020-08-07 13:38] #5736 closed

[2020-08-07 17:09] #5049 closed

[2020-08-07 18:15] jrouzierinverse commented on #3411
I don't think this relevant anymore.

[2020-08-07 18:39] jrouzierinverse commented on #5737
This is mostly GUI at the moment @satkunas let me know if you need anything from the backend.

[2020-08-07 18:41] jrouzierinverse commented on #3616
Is this still an issue or should we close it?

[2020-08-07 18:45] jrouzierinverse commented on #4669
To support this would need to move to use uf8mb4 encoding.
I would suggest doing this for the 11.0 release.
Since this requires a lot of database changes.

[2020-08-07 18:47] jrouzierinverse commented on #4454
This has been done @satkunas was anything else needed for this?

[2020-08-07 18:48] jrouzierinverse commented on #4263
Can you clarify what exactly needs to be done for this issue?

[2020-08-07 18:50] jrouzierinverse commented on #3664
This seems to be fixed can we close?

[2020-08-07 19:18] jrouzierinverse commented on #794
When a new connection profile is added but there are old templates in the file system we should display the warnings.
given back by the API.
@satkunas or @cgx can you handle the part.

[2020-08-07 21:47] #5721 closed

[2020-08-08 09:44] lyubomirtraykov opened #5741 "Firewall SSO 'Stop' request delay"
Add the ability to set  Firewall SSO 'Stop' request delay. It will be useful for Wireless-AP roaming, if the node or the AP doesn't support 802.11r or OCK. We could set the delay for example 5 seconds and if we get  Firewall SSO 'Start' request from the node in that timeframe, we  won't  send the 'Stop' request, else we sent the 'Stop' request.

[2020-08-10 06:14] nqb commented on #5728
Hello @olmanolsztyn,

1. On which PF version do you have this issue ?
2. At which date did you apply your "last pf-maint.pl" ?

Thanks.

[2020-08-10 06:23] #3616 closed

[2020-08-10 06:36] olmanolsztyn commented on #5728
1. 10.1.0
2. 12 days ago i guess.
It is test environment and few devices are connecting to network using this NAC.
Before update i didnt have this issue.

[2020-08-10 08:39] nqb commented on #5036
This issue is not fixed from my point of view. If I use same steps to reproduce provided in issue description, I got same behaviour.

[2020-08-10 11:51] nqb commented on #5715
fd5cee019044e1e4a74b119e30838e41729b69f7 is related to this issue too.

[2020-08-10 12:30] fdurand commented on #5732
10.1 with latest maintenance patch

[2020-08-11 06:04] nqb commented on #5728
Is this issue only concern Mac Auth users ?

[2020-08-11 06:06] olmanolsztyn commented on #5728
No. Dot1x users in this case.
It happens randomly.

[2020-08-11 07:03] nqb commented on #5728
Most of the time, this error is caused by PacketFence taking too much time to perform authorization step. Consequently, FreeRADIUS timeout. Could you check in `packetfence.log` if there is some slow operations when you got this error ?

[2020-08-11 07:52] olmanolsztyn commented on #5728
I see logs in packetfence.log:

`LDAP testing connection (pf::LDAP::expire_if)`
`Error binding: 'I/O Error Resource temporarily unavailable' (pf::LDAP::log_error_msg)`
`LDAP connection expired (pf::LDAP::expire_if)`

[2020-08-11 08:52] olmanolsztyn commented on #5728
I raised LDAP source authentication timeouts and will check if it helped.

[2020-08-11 17:45] Powersquids commented on #5223
Pull request submitted.

[2020-08-11 17:45] #5223 closed

[2020-08-12 10:04] nqb opened #5745 "haproxy-db can cause pfcmd service restart to fail"
**Describe the bug**
On a Debian setup running v10.1.0 in a cluster environment, I noticed that `pfcmd service pf restart` command fails randomly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pfcmd service pf restart` on one member of the cluster.

You got following result:
[code]

`packetfence-config` is unable to reach the DB. I'm unable to reach the DB using `mysql -u pf -p -h 127

[2020-08-12 14:02] jrouzierinverse commented on #5732
Can you run the following SQL "```DESC password;```"?

[2020-08-12 14:38] #5615 closed

[2020-08-13 05:45] olmanolsztyn commented on #5728
Timeout appears less frequently but still happens randomly.
I have another radius servers that are using the same ldap authentication source and dont have any timeout issues.

[2020-08-17 12:23] julsemaan commented on #5738
As our issue template states, please provide the steps you followed to do this as well as the result and the expected behavior.

An example will also help here.

[2020-08-17 12:58] lyubomirtraykov opened #5747 "[GUI] Removing actions in VLAN Filters is not working"
When you remove action in the VLAN filters from the Web GUI, it is removed from the GUI but it stays in the vlan_filters.conf.

[2020-08-17 13:26] lyubomirtraykov commented on #5738
Ok here is my local combination:
<img width="1160" alt="Screen Shot 2020-08-17 at 16 18 15" src="https://user-images.githubusercontent.com/17347347/90400822-bd659c00-e0a5-11ea-98ab-0a1ab7122af4.png">
And here is how it if fingerprinted:
<img width="1154" alt="Screen Shot 2020-08-17 at 16 20 08" src="https://user-images.githubusercontent.com/17347347/90400893-dd955b00-e0a5-11ea-9010-be268c8a344e.pn

[2020-08-17 19:35] julsemaan opened #5748 "SmartZone web-auth deauth doesn't work for reg->unreg"
**Describe the bug**
The web-auth deauth in the SmartZone module checks the connection type which changes once we receive the RADIUS request when the login is triggered. That means that going from reg to unreg uses RADIUS instead of the HTTP northbound interface.

Issue is here:
https://github.com/inverse-inc/packetfence/blob/9c583e6d5c6f993cca04391d145e58dd899bc66d/lib/pf/Switch/Ruckus/SmartZone.

[2020-08-18 07:03] lyubomirtraykov opened #5749 "No Radius Request in RADIUS Audit Log when using TLS"
I have configured Windows to use Computer or User authentication. When a computer authenticates the Audit log is OK, but if a user authenticates the Audit log looks like this:
<img width="1005" alt="Screen Shot 2020-08-18 at 9 49 58" src="https://user-images.githubusercontent.com/17347347/90481098-de77cc80-e139-11ea-8bfc-b8b4899f6158.png">
It is the same for TTLS and PEAP when using certificates.

[2020-08-18 09:54] nqb opened #5750 "web admin: issue when sorting Security Events quickly"
**Describe the bug**
As reported by @ZdenekPala, when you try to sort security events without waiting enough to have full content loaded between each click, you can get an incomplete list of results sorted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Security events menu (wait full load of progress bar)
2. Sort results by Status (**don't** wait full load of progress bar)
3. Sort ag

[2020-08-20 05:45] nqb opened #5751 "web admin: SNMP version is prefixed with a useless "v""
**Describe the bug**
When you specify a SNMP version for a switch using GUI, you have to choose between 3 values in a dropdown:
- v1
- v2c
- v3

but API call sent doesn't contain the **v** letter and value saved in `switches.conf` too.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new switch with SNMP Version equals to `v2c`
2. Check value sent by API call: `SNMPVersion: 2c`
3. Ch

[2020-08-20 12:08] nqb opened #5752 "ZEN: create a dedicated partition for /var/lib/mysql and disk of 100GB"
ZEN is currently provided with a single partition running on a disk with 40GB.

In order to meet our requirements, we could:
- increase disk size to 100GB
- use a dedicated partition for /var/lib/mysql

[2020-08-20 13:08] julsemaan opened #5754 "Fingerbank profiling not triggered on registration interface if PF is not the DHCP server"
**Describe the bug**
When a registration interface doesn't see the DHCP ACKs (i.e. external DHCP server used for the reg VLAN), it doesn't attempt to do the Fingerbank profiling.

We need to adjust the code so that if DHCP server is disabled for that network, it acts on the DHCP request and not the DHCP ACK (as we're unlikely to see it)

Issue related to findings from @ZdenekPala

[2020-08-20 13:15] julsemaan opened #5755 "Create a security event that detects random MAC addresses"
With the rise in popularity of randomized MAC addresses, we should ship a security event to help administrators deal with this:

The security event would have as a trigger the different MAC patterns that define a randomized MAC.

The template should explain why the device was isolated and provide per OS instructions on how to disable this (Apple and Android should be enough for now I believe)

We

[2020-08-20 13:16] julsemaan commented on #5755
Lets note that this is possible in 10.1 through configuration and creating a custom template but shipping something built-in seems to be necessary as I can already see this request coming over and over again

[2020-08-20 14:01] julsemaan commented on #5752
I'd go with just the 1st one (increase to 100GB) since its consistent with the current specs we give customers

[2020-08-20 14:14] nqb commented on #5752
We can go with 2nd if @extrafu merges #5753 ;-)

Having a dedicated partition for MariaDB doesn't sound like a good idea to you @julsemaan ?

[2020-08-20 14:40] nqb opened #5756 "last_arp field is not used anymore"
**Describe the bug**
`last_arp` field on node doesn't seems to be updated when PacketFence see an ARP request coming from a node.

I have noticed this behavior on a VLAN enforcement setup. It should be the same on inline L2 setup.

**Expected behavior**
`last_arp` field should be updated when PacketFence see an ARP request coming from a node.

**Additional context**
As discussed with @julsemaan, w

[2020-08-20 14:48] julsemaan commented on #5752
Its not standard with what we tell our customers to do.

I'm not against changing standards but if we go with this we need to be consistent in *all* future deployments and require that they put a partition or separate disk for MySQL which IMO is useless in the vast majority of the cases.

I like having it all in the root partition since its hard to size the DB partition because there isn't a one s

[2020-08-20 15:06] nqb commented on #5752
Thanks for your feedback: I was not aware about monit design scripts.

Problems if see with everything in `/` are:

- if you want to increase size of `/`, you have to do it in a rescue mode unless you're using a logical volume management (LVM). With a dedicated partition, you don't need to shutdown completely your system.

- if DB size grows signifcantly for any reasons, system can completely cras

[2020-08-20 15:10] nqb commented on #5752
I'm not sure every customers deployments have everything in `/`. CentOS and Debian by default propose to have several mount points. I will be happy to get point of view of @lzammit and @fdurand on that topic.

Anyway, if we decide to keep everything in `/`, we should put something in documentation (currently we don't have any recommendation on that topic).

[2020-08-20 15:17] extrafu commented on #5752
Before I merge #5753, we need to agree on /var/lib/mysql being on a separate partition.

While I am OK to have /var/lib/mysql on a separate partition, I strongly disagree to split things even more - like /var, /home or /usr on separate partitions.

[2020-08-20 15:35] julsemaan commented on #5752
The standard template when asking customers to build a machine has everything in root

Also the default install of CentOS puts everything in root now (it used to create a /home but it doesn't anymore and it certainly doesn't create a /var/lib/mysql)

Nonetheless, if we move forward with this change, we *must* make sure that our monit script detects this and monitors the partition. Otherwise, its a

[2020-08-20 15:36] julsemaan commented on #5752
Let's make sure that this change doesn't cause this:
![image](https://user-images.githubusercontent.com/3857942/90793155-60522c00-e2d9-11ea-806c-cf9fb9c2acc1.png)

[2020-08-21 11:31] e8ahubi opened #5757 "Configuration Wizard: Database Creation fails"
**Describe the bug**
The Configuration Wizard fails to create the pf db with the message: Error applying the schema to the database packetfence

The following error appears in the /usr/local/pf/logs/mariadb_error.log file:
InnoDB: Cannot add field `Open_Saturday` in table `packetfence`.`wrix` because after adding it, the row size is 8215 which is greater than maximum allowed size (8126 bytes) for

[2020-08-21 11:41] julsemaan commented on #5757
You shouldn't have this version of MariaDB installed.

Which repos do you have enabled during the install ?

[2020-08-21 13:24] e8ahubi commented on #5757
The default repos. I also used the following commands:
subscription-manager repos --enable rhel-7-server-optional-rpms
subscription-manager repos --enable rhel-7-server-extras-rpms

Which MariaDB version would be the correct one?

[2020-08-21 13:39] julsemaan commented on #5757
the one shipped in our repo:
http://inverse.ca/downloads/PacketFence/CentOS7/x86_64/RPMS/MariaDB-10.1.21-centos7-x86_64-server.rpm

[2020-08-21 13:53] e8ahubi commented on #5757
okay thank you, i will try this one.

MariaDB 10.1 is end of support in October 2020 tho. Are there any plans to support newer versions of MariaDB in the future?

[2020-08-24 09:35] nqb opened #5758 "Dell N1500.pm: LLDP detection doesn't work"
**Describe the bug**
When you enabled VoIP detection using Dell N1500 switch module, LLDP detection returns a wrong MAC in `@phones` array. I got: `0x:48:7a:5e:1a:fa` (wrong prefix and last two chars missing).

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a Dell N1500 to do VoIP detection using LLDP
2. Plug a voice phone (not see by PacketFence previously)

=> Phone is not auto-r

[2020-08-24 18:24] #5737 closed

[2020-08-25 11:04] jrouzierinverse commented on #5751
What issues did this cause?

[2020-08-25 11:11] jrouzierinverse commented on #5732
Can you run the following SQL ```DESC password;```?

[2020-08-25 11:23] jrouzierinverse commented on #4454
@satkunas was anything else needed for this?

[2020-08-25 12:43] nqb commented on #5751
No issue but my customer suspect a wrong handling of SNMP community

[2020-08-25 12:59] aend opened #5760 "warnings for uninitialized value in radiusd_child.pm line 1217"
**Describe the bug**
The log file packetfence.log is full (at least 1 on each second) of the following warning:

`packetfence packetfence: pfcmd.pl(16284) WARN: Use of uninitialized value in string eq at /usr/local/pf/lib/pf/services/manager/radiusd_child.pm line 1217.  (pf::services::manager::radiusd_child::generate_eap_choice)`

**To Reproduce**
We noticed the logs when we were trying to setup a

[2020-08-25 13:42] gaamdhar opened #5761 "winbindd-wrapper going in defunct state"
**Describe the bug**
when we start the service packetfence-winbindd, it starts but process winbind goes in defunct mode and wrapper again starts it and it again goes in defunct state

We are using PF version packetfence-10.1.0-20200617132524.157294356.0007.v10.1.0.el7.x86_64

if we run below command manually and leave it running in the background then everything works fine.

winbindd --foreground

[2020-08-25 17:32] jrouzierinverse commented on #5751
This a very cosmetic change. Has anyone else had issues with someone being confused?

[2020-08-25 18:02] julsemaan commented on #5760
Please post your authentication.conf, domain.conf and realm.conf

[2020-08-25 18:06] julsemaan commented on #5751
My opinion is that this is a non-issue. The display matches what people usually call them which is the goal of the display value that doesn't necessarily match the underlying backend value

[2020-08-25 19:29] julsemaan opened #5762 "Viewing the nodes page launches a lot of calls to fetch the switch group members"
**Describe the bug**
If you have 200 switch groups defined in PF and you open the node page, it triggers 200 calls to `/api/v1/config/switch_group/$group/members` to populate the searches.

Instead, it should fetch the members when we expand a switch group to view its members

This prevents the nodes from being searched because of the pending calls to get the switch members

This happens on 10.1 b

[2020-08-26 05:27] nqb commented on #5762
Similar to https://github.com/inverse-inc/packetfence/issues/5603

[2020-08-26 06:05] aend commented on #5760
**authentication.conf**
[code]

**domain.conf**
[code]

**realm.conf**
[code]

[2020-08-26 11:37] julsemaan commented on #5760
Is this an upgrade or a fresh install ?

[2020-08-26 11:40] aend commented on #5760
It's a fresh install from RPM of packetfence-10.1.0-20200617132524

[2020-08-26 11:49] julsemaan commented on #5760
In that case there is an issue with the frontend or backend that omits the new `eap` field.

Can you try to do:
[code]

And let me know if it still shows the warning.

In the meanwhile I'll get onto a fix for this

[2020-08-26 11:51] lyubomirtraykov opened #5763 "Select LDAP Start TLS and LDAPS CA certificate and Client certificate"
Add the ability to set LDAP Start TLS and LDAPS certificates form the Web GUI. We need this because Microsoft is changing the AD LDAP signing requirements. You can read [here](https://support.microsoft.com/en-us/help/4520412/2020-ldap-channel-binding-and-ldap-signing-requirements-for-windows).

[2020-08-26 12:02] aend commented on #5760
The warnings are now gone.

[2020-08-26 13:43] nqb commented on #5752
@julsemaan, I will check monitoring scripts. Do you have a specific monit script in mind ?

@lzammit, how do you configure your setups ? I'm sure you install PacketFence in /tmp.

[2020-08-26 14:21] #5760 closed

[2020-08-26 14:24] julsemaan commented on #5760
Fix is done, it will only impact the new realms you create, existing realms will have to be saved again in the admin or the instructions in my previous comment will have to be followed.

You can get the fix using:
[code]

[2020-08-26 14:26] #5463 closed

[2020-08-26 14:27] julsemaan opened #5764 "Cherry-pick #5464 in the maintenance after 10.2 is released"
Title says it all!

[2020-08-26 14:51] aend commented on #5760
Done, thanks

[2020-08-26 19:15] julsemaan opened #5765 "pfdns returns host entry for portal domain name"
**Describe the bug**
If your portal domain name is `portal.zammitcorp.com` and you have a host entry for it, pfdns returns the host entry instead of the 66.70.255.147 address

**To Reproduce**
1. Set portal domain name to `portal.zammitcorp.com`
1. Add host entry:
[code]
1. Restart pfdns
1. Try to resolve portal.zammitcorp.com on pfdns, you'll get 1.2.3.4 instead of 66.70.255.147

**Expected behav

[2020-08-26 19:24] julsemaan commented on #5765
The hosts middleware has precedence over the pfdns middleware as seen here:
https://github.com/inverse-inc/packetfence/blob/993a1d05b1e927206ad4151e13df9486e2ac0daa/go/coredns/core/dnsserver/zdirectives.go#L13-L43

And the hosts middleware is being used in pfdns.conf but I'm not sure why:
https://github.com/inverse-inc/packetfence/blob/993a1d05b1e927206ad4151e13df9486e2ac0daa/conf/pfdns.conf.examp

[2020-08-26 20:18] bbs2web commented on #5765
Was bitten by this today as well. I thought the go stuff needing to be compiled so I hashed out the 'hosts' section in pfdns.conf...

[2020-08-27 00:36] fdurand commented on #5765
The hosts middleware has been added for inline mode, per example if the dns server used by the inline network is 8.8.8.8 and you want to be able resolve internal fqdn like internal smtp server.

The solution should be use this syntax:

[code]
So we use another file for that.
Also what is the reason to put the portal fqdn in the hosts file ?

[2020-08-27 06:50] bbs2web commented on #5765
In our case the hostname of the system is packetfence.xxx.com, which is also the portal URL. Debian has a default approach of having a hosts entry matching the FQDN that resolves to 127.0.1.1, so the default pfdns.conf file resulted in all DNS queries in the registration network being directed at the correct IP except for the portal itself, which was resolving to 127.0.1.1 and obviously then not r

[2020-08-27 07:11] bbs2web opened #5766 "PF 10.1 - User Bandwidth report shows users as 1, 2, 3, 4, etc..."
User Bandwidth report was working in PF 9.3 but appears to be broken since upgrading to 10.1. Report sample:
![pf_10 1_user_bandwidth](https://user-images.githubusercontent.com/1456100/91409114-3ce13100-e845-11ea-828c-e0fe5c221bb0.png)

[2020-08-27 09:19] nqb commented on #5752
I can confirm that monitoring scripts worked in a standalone or cluster environment when `/var/lib/mysql` is in a dedicated partition.

I tested following scripts (in `/usr/local/pf/addons/monit/monitoring-scripts/` directory) by hand:
* check-2502.sh
* check-galera-max-conn.sh
* check-innodb-file-per-table.sh
* check-mysql-binary-log.sh
* check-wsrep-members.sh
* monitor_mysql_connections.pl

Dur

[2020-08-27 10:06] sonaligulia opened #5767 "rest: ERROR: Server returned no data"
everything was working fine but now users getting  rejected

**error:**
rest: ERROR: Server returned no data
 Login incorrect (rest: Request failed: 28 - Timeout was reached)

any solutions ???

[2020-08-27 10:12] extrafu commented on #5767
Yes, use the mailing list for such questions.

[2020-08-27 10:12] #5767 closed

[2020-08-27 11:03] julsemaan commented on #5752
We also need to monitor the actual partition for disk usage when its there so that it doesn't fill up

[2020-08-27 11:03] julsemaan commented on #5766
@satkunas, I recall you adjusted these reports for v10, can you take a look at this ?

[2020-08-27 11:06] julsemaan commented on #5765
I know this is not common to do this (put the portal FQDN in the /etc/hosts) but when it does, its a pretty hard issue to troubleshoot and is not the behavior the user expects in a registration VLAN

For this case, moving the hosts middleware after pfdns should still allow you to do that so I think that will be our fix if you agree @fdurand

[2020-08-27 12:20] aend opened #5768 "warning and error related to fingerbank on /DynamicRouting/Application.pm line 140"
**Describe the bug**
The log is full of warning an errors related to fingerbank, the are generated about every 15seconds:

[code]

**To Reproduce**
We notice the issue after a reboot

**Desktop (please complete the following information):**
CentOS 7, from a clean installation of PacketFence 10.1

[2020-08-27 12:58] julsemaan opened #5769 "Captive portal popup (CNA) doesn't work on Samsung Android 10"
**Describe the bug**
It seems the Samsung CNA saga isn't over yet. I have reports of Samsung devices running Android 10 that aren't able to open the captive portal automatically. They perform a DNS query for connectivitycheck.gstatic.com but no HTTP request reaches the server for the check to happen.

I also tried the previous workaround (returning the real IP of connectivitycheck.gstatic.com via

[2020-08-27 12:58] nqb commented on #5768
Hi,

What is the state of fingerbank-collector ? Did you configure a Fingerbank API key ?

[2020-08-27 12:59] julsemaan commented on #5769
Some notes on the environment where the issue was detected:
- Using DNS enforcement
- Opening the portal in the browser works fine
- No SSL chain issue as far as I can tell
- All OSCP checks are allowed to go through

[2020-08-27 13:27] aend commented on #5768
Hi, I did not configure it.
In the services page is set as disabled, if I try to start it manually it is flagged as not required for the configuration.
After that the PID is set to 0 and the log says
[code]

[2020-08-27 14:05] #5762 closed

[2020-08-27 14:12] satkunas opened #5771 "Admin Sidebar Nested CSS"
**Describe the bug**
The updated Bootstrap CSS has messed with the sidebar. See the attached screenshot from the Nodes section.

![Screenshot_20200827_101018](https://user-images.githubusercontent.com/3904468/91453436-b5e48680-e84d-11ea-866e-0b20a9f30dd4.png)

[2020-08-27 14:21] satkunas commented on #5603
Improved fix in #5762

[2020-08-27 15:24] julsemaan opened #5772 "Failed to create a local user that only has admin access"
**Describe the bug**
I tried to create a local user that only has an admin right and it failed with this error:
[code]

**To Reproduce**
1. Create a local user that has only an "Access level" action

**Expected behavior**
Should be able to create a local user without having to specify all the actions like role and unregdate

This is on 10.1

[2020-08-27 15:30] julsemaan opened #5773 "Admin trying to fetch cluster status when user is only a "Node Manager""
**Describe the bug**
When someone with the admin role "Node Manager" logs in, the admin tries to fetch the cluster status and that creates an error around the user not having SYSTEM_READ. The admin shouldn't be firing this call at all since the user doesn't have access to that section

**To Reproduce**
1. Create a node with "Node Manager"
2. Log into the admin with that account
3. You will see a c

[2020-08-27 15:51] jrouzierinverse commented on #5772
This is a duplicate of #5732
Can you run the following SQL ```DESC password;```?
Because the column category is allowed to be null on the password table.

[2020-08-27 17:26] julsemaan commented on #5772
[code]

[2020-08-27 17:33] jrouzierinverse commented on #5772
For some reason, the category is NOT NULL.

[code]

[2020-08-27 17:36] julsemaan commented on #5772
I just connected on a setup that has been upgraded since 3.6.1 and the category is allowed to NULL so this issue is specific to the environment. My guess is that @fdurand was also working on the environment that has this issue but I'll let him close #5732 and will inform him about the issue privately so he can address it at his customer.

[2020-08-27 17:36] #5772 closed

[2020-08-27 17:39] jrouzierinverse commented on #5772
For some reason, the password table category is no longer NULLABLE.
This should fix it.
```ALTER TABLE password CHANGE COLUMN category category int DEFAULT NULL;```

[2020-08-28 15:01] vampywiz17 opened #5774 "Aruba-2540-48G-PoEP-4SFPP - SNMP problem"
Hello there,

I try to configure a Aruba-2540-48G-PoEP-4SFPP switch. I successfully set it and packetfence recognise the connected node, but it show the log:

[code]

It seems that can not rewrite the dummy mac address that i write it to the switch inital config (that the documentation said)

I duble check the snmp community name and it correct and able to write it. What i was wrong?

[2020-08-31 05:19] nqb commented on #5774
Hello,

Please use [packetfence-users mailing-list](https://packetfence.org/support.html#/community) for this kind of issue.

[2020-08-31 05:19] #5774 closed

[2020-09-01 12:55] jrouzierinverse commented on #5751
I move to close this issue.

[2020-09-01 14:23] julsemaan opened #5775 "MAC address of imported nodes isn't being cleaned"
**Describe the bug**
The MAC address of nodes in "Node import" section aren't being cleaned by the backend while importing

**To Reproduce**
1. Import a file with the following content:
[code]
2. Check the DB:
[code]

**Expected behavior**
MAC addresses should always be cleaned during the import

**Additional context**

This is on 10.1, likely affects all v10 and potentially v9

[2020-09-01 14:24] julsemaan commented on #5775
Also, here is the payload that is being sent to /api/v1/nodes/bulk_import:
[code]

[2020-09-01 15:22] #5775 closed

[2020-09-02 06:57] nqb commented on #5751
In fact, the issue is that frontend displays a wrong value from `switches.conf` (for example `2c`) when switch inherits value from a switch group.

[2020-09-02 13:28] aend commented on #5768
**How to reproduce**
On a fresh installation:
- in configuration->policies-> connectoin profiles
- on default profile click on preview
- when the preview open the following lines (including the error) appera in the logs:
[code]

**Expected**
Fingerbank is considered optional, I should not get error every time I access the portal.

**Note**
On the previus I get the error log as soon as I start the

[2020-09-03 11:22] nqb opened #5776 "NasPortToIfIndex for switch templates"
**Is your feature request related to a problem? Please describe.**
When you try to restart a switchport (using Restart switchport button in GUI), `port` saved in `locationlog` table should match ` ifindex` of switchport on switch.

Currently, there is no way when you use a switch template (in place of a Perl module) to have a [NasPortToIfIndex](https://github.com/inverse-inc/packetfence/blob/ce1df

[2020-09-03 13:41] nqb opened #5777 "Golang unit tests: TestSimpleProxy i/o timeout on captive.apple.com"
**Describe the bug**
Since a week or two, when running Golang unit tests in CI, TestSimpleProxy [failed](https://gitlab.com/inverse-inc/packetfence/-/jobs/717163855#L832) randomly when trying to reach captive.apple.com on several IPs with following error:

[code]

**To Reproduce**
Run ` proxy_test.go` unit test

**Expected behavior**
Unit test should pass because I didn't see recent changes that c

[2020-09-03 14:29] nqb commented on #5718
@julsemaan,

From my point of view, if we support sorting interfaces, we should rely on `ifindex` attribute in place of `id` because `ifindex` is consistent on all OS. I don't know how frontend sort interfaces currently. Any idea @satkunas  ?

[2020-09-03 18:31] julsemaan opened #5778 "Using the quick search of the switch groups searches for invalid ranges"
**Describe the bug**
If you use the quick search of the switches in the left menu and search for a switch range (ex: 10.0.0.0/8), it searches for '10.0.0.0' and omits the mask which yields no results at all

**To Reproduce**
1. Create a switch with identifier '10.0.0.0/8'
1. Try to use the quick search in the left menu of the load page to search for it

**Expected behavior**
Should search for '10.

[2020-09-03 19:06] julsemaan commented on #5718
I think we just shouldn't support sorting interfaces but that's my 2 cents

[2020-09-04 16:58] julsemaan commented on #5768
Let me check why this is happening it shouldn't be doing that unless Fingerbank is enabled

[2020-09-04 17:05] #5768 closed

[2020-09-04 17:06] julsemaan commented on #5768
It should be fixed now and I pushed it in the maintenance.

You can get the latest patches using:
[code]

[2020-09-07 14:28] #5777 closed

[2020-09-07 14:32] aend commented on #5768
I confirm the fix, the error is not showing anymore

[2020-09-08 05:12] nqb commented on #5755
If it's possible in 10.1, we can create a dedicated section in your documentation for version before 10.2.

[2020-09-08 15:08] satkunas commented on #5778
Fixed with 22e0c122c1ca299a97e72bcc7bda5d6ca32ed30b

[2020-09-08 19:44] #5747 closed

[2020-09-08 20:12] JeGoi opened #5780 "random error on httpd.dispatcher"
**Describe the bug**
httpd.dispatcher failed

**Expected behavior**
After httpd.dispatcher restart, everything is running well.

**Additional context**
Sep 08 11:32:20 jg-cluster01 httpd.dispatcher[18151]: t=2020-09-08T11:32:20-0400 lvl=eror msg="Recovered panic: runtime error: invalid memory address or nil pointer dereference." pid=18151 request-uuid=7c226821-f1e8-11ea-a7da-000c29283a56
Sep 08 11

[2020-09-09 07:54] Alckiviad commented on #5769
Hi i have the same issue in my project. I find some solution here https://github.com/espressif/arduino-esp32/issues/1037#issuecomment-461940147 . It helps me

[2020-09-09 10:39] jrouzierinverse commented on #5732
For some reason, the password table category is no longer NULLABLE.
This should fix it.
```ALTER TABLE password CHANGE COLUMN category category int DEFAULT NULL;```

[2020-09-09 10:39] #5732 closed

[2020-09-09 13:13] nqb commented on #5755
Once we have solution, we will post it here.

[2020-09-09 13:34] nqb commented on #5776
PR in progress: #5779

[2020-09-09 14:10] ramoralescsotec opened #5782 "Error on saving survey data packetfence_httpd.portal"
**Describe the bug**

Caught exception in captiveportal::Controller::Root->dynamic_application "Can't call method "value" on an undefined value at /usr/local/pf/lib/captiveportal/PacketFence/DynamicRouting/Module/Authentication.pm line 124."

I have a survey at the portal with null source authetication, everything worked fine until 2 weeks ago when increment the Mikrotik switches in 30% ,then  ran

[2020-09-09 14:27] nqb opened #5783 "Support different SSL certificates for web admin and captive portal"
**Is your feature request related to a problem? Please describe.**
On v10.1.0, you can't have two different certificates for web admin and captive portal because:
- `haproxy-admin` has `server.pem` certificate hard-coded
- SSL certificates menu in GUI don't allow you to configure two different certificates

**Describe the solution you'd like**
Having two SSL certificates:
- one for web admin (like

[2020-09-09 19:55] julsemaan commented on #5782
It seems its an error creating the form, please share your survey configuration

[2020-09-10 08:05] nqb opened #5785 "web admin: wrong HTTP certificate display in v10"
**Describe the bug**
Starting from v10, `/usr/local/pf/conf/ssl/server.crt` is not used by default because `httpd.admin` is disabled by default (see
https://github.com/inverse-inc/packetfence/commit/508b78a3ed8bae47e4337a2ef867d3237f0b20ec).

However, HTTP SSL certificate display in GUI (System Configuration -> SSL certificates) is still `/usr/local/pf/conf/ssl/server.crt`.

**To Reproduce**
Steps

[2020-09-10 11:21] julsemaan commented on #5785
This can't be a +1 though since it involves moving the admin cert+key into its own file and adding API endpoints + adjusting the admin

[2020-09-10 12:21] nqb commented on #5785
From my point of view, this is more a solution for #5783.
If we want to fix this issue for maintenance/10, we can display content of `server.pem`

[2020-09-10 13:01] julsemaan commented on #5785
server.pem should *always* be a product of server.crt unless people are editing the files manually.

In that case, my opinion is that they shouldn't expect the GUI to cope with their manual changes

[2020-09-10 15:38] ramoralesc commented on #5782
Hi julsemaan,
tnks,  this is the survey configuration:

[survey2]
description=Permítenos conocer tu experiencia
[survey2 field experiencia]
label=Califique de 1 a 5 su anterior experiencia de navegación en Zona+Digital Mejor País del municipio....,siendo 1 la peor nota y 5 la mejor.
type=Scale
minimum=1
maximum=5
required=yes
[survey2 data ssid]
query=node.last_ssid
[survey2 data device_class]
que

[2020-09-11 18:01] satkunas opened #5787 "Improve api-frontend error handling on invalid X-PacketFence-Tenant-Id header"
**Describe the bug**
`GET /api/v1/config/realm/DEFAULT`

with header:

`X-PacketFence-Tenant-Id: undefined` (or any non numeric value)

produces

```Sep 11 13:48:53 packetfence api-frontend[15216]: t=2020-09-11T13:48:53-0400 lvl=warn msg="Impossible to parse X-PacketFence-Tenant-Id undefined into a valid number, error: strconv.Atoi: parsing \"undefined\": invalid syntax" pid=15216 request-uuid=0e8

[2020-09-12 05:08] alemonmk opened #5788 "pfacct: only listen on management network"
**Describe the bug**
pfacct does not listen to designated RADIUS interfaces, only on management interface. I use Packetfence solely in RADIUS enforcement mode, and have my network devices sit in a separated network which the management interface cannot reach, configured to do RADIUS only via this network.

**To Reproduce**
1. Set up an network with type `other, radius`.
2. `ss -antup | grep 1813`

[2020-09-12 05:26] alemonmk opened #5789 "Provide server override when using Let's Encrypt cert management"
**Is your feature request related to a problem? Please describe.**
My Packetfence instance is installed behind a closed server network, and since internal DNS names are naturally unable to be resolved by public Let's Encrypt servers, ACME certificate management with Let's Encrypt is impossible. However, [step-certificate](https://smallstep.com/certificates/) by Smallstep and [boulder](https://gith

[2020-09-14 06:36] sonaligulia opened #5791 "openvas20.0.8 require port list id while creating target"
hey , openvas upgraded and omp unable to create task with error require port list . kindly upgarde this .

PacketFence-ZEN packetfence_httpd.aaa: httpd.aaa(2577) INFO: [mac:[undef]] Creating a new scan target named 160008315756ae61600083157.5xxxx for host 10.x.x.x (pf::scan::openvas::createTarget)
 PacketFence-ZEN packetfence_httpd.aaa: httpd.aaa(2577) WARN: [mac:[undef]] There was an error creati

[2020-09-14 12:20] nqb commented on #5785
It's not a manual change. It's a setup upgraded from 8.3 to 10.1. Before upgrade, they have two different SSL certificates. After upgrade, they only have one (captive portal certificate) but old web admin certificate is still the one that appear in GUI.

[2020-09-14 12:25] nqb commented on #5611
I'm not sure it is the case right now.

[2020-09-14 12:26] nqb commented on #5546
@julsemaan, is this issue solve on Fingerbank API ?

[2020-09-14 12:29] julsemaan opened #5792 "Searching by 'Source Switch Identifier' for a switch range doesn't work"
**Describe the bug**
When you use the switch group search menu on the left in the nodes and search for a switch range, the search is inconsistent with how the data is stored in the DB.

**To Reproduce**
1. Create a switch range 10.0.0.0/24 part of the default switch group
2. Insert the following row in the locationlog (data from a valid RADIUS request):
[code]
3. Insert the following node if neces

[2020-09-14 12:32] nqb commented on #5619
It should work now due to https://github.com/inverse-inc/packetfence/commit/cefecb48b4063321d58106610c1f9c3438dcd574

[2020-09-14 12:33] #5504 closed

[2020-09-14 12:38] julsemaan commented on #5546
That specific issue is solved but something else may cause 502s to be generated so we might want to implement a mecanism of retries for the Fingerbank queries

[2020-09-14 12:39] julsemaan commented on #5785
If it wasn't done through the GUI/API, it counts as a manual change.

This means anything done prior to the GUI existing counts as a manual change

[2020-09-14 12:42] julsemaan commented on #5789
Idea isn't bad but I'm unsure of how many people will actually use this

[2020-09-14 13:01] #4230 closed

[2020-09-14 13:06] #5064 closed

[2020-09-15 11:20] julsemaan opened #5793 "galera-autofix may take a decision too quickly"
**Describe the bug**
When a transition in the MariaDB cluster happens (losing 1 node), it may take a decision too quickly and start a quorum server although the 2 remaining servers may be Primary shortly after they realize they lost a member.

For this reason, we should wait a moment before galera-autofix attempts to start a quorum server to re-establish the nodes

[2020-09-15 11:23] julsemaan commented on #5793
Re-opening because we need to test my fix before pushing it to maintenance

[2020-09-15 11:48] julsemaan commented on #5778
Closing this, it does fill the search properly now but it seems the backend isn't built for this type of search (see #5792)

[2020-09-15 11:48] #5778 closed

[2020-09-15 12:27] aend opened #5794 "Packetfence-Raw is not valid type in RADIUS filter"
**Describe the bug**
on the UI when configuring RADIUS filters is not possible to set an answer for reply:Packetfence-Raw

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration > Filter Engines > RADIUS filters'
2. Click on 'New Filter'
3. Add Answer with prefix 'reply'
4. Packetfence-Raw is not avaliable in the list of types

**Expected behavior**
reply:Packetfence-Raw should

[2020-09-15 15:10] #5745 closed

[2020-09-15 16:59] jrouzierinverse opened #5795 "Serialization of actions in portal modules is inconsistent"
The format of actions there is one is the following.
```action(p1,p2,p3)```
If there is more than one the format is
```action1(p1,p2,p3),action2(p1,p2,p3)```

By using a comma to delimit the parameters and the actions can cause issues if we ever support an action that takes multiple parameters.

If we support multi-parameter actions right now, we should fix this for 10.2 otherwise we should leave

[2020-09-15 17:20] extrafu commented on #5755
@lzammit As discussed in the previous meeting, take care of creating the security event for this.

[2020-09-15 17:46] extrafu commented on #5240
I moved it to v11 as it'll be our next big release which will include the GUI performance improvements.

[2020-09-15 17:47] extrafu commented on #5592
@satkunas and @julsemaan are we ok now for the temp fix? if so, let's move it to v11 since we'll have more time to revisit this.

[2020-09-15 17:50] extrafu commented on #4441
No feedback in almost a year, let's reopen if we see it and we can reproduce it in a constant manner.

[2020-09-15 17:50] #4441 closed

[2020-09-16 07:37] nqb opened #5797 "autoprefixer 10.0 release broke package builds"
**Describe the bug**
Since [release of autoprefixer 10.0](https://github.com/postcss/autoprefixer/releases/tag/10.0.0), build of old web admin is [broken](https://gitlab.com/inverse-inc/packetfence/-/jobs/740128335#L832).

Consequently, all builds failed.

[2020-09-16 07:37] #5797 closed

[2020-09-16 07:38] nqb commented on #5797
I will open another issue to have a better fix.

[2020-09-16 07:47] nqb opened #5798 "old web admin: breaking changes with autoprefixer 10.0"
**Describe the bug**
As mentioned in #5797, [release 10.0 of autoprefixer](https://github.com/postcss/autoprefixer/releases) broke old web admin builds because `postcss` is not a dependency anymore of `autoprefixer`.

I did a quick fix in 9d275a53e143145ea61d5b3b892030a678dbdd23.

@cgx, could you check if we can use `postcss` 8 and `autoprefixer` 10 ?

As a reminder, images used to build PacketFen

[2020-09-16 07:49] #5633 closed

[2020-09-16 07:54] #5490 closed

[2020-09-16 10:02] nqb commented on #5788
Hello @alemonmk,

IIRC, `pfacct` doesn't list on management interface, only on localhost. You can find a detailled answer [on #5716](https://github.com/inverse-inc/packetfence/issues/5716#issuecomment-662446040).

A workaround has been added in 29a7f5e965c6cecc3d3d24f667c2bb48bde889bc (also in maintenance) which let you pass `-netflow-ipaddress 1.2.3.4` to the `pfacct` systemd unit file where 1.2.

[2020-09-16 10:41] jrouzierinverse commented on #5788
@nqb @alemonmk is correct the radius accounting for pfacct only listens on the management interface.
The netflow part of pfacct only listens to the localhost.
I will talk to the others on the best approach to handle this as this may be able to be placed in a +1 patch.

[2020-09-16 11:29] nqb commented on #5788
Sorry, I was confused with RADIUS and NetFlow.

[2020-09-16 12:15] nqb opened #5799 "packetfence-pki: automatically get certificate using MDM software."
**Is your feature request related to a problem? Please describe.**
When you use `packetfence-pki` to generate RADIUS certificates for EAP-TLS, you may want to configure a [MDM](https://en.wikipedia.org/wiki/Mobile_device_management) software on nodes to automatically get a certificate from `packetfence-pki`.

**Describe the solution you'd like**
Be able to automatically get a client certificate fr

[2020-09-16 12:17] nqb commented on #5799
A [RFC](https://tools.ietf.org/html/rfc8894) regarding SCEP has been published this month \o/

[2020-09-16 12:53] #5758 closed

[2020-09-16 19:34] #5776 closed

[2020-09-16 20:03] fdurand commented on #5756
It was probably related to the mac detection vlan, but this one has been deprecated in PacketFence.
So i am not against to remove it.

[2020-09-16 20:26] fdurand commented on #5765
Agree

[2020-09-17 02:30] alemonmk commented on #5789
I can (as always) use certbot or something else to manage the certificates and restart services with a post-renewal script hook...
It would be nice to have the integration though.

[2020-09-17 06:59] nqb opened #5803 "Perl unit tests in error"
**Describe the bug**
With merge of recent PR, we got two Perl unit tests that failed:

https://gitlab.com/inverse-inc/packetfence/-/jobs/742227468#L718

[2020-09-17 07:12] bbs2web opened #5804 "PF 10.1 - Does not remove nightly backups (/root/backup)"
We had a disc space utilisation alert originate from our Packet Fence 10.1 host where we had files present in the /root/backup directory for the last 3 weeks, even since upgrading PF to 9 to 10.1.

[code]

[2020-09-17 07:16] bbs2web commented on #5804
Backups also appear to be incrementing each day. This is expected to some degree but perhaps old data isn't being aged out?

[2020-09-17 08:12] nqb commented on #5804
Hello @bbs2web,

On a 10.1 setup (CentOS 7), I only have 7 days of retention for DB and files archives. `/usr/local/pf/addons/backup-and-maintenance.sh` should clean old files.

Try to run this script like this: `bash -x /usr/local/pf/addons/backup-and-maintenance.sh`

[2020-09-17 11:53] bbs2web commented on #5804
Running this manually shows tar returning with an exit code of '1'. Log files changing during the backup is essentially the problem here, perhaps the backup script could be adjusted to match on errors > 1 ?

[code]

Documentation for tar states:
[code]

Suggested code change:
[code]

[2020-09-17 12:25] nqb commented on #5804
Seems a good idea, want to make a PR ?

[2020-09-17 13:29] nqb commented on #5804
I'm not sure that the right cause of the issue because `tar` command exclude `logs` and `var` directories.

[2020-09-17 13:56] bbs2web commented on #5804
You're right, that would also explain the growth of the archive.

We're running Debian 9.13 with PF 10.1, which has:
[code]

Variables appears to expand correctly:
[code]

[2020-09-17 14:10] jrouzierinverse commented on #5803
Fixed by 2f350bbbb94de5a3f0df51e7ee90b7432a802ab3 and f9962fa6e3a3ca71b4878b8e24ad4fa4fea47da5

[2020-09-17 14:29] #5803 closed

[2020-09-17 16:46] #5549 closed

[2020-09-17 17:27] #2845 closed

[2020-09-17 18:32] #5771 closed

[2020-09-17 18:38] fdurand commented on #5788
Why don't we just listen on all interfaces since iptables will block the traffic on non radius interfaces ?

[2020-09-17 18:53] julsemaan commented on #5788
![image](https://user-images.githubusercontent.com/3857942/93514590-6269d380-f8f5-11ea-8576-eb71a114e05e.png)

[2020-09-17 19:03] #5638 closed

[2020-09-17 20:47] bbs2web commented on #5804
The pull request makes two changes:
- Still deletes old archives if backup completes with a warning that some files changes during backup
- Corrects position of tar command options as current structure results in tar ignoring exclude options

[2020-09-17 20:47] cgx commented on #5798
Why do you want to use release 10 of autoprefixer? It's 2 day-old ..

I suggest to stick to v9.x until either

- grunt-postcss is updated;
- we replace grunt by gulp or something else.

[2020-09-18 13:43] satkunas commented on #5287
Meta consumption is being refactored and the current codebase is working with a static list. Moving milestone to revisit on a later release.

[2020-09-18 13:54] satkunas commented on #5592
Unable to reproduce with latest devel. Moving milestone for retesting post-gui-perf.

[2020-09-18 14:56] satkunas commented on #5792
There's a couple different ways we can deal with switch/netmask. We can either change/add a `locationlog.switch_ip` db column as an INT so we can use `>` and `<` operators, otherwise the network has to be split into compound `OR`s using string operators `starts_with`, which can generate pretty verbose statements using many ORs across large subnets.

Example, 10.0.0.0/9 = range 10.0.0.1 - 10.127.25

[2020-09-18 15:24] julsemaan commented on #5792
For the maintenance: could we use a starts_with for the masks that can work in strings (/8, /16, /24, /32) and show an error to the user for the other masks ?

Then for the real fix, I think storing the switch as an int in another field would be useful for searching.

Using the string representation to search uncommon masks will be too messy like @satkunas described.

Could we implement a fix for

[2020-09-18 15:26] julsemaan commented on #5765
This needs to go in the maintenance

[2020-09-18 15:29] #5731 closed

[2020-09-18 15:35] #5492 closed

[2020-09-18 15:37] fdurand commented on #5765
Pushed to maintenance.

[2020-09-18 15:37] #5765 closed

[2020-09-18 15:42] julsemaan commented on #5677
Reopening to cherry-pick in the maintenance once 10.2 is released

[2020-09-18 15:44] #3940 closed

[2020-09-18 16:01] satkunas commented on #5773
Fixed with https://github.com/inverse-inc/packetfence/commit/95894c0f96d332e7b8ad7380eab5a1fec4dd81a7

Please re-test

[2020-09-18 16:05] julsemaan commented on #5773
Are you really sure you fixed this one?

Your commit checks for access to switches to fetch switches configuration while this issue is for the cluster status

[2020-09-18 16:35] satkunas commented on #5668
@julsemaan https://github.com/inverse-inc/packetfence/commit/abd335c7f16c3aaa1a7952f7c43ee55b92c3abbf increase the limit from 100 to 1000 and attempts to sort by start_date desc.

@jrouzierinverse `POST /api/v1/security_events/search` accepts `sortBy`, but ignores `sortDesc`. Descending sort is required.

[2020-09-18 17:29] satkunas commented on #5773
@julsemaan there's 2 fixes there, I experienced an other similar error as Node Manager, so I included a fix for it as well.

[2020-09-18 17:34] julsemaan opened #5809 "Unable to delete connection profile template"
**Describe the bug**
When a template in a connection profile is created under a directory, you can't delete it.

**To Reproduce**
1. Go in the default connection profile
2. Go in the Files
3. Create the file test.html *under the directory security_events*
4. Try to delete the file
5. Get error:
![image](https://user-images.githubusercontent.com/3857942/93627816-825fcc80-f9b3-11ea-89f2-bd889f208435

[2020-09-18 17:46] julsemaan commented on #5773
Sorry, must have confused butter with my glasses and saw that wrong.

I'll test it out and let you know

[2020-09-18 17:51] julsemaan commented on #5663
Hope its not butter in my eyes this time but the fix seems to be related to the identifier of the connection profile while the issue is for the SSID condition

[2020-09-18 18:05] #5809 closed

[2020-09-18 18:22] julsemaan commented on #5663
Checked with @satkunas and this time my eyes were butter free

[2020-09-18 19:05] julsemaan opened #5810 "Logging in as node manager in a cluster that has a missing member freezes the webpage"
**Describe the bug**
I tried to login as a user that has the "Node Manager" access level in a cluster that has the following configuration:
[code]

The node `caca` is offline from the network and also doesn't resolve for the client that runs the admin interface

If I login as `admin`, then I get into the admin with a broken dashboard (expected, we're missing a node).

If I login as the node manage

[2020-09-18 19:12] julsemaan commented on #5773
I'm stuck testing this in my fake cluster because of #5810 so we'll need a real cluster to test this on during the 10.2 QA

[2020-09-18 19:24] satkunas commented on #5663
@fdurand I'm not able to reproduce

![Screenshot_20200918_152345](https://user-images.githubusercontent.com/3904468/93637096-040b2680-f9c3-11ea-901c-5c10c0f69e27.png)

I'll revert the earlier commit

[2020-09-18 19:37] fdurand commented on #5663
To be more precise the SSID bob already exist (because a connection with this ssid has been made, so it appear in the list) and i want to add BOB and it's not possible.

[2020-09-18 19:51] #5766 closed

[2020-09-18 19:53] satkunas commented on #5766
Back ported to `maintenance/10.0` and `maintenance/10.1`.

@bbs2web thanks for the report

[2020-09-18 20:00] #5700 closed

[2020-09-18 20:02] satkunas commented on #5700
@JeGoi all fixed, thanks for the report.

[2020-09-18 20:50] satkunas commented on #5663
@fdurand this appears to be a limitation in the element when both internal-search and taggable are both enabled:

https://github.com/vabene1111/recipes/issues/170#issuecomment-684738576

We won't be able to get around this issue until a new select component is used.

Bumping the milestone to a later release to re-examine.

[2020-09-19 06:53] bbs2web commented on #5804
I'm very much still learning, herewith a cleaner pull request with my recommended changes to fix the 'exclude' options being ignored by tar due to them being in the wrong position and additionally making the script itself more fault tolerant:
https://github.com/inverse-inc/packetfence/pull/5811

[2020-09-20 22:11] nbhanji opened #5812 "Inline Layer 2 - DNS field will not allow more than one ip address."
When trying to add multiple dns servers with comma separated, I get error message:  dns: Value must be an IPv4 address and could not validate.

![Screenshot](https://user-images.githubusercontent.com/21028/93723463-b92d1280-fb6c-11ea-9f29-d5b4499581c9.png)

[2020-09-21 05:26] nqb commented on #5798
Hi @cgx,

I don't really want to use it. I opened this issue to have a long time fix.

If we deprecate old web admin in v11, I'm not sure we still need to build that part.

[2020-09-21 05:50] nqb opened #5813 "Golang and Perl unit tests in failed state"
**Describe the bug**
Commits added on 17/09 cause issue with [Golang](https://gitlab.com/inverse-inc/packetfence/-/jobs/744583642#L510) and [Perl](https://gitlab.com/inverse-inc/packetfence/-/jobs/744583634#L708) unit tests.

Certainly related to merge of #5781 or #5725

[2020-09-21 07:43] lyubomirtraykov opened #5814 "Device Class form Fingerbank is incorrect"
When i refresh the fingerbank the device class is incorrect:
<img width="1172" alt="Screen Shot 2020-09-21 at 10 37 06" src="https://user-images.githubusercontent.com/17347347/93742380-ad862e00-fbf6-11ea-9548-1b2a5b097fdb.png">
The fingerbank-collector is version 1.3.10.

[2020-09-21 08:39] nqb commented on #5804
On a CentOS 7.8 up-to-date running PF 10.1, I'm running tar 1.26.

If I extracted content of a `packetfence-files-dump*.tgz`, `var` and `logs` directories are present in `tar` archive but directories are empty.

[2020-09-21 08:46] nqb commented on #5804
I can replicate this issue on Debian 9.13 with PF 10.1 and tar 1.29

[2020-09-21 12:05] julsemaan commented on #5814
Investigation has been made, was due to a rule that was too loose on api.fingerbank.org.

In 24-48 hours you should be able to refresh this device and not see Linux OS anymore

Reopen if it isn't the case

[2020-09-21 12:05] #5814 closed

[2020-09-21 12:25] julsemaan opened #5815 "Security events upgrade script doesn't rename the connection profile templates"
**Describe the bug**
The old connection profile violations templates (`html/captive-portal/profile-templates/*/violations`) aren't renamed to `html/captive-portal/profile-templates/*/security_events`

Manually renaming the directories does the trick but we should add this to the violation->security event upgrade script

[2020-09-21 12:34] nqb commented on #5815
In that case, I suggest to have a section in Upgrade Guide related to maintenance patches: we encourage users to apply maintenance patches as part of their upgrade, just after package upgrades and before restarting services.

[2020-09-21 13:24] #5815 closed

[2020-09-21 14:26] #5755 closed

[2020-09-21 14:33] fdurand commented on #5813
Golang test fixed by https://github.com/inverse-inc/packetfence/commit/c973f25eec32efb6078a2c9354d40239152d34a9

[2020-09-21 14:34] fdurand commented on #5813
Lets keep @jrouzierinverse check for the perl unit tests.

[2020-09-21 14:35] fdurand commented on #5756
I don't see anything in the code that update last_arp.

[2020-09-21 14:42] fdurand commented on #5297
Do we want to fix that, for me it make sense that the freeradius package build his own certificates and PacketFence too.

Like if we just want to install Freeradius from our repo then it should go through all the configuration steps.

[2020-09-21 14:49] nqb commented on #5793
I pushed https://github.com/inverse-inc/packetfence/commit/ff1aacdd6a72ed4c1ce0f8bd80f8db49c2702fe6 to fix [unit tests](https://gitlab.com/inverse-inc/packetfence/-/jobs/748598233#L503). https://github.com/inverse-inc/packetfence/commit/ff1aacdd6a72ed4c1ce0f8bd80f8db49c2702fe6 can go in maintenance too.

[2020-09-21 14:51] nqb commented on #5756
Ok, there is at least a "Last ARP" field on GUI and in DB.

[2020-09-21 15:13] fdurand commented on #5296
If i edit the interface then the type is "other" and if i save the type is saved to other instead of dns, so i lost my config.

[2020-09-21 15:26] fdurand commented on #5186
Not all internal authentication sources make sense.

I propose:
LDAP
AD
Htpasswd
RADIUS
SQL

[2020-09-21 15:29] fdurand commented on #4945
Do we update the query with "INSERT IGNORE" ?

[2020-09-21 16:00] fdurand commented on #5677
Pushed in maintenance

[2020-09-21 16:00] #5677 closed

[2020-09-22 06:46] nqb opened #5816 "Unregister a node doesn't work anymore"
**Describe the bug**
According to [integration tests](https://gitlab.com/inverse-inc/packetfence/-/jobs/749973967#L1577), if you try [to unregister a node using an API call](https://github.com/inverse-inc/packetfence/blob/devel/t/venom/pfservers/common/unreg_node01.yml), it doesn't work anymore.

I guess it's related to merge of recent PR like #5724.

[2020-09-22 07:19] nqb commented on #5816
Error in `packetfence.log` :
[code]

[2020-09-22 10:54] ZdenekPala opened #5817 "Gui Issue with Nodes & Switch Description"
**Describe the bug**

The column "Switch Description" can not be selected in the Nodes -> Search. When "Switch Description" is selected the "Switch Port Description" is displayed.

**To Reproduce**
Steps to reproduce the behavior:
- Login as admin
- Click Nodes
- Click Search
- Click the icon "Visible Columns" right to the wheel
- Select "Switch Description"
- See the column "Switch Port Descripti

[2020-09-22 11:07] jrouzierinverse commented on #4945
It makes sense as replace will reset any fields add unless that is what you want?

[2020-09-22 12:36] fdurand commented on #4945
Ok so let's go for it.

[2020-09-22 13:10] nqb commented on #5813
Should be fix now by 5f8d31faef1a18935d55a006c72a03e8783a2f62 and 6d88a67d226ed02406f92e9121ba181448a41d2c

[2020-09-22 13:10] #5813 closed

[2020-09-22 13:52] fdurand commented on #5812
It looks that you added a space between the 2, can you retry without the space ?

[2020-09-22 13:56] nbhanji commented on #5812
Tried the following:
10.95.0.2,8.8.8.8
10.95.0.2 8.8.8.8
10.95.0.2 ,8.8.8.8
10.95.0.2 , 8.8.8.8

Same error message
On Tue, Sep 22, 2020 at 9:53 AM Durand <notifications@github.com> wrote:

[2020-09-22 14:15] fdurand commented on #5812
Just tried on a 10.1 and the first line works on my side.
Can you refresh the page (ctrl+f5) and retry the first one ?

[2020-09-22 14:24] #4945 closed

[2020-09-22 14:35] #5810 closed

[2020-09-22 15:31] #5780 closed

[2020-09-22 15:50] al-2020-wq opened #5818 "Upgrade to 10.1 from 10.0 causes radiusd-auth to fail."
**Describe the bug**
I am really stuck... I upgraded to 10.1 from 10.0 using the documented process.

**Screenshots**
`root@radius:/usr/local/pf/raddb# systemctl status packetfence-radiusd-auth
● packetfence-radiusd-auth.service - PacketFence FreeRADIUS authentication multi-protocol authentication server
   Loaded: loaded (/lib/systemd/system/packetfence-radiusd-auth.service; enabled; vendor prese

[2020-09-22 15:51] al-2020-wq commented on #5818
Job for packetfence-radiusd-auth.service failed because the control process exited with error code.
See "systemctl status packetfence-radiusd-auth.service" and "journalctl -xe" for details.
root@radius:/usr/local/pf/raddb# journalctl -xe
Sep 22 11:49:32 radius freeradius[6683]: rlm_sql (pfsponsor): Driver rlm_sql_mysql (module rlm_sql_mysql) loaded and linked
Sep 22 11:49:32 radius freeradius[6683

[2020-09-22 16:21] #5729 closed

[2020-09-22 18:28] fdurand commented on #1124
Support added in 10.1

[2020-09-22 18:28] #1124 closed

[2020-09-22 18:29] fdurand commented on #1086
Since now most of the devices required a valid certificate to have the portal, it doesn't make sense to support that.

[2020-09-22 18:29] #1086 closed

[2020-09-22 18:42] fdurand commented on #837
Not relevant anymore in the new admin

[2020-09-22 18:42] #837 closed

[2020-09-22 18:46] #2258 closed

[2020-09-22 18:49] fdurand commented on #2736
Not anymore

[2020-09-22 18:49] #2736 closed

[2020-09-22 18:50] #2548 closed

[2020-09-22 18:52] nbhanji commented on #5812
Resolved, Thank you.  I tried again the first option as you suggested and it worked.  Thank you.  I had made changes manually in the conf file and it showed up ok on the gui side.  But as soon as I pressed save button it showed error.

For now it is resolved.

Thank you.
Nick.

[2020-09-22 18:56] fdurand commented on #3281
Use the mailling list for config issue.

[2020-09-22 18:56] #3281 closed

[2020-09-22 18:57] #3230 closed

[2020-09-22 18:58] #3219 closed

[2020-09-22 19:03] fdurand commented on #3384
It has been added in PacketFence 9.1.0

[2020-09-22 19:03] #3384 closed

[2020-09-22 19:06] fdurand commented on #3711
Added in the DNS audit log

[2020-09-22 19:06] #3711 closed

[2020-09-22 19:14] satkunas opened #5819 "Repeatable SQL upgrade"
**Describe the bug**
Statements in `upgrade-X.X.X-X.Y.Z.sql` need to be made repeatable using `IF NOT EXISTS` etc, so that the SQL statements can be subsequently rerun without generating any errors.

**To Reproduce**
`mysql pf < /usr/local/pf/db/upgrade-X.X.X-X.Y.Z.sql`

again...

`mysql pf < /usr/local/pf/db/upgrade-X.X.X-X.Y.Z.sql`

The 2nd+ attempt should complete without terminating.

[2020-09-22 19:15] fdurand commented on #3608
Added last year.

[2020-09-22 19:15] #3608 closed

[2020-09-22 19:16] fdurand commented on #3926
replaced by status-check

[2020-09-22 19:16] #3926 closed

[2020-09-22 19:18] fdurand commented on #3898
Fixed when introduced search attributes

[2020-09-22 19:18] #3898 closed

[2020-09-22 19:21] #4024 closed

[2020-09-22 19:22] #3984 closed

[2020-09-22 19:24] fdurand commented on #4218
Added in PacketFence

[2020-09-22 19:24] #4218 closed

[2020-09-22 19:45] #5819 closed

[2020-09-22 19:48] satkunas commented on #5773
@julsemaan #5810 has been fixed. There should be nothing standing in the way of having moar butter on your glasses.

[2020-09-22 19:54] #5002 closed

[2020-09-22 20:06] fdurand commented on #5416
Fixed by https://github.com/inverse-inc/packetfence/pull/5459

[2020-09-22 20:06] #5416 closed

[2020-09-22 20:08] fdurand commented on #5749
It's an issue with the buffer size in FreeRADIUS.
FreeRADIUS v4 will fix that.

[2020-09-22 20:12] fdurand commented on #5818
copy the eap.conf.example to eap.conf in /usr/local/pf/conf/radiusd directory and check if it fix the issue.

[2020-09-22 20:13] #5812 closed

[2020-09-22 20:27] #5794 closed

[2020-09-23 11:18] julsemaan commented on #5810
Is it relevant to apply this to the maintenance branch ?

[2020-09-23 12:33] #5788 closed

[2020-09-23 13:08] nqb commented on #5819
Nice addition :+1:

[2020-09-23 13:35] #5634 closed

[2020-09-23 15:25] #5186 closed

[2020-09-23 15:37] julsemaan commented on #5773
The fix works, I'll cherry-pick it into the maintenance

[2020-09-23 15:37] #5773 closed

[2020-09-24 04:21] nqb opened #5823 "Debian installation failed after merge of 5613"
**Describe the bug**
Debian installation timed out after merge of #5613.

Errors found in `/var/log/apt/history.log`:

[code]

[2020-09-24 04:23] nqb commented on #5823
It looks like machine is stuck on Debian postinstallation script:
[code]

[2020-09-24 04:30] nqb commented on #5823
Issue seems to be caused by a constant restart of `packetfence-config`. I will re-run a pipeline with latest fixes to see if error still occurs.

[2020-09-24 04:53] nqb commented on #5823
Already fixed.

[2020-09-24 04:53] #5823 closed

[2020-09-24 07:36] lyubomirtraykov opened #5824 "Device Class form Fingerbank is incorrect"
When i refresh the fingerbank the device class is incorrect:
<img width="883" alt="Screen Shot 2020-09-24 at 10 25 21" src="https://user-images.githubusercontent.com/17347347/94114874-98590b80-fe51-11ea-8ea9-30710867aa8a.png">
<img width="789" alt="Screen Shot 2020-09-24 at 10 29 22" src="https://user-images.githubusercontent.com/17347347/94114889-9db65600-fe51-11ea-887e-d07a31c4a33e.png">
The fin

[2020-09-24 11:14] nqb opened #5825 "packetfence-pki: configure OCSP to listen on specific interfaces"
**Is your feature request related to a problem? Please describe.**
Currently, PacketFence PKI as it own OCSP server but it only listens on [127.0.0.1](https://github.com/inverse-inc/packetfence/blob/f3bf63294eacede05dce78ad6cab5aa5a9ca8415/conf/caddy-services/pfpki.conf.example#L2).

It's not possible to change this behavior using GUI if you want to allow an OCSP client to query this server.

**De

[2020-09-24 11:18] nqb opened #5826 "Networks: allow to specify a description"
**Is your feature request related to a problem? Please describe.**
When you have to deal with a lot of networks, it would be nice to add a description on each network to identify them.

**Describe the solution you'd like**
Having a description field on each network.

[2020-09-24 11:19] jrouzierinverse commented on #5632
We have mac based switches in which we use the ':' so we used the '-'

[2020-09-24 11:32] nqb opened #5827 "web admin: frontend need to be refresh to display new items in PKI menus"
**Describe the bug**
When you create new items in a PKI menu, you need to refresh your next menu if you want to be able to select your previous item.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new template (Template menu)
2. Try to create a new certificate using "New certificate" button (Certificates menu)

=> Your template is missing.

After a refresh, it works.

**Expected be

[2020-09-24 11:44] nqb opened #5828 "web admin: incorrect display for a date after 2038"
**Describe the bug**
If you generate a certificate for 7500 days (~20 years) using a PacketFence PKI template, frontend doesn't display correctly resulting date even if certificate contains correct date.

I assume this is because date is after 2038.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CA in PacketFence PKI
2. Create a template with 7500 days as Validity
3. Generate a cer

[2020-09-24 13:58] fdurand opened #5830 "Reports needs pagination."
**Describe the bug**
On a big set up where you have hundred thousands of devices registered you can't see the standart reports.
The reply of the http request is truncated and the browser just spin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/admin/alt#/reports/standard/chart/registered'
2. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/1553962/9415

[2020-09-24 14:25] nqb opened #5831 "FreeRADIUS: Failed to find "eap-eap-degraded" as a module or policy"
**Describe the bug**
`radiusd-auth` is not able to start after merge of #5616. Error message when you start RADIUS by hand:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install fresh devel
2. Try to start `packetfence-radiusd-auth`

**Additional context**
Reported by integration tests, occurs on CentOS and Debian.

[2020-09-24 16:36] julsemaan commented on #5824
Should be fixed in the next 24 hours, reopen if needed

[2020-09-24 16:36] #5824 closed

[2020-09-24 16:47] julsemaan opened #5832 "Unable to assign roles and VLANs when creating a new switch"
**Describe the bug**
When creating a new switch, its missing most of the roles to assign VLANs, roles and URLs

**To Reproduce**
1. Fresh install of PF
2. Start creating a new switch with the following parameters:
![image](https://user-images.githubusercontent.com/3857942/94174964-fdb5f800-fe63-11ea-8650-19d0126c961b.png)
3. Go in the Roles tab of that switch
![image](https://user-images.githubuse

[2020-09-24 17:03] julsemaan opened #5833 "There are 2 default groups in the nodes search menu"
**Describe the bug**
There are 2 default groups in the quick search for nodes. One is named 'default', the other 'Default'

![image](https://user-images.githubusercontent.com/3857942/94176564-48d10a80-fe66-11ea-9476-1239e713944d.png)

[2020-09-24 17:21] jrouzierinverse commented on #5830
We would need to add support for cursor, nextCursor, and prevCursor.
There are multiple reports that would require work.

[2020-09-24 17:31] fdurand commented on #5831
I installed a fresh devel and i am not able to replicate.

[2020-09-24 17:51] #5833 closed

[2020-09-24 18:09] fdurand opened #5834 "Allowed actions are not localized"
**Describe the bug**
Allowed actions in Admin Access configuration section are not localized.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration -> System Configuration -> Admin Access -> Nw Admin Role'
2. Click on 'User Options -> Allowed  Actions'
3. You will see that the choice in the list are not localized

**Screenshots**
![image](https://user-images.githubusercontent.

[2020-09-24 18:15] #5792 closed

[2020-09-24 18:21] julsemaan opened #5835 "pfcron logs in debug by default"
**Describe the bug**
Fresh installed a devel, pfcron logs in debug by default:
[code]

**Expected behavior**
Should log in info by default

[2020-09-24 18:26] fdurand opened #5836 "Maintenance task - Descriptions is not localized"
**Describe the bug**
When you go in System configuration -> Maintenance, the column Description is not localized. (in the task itself too)

![image](https://user-images.githubusercontent.com/1553962/94184374-ccdcbf80-fe71-11ea-8cd6-bc75e14a73df.png)

[2020-09-24 18:29] fdurand opened #5837 "Table menu are not localized"
**Describe the bug**

in admin/alt#/configuration/interfaces all the tab menu are not localized.

![image](https://user-images.githubusercontent.com/1553962/94184708-4ffe1580-fe72-11ea-8744-bd5a010aa26f.png)

[2020-09-24 18:31] lzammit opened #5838 "802.1x wireless failling"
PacketFence version:
[code]

[code]

[2020-09-24 18:31] julsemaan opened #5839 "many pfcmd jobs are forked every minute"
**Describe the bug**
Every minute, there are a lot of pfcmd jobs forked by pfcron which uses all of my 2 available CPUs

Here are the jobs:
[code]

These are all "realtime" maintenance related, a quick solution could be to group these in a single job that gets done every minute. I doubt we'll need to be granular about the interval and configuration of these.

[2020-09-24 18:34] julsemaan commented on #5838
When its priority high and critical I guess its very very important

[2020-09-24 18:40] julsemaan opened #5840 "Default ordering of audit logs is incorrect"
**Describe the bug**
If you view the RADIUS audit log or admin audit log, they order by created_at ASC instead of DESC so you see the oldest entries first instead of the newest

[2020-09-24 18:42] julsemaan opened #5841 "Unable to change order of audit logs"
**Describe the bug**
Its impossible to change the order inside the audit logs
You click on a column, it refreshes the data but doesn't change the ordering

**To Reproduce**
1. Go in the RADIUS audit log
2. Try to sort by 'Auth Status'

[2020-09-24 18:52] julsemaan opened #5842 "Selecting an amount of security events per page doesn't work"
**Describe the bug**
If you view the security events, it defaults to 25 items per page.
You switch it to 1000, it reloads, shows there is only 1 page but still only shows 25 items

**To Reproduce**
1. Go in security events
2. Select 25 items per page
3. Select 1000 items per page
4. Only seeing 25 items

[2020-09-24 19:28] lzammit commented on #5838
![image](https://user-images.githubusercontent.com/5261214/94190815-9e171700-fe7a-11ea-818b-a7efe3af6062.png)

[2020-09-24 19:41] fdurand commented on #5838
i need a raddebug

[2020-09-24 19:53] lzammit commented on #5838
[Uploading dot1x.log…]()

[2020-09-24 20:25] jrouzierinverse commented on #5839
The following commits should fix this 4b622fd7bca7bdb132fe1ba5852be451a0f47d0e, 5cff5e349f93b78a60cabf4202642bbfa7b41674, a2bb908d32d0739efd4687adb1377e60457fe50b.

I use the Mojo::IOLoop->subprocess API to run these in the pfperl-api in a nonblocking manner. (we can have our cake and eat it too kind of).

[2020-09-24 20:26] jrouzierinverse commented on #5839
You would need to recompile pfcron do a configreload and restart the api-frontend to use this.

[2020-09-24 20:28] lzammit commented on #5838
Code 12: I've not configured the null realm to the correct AD.

[2020-09-24 20:28] #5838 closed

[2020-09-24 20:29] jrouzierinverse commented on #5839
and restart pfperl-api

[2020-09-24 20:32] jrouzierinverse commented on #5835
Fixed by 97fac8a0

[2020-09-24 20:32] #5835 closed

[2020-09-24 23:14] julsemaan commented on #5839
I'll just download the new build tomorrow, sounds simpler :)

[2020-09-25 13:28] #5841 closed

[2020-09-25 13:40] #5837 closed

[2020-09-25 13:45] julsemaan commented on #5839
Did the trick!

[2020-09-25 13:45] #5839 closed

[2020-09-25 13:50] satkunas commented on #5836
We don't normally offer localization on user defined strings, only the column headers:

![Screenshot_20200925_094917](https://user-images.githubusercontent.com/3904468/94274999-6d83bb80-ff14-11ea-9929-c02d5f0ee3bf.png)

However, since these strings are relatively static, should we include them in our translations? @cgx?

[2020-09-25 13:52] fdurand commented on #5836
it's from *.conf.default so we should translate them.
If the administrator add new configuration with description it will be probably in his native language.

[2020-09-25 13:56] satkunas commented on #5834
Not able to reproduce

![Screenshot_20200925_095609](https://user-images.githubusercontent.com/3904468/94275776-64471e80-ff15-11ea-98b7-ac66d2559681.png)

[2020-09-25 13:58] satkunas commented on #5834
@fdurand please retest

[2020-09-25 14:07] satkunas commented on #5832
@julsemaan I've seen this happen occasionally, but I was never able to replicate it directly. It appears to be a race-condition with another API call for the roles. I've re-ordered the API calls and now wait for the roles response before loading the switch resource:  ee8a9945530c4e5ce4e3f944072446a1df8db006

Please re-test and let know if you're still experiencing this issue.

[2020-09-25 14:11] fdurand commented on #5834
it's allowed action in the bottom, not allowed user access level.

[2020-09-25 14:33] fdurand commented on #5816
Sep 25 10:32:46 localhost pfqueue: pfqueue(28924) INFO: [mac:c8:60:00:50:cf:0b] Instantiate profile default (pf::Connection::ProfileFactory::_from_profile)
Sep 25 10:32:49 localhost packetfence: pfperl-api(28594) INFO: re-evaluating access (admin_modify called) (pf::enforcement::reevaluate_access)
Sep 25 10:32:49 localhost packetfence: pfperl-api(28594) INFO: Instantiate profile default (pf::Conne

[2020-09-25 14:34] satkunas commented on #5836
@cgx front-end adjusted with 7c6351a6ab94a3822ec3f8f9626ca90a953dad81

[2020-09-25 14:48] #5836 closed

[2020-09-25 14:51] satkunas opened #5843 "PKI golang runtime exception"
**Describe the bug**
Logs indicate a runtime exception (API returns 500)

`Sep 25 10:47:23 packetfence pfhttpd: Recovered panic: runtime error: invalid memory address or nil pointer dereference.`

**To Reproduce**
`POST /api/v1/pki/profiles`

with payload:

[code]

[2020-09-25 14:51] satkunas commented on #5828
Waiting on https://github.com/inverse-inc/packetfence/issues/5843 before resolving.

[2020-09-25 15:23] satkunas commented on #5842
This appears to have been fixed with https://github.com/inverse-inc/packetfence/commit/cc553d0d0e4dbd476822bd178667f6fdd8ef866b from https://github.com/inverse-inc/packetfence/issues/5841

@julsemaan can you please retest with latest devel?

[2020-09-25 15:43] julsemaan commented on #5842
Fixed now

[2020-09-25 15:43] #5842 closed

[2020-09-25 15:43] julsemaan commented on #5841
Fixed now

[2020-09-25 15:44] julsemaan commented on #5832
Lets close it, I'll reopen it if I see it again in my tests, for now it looks good

[2020-09-25 15:44] #5832 closed

[2020-09-25 18:03] satkunas commented on #5834
@jrouzierinverse can you map these on the backend?

[code]
[code]

[2020-09-28 05:04] nqb commented on #5831
Integration tests are still failing. I will provide more informations.

[2020-09-28 13:58] fdurand opened #5844 "PFPKI - Password empty whenclick on email."

[2020-09-28 14:06] lzammit opened #5845 "Wired web auth connection type not working"
PF version:
[code]

Logs:
[code]

Conf:
[code]

[2020-09-28 14:07] fdurand commented on #5844
Not an issue

[2020-09-28 14:07] #5844 closed

[2020-09-28 14:08] lzammit opened #5846 "Wired web auth not working"
[code]

[code]

[2020-09-28 14:15] lzammit opened #5847 "Switches configuration: Remove RADIUS shared secret autocompletion"
This RADIUS shared secret autocompletion creates an issue where if you saved the admin password to login the PacketFence web interface and you happen to edit a switch configuration the web browser would automatically put the admin password within the radius secret.

It would be nice to disable it.

https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocomple

[2020-09-28 14:19] julsemaan commented on #5847
This needs to go in the maintenance too if possible as its a pretty common problem

The old admin used to have something to prevent that auto-completion.

Same goes for the authentication sources passwords

[2020-09-28 14:20] julsemaan commented on #5845
this is a duplicate of #4816

[2020-09-28 14:20] #5845 closed

[2020-09-28 14:35] fdurand commented on #5843
It looks that there is mandatory values that are not passed in the payload.
I did it from the admin gui and i am not able to reproduce this error.

![image](https://user-images.githubusercontent.com/1553962/94446163-462c2900-0176-11eb-9c55-1e339b48747d.png)

[2020-09-28 15:08] fdurand commented on #5828
The date in the db is stored as zero (valid_until: 0000-00-00 00:00:00) it looks to be an issue with the version of golang we are using (https://github.com/golang/go/issues/36654)

[2020-09-28 15:24] julsemaan opened #5848 "Interval input is broken in maintenance jobs section"
**Describe the bug**
The input for the interval of maintenance jobs is broken

**To Reproduce**
1. Go in Configuration->System Configuration->Maintenance->node_cleanup

**Screenshots**
![image](https://user-images.githubusercontent.com/3857942/94452041-1c2a3500-017d-11eb-9d45-403c793cd53a.png)

[2020-09-28 15:40] julsemaan opened #5849 "Changing cleanup window of RADIUS audit log entries has no effect without restarting pfcron"
**Describe the bug**
If you change the cleanup window of the radius_audit_log_cleanup job, it doesn't take effect until you restart pfcron

**To Reproduce**
1. Change cleanup window of radius_audit_log_cleanup to 1 hour
2. Entries older than 1 hour are still there

**Expected behavior**
Shouldn't have to restart or we should clearly say in the admin that its necessary to restart

[2020-09-28 15:41] lzammit opened #5850 "Windows PacketFence Agent does not work for EAP TLS - PacketFence PKI"
That's a long title.

I can authenticate properly on the captive portal, I got the windows provisioner detection, I got the password for the certificate and I soon I click on "Generate certificate" I have:

[code]

[2020-09-28 15:55] julsemaan commented on #5846
Are you sure its related only to wired web-auth ?

I'm doing wireless web-auth without any problem and its pretty much the same code.

This could be related to a specific configuration you did on your portal

[2020-09-28 16:09] lzammit commented on #5850
It looks like my different tests using different certificates got mixed up, but it works now.

[2020-09-28 16:09] #5850 closed

[2020-09-28 16:46] julsemaan opened #5851 "certificates_check job doesn't work"
**Describe the bug**
The job doesn't work

**To Reproduce**
1. Set the certificates_check window to 10 years
1. Set the interval to run every minute
1. restart pfcron
1. Wait for an alert, never comes even though the certs are going to expire in less than 10 years

**Additional context**

Got this in the logs:
[code]

[2020-09-28 16:55] lzammit opened #5852 "Re-evaluate access from the web admin for wired connection does not work"
If I try to re-evaluate an access for a Wired EAP TLS connection I got:

[code]

Locationlog:
[code]

A re-evaluate on a wireless authentication works.

[2020-09-28 17:10] lzammit opened #5853 "Autoreg default security event error"
The security event autoregister but does not assign any unregdate

[code]
[code]
[code]

issue with the status ?

![image](https://user-images.githubusercontent.com/5261214/94464250-391a3480-018c-11eb-9407-1cd718a2f1d4.png)

[2020-09-28 17:31] julsemaan opened #5854 "ip4log job (and potentially ip6log) fail when rotation is enabled"
**Describe the bug**
When rotation is enabled, the job fails to rotate the data in the ip4log_archive

**To Reproduce**
1. Enable rotation on ip4log_cleanup

**Additional context**
Getting the following error in the logs:
[code]

[2020-09-28 17:49] jacac commented on #5728
After an upgrade to the latest version we are getting a lot of timeout errors as well.

[2020-09-28 17:50] satkunas commented on #5848
@jrouzierinverse looks like a regression on meta interval, can you look at this?

[code]

[2020-09-28 17:52] fdurand opened #5855 "pfdetect is not able to parse a suricata alert"

[2020-09-28 18:18] lzammit commented on #5846
Correct, it's deauth issue, closing this one.

[2020-09-28 18:18] #5846 closed

[2020-09-28 18:25] fdurand commented on #5855
Fixed by 9a92148b205a8b75d5a2990b92310a3b9dbd7951

[2020-09-28 18:25] #5855 closed

[2020-09-28 18:25] julsemaan opened #5856 "Remove the "last page" button in audit sections, nodes and users"
**Describe the bug**
The last page button of these sections goes to the next page instead of the last page since we're scrolling data in these sections. We should simply remove them since they do the same thing as the "Next" page button

**To Reproduce**
1. Have about 1000 nodes in your DB
1. Go in nodes
1. Click last page, you end up on page 2

[2020-09-28 18:52] fdurand opened #5857 "Reevaluate from a security event produce errors"
**Describe the bug**
A security event with trap action is not able to reevaluate the access.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure packetfence to listen suricata events
2. Send an event in the log file
[code]
4. See error

[code]

[2020-09-28 18:54] julsemaan commented on #5857
Is this in a cluster of standalone ?

[2020-09-28 18:55] fdurand commented on #5857
cluster

[2020-09-28 18:56] julsemaan commented on #5857
From what I can tell in the logs, your webservices username/password isn't in sync between the members

[2020-09-28 19:12] fdurand commented on #5857
It was but it looks that pfconfig was in a incorrect state.

Still have
[code]

Duplicate to ##5853

[2020-09-28 19:12] #5857 closed

[2020-09-29 05:44] nqb commented on #5852
Duplicate of #5816

[2020-09-29 05:44] #5852 closed

[2020-09-29 09:07] nqb opened #5858 "network should be restart after step 1 of configurator"
**Is your feature request related to a problem? Please describe.**
When you configure network interfaces during Step 1 of configurator, PacketFence will start to manage network interfaces using network-scripts on CentOS and ifup/down and Debian.

It means that if NetworkManager (or another network manager daemon) managed your network settings before Step 1 of configurator, network changes will onl

[2020-09-29 09:13] nqb opened #5859 "Debian: pf-maint.pl script doesn't work on v10.1"
**Describe the bug**
On Debian, if you get [last revision](https://github.com/inverse-inc/packetfence/blob/e262150b9ede207799f7b715ce03cc84665ca4fa/addons/pf-maint.pl) of `pf-maint.pl`, you get following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run maintenance patches on Debian after you get [last revision](https://github.com/inverse-inc/packetfence/blob/e262150b9ede207

[2020-09-29 09:17] nqb commented on #5859
I fixed this issue with af8893fc48dec678c36bbd1fe92d1308693287d8. It doesn't create any incompatibility on CentOS because this module is installed with PacketFence like on Debian.

[2020-09-29 09:34] nqb commented on #5859
I backported to maintenance.

Based on what I see in packaging, I'm not sure my fix was necessary because it looks like `LWP::Protocol::https` is included in `liblwp-protocol-connect-perl` (packaged by Inverse).

Any ideas @fdurand  ?

[2020-09-29 09:43] nqb commented on #5831
Issue occurs after you join a domain and configure a realm (see [config files](https://gist.github.com/nqb/19198ff108d6b711c384be744eb31d77)).

[2020-09-29 09:49] nqb opened #5860 "Perl unit tests report several errors"
**Describe the bug**
After merge of #5820, Perl unit tests start to fail with [following error](https://gitlab.com/inverse-inc/packetfence/-/jobs/759266405#L711).

With yesterday commits, we get new [errors](https://gitlab.com/inverse-inc/packetfence/-/jobs/762041990#L3312).

[2020-09-29 11:41] julsemaan commented on #5858
I believe that our code declares the interfaces as unmanaged by NM so even if NM is enabled and started, it should all work.

Is there a specific problem that this attempts to solve ?

[2020-09-29 12:06] nqb commented on #5858
On my side, interfaces are configured in PF, declared as unmanaged by NM but there is no IP addresses configured on interfaces until I restarted network service or reboot. A restart of NM should also do the trick.

[2020-09-29 12:30] nqb commented on #5860
@jrouzierinverse, is your commit will fix following tests:

[code]

If no, please re-open.

[2020-09-29 12:32] #5854 closed

[2020-09-29 12:40] #5856 closed

[2020-09-29 12:45] satkunas commented on #5840
@julsemaan by default the tables are ordered by `created_at DESC`. If you override this default it's saved in the application's local storage. Try clearing this storage and re-try.

[2020-09-29 12:47] satkunas commented on #5843
@fdurand which fields are mandatory? I'll add some client-side validation to ensure they're populated.

[2020-09-29 12:58] julsemaan commented on #5840
This was likely fixed by another issue you closed that was related to all the index pages

[2020-09-29 12:58] #5840 closed

[2020-09-29 13:04] julsemaan commented on #5858
Can you provide an example to replicate.

When I install a fresh CentOS without touching NM I'm unable to replicate this

[2020-09-29 13:07] fdurand commented on #5828
After talking to the team , we will probably need to limit the validity of a certificate to a maximum of 825 days (https://support.apple.com/en-ca/HT210176). @satkunas is it possible to limit the validity field in the form (CA and profile) ?

[2020-09-29 13:10] fdurand commented on #5843
ca_id digest key_size key_type name validity

[2020-09-29 13:44] #5860 closed

[2020-09-29 13:52] nqb commented on #5858
I will provide a way to replicate.

[2020-09-29 14:39] #5849 closed

[2020-09-29 14:57] lzammit opened #5861 "Pull the wrong cert during windows provisioning"
Add a template check when PF pulls the certificate per username because if you have two RootCA it will always download the certificate from the 1st RootCA for that username

Example:

ZamRootCA -> UserZamProfile -> lzammit (cert)

ZamRootCA2 -> UserZamProfile2 -> lzammit (cert)

the provisioning will always push the lzammit cert issued by ZamRootCA even though the Provisioner PKI Provider points a

[2020-09-29 14:59] satkunas commented on #5848
@jrouzierinverse has implemented a new scheduling that's much more flexible than the previous intervals.

For now I will implement a dropdown that allows 1 choice from the following static schedules:

[code]

Later we will deprecate the static list for a custom component that allows more granular definition.

[2020-09-29 15:03] satkunas opened #5862 "Web Admin - Scheduling component"
**Describe the solution you'd like**
Deprecate the use of a static list used to fix #5848 and use a custom component that allows granular control of scheduling.

[2020-09-29 15:09] julsemaan commented on #5862
This needs to be for 10.2 IMO, not 11.0

[2020-09-29 15:10] julsemaan commented on #5862
mis-read, there is static list for the moment, disregard that comment

[2020-09-29 15:26] julsemaan commented on #5851
Still doesn't work because of another error:
[code]

Please make sure you fix+test before closing

[2020-09-29 15:36] julsemaan opened #5863 "Search stays active but search bar content is empty"
**Describe the bug**
When you have a search query, click on an item and then return back, the search is still active (seeing filtered items) but the search bar text is empty. So you think there is no active search but its still active.

**To Reproduce**
1. Go in System Configuration->Maintenance
2. Search for ip4log
3. You'll see the ip4log_cleanup task
4. Click to edit the ip4log_cleanup task
5.

[2020-09-29 15:36] julsemaan commented on #5863
This affects pretty much all the PF sections. Although I used maintenance as an example, its there in nodes, users, auditing, etc

[2020-09-29 15:37] julsemaan commented on #5863
Also, I think it would be useful to cherry-pick this in the maintenance if possible

[2020-09-29 15:40] fdurand opened #5864 "Filter convertion script doesn't work correctly"
**Describe the bug**

Negate doesn't work

**To Reproduce**

In the vlan_filter.conf (old style)

[code]

run the upgrade script to-10.0-filter_engines.pl

The result is:

[code]

In the admin gui:

![image](https://user-images.githubusercontent.com/1553962/94580895-70e6b200-0248-11eb-9d53-e4dc09dabc4f.png)

[2020-09-29 16:05] julsemaan commented on #5853
I fixed the actual issue where the unregdate is not honored but this references another problem about the release_date being truncated. @jrouzierinverse, can you take a look ?

[2020-09-29 16:40] #5851 closed

[2020-09-29 16:53] jrouzierinverse commented on #5853
@lzammit how did you trigger the security event?

[2020-09-29 16:55] lzammit commented on #5853
On the Device type Windows OS.

[2020-09-29 17:00] #5853 closed

[2020-09-29 17:08] jrouzierinverse commented on #5816
Please retest

[2020-09-29 17:19] #5831 closed

[2020-09-29 19:06] julsemaan opened #5865 "Failure in to-10.2-pfmon-maintenance.pl"
**Describe the bug**
[code]

[2020-09-29 19:12] julsemaan opened #5866 "fingerbank-collector check on pfmon makes it fail the PF checks"
**Describe the bug**
The collector has checks to validate it runs on PF. One of these checks is on the pfmon process existing. If it doesn't exist, the collector exits after 5 minutes.

[2020-09-29 19:19] julsemaan commented on #5866
Pushing collector 1.3.13 with the fix, will close this once I confirm the fix tomorrow

[2020-09-29 19:33] julsemaan opened #5867 "fingerbank_data_update does nothing on standalone server"
**Describe the bug**
The fingerbank_data_update maintenance job does nothing when being run on a standalone server.

[2020-09-29 19:35] #5865 closed

[2020-09-29 19:38] fdurand opened #5868 "User manager without create multiple crash the admin gui"
**Describe the bug**
Log in the admin gui with a account who don't have create multipes crash the admin gui.

**To Reproduce**

Create an admin acces role like that :

![image](https://user-images.githubusercontent.com/1553962/94607210-9df78c80-0269-11eb-8ed5-77b464b823ee.png)

And log in  in the admin gui and click on createuser

**Screenshots**

![image](https://user-images.githubusercontent.com

[2020-09-29 19:44] fdurand opened #5869 "Allowed actions in user action in admin role is not respected."
**Describe the bug**

Have a admin role like that:

![image](https://user-images.githubusercontent.com/1553962/94607598-224a0f80-026a-11eb-8f12-de53a70f99d3.png)

Doesn't limit the actions when you create a user. (You have all the actions available)

[2020-09-29 20:06] jrouzierinverse commented on #5869
@satkunas you should be using /api/v1/current_user/allowed_user_actions to populate allowed actions for a user.

[2020-09-29 20:51] #5864 closed

[2020-09-30 05:28] nqb commented on #5816
Still an issue. I got exact same logs as mentioned in [my previous comment](https://github.com/inverse-inc/packetfence/issues/5816#issuecomment-696552063).

[2020-09-30 10:49] nqb commented on #5565
Hello @jrouzierinverse,

I got a similar error during an upgrade from 9.1.0 to 10.1.0 in a cluster environment on CentOS 7.

I was testing if accounting works as expected on node C [at this step](https://packetfence.org/doc/PacketFence_Clustering_Guide.html#_start_service_on_node_c) after I restart services using instructions mentioned in link.

`pfacct` was not able to handle any accounting reque

[2020-09-30 11:26] jrouzierinverse commented on #5565
This sounds like the DocConfig was not properly reloaded since the accounting_timebucket_size was not turned into an integer.

[2020-09-30 11:46] jrouzierinverse commented on #5565
This will only happen during an upgrade cfabb3b should fix it.

[2020-09-30 11:52] jrouzierinverse commented on #5816
Please retest should be fixed in b3bc399e5d1e40ab3f5a8c00f297e27ad0a21fb2.

[2020-09-30 12:14] nqb commented on #5816
I ran an integration tests [job](https://gitlab.com/inverse-inc/packetfence/-/jobs/765272764) on pipeline triggered by this commit. If test failed with [following error](https://gitlab.com/inverse-inc/packetfence/-/jobs/764419921#L1544), it means issue is not fixed.

Edit: I ran again a test because it failed due to #5872

[2020-09-30 12:16] nqb commented on #5565
Could you backport that to maintenance/10.1 to avoid issue when doing an upgrade ?

[2020-09-30 12:43] julsemaan opened #5870 "Inherited values of switch group aren't displayed when creating a new switch"
**Describe the bug**
When creating a new switch, the inherited values of the switch group aren't displayed as the inherited values. Instead you only see the default values of the 'default' switch group

**To Reproduce**
1. Reset your switches.conf (mv conf/switches.conf.example conf/switches.conf)
1. Create a switch group using this config:
[code]
1. Create a new switch in the meraki group
1. You'

[2020-09-30 12:45] julsemaan commented on #5870
When looking at the OPTIONS call '/api/v1/config/switches?type=meraki', the placeholder for 'type' is set to Generic so it looks to be an issue in the backend

[2020-09-30 12:54] julsemaan opened #5871 "pfmon.conf doesn't exist anymore while upgrading to 10.2"
**Describe the bug**
pfmon.conf doesn't exist anymore since it has been removed from the spec so the script addons/upgrade/to-10.2-pfmon-maintenance.pl fails with:
[code]

[2020-09-30 13:10] #5871 closed

[2020-09-30 13:20] #5868 closed

[2020-09-30 13:39] nqb opened #5872 "Difference between regdate and unregdate could not match an access duration"
**Describe the bug**
Sometimes, integration tests will fail when we verified if a node autoregistered with an access duration has an unreg date sets to regdate+access duration . We could have one second of difference. Example of a [failed test](https://gitlab.com/inverse-inc/packetfence/-/jobs/765272764#L1273).

**To Reproduce**
Steps to reproduce the behavior:
1. Autoregister a node with an acces

[2020-09-30 14:02] julsemaan commented on #5867
Cluster is broken though. It only updates the DB on the first server:

[code]

[2020-09-30 15:01] nqb commented on #5816
[Pipeline](https://gitlab.com/inverse-inc/packetfence/-/jobs/765490296) passed, should be fix.

[2020-09-30 15:15] jrouzierinverse commented on #5867
This is fixed by 077f9d718c221a1d0e63c33b02db3249055c9143 and f4b78248acac6bd0d2b34375707fb02a81f787dc.

[2020-09-30 15:27] #5863 closed

[2020-09-30 15:39] lzammit opened #5874 "Cluster: pfcron not falling over other node"
Step to reproduce:

systemctl stop packetfence-pfcon  on pf1 then tail the logs on pf2 and pf3.

Stop pfcron on pf2 then check the pfcron logs.

[2020-09-30 15:50] jrouzierinverse commented on #5874
That will not cause it to failover.
It will only failover if a pf2 becomes the new master.

[2020-09-30 15:53] satkunas commented on #5848
@jrouzierinverse @julsemaan a static dropdown has been added. Please review to ensure this temporary workaround satisfies 10.2.

[2020-09-30 16:29] julsemaan opened #5875 "Switch filters are unusable in the admin interface"
**Describe the bug**
The switch filters cannot be used because you can define the condition but cannot set the parameters and type override so you're just matching conditions but can't perform any actions for modifying the switch

**To Reproduce**
1. Navigate to the switch filters

[2020-09-30 16:43] lzammit commented on #5874
Oh, I see, pfcron follow the management VIP ?

[2020-09-30 16:47] lzammit commented on #5874
stopping keepalived make pfcron fail over.

[2020-09-30 16:47] #5874 closed

[2020-09-30 18:41] jrouzierinverse commented on #5875
It looks like a frontend issue.
The following fields in OPTIONS were not implemented.
  log
  params
  status
  switch

@satkunas @cgx can you look at it?
Let me know if you need anything.

[2020-09-30 18:56] julsemaan opened #5876 "pfdns crashes on concurrent map write when there is enough load"
**Describe the bug**
pfdns crashes consistently when there is enough load on it due to a concurrent map write (trace below is for 10.0)

[code]

[2020-09-30 18:56] julsemaan commented on #5876
Happens here:
https://github.com/inverse-inc/packetfence/blob/v10.0.1/go/coredns/plugin/pfdns/pfconfig.go#L137

[2020-09-30 19:00] jrouzierinverse commented on #5872
I move to close this.
The access duration calculation usually uses the current time + access duration.
@julsemaan @fdurand thoughts?

[2020-09-30 19:04] julsemaan commented on #5876
dupe of #5435, it was missing from maintenance/10.0

[2020-09-30 19:04] #5876 closed

[2020-09-30 19:07] lzammit opened #5877 "WMI scans are not working"
Warning: 1048: Column 'report_id' cannot be null:

[code]
[code]

[code]

[2020-09-30 19:13] julsemaan commented on #5872
It would make sense for unregdate to be equal to regdate + the duration but AFAIK it would be a bit painful to implement just to get rid of the 1 second difference that will occur.

Could we adjust the integration test to allow for a 5 seconds tolerance which would be more than enough ?
Or perhaps use something else than the regdate for that check ?

The regdate is an informative field so I don't

[2020-09-30 19:40] #5870 closed

[2020-10-01 10:57] #5867 closed

[2020-10-01 10:59] jrouzierinverse commented on #5848
The only thing I added is the ability to add a custom value to the list.

[2020-10-01 11:22] jrouzierinverse commented on #5668
Have you tried this?

[code]

[2020-10-01 13:40] julsemaan commented on #5877
@lzammit will test again since the report_id warning seems to be unrelated to the actual issue (WMI isn't working)

[2020-10-01 13:41] julsemaan commented on #5875
@satkunas will start looking at it

[2020-10-01 13:41] julsemaan commented on #5866
Fix works

[2020-10-01 13:41] #5866 closed

[2020-10-01 13:43] julsemaan commented on #5848
@julsemaan will check that the dropdown works fine

@jrouzierinverse will document the new format of the interval

[2020-10-01 13:44] julsemaan commented on #5848
@jrouzierinverse will also add validation of the interval field

[2020-10-01 13:45] julsemaan commented on #5843
@satkunas will add these fields as required

[2020-10-01 13:46] julsemaan commented on #5872
Will wait for @nqb for feedback

[2020-10-01 13:49] julsemaan commented on #5828
@satkunas will limit the validity in the frontend for the CA and the profile

[2020-10-01 13:50] julsemaan commented on #5499
@satkunas will check if the suffix is added in the frontend for the simple user create and add it in the import section if its easy, otherwise we push the milestone

[2020-10-01 13:51] julsemaan commented on #4395
@satkunas, please provide input on this issue based on @nqb's comments

[2020-10-01 13:52] julsemaan commented on #4340
GUI is now tenant aware

[2020-10-01 13:52] #4340 closed

[2020-10-01 14:52] cdcrawford opened #5879 "Search within Nodes using the Role Field, and functions of "Starts with" "Contains" "Ends with" is not working"
**Describe the bug**
When searching for a Role (thus far I've only seen it when searching for the role) using Starts with, Contains, or Ends with, yields no results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Notes
2. Hit Advanced Search
3. Change Field to Role
4. Search Function to any of Contains, Starts with, Ends with.
5. Throw a search in there
6. No results.

**Screenshots**

[2020-10-01 15:00] #5817 closed

[2020-10-01 15:11] #5828 closed

[2020-10-01 15:28] #4395 closed

[2020-10-01 16:10] cgx commented on #5875
[code]

@julsemaan would it be possible to have static list of values for `type`?

[2020-10-01 16:38] julsemaan commented on #5875
I'm not really familiar with switch filters and the forms of the filter engine but I guess @jrouzierinverse can populate something there that looks like the form of the RADIUS filters but with the attributes for the switch

[2020-10-01 17:07] fdurand commented on #5869
Still have the complete allowed option when itry to create a user in the admin gui.

[2020-10-01 18:50] fdurand commented on #5869
The role list is empty when you select set_role.

[2020-10-01 19:11] #5869 closed

[2020-10-01 20:19] jrouzierinverse commented on #5875
Done

[2020-10-02 00:33] fdurand opened #5880 "chi cache expires_in parameter ignored"
**Describe the bug**
The chi cache is expired too quickly.

**To Reproduce**
1. Run:
/usr/local/pf/bin/pfcmd pfmon ubiquiti_ap_mac_to_ip
2. Run:
pfcmd cache switch_distributed list
Ubiquiti-80:2a:a8:86:3d:5b
Ubiquiti-80:2a:a8:87:3d:5b
Ubiquiti-80:2a:a8:88:3d:5b
Ubiquiti-82:2a:a8:87:3d:5b
Ubiquiti-82:2a:a8:88:3d:5b
Ubiquiti-92:2a:a8:87:3d:5b
Ubiquiti-92:2a:a8:88:3d:5b

3. run one more time few seco

[2020-10-02 11:51] #5880 closed

[2020-10-02 12:16] fdurand opened #5881 "Perl unit tests failed"
pfcen7dev:
    pfcen7dev: #   Failed test at unittest/ConfigStore/FilterEngine.t line 40.
    pfcen7dev: #     Structures begin differing at:
    pfcen7dev: #          $got->{value} = 'b'
    pfcen7dev: #     $expected->{value} = Does not exist
    pfcen7dev:
    pfcen7dev: #   Failed test at unittest/ConfigStore/FilterEngine.t line 81.
    pfcen7dev: #     Structures begin differing at:
    pfcen

[2020-10-02 14:39] #5881 closed

[2020-10-02 14:50] jrouzierinverse commented on #5848
Validation is added, please review.

[2020-10-02 15:02] julsemaan commented on #5848
works on my end

[2020-10-02 15:02] #5848 closed

[2020-10-02 16:07] #5875 closed

[2020-10-02 16:47] julsemaan opened #5882 "Searching RADIUS attributes doesn't work on 10.0 maintenance"
**Describe the bug**
Searching for RADIUS attributes in the RADIUS filter section doesn't work and prevents you from finding the attribute you want to use to setup the answer.

**To Reproduce**
1. Be on maintenance/10.0 commit ID ab186720ca506ff8b7b9fcd2c63b688eed29e69a
2. `curl 'https://localhost:9999/api/v1/radius_attributes' -H 'User-Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:80.0) Gecko

[2020-10-02 18:11] jrouzierinverse commented on #5882
This has been fixed by b1b43a737c69578ff2cf18e6b20d65256c7d48d1

[2020-10-02 18:26] julsemaan opened #5883 "Golang DB driver doesn't trim spaces of configuration elements"
**Describe the bug**
The Golang DB driver doesn't trim the spaces of the different configuration elements it uses. This can/will cause connection failures since the values are used as-is

**To Reproduce**
1. Set this in pf.conf:
[code]
1. configreload and restart pfdhcp

[2020-10-02 18:30] julsemaan commented on #5883
Reopening to cherry-pick in the maintenance after the release of 10.2 to ensure it fully works

[2020-10-04 15:25] jrouzierinverse commented on #5879
We would need to change the frontend to search using 'node_category.name' instead of 'category_id'.

[2020-10-05 05:57] nqb opened #5884 "Integration tests: LDAP test can fail randomly"
**Describe the bug**
During integration tests, sometimes, LDAP test failed with following error:

[code]

[Example job](https://gitlab.com/inverse-inc/packetfence/-/jobs/772068384).

Logs show following errors:

[code]

[2020-10-05 06:23] nqb commented on #1095
On 10.1 and devel, it doesn't seems possible to apply bulk actions to switchs even if #4212 is merged.

The only way to apply bulk actions to switches is to use CSV import.

[2020-10-05 06:32] nqb commented on #5297
@fdurand, I understand your idea and it makes sense. But when you install PacketFence, you don't use certs under `/etc/freeradius/certs`.

Perhaps we can play on an environment variable to have following behavior:
- if you install `freeradius` package, generate certificates in `/etc/freeradius/certs`
- if you install `packetfence` package, don't generate certificates during `freeradius` package in

[2020-10-05 08:26] nqb commented on #5872
Yes, I will do it. It seems possible to use an assertion like ShouldHappenBetween

[2020-10-05 08:42] nqb opened #5885 "pfdns doesn't return IP address of portal"
**Describe the bug**
In a inline L2 setup, I'm not able to get IP address of portal when I query `pfdns`.

It looks like `pfdns` forwards request for name of portal to DNS configured for inline L2 network in place of answering itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an inline L2 network with DHCP and a DNS server
2. Restart haproxy-portal, pfdns, iptables, pfdhcp, p

[2020-10-05 09:38] nqb commented on #5885
Same behavior with a registration interface.

[2020-10-05 10:02] nqb opened #5886 "Creation of Null source failed if email required field is not enabled"
**Describe the bug**
If I try to create a Null source with an authentication rule and email required is not set, I got following error:
`config/sources: Unknown error, check server side logs for details.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Null source called null0
2. Create a catchall authentication rule that assign guest role with a built-in access duration
3. Try to s

[2020-10-05 11:19] #5886 closed

[2020-10-05 11:35] julsemaan commented on #5879
We should be careful with this change since category_id is indexed in the node table.

If we decide to move forward with making contains work, it should use node_category.name when its contains and category_id when its equals

I believe the behavior of the old admin was to allow only exact matching on that field which we could use as a fix if using a different field based on the operator is too co

[2020-10-05 12:36] fdurand commented on #5885
I have a the latest devel installed and i am not able to replicate. (inline and reg network).
It will be easier if i have access to the machine.

[2020-10-05 14:22] jrouzierinverse commented on #5879
I was considering handling this on the backend.
But going through all the different scenarios I believe it would be better to push that complexity to the frontend.

[2020-10-05 14:24] jrouzierinverse commented on #5877
@lzammit can we close this?

[2020-10-05 15:00] #5565 closed

[2020-10-05 15:56] #5885 closed

[2020-10-05 16:13] julsemaan commented on #5885
Useful for the maintenance ?

[2020-10-05 18:23] #5499 closed

[2020-10-06 05:55] nqb opened #5887 "Cluster upgrade: galera-autofix is already restart on node C"
**Describe the bug**
[Last step of a cluster upgrade](https://github.com/inverse-inc/packetfence/blob/52fcb4981c981a672e18cf5490340c143722a2c4/docs/PacketFence_Clustering_Guide.asciidoc#restart-the-galera-autofix-service) is to restart `galera-autofix` service on node C but this service is already restarted.

[2020-10-06 06:11] nqb opened #5888 "backup: exclusion of conf/certmanager"
**Describe the bug**
`conf/certmanager` has been excluded from backups in https://github.com/inverse-inc/packetfence/commit/a98c329487ba0d0e1d64c2b3deb7634c5a698ac0

Documentation needs to be adjusted with new tar command and I would like to ensure that a full recovery of `/usr/local/pf` will provide a working setup.

[2020-10-06 06:21] nqb commented on #5888
I didn't add `conf/certmanager` to documentation because I want to test before.

[2020-10-06 13:06] nqb opened #5889 "keepalived: route not added in conf when next_hop is your default gateway"
**Describe the bug**
When you configure a L3 network as "Registration" and use IP address of your default gateway as next hop, there is no static routes added in `/usr/local/pf/var/conf/keepalived.conf`

**To Reproduce**
Steps to reproduce the behavior:
1. Configure your management interface with `dhcp` daemon
2. Create a L3 network as "Registration" with next hop value equals to default gateway o

[2020-10-06 13:37] #5887 closed

[2020-10-06 14:08] fdurand commented on #5889
It looks that because next_hop is not in the management network.
So if PacketFence is not able to know what is the interface to use, then it bypass the route.

[2020-10-06 19:13] rwwest77 opened #5890 "Switch is not managed by PacketFence"
**Describe the bug**
No matter what I changed, the PacketFence always responds with "Switch is not managed by PacketFence", even though the IP is listed under Switches.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a client to an SSID with MAC filtering turned on
2. See error in live audit log

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected

[2020-10-06 19:18] julsemaan commented on #5890
Use the mailing list for configuration related questions

[2020-10-06 19:18] #5890 closed

[2020-10-07 05:52] nqb opened #5891 "web admin: change default sorting order in IPv4/6 tabs (Nodes)"
**Describe the bug**
When you display IPv4/6 adresses for a node using IPv4/6 tab, web admin will displays **old** IPv4/6 addresses first.

It's counterintuitive when you have seen latest IPv4/6 address of your node in Nodes search.

**To Reproduce**
Steps to reproduce the behavior:
1. Search a nodes in Nodes menu
=> You see latest IPv4 address for this node

2. Click on MAC of node
3. Go in IPv4

[2020-10-07 11:52] julsemaan opened #5893 "Allow configuration of the expiration of the local accounts"
**Is your feature request related to a problem? Please describe.**
Right now local accounts are always expiring 31 days after their creation (#5892 changes it to follow the validity of the access) and its not flexible

**Describe the solution you'd like**
In the auth source, we should have a field that defines an access duration for the validity of the local account.
We could use a 0 value to foll

[2020-10-07 12:09] lzammit commented on #5877
I would say yes since it does not prevent the scan from running.

[2020-10-07 12:09] #5877 closed

[2020-10-07 13:16] nqb opened #5894 "SNAT interface for passthroughs doesn't work as expected"
**Describe the bug**
If you want to use a specific SNAT interface for passthroughs in a VLAN enforcement scenario, you have to set `SNAT interface` to value of your specific interface in `Network configuration -> Network settings` and restart `packetfence-iptables`.

By default, `SNAT interface` for passthroughs is management interface. If you change this value, PF add new rules but keep rules rel

[2020-10-07 13:35] nqb commented on #5889
You're right. In this configuration, next hop is not in the management network but it matchs an existing interface defined in PF configuration. GUI doesn't complain when I added next hop. However, I know that is the case when you add a next hop that is not on any network attached to PF.

From my point of view, in this specific situation, route should be created in keepalive configuration.

[2020-10-07 13:38] fdurand commented on #5889
So the dhcp daemon needs to be added on the interface use to route the packet and it will work.

[2020-10-07 13:57] nqb commented on #5889
You're right, route to L3 network is present in `/usr/local/pf/var/conf/keepalived.conf` after I added `dhcp` daemon on this interface.

Perhaps we should add a new check when we declare a next hop to ensure its IP address matchs a PacketFence interface where a DHCP daemon is listening.

[2020-10-07 14:13] nqb opened #5895 "packetfence-pki: allow to configure Organisation, country, State, etc. in templates"
**Is your feature request related to a problem? Please describe.**
When you create a certificate template, you don't have possibility to set Organisation, Country, State, etc. fields.

Consequently, you have to set this field each time you generate a certificate based on template.

**Describe the solution you'd like**
Inherit Organisation, Country, State, etc. fields from template when creating ce

[2020-10-07 14:14] nqb opened #5896 "packetfence-pki: configure Organisation, Country, State, etc. fields on Templates"
**Is your feature request related to a problem? Please describe.**
When you create a certificate template, you don't have possibility to set Organisation, Country, State, etc. fields.

Consequently, you have to set this field each time you generate a certificate based on template.

**Describe the solution you'd like**
Inherit Organisation, Country, State, etc. fields from template when creating ce

[2020-10-07 14:26] nqb opened #5897 "packetfence-pki: add Organisation unit field in template and certificate"
**Is your feature request related to a problem? Please describe.**
Organizational unit (OU) is a field allowed in X509 certificate according to this [post](https://stackoverflow.com/questions/6464129/certificate-subject-x-509#6464435) but we don't have possibility to configure it at the moment.

It's an interesting field if you want to extract it from certificate to match against an organizational

[2020-10-07 19:52] fdurand opened #5899 "User create doesn't permit to print and send the user details"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a admin role with this actions:
![image](https://user-images.githubusercontent.com/1553962/95380461-ca885580-08b4-11eb-8e98-4cacc25cb583.png)

2. Assign an user with this adminrole and connect on the admin gui.
3. You are able to create the user account but not ableto print or send theuser information

**Screenshots*

[2020-10-07 20:19] fdurand commented on #5861
When you pull the certificate it's not complicate to select the correct one since we have the profile id.
But when you will want to revoke it when you unreg the device we don't have the profile_id so we will need to keep track of the profile used to create the certificate.

[2020-10-08 10:31] nqb commented on #5804
PR has not been backported to maintenance.

[2020-10-08 10:33] nqb commented on #5804
I will backport fix to maintenance branches until maintenance/9.0 because I don't know if it works on Debian 8 (before PF 9.0).

[2020-10-08 10:48] nqb commented on #5804
I will have to backport by hand because PR has been rebased with an additionnal exclude for `conf/certmanager` (#5888)

[2020-10-08 12:17] lzammit commented on #5861
It's not me selecting the certificate but the PKI provisioner.

[2020-10-08 12:24] nqb commented on #5825
When you enable PKI on public interface(s), it would make sense to reach PKI using a standard port in place of using 22225 as port. Because at the moment, you have to specify `http://PUBLIC_IP_ADDRESS:22225/api/v1/pki/ocsp`

[2020-10-08 14:39] julsemaan opened #5901 "Missing upgrade scripts from the upgrade notes of 10.2"
**Describe the bug**
There are 4 upgrade scripts in the directory, only 2 in the instructions

[2020-10-08 15:48] julsemaan opened #5904 "No RADIUS filters called in pfacct"
**Is your feature request related to a problem? Please describe.**
The RADIUS filters are not called in pfacct so its hard to alter the behavior of the service

**Describe the solution you'd like**
Have pfacct call pffilter to alter the RADIUS request attributes (and control attributes if any)

**Describe alternatives you've considered**
Using radiusd-acct but I need to have bandwidth violations t

[2020-10-08 16:27] julsemaan commented on #5904
After brainstorming with @fdurand, it could be useful to have a mode where radiusd-acct and pfacct are both enabled and radiusd-acct proxies to pfacct.

That fixes the RADIUS filter issue and provides all features of FreeRADIUS if they are needed.

That mode should only kick in when radiusd-acct and pfacct are both enabled, the default should still stay only pfacct

[2020-10-08 18:00] julsemaan opened #5905 "Allow to return custom RADIUS attributes inside the switch configuration itself"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to return one or more custom RADIUS attributes that have values based on the role being returned and the switch you're configuring. Right now, you'd have to create a RADIUS filter for each role+location which generates a lot of filters (i.e. you have 10 roles and 10 location, you get 100 filters). You also can't

[2020-10-09 14:39] fdurand commented on #5899
Fixed with the following code

[code]

But at least we will need to support some kind of group permissions, like per example :

CONFIGURATION_BASE_ALERTING_GROUP : CONFIGURATION_MAIN,USERS,NODES

[2020-10-09 15:22] fdurand commented on #5894
Can you try that:
https://github.com/inverse-inc/packetfence/commit/07ec21553faabb7b3d15b316247fb7e33209b67a

[2020-10-09 15:23] #5893 closed

[2020-10-09 16:37] jrouzierinverse opened #5907 "Upgrade MariaDB"
Support end will in October.

https://mariadb.com/kb/en/changes-improvements-in-mariadb-101/

[2020-10-11 15:18] csehvendel-szie opened #5909 "Fingerbank-collector too many open files"
After Packetfence 10.2 upgrade ( fingerbank-collector 1.3.13-1) my fingerbank.log is full with these lines:

Oct 11 17:12:50 nac1 fingerbank-collector: http: Accept error: accept tcp [::]:4723: accept4: too many open files; retrying in 1s
Oct 11 17:12:51 nac1 fingerbank-collector[17663]: http: Accept error: accept tcp [::]:4723: accept4: too many open files; retrying in 1s
Oct 11 17:12:51 nac1 fin

[2020-10-12 11:37] e8ahubi commented on #5757
https://github.com/inverse-inc/packetfence/issues/5907
Upgrade of MariaDB is planned for version 11.0

[2020-10-12 11:37] #5757 closed

[2020-10-12 14:56] sonaligulia opened #5910 "packetfence install on centos 8"
hi ,
i am trying to install packetfence on centos 8 by using command   yum install --enablerepo=packetfence packetfence
but  get
No match for argument: packetfence
Error: Unable to find a match: packetfence

its working fine with centos7 .

[2020-10-12 21:07] extrafu commented on #5910
PacketFence is not yet supported on CentOS 8.

[2020-10-12 21:07] #5910 closed

[2020-10-13 09:40] ZdenekPala commented on #5905
I believe this FR is very beneficial.
Just to be sure, the "Role by RADIUS attributes" can be combined with "Role by VLAN ID" and "Role by Switch Role".
the final radius Access-Accept should contain the combined information.

[2020-10-13 11:58] julsemaan commented on #5905
Yes that is correct, it will combine with any other one that is enabled

[2020-10-13 13:31] julsemaan commented on #5909
Are there any other errors around these lines ?

Also, could you provide the output of the following command:
`lsof -p `pidof fingerbank-collector`

[2020-10-13 15:38] fdurand opened #5912 "Portal module set role action"
**Describe the bug**
When you set a "set_role" action in a portal module, the value saved in the configuration file is the id of the role and not the role itself.

**Screenshots**

![image](https://user-images.githubusercontent.com/1553962/95883050-72d06b00-0d48-11eb-9849-1c879f1bfae0.png)

![image](https://user-images.githubusercontent.com/1553962/95883113-88459500-0d48-11eb-8e6e-ecd1ffa4d976.png

[2020-10-13 17:10] jrouzierinverse commented on #5912
It looks like the frontend is sending the role id instead of the name.
@satkunas the action.item.properties.value is just a plain text field.
Do you want to me add the sibling attribute in action.item.properties.type?
Or are you going to handle that in the frontend?

[2020-10-13 17:33] jrouzierinverse commented on #5912
@satkunas I added the siblings can you update the frontend.

[2020-10-13 19:05] csehvendel-szie commented on #5909
lsof -p 3916
COMMAND    PID USER   FD      TYPE             DEVICE SIZE/OFF      NODE NAME
fingerban 3916 root  cwd       DIR              254,1     4096         2 /
fingerban 3916 root  rtd       DIR              254,1     4096         2 /
fingerban 3916 root  txt       REG             254,32 12649024 402679591 /usr/local/fingerbank/collector/fingerbank-collector
fingerban 3916 root  mem       RE

[2020-10-13 19:09] csehvendel-szie commented on #5909
i have ~12 000 nodes on this pf cluster with vlan enforcement.

can i limit the max number of open sockets??

[2020-10-13 21:15] jacac opened #5913 "Support for Ruckus DPSK"
PF supports Cisco's iPSK and it would be nice if this could be extended to support Ruckus DPSK as well. It is documented here https://docs.ruckuswireless.com/unleashed/200.8/GUID-E0AD67EA-91EB-473D-9F14-1C7A3ADC1F1B.html.

[2020-10-14 05:52] nqb commented on #5912
This issue is a duplicate of #5133

[2020-10-14 11:29] jrouzierinverse commented on #5133
I sent set_role_by_name instead of set_role and it seems to have broken the viewing of portal modules containing an action with set_role_by_name.

[2020-10-14 12:21] julsemaan commented on #5883
cherry-picked in maint 10.0 and 10.1

[2020-10-14 12:21] #5883 closed

[2020-10-14 12:23] julsemaan commented on #5793
cherry-picked ca5a237 into maintenance

@nqb, ff1aacd has conflicts cherry-picking, if its needs to get into the maintenance you'll have to take care of it

[2020-10-14 13:30] julsemaan commented on #5913
Its coming, its in the following branch: https://github.com/inverse-inc/packetfence/tree/feature/ruckus-dpsk

[2020-10-14 14:20] nqb commented on #5804
Backport done.

[2020-10-14 14:20] #5804 closed

[2020-10-14 14:39] julsemaan commented on #5909
Your issue here seems to be with ARP lookups in the collector (which are disabled by default)

Try disabling that in the general setting of Fingerbank in the PacketFence admin and restarting the fingerbank-collector

ARP lookups should only be used in small scale deployments

[2020-10-14 18:39] jrouzierinverse commented on #5133
The branch where I did my changes is fix/portal_module_action_set_role_by_action.
The Admin GUI crashes whenever I use set_role_by_name as an action.
@cgx or @satkunas can you look into this?

[2020-10-14 18:42] julsemaan opened #5915 "EAP TLS source doesn't support catchalls"
**Describe the bug**
As discovered by some of our peers, the EAP TLS source doesn't seem to work with a catchall condition. I think that should be the case as you wouldn't want the EAP TLS source granting access to a role for everyone (including non EAP TLS connections).

We need to confirm 100% if that is really the case, if so, then just have the frontend prevent catchall rules by ensuring there

[2020-10-14 19:02] lzammit commented on #5915
Let me get my shovel and dig.

[2020-10-14 19:28] lzammit commented on #5915
PacketFence v10.2

It works without any conditions on an EAP TLS rule.

Config:
[code]

[code]

[2020-10-14 19:37] julsemaan commented on #5915
So then maybe the issue on the customer site was due to an old bug in PF that we already fixed.

@lzammit you were on that call, anything else we need to check that would be related to that case before we close this one?

[2020-10-14 19:48] #5904 closed

[2020-10-15 05:15] nqb commented on #5793
Sure, I reopened.

[2020-10-15 08:01] nqb opened #5917 "pfpki: unable to send certificates by mail"
**Describe the bug**
When I try to send a certificate by mail, I got following error message in web admin:

[code]

Certificate is not sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Alerting section in PacketFence with a SMTP server, sender and recipients
1. Configure a CA
1. Create a template
1. Generate a certificate based on template with an email address
1. Send certific

[2020-10-15 10:34] jrouzierinverse commented on #5917
What is the value of alterting.smtp_encryption?

[2020-10-15 11:10] jrouzierinverse commented on #5654
Bump!

[2020-10-15 12:03] nqb commented on #5917
Hello,

Default value, I didn't change it.

[2020-10-15 12:34] fdurand commented on #5917
You probably forgot to fill the PKCS12 tab in the profile.

[2020-10-15 12:49] nqb commented on #5917
No I did it to test with all fields. Anyway, it should not prevent to send an email.

[2020-10-15 14:37] sonaligulia opened #5918 "haproxy-admin unable to start in a cluster"
hi all ,
my all services working fine but i am not able to sync because my packetfence-haproxy-admin service not running
its showing error like

 Parsing [/usr/local/pf/var/conf/haproxy-admin.conf:106]: backend '10.x.x.x-admin' has the same name as backend '10.x.x.x-admin' declared at /usr/local/pf/var/conf/haproxy-admin.conf:80.
[WARNING] (8872) : parsing [/usr/local/pf/var/conf/haproxy-admin.con

[2020-10-15 16:21] theonemcdonald opened #5919 "10.1 to 10.2, Unauthorized Access, Lacking the PFCRON_READ Administrative Role"
**Describe the bug**
10.1 to 10.2, Unauthorized Access, Lacking the PFCRON_READ Administrative Role

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade 10.1 to 10.2 (3 node cluster)
2. Verify Node C functionality.
3. See this error Unauthorized Access, Lacking the PFCRON_READ Administrative Role when logged in via the 'admin' user.
4. Have to roll back to 10.1

[2020-10-15 18:07] rcmcdonald91 commented on #5919
#5901 fixes this bug. Closing.

Edit: nevermind. Problem still persists.

[2020-10-16 10:48] #4332 closed

[2020-10-16 11:23] julsemaan commented on #5901
@jrouzierinverse seems the missing instructions are related to features you've made, can you adjust the upgrade guide so it includes what is necessary please

[2020-10-16 11:35] julsemaan commented on #5882
This is still broken, I applied the latest maintenance and searching for idle-timeout yields the following response:
[code]

[2020-10-16 11:36] julsemaan commented on #5882
searching for `timeout` now works but not `Idle-Timeout`.

Interesting thing to note, searching for `timeout` doesn't yield the `Idle-Timeout` attribute

[2020-10-16 13:45] julsemaan opened #5920 "Doing a switches bulk_import in a switch DB that has 4K entries yields a 504"
**Describe the bug**
When you try to import switches in a configuration that already has a lot of entries (4K in my case), the commit takes a lot of time and that yields a 504 to the user and you get to think the import failed.

According to the logs, the browser itself is canceling the request as far as I can tell:
[code]

We need to have the import process poll for the job completion as it may b

[2020-10-16 14:06] julsemaan commented on #5918
Can you post this file please:
/usr/local/pf/var/conf/haproxy-admin.conf