[2016-12-23 17:30] julsemaan opened #1933 "Changing an auth source doesn't expire the portal memcached sources"
The $SOURCES_CACHE in pf::Portal::Profile only gets expired when config::Profiles changes but not when config::Authentication does.

This means that changing a source doesn't make this change effective on the portal until the forked process gets replaced or the process restarts

Need to add pfconfig::memory_cached the ability to watch more than 1 namespace and apply it for that object

[2016-12-23 18:14] #1722 closed

[2016-12-23 19:11] #1078 closed

[2016-12-23 19:15] #1126 closed

[2016-12-30 18:12] dwlfrth opened #1937 "external portal: Bogus "synchronize_locationlog" call"
`pf::web::externalportal::handle` calls `synchronize_locationlog` with a signature that does not handle the "connection_subtype" which lead to bogus entries in locationlog

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/lib/pf/web/externalportal.pm#L129

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/lib/pf/Switch.pm#L2979

[2016-12-30 18:33] #1937 closed

[2016-12-30 19:10] dwlfrth opened #1938 "domain: Domain configuration page error"
PacketFence admin domain configuration page will shows an internal error if the '/etc/samba/smb.conf' does not exits.

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/lib/pf/domain.pm#L242

[2016-12-30 19:13] #1938 closed

[2017-01-03 13:24] julsemaan opened #1939 "Debian dhcpd: If lease file is not writable by all, dhcpd refuses to start"
Seen on Debian wheezy

Had an issue where if the lease file wouldn't be writable by all users, then the dhcpd service would refuse to start.

Deleting the file and starting the service wouldn't do it, it would create it with root/root-0664 and make the service refuse to start

Doing `chmod 0666 /usr/local/pf/var/dhcpd/dhcpd.leases` and starting the service fixed the issue.

This should be investig

[2017-01-03 14:15] julsemaan commented on #1937
This seems like it affects versions prior to 6.4

Any good reason not to cherry-pick it in prior maintenance branches ?

[2017-01-03 14:52] dwlfrth commented on #1937
Because it can't be applied as-is on versions prior to 6.4 due to the pf::externalportal class refactor.

Will do a patch for maintenance

[2017-01-03 15:00] dwlfrth commented on #1937
After quick lookup, prior to 6.4 are not affected. It was already fixed.

[2017-01-03 15:02] julsemaan commented on #1937
![image](https://cloud.githubusercontent.com/assets/3857942/21611642/ab3df27e-d19b-11e6-87ff-4e6d2ba6b327.png)

[2017-01-03 20:03] julsemaan opened #1941 "EAP-TLS unit tests (and maybe the source in general) is broken"
When running t/unittest/authentication.t, some eap-tls source tests are failing:
[code]

Reverting d601a8d9c005c89a2995fed255cc73b8249f088e against the latest devel makes all these tests pass.

Trying to figure out whether the tests were faulty at the beginning or if fix broke EAP-TLS matching as a whole

NOTE: d601a8d9c005c89a2995fed255cc73b8249f088e was cherry-picked to the maintenance. If it pr

[2017-01-03 20:13] julsemaan commented on #1941
b51a5a0b0df76614b7e91b8d08991972ef83082f should fix it but I'm not that confortable with the authentication matching wizardry.

Probably better if @jrouzierinverse can confirm the fix I did doesn't break the goal of the initial fix before its put in the maintenance

[2017-01-04 05:52] jrouzierinverse commented on #1941
I am not comfortable with the authentication matching wizardry either.

The real problem is I forgot to add the username to parameter list in the tests.
However your changes does not break anything in devel.
No real reason to back them out.

[2017-01-04 14:52] julsemaan commented on #1941
Adding the username to the tests did it

Reverted the patch and testing a 'no match' and all the other proper matches works

[2017-01-04 14:52] #1941 closed

[2017-01-04 15:06] #1920 closed

[2017-01-04 15:18] #1883 closed

[2017-01-04 16:01] #1278 closed

[2017-01-04 16:04] #1646 closed

[2017-01-04 17:52] dwlfrth opened #1942 "radius: PacketFence not handling multiple realms"
It seems that, in FreeRADIUS, there is a possibility that the request contains more than one realm.
This seems to come from the "Proxy-To-Realm" feature that adds the realm to be proxied to the request.

PacketFence is not handling this use case and is behaving abnormally when that occurs.

[2017-01-04 18:46] #1942 closed

[2017-01-05 15:01] dwlfrth opened #1944 "packaging: Do not delete UID / GID on uninstall time."
UID and GID should not be removed on uninstall time.

* Deleting UID / GID can create a "security hole" since rights assigned to that UID / GID may stick on the filesystem and a new user / group may take the same ID and then inherit the rights.

* Can create conflicts on reinstallation

[2017-01-06 16:07] dwlfrth opened #1947 "domain join: Should not update DNS records"
Most of the time, when doing a domain join through PacketFence, DNS update fails (which, at the time same saves us from some trouble). The issue comes when the DNS update succeed. It will update the PacketFence servers record on the AD with the bogus chroots IP address (169....).

We should avoid trying to update DNS record on domain join.

[2017-01-10 17:01] fdurand opened #1950 "Email registration is not correctly logged in auth_log."
Status is still set to incomplete even if the code has been verified.
It miss pf::auth_log call in html/captive-portal/lib/captiveportal/PacketFence/Controller/Activate/Email.pm

[2017-01-10 17:51] dwlfrth opened #1952 "sms authentication: Do not validate if SMS is sent"
Current flow of SMS registration do not validate if the SMS have been successfully sent.
https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/html/captive-portal/lib/captiveportal/PacketFence/DynamicRouting/Module/Authentication/SMS.pm#L131

[2017-01-11 13:55] louismunro opened #1953 "Sources condition for current time does not allow a date"
As things stand, one can define a rule for an authorization source based on the current time, but the time can only be expressed as HH:MM.

It would be useful to be able to specify rules based on the date.
Clients often request special authorization during (e.g.) summer, holidays etc.

[2017-01-11 19:06] lzammit opened #1954 "Radsniff 2 not compiled with the option -O"
The radsniff package that is given in the devel repo is not compiled to accept the option -O var/run/collectd-unixsock.

Usage: radsniff [options][stats options] -- [pcap files]
options:
  -a                    List all interfaces available for capture.
  -c <count>            Number of packets to capture.
  -C                    Enable UDP checksum validation.
  -d <directory>        Set dictiona

[2017-01-11 21:04] lzammit opened #1956 "Can't configure the domain configuration by default"
Assumption on the samba config:

If you have the configuration /etc/samba/smb.conf
workgroup = WORKGROUP

Then you have the default configuration, but now the default value is:
workgroup = SAMBA

[2017-01-11 21:07] lzammit opened #1957 "Remove the role configuration from the switch config"
By default the VLAN ID and the Role mapping are activated both.

In 99% of my cases the Role mapping is not used and cause issue conflicting with the VLAN ID returned.

I suggest that we put by default :

RoleMap=N

What do you think ?

[2017-01-12 11:53] maria2027 commented on #1854
same here

[2017-01-12 12:14] fdurand commented on #1854
dbf33365f1a71cdbf093f068fb68dde2fd2acd48

[2017-01-12 12:14] #1854 closed

[2017-01-12 14:57] #1921 closed

[2017-01-12 14:58] #990 closed

[2017-01-12 15:24] julsemaan opened #1958 "Portal: Option to force (and hide) SMS mobile provider"
We should find a way to 'hardcode' the provider for the user based on an admin requirement.

Ex: A home made SMTP interface which should handle all requests

User shouldn't have the option to choose a mobileprovider and the server should select it automatically.

Now, only little question is, should this be in the source (by leaving only 1 provider) or a configuration of the portal module where yo

[2017-01-12 21:28] whitx opened #1959 "Accounting session id cache is messy in active-active"
Sometimes the accounting session id is not updated properly in active-active cluster case, this means that the CoA will not work when the accounting session id is not updated in the cache.
We should disable this functionality for active-active

[2017-01-13 20:02] julsemaan commented on #1959
fixed via 604147d0d2e95633bb57825912834a428ad347b7

[2017-01-13 20:02] #1959 closed

[2017-01-16 12:40] julsemaan opened #1961 "Switches conf: LLDP, CDP + DHCP VoIP detection now disabled by default"
Since switches.conf.defaults has been introduced, the parameters for VoIP detection have been all disabled (while before they just weren't there which defaulted to 'enabled' in that case)

This makes VoIP detection disabled by default on all setups now. Not sure thats the behavior we do want

[2017-01-16 12:48] #1961 closed

[2017-01-16 14:56] #1954 closed

[2017-01-16 15:05] extrafu opened #1962 "Portal / HTTP metrics"
We should have nice metrics for the portal / HTTP services in general.

[2017-01-16 16:57] #367 closed

[2017-01-16 17:49] dwlfrth opened #1963 "inline: Issue with IP update"
Issue with parameters used when calling "pf::ipset::update_node" which breaks IP reevaluation flow.

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/lib/pf/api.pm#L272

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/lib/pf/ipset.pm#L484

[2017-01-16 17:49] #1963 closed

[2017-01-16 20:32] #807 closed

[2017-01-17 15:37] #1952 closed

[2017-01-18 13:36] extrafu commented on #1944
Bump

[2017-01-18 13:37] extrafu commented on #1925
Bump

[2017-01-18 18:04] jrouzierinverse commented on #1925
To normalize the auth source configuration was a lot to chew at this point in time.

I fixed the issue in 20ad00368aa726676383b07ffa274fa12fa74c87.

However there is still an issue of the conf/authentication.conf is out of sync with pfconfig.

However to fix it correctly I do not think I have enough time to do so for the next release.

[2017-01-18 19:18] jrouzierinverse commented on #1917
Bump

[2017-01-18 20:07] fdurand opened #1964 "Enabled to edit a portal profile under Debian"
When we click on a portal profile to edit it, if there a filter defined then we have this error:

Jan 18 15:04:35 httpd.admin(23245) ERROR: Caught exception in pfappserver::Controller::Config::Profile->view "Can't use string ("ssid:Boby") as a HASH ref while "strict refs" in use at /usr/share/perl5/HTML/FormHandler/InitResult.pm line 124." (pfappserver::PacketFence::Controller::Root::end)

[2017-01-18 21:18] jrouzierinverse commented on #1964
libhtml-formhandler-perl
Needs to be upgraded 0.40019

[2017-01-18 21:18] #1964 closed

[2017-01-18 21:27] jrouzierinverse commented on #1964
Fixed the version in commit  dbfeaf6c4a98ffc84f3d6327846104fb3cbf271c

[2017-01-19 04:26] dwlfrth opened #1965 "iplog: Floored lease time for "tolerance""
When opening an iplog entry (either creating a new one or updating an existing one), PacketFence is using the actual lease time of a given DHCP lease (if provided) or set a NULL (which defaults to 0000-00-00 00:00:00) as the 'end_time' for the record.

It looks like more and more device "may not care" about the provided lease time or it may be some other reason, but the thing is, we are seeing mor

[2017-01-19 14:04] lzammit opened #1966 "Phone number is not cleaned during the SMS pre-registration process"
Once you do pre-registration with the SMS source you end up like this:

Created account (123) 456-789

Details :

Nom d'utilisateur : (123) 456-789
Mot de passe : orbeaupscua
Courriel : email@domain.com
set_role : guest
set_access_duration : 1D

[2017-01-19 14:19] lzammit opened #1967 "Pre-registration: Email process sending two emails"
The person that do the registration receives two emails.

The first one with a link to activate his device.

The second one with the account information.

It looks like the process is the same as an email registration, I can register and I get redirected at the end of the registration process. I should be displayed a page with my registration information.

[2017-01-19 19:39] #1409 closed

[2017-01-19 19:51] #1967 closed

[2017-01-19 19:59] julsemaan commented on #1925
Was able to modify sources without issues.

Will move it to the 6.6 milestone for the controller rewrite but the band-aid looks good

[2017-01-19 21:30] #1858 closed

[2017-01-20 14:45] fdurand opened #1970 "Not able to define undefined vlan/roles/acl/webauth role values in default switch"
Right now there is no way to undefine vlan/roles/... values in the default switch.
IMO it should be better to undefine them directly in switches.conf.defaults

[2017-01-20 14:48] julsemaan commented on #1970
+1 to that

[2017-01-20 15:11] #1322 closed

[2017-01-20 15:21] lzammit opened #1971 "Radius disconnect doesn't work on the Ruckus switch module"
The deauthentication doesn't work if we send the accounting session ID:

#Fetching the acct-session-id
    my $dynauth = node_accounting_dynauth_attr($mac);

    $logger->debug("deauthenticate $mac using RADIUS Disconnect-Request deauth method");
    return $self->radiusDisconnect(
        $mac, { 'Acct-Session-Id' => $dynauth->{'acctsessionid'}, 'User-Name' => $dynauth->{'username'} },

The solut

[2017-01-20 15:49] julsemaan opened #1972 "Configurator: Services always showing as starting"
When starting services in the configurator, they always show as 'Starting' even though calls to the admin process occur and succeed.

They just don't seem to be processed.

When all services are started, it will tell you its done and redirect you to the admin so that part works.
The part that doesn't work is while its starting, its not updating the status of the started services on the page

To re

[2017-01-20 16:19] julsemaan commented on #1925
I was able to get that bug again consistently

But now instead of being on the source modification, it is on the creation

Steps:
- Go in 'Configuration->Sources'
- Create a source of type AD
- Configure like this:
![image](https://cloud.githubusercontent.com/assets/3857942/22156635/34090c6a-df02-11e6-9078-00a6835292b4.png)
- Contemplate error

Nothing really meaningful I could see in the admin lo

[2017-01-20 20:09] julsemaan opened #1973 "Password portal module: ignores mandatory fields"
mandatory fields of the module are displayed but not stopping people from registering if omited

[2017-01-23 14:50] julsemaan commented on #1925
@jrouzierinverse

Anything else required for fixing that from me ?

This is a release stopper and a pain to test all cases so it would be nice if we could have the fix ASAP

[2017-01-23 15:05] jrouzierinverse commented on #1925
This is fixed by 83b39af7e0b09960ecaa107580fc7af537cb5e0a

[2017-01-23 15:06] jrouzierinverse commented on #1972
I am assuming this is for centos 7?

[2017-01-23 15:30] julsemaan commented on #1972
this is correct

[2017-01-23 15:33] julsemaan commented on #1925
Seems to be working, re-moving to 6.6

[2017-01-23 15:58] jrouzierinverse commented on #1972
This is fixed by a15392cf632a6dcc628fa9db01a54f3bf18a63bf

[2017-01-23 15:58] #1972 closed

[2017-01-23 16:49] jrouzierinverse commented on #1973
Fixed by 421620a8ff3ae66317e21eb1636829799bab0a44

[2017-01-23 16:49] #1973 closed

[2017-01-23 18:16] julsemaan opened #1974 "haproxy stats might not work as expected"
Getting the following output:
[code]

My test machine has 2 CPUs

Seems the stats will not work correctly with that

[2017-01-23 18:35] julsemaan opened #1975 "Dashboard: new logs state graphs don't contain the node name"
![image](https://cloud.githubusercontent.com/assets/3857942/22217350/a7179044-e170-11e6-85c0-3744279ac22c.png)

As seen above, the cluster node name isn't included in the legend. So we can't know which color maps to which server

[2017-01-23 19:41] julsemaan commented on #1975
fixed by 8cabcd8da0597ff5e79890ef8d29843ef080e17e

[2017-01-23 19:41] #1975 closed

[2017-01-23 19:53] julsemaan commented on #1974
fixed by fd90c2bc796bc4f6ce495df51c02107b5fb5c6f5

[2017-01-23 19:53] #1974 closed

[2017-01-23 21:09] lzammit opened #1976 "Admin: can't display any page"
I've got upgrade my dev machine.

I've done:

- redis-cli FLUSHALL
- restart pfconfig
- restart packetfence

Jan 23 15:42:20 httpd.admin(2340) ERROR: Caught exception in pfappserver::Controller::Config::Switch->begin "Can't locate object method "addToLoadedConfigs" via package "pf::IniFiles" at /usr/local/pf/lib/pf/config/cached.pm line 379." (pfappserver::PacketFence::Controller::Root::end)

Jan

[2017-01-23 21:19] whitx commented on #1976
bin/pfcmd cache configfiles clear

[2017-01-23 21:35] jrouzierinverse commented on #1976
We should handle this in upgrade path or this could cause some problems when people upgrade.

[2017-01-24 03:03] maria2027 opened #1978 ""Graphite encountered an unexpected error" for "NTLM authentication failures" graph only error"
Fresh install on Debian Jessie.
All green, but in Dashboard -> "NTLM authentication failures" graph is missing.
On "View image" I get this error:

Graphite encountered an unexpected error while handling your request.

Please contact your site administrator if the problem persists.

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 111,

[2017-01-24 14:07] lzammit commented on #1956
fixaid in https://github.com/inverse-inc/packetfence/commit/24a4b29d254b94b3343832618661471759252dcc

[2017-01-24 14:07] #1956 closed

[2017-01-24 14:10] lzammit commented on #1957
Pull request: #1977

Can you kindly review it?

Thanks!

[2017-01-24 14:10] #1797 closed

[2017-01-24 14:11] #1204 closed

[2017-01-24 14:13] lzammit commented on #1145
Fixed by #1823

[2017-01-24 14:13] #1145 closed

[2017-01-24 15:55] #1976 closed

[2017-01-25 20:02] dwlfrth opened #1981 "admin GUI: Graph to represent online/offline endpoints"
That was being offered in a previous version of PacketFence but have been removed due to the online/offline refactor.

Would be great to reintegrate such graphic.

ref: 6894

[2017-01-25 20:03] dwlfrth opened #1982 "admin GUI: Node search pagination"
We were able to see the last page of a node search result listing. It have been removed for performances issues.

Would be great to reintegrate it.

[2017-01-25 20:03] dwlfrth opened #1983 "admin GUI: Node search count result"
Would be great to have the number of result when doing a node search.

[2017-01-25 20:06] julsemaan commented on #1983
duplicate of #1683 ?

[2017-01-25 20:07] #1983 closed

[2017-01-25 20:07] dwlfrth commented on #1983
You are right.
Closing due to duplicate

[2017-01-25 20:09] dwlfrth commented on #1683
ref: 6897

[2017-01-25 20:36] tlaurion opened #1984 "Debian 8: Can't locate Net/Syslog.pm in @INC"
Error in packetfence.log with devel installed as of today:

`Couldn't require pf::firewallsso::PaloAlto : Can't locate Net/Syslog.pm in @INC (you may need to install the Net::Syslog module)
`

[2017-01-25 21:22] jrouzierinverse commented on #1984
This has been added to the obs please update the debian repo.
libnet-syslog-perl_0.04

[2017-01-25 21:53] tlaurion commented on #1978
`TypeError: reduce() of empty sequence with no initial value`
Only happens when there is no data. It resolves itself when NTLM auth happens.

[2017-01-25 22:05] tlaurion opened #1985 "Debian8: no dependencies upon sudo package"
Our code relies on it

[2017-01-25 22:21] maria2027 commented on #1978
On all other graphs without data I see "No data" png in reports page.
Only this particular graph is showing error. Is there any patch I can apply in order to get the "No data" png instead of this ugly error?

Thanks,
M.

[2017-01-25 22:35] fdurand commented on #1985
?! https://github.com/inverse-inc/packetfence/blob/devel/debian/control#L40

[2017-01-26 14:51] tlaurion commented on #1985
hmmmm code 18.

[2017-01-26 14:51] #1985 closed

[2017-01-26 15:28] tlaurion commented on #1984
Have we mispelled?
@jrouzierinverse
https://github.com/inverse-inc/packetfence/blob/devel/debian/control#L132

It seems that we don't need "Net::Syslogd" (no reference) but need "Net::Syslog"

[2017-01-26 16:41] #1984 closed

[2017-01-26 16:53] extrafu commented on #1971
Status on this?

[2017-01-26 17:58] jrouzierinverse commented on #1971
@dwlfrth which versions of ruckus do we need to support with the old way of doing things?

[2017-01-26 20:20] #1971 closed

[2017-01-30 16:59] dwlfrth opened #1991 "dns filters: no defaults for inline/dnsenforcement for OAuth"
Missing the following entry for inline and dnsenforcement techniques.

https://github.com/inverse-inc/packetfence/blob/packetfence-6.4.0/conf/dns_filters.conf.defaults#L181

[2017-01-30 17:04] #1991 closed

[2017-01-31 08:51] erSitzt opened #1993 "httpd.portal won't start on Debian 8 (Jessie) running Packetfence 6.4.0"
Installed using the official repository.
No errors in the configuration wizard, except httpd.portal not starting.

Found these errors in the logs:
[code]

After installing `libbsd-resource-perl`, i was able to start all pf services

[2017-01-31 13:58] lzammit opened #1995 "SMS registration: no focus on the pin field"
It will be nice to focus on the field once you got the page to put your SMS pin code.

Thanks.

[2017-01-31 14:42] julsemaan commented on #1995
You will be nice to focus

[2017-01-31 14:45] dwlfrth commented on #1995
Be nice yes

[2017-01-31 17:06] julsemaan opened #1997 "Access reevaluation: corner case that doesn't detect reevaluation necessity"
When using web-auth with a RADIUS request only being sent when the user gains access, there is no locationlog entry for when the user was unregistered.

That means if he goes from unreg->reg->unreg->reg, the locationlog entry when he becomes reg at the end is the one he was 'reg' first. This makes it ignore the access reevaluation

[2017-01-31 20:25] julsemaan commented on #1997
fixed in b8e56159c1c1b2f3a2187b019ca1836c1f6efea3 and cherry-picked in maint

[2017-01-31 20:25] #1997 closed

[2017-02-02 16:40] jrouzierinverse opened #2003 "The old module /usr/local/pf/html/pfappserver/lib/pfappserver/Controller/Config/MacAddress.pm is still kept when upgrading in debian"

[2017-02-02 16:40] jrouzierinverse commented on #2003
Fixed by a809c803293430f1242ef84df65b50d2a1c02b3f

[2017-02-02 16:40] #2003 closed

[2017-02-02 20:52] julsemaan opened #2004 "Option82: Have the switch description as well as the switch ID"
Feature requested to me during a training

In the option 82 report there is the switch ID but its meaningless to them.

Given there is no location info, the description of the switch can't be seen anywhere so its harder to quickly see what switch it is

[2017-02-03 17:11] jrouzierinverse opened #2005 "Need a more flexible way of configuring multiple monitor interfaces for suricata"

[2017-02-05 12:27] markuspachali opened #2009 "Dependency Issue on CentOS 7.3 with EPEL Repository"
Hi all,

I've noticed a dependency issue on CentOS 7.3 when also the EPEL repository is installed and activated.
On a fresh installed CentOS 7.3 there are some conflicting dependencies between the EPEL and the packetfence repository. After running "yum update && yum install packetfence" I got the following error:

--> Finished Dependency Resolution
Error: Package: collectd-disk-5.6.1-14.1.x86_64 (

[2017-02-06 14:29] louismunro commented on #2009
We don't recommend you install anything else on the PacketFence system.
It's not really the place to host your personal blog or other software.

Alternatively, you can pin rpms to a specific version.

[2017-02-06 14:29] #2009 closed

[2017-02-07 00:07] #1944 closed

[2017-02-07 01:47] maria2027 opened #2011 ""Error! An error condition has occured. See server side logs for details." on dhcp network page"
on /admin/configuration#configuration/interfaces, click on "default network: x.x.x.x", then Save.

Boom, error :-)

[2017-02-07 17:28] julsemaan opened #2013 "Admin: Delete scan doesn't check if its in use in portal profile"
Deleting a scan engine doesn't validate its not still in use in a portal profile, which generates errors in RADIUS authentications after the deletion

[2017-02-07 21:18] jeff-cook opened #2015 "SSID not showing in the node list"
When viewing the node list (and showing the SSID column) the SSID column is empty.  I can see the SSID details in the node details under Info and Location, so I know the information is with in PacketFence.  Also the SSIDs does show correctly in the Reports module.

[2017-02-08 16:38] julsemaan opened #2016 "Node cleanup can delete all unreg nodes if window is 0"
If someone activates the node cleanup window with X and restarts pfmon, this enables the job and cleans up the nodes older than X

If someone puts it back to 0, it will start to remove unreg nodes older than 0 seconds

I'll let you guess what happens next

Seems that #1899 would be the issue. Instead of re-adding the sub calling handling there, as discussed with @dwlfrth  we should check at the so

[2017-02-08 16:50] julsemaan commented on #2016
fixed by 80d4918a068e7cfe35656fd2255413cdc329410f and cherry-picked to maint 6.5

[2017-02-08 16:50] #2016 closed

[2017-02-09 14:58] louismunro opened #2018 "Sourcefire module is no longer compatible with pf::api"
The current code for the pf::api expects events to be a hash, containing an event element that points to a hashref of type and id.

The old Sourcefire module just sends a list with the time, sid, and ip.

[2017-02-09 16:07] #2018 closed

[2017-02-10 18:06] dwlfrth commented on #1818
Monitoring it

[2017-02-10 18:07] extrafu commented on #1818
@dwlfrth @jrouzierinverse needs log info, provide him.

[2017-02-10 19:42] jrouzierinverse commented on #1818
Fix has been fixed in cb1fb0f35a4e1c8f2697a005074d1751b8122d0f
Let me know is this helps

[2017-02-12 22:39] dwlfrth opened #2021 "lldp: getBulkRequest or "bulk-that-isn't-really-bulk-but-really-just-one-packet""
We need to find a new way of retrieving LLDP data.

https://tools.ietf.org/html/rfc3416#page-15
suggests that getBulkRequest is by definition not a reliable method of retrieving LLDP information via SNMP, where the total amount of data would exceed the maximum packet size.
We are seeing the result of this when PF 6.4 (and earlier) attempts to interrogate Brocade switches for LLDP information, via

[2017-02-12 22:39] dwlfrth commented on #2021
Seen on a Brocade switch

[2017-02-13 16:30] julsemaan opened #2022 "Admin: Custom reports should have a long description"
Custom reports should have a long description.

That will be especially handy when we will start shipping 'built-in' reports so that we can add some context around each report

[2017-02-15 19:38] tlaurion opened #2025 "WMI error : "Couldn't render template "node/tab_process.tt: file error - node/tab_process.tt: not found"""
To replicate:

1. Add a wmi "Scan Engine"
1.  Select Firewall and Antivirus
1. Add scanner to Portal Profile
1. Have a Windows machine generate some DHCP traffic in a reachable PF VLAN (We need that machine to be tagged as a Windows machine per FingerBank)
1. Go to "node" in Admin GUI, select Windows corresponding MAC, go to WMI Rules tab, click "Run scan for XYZ FireWall"
1. Voila.

If there is a

[2017-02-15 19:50] lzammit opened #2026 "Logging: pf::util::webapi mishandles an array ref that has undef in it"
Passing an array ref that has an undef value in an even position (starting from 0) creates an uninitialized value warning for no reason

Here is the script to test it:

[code]

Clearly a big zammitbug.

I tried rebooting the server at least 5 times without success so I guess it must be enormous. I'll let you do your own joke..

[2017-02-15 19:53] julsemaan commented on #2025
This means #1771 wasn't fixed properly

[2017-02-15 21:03] whitx commented on #2025
It seems to happen only when there is no IP in the IPlog for this device, I'll have a look at it

[2017-02-16 17:40] yawor opened #2027 "PacketFence 6.5.0 on fresh Debian Jessie install."
Hi,

I've stumbled upon some issues when trying to install and run PacketFence 6.5.0 on Debian Jessie.

First of all, package installation when through without errors. But after installation the packetfence service could not start. By checking journal I've found that PF could not find `Switch.pm` module. I was able to fix that by installing `libswitch-perl` package (maybe it should be added as a d

[2017-02-16 21:50] #1957 closed

[2017-02-16 22:01] lzammit opened #2028 "error on the Portal preview on PacketFence 6.5"
There is an issue with the portal preview on 6.5

The portal is display with the error:

Computer not found into the PacketFence database.

Mac:0

[2017-02-17 18:16] fdurand commented on #1451
Added swap graph in the admin since 6.5

[2017-02-17 18:16] #1451 closed

[2017-02-17 22:07] tlaurion opened #2031 "Violation containing email actions gives database foreign key errors"
adding either of the following actions to a violation results in a databse error:
- email_user_action
- email_admin_action

[code]

[2017-02-17 22:18] extrafu commented on #2031
Make sure it lands in main so we include this in v6.5.1.

[2017-02-21 22:19] jrouzierinverse commented on #2028
Fixed by 44fdeb6efc3b4aa39bc2581b8e78d22b9dc24451

[2017-02-21 22:19] #2028 closed

[2017-02-22 14:13] jrouzierinverse commented on #519
No longer needed

[2017-02-22 14:13] #519 closed

[2017-02-22 15:24] louismunro opened #2035 "Configurator requires a radius interface to be defined"
![image](https://cloud.githubusercontent.com/assets/193997/23218014/0afbeada-f8e9-11e6-9ffd-1f165d9c905d.png)

Even if we don't want or need one.

[2017-02-24 18:44] julsemaan opened #2042 "systemd: suspicious pf service"
There is now a pf service listed in pfcmd service, it gets started/stopped/restarted and a warning about its binary appears.

Not sure it should be there, it should be a virtual service

Or maybe I just understand something, which is why I will add the zammitbug label

[2017-02-24 19:22] louismunro commented on #2042
Fixed in 4d127082706e5e9f948cb9e5a432ac38d0dbabdf.

[2017-02-24 19:22] #2042 closed

[2017-02-24 20:40] julsemaan opened #2045 "iptables pfcmd: restarting iptables through pfcmd says it doesn't start"
When restarting iptables from pfcmd it says 'not started' although it started successfully and reloaded the rules.

[code]

[2017-02-24 21:53] lzammit opened #2046 "pf-mariadb - mysqld spawner"
If you kill that process it will try to restart an new mysqld_safe process in a loop:

Feb 24 16:52:04 superfence.inverse.local mariadb[14091]: MariaDB is not alive
Feb 24 16:52:04 superfence.inverse.local mariadb[14091]: Starting MySQL with command: mysqld_safe --defaults-file=/usr/local/pf/var/conf/mariadb.conf
Feb 24 16:52:05 superfence.inverse.local mariadb[14091]: 170224 16:52:05 mysqld_safe

[2017-02-24 21:53] jrouzierinverse opened #2047 "addons/monit/monit_build_configuration.pl dos not compile"
After the winbindd-wrapper was merged  addons/monit/monit_build_configuration.pl does not compile because it was using pf::services::manager::winbindd_child

[2017-02-24 21:58] louismunro commented on #2047
+1.
This breaks the build.

[2017-02-27 14:37] julsemaan commented on #2046
Did you kill `pfmariadb` or `pfmariadb - mysql spawner` ?
With -9 or gracefully ?

[2017-02-27 14:39] louismunro commented on #2046
I can confirm this one.
killing the pfmariadb - mysql spawner with signal 11 leaves mysqld_safe running.

[2017-02-27 15:58] julsemaan commented on #2046
check if edadf97c8726e145f3191f6a235ac24b017c556f fixes it

On my side I was able to get it to work without any issue

[2017-02-27 16:18] julsemaan opened #2048 "Issue generating monit config for pfdhcplisteners"
When generating the monit scripts for a standard pf installation, I get this:

[code]

[2017-02-27 16:28] #2048 closed

[2017-02-27 16:29] jrouzierinverse commented on #2047
This has been fixed closing

[2017-02-27 16:29] #2047 closed

[2017-02-27 20:17] louismunro opened #2049 "Unable to connect to controllers using SSH"
Due to tied file handles in logging all deauthentication that relies on SSH fails.

Example error message in logs:

Feb 27 14:48:21 pfqueue(22445) ERROR: [mac:c8:f7:33:11:75:b5] Unable to connect to 10.9.64.43 using SSH. Failed with Failed to get first prompt at /usr/local/pf/lib/pf/Switch/Trapeze.pm line 142

[2017-02-27 20:58] julsemaan opened #2050 "haproxy 1.6 in packetfence-devel is not valid"
Its missing the /usr/sbin/haproxy-systemd-wrapper and possibly some compile options to get tls working

[2017-02-27 22:12] julsemaan opened #2051 "pfdetect status shouldBeStarted not shown"
The shouldBeStarted column of pfdetect in service pf status is empty.

I currently have no syslog parsers cnfigured so it should be 0 (disabled)
[code]

[2017-02-27 22:19] julsemaan opened #2052 "Read-only mode admin warning"
This is what it looks like:
![image](https://cloud.githubusercontent.com/assets/3857942/23382598/cd4a38aa-fd10-11e6-9bfd-f212f20f80b7.png)

I'd suggest we make it a bit prettier from a styling perspective as it seems a bit rough

[2017-02-27 22:21] julsemaan opened #2053 "admin: cluster sync error isn't as clear as before"
Before when there was an issue syncing the cluster, it would give all the hosts it wasn't able to sync to.

Now it just says it died:
[code]

Should see why this is happening and fix it

[2017-02-27 22:32] jrouzierinverse commented on #2052
What does prettier mean? Any suggestions?

[2017-02-27 22:34] julsemaan commented on #2052
A static warning would fit better (IMO) at the bottom instead of the top of the page

And the rounded corners without any margin on the element make it look out of place (still IMO)

[2017-02-27 23:14] jrouzierinverse commented on #2052
Being out of place is a not a bug  it's a feature.
How else would someone notice it?

[2017-02-27 23:28] julsemaan commented on #2052
What I meant was that it would be a better fit at the bottom. That's it

If that is good enough and I'm the only one that find its lacking a bit of polishing, we'll just go ahead and close it

[2017-02-28 13:17] julsemaan opened #2054 "DAL unit test is failing"
This breaks the devel build

[code]

[2017-02-28 14:14] louismunro commented on #1558
We got systemd'ed.

[2017-02-28 14:14] #1558 closed

[2017-02-28 14:31] jrouzierinverse commented on #2054
Sadly this works in my environment.

[2017-02-28 14:32] julsemaan commented on #2054
It fails on pfbuilder and in my environment so please advise on what adjustment could be necessary

[2017-02-28 15:38] jrouzierinverse commented on #2054
FIxed in devel by 5bcae9af6667480a0b811e4e75b10882905dd982 reopen if you found to be an issue

[2017-02-28 15:38] #2054 closed

[2017-02-28 18:26] julsemaan opened #2058 "iptables service doesn't reload rules using systemd unit"
When starting/stopping the packetfence-iptables unit, it doesn't remove or add any of the rules

For example, stop the services (rules are still there)

Then add a rule in iptables.conf and start it and the new rule will not be there

[2017-02-28 18:28] louismunro commented on #2058
Pish, posh, who needs firewalls anyway...

All right, I'll take a look.

[2017-02-28 19:58] #1144 closed

[2017-02-28 20:37] louismunro commented on #2058
Yes, it does reload rules.
At least for me it does.
I'll have to look at your system.
Calling this as a Zammitbug for now.

[2017-02-28 20:47] louismunro commented on #2045
Fixed in 28492e968545104c991ab4c074981cc079e16545.

[2017-02-28 20:47] #2045 closed

[2017-03-01 12:44] julsemaan commented on #2058
Zayme rebooted my machine and everything started working

Jokes aside, it was a missing chain in my iptables.conf which made my pre-systemd rules stay there forever and ever

[2017-03-01 12:44] #2058 closed

[2017-03-01 12:50] julsemaan commented on #2035
I took the liberty to do a fix for this given the annoying nature of the bug:
efa8597d57b31dbd2cbdafd63066c16c3f86b3af

@fdurand, can you confirm that the fix won't break what you intended to do and close the issue after

[2017-03-01 13:03] julsemaan commented on #2053
Can't replicate on my dev box, will have to replicate using the v7 cluster machines on which I saw the issue initially

[2017-03-01 14:54] #2025 closed

[2017-03-01 15:01] lzammit opened #2063 "Pfconfig: two processes after a brand new install"
[root@superfence ~]# ps -edf | grep pfconfig
pf        1540     1  0 09:49 ?        00:00:04 pfconfig
root      2614  2529  0 09:58 pts/4    00:00:00 grep --color=auto pfconfig
root     20526     1  0 09:48 ?        00:00:00 pfconfig

[root@superfence ~]# systemctl status packetfence-config
● packetfence-config.service - PacketFence Config Service
   Loaded: loaded (/usr/lib/systemd/system/packetf

[2017-03-01 15:02] julsemaan commented on #2063
Found zis in zi zpek file:
https://github.com/inverse-inc/packetfence/blob/devel/addons/packages/packetfence.spec#L759

@louismunro, could you confirm if this whole dance is still necessary with systemd

BTW, rebooting would fix the issue so I'm adding the zammitbug label

[2017-03-01 15:36] dwlfrth opened #2064 "portal: Change the display of the "footer" containing the IP and the MAC"
Using a "standardized" expanded IPv6 format, the displayed IP address is too long when hitting captive-portal with IPv6.
Should either adjust the minimum width size of the "white container" or use two rows rather than two columns for the footer.

[2017-03-01 15:39] jrouzierinverse commented on #2015
Which version of packetfence are you running?

[2017-03-01 17:48] #1917 closed

[2017-03-01 18:21] jrouzierinverse opened #2065 "sbin/winbindd-wrapper and monit"
Since we now have a single master process for dealing with winbindd.
Should monit's configuration change in respect to winbindd?

[2017-03-01 19:36] julsemaan commented on #2065
We could indeed remove the child process monitoring as the parent already does monitor them.

As a safety measure we could at least keep it to alert instead of restart

[2017-03-02 13:22] julsemaan commented on #2063
@louismunro

Bump, can you check my comment above and see if you're ok with removing the line I pointed

[2017-03-02 14:15] #2063 closed

[2017-03-02 18:44] jrouzierinverse opened #2068 "The Proper behavior for the regex parser rule matching and ip <=> mac translation failure"
Scenario:

If a rule's regex matches a line but the iplog translation failed which of the following behaviors are prefered?

1. Skip the all the actions for that rule
1. Send undef in place of the mac or ip
1. Send an empty string in place of the mac or ip
1. Only send the actions that do not require the missing field in this case ip and mac.
1. Or something else..

[2017-03-02 19:33] julsemaan commented on #2068
I would say 4 and a warning in the logs for the actions that can't be sent

[2017-03-02 20:30] jrouzierinverse commented on #2068
Any other thoughts?

[2017-03-03 20:38] louismunro opened #2071 "Domains configuration succeeds but GUI is unhappy"
Configuring an AD domain in the GUI seems to succeed (chroots created, systemd starts winbind).

Nevertheless the GUI seems to indicate it failed with "an error occured":

![image](https://cloud.githubusercontent.com/assets/193997/23568189/748dee18-0027-11e7-9dbf-a679e3893a8b.png)

[2017-03-03 20:39] louismunro commented on #2071
A reload does show the domain as correctly configured though.

[2017-03-03 20:49] julsemaan commented on #2071
Could you provide the output of httpd.admin.error and httpd.admin.log before you go to ZammitLand ?

[2017-03-03 20:52] louismunro commented on #2071
[Fri Mar  3 15:25:52 2017] -e: Warning: Log message argument #1 undefined at /usr/lib64/perl5/vendor_perl/Class/MOP/Method/Wrapped.pm line 50.
[Fri Mar  3 15:25:52 2017] -e: Use of uninitialized value in join or string at /usr/share/perl5/vendor_perl/Log/Log4perl/Appender.pm line 177.
[Fri Mar  3 15:25:52 2017] -e: Warning: Log message argument #1 undefined at /usr/lib64/perl5/vendor_perl/Class/MO

[2017-03-03 21:01] julsemaan commented on #2071
even when the dns update fails, it should return anyway as it fails 90% of the time

I'll take a look into this

[2017-03-03 21:05] julsemaan commented on #2071
Works on my machine

Closed won't fix

[2017-03-03 22:18] julsemaan commented on #2046
Zayme said its ok now

[2017-03-03 22:18] #2046 closed

[2017-03-04 00:49] mholttech opened #2072 "Admin Action Audit Loging"
I was looking through PacketFence getting ready to deploy and noticed that there doesn't appear to be any admin action auditing built in.  Is this a feature that can be added?

[2017-03-05 17:42] jrouzierinverse opened #2073 "Packaging for govendor and golang"
We need to package go and govendor to aid to make easier to develop and install.

[2017-03-06 07:21] maarryyaann opened #2074 "Does the packetfence compatible to integrated on cisco switch 3650?"
Hi,

I really want to implement a NAC using packetfence solution.
But my problem is i dont have a cisco switch like 3560 and 2960 only 3650.

[2017-03-06 11:17] extrafu commented on #2074
Use the mailing list for such questions.

[2017-03-06 11:17] #2074 closed

[2017-03-06 14:07] julsemaan commented on #2073
Had that discussion with @louismunro last week and we concluded that we shouldn't package it and instead used the techniques shown in the demo to fetch the proper version directly from the go download site.

We could re-address this in a brainstorm this week and I'll play devils advocate while @louismunro is meeting the pope and going to ZammitLand

I have nothing against it myself but my understa

[2017-03-06 14:39] julsemaan commented on #2072
It already exists but it is currently only text based

You can find it in /usr/local/pf/logs/httpd.admin.audit.log

A frontend for this data source is planned but not ETA for it yet

[2017-03-06 14:39] #2072 closed

[2017-03-06 14:43] jrouzierinverse commented on #2073
My major concern I have is since it is not automatically installed.
It adds an extra step when someone first applies patches from the maintenance branch.

[2017-03-06 14:48] jrouzierinverse commented on #2068
Had a conversation with @louismunro and @fdurand they both prefer 1 (with it logging of course).
Since it will be easier to debug.

[2017-03-06 14:49] julsemaan commented on #2073
He would need its go environment setup properly and to compile the binaries after applying the maintenance branch so I'm not sure the current maintenance branch way of doing this should apply 1:1

We should instead opt for a way to push the binaries as well as source patches. This way, if someone doesn't have custom in his binaries, he can use them without having to recompile the binary himself.

[2017-03-06 14:51] julsemaan commented on #2068
As they say in China:
Nah prahbem

[2017-03-06 16:06] mholttech commented on #2072
ok awesome thanks!  I'm looking over it now and it looks like it logs the actions generically and doesn't provide details on what was changed, is it planned to provide more detailed auditing at some point?

[2017-03-06 19:53] julsemaan commented on #2072
@jrouzierinverse would probably be better placed than me to know if that is in the works and what level of detail can be added to that auditing framework

[2017-03-07 17:50] julsemaan opened #2078 "haproxy: had to remove the chroot"
To use the external-check command to monitor MariaDB, I had to remove the chroot option in haproxy.

This doesn't seem like it is mandatory and acts as a safety net in case of an haproxy vulnerability

I git blamed it and it points to the initial commit of haproxy by @fdurand

Anybody (especially @fdurand) objects to the removal of that option ?

[2017-03-07 17:54] fdurand commented on #2078
Not against.

[2017-03-07 23:45] jeff-cook commented on #2015
We are running 6.3.0

[2017-03-08 16:54] dwlfrth opened #2081 "admin interface: IPv6 width display in "Interfaces & Networks""
Using a "standardized" expanded IPv6 format, the displayed IP address is creating a wide column when IPv6 is configured
Should either apply a max-width for that column (150px seems like a fit) or find a better solution.

<img width="1161" alt="screen shot 2017-03-08 at 11 51 46" src="https://cloud.githubusercontent.com/assets/633234/23714058/eb4c2fd4-03f5-11e7-87ed-dae54a54101d.png">

[2017-03-08 20:59] julsemaan opened #2083 "Need to update Net::SSH2"
Had issues with Juniper switches and Net::SSH2

Everything was connecting fine and all commands were accepted but the commands weren't actually sent to the switch.

Fixed it by updating Net::SSH2 to 0.63

We should update it in our repos as well

[2017-03-08 21:01] extrafu commented on #2083
I *think* that was also affecting us for Extricom equipment - @louismunro and @whitx could confirm.

[2017-03-09 14:52] julsemaan commented on #2083
Lets put it on standby then since one is at ZammitLand and the other one at XlaxLand

[2017-03-09 22:01] julsemaan opened #2084 "useless checkup warning about pfsso binary"
Getting this warning which is not relevant for pfsso.

[code]

Will need to add it to the services that don't have a binary

[2017-03-10 16:17] julsemaan opened #2085 "Remove PacketFence-Authorization-Status attribute from RADIUS replies"
Its not a standard attribute and although most controllers will simply ignore this attribute, some may discard all the attributes of the reply if an unknown attribute is there

[2017-03-13 13:31] #2085 closed

[2017-03-13 13:41] julsemaan opened #2089 "DAL iplog modules don't point to the right table (now ip4log)"
The DAL iplog modules don't point to the right table which should be ip4log

Also, they should now be named ip4log, ip4log_history, ip4log_archive

[2017-03-13 14:29] jrouzierinverse commented on #2072
Nothing is planned at the moment.
With that said since it is json it is possible to add any detail desired.
However we would need to be careful of the details that is put in the log to avoid leaking sensitive information such as passwords.

[2017-03-13 14:33] mholttech commented on #2072
Totally, i'm thinking just some more detail in the audit log when it comes
to an admin changing a detail on a device entry such as roles or overrides
so that in review people can see "James changed Michaels laptop role
overriding it to the top secret Network at 731am today" instead of just
"James changed Michaels laptop at 731am today"

On Mon, Mar 13, 2017 at 7:29 AM James Rouzier <notifications@

[2017-03-13 17:27] #1279 closed

[2017-03-13 17:37] #1965 closed

[2017-03-14 22:38] rokkhan opened #2091 "Nodes not assigned to user when using Authentication::Password module"
I have created an Authentication::Password module using a local httpaswd file as source to login guest users.
The users are logged in succesfully but the nodes are not assigned to username configured in the portal module, all nodes are assigned to default user.

[2017-03-14 22:49] rokkhan opened #2092 "Login attempts limit are not zeroed when the device has been deregistered"
When i deregister a node the login attempts limit are not reseted so I always get an error saying that login attempts limit have been reached and I can not re-register the device again.

[2017-03-15 16:50] #2065 closed

[2017-03-15 18:40] lzammit opened #2095 "Mariadb Read-Only: mac authentication not working"
Controller: Ruckus
Device: IPhone registered
Method: Radius mac-authentication
Mariadb mode: read-only

I've registered a device and apply the read-only mode on mariadb.

MariaDB [(none)]> FLUSH TABLES WITH READ LOCK;
Query OK, 0 rows affected (0.00 sec)

MariaDB [(none)]> SET GLOBAL read_only = 1;
Query OK, 0 rows affected (0.00 sec)

MariaDB [(none)]> SELECT @@global.read_only;
+----------------

[2017-03-15 18:41] extrafu commented on #2095
@jrouzierinverse Fix these ASAP as they come.

[2017-03-15 19:03] #2089 closed

[2017-03-15 19:11] lzammit commented on #2095
Same error:

Mar 15 15:03:13 httpd.aaa(5244) INFO: [mac:78:4f:43:33:45:f6] handling radius autz request: from switch_ip => (10.0.0.14), connection_type => Wireless-802.11-NoEAP,switch_mac => (50:a7:33:71:cf:bc), mac => [78:4f:43:33:45:f6], port => 0, username => "78:4f:43:33:45:f6", ssid => ZamOpen-7 (pf::radius::authorize)
Mar 15 15:03:15 httpd.aaa(5244) INFO: [mac:78:4f:43:33:45:f6] Instantiate

[2017-03-15 19:12] jrouzierinverse commented on #2095
Those errors are expected in readonly mode.
Are there any errors anywhere else such as the radius.log

[2017-03-15 19:15] lzammit commented on #2095
Ok, here the radius.log:

Wed Mar 15 15:13:12 2017 : Info: rlm_sql (sql): Closing connection (7): Hit idle_timeout, was idle for 597 seconds
Wed Mar 15 15:13:12 2017 : Info: rlm_sql (sql): Closing connection (6): Hit idle_timeout, was idle for 597 seconds
Wed Mar 15 15:13:12 2017 : Info: rlm_sql (sql): Opening additional connection (8), 1 of 64 pending slots used
Wed Mar 15 15:13:12 2017 : ERROR:

[2017-03-15 19:20] jrouzierinverse commented on #2095
Is the device not being registered or are you just seeing errors in the log?

[2017-03-15 20:38] lzammit commented on #2095
I'm trying to connect my device to an open SSID and I got kicked:

Wed Mar 15 16:36:21 2017 : Info: rlm_rest (rest): Closing connection (9): Hit idle_timeout, was idle for 2990 seconds
Wed Mar 15 16:36:21 2017 : Info: rlm_rest (rest): Closing connection (10): Hit idle_timeout, was idle for 2990 seconds
Wed Mar 15 16:36:21 2017 : Info: rlm_rest (rest): Opening additional connection (11), 1 of 64 pe

[2017-03-15 20:39] lzammit commented on #2095
Mar 15 16:36:21 httpd.aaa(5244) INFO: [mac:78:4f:43:33:45:f6] handling radius autz request: from switch_ip => (10.0.0.14), connection_type => Wireless-802.11-NoEAP,switch_mac => (50:a7:33:71:cf:bc), mac => [78:4f:43:33:45:f6], port => 0, username => "78:4f:43:33:45:f6", ssid => ZamOpen-7 (pf::radius::authorize)
Mar 15 16:36:21 httpd.aaa(5244) INFO: [mac:78:4f:43:33:45:f6] Instantiate profile ZamOp

[2017-03-16 16:00] bekuhn-isd535 opened #2096 "Network Devices Configuration Guide Meraki Webauth errors."
I'm not sure where documentation issues go, so please point me to the appropriate place if this is wrong...

In Section 5.15.1 RFC5176 configuration for Meraki APs, the Meraki configuration shows Walled Garden as disabled.  Meraki APs don't use a registration ACL and use the Walled Garden feature instead.  In order to get this working, Walled Garden needs to be enabled and access to the IP running

[2017-03-16 17:13] lzammit opened #2098 "regex parser not rising the violation"
I've created a syslog regex parser for suricata that should trigger a violation.

The parser works in the testing part but it does not trigger the violation.

I can see the line properly inserted in the pfdetect.log

[2017-03-16 18:49] jrouzierinverse commented on #2098
I cannot replicate

[2017-03-16 19:38] jrouzierinverse commented on #2098
To test do the following.

[code]

Add the following to /usr/local/pf/conf/pfdetect.conf

[code]
configreload and restart services
[code]

Create a test node
[code]

Trigger the action

[code]

View the node
[code]

[2017-03-16 21:56] julsemaan opened #2099 "MariaDB quorum server might not be necessary after all"
The quorum server to recover from a crash of all or a part of the servers might not be necessary after all.

The galera update script (conf/mariadb/db-update) was stopping the wsrep replication when the view wasn't primary anymore but when recovering from a sequential loss of the servers, the view could only become primary if the last good state was restored with exactly the servers that were ther

[2017-03-17 18:48] tlaurion opened #2101 "Upgrade of packetfence from packetfence-devel sets systemd default target to packetfence.target even if packetfence-cluster.target is set"
Description
---------------
Upgrade of packetfence from packetfence-devel sets systemd default target to packetfence.target even if packetfence-cluster.target was already set.

Workaround
----------------
run on all nodes:
`systemctl set-default packetfence-cluster`

[2017-03-17 20:56] jrouzierinverse commented on #2098
Can we close this?

[2017-03-20 12:09] #2084 closed

[2017-03-20 14:14] dwlfrth commented on #2098
@lzammit SUP

[2017-03-20 17:22] #2101 closed

[2017-03-20 19:59] lzammit commented on #2098
It's working now.

[2017-03-20 19:59] #2098 closed

[2017-03-21 18:35] fdurand opened #2104 "snmptrapd.conf is never generated"
if we launch this command "bin/pfcmd service snmptrapd restart" then snmptrapd.conf will never be generated in var/conf/ directory.

[2017-03-21 19:02] julsemaan opened #2105 "pfcmd node edit changes don't trigger a reevaluate access when needed"
When changing the status, role, bypass_vlan or bypass_role of a node via pfcmd, it doesn't reevaluate the access which makes the status of the node out of sync on the network

We should either:
- Reevaluate the access of the node when one of these attributes changes
- Add a pfcmd node option to reevaluate the access so that it is possible to do it with pfcmd although node edit won't do it itself

[2017-03-21 19:46] #2104 closed

[2017-03-21 20:03] jrouzierinverse opened #2106 "Remove static ip address from snmptrapd service"
Currently snmptrapd does not use automatically listen to the proper interface.

[2017-03-21 20:08] whitx opened #2107 "dhcp in cluster"
You need to have a dhcp pool active in isolation if you want to enable DHCP for registration of a routed network in a cluster environment.

Step to reproduce:
-In a cluster environement,
-Disable DHCP on isolation/Registration Interface
-Add a routed network with DHCP enable in registration
-try to start dhcpd => should fail
-Add a routed network with DHCP enable in isolation
-try to start dhcpd =

[2017-03-21 20:10] #2106 closed

[2017-03-21 20:13] jrouzierinverse commented on #2095
Can you check 7fb8d537034fa97e9da79311ec7700dda19aa626 to see if that helps?

[2017-03-22 16:47] lzammit opened #2109 "Radius in Read Only mode outputting the SQL insert error"
We have that on every radius request received if the Mariadb Read Only enabled:

Mar 22 12:36:18 httpd.aaa(7812) ERROR: [mac:94:db:c9:38:8f:0b] database query failed with non retryable error: The MariaDB server is running with the --read-only option so it cannot execute this statement (errno: 1290) [INSERT INTO `node` ( `autoreg`, `bandwidth_balance`, `bypass_role_id`, `bypass_vlan`, `category_id`

[2017-03-22 16:57] jrouzierinverse commented on #2109
Since this will happen on every insert/update in the database I would like to reduce the noise in the logs.

Do you think not displaying the sql and changing the logging level to warn with a short message should be sufficient?

Or log nothing since this is "normal" behavior in readonly mode.

[2017-03-22 17:41] abel408 opened #2110 "hostapd/Openwrt with Multiple SSIDs on same vlan Bug"
When 2 SSID's are configured and a node connects to both SSIDs and put into the same vlan, networking breaks and they are given a self assigned IP.

Here is a use case for the bug:

- OpenWRT AP has two SSIDs. SSID A and SSID B. Both of these SSIDs communicate with the freeradius server and packetfence to determine the role of the node.
- User A connects to SSID A and is applied the role "Staff" a

[2017-03-22 17:44] louismunro commented on #2109
Log a warning.
There must be some way to tell that the query failed when looking at the logs.

[2017-03-22 17:45] julsemaan commented on #2109
I concur

[2017-03-22 17:46] louismunro commented on #2109
I double concur and raise you.

[2017-03-22 18:01] #1933 closed

[2017-03-22 18:51] lzammit commented on #2109
Who wants to do it❓

[2017-03-22 18:52] julsemaan commented on #2109
I shall propose @lzammit

[2017-03-22 18:53] lzammit commented on #2109
tu shall rien du tout toi!

[2017-03-22 18:54] julsemaan commented on #2109
All those in favor @lzammit doing it, raise your hand

[2017-03-22 18:54] julsemaan commented on #2109
:hand:

[2017-03-22 18:54] whitx commented on #2109
:hand:

[2017-03-22 18:54] louismunro commented on #2109
✊

[2017-03-22 19:16] jrouzierinverse commented on #2109
Fixed by 78ba58e065cc2278c38ac03c57edc01f1f7ab5d3 zammit can you verify?

[2017-03-22 20:44] lzammit commented on #2109
Looks ok:

Mar 22 16:36:20 httpd.aaa(20341) INFO: [mac:11:22:33:44:55:66] database query failed with: The MariaDB server is running with the --read-only option so it cannot execute this statement (errno: 1290) (pf::db::db_query_execute)
Mar 22 16:36:20 httpd.aaa(20341) WARN: [mac:11:22:33:44:55:66] Database issue: attempting to update a readonly database (pf::db::db_query_execute)
Mar 22 16:36:20

[2017-03-23 10:51] lievenm commented on #2027
The problem is systemd killing the httpd.admin service because the others give errors. Start it yourself with 'pfcmd service httpd.admin start'

[2017-03-23 13:52] #2109 closed

[2017-03-23 14:00] dwlfrth opened #2112 "monitoring: Monit checks not working anymore with systemd"
Previously based on pid files, monit process checks does not appear to be working anymore with systemd integration

[2017-03-23 19:35] dwlfrth opened #2116 "pki: Add the ability to "format" the CN"
When using a PKI provider, CN can be either the MAC address of the device or the PID used to log in.
In some cases, it might be useful to format the CN to either prefix or suffix something so that EAP configuration handling can be easier.

[2017-03-24 11:47] julsemaan opened #2118 "When a systemd service fails to start, no error is shown"
When a systemd service fails to start (socket bind fail, compile error, etc) no error is shown and you actually have to look at the status to know whether it is alive or dead.

This is an uncommon behavior for systemd services, we should signal systemd a service is started only when it has actually started successfully.

[2017-03-24 12:27] julsemaan commented on #1065
Given the inline mode refactor has been postponed again, I will point this to the 7.1 milestone

[2017-03-24 15:29] lzammit opened #2120 "Radius fail mac authentication/dot1x"
Mar 24 11:20:10 httpd.aaa(28534) INFO: [mac:94:db:c9:38:8f:0b] handling radius autz request: from switch_ip => (172.20.110.250), connection_type => Wireless-802.11-EAP,switch_mac => (08:cc:68:3c:f4:60), mac => [94:db:c9:38:8f:0b], port => 1, username => "lzammit", ssid => ZamSecure (pf::radius::authorize)
Mar 24 11:20:10 httpd.aaa(28534) INFO: [mac:94:db:c9:38:8f:0b] Instantiate profile ZamSecure

[2017-03-24 15:30] jrouzierinverse commented on #2120
Fixed by 98ada7426aaa316d7ac8faf714bc988ae80ab3f0

[2017-03-24 15:38] lzammit commented on #2120
I got a new one:

Mar 24 11:36:41 httpd.aaa(11729) ERROR: [mac:94:db:c9:38:8f:0b] radius authorize failed with error: Undefined subroutine &pf::radius::finalize_node_registration called at /usr/local/pf/lib/pf/radius.pm line 311.

[2017-03-24 15:41] #2116 closed

[2017-03-24 15:52] jrouzierinverse commented on #2120
Fix in 89ff9884f25d65a5ae77d89b90756f14a96f6d6d

[2017-03-24 16:30] lzammit commented on #2120
802.1x works. Fixed.

[2017-03-24 16:30] #2120 closed

[2017-03-24 19:33] jrouzierinverse commented on #2095
Can this be closed?

[2017-03-24 19:34] lzammit commented on #2095
Fixed.

[2017-03-24 19:34] #2095 closed

[2017-03-27 13:47] lzammit opened #2121 "Fingerbank: issue during db importation in the configurator"
Systemd kills the fingerbank process when started by the admin at the end of the configurator.

[2017-03-27 14:02] whitx opened #2122 "some iplog queries havn't been updated"
`Mar 27 09:56:14 httpd.admin(6235) INFO: database query failed with: Table 'pf.iplog' doesn't exist (errno: 1146) (pf::db::db_query_execute)
Mar 27 09:56:14 httpd.admin(6235) ERROR: Database issue: Failed with a non-repeatable error with query report_os_sql (pf::db::db_query_execute)
Mar 27 09:56:14 httpd.admin(6235) INFO: database query failed with: Table 'pf.iplog' doesn't exist (errno: 1146) (p

[2017-03-27 14:30] #675 closed

[2017-03-27 14:48] #2122 closed

[2017-03-27 15:18] julsemaan opened #2123 "Error while doing a passthrough lookup of itunes.apple.com"
When adding itunes.apple.com as a passthrough and querying pfdns about it, it generates the following error:
[code]

[2017-03-27 15:27] julsemaan commented on #2123
This behavior doesn't exist on maintenance 6.5 with the same domain

@jrouzierinverse, could you see if this can be related to the new ipset cache ?

[2017-03-27 15:29] jrouzierinverse commented on #2123
Ok

[2017-03-27 16:07] jrouzierinverse commented on #2123
Not able to replicate.
Most likely a packaging issue.
Run the following command ```rpm -qa | grep perl-Net-DNS``` and let me know what is the output.

[2017-03-27 16:34] julsemaan commented on #2123
[code]

[2017-03-27 16:45] jrouzierinverse commented on #2123
Was there any other error prior to that error

[2017-03-27 18:39] lzammit opened #2125 "Use of uninitialized value $ifDesc in packetence.log"
Mar 27 14:31:48 httpd.aaa(10208) WARN: [mac:78:4f:43:33:45:f6] Use of uninitialized value $ifDesc in concatenation (.) or string at /usr/local/pf/lib/pf/locationlog.pm line 411.

[2017-03-27 18:40] julsemaan opened #2126 "Domain: 'Save and join' doesn't save but it joins"
As reported verbally by @zammitcorp's CEO

[2017-03-27 18:49] jrouzierinverse commented on #2125
Fixed in 0a50d66c0b2d030b536ff4ca0012deea9b54b877

[2017-03-27 18:49] #2125 closed

[2017-03-27 19:17] lzammit opened #2127 "Syslog regex parser not triggering the violation"
Here my config and steps:

/usr/local/pf/conf/pfdetect.conf

[suricata]
status=enabled
type=regex
path=/usr/local/pf/var/suricata

[suricata rule Kazaa]
action0=trigger_violation: mac, $mac, tid, $sid, type, detect
ip_mac_translation=enabled
last_if_match=disabled

[root@superfence pf]# echo "02/26/2017-14:29:00.524309  [**] [1:2000340:10] ET P2P Kaaza Media desktop p2pnetworking.exe Activity [**]

[2017-03-27 19:30] julsemaan commented on #2126
Should be fixed by f1cebd91f1c205ed1336ef5696c5039d8e7f61bc

Can @lzammit honor this issue with a confirmation ?

[2017-03-28 12:01] #2123 closed

[2017-03-28 13:24] jrouzierinverse opened #2129 "pfdns child processes will respawn additional child processes after being signaled to die"

[2017-03-28 13:31] julsemaan commented on #2129
Details on how to replicate this ? Or will you fix it yourself ?

[2017-03-28 13:32] julsemaan commented on #2129
On a side note, this commit should have fixed it a couple of weeks ago

https://github.com/inverse-inc/packetfence/commit/f908f2be8a1498569ef65026d75b569880f9c5c8

[2017-03-28 13:40] jrouzierinverse commented on #2129
I am not able to replicate it every time just sending a kill signal to pfdns seems to trigger it.

[2017-03-28 13:42] julsemaan commented on #2129
pfdns parent or one of the child ?

[2017-03-28 13:45] jrouzierinverse commented on #2129
parent

[2017-03-28 13:46] jrouzierinverse commented on #2129
I will have a fix in about 15 minutes

[2017-03-28 13:57] #2129 closed

[2017-03-28 14:01] louismunro opened #2130 "Admin is broken"
The admin (and configurator) is broken in the latest devel build.

Catalyst error follows:

[code]

[2017-03-28 14:08] jrouzierinverse commented on #2092
The login attempts are tied to the portal session based off the mac which will expire in 6 hours.
We would need to look into how to handle this use case more elegantly.

[2017-03-28 14:30] jrouzierinverse commented on #2130
Did this happen after running the configurator?

James Rouzier
jrouzier@inverse.ca :: +1.514.447.4918 (x115)  ::  http://www.inverse.ca
Inverse inc. :: Leaders behind SOGo (http://www.sogo.nu) and PacketFence (http://www.packetfence.org)

On 2017-03-28 10:01 AM, Louis Munro wrote:

[2017-03-28 14:45] jrouzierinverse commented on #2130
Fixed by b3bf2909ab0cb8dd7ca449efad0a01ccea6a19e9

[2017-03-28 14:45] #2130 closed

[2017-03-28 15:12] julsemaan opened #2131 "Fingerbank MySQL import process reports success when it lost communication to DB during import"
Title seems to say it all

[2017-03-28 15:21] julsemaan opened #2132 "Admin: Disable/hide save buttons when in read-only"
As it was discussed in the internal team meeting, the create/update/delete features of the admin should be hidden or disabled when the DB is in read-only mode

We should also have an option to override this and get the full admin after showing the user a warning.

Short discussion with @dwlfrth led to the following idea:
- Save buttons are hidden when in read-only
- Top banner says something like

[2017-03-28 15:31] jrouzierinverse commented on #2132
The ability to operate in the mode should be an admin role.

[2017-03-28 15:36] jrouzierinverse commented on #2132
In my opinion this will touch a lot of different places.
So we should wait until 7.1  for this particular feature.

[2017-03-28 15:40] julsemaan commented on #2132
Given I wasn't there when you guys discussed it in the scope of 7.0, let's discuss this tomorrow during the meeting

[2017-03-28 17:15] lzammit commented on #2121
still the same after the fix

[2017-03-28 17:30] lzammit commented on #2121
Issue where packetfence-mariadb is restart during the services start. @louismunro will take care of that.

[2017-03-28 17:42] julsemaan opened #2133 "radiusd fails to start because of a DB unavailability on reboot"
Since the service starts too quickly, haproxy didn't detect yet which server should be alive

Should we:
- Ignore DB failures during radiusd startup
- Wait until the DB is available before starting radiusd

[2017-03-28 18:19] julsemaan opened #2134 "systemd p0f unit don't take the packet filters into consideration"
the filters that were introduced to ignore drbd traffic aren't there anymore since the command line is just hardcoded in the unit file

[2017-03-28 20:03] #2134 closed

[2017-03-28 21:15] jrouzierinverse commented on #2127
I am able to trigger the api call.
Looking to see if the problem is with something else.

[2017-03-28 21:20] rokkhan commented on #2092
Is there anyway to reset this attempts manually?

[2017-03-28 21:21] rokkhan commented on #2091
Is there anyone else having this issue?

[2017-03-29 11:56] julsemaan opened #2137 "carbon: clusters of more than 2 servers are missing some metrics"
I believe me and @louismunro talked about it a while ago but in clusters of more than 2 servers some metrics are missing from the dashboards since the carbon replication factor is set to 2 and that graphite doesn't seem to be able to poll from the other servers in order to get a view of all the datapoints.

We should either:
- Set the carbon replication factor to the cluster size so all servers ha

[2017-03-29 12:05] julsemaan opened #2138 "Is DRBD tracking in graphs still relevant ?"
Given our official DB cluster stack is now MariaDB Galera cluster, I'm not sure its relevant to offer graphs about DRBD by default since they will always be empty.

They could be there, but hidden and could be enabled via a config parameter

[2017-03-29 12:13] julsemaan opened #2139 "radsniff load balancer data seems off"
According to radsniff the load balancer seems to be receiving a lot more packets per second than its peers

![image](https://cloud.githubusercontent.com/assets/3857942/24453642/bb1dbcda-1456-11e7-9891-8356cf0ed5e9.png)

Same goes for authentication packets

![image](https://cloud.githubusercontent.com/assets/3857942/24453816/6d33ad12-1457-11e7-8872-bb334d817c2d.png)

This seems to be because radsn

[2017-03-29 12:18] julsemaan opened #2140 "Shutdown of server is long af"
The shutdown of a server is extremely long and hangs on the stop of the iptables and pfconfig service

Given the server is shutting down, that's all the info I have for now.

Seems to be something related to the stopping order where we might have a service missing.

I'll investigate further

[2017-03-29 13:47] julsemaan opened #2141 "Should we prevent journald from logging to wall ?"
When a launch command for systemd has STDERR output like in the case of packetfence-iptables connecting to the DB, it will send it to the wall and pollute any SSH session.

This doesn't seem like a valid behavior to me, but hey I could be wrong, some people might like having an unusable shell because a process went foobar

[2017-03-29 14:23] dwlfrth commented on #2132
For v7, only the warning message will be changed.
Disabling / Enabling buttons should come together and that will be part of 7.1

[2017-03-29 15:04] Skywalker-11 commented on #2126
I had the same problem and the commit fixed it after a restart of the server

[2017-03-29 15:06] lzammit commented on #2126
Thank you @Skywalker-11, once I will have a sane dev box I will test it.

[2017-03-29 15:07] julsemaan opened #2142 "pfdetect 7.0 upgrade script dies when there is no section to migrate"
Given a default empty pfdetect.conf, the script will die because there aren't any sections

[code]

[2017-03-29 15:11] julsemaan opened #2143 "During upgrade 6.5->7.0, if a configreload hard happens, it loads duplicate roles"
Given the unique index on node_category.name isn't there yet and the roles are in the defaults configuration, they are loaded as duplicates when the packaging calls configreload hard.

Will need to see how to handle that cleanly

[2017-03-29 15:12] #2142 closed

[2017-03-29 16:59] julsemaan opened #2144 "rsyslog rate limiting causing potential issues"
rsyslog is configured to rate-limit processes that log too much messages per second.

In our case, in large scale environments that could have debug activated, it will start discarding messages

I believe we should stop this from happening so we don't scratch our heads too much while troubleshooting a problem in a production environment

[2017-03-29 17:39] whitx opened #2145 "ip_forward is added even if it's already present"
When adding ip_forward to /etc/sysctl.conf, it is added even if it exist. So on each update or reinstall it will be added.

[2017-03-29 18:19] tlaurion commented on #2145
Done in https://github.com/inverse-inc/packetfence/pull/2146

[2017-03-29 18:35] #2145 closed

[2017-03-29 18:55] louismunro commented on #2050
has this been fixed since?

[2017-03-29 18:56] louismunro commented on #2138
Not relevant as far as I am concerned.
The metric can still exist. It does not have to be part of the dashboard though.
I'll remove it.

[2017-03-29 18:56] julsemaan commented on #2050
I believe it has been fixed by @fdurand because it works now

Closing

[2017-03-29 18:56] #2050 closed

[2017-03-29 18:58] dwlfrth commented on #2138
i agree

[2017-03-29 19:36] lzammit commented on #2141
edit /etc/systemd/journald.conf
ForwardToWall=no
systemctl restart systemd-journald

[2017-03-29 20:01] dwlfrth opened #2147 "Ability to assign VLAN ID from a pool"
Ability to create a VLAN pool and assign VLANs based of that pool for a given PacketFence role

[2017-03-29 20:03] fdurand commented on #2147
Something like that ? https://github.com/inverse-inc/packetfence/compare/feature/vlan_pool

[2017-03-29 20:07] dwlfrth commented on #2147
Bim ! Exactly !
I knew it was making me think of something ! ;)

[2017-03-29 20:15] lzammit commented on #2126
working!

[2017-03-29 20:15] #2126 closed

[2017-03-29 20:19] louismunro commented on #2147
I also wrote some code for a client that assigns VLANs from a pool.
It had the advantage of always sending the devices for a given user to the same pool so that all devices for e.g. @lzammit would share a subnet.

I can find that code if you want.

[2017-03-29 20:21] dwlfrth commented on #2147
I also have custom code for three different clients. Just though it would be benefit to add that as a PacketFence feature.

[2017-03-29 20:27] dwlfrth commented on #2147
Pressed enter too quickly !
We should find the best implementation and put it in place.

[2017-03-29 20:39] louismunro commented on #2147
How about a framework to implement VLAN pools?
RubyOnPools?

[2017-03-29 20:41] jrouzierinverse commented on #2147
Or GoinPools

[2017-03-29 20:57] louismunro commented on #2138
Fixed in 5d7f2b3491b8d55edbf57fd68beab22656fded06.

[2017-03-29 20:57] #2138 closed

[2017-03-29 20:58] louismunro commented on #2121
@lzammit can you confirm it's been fixed?
Close the issue if it is.

[2017-03-29 20:59] louismunro commented on #2118
Not sure that's something we can fix.
I think systemd is to blame for that.
Not that it ever makes any mistake, but still.

Unless I misunderstand the issue?

[2017-03-29 21:35] louismunro commented on #2137
That's actually a known graphite bug.
The solution would be to package a newer release.

[2017-03-30 11:26] julsemaan commented on #2147
I'd go with RebootPools in honor of @lzammit

I'll let you guess what happens when you assign a VLAN from that pool

[2017-03-30 11:45] julsemaan commented on #2138
Config parameter or simply remove the graph and its data can be accessed via the graphite admin ?

[2017-03-30 11:50] extrafu commented on #2138
I would go for the latter.

[2017-03-30 12:04] julsemaan commented on #2118
Our processes are the only ones that present that behavior.

Usually, I've seen systemd say that the process couldn't start when it fails.
Maybe we need to implement a signal that says 'hey we've started properly' and prevent systemd from declaring the process is alive without that during startup

I'll try to dig into it a bit but feel free to check it out as well

[2017-03-30 12:06] julsemaan commented on #2137
Or in the meanwhile set the replication factor to the cluster size for 7.0

What do you prefer @louismunro, play with graphite packaging or I do a quick fix on the replication factor ?

[2017-03-30 12:12] julsemaan commented on #2141
@louismunro
@fdurand

Should we do an ugly sed and restart of journald in the packetfence package or should we address it differently ?

[2017-03-30 13:02] lzammit opened #2151 "PF admin: can not select the radius deauth method on a switch"
check the title

[2017-03-30 13:09] fdurand opened #2152 "Configurator, unable to select an enforcement method (debian)"
Starting from the first step of the configurator, even if i click on one of the 3 enforcement method, i am not able to go in the second step.

Error: GET https://172.20.20.152:1443/static/app/jquery.js  404

[2017-03-30 13:12] #2143 closed

[2017-03-30 13:22] julsemaan opened #2153 "PF Admin: All the master sections have lost their template"
There was an empty template for master sections in the Admin configuration which we were supposed to fill up eventually

These seem to be gone and generate an error which we can just bypass for now

I believe @whitx and @extrafu were going to do pretty graphs and explanations for each of those sections.

Let's use this issue to track that

[2017-03-30 13:25] julsemaan commented on #2153
Actually, my bad, I just had an old admin process lying around which caused my issue.

That was a code 12 zammitbug

[2017-03-30 13:25] #2153 closed

[2017-03-30 13:26] cgx commented on #2152
Configurator has been modified for the new frontend structure yet.

[2017-03-30 13:26] #2152 closed

[2017-03-30 13:42] louismunro commented on #2138
That's what I did.

[2017-03-30 14:26] jrouzierinverse opened #2154 "Clicking 'Add a source.' in a Connection Profile adds two instead of one"
To replicate
Go to Define Policy -> Connection Profiles-> Add Profile -> Add a source.

[2017-03-30 14:29] jrouzierinverse opened #2155 "Adding a new Rule in the regex parser does not work"
A Javascript error happens

[2017-03-30 14:35] louismunro commented on #2137
We need the quick fix anyway.
Even if I package the current best graphite release, the nodes can only show data they have.
So it has to be sent to enough nodes to survive the loss of some of them.
For a three node cluster it's simpler to send to all three.

If it were a seven nodes cluster I would say 3-4 is good enough.
Graphite (with the fix) does not need all the data to be on every node.
It do

[2017-03-30 14:37] whitx opened #2156 "Display while creating a new connection profile is only half screen"
While trying to create a connection profile the display will not take all screen.
Replicate, Connection profile-> Add Profile

[2017-03-30 14:53] tlaurion commented on #1571
Becomes critical to me. Trying to debug #2140 requires this. Any debugging will require this, post hoc.
@louismunro requires it to have a size limit.

[2017-03-30 15:23] tlaurion commented on #2140
Interestingly, after having created journald required directory for log persistence, I do not see shutdown hangs.

I followed this [procedure](https://freedesktop.org/wiki/Software/systemd/Debugging/#index2h1) to debug systemd

One can :
- modify /etc/grub/default with above proposed boot options
- regenerate grub config with `grub2-mkconfig -o /boot/grub2/grub.cfg`

[Observations](https://framadr

[2017-03-30 15:31] jrouzierinverse opened #2157 "Multiple event handlers are being called when creating an item"
When clicking create there are multiple calls to the webserver being done.

[2017-03-30 15:50] tlaurion commented on #2140
@louismunro hypothesis was that this behavior could have been linked to chroot being mounted outside of systemd.

This [trace](https://framadrop.org/r/wD6Z2-dAtr#LmTQf1mElX6XouxICdeUb2iGAT3bQM6Xc0r7e1qVf/o=) is without having AD configured with devel's 20170330 packages. Same happens: most packetfence-* services get oom'ed but packetfence-iptables that waits. swapoff should not be called before Pa

[2017-03-30 17:09] julsemaan commented on #1571
For sure we'll want a size limit on this, especially now that all the logging of PacketFence will go through journald via systemd

[2017-03-30 17:10] julsemaan commented on #2137
quickfix on the way

@louismunro, do you want to keep this opened for the graphite packaging or do I open another issue ?

[2017-03-30 17:21] jrouzierinverse commented on #2157
Fixed by 45f87270c4728fa4d09a25a04ba1292a7b4bcf94

[2017-03-30 17:21] #2157 closed

[2017-03-30 17:43] jrouzierinverse commented on #2155
Fixed by f7913cf688341deb1801a41625f00eeade4cb9c5

[2017-03-30 17:43] #2155 closed

[2017-03-30 17:51] julsemaan commented on #2137
quickfix done in 749f54b

[2017-03-30 18:02] cgx commented on #2156
Fixed by 963ee63d27971e064779fe187f958ec6c77d7923.

[2017-03-30 18:02] #2156 closed

[2017-03-30 18:06] jrouzierinverse opened #2158 "Add labels for the Icons menu items to make easier to write help."
I think it would help to have some labels for the new icons.

Since it can make giving instructions on how to navigate the Admin a bit more difficult.

For instance I want to instruct someone how modify their Parking setting.

So instead of saying

Go to Configuration> Advanced Configuration> Device Parking

Now we have to say
Go to Configuration
Then click on the (Some explanation of how the Icon

[2017-03-30 18:10] #2154 closed

[2017-03-30 18:11] julsemaan opened #2159 "rsyslog complains about the ~ to stop the actions"
Seems the ~ to stop an action is deprecated in rsyslog

We should change this to stop like the following warning says:
[code]

[2017-03-30 18:12] cgx commented on #2158
Already discussed a few times in the meetings. We should have done at least one of them in English ..

Tooltips are coming up!

[2017-03-30 18:12] julsemaan commented on #2144
Its now disabled in rsyslog (018e0080c78279dfe6271321859415ca2cfde904) but it also needs to be disabled in journald systemd config

@louismunro knows about it. We can close it when he completes the journald systemd config

[2017-03-30 18:13] jrouzierinverse commented on #2158
I already put Tooltips there.

[2017-03-30 18:28] julsemaan opened #2160 "option82 report: search value text is centered"
In opposition to all the other search fields in the admin which are aligned to the left

![image](https://cloud.githubusercontent.com/assets/3857942/24520058/0f0e1160-1555-11e7-8c6b-e26cc6d3f10d.png)

[2017-03-30 18:42] cgx commented on #2158
You're quick!

[2017-03-30 18:51] tlaurion commented on #2140
Amazing. This is a[ known bug](https://bugzilla.redhat.com/show_bug.cgi?id=1031158) of systemd for which no fix has been pushed upstream. They have been poked. We are alone in the world to still have this issue?!?!

[2017-03-30 18:53] julsemaan commented on #2140
bim, for once, its not @lzammit fault

[2017-03-30 18:54] #2160 closed

[2017-03-30 19:06] louismunro commented on #1571
The default size limit is 4Gib which seems reasonable to me.

[2017-03-30 19:08] lzammit commented on #2127
Working fine!

[2017-03-30 19:08] #2127 closed

[2017-03-30 19:08] louismunro commented on #2137
Please open another issue.
That fix is less urgent than the quickfix.

[2017-03-30 19:08] #2137 closed

[2017-03-30 19:11] louismunro commented on #2159
I tried that originally and then rsyslog was unhappy about something else which I now forget but should be obvious so I will leave it as an exercise to the reader.
I am willing to live with the warning.

[2017-03-30 19:13] julsemaan opened #2161 "admin maintenance section - all explanations on tasks were lost"
The explanations that go with each job that define what they do (were in documentation.conf) were lost when we migrated to pfmon.conf

Without those, people have to wild guess what the tasks which can be easy or hard depending on the task

We should port the documentation.conf explanations to the new maintenance pfmon tab

[2017-03-30 19:14] extrafu commented on #2121
Bump!

[2017-03-30 19:17] julsemaan commented on #2159
I'm just affraid that our behavior could change when rsyslog decides to just ignore this method

Not that it can happen soon but given this is a new config, I'd make it clean right away

But then again, if it was causing you some issues, we can leave it aside

I'll take a quick look into it and we'll leave it aside if it can't be quickly adjusted

[2017-03-30 19:18] lzammit commented on #2121
It's working! ⚙️ 👍

[2017-03-30 19:18] #2121 closed

[2017-03-30 19:27] julsemaan opened #2162 "doc: redis NTLM cache doc must be adjusted for new pfmon conf"
Maintenance configuration isn't the same with the new pfmon, we need to adjust the doc

[2017-03-30 19:50] julsemaan opened #2164 "last seen is not updated when a new node connects via RADIUS"
When a new node is discovered via a RADIUS request, the node last_seen value is not set properly as its call doesn't go through the ORM but instead goes through an individual call.

It should go through the ORM instead

[2017-03-30 20:03] julsemaan commented on #2161
I've started the work in devel. Will continue tomorrow.

[2017-03-30 20:25] whitx commented on #2151
Actually only SNMP can be selected

[2017-03-30 20:34] whitx commented on #2151
Actually all chzn-select seems broken everywhere

[2017-03-30 20:40] tlaurion commented on #1880
Bug or feature? Close won't fix?

[2017-03-30 20:43] louismunro commented on #2144
Disabled in journald in d6ca92eef1788a4e6d2bbb9a349659ae8b40c5c8

[2017-03-30 20:43] #2144 closed

[2017-03-30 20:49] #1684 closed

[2017-03-30 20:51] tlaurion commented on #1649
@louismunro : Would that make sense to create deltarpm at release time?

[2017-03-30 20:51] #1654 closed

[2017-03-30 20:51] louismunro commented on #1649
closed won't fix.
I have no interest in fixing this.
We should rather fix fingerbank if that is the real issue.

[2017-03-30 20:51] #1649 closed

[2017-03-30 20:52] #1475 closed

[2017-03-30 21:02] tlaurion commented on #2140
So here is what is seen.

Swap gets swapoff'ed before the services are cleanly stopped, packetfence-iptables tries to reach killed service until timeout is reached, where packetfence-iptables is stopped and  where the server gets rebooted.

A per PF workaround would be:
- grep swap /var/log/dmesg |grep "dead -> active"
[code]
- create /etc/systemd/system/swap.target with the following content:
[co

[2017-03-31 01:57] cgx commented on #2152
Configurator has been updated (9fd0077f749f5a2639ae6d6af594ab3d2063baef). Next step: fixing the Debian packaging.

[2017-03-31 12:59] fdurand opened #2166 "Configurator/interface"
When we click on an interface 2 windows appears.
![capture du 2017-03-31 08-58-33](https://cloud.githubusercontent.com/assets/1553962/24551421/5d24042c-15f0-11e7-8e9c-e332a87ffb3f.png)

[2017-03-31 13:09] julsemaan opened #2167 "PF admin: Time selectors are on two lines instead of one"
Was this intended ? Seemed better when it was on a single line

![image](https://cloud.githubusercontent.com/assets/3857942/24551749/af3fda3c-15f1-11e7-94e5-a6d285c82dcc.png)

[2017-03-31 13:14] cgx commented on #2167
I've asked @jrouzierinverse yesterday to replace this widget by a select input.

[2017-03-31 13:19] julsemaan commented on #2167
Actually, this was in devel, just not in the version we currently use given the builds were broken

Was done in 892ba98cc16665a4b3f376827fcb6e031c494c05 by @jrouzierinverse yesterday

[2017-03-31 13:19] #2167 closed

[2017-03-31 13:33] cgx commented on #2167
Splendid 🐩

[2017-03-31 13:36] julsemaan commented on #2161
Done, ported all the help previously in documentation.conf and documented tasks parameters

[2017-03-31 13:36] #2161 closed

[2017-03-31 13:36] lzammit opened #2168 "PF admin: When the admin is in RO, Read-Only message breaks the top section"
<img width="1276" alt="capture d ecran 2017-03-31 a 09 35 08" src="https://cloud.githubusercontent.com/assets/5261214/24552717/8ae3d504-15f5-11e7-9133-1517028e52b2.png">

[2017-03-31 13:37] julsemaan commented on #549
Done via PR #2108

[2017-03-31 13:37] #549 closed

[2017-03-31 13:40] julsemaan commented on #2051
Was fixed at some point in devel and works now

[2017-03-31 13:40] #2051 closed

[2017-03-31 13:40] julsemaan commented on #2052
@lzammit opened #2168 to discuss it in the new admin

[2017-03-31 13:40] #2052 closed

[2017-03-31 13:40] julsemaan commented on #2078
Was removed

[2017-03-31 13:40] #2078 closed

[2017-03-31 13:41] julsemaan commented on #2099
Quorum server was removed and we're now working with the stock mariadb behavior

[2017-03-31 13:41] #2099 closed

[2017-03-31 13:43] #2141 closed

[2017-03-31 13:44] julsemaan commented on #2071
@louismunro, is this something you can replicate

Didn't hear complains about it in the latest devel

[2017-03-31 13:48] julsemaan opened #2169 "passthroughs are ignored if they are in pfdns filters"
If you put a passthrough domain that is in dns_filters.conf.defaults (like the apple app store), then the DNS filters have prevalence on the passthroughs.

IMO that should be the opposite, pfdns should only call the filter engine on packets he would blackhole

Otherwise, you have to guess the DNS filters are tempering with your passthroughs

[2017-03-31 13:56] julsemaan commented on #1684
Don't just close issues without stating whether or not they were fixed and what is the fix if it exists.

Don't have to point to the precise commit but at least just where that would be which in this case would be that it was addressed via the monit script generator we have in addons/monit

Otherwise, people will be happy af when they find this issue but sad af when they realize it was just closed

[2017-03-31 13:57] julsemaan commented on #1758
Closed won't fix or was this addressed in some way ?

[2017-03-31 13:57] julsemaan commented on #1781
@tlaurion What is the resolution of this issue ?

[2017-03-31 13:58] #2166 closed

[2017-03-31 13:58] julsemaan commented on #1880
That would sound like a feature to me.

The interfaces code is a mess though in our admin, I'd include this in a potential rework of that code path

[2017-03-31 13:59] apkt commented on #1781
Funny you should ask that. I was thinking the same thing myself.

Andrew

From: Julien Semaan [mailto:notifications@github.com]
Sent: 31 March 2017 14:58
To: inverse-inc/packetfence
Cc: Torry, Andrew; Mention
Subject: Re: [inverse-inc/packetfence] Modify/Rewrite UDP Reflector for easier client self-deployment (#1781)

@tlaurion<https://github.com/tlaurion> What is the resolution of this issue ?

—

[2017-03-31 14:02] cgx commented on #2168
I suggest we put a visual indicator in the top navbar. Make the background color red for example.

[2017-03-31 14:09] dwlfrth commented on #2118
@julsemaan will check if easy fix, it not, considered as low-priority and push to 7.1

[2017-03-31 14:13] dwlfrth commented on #2133
Check for time delay for RADIUS to connect to MySQL on startup

[2017-03-31 14:14] dwlfrth commented on #2140
Need documentation in best practices and remove milestone. We will leave the issue opened for further reference

[2017-03-31 14:19] dwlfrth commented on #903
Almost there

[2017-03-31 14:21] dwlfrth commented on #1263
@jrouzierinverse get in touch with @julsemaan to see what is the issue

[2017-03-31 14:22] dwlfrth commented on #1284
Replace cgi session by PacketFence something sessionish

[2017-03-31 14:23] dwlfrth commented on #1377
@dwlfrth fix your shits

[2017-03-31 14:24] dwlfrth commented on #1601
Need to add validation to triggers in PacketFence (globally)

[2017-03-31 14:31] dwlfrth commented on #1726
@jrouzierinverse see what you can do and get it fixed ?

[2017-03-31 14:33] dwlfrth commented on #1784
@dwlfrth check if still an issue, and if yes, apply ugly fix

[2017-03-31 14:34] dwlfrth commented on #1847
@dwlfrth check real quick, otherwise push to 7.1 (eventually close won't fix)

[2017-03-31 14:37] dwlfrth commented on #1848
@jrouzierinverse check to make sure a node is only displayed once even if there is more than one locationlog opened

[2017-03-31 14:40] dwlfrth commented on #1898
Use documentation and contextual help to instruct user to restart pfmon on some changes.

[2017-03-31 14:40] #1898 closed

[2017-03-31 14:44] dwlfrth commented on #1962
@jrouzierinverse get in touch with @julsemaan to choose the right way to do it

[2017-03-31 14:49] dwlfrth commented on #2031
@tlaurion check if it is an issue or a side effect of something

[2017-03-31 14:50] dwlfrth commented on #2035
Fixed

[2017-03-31 14:50] #2035 closed

[2017-03-31 14:52] dwlfrth commented on #2049
Do not backport since we gonna leverage on systemd capabilities.
@jrouzierinverse remove trapper

[2017-03-31 14:55] dwlfrth commented on #2064
Redesign footer on two lines rather than two columns or add a copy button and minimize representation.
Maybe add a copy button to send diagnostic info ?

[2017-03-31 14:56] dwlfrth commented on #2068
@jrouzierinverse "do that real quick"

[2017-03-31 14:57] dwlfrth commented on #2071
@louismunro check and "close" ;)

[2017-03-31 14:59] dwlfrth commented on #2073
Discuss later for "Go best practices"

[2017-03-31 14:59] dwlfrth commented on #2081
@cgx "ca va etre un trois p'tits point pis un ti piton"

[2017-03-31 15:00] dwlfrth commented on #2151
Related to #1263

[2017-03-31 15:02] dwlfrth commented on #2168
Also add "documentation" on read-only mode

[2017-03-31 15:23] julsemaan opened #2170 "update graphite to fix combination of metrics from all servers"
@louismunro discovered there was a bug in graphite which prevents the version we use from polling the metrics from other servers.

This makes us put the replication factor to the size of the cluster which is inefficient.

We should update our version of graphite so it polls metrics from other servers

[2017-03-31 15:23] julsemaan commented on #2170
This is the continuation of #2137

[2017-03-31 15:26] julsemaan commented on #1693
Fixed in 4ff79e12ef09422746dcfb4b1de351b5843e9d77

[2017-03-31 15:26] #1693 closed

[2017-03-31 15:29] #2049 closed

[2017-03-31 15:31] julsemaan commented on #2118
@louismunro is right. No easy way I can see of checking that.

Moving to 7.1 for further investigation

[2017-03-31 15:35] #2159 closed

[2017-03-31 15:38] louismunro commented on #2170
To be precise the issue is not that it can't poll from other servers, it's that it will use the first server that responds for that data.
Unfortunately there is no guarantee that the server that is first to respond has a full set of data.
And graphite will not query multiple servers for a single dataset if there are missing datapoints.

I believe this was fixed in a later release of graphite.
Repa

[2017-03-31 15:39] #2162 closed

[2017-03-31 15:51] whitx opened #2171 "CaptivePortal error on install"
While installing PacketFence the following error happens:

Argument "20s" isn't numeric in division (/) at /usr/local/pf/lib/pfconfig/namespaces/resource/CaptivePortal.pm line 33.

Seems to be good after a configrelaod

[2017-03-31 15:52] julsemaan commented on #2171
I'll check that today, could be something in the loading sequence of the pfconfig namespace

[2017-03-31 16:34] #2068 closed

[2017-03-31 16:40] #2053 closed

[2017-03-31 16:41] julsemaan commented on #2171
That is because of the rename of trapping into fencing.

During a normal upgrade, this won't happen because in the upgrade notes, the user should do 'pfcmd pfconfig clear_backend' and restart pfconfig after the package update

[2017-03-31 16:41] #2171 closed

[2017-03-31 16:53] dwlfrth opened #2172 "radius CLI: Better integration for "non-PacketFence managed" equipments"
For now, we support RADIUS CLI access for managed network equipment allowing to send either RO rights or RW rights.

Some equipments can support more than RO / RW and some other equipments does not have to be a managed network equipment (UPS, TapeBackup,...)

Standalone RADIUS CLI instance along with it's own "framework / configuration" could be a good feature.

[2017-03-31 16:59] julsemaan commented on #2169
Was a side effect of the issue I had in #2123

@fdurand was right, filtering is done after the passthroughs

It works number 1 now

[2017-03-31 16:59] #2169 closed

[2017-03-31 17:07] #1932 closed

[2017-03-31 17:28] #2013 closed

[2017-03-31 17:29] julsemaan commented on #2131
Fixed by https://github.com/fingerbank/perl-client/commit/e8a2619e78f898341d66e8ed3a403af6036e5b4c

Just need to package it and push to devel repo

[2017-03-31 17:51] #1962 closed

[2017-03-31 17:59] tlaurion opened #2174 "Changing management from the configurator applies it on the backend but not in the frontend"
As of 6.5.9-0.20170331, changing the management IP address from the Admin configurator applies it in the backend but doesn't change it in the GUI.

[2017-03-31 18:08] #2174 closed

[2017-03-31 18:08] tlaurion commented on #2174
In fact, it creates an alias so the manaement interface has the two ip addresses

[2017-03-31 18:17] jrouzierinverse commented on #2164
Fixed in ca962ff5cf29ee4fe8eb5caa6dec564522152148

[2017-03-31 18:17] #2164 closed

[2017-03-31 18:47] julsemaan opened #2175 "pf admin: clicking help on custom reports hides the section title"
This is really minor and simply polishing but when clicking on the help of the custom reports, it hides a part of the section title

![image](https://cloud.githubusercontent.com/assets/3857942/24564719/dffc5d06-1620-11e7-9053-9e2facebfcc4.png)

Clicking another link will remove the background and the title becomes fully visible again

[2017-03-31 18:47] julsemaan commented on #2175
This happens on Firefox + Chrome on Ubuntu but I guess this should be the same on all platforms and browsers

[2017-03-31 18:51] julsemaan opened #2176 "/usr/lib/systemd/journald.conf.d/01-packetfence.conf is not taken into consideration"
Still getting my wall spammed even with the ForwardToWall disabled in this file

Try restarting systemd-journald and still not taken

[2017-03-31 18:54] #2176 closed

[2017-03-31 18:58] julsemaan commented on #2151
I'm able to use it using the latest devel now

@lzammit, check if its good for you

[2017-03-31 19:07] julsemaan opened #2177 "PF Admin: Connection profile preview doesn't work"
The portal profile currently gives out 400 bad requests on my setup.

Its configured with a management interface + portal (so in webauth mode, no registration/isolation)

I'm trying the preview on the default connection profile (the only one I have)

Following error appears in httpd.admin.error:
[code]

[2017-03-31 19:10] julsemaan opened #2178 "PF Admin: template preview button has light foreground on light background"
Minor issue, the preview button of an HTML template in the connection profile has a light icon on a light background which makes the icon almost invisible

![image](https://cloud.githubusercontent.com/assets/3857942/24565648/1dcfb5da-1624-11e7-8560-266c5c0e3f64.png)

The preview icon is the first of the 3 icons at the right of each template row

[2017-03-31 19:11] whitx commented on #2178
on it

[2017-03-31 19:13] julsemaan opened #2179 "PF Admin: Switch group tabs are on 2 lines"
Due to the additional tab it has, the switch group modal tabs are on 2 lines

Would probably need to make the modal a tiny bit larger or the tabs a tiny bit less large

Or just totally something else that a CSS guru would do

![image](https://cloud.githubusercontent.com/assets/3857942/24565725/886da906-1624-11e7-8584-bce151238fc4.png)

[2017-03-31 19:14] whitx commented on #2178
fixed by 1dedeccb39a40bcce0126fc179422d419ec9a818

[2017-03-31 19:14] #2178 closed

[2017-03-31 19:16] #2168 closed

[2017-03-31 19:17] julsemaan opened #2180 "PF Admin: required fields don't have the required icon (!)"
All the required fields used to have an exclamation mark icon next to their label

Its not there anymore, was this intentional ?

Before admin polish:
![image](https://cloud.githubusercontent.com/assets/3857942/24565835/fe788828-1624-11e7-8ce0-b299b5af7131.png)

After admin polish:
![image](https://cloud.githubusercontent.com/assets/3857942/24565854/0f8c6206-1625-11e7-9d71-5b785af6f0b4.png)

[2017-03-31 19:23] julsemaan opened #2181 "PF Admin: Disable save button while section is saving"
This wasn't introduced in the new admin but I believe its been there for too long and we should address it.

When you save a section that comes from pf.conf (ex: System Configuration->Services) and it takes a lot of time to save, you don't have any feedback that the action was sent and you can still click Save

That could lead a user to click the Save multiple time thinking stuff isn't happening

[2017-03-31 19:30] #2175 closed

[2017-03-31 19:35] cgx commented on #2180
@whitx did fixed the templates. We should probably fix the Form::Handler widgets too.

[2017-03-31 19:36] #2180 closed

[2017-03-31 19:50] tlaurion commented on #1781
This ticket was related to creation of a more user friendly UDP Reflector, which became DHCP Forwarder which is different project: https://github.com/inverse-inc/packetfence-dhcp-forwarder/

@apkt: I tagged you in https://github.com/inverse-inc/packetfence-dhcp-forwarder/issues/10 to see if that proposition would fit your need.

@julsemaan : Resolution of original ticket would be : fixed. I reopen

[2017-03-31 20:02] tlaurion commented on #1684
@julsemaan Ok!

[2017-03-31 20:04] tlaurion commented on #1649
The interest was in reducing bandwidth requirements while leveraging a little higher disk IO to reassemble the packets from binaries differences. It is possible to activate this easily for CentOS by installing deltarpm.

The thing is that this possibility is not offered through our repositories. I understand that it is not a current need.

[2017-03-31 20:15] cgx commented on #2168
Can't find the documentation. Does it exist? 😨

[2017-03-31 20:20] tlaurion commented on #1758
I understood that this was more of a clarification need then a need to change anything. Let's clarify a bit more before closing then:

I still believe that it would be clearer if:
- detect -> sid (people familiar with IDS will know what an sid is) or ids_numerical_id, or ids_id. You said earlier that it should be suricata_sid. Any reason why snort is not considered here?
- suricata_event -> ids_ev

[2017-03-31 20:35] tlaurion commented on #1978
@maria2027 Sorry I closed this ticket without seeing you message. Is this problem still happening to you? Which version of PacketFence are you using?

[2017-03-31 21:36] dwlfrth opened #2183 "PF Admin: Microsoft Active Directory Domains naming"
Shouldn't we use "Domains" rather than "Microsoft Active Directory Domains" ?
I mean, we should be able to join a Samba domain using the same procedure ?

[2017-03-31 21:37] dwlfrth opened #2184 "PF Admin: Change the "favicon""
Since we started to use Catalyst, we never changed the favicon.
We could change it to be more "personalized" ;)

[2017-04-01 14:09] julsemaan commented on #2184
I suggest we do a contest for the next favicon

Here is my suggestion
![image](https://cloud.githubusercontent.com/assets/3857942/24579418/32c86d3e-16c3-11e7-8bd1-38b63b57cc59.png)

[2017-04-02 16:08] louismunro commented on #1978
It's not a bug.
It will out when you actually have data.

To be clear, this may be be fixed in a later graphite release, but since we depend on upstream packagers for that at the moment we can't fix it ourselves.

Someday we'll package graphite on our own.

[2017-04-02 16:08] #1978 closed

[2017-04-02 16:09] louismunro commented on #1978
@tlaurion please don't assign issues to me without asking first.

[2017-04-02 16:15] louismunro commented on #1781
I think we have done plenty of work on that front for now.
Remember, this was tagged "nice to have".
Until someone sponsors it it's likely to remain as it is currently with some incremental progress.

[2017-04-02 16:15] #1781 closed

[2017-04-02 16:17] #2140 closed

[2017-04-03 09:26] maria2027 commented on #1978
"Unexpected error" is something we know what it is. There is no "Unexpected error" on ANY of other graphs, only on this one.
However, you are THE DEVELOPER, you know better, don't you ? :-)Please implement the "Unexpected error" on ALL graphs, because in this case, ALL other graphs have a bug :-)))))

      From: Louis Munro <notifications@github.com>
 To: inverse-inc/packetfence <packetfence@nore

[2017-04-03 09:45] maria2027 commented on #1978
Btw, I am using the last version of pf updated daily.
The problem is clear for any developer with more than 5 seconds of programming experience.

However, since not any user will ever have data in NTLM table, things are clear.

If this is  "not a bug" , @louismunro, please, please implement the same code on ALL other graphs not having the "Unexpected error"  and "contact administrator" features im

[2017-04-03 12:02] julsemaan opened #2185 ":nail_care: Question: caddy services config files"
Currently the caddy services config files have one with .example and one without

We should decide whether or not we should put those in .example and consider them as config files in packaging

I propose putting them in .example and having them set as %config so they end up in rpmsave and not rpmnew

[2017-04-03 12:26] julsemaan commented on #2183
I agree and disagree

I agree because from a tech standpoint you're right

But from a usability standpoint, using 'Active Directory' makes things clearer

I'd personally go with 'Active Directory Domains' and remove the Microsoft

This way that unties it from Microsoft and ties it more to the different Active Directory protocols which are implemented by Samba

And it will make the name shorter whi

[2017-04-03 12:28] julsemaan commented on #2168
It does but its in the clustering guide instead of being in the admin guide:
https://github.com/inverse-inc/packetfence/blob/devel/docs/PacketFence_Clustering_Guide.asciidoc#quorum-behavior

[2017-04-03 12:30] julsemaan commented on #1649
It would be nice for Fingerbank packages though. Let's see how that can integrate with its packaging.

Opened issue in Fingerbank perl client repo:
https://github.com/fingerbank/perl-client/issues/27

[2017-04-03 13:07] #1263 closed

[2017-04-03 13:08] cgx commented on #2151
Fixed by 1dbced9.

[2017-04-03 13:08] #2151 closed

[2017-04-03 13:41] louismunro commented on #1978
Feel free to submit a PR then.
Note that it probably should be sent to the graphite developers, since the original error is in that code.

[2017-04-03 14:06] louismunro commented on #2185
.examples all the things.

[2017-04-03 14:07] louismunro commented on #2184
Do it, but whenever.
No pressure.

[2017-04-03 14:08] louismunro commented on #2183
Active Directory Domain it is then.

[2017-04-03 14:15] louismunro commented on #2112
Status on this please?

[2017-04-03 14:17] louismunro commented on #2071
Still present in my testing environment.

[2017-04-03 14:55] whitx commented on #2183
fixed by dc7c622

[2017-04-03 14:55] #2183 closed

[2017-04-03 15:47] julsemaan commented on #2185
Fixed by 40916561c44b43e2a6335bb0d7fcc9d0827fe73b and d316adfe636fc11caca27a69f301970a1f87592d

[2017-04-03 15:55] louismunro commented on #2185
Good trick: reopening and closing issues.
Makes it look as though you are working hard...
:grin:

[2017-04-03 15:56] julsemaan commented on #2185
You got it ;)

[2017-04-03 15:56] julsemaan commented on #2185
Fixed in devel

[2017-04-03 15:56] #2185 closed

[2017-04-03 16:46] julsemaan opened #2186 "pfmon upgrade script: doesn't migrate the ip4log tasks"
The ip4log tasks parameters aren't migrated from pf.conf into pfmon.conf by the upgrade script

[2017-04-03 16:51] julsemaan opened #2187 "pfmon upgrade script: unreg_window + delete_window aren't migrated properly"
From 6.5 to 7.0, we added the unreg_window that complements the delete_window so window in node_cleanup is delete_window

The pfmon upgrade script doesn't take this into consideration and doesn't migrate maintenance.node_cleanup_window to node_cleanup.delete_window

[2017-04-03 16:53] julsemaan opened #2188 "pfmon upgrade script: should we delete the maintenance section"
Given the amount of different parameters in that section and the possibility of mistake by the upgrade script, should we leave the maintenance section there after the script does its thing and instruct the user to delete it ?

Currently it removes the section from pf.conf

[2017-04-03 17:01] louismunro opened #2189 "Debian packaging: installation shuts down interface"
On the current debian devel build, the installation does and ifdown on the primary interface (and maybe others as well).
So we lose connection the server and installation does not complete.

This must be fixed before 7.0.

[2017-04-03 17:01] louismunro commented on #2189
Seems to be related to the packetfence-routes service.
Investigating.

[2017-04-03 17:30] louismunro commented on #2189
Only seems to affect dhcp configured interfaces.
If I connect through a statically configured interface I can complete the installation.
The dhcp configured interface gets shuts down though.

[2017-04-03 18:21] #2081 closed

[2017-04-03 19:06] #2186 closed

[2017-04-03 19:07] jrouzierinverse commented on #2188
Just delete since it will cause checkup warnings.

The naming of the fields in pfmon.conf where based off the naming in the pf.conf.
So there is a one to one mapping expect for iplog_cleanup => ip4log_cleanup.
Which is now fixed.

Also we can always backup pf.conf in the script or instruct them to do some in the UPGRADE notes.

[2017-04-03 19:18] lzammit opened #2190 "Role migration from db with to-7.0-roles-conf.pl create UTF8 roles.conf"
When you create a role in the web admin:

[root@superfence pf]# file conf/roles.conf
conf/roles.conf: ISO-8859 text

Once you run the role db script importation:

[root@superfence pf]# file conf/roles.conf
conf/roles.conf: UTF-8 Unicode text

The file display the accent correctly but not displayed properly in the web admin.

[2017-04-03 19:22] julsemaan commented on #2190
I guess we could fix this by forcing the encoding of the configuration files like the encoding is forced in the DB

IMO, its not worth too much time but I may be wrong

[2017-04-03 19:27] julsemaan commented on #2190
Zayme cares so much about international characters, I'd say we could call him Mr. Worldwide

![image](https://cloud.githubusercontent.com/assets/3857942/24627213/f89fd8d4-1881-11e7-95e2-cc690754e4e3.png)

[2017-04-03 20:34] lzammit opened #2191 "PF Admin: Does not display wrong password at the login"
If you put a wrong password at the login it won't say it's not correct or wrong.

[2017-04-03 20:37] lzammit opened #2192 "PF Admin: Weird behaviour on message on the login admin page"
If you try to close the Message:

Warning! You have been logged out.

It will try to submit the login form.

[2017-04-03 20:41] #2187 closed

[2017-04-03 20:45] jrouzierinverse commented on #2191
This is a feature not a bug.
If the admin specifies wrong password vs username it could allow leaking of valid usernames.

I would say close this one

[2017-04-03 22:12] louismunro commented on #2189
It's a systemd/debian bug: https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1449380
A known fix exists: http://paste.ubuntu.com/10923461/

I'll see if I can do something about it in packaging tomorrow.

[2017-04-04 11:18] julsemaan commented on #2191
This is actually a bug because its not displaying that the credentials are invalid like it used to

It just displays nothing now like if you didn't submit the form

So we shouldn't close as this is a regression

[2017-04-04 11:31] julsemaan opened #2193 "Should pfsnmp queue worker be on by default"
The pfqueue pfsnmp worker is enabled by default but snmptrapd isn't and so was its glorious predecessor pfsetvlan

I would suggest the worker be disabled by default and tied to the startup of snmptrapd

[2017-04-04 11:33] julsemaan opened #2194 "pfsnmp workers default amount"
The default amount of pfsnmp workers seems low for a typical deployment of port-sec

Should a switch reboot, it will receive a lot of trap and the only worker will be overloaded

I suggest we up this amount to the default we have in pfsetvlan (4)

[2017-04-04 11:38] julsemaan opened #2195 "Queue status page should provide a view of the cluster"
Currently the Queue status page only provides a view of the current server

We should aim to provide a view of the queues on all servers

[2017-04-04 11:50] julsemaan opened #2196 "Maintenance parameters haven't been renamed in the doc"
The maintenance parameters that have been moved to pfmon.conf haven't been changed in the documentation.

We need to go through it and adjust where necessary

[2017-04-04 13:09] #2191 closed

[2017-04-04 13:10] cgx commented on #2192
Fixed by db7f395.

[2017-04-04 13:10] #2192 closed

[2017-04-04 13:45] jrouzierinverse commented on #2193
We can do the same thing like we do with pfdetect.
If it is not enabled it will not be started.

[2017-04-04 13:45] jrouzierinverse commented on #2194
I agree

[2017-04-04 13:46] jrouzierinverse commented on #2196
I will do so

[2017-04-04 13:47] jrouzierinverse commented on #2181
Fixed by 110c661d664e11431068b5f541a2f86f954963f7

[2017-04-04 13:47] #2181 closed

[2017-04-04 13:47] jrouzierinverse commented on #2179
Fixed bye ffc91b9c1e671b8cb016c1348f1f36f8fcf96ad4

[2017-04-04 13:47] #2179 closed

[2017-04-04 13:48] jrouzierinverse commented on #2177
Fixed by f643bffab418f7935505b2a936900d955da15f9c

[2017-04-04 13:48] #2177 closed

[2017-04-04 14:01] whitx opened #2198 "Admin menu"
We need a scroll bar in the admin menu, for instance in auditing, if I 'collapse' multiple sections, and there is too much entries, the bottoms one are hidden.

[2017-04-04 14:10] #2189 closed

[2017-04-04 14:10] julsemaan opened #2199 "pfsnmp: Cisco Catalyst 2960 port-sec trap is unhandled"
Using the configuration in the network device config guide, I setup a Catalyst 2960 for port-sec

The traps it sends for secure MAC address violation are unhandled by pfsnmp

This is what comes into snmptrapd.log
[code]

And what it says in pfqueue.log:
[code]

[2017-04-04 14:11] julsemaan opened #2200 "Question: Send pfqueue.log into packetfence.log"
Given a lot of flows of PacketFence go through pfqueue (SNMP enforcement, Fingerbank update, person lookups, etc), it would make sense to send that to packetfence.log

[2017-04-04 14:13] julsemaan commented on #2199
It also doesn't handle down-traps
[code]

[2017-04-04 14:14] #2193 closed

[2017-04-04 14:15] jrouzierinverse commented on #2194
Fixed by 8315f1082d181a0cffd88ac111da56f4b8b04eb9

[2017-04-04 14:15] #2194 closed

[2017-04-04 14:19] jrouzierinverse commented on #2199
Can you provide me a dump of the trapinfo.

[2017-04-04 14:22] julsemaan commented on #2199
How can I provide this ?

[2017-04-04 14:24] jrouzierinverse commented on #2199
Do a data::dumper of the args in pf::task::pfsnmp::doTask

[2017-04-04 14:34] #2199 closed

[2017-04-04 14:35] julsemaan commented on #2199
Additionnal option was needed to make sure snmptrapd doesn't send us OIDs with the friendly names in the MIBs

[2017-04-04 15:13] tlaurion opened #2201 "Adding a role in Admin Interface creates it in roles.conf but doesn't make it available in sources"
Adding a role in Admin Interface creates it in roles.conf but doesn't make it available in sources

To reproduce:
1. Create a new role from Admin interface. See that it is present in roles.conf. It is also shown in the availables roles.
1. Attempt to add it in a source's rule. Older roles are presented, but not the new ones. The role is not in database under node_category.

[2017-04-04 15:16] julsemaan opened #2202 "Master sections are still missing the pretty explanations"
The master sections of the admin in configuration were supposed to have a pretty schema and explanations from what I recall in our meetings.

They still aren't there

Opening this issue to make sure we don't forget about it and release it this way

[2017-04-04 15:19] julsemaan opened #2203 "Net::MAC::Vendor isn't found"
pfcmd_vlan doesn't compile anymore since its missing Net::MAC::Vendor

What do we do ? Do we include it again or do we strip out calls from it in pfcmd_vlan ?

[2017-04-04 15:22] julsemaan commented on #2201
Node categories aren't working correctly right now because our schema still runs on 6.5.9 and node_category can only be updated on 7.0.0+ since it needs an index that is only present there.

Put your schema to 7.0.0 and try again:
insert into pf_version values(99999, '7.0.0')

[2017-04-04 15:32] julsemaan commented on #2201
I'll switch the schema version to 7.0.0 so that this doesn't happen again before we release

[2017-04-04 15:49] julsemaan opened #2204 "pfsnmp should discard switchport traps if its already working on it"
pfsnmp is currently handling all the traps that come from a switch+switchport even though he is currently working on the switchport. This means that in certain codepaths (floating devices in my case) it caused an endless SNMP configuration loop since the initial process was closing the interface which generated a down trap, which then generated a reconfiguration which resulted into starting back t

[2017-04-04 15:53] lzammit commented on #2192
It's working.

[2017-04-04 15:59] #2198 closed

[2017-04-04 16:05] tlaurion opened #2205 "Role isn't saved in the DB when doing 802.1x autoreg"
A role being assigned to a device is shown under Auditing->( specific node) details-> Node Information (RADIUS logs), but not under Auditing->node-> info (DB stored information), where the "Role" drop down menu shows "No role" instead of selecting the actual role being applied. The category_id is not saved in the database for that node.

Replication:
1. Create a role
1. In a source, assign that ro

[2017-04-04 17:05] tlaurion commented on #2205
@lzammit replicated this bug on his setup.

[2017-04-04 18:03] #2202 closed

[2017-04-04 18:06] julsemaan commented on #2205
The issue is that the role isn't saved in the DB when doing 802.1x autoreg

I'll dig into it

[2017-04-04 18:07] julsemaan commented on #2205
It also happens independently from whether or not its a new role

[2017-04-04 18:23] julsemaan commented on #2205
Seems the DAL node object doesn't replicate the magic behavior of node_modify to assign a category_id using the category field

Will check with @jrouzierinverse

[2017-04-04 18:23] jrouzierinverse commented on #2204
Try 7b3e6e836d1b5248ac9ab00071225a57bb84ccb0 and let me know if it fixed it

[2017-04-04 18:28] louismunro commented on #1571
fixed in d6ca92eef1788a4e6d2bbb9a349659ae8b40c5c8

[2017-04-04 18:28] #1571 closed

[2017-04-04 18:31] julsemaan commented on #2205
@jrouzierinverse will do a proper fix to bring the magic to the DAL node object

[2017-04-04 18:32] julsemaan commented on #2204
Is it possible you forgot to push it to github ?

The commit doesn't seem to be there

[2017-04-04 18:37] jrouzierinverse commented on #2204
That is why you get paid the big bucks

[2017-04-04 18:38] jrouzierinverse commented on #2204
Try 1d0bbb5179d2372ec4ef512279618c87aae53591

[2017-04-04 18:49] julsemaan commented on #2204
Seems there is a compilation error in the pfsnmp task module because of this line:
[code]

Not sure if it should be a concatenation or if it attempts to perform some wizardry I don't undertand

[2017-04-04 18:54] julsemaan commented on #2204
I've replaced the error above by a concatenation and it compiles:
[code]

And tried it again without success for the initial issue though

[2017-04-04 21:27] jrouzierinverse commented on #2205
Fixed by e2d8d8939abcf43eef81f0d84557e80fedd564c0
Please verify

[2017-04-04 23:26] jrouzierinverse opened #2206 "Recent renaming of pf::api methods can cause some pfqueue api task to fail after upgrade"
If there are old jobs in the redis job queue such as process_dhcp (which was renamed to process_dhcpv4) after an upgrade.
It will fail with an error like ```Can't locate object method "process_dhcp" via package "pf::api"```

How should we take care of it.

* Have them flush redis queue as part of the upgrade process.
* Create aliases for the old api methods that were renamed.

[2017-04-04 23:29] extrafu commented on #2206
I vote for KISS - flush the queues.

[2017-04-05 00:19] jrouzierinverse commented on #2206
![image](https://cloud.githubusercontent.com/assets/2727473/24684426/f35ba3d8-1973-11e7-80c4-8bb7b3e55c4a.png)

[2017-04-05 00:23] extrafu commented on #2206
Clearly @lzammit

[2017-04-05 04:01] dwlfrth commented on #2206
I agree with @extrafu ... updating a system "usually also means" flush the queue and much more ;)

[2017-04-05 11:25] julsemaan commented on #2206
I agree with @dwlfrth who agrees with @extrafu who clearly go that idea from @lzammit

[2017-04-05 12:24] julsemaan commented on #2131
Updated package in debian + RHEL repos

[2017-04-05 12:24] #2131 closed

[2017-04-05 14:02] dwlfrth commented on #2177
@julsemaan can you test this

[2017-04-05 14:02] dwlfrth commented on #2177
Comment here to say yeah or neah

[2017-04-05 14:19] dwlfrth commented on #2188
We should efface something from ce sectionnage

[2017-04-05 14:19] #2188 closed

[2017-04-05 14:20] dwlfrth commented on #2200
We move pfqueue.log content in packetfence.log

[2017-04-05 14:26] dwlfrth commented on #2190
Should review encoding (db and configuration files)

[2017-04-05 15:28] #2200 closed

[2017-04-05 15:29] julsemaan commented on #2177
yeah

[2017-04-05 17:45] dwlfrth commented on #2190
![49604ea7adb6bf79829206f4cc2e70b57b971fe0433483211656875df894f232](https://cloud.githubusercontent.com/assets/633234/24719014/24a3008e-1a06-11e7-99d7-31e60b1218a3.jpg)

[2017-04-05 17:57] lzammit opened #2208 "pfqueue: Variable "%TRAP_HANDLERS" is not imported"
Apr  5 09:38:52 superfence pfqueue: WARN pfqueue(22346): Variable "%TRAP_HANDLERS" is not imported at /usr/local/pf/lib/pf/task/pfsnmp.pm line 138.
 (Module::Pluggable::Object::_require)
Apr  5 09:38:52 superfence pfqueue: Variable "%TRAP_HANDLERS" is not imported at /usr/local/pf/lib/pf/task/pfsnmp.pm line 138.
Apr  5 09:38:52 superfence pfqueue: Variable "%TRAP_HANDLERS" is not imported at /usr/

[2017-04-05 17:58] lzammit opened #2209 "uninitialized value $ifDesc"
From the today's PF package.

Apr  5 13:53:24 superfence packetfence: WARN httpd.aaa(22041): Use of uninitialized value $ifDesc in concatenation (.) or string at /usr/local/pf/lib/pf/locationlog.pm line 333.
 (pf::locationlog::locationlog_insert_start)

[2017-04-05 18:06] whitx opened #2211 "Documentation in the admin does not load images"
Title say it all

[2017-04-05 18:33] lzammit opened #2212 "[pfqueue] <defunct> PF 6.4"
[root@PacketFence pf]# ps -edf | grep pfque
root 15671 1 0 10:56 ? 00:00:00 pfqueue
root 15674 15671 0 10:56 ? 00:00:01 pfqueue - Queue:general
root 15675 15671 0 10:56 ? 00:00:02 pfqueue - Queue:general
root 15676 15671 0 10:56 ? 00:00:01 pfqueue - Queue:general
root 15677 15671 0 10:56 ? 00:00:02 pfqueue - Queue:general
root 15678 15671 0 10:56 ? 00:00:01 pfqueue - Queue:pfdhcplistener
root 1567

[2017-04-05 18:36] julsemaan commented on #2211
They load on mine

Is this on debian ?

[2017-04-05 18:40] whitx commented on #2211
Nvm it is a missing image for scans section, I'll look into it

[2017-04-05 18:44] #2211 closed

[2017-04-05 18:45] jrouzierinverse commented on #2212
Any errors in the pfqueue.log?

[2017-04-05 18:50] whitx opened #2213 "Doc are not uptodate for the admin"
Need to update screenshots for the new admin interface

[2017-04-05 19:43] whitx commented on #2213
fixed by 4b48b9c6bcbd9952f51f5df063199b563baf03ef and 210deaa4d324d2a18e2e3795a325fae8994f58a9

[2017-04-05 19:43] #2213 closed

[2017-04-05 20:53] tlaurion commented on #2205
fixed by ba7e7ba57b75180b6ab9c2f34b235ef4e48cebe2

[2017-04-05 20:54] #2205 closed

[2017-04-05 20:54] lzammit commented on #2205
Fixaide

[2017-04-05 21:03] whitx commented on #2071
I am able to replicate it, on debian only, will look into it

[2017-04-05 21:04] julsemaan commented on #2071
You know what they say about Debian

[2017-04-06 01:06] dwlfrth commented on #2071
Black and yellow ?
https://www.youtube.com/watch?v=UePtoxDhJSw

[2017-04-06 13:55] lzammit opened #2215 "Violation: disable the Enable Network button during the violation release on the portal"
You can click a multiple time on the release button (Enable Network) on the captive portal.

Apr  6 09:49:22 superfence packetfence: INFO httpd.portal(24257): is currentlog connected at (10.0.0.14) ifIndex 12 isolation (pf::enforcement::_should_we_reassign_vlan)
Apr  6 09:49:22 superfence packetfence: INFO httpd.portal(24254): Instantiate profile ZamSecure (pf::Connection::ProfileFactory::_from_pr

[2017-04-06 14:25] #2184 closed

[2017-04-06 14:31] jrouzierinverse commented on #2208
This was fixed in devel

[2017-04-06 14:31] #2208 closed

[2017-04-06 14:47] #1726 closed

[2017-04-06 14:50] jrouzierinverse commented on #2203
Fixed in 46408d6e16bcd46aba2efad5521d3d2cd11580a1

[2017-04-06 14:50] #2203 closed

[2017-04-06 15:11] jrouzierinverse commented on #2206
Fixed by 82755046df8481c0d7222fcc00f3e3530bbde8ea

[2017-04-06 15:11] #2206 closed

[2017-04-06 15:18] #2209 closed

[2017-04-07 13:49] louismunro opened #2216 "Upgrade from 6.5 to 7 (devel) is broken because Mariadb"
There is a dependency issue in our MariaDB 10.1 package which breaks it from upgrading from 5.5.
Thus it's currently impossible to upgrade from PF 6.5 to 7.x without some dpkg -r --force-all messing around.

Symptoms:
[code]

Working on it.

[2017-04-07 13:51] julsemaan opened #2217 "service stops create garbage log lines"
When stopping a service, it prints out an invalid log line.

Seems to be for all packetfence services

[code]

Issue is on the second line

[2017-04-07 13:52] louismunro commented on #2217
You mean %d is not a valid exit code?
That's unpossible....

[2017-04-07 13:57] julsemaan commented on #2217
Well I think its a valid exit code on ZammitOS

They actually display the exit codes in hexa instead of that good old base 10 because its just so cool

[2017-04-07 14:59] #2217 closed

[2017-04-07 18:01] #2112 closed

[2017-04-07 18:04] louismunro opened #2218 "pfcmd reports radiusd services started when they fail"
pfcmd can report radiusd services as successfully started when they have not yet finished starting.

As such there exists the risk that they will fail to start successfully and so the user will believe they are started when they are in fact not.

The fix is to add a syntax check in the unit file.
Already done on RHEL, working on it in Debian packaging.

[2017-04-07 18:08] julsemaan commented on #2218
This is actually a duplicate of #2118

This is generalized in all our services

[2017-04-07 18:09] louismunro commented on #2218
Well, systemd cannot be wrong.
Therefore you *must* be wrong.
Sigh...
I'll see what I can do.
Miracles at 8, film at 11.

[2017-04-07 18:22] lzammit opened #2219 "No validation on the date format in user creation"
Apr  7 13:34:53 superfence httpd_admin: ERROR httpd.admin(28993): Caught exception in pfappserver::Controller::User->create "Error parsing time at /usr/lib64/perl5/Time/Piece.pm line 469." (pfappserver::PacketFence::Controller::Root::end)

[2017-04-07 18:35] julsemaan opened #2220 "logging: MAC address prefix was removed when going to syslog"
The MAC address that prefixes all the log lines in PacketFence isn't there anymore since we've move to syslog to manage our logging

We should add this back as the MAC was removed from all logging messages since it was in the prefix

[2017-04-07 18:48] tlaurion opened #2221 "/bin/pfcmd checkup is called before regenerating configurations, resulting in the same error even after having applied a good configuration change"
It takes two` bin/pfcmd service radiusd restart ` to actually apply a change.

Replicate:

1. Start with a clean conf.
2. Do a bad change (point to a file that doesn't exist)
3. `/usr/local/pf/bin/pfcmd service radiusd restart`(it will fail)
4. do `systemctl reset-failed`
5. Change to clean state.
6. `/usr/local/pf/bin/pfcmd service radiusd restart`
7. It will still fail at "Checking configuration

[2017-04-07 18:53] julsemaan commented on #2221
![image](https://cloud.githubusercontent.com/assets/3857942/24815080/ea00d594-1ba1-11e7-8d84-d736e7c58e93.png)

[2017-04-07 18:55] louismunro commented on #2221
No intention of fixing this by 7.0.
It's been there for a long time.
It will have to wait until at least 7.1.

[2017-04-07 19:13] #2064 closed

[2017-04-07 19:14] louismunro commented on #2218
Fixed in 5d70ab176aae3e99093a.
This does not solve it for other services.
It's only a fix to prevent an invalid radiusd configuration from reporting as "started".

[2017-04-07 19:14] #2218 closed

[2017-04-07 19:59] #2215 closed

[2017-04-07 20:33] louismunro commented on #2216
Looks like there's a difference in the dependency tree generated by "apt upgrade" vs "apt install packetfence" ( which also upgrades it).

apt upgrade fails.
apt install packetfence succeeds.

I'll add a note to the documentation about it.

[2017-04-07 20:46] louismunro commented on #2216
`apt full-upgrade ` also seems to fix it.

[2017-04-10 14:33] whitx commented on #2071
This is a timeout issue in the browser, will need to be worked on for 7.1. At the moment we could try a reload of the page just before the timeout happens (2min). The domains joins in itself works fine.

[2017-04-10 16:53] lzammit commented on #1726
Fixed

[2017-04-10 17:10] jrouzierinverse commented on #2204
Fix in c45ed878b668eaf86ed19f4c0eae116b1ddbcdde.
Please review

[2017-04-10 17:33] julsemaan commented on #2204
Doesn't even seem to compile:
[code]

Something I don't have ? Or something I'm doing wrong ?

[2017-04-10 17:39] jrouzierinverse commented on #2204
My error fixed has been push

[2017-04-10 17:54] julsemaan commented on #2204
Seems to be doing the exact same thing

[2017-04-10 17:54] julsemaan commented on #2204
We receive an up trap while reconfiguring the port from what I can see and this triggers the reconfiguration of the port again

[2017-04-10 19:34] dwlfrth commented on #1911
Fixed with 6440882c9563a562daf7f90a81c52a3dd596ec94
Reopen if needed.

[2017-04-10 19:34] #1911 closed

[2017-04-10 19:53] #1377 closed

[2017-04-10 19:53] dwlfrth commented on #1377
Attempt at fix. Please reopen if does not work

[2017-04-11 14:57] louismunro commented on #2220
We used to log through pf::log::fileappender.
That was (I believe) responsible for adding the MAC.
We now log through Log::Dispatch::Syslog.

So I think what we need is to extend Log::Dispatch::Syslog to add the MAC.

[2017-04-11 15:00] louismunro commented on #2220
Mmm, good try but no.
I don't see what the pf::log::fileappender code has to do with this.
The answer could be in pf::log itself.

[2017-04-11 15:08] louismunro commented on #2220
@jrouzierinverse can you please take a look and tell me where I got lost in the weeds?

[2017-04-11 15:09] julsemaan commented on #2220
It was in the configuration of Log4Perl itself I believe

log4perl.appender.PFQUEUE.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n

[2017-04-11 15:10] louismunro commented on #2220
Good catch.
I was looking at the top level log.conf.example which does not have that pattern.

[2017-04-11 15:11] louismunro commented on #2220
I'll take care of it today.

[2017-04-11 15:36] whitx opened #2222 "When performing a CoA, we should open a locationlog entry with the new role"
While doing WebAuth and a CoA, after the registration, if there is no VLAN number for the new role, the reevaluate_access is not trigger. This issue is only for CoA and not for radiusDisconnect.

[2017-04-11 16:49] jrouzierinverse commented on #2204
The rewrite of pfsetvlan to use pfqueue was not matching the exact behavior of pfsetvlan.

In the initial rewrite attempt the parsing and handling thread pools were merged into a single task.

With these latest set of changes the task of parsing and handling are now two separate tasks.

This design allows filtering of task before being handled (which is why it was probably done in the first place)

[2017-04-11 18:15] julsemaan commented on #2204
Still doing the same thing

Any configuration I should adjust so your changes are fully taken in consideration

[2017-04-11 18:19] julsemaan commented on #2204
Actually its a bit different, now after 4-5 times of doing the loop of configure/deconfigure, it stops and leaves the port in a half and half state

[2017-04-11 18:19] julsemaan commented on #2204
where half and half is the port configured for floating and not for floating

[2017-04-11 18:47] jrouzierinverse commented on #2204
Half and Half goes great with coffee.
![image](https://cloud.githubusercontent.com/assets/2727473/24925046/faf7b5f4-1ec4-11e7-8b6b-2da9ac5b7793.png)

Let's try having a separate queue for parsing to better mimic pfsetvlan.

[2017-04-11 18:51] louismunro commented on #2133
Before FreeRADIUS 3 we allowed connections to the database to fail during radiusd startup.
We could just revert to that behaviour.

[2017-04-11 19:16] #2133 closed

[2017-04-12 13:44] louismunro commented on #2071
After looking at it with ZammitCorp's International Man of Mystery, this looks related to my testing environment being dog slow.
It might not even affect people in the real world.
At most a documentation item telling people to reload if it fails would do it.

[2017-04-12 13:53] #2071 closed

[2017-04-12 14:04] dwlfrth opened #2224 "webadmin: Misleading icons"
Should we change the icons for
- Portal (hand)
- System configuration (DB / Stockage / Pancake stack)

[2017-04-12 14:06] louismunro commented on #2224
Yes.

[2017-04-12 14:08] louismunro commented on #2224
The System configuration icon is the one usually associated with "Database/Storage".
If it was just some unknown icon it would be one thing, but in this case it is actually misleading as it would seem to indicate something it isn't.

[2017-04-12 14:19] dwlfrth commented on #2224
@whitx will suggest some suggestions

[2017-04-12 14:50] julsemaan commented on #2204
This seems to actually have done the trick !!!!

I'll close and re-open if needed

[2017-04-12 15:07] lzammit opened #2225 "resusedot1x: need to force the source in the realm config to get authenticated"
If you specify the reusedot1x for a secure portal profile, you need to specify and force a source to get authenticated or you get the error No matching rules for your username. PacketFence 6.X

[2017-04-12 15:11] julsemaan commented on #2225
as I discussed with @dwlfrth, this is not a bug but a feature

See #1543 for details about it

[2017-04-12 15:11] #2225 closed

[2017-04-12 15:12] lzammit opened #2226 "Display the current server name under Status/Services"
I will be nice to know on which server you are restarting the services.

If you are using a cluster server it should display directly the hostname.

![status](https://cloud.githubusercontent.com/assets/5261214/24965036/da390384-1f70-11e7-9f09-5ba5f2dc8ab3.jpg)

[2017-04-12 15:18] julsemaan commented on #2224
I suggest this for the advanced portal configuration:
http://fontawesome.io/icon/list-alt/

It kinda looks like a browser with our portal

[2017-04-12 15:25] whitx commented on #2224
I also like http://fontawesome.io/icon/sitemap and http://fontawesome.io/icon/pencil-square-o/
For systems configuration http://fontawesome.io/icon/cogs/ was used.

[2017-04-12 15:28] dwlfrth opened #2227 "VoIP detection: LLDP lookup enhancement"
Currently, 'httpd.aaa' process will query the switch over SNMP to get the lldpLocPortDesc table (all the switch ports) to be able to match if there is a phone connected to the switch port. That query occurs everytime a device plugs in to detect whether or not PacketFence should take the VoIP workflow.

On a 24 - 48 switch, it can be acceptable but it is another story with a stack of 10 48 ports sw

[2017-04-12 15:28] julsemaan commented on #2224
cogs ++ for system configuration

As for portal, I think there won't be a perfect answer, here they are ordered in my preference:
1. list-alt
2. sitemap
3. pencil-square-o

[2017-04-12 15:29] dwlfrth commented on #2021
Will be addressed by #2227

[2017-04-12 15:35] whitx commented on #2224
Maybe @extrafu and the magnificent @lzammit could give us their thinking, others also obviously.

[2017-04-12 15:38] dwlfrth commented on #2224
My suggestion:
![32c86d3e-16c3-11e7-8bd1-38b63b57cc59](https://cloud.githubusercontent.com/assets/633234/24966301/8b8c34c8-1f74-11e7-8034-362de7061e44.png)

Otherwise, I'd say as @julsemaan

[2017-04-12 15:41] julsemaan commented on #2224
I'd second @dwlfrth, since the saddening day this was rejected as our favicon, I've been thinking about other usages this could have, this seems like the perfect one.

Nothing expresses more 'captive portal' like a line-up of naked people

[2017-04-12 15:41] lzammit commented on #2224
Portal: fa-list-alt

System config: fa-cogs

[2017-04-12 15:42] whitx commented on #2224
Alright will go for list-alt atm, could be changed anyway.

[2017-04-12 15:43] whitx commented on #2224
Fixed by 9893d057769f26902b21af7a96e82f0102e28eb5

[2017-04-12 15:43] #2224 closed

[2017-04-12 15:44] louismunro commented on #2224
No it can't (be changed).
While it's technically easy, we should not change the icons once users have gotten used to them.
Not outside of a major release.

Which is why it matters to get them right.

[2017-04-12 15:45] whitx opened #2228 "Adding brand icons"
Would be nice to have matching brand icons for specific sources: for instance oauth2/billing icons

[2017-04-12 15:45] dwlfrth commented on #2224
as @louismunro said, you don't change that kind of thing once the user is used to it.
UX rule # 42

[2017-04-12 15:46] whitx commented on #2224
Yeah I meant for pre release.

[2017-04-12 15:47] dwlfrth commented on #2224
There is no such thing as "pre release"

[2017-04-12 15:48] dwlfrth commented on #2225
"resuse"
![aebkv](https://cloud.githubusercontent.com/assets/633234/24966797/f2a21136-1f75-11e7-9c0c-7092b8cf2cba.jpg)

[2017-04-12 15:48] julsemaan commented on #2224
Agree with @louismunro and @dwlfrth, if we change it, we'll have to decide in the next 2-3 days

And on a sadder note, let's have a minute of silence for the great logo that lost the popularity contest for a second time this week

[2017-04-12 15:52] louismunro commented on #2224
Ahhh, don't cry...
I am doing a Kickstarter to design the new ZammitCorp World Logo.
We'll have a design competition.
I hear Massimo Vignelli will apply.

[2017-04-12 15:54] julsemaan commented on #2224
Wow, bringing back the dead, that's ZammitCorp level

[2017-04-12 15:55] louismunro commented on #2224
😈

[2017-04-12 15:55] louismunro commented on #2224
Didn't think anyone would notice....

[2017-04-12 15:55] dwlfrth commented on #2224
There is nothing wrong with it...
https://github.com/zammitcorp

[2017-04-12 15:59] julsemaan commented on #2224
I'd have to agree the current design is pretty good

Maybe we could tag it on the front-head of the guy on the current logo

[2017-04-12 16:00] #2226 closed

[2017-04-12 16:29] dwlfrth commented on #2227
itd also be cool if this cache had the ifname
and the gui looked to see if there was an ifname entry and showed that instead of the ifindex number

[2017-04-12 16:43] julsemaan commented on #2227
Well the ifdesc is now part of the locationlog so it should just be inserted there instead as it is part of the display as well

[2017-04-12 16:56] julsemaan opened #2229 "pfqueue in admin: outstanding tasks are tracked for all snmp switch+port+trap combination"
The outstanding tasks are being tracked for absolutely all the switch+port+trap type combinations which will lead to an implosion of the page

Tracking tasks counters makes sense for API tasks but not really for pfsnmp tasks.

I would suggest we simply do not track any other task than the ones from pf::api

Screenshot of admin:
![image](https://cloud.githubusercontent.com/assets/3857942/24969653/7

[2017-04-12 17:44] julsemaan commented on #2204
Actually it wasn't fixed... my bad, I had an old pfsetvlan running so its back to not working state.

But, good news, the issue has been found!

pfsnmp is victim of its speed of action

Given pfsetvlan took about 3 seconds to start processing a trap it received, it was creating a race condition not to wait that 3 second after receiving the trap

By making the snmptrapd handler sleep 3 seconds befo

[2017-04-12 17:48] julsemaan commented on #2204
Seems 2 seconds is enough

[2017-04-12 17:48] julsemaan opened #2230 "pfqueue admin: pfsnmp_parsing queue is not in the list"
Title says it all!

![image](https://cloud.githubusercontent.com/assets/3857942/24970035/de18bc00-1f80-11e7-9846-f0073b477050.png)

[2017-04-12 19:54] julsemaan commented on #2230
Its there now, probably some magic commit or me that had an outdated config

[2017-04-12 19:54] #2230 closed

[2017-04-12 20:08] louismunro commented on #2216
Still not fixed.
Still Debian.

[2017-04-12 20:16] #2216 closed

[2017-04-12 20:56] dwlfrth opened #2231 "webadmin: Display additional daemons on interfaces screen"
When setting an additional daemon on an interface, it is not shown in the global view.
Something like the following would be great.

<img width="1440" alt="screen shot 2017-04-12 at 16 48 37" src="https://cloud.githubusercontent.com/assets/633234/24979076/eab7cc1a-1fa0-11e7-8b81-7f643dd88bc7.png">

[2017-04-12 20:59] julsemaan opened #2232 "portal preview is b0rken"
IP address is set to 0.0.0.0 when using portal preview

![image](https://cloud.githubusercontent.com/assets/3857942/24979206/5b4977ee-1fa1-11e7-8dfe-0ea5218b9f0d.png)

[2017-04-12 21:01] jrouzierinverse commented on #2232
Is clustering enabled?

[2017-04-12 21:01] julsemaan commented on #2232
nope

[2017-04-12 21:11] julsemaan commented on #2232
Found the issue, its related to a fresh install

Will push a fix shortly

[2017-04-12 21:23] jrouzierinverse commented on #2229
I think it may be interesting to see which switches have traps being processed.

However there are multiple ways to handle this.
Here are some choice.

* Do not show counters there are zero.
* Only show particular types counters like only the api counters and person_lookup.
* Have two views of counters simple and extended.
* Have a click to see more link

[2017-04-12 21:26] jrouzierinverse commented on #2204
I made the delay two seconds let me know if we can close this issue.

[2017-04-12 21:27] julsemaan commented on #2204
fixaide

[2017-04-12 21:27] #2204 closed

[2017-04-12 21:28] julsemaan commented on #2229
I vote for the first one since the amount of counters would be equal to the amount of switchports X 3 or 4

[2017-04-12 21:29] jrouzierinverse commented on #2229
Fixed by 02f212b3c1954d36eb0b1d88f57fc5c9a3c170f5

[2017-04-12 21:29] #2229 closed

[2017-04-12 21:29] #2232 closed

[2017-04-12 23:12] extrafu opened #2233 "Report/quick search are broken"
Title says it all.
Go in Reports > Operating System.

Click on any entries to issue a quick search. We switch to the right module but we get endless spinning, no data.

[2017-04-12 23:15] extrafu commented on #2233
Sames in Connection > Types and SSIDs.

[2017-04-12 23:15] extrafu commented on #2233
Same in Bandwidth consumers.

Looks like it's broken everywhere.

[2017-04-12 23:15] jrouzierinverse commented on #2196
Fixed by @whitx

[2017-04-12 23:15] #2196 closed

[2017-04-12 23:18] julsemaan opened #2234 "fingerbank settings: on-boarding redirects to page without card container"
On-boarding Fingerbank in Compliance->Fingerbank Profiling->General Settings with a new API key will redirect to a page without a card

![image](https://cloud.githubusercontent.com/assets/3857942/24983386/bfbddff4-1fb4-11e7-9e56-8f23f7a25cd1.png)

Then if I refresh the page, I get the card correctly

![image](https://cloud.githubusercontent.com/assets/3857942/24983402/d0900bae-1fb4-11e7-989d-c5936

[2017-04-12 23:25] #2220 closed

[2017-04-12 23:33] jrouzierinverse commented on #2233
I am unable to replicate

[2017-04-12 23:36] extrafu commented on #2233
@jrouzierinverse Come see me my friend

[2017-04-12 23:38] extrafu opened #2235 "Nodes > OS should list more devices"
Please add:

Gaming Console
Smartphones/PDAs/Tablets
VoIP Phones/Adapters

[2017-04-12 23:46] extrafu opened #2236 "Saved searches in Users are broken"
Title says it all.

It works in the Nodes them, but not the Users' tab.

The saved searches saves, but clicking on it doesn't show the relevant entries.

[2017-04-12 23:46] #2235 closed

[2017-04-12 23:53] louismunro opened #2237 "Duplicate searches can be created"
It's possible to create duplicate searches in auditing, users and nodes.
You can have multiple searches of the same name but different query parameters too.

[2017-04-12 23:58] extrafu opened #2238 "During switch edition > CLI tab - invalid Serial transport"
Impossible that it works, at all.

Remove that option.

[2017-04-13 00:09] whitx commented on #2238
Fixed by 347001105ef9861b8fb7d47ad94c30d0cb5dae06

[2017-04-13 00:09] #2238 closed

[2017-04-13 00:14] #2234 closed

[2017-04-13 01:21] lzammit opened #2240 "pfmon on active/active node 2-n spams with logs and eats my CPU"
pfmon spams the log with
[code]

And it eats my CPU as fast as I eat my turkey sandwiches and that my friends is fast as f*ck
[code]

Makes my machine laggy laggy and not work good

[2017-04-13 01:34] extrafu commented on #2240
@lzammit It is impossible that somethings beats you at turkey-eating speed.

[2017-04-13 01:35] julsemaan commented on #2240
Should be fixed by 720c731f6d65cfdd958297f3426f5c56f49f3ce3

@lzammit please check

[2017-04-13 01:36] extrafu commented on #2240
I stand corrected, @julsemaan is faster at fixing bugs that you are at eating your turkey sandwiches.

[2017-04-13 13:13] julsemaan opened #2241 "Local documentation browser"
Now that we ship the documentation in HTML in the admin, we should provide a simple menu that allows to open any of the guides that are on the server

Tagging for 7.0 but could be postponed

[2017-04-13 17:34] cgx commented on #2241
I'll add the links to the top navbar, under the "info" menu.

[2017-04-13 17:55] julsemaan commented on #2241
There are a lot of other guides though that can be relevant

Most of the quick guides could be useful to be browsed directly on the setup

That's why I was suggesting the idea of a browser

Still the 3 links are nice but IMO we should have something more complete

[2017-04-13 17:58] cgx commented on #2241
What do you mean? A modal with an iframe? A sidenav with an iframe? You can add links to more guides in the meantime.

[2017-04-13 18:00] julsemaan commented on #2241
There are about 15-20 guides I think so that might be too much to display in this small space

I was thinking about a dedicated page where all guides would be listed and you could click on any of them to open it in a new tab

[2017-04-13 18:01] cgx commented on #2241
Oh. Well, feel free to rollback my commit and add a new page to the webadmin. I'll pimp it up once it's integrated. Thanks!

[2017-04-13 18:07] julsemaan opened #2242 "obfuscated placeholders"
As I discussed with @whitx, the placeholders we have in PacketFence that go with an obfuscated field should be displayed as '*****' then when you hover on the password button it shows you the placeholder value.

Right now the placeholders for obfuscated values are gone which obfuscates information that could be useful (like the cluster shared secret)

[2017-04-13 18:33] whitx opened #2243 "Obfuscated does not work in modal"
The obfuscated field with ability to show the password on mouseover, does not work while you are in a modal.

[2017-04-13 18:59] #2236 closed

[2017-04-13 19:27] whitx commented on #2242
Fixed by a11c6cf23f58279fa0beb317a102d30b08e207fc and bddf9daaa9c2981e73644b94eb0a0e7961431c0b

[2017-04-13 19:27] #2242 closed

[2017-04-13 21:11] #2233 closed

[2017-04-14 10:35] LCBLondon opened #2244 "Rollback method missing from pf/iniFile.pm"
On line 160 from _pf/ConfigStore/Authentication.pm_ method Rollback id called.
However, this method does not exist in _pf/iniFile.pm_

I noticed it because the owner for the file _conf/Authentication.conf_ was not right on my system and got error: _Error! Can't locate object method "Rollback" ..._  when trying to make a change for an authentication source and saving it.

Changing owner back to _pf

[2017-04-14 14:07] dwlfrth commented on #2237
Saved searches

[2017-04-14 14:08] dwlfrth commented on #2237
Check for existing while saving but don't enforce in DB

[2017-04-14 14:09] dwlfrth commented on #2240
Golden Zayme

[2017-04-14 14:09] #2240 closed

[2017-04-14 14:14] dwlfrth commented on #2158
Fixed

[2017-04-14 14:14] #2158 closed

[2017-04-14 14:54] jrouzierinverse commented on #2212
Fix by e478d4f6b87c9aa409742c81fac145088a3df0c4 and push to maintenance

[2017-04-14 14:54] #2212 closed

[2017-04-14 16:31] jrouzierinverse commented on #2243
Fixed by 6680d5f60a793d43433f77fc01af755e324329a3 2a1bd7bcdf59901d3f7e2355f55b9bd4f16b7dbd

[2017-04-14 16:31] #2243 closed

[2017-04-14 16:48] lzammit opened #2245 "Reach the DC from the registration network does not work"
I've enable the domain query from the domain configuration in PF and I am not able to reach it.

There is no ipset rule added for the domain. I've tested domain DNS query to see if it will work but it does not.

[2017-04-14 16:58] lzammit commented on #2243
Tested, it's working.

[2017-04-14 17:29] jrouzierinverse commented on #2237
Fixed by 5581c1c9b674f470b5858cea7d891e534230dc2a

[2017-04-14 17:29] #2237 closed

[2017-04-14 17:40] whitx commented on #2222
Apr 10 14:25:31 httpd.portal(31786) INFO: [mac:xx:06:f4] Connection type is WIRELESS_MAC_AUTH. Getting role from node_info (pf::role::getRegisteredRole)
Apr 10 14:25:31 httpd.portal(31786) INFO: [mac:xx:06:f4] Username was defined "xx:06:f4" - returning role 'guest' (pf::role::getRegisteredRole)
Apr 10 14:25:31 httpd.portal(31786) INFO: [mac:xx:06:f4] PID: "guest", Status: reg Returned VLAN: (unde

[2017-04-14 17:46] jrouzierinverse commented on #2244
Thank you for the report. I fixed this in devel and the fix will be included in the next release.

[2017-04-14 18:39] extrafu commented on #2244
Then close it?

[2017-04-14 18:41] #2244 closed

[2017-04-14 18:48] extrafu commented on #2201
@julsemaan Should @jrouzierinverse take care of it?

[2017-04-14 19:00] julsemaan commented on #2201
schema was updated, so this can be closed

[2017-04-14 19:00] #2201 closed

[2017-04-16 17:08] maria2027 opened #2246 ""No space on device" problem related to "/usr/local/pf/var/graphite" and fingerbank folder"
Hi there !

How could I possibly clean up the graphite folder ?
Is eating all my space.
Also /usr/local/fingerbank/db is quite large (~5.5 GB).
I see there some "fingerbank_Upstream.db_20170415_101342" and "fingerbank_Upstream.db_20170416_101330".
Is safe to erase the old file ?

Thank you !

[2017-04-18 13:19] julsemaan commented on #2246
The bug tracker is for bugs only.

Use the mailing list for these kind of questions

[2017-04-18 13:19] #2246 closed

[2017-04-18 14:17] dwlfrth commented on #2222
Verify locationlog opening on CoA

[2017-04-18 14:58] dwlfrth opened #2247 "logging: ISO 8601 timestamps"
PacketFence currently uses the following format for timestamps in logs: Apr 18 09:34:52

When you want to integrate with log parsers and such, it might become difficult to parse the log.
We should use a more "standard" format

https://en.wikipedia.org/wiki/ISO_8601

At the same time, we could introduce milliseconds in the timestamp.

[2017-04-18 15:13] louismunro opened #2248 "We now have two advanced configuration sections"
We have an "Advanced Configuration" Section, and a "System configuration > Main Configuration > Advanced" subsection.

Either we rename one to "Very, very Advanced Configuration" or we rename the "Advanced Configuration" to "Network Configuration"....

[2017-04-18 15:13] julsemaan commented on #2248
I vote for the second

[2017-04-18 15:30] louismunro commented on #2248
Ahhhh.... I would have liked to work on a product that has "Stupendously advanced configuration"...

[2017-04-18 15:31] julsemaan commented on #2248
I know, but @zammitcorp already trademarked that for its competing NAC product (PacketZayme)

[2017-04-18 17:20] julsemaan commented on #2241
With the load-testing and my customers, I won't have time to get that done by the end of the day so let's forget it.

I'll make sure the links in the menu are at least valid

[2017-04-18 17:43] dwlfrth commented on #2248
Let's do the second ! We, at ZaymytheCaurpe, don't like to infringe our own copywrite

[2017-04-18 18:10] dwlfrth opened #2249 "portal: "release: enabling network" needs translation"
Title says it all

[2017-04-18 18:31] #2248 closed

[2017-04-18 18:44] julsemaan commented on #2241
Current links in the menu are valid, will see if I have time to create a page before the end of the day, otherwise it will be left out of 7.0

[2017-04-18 19:01] julsemaan opened #2250 "Date is there twice in PacketFence log lines"
Its there at the beginning of the line, then after the process name

Likely a left-over of the Log4Perl config

[2017-04-18 19:02] louismunro commented on #2250
It's to make very, very sure you saw it.
Can you handle it?
I'm having fun with the build system right now...

[2017-04-18 19:02] louismunro commented on #2250
If not, then I'll take a look later.

[2017-04-18 19:03] julsemaan commented on #2250
Yep, once I'm done with load testing and I have my VM back online I'll do it

[2017-04-18 19:33] #2249 closed

[2017-04-18 20:06] tlaurion opened #2252 "Activating/Deactivating Passthrough doesn't work anymore"
Passthrough is always applied on the list that is defined; the text block is not removed when passthrough are to be deactivated

[2017-04-18 20:09] #2219 closed

[2017-04-18 20:29] #2250 closed

[2017-04-18 20:39] #2252 closed

[2017-04-18 21:11] #2245 closed

[2017-04-19 12:19] julsemaan opened #2254 "Ubiquiti switch modules are named Ubiquity"
Seems like a bad typo to me unless they renamed themselves at some point.

The name of the company is Ubiquiti Networks so we should rename the modules Ubiquiti instead of Ubiquity

Also implies an upgrade note to rename them in switches.conf

[2017-04-19 13:30] louismunro commented on #2254
Your are confused.
Ubiquity Networks is actually a ZammitCorp Holding subsidiary.

[2017-04-19 14:20] whitx opened #2256 "Issue with device-registration"
While trying to register a device with a valid OUI from the page device-registration got the following error:
panic: Infinite recursion in SWASHNEW for 'XPosixWord'
Happened once, can't reproduce it at the moment, to watch and investigate if it happen again.

[2017-04-19 16:42] dwlfrth opened #2258 "pfdns: Better handling of different flows in "non-filtered regzone""
Should handle domain passthroughs for "Allow on registration" option of domain join.

[2017-04-20 04:08] mholttech commented on #2254
@louismunro you are right about Ubiquity Networks however the actual code is in reference to the Ubiquiti Edgeswitch v1.7 where they introduce a lot of the 802.1x features so @julsemaan is correct about the typo

[2017-04-21 12:40] simongottschlag opened #2265 "Checkup warning internal network(s) not defined when using webauth"
Using webauth and management, portal and radius is using the same interface.

Seeing the following warning:
[root@**** ~]# /usr/local/pf/bin/pfcmd checkup
Checking configuration sanity...
WARNING - internal network(s) not defined!

https://github.com/inverse-inc/packetfence/blob/devel/lib/pf/pfcmd/checkup.pm#L236

Most likely just cosmetic, but nice to hide the warning when using webauth in this c

[2017-04-24 16:35] julsemaan opened #2266 "custom activation hosts are broken in new dispatcher"
When you put a custom activation host in a guest source (sponsor, email), this host is not automatically authorized in passthroughs.lua and gets redirected on /captive-portal

These hosts need to be taken into consideration when setting up passthoughs.lua

This needs backporting to maintenance/7.0

[2017-04-24 16:45] dwlfrth opened #2267 "sponsor: CC address should be BCC"
The option to add a CC sponsorship address should actually be a BCC.
Using CC expose possible "sensitive" data to user requesting access.

[2017-04-24 18:07] #2222 closed

[2017-04-24 19:35] lzammit opened #2269 "Saving a node with an unregdate higher then 2038 gives weird error"
![capture d ecran 2017-04-24 a 15 34 29](https://cloud.githubusercontent.com/assets/5261214/25355120/8ee0b87c-2903-11e7-8759-e9b1cc8b71f3.png)

Nothing in the httpd.admin logs

Happens on 6.5.1

I am the great Zayme president of Zaymebabwé

[2017-04-24 19:39] extrafu commented on #2269
Looks all good to me!

[2017-04-25 09:40] simongottschlag opened #2270 "Portal not listening to Management IP in Webauth with one interface"
Using PacketFence version 7, one interface with one IP and webauth. I've added the portal feature to the interface but the IP never listens to :80 / :443.

I've temporarily solved it by doing the following:
[code]

We most likely would like to add a check to verify that the management interface actually has the portal role, but this works for me and it adds the correct vhost to the portal configur

[2017-04-25 09:41] simongottschlag opened #2271 "Radius not listening to Management IP in Webauth with one interface"
Using PacketFence version 7, one interface with one IP and webauth. When radius is added to the interface, it never listens to 1812 / 1813 on that IP. When removing radius from the interface, it actually starts.

Not sure why, but my solution was just to remove radius from it.

[2017-04-25 11:21] julsemaan commented on #2271
Was the interface already of the type 'Management' ?

[2017-04-25 11:23] julsemaan commented on #2270
haproxy listens on :80 and :443 now instead of httpd.portal

Seems more like a configuration problem to me

Please post the content of pf.conf here

[2017-04-25 11:23] julsemaan commented on #2267
+1

[2017-04-25 13:36] kkplein opened #2272 "load images webgui over https instead of http"
I noticed that in 7.0, images are still loaded over http, while the rest is loaded via https. For a security-related piece of software such as packetfence, it would be much nicer if everything was https, resulting in a nice green browser-padlock.
Hope this is the right place to report this.

[2017-04-25 13:40] louismunro commented on #2272
It is.
Assigned to self.

[2017-04-25 13:40] kkplein commented on #2272
Hmm I found #1517 about the same issue, but for me, graphite is still http on port 9000...

[2017-04-25 13:41] louismunro commented on #2272
#1517 caused some issues I believe and was later reverted.
Images over http was better than no images...

[2017-04-25 13:43] kkplein commented on #2272
true :-)

[2017-04-25 14:28] julsemaan commented on #2272
Best thing would be to use port 1443 with a specific location for graphite so that SSL warnings previously accepted for host:1443 are still good for graphite images

We could also reverse proxy to 9000 for a location in the admin process

[2017-04-25 19:47] julsemaan opened #2273 "packetfence-routes is always started"
packetfence-routes is always declared as started, even after it is stopped.

This means the routes are never reloaded unless you reboot which is obviously a hidden feature made just for zayme

[2017-04-26 11:48] julsemaan opened #2275 "Documentation: Adjust WLC web-auth reg ACL"
Reported by a user...

He had to put:
permit any DNS
permit DNS any

Instead of just the 1st one
Makes sense to allow traffic both ways anyway

Need to adjust the screenshot in the doc

[2017-04-26 12:32] fdurand commented on #2275
It depend how you configure the direction of your rule. By default it's an in direction so "permit any DNS" is enought.

[2017-04-26 12:41] julsemaan commented on #2275
User reported that rule wasn't enough after doing the config on a WLC version 8.2.151.0

Wondering if it might be a change in the new version

[2017-04-26 18:49] julsemaan opened #2276 "When a saved search has a long name, the little garbage icon placement is off"
See the line 'Kenworth-Navigation...'

![image](https://cloud.githubusercontent.com/assets/3857942/25451232/777f9b66-2a8f-11e7-9870-5db5d652cc85.png)

[2017-04-26 18:53] julsemaan opened #2277 "Node search: node role search fields aren't large enough"
As seen in the screenshot below, the select box containing the roles isn't large enough for the role names

![image](https://cloud.githubusercontent.com/assets/3857942/25451365/eb43739c-2a8f-11e7-8209-d2207c669d82.png)

[2017-04-27 16:50] #2272 closed

[2017-04-27 17:15] julsemaan opened #2278 "database-backup-and-maintenance.sh mysql detection is broken"
The PID isn't there anymore it seems

Should check if packetfence-mariadb is currently running

[2017-04-28 02:43] veedubbs opened #2279 "Mobile UI appears off"
Mobile UI appears to be a bit off in ZEN 7.0.

![screenshot_2017-04-27-20-31-29](https://cloud.githubusercontent.com/assets/382007/25512309/597bd6d0-2b92-11e7-977a-438160e0579d.png)

[2017-04-28 06:43] kkplein commented on #2272
:-) Super for the quick fix!

[2017-04-28 12:08] prashantlohar opened #2281 "Mac authentication using HP switch"
Hello,
I am using this NAC for MAC authentication in the network.
I am working on the mac authentication with HP5130 and HP5940 switches. Switches have comware 5 and 7 both kind of firmwares. In this network i have multiple vlans and i want to authenticate enduser by mac registration.
so please help me.

[2017-04-28 12:12] prashantlohar commented on #2281
hello,
         i am working on the mac authentication with HP5130 and HP5940 switches. Switches have comware 5 and 7 both kind of firmwares. In this network i have multiple vlans and i want to authenticate enduser by mac registration.
so please help me.

[2017-04-28 12:20] extrafu commented on #2281
Use the mailing list.

[2017-04-28 12:20] #2281 closed

[2017-04-28 14:20] julsemaan commented on #2279
Not sure the v7 admin was ever designed to be used in a mobile phone

Maybe @cgx can confirm ?

[2017-04-28 14:23] cgx commented on #2279
The question is: Do we want the Web admin to be accessible from a mobile?

[2017-04-28 14:35] julsemaan commented on #2279
IMO no, maybe other folks have a different opinion

[2017-04-28 15:29] louismunro commented on #2272
Feel free to try it on a 7.0 install if you want.
It should not eat your dog or anything.

[2017-04-28 17:03] dwlfrth opened #2283 "radiusd: Supports fast-reconnect using eap cache and session resumption"
When using fast-reconnect using eap cache / session resumption in FreeRADIUS, PEAP phase 2 is skipped.
Due to the phase 2 being skipped, the Access-Accept does not contains the attributes coming from the inner.

Might want to look into Cached-Session-Policy and call PacketFence REST to get attributes.

Adding the PF attributes in the Cached-Session-Policy might cause a corner case where you might

[2017-04-28 17:12] dwlfrth opened #2284 "interface type: Have a better handling of which daemons runs on which network interfaces"
There are currently different interface types in PacketFence:
* internal
* management
* monitor
* dhcp-listener
* high-availability
* portal
* radius

Each of theses have some specific purposes and makes PacketFence to listen with specific daemons.

It would be better to migrate the interface types to an "interface template" / "interface profile" along with the list of daemons listening, which wou

[2017-04-28 17:13] dwlfrth commented on #2270
Related to #2284

[2017-04-28 17:13] dwlfrth commented on #2271
Related to #2284

[2017-04-28 17:14] dwlfrth opened #2285 ""dynamic" unregistration date no longer seems to work from admin GUI"
Ability to set a "dynamic" unregistration date (0-07-01) which was dynamically computing the year (current year if not past, next year if past... every July 1st) throws an error from perl-Time-Piece in the admin GUI authentication source rule creation.

That unregistration date format is working from the portal

[2017-04-28 17:20] dwlfrth opened #2286 "dynamic access duration representation no longer works"
When defining access durations in the admin interface, the dynamic access duration configuration section no longer live update the "exemple" based on configuration.

![screen shot 2017-04-28 at 13 18 34 2](https://cloud.githubusercontent.com/assets/633234/25539482/63c2e86c-2c15-11e7-8e1a-f4679aa69c55.png)

[2017-04-28 17:57] dwlfrth commented on #2275
@julsemaan enjoy

[2017-04-28 18:10] dwlfrth commented on #2190
Check on what happen when we change encoding and see the right way to go.

[2017-04-28 18:12] dwlfrth commented on #2118
sdnotify for apache (RHEL vs Debian)

[2017-04-28 18:19] dwlfrth commented on #1958
We should also maybe review the way to manage the SMS providers

[2017-04-28 18:21] dwlfrth commented on #1907
Let's sit and discuss what we want.

[2017-04-28 18:22] #1880 closed

[2017-04-28 18:24] dwlfrth commented on #1652
See if there is options to address this with golang

[2017-05-01 14:58] cgx commented on #2276
What browser do you use? Long titles properly span multiple lines on my instance of Chrome:

![screen shot 2017-05-01 at 10 56 59 am](https://cloud.githubusercontent.com/assets/1088448/25582810/11f448c4-2e5d-11e7-87a2-c1d9e364d859.png)

[2017-05-01 15:01] julsemaan commented on #2276
Wasn't on my computer, but it was on Chrome

I actually just replicated it using Chrome on my PC and the same search name as my customer used

[2017-05-01 15:40] #2286 closed

[2017-05-01 15:43] cgx commented on #2276
Try setting the CSS attribute "white-space" to "normal" on the parent `<li>` and let me know if it resolves the issue.

[2017-05-01 15:44] jrouzierinverse opened #2288 "Show that there are maintenance commits available in the admin"
Show the users that are maintenance commits available in the github repo.

[2017-05-01 16:57] jrouzierinverse commented on #2288
Questions
* Should this be cached? If yes then the default be should (1hr?)
* Should this be able to be turned on/off? I believe so.
* How are we going to handle golang code?
 * Should we recompile using some type of make style script?
 * Packaging go?
* Should an administrator be able to run the maint.pl from the gui?

[2017-05-01 17:06] julsemaan commented on #2288
+1

Makes sense

Not related to this IMO, more to how we'll structure the maintenance branch for golang code which needs brainstorming, I'd ignore this in the scope of this issue

Not IMO but nothing against it

[2017-05-01 17:29] jrouzierinverse commented on #2288
So features in the first release of this
* Be able to turn pf-maint notifications off and on in the GUI.
* Only show the notifcations to users that are allowed to see (via an admin-role)
* Have the results cached

[2017-05-01 17:30] dwlfrth commented on #2286
Should we cherry-pick this commit ?

[2017-05-01 17:46] cgx commented on #2286
Cherry-pick to *maintenance/7.0*? Of course.

[2017-05-01 17:49] dwlfrth commented on #2286
what about 6.5.1 and 6.5.0 ?

[2017-05-01 18:05] cgx commented on #2286
The bug is related to the changes in 7.0.

[2017-05-01 18:08] dwlfrth commented on #2286
You are right ;) my bad ahah !

[2017-05-01 18:15] cgx commented on #2286
Go back to bed please. 😴  🤒

[2017-05-01 18:34] #2279 closed

[2017-05-01 21:52] julsemaan opened #2289 "passthrough.lua host matches are not precise enough"
The matches in passthrough.lua are not precise enough since they use a match on the host

So using the host 'pf-julien.inverse.ca' as my portal host doesn't go in the golang dispatcher when the host header is 'vidangepf-julien.inverse.ca'

So users using a host not allowed on the PF portal could still get into it if it contains the portal hostname

Not bound to happen often but we should still han

[2017-05-01 21:55] #2266 closed

[2017-05-03 14:22] simongottschlag opened #2291 "CoA with Aruba Instant and PacketFence 7"
I've had some issues getting CoA working with with Aruba Instant but after doing the following changes, it seems to be working:

Aruba Instant 6.5.1.0-4.3.1.0_57768 (IAP-325 as master)
PacketFence 7

Aruba Instant configuration:
1. To get radius accounting to working
Networks > [Network Name] > WLAN Settings > Primary usage: [v] Employee

2. To get CoA working
Networks > [Network Name] > Security

[2017-05-03 14:37] whitx commented on #2291
Interesting, we do not have IAP to test it here, we just need to make sure this does not affect a standard Aruba controller.

[2017-05-03 18:12] julsemaan opened #2292 "Unifi external portal URI always matches $CAPTIVE_PORTAL_RESOURCES"
For some reason /guest/s/default/ matches the $CAPTIVE_PORTAL_RESOURCES regex and tries to go in catalyst instead of going in the externalportal flow that comes after that check

Should be for 7.1 given that's the version that adds the Unifi support

[2017-05-03 19:44] #2004 closed

[2017-05-04 13:41] lzammit opened #2294 "Add the possibility to change the SMS pin code length via the WEB admin"
Right now there is no easy way to change the pin code length.

[2017-05-04 13:45] julsemaan commented on #2294
I'd also add the ability to prevent mixing letters and numbers and just having numbers for easy PIN codes

[2017-05-04 13:45] julsemaan commented on #2294
And also probably remove the limitation of PIN codes being unique for SMS as it doesn't make much sense for that case IMO

[2017-05-04 13:45] extrafu commented on #2294
We should also have an option so the PIN can always be "zayme"

[2017-05-04 14:02] apkt opened #2295 "Connection profile preview stuck on only showing the 'Default' profile"
Selecting 'Preview' for ANY defined profile on the admin GUI 'Connection Profile' tab displays the 'Default' Connection Profile regardless of the configuration of the specific profile being selected.

[2017-05-04 14:06] dwlfrth commented on #2294
As @julsemaan  no need to be unique since there should be a match between PIN and MAC address

[2017-05-04 14:07] dwlfrth commented on #2294
"On est pas l'Pentagone" - @lzammit

[2017-05-04 14:10] dwlfrth commented on #2294
Only digits, variable length configurable in the SMS source itself

[2017-05-04 17:41] dwlfrth opened #2296 "Twilio: "To" phone number is being stripped of any "+" sign"
As per E164 format or 10-digit US and Canadian numbers, a phone number can contain a "+" sign.

Using Twilio outside of the US or Canada would require the end user to add a "+" sign to it's phone number which is then being stripped in PacketFence.

[2017-05-04 17:45] dwlfrth commented on #2296
https://github.com/inverse-inc/packetfence/blob/packetfence-7.0.0/lib/pf/activation.pm#L613

[2017-05-04 19:43] lzammit opened #2298 "Rules under a source can not be moved anymore"
If you try to drag and drop a rule it won't move.

Tested under chrome and firefox.

[2017-05-04 19:48] julsemaan commented on #2298
Milestone should be +1 patch release given it should be cherry-picked in maintenance

Also, added zammitbug label since we didn't yet confirm that rebooting doesn't fix the issue

[2017-05-04 20:16] dwlfrth commented on #2227
It has been discussed not to handle cache invalidation through httpd.aaa. Therefore following points are removed from implementation in favor of manuel invalidation on a per switch basis
 * Caching will also keep the uptime (1.3.6.1.2.1.1.3.0) of the switch along with the ifNumber (.1.3.6.1.2.1.2.1) as "invalidity" keys.
 * 'httpd.aaa' will check switch uptime along with ifNumber value at each req

[2017-05-04 22:00] noktork opened #2299 "Problem to install on Debian 8.7"
Hi!
Fresh Debian 8.7 installation:

[code]

[code]

[code]

Any Idea of how to solve this?

[2017-05-05 13:35] dwlfrth opened #2300 "admin: fuzzyness with popup menu"
When using a popup menu with submenu in the admin interface, it is configured to open "bottom direction". That creates a display fuzzyness that I can barely explain !

<img width="1141" alt="screen shot 2017-05-05 at 09 36 37" src="https://cloud.githubusercontent.com/assets/633234/25747706/69619596-3176-11e7-95b4-e600f058f340.png">

[2017-05-05 13:41] louismunro commented on #2299
apt update?
Somehow your repos are mixed up.

Dead giveaway:
`Depends: freeradius (>= 3.0.13.9) but 2.2.5+dfsg-0.2 is to be installed`

This does not look like a bug to me.
Please use the mailing list for support.

[2017-05-05 13:41] #2299 closed

[2017-05-05 14:08] #2300 closed

[2017-05-05 14:44] dwlfrth commented on #2300
Was it only affecting v7 + ?
Should we backport to maintenance ?

[2017-05-05 14:59] cgx commented on #2300
Technically the problem exists in prior versions but it was rarely happening because of the very large left sidebar.

[2017-05-05 16:11] cgx opened #2301 "Web admin: nodes pagination is broken"
See screen capture:

![pf-nodes-pagination-bug](https://cloud.githubusercontent.com/assets/1088448/25754030/cc9cc47c-318b-11e7-907b-8b0b2a2ff08e.gif)

[2017-05-05 17:18] julsemaan opened #2302 "pfcmd cluster checkup: log FATAL if starting on a server which hostname is not in cluster.conf"
Title says it alllll!!!!!!

[2017-05-05 17:36] dwlfrth commented on #2300
![1ohqzp](https://cloud.githubusercontent.com/assets/633234/25757287/e44deaae-3197-11e7-8d44-11f0aeba7912.jpg)

[2017-05-05 19:34] dwlfrth opened #2303 "radiusd: load-balancer fails to start in cluster with eduroam"
If having an eduroam authentication source in a cluster, 'radiusd-load_balancer' will fail to start due to missing listening IP address

[2017-05-06 00:11] noktork commented on #2299
Hi!
I clarification of what caused my problem.
This installation was sone on a debian VM arch=i386.
Problem was that my VM Host running Bhyve is using AMD proccessor, as soon as I installed an AMD64 debian it started working right away.

Thanks for the help.

[2017-05-07 19:35] dwlfrth opened #2305 "keepalived : Notification email precision"
keepalived currently sends out notification email with "root@localhost" as From: value and "PacketFence" as router-id.

Configuration should be "per server".
From: keepalived@HOSTNAME
Id: [PacketFence HOSTNAME]

[2017-05-07 20:43] millijuna opened #2306 "ZEN 7.0 fails to deploy under vCenter 6.5"
When trying to deploy ZEN 7.0 using vCenter 6.5 (VCSA version), the deployment fails early with the error "The provided manifest file is invalid: Invalid OVF manifest entry:" and nothing further. This occurs after selecting the compute resource.

It deploys fine when using the old C# fat client, putting the VM directly on a host that is running 6.0U3.

[2017-05-08 14:46] julsemaan commented on #2306
Any chance you can inspect the logs a bit more to see what it doesn't like about the OVF.

We don't have access to a vCenter right now so no way to replicate your issue

Also, could you try to import the ZEN 6.5.1 and see if it works ?

Thanks !

[2017-05-08 15:01] julsemaan opened #2307 "WLC doc: 'Support for RFC 3576' has been renamed to 'Support for CoA'"
We'll need to adjust the doc and put a note in it

[2017-05-08 15:50] dwlfrth opened #2308 "cache: better listing and handling of cache in pfcmd"
For the moment, 'bin/pfcmd cache' reports some namespaces but not all of them. As it becomes more and more frequent to play with the cache (are we caching stuff ?) it might be fun to have a good and accurate tool to play with it.

Also, in cluster, pfcmd cache should API call all members of the cluster to apply the command.

[2017-05-08 15:52] dwlfrth opened #2309 "authentication sources: Deleting an authentication source and portal display"
Seen on PacketFence v7, deleting an authentication source in PacketFence (globally) leaves it available on the portal until httpd.portal restart.
Tried to clear all possible (?) (see #2308) cache.

[2017-05-08 16:24] millijuna commented on #2306
I'll attempt to re-deploy 7 when I get home this evening (it's at a site I admin on a volunteer basis). ZEN 6.5.1 deploys normally. I'll also look for appropriate log files that are more descriptive. From the error message, though, it almost seems like it's complaining about an extra line-break or white space or something in the config file (though being XML, that shouldn't matter).

[2017-05-08 17:23] #2228 closed

[2017-05-08 17:23] #2296 closed

[2017-05-08 17:26] #2303 closed

[2017-05-08 17:29] julsemaan commented on #2306
I'll look into the two files and try to spot the difference, we're building it differently now so there may be a tiny litlle detail that is off and makes vCenter complain about it

[2017-05-08 17:33] julsemaan commented on #2292
fixed by 82715d560dca049e6ac2790d2f19e07f004b02e7

[2017-05-08 17:33] #2292 closed

[2017-05-08 17:35] julsemaan commented on #2278
Fixed by the Great Zayme of @zammitcorp

2458c1fe5676a22dc733c130e95b109206af3a9d

[2017-05-08 17:35] #2278 closed

[2017-05-08 17:56] #2289 closed

[2017-05-08 18:02] julsemaan commented on #2276
@cgx

Didn't do it unfortunately

[2017-05-08 18:03] julsemaan commented on #2273
@louismunro

Doing progress on this ?
Want me to takeover the issue ?

[2017-05-08 18:03] julsemaan commented on #2254
fixed by #2293

[2017-05-08 18:03] #2254 closed

[2017-05-08 18:04] #2241 closed

[2017-05-08 18:23] julsemaan commented on #2275
fixed by 4ec34f8

[2017-05-08 18:23] #2275 closed

[2017-05-08 18:28] julsemaan commented on #2307
fixed by 32ca5879c71d1f0d34dd3aeec75bfd08aaad78d0

[2017-05-08 18:28] #2307 closed

[2017-05-08 18:39] #2302 closed

[2017-05-08 18:55] julsemaan opened #2310 "Admin: Authentication sources submenu is hard to get"
When trying to create an authentication source in the admin and you select a class of sources, getting to the sub-menu is hard since the alignment requires pixel precision or otherwise the sub-menu collapse

Shown it to @cgx, he said he'll fix

[2017-05-08 19:19] #2276 closed

[2017-05-08 19:30] #2310 closed

[2017-05-08 19:54] #2309 closed

[2017-05-09 07:39] simongottschlag commented on #2291
Hi,

Maybe we should create a separate configuration for Aruba Instant?

For your information:
I had a lot of issues with Apple's CNA (Captive Network Assistant) for iOS (iPhone, iPad and iPod). It just wouldn't pop-up when you chose the wireless network. It was a two part problem, where the first solution was to use the latest version (6.5.2.0) or else the Aruba Instant Captive portal didn't even

[2017-05-09 16:06] jrouzierinverse commented on #2308
Which cache commands should apply the cluster?

[2017-05-09 16:40] julsemaan commented on #2308
IMO that should be all of them so its consistent

[2017-05-09 16:53] jrouzierinverse commented on #2308
For commands like dump or list how would you suggest it be displayed?

- Show the results each cluster member
- Show the first one that shows a result

Another option is to have cluster specific commands however this might not be clear in a single server mode.

[2017-05-09 17:26] julsemaan commented on #2308
We could always have an option flag to query all servers

And I'd say we show it for all the cluster members

[2017-05-09 17:47] julsemaan opened #2312 "Admin: auth rules conditions fields have gone smaller"
## How it was:
![image](https://cloud.githubusercontent.com/assets/3857942/25864162/6acf7e5e-34bc-11e7-9e55-c69fc7e75d11.png)

## How it is now:
![image](https://cloud.githubusercontent.com/assets/3857942/25864317/fe9fe380-34bc-11e7-9c96-5d6f38cd1457.png)

[2017-05-09 18:36] julsemaan opened #2314 "When there is no voiceVlan for a switch, locationlog won't open for a voip device"
[code]

[2017-05-09 18:39] #2314 closed

[2017-05-09 19:06] jrouzierinverse opened #2315 "Cannot reorder syslog regex rules"

[2017-05-09 19:17] jrouzierinverse commented on #2315
Duplicate of #2298

[2017-05-09 19:17] #2315 closed

[2017-05-10 04:07] millijuna commented on #2306
SO tried it again, and the only thing I can find is this message:

![image](https://cloud.githubusercontent.com/assets/28493550/25882915/6040bb12-34fb-11e7-9798-8c9880d50a23.png)

It's not very descriptive, sorry.

[2017-05-10 14:23] dwlfrth commented on #1848
@jrouzierinverse please look and backport for 7.x

[2017-05-10 14:24] dwlfrth commented on #1888
@dwlfrth will backport and close

[2017-05-10 14:25] dwlfrth commented on #2031
@tlaurion check really quick in 7 and advise

[2017-05-10 14:29] dwlfrth commented on #2269
@jrouzierinverse do quick fix for this one and backport it.
We will discuss on change format in database afterward and the impact of it.

[2017-05-10 14:30] dwlfrth commented on #2298
@cgx poke :) any idea ?

[2017-05-10 16:35] julsemaan commented on #2298
Also affects CSV node import

[2017-05-10 17:57] #2298 closed

[2017-05-10 18:00] julsemaan commented on #2298
This will need to be cherry-picked in the maintenance branch.

Now given we're now minimizing JS, I assume it won't cherry-pick cleanly.

Could you provide instructions on how to regenerate the JS files after the cherry-pick ?

[2017-05-10 18:01] cgx commented on #2298
`grunt dist` 👍

[2017-05-10 20:39] #2294 closed

[2017-05-10 20:51] jrouzierinverse commented on #2269
Fixed by 58ed2028d473e3454ab27bf30f702be8ad303390

[2017-05-10 20:51] #2269 closed

[2017-05-10 21:04] tlaurion commented on #2031
Not replicable.

[2017-05-10 21:04] #2031 closed

[2017-05-10 21:42] dwlfrth commented on #2021
See #2227

[2017-05-10 21:42] #2021 closed

[2017-05-10 21:47] dwlfrth commented on #1065
We will close the issue since
1. It is related to an error message that have been removed
2. It "requires" a rework of the inline mode.
Since there is no problem coming from this one, it will be addressed at the moment of the possible inline rework.

If I'm wrong, please reopen and explain.

[2017-05-10 21:47] #1065 closed

[2017-05-10 21:49] dwlfrth commented on #1847
@julsemaan, can you check if it is still an issue. I remember I fixed a locationlog double entry thing for v7.
If you can't, I'll dig in...

[2017-05-10 21:51] dwlfrth commented on #1888
I don't think of any corner cases where this can pollute the maint.
My next question is, to which version are we porting this back ?

[2017-05-11 12:21] julsemaan commented on #1888
I'd say as far as it cherry-picks cleanly up to 6.0

[2017-05-11 15:42] julsemaan opened #2317 "SCSS settings + colors are getting wiped on each update"
Should get the packaging to rpmsave them

[2017-05-11 16:15] #2277 closed

[2017-05-11 16:33] julsemaan commented on #1847
Saw that on a customer site which isn't on v7 and I don't have an L3 inline setup to replicate.

[2017-05-11 17:43] #1995 closed

[2017-05-11 17:47] #408 closed

[2017-05-11 17:48] lzammit commented on #408
Actual behaviour since PF 5.0

[2017-05-11 17:48] lzammit commented on #618
Fixed in PacketFence 7

[2017-05-11 17:48] #618 closed

[2017-05-11 17:49] lzammit commented on #997
Fixed

[2017-05-11 17:49] #997 closed

[2017-05-11 17:50] lzammit commented on #1672
Fix in PacketFence 7.

[2017-05-11 17:50] #1672 closed

[2017-05-11 21:02] jrouzierinverse commented on #2285
Fixed in b04050a6bb3091fb52ada69b4789e2820ff7803c

[2017-05-12 15:28] julsemaan commented on #2306
@millijuna

I tried to strip a useless vbox related section from the OVF

Can you download that one and let me know if it works ?
https://support.inverse.ca/~jsemaan/box.ova.gz

Thanks !

[2017-05-12 16:10] millijuna commented on #2306
I'll give it a try. Unfortunately, my system is at the far end of a
satellite link, so getting the OVA there is an all night affair. If the XML
deployment file is the only change, I might just move that file up instead,
and rebuild the ova (much quicker).

On Fri, May 12, 2017 at 8:28 AM, Julien Semaan <notifications@github.com>
wrote:

--
---------------------------------------------
Hans Johnson

[2017-05-12 16:13] julsemaan commented on #2306
@millijuna, it is indeed the only change

Here is a pastebin containing only the ovf file so you don't have to download the whole ova:
https://pastebin.com/raw/dGQekfQf

[2017-05-12 17:25] tribut opened #2318 "Missing dependencies on Debian"
We recently upgraded our packetfence install (running Debian jessie) to 7.0 and it seems it is missing  dependencies on these packages:

 * libclass-xsaccessor-perl
 * libbsd-resource-perl

Both prevent packetfence from starting when not installed.

[2017-05-12 19:42] julsemaan commented on #2295
Not able to replicate it here

What OS are you running and what version of PacketFence ?

[2017-05-12 19:47] louismunro commented on #2295
Fixed in maintenance I believe.
See e0f96ae99dd5f134feb223f24e3e96c8dd322068.

[2017-05-12 20:08] #2273 closed

[2017-05-12 20:08] julsemaan commented on #2273
Fix is done, but can't cherry-pick in maintenance given it includes a change related to packaging

[2017-05-15 14:14] dwlfrth commented on #1848
@jrouzierinverse Status ?

[2017-05-15 14:21] cgx commented on #2301
As discussed with @jrouzierinverse, a database *count* would significantly affect performance. Closing it for now.

[2017-05-15 14:21] #2301 closed

[2017-05-15 16:51] julsemaan commented on #2107
I investigated and the issue comes from the config generation of dhcpd.conf

That generation doesn't take into account the possibility an interface wouldn't be dhcpd enabled when its registration or isolation when declaring the failover peer

Would require reworking the whole generation of config to untangle everything which I'm not sure is worth it knowing we might get rid of ISC dhcp soon

Pushi

[2017-05-15 16:52] julsemaan commented on #2295
Closing, pretty sure @louismunro found it

Re-open if his proposed patch doesn't fix it

[2017-05-15 16:52] #2295 closed

[2017-05-15 17:19] julsemaan opened #2321 "can't create twilio source"
getting the following error:
[code]

[2017-05-15 17:24] julsemaan commented on #2321
caused by 5a64f8e63584b3044d358dfe50a242e7cc2907a0

Will need to see if its relevant to have the recently added CreateLocalAccount role in twilio

@dwlfrth, can you shed some light on this?

[2017-05-15 18:49] dwlfrth opened #2323 "admin: Reorder authentication sources on portal modules"
It is possible to order the authentication source of a portal module by editing the configuration file manually, but if you then go in the portal module configuration page, the authentication source field is populated in a wrong way which will change the order manually configured directly in the file.

Admin field should be a sorted field

[2017-05-15 21:41] dwlfrth opened #2324 "admin: Connection profile cloning file empty new file"
Under the "Files" section of "Connection profiles", cloning an existing file simply create an empty file.

[2017-05-16 13:58] LeGuerg opened #2325 "PacketFence do not start after upgrade"
Hello,

I meet an issue with PacketFence on a Debian 8 after an apt-get upgrade today.
PF failed to start, here is the log from terminal:

[code]

[code]

[code]

May you have any clues about this issue ? I tried several actions found randomly on Google, with no luck :-(
Thanks a lot everyone;

[2017-05-16 14:01] fdurand commented on #2325
Hello,
it's related to libc6 and lasso.so.
Try that:
mv /usr/local/pf/lib/pf/Authentication/SourceSAMLSource.pm /usr/local/pf/lib/pf/Authentication/SourceSAMLSource.pm.bak

mv html/captive-portal/lib/captiveportal/PacketFence/DynamicRouting/Module/Authentication/SAML.pm html/captive-portal/lib/captiveportal/PacketFence/DynamicRouting/Module/Authentication/SAML.pm.bak

[2017-05-16 14:10] LeGuerg commented on #2325
[code]
Sorry, I get the same error.

[2017-05-16 14:55] fdurand commented on #2325
Ok can you post the log (packetfence.log, httpd.admin*) on the mailling list ?

[2017-05-16 15:20] LeGuerg commented on #2325
Here is the /usr/local/pf/logs/packetfence.log
[code]
And the /usr/local/pf/logs/httpd.admin.error , below:
[code]
Note: Packetfence was running nicely before we launched the apt-get upgrade command today.
Thx again for your help :-)

[2017-05-16 15:33] fdurand commented on #2325
Did you try to restart packetfence-config ?

[2017-05-16 19:25] #2321 closed

[2017-05-16 20:08] #2312 closed

[2017-05-16 20:10] #1882 closed

[2017-05-16 20:12] julsemaan commented on #1120
fixed via #2007

[2017-05-16 20:12] #1120 closed

[2017-05-16 20:14] julsemaan commented on #845
Was fixed via #1032

[2017-05-16 20:14] #845 closed

[2017-05-16 20:14] julsemaan commented on #743
Not relevant in 6+, closing

[2017-05-16 20:14] #743 closed

[2017-05-16 20:15] julsemaan commented on #1301
That's a never ending fight but we're back to an acceptable usage

Closing

[2017-05-16 20:15] #1301 closed

[2017-05-16 20:16] julsemaan commented on #1818
pf::config::cached is long gone so this is no longer an issue

[2017-05-16 20:16] #1818 closed

[2017-05-16 20:27] #2105 closed

[2017-05-16 20:41] julsemaan commented on #2306
@millijuna, any update on this ?

[2017-05-16 20:44] millijuna commented on #2306
Sorry, it was a crazy weekend and Monday. I'll test things this evening.

On Tue, May 16, 2017 at 1:41 PM, Julien Semaan <notifications@github.com>
wrote:

--
---------------------------------------------
Hans Johnson (hans.johnson@gmail.com)
B.ASc, Computer Engineering
Simon Fraser University

... Si hoc legere scis numium eruditionis habes. -- Anonymous

[2017-05-17 01:18] cgx commented on #2312
Postmortem explanation: I changed the Bootstrap grid from the default 12 columns to 18 columns.

[2017-05-17 04:58] millijuna commented on #2306
Just tried Your new file as a replacement for the ovf file, and it now generates a different error:
![image](https://cloud.githubusercontent.com/assets/28493550/26139059/b7cfee66-3a82-11e7-9230-b4ed7ead3537.png)

[2017-05-17 07:58] LeGuerg commented on #2325
Hello,
yes I did, here is the status (failed):

[code]

[2017-05-17 09:29] LeGuerg commented on #2325
Hi,

Also, I get now a weird message when i run an "apt-get upgrade"

[code]

Then, " apt-get -f install" gives me this (see below).
It seems that the command will remove packetfence package, as well as mysql-server ones. What may be the consequences if I apply a "Y" to the prompt? May I lose all my databases, and PacketFence configurations? Thx for your help :-)

[code]

[2017-05-17 13:00] fdurand commented on #2325
It looks that it's not really a bug in the code but more a package/installation issue.
Since the github bugtracker is for development issues i will close the issue and can we continue on the mailling list (https://lists.sourceforge.net/lists/listinfo/packetfence-users) or on the irc ?

[2017-05-17 13:01] #2325 closed

[2017-05-17 13:10] LeGuerg commented on #2325
Ok, I just posted a message to the mailing list 'packetfence-users@lists.sourceforge.net'.
Thank you again for your precious help :-)

I'm going to follow instructions from this webpage [https://github.com/inverse-inc/packetfence/blob/devel/UPGRADE.asciidoc](https://github.com/inverse-inc/packetfence/blob/devel/UPGRADE.asciidoc) in order to try to restart PF.

[2017-05-17 13:13] fdurand commented on #2325
You have to subscribe to the list if you want to receive answer.

[2017-05-17 13:17] LeGuerg commented on #2325
Thx, it's done.

[2017-05-17 14:18] dwlfrth commented on #2285
@jrouzierinverse backport the commit and close the issue

[2017-05-17 14:55] jrouzierinverse commented on #2324
Fixed by d11992c671757a8579556914e76d95044236f28f and 7bb7fdf2c97ef476c85d3697e83083ec612a5847

[2017-05-17 14:55] #2324 closed

[2017-05-17 14:57] #2285 closed

[2017-05-17 18:22] #1958 closed

[2017-05-17 19:53] #2227 closed

[2017-05-17 20:14] julsemaan commented on #2306
Alright, so I build a new OVF using the content of the 6.5.1 ZEN, and put it here https://pastebin.com/raw/yrfNWL3x

Try that and let me know how that goes

Thanks!

[2017-05-17 20:33] #2323 closed

[2017-05-17 20:49] whitx opened #2331 "FingerbankSelect field does not check for unique value"
While using a field type fingerbank select in the admin (i.e: provisioner -> OS) you are able to enter multiple type the same value, it will only be displayed once but stored multiple times in the config.

[2017-05-17 20:49] millijuna commented on #2306
I'll give it a whirl. Maybe a better option would be for me to build up a
VM based around the disk file, matching the parameters as best as possible,
then export it and get that to you? Then you can compare a known good one
to what you have.

I'll be on site this weekend, so I can hand-carry out the file, rather than
squeezing it through our satellite link.

On Wed, May 17, 2017 at 1:14 PM, Julien

[2017-05-17 22:45] julsemaan commented on #2306
Given 6.5.1 imported fine on your vCenter and 7.0.0 didn't, this means the 6.5.1 OVF file should work
We changed the way we build the ZEN between 6 and 7 which explains why you've having issues with one and not with the other

[2017-05-17 22:46] millijuna commented on #2306
There were some other wierdnesses as well... It didn't set the
distribution/operating system properly, so to switch to vmx network
adapters (which I prefer to use) I needed to set it to the appropriate
version of Centos.

On Wed, May 17, 2017 at 3:45 PM, Julien Semaan <notifications@github.com>
wrote:

--
---------------------------------------------
Hans Johnson (hans.johnson@gmail.com)
B.ASc, Co

[2017-05-17 22:48] julsemaan commented on #2306
Your last comment is for the new OVF I provided or about when you tried to import 6.5.1 ?

[2017-05-18 16:05] jrouzierinverse commented on #1888
6.4 was the furtherest I could go

[2017-05-18 16:05] #1888 closed

[2017-05-18 17:22] tlaurion opened #2333 "CSS and JS statements inline in templates"
Some CSS and JS statements are inline inside in the templates. They should be moved to their specific files so that the errors given by Content-Security-Policy disappear.

EX: inside of html/pfappserver/root/admin/wrapper.tt:
- "height: 32px"
- "var labels = { "Cannot Load C ...."

[2017-05-18 17:47] tlaurion opened #2334 "httpd.portal could have all it's TLS section supressed"
Since TLS is terminated at HAProxy

[2017-05-18 18:41] louismunro opened #2335 "There are unmocked subs in pf::Switch"
This causes the unit tests to fail and the build to abort.

[code]
I will whitelist those, but this should be addressed.

[2017-05-18 18:47] #2335 closed

[2017-05-18 18:55] tlaurion commented on #2333
To replicate:

In httpd.admin.tt, add the following in the VirtualHost section to produce the same errors:
`Header set Content-Security-Policy-Report-Only: "default-src 'self' https://[% vhost %]:[% ports.admin %];"`

And restart httpd.admin service

[2017-05-18 21:45] tlaurion commented on #2333
Diff for the portal: https://github.com/inverse-inc/packetfence/pull/2336

My environment can be used if needed?

[2017-05-19 01:45] cgx commented on #2333
`'self'` matches the current origin. Specifying the vhost should not be necessary, right?

[2017-05-19 13:14] tlaurion commented on #2333
tested both templates: you are absolutely right: it gives the same result.

[2017-05-19 17:18] dwlfrth opened #2338 "authentication: Too large scoping of authentication sources"
When calling `pf::authentication::authenticate` without specifying a source array, all configured authentication source (except the "exclusive" ones) are used.
Since we match on a first hit based, some authentication sources do not have any specific" logic to return a "TRUE" for authenticate and we might wrongly authenticate.

ie. Email source which is provided by default

[2017-05-19 17:18] dwlfrth commented on #2338
TODO: Need to evaluate side-effects

[2017-05-19 17:53] dwlfrth commented on #2338
Should also address #1784

[2017-05-19 19:59] tlaurion opened #2340 "Implement XSRF for the admin"
Would it be a good way?
Catalyst::Controller::RequestToken

Also, the admin session is kept alive for a day? Why the default is so high?

[2017-05-23 01:41] waltdjr commented on #2306
If you would like, I can help test this as well since I had the same problem.

[2017-05-23 15:51] jrouzierinverse commented on #2340
Had a discussion with @tlaurion about approaches.

We came up with the following approach.

For each request in a session a token is created.
This token is added to a header and sent to the client.
Also the token is added to the allowed tokens for this session.

Any destructive or resource intensive action such as update, remove, and sql searches will require a valid session token to be placed in

[2017-05-23 16:26] millijuna commented on #2306
Unfortunately, I don't know how much more help I can be on this topic... For various other reasons (not related to PF), I rolled back to my 6.0U3 version of vCenter.

[2017-05-23 18:37] tlaurion commented on #2340
General recommendation:
`Developers are encouraged to make use of both the JavaScript DOM Manipulation and the JSP tag library strategies for a complete token injection strategy. The JavaScript DOM Manipulation strategy is ideal as it is automated and requires minimal effort on behalf of the developer.`
[SRC: OWASP](https://www.owasp.org/index.php/Category:OWASP_CSRFGuard_Project)

On using Pluck

[2017-05-23 19:23] #2027 closed

[2017-05-23 19:49] tlaurion opened #2341 "Merge documentation guides and create example sections"
Actually:
- The [ZEN guide](https://github.com/inverse-inc/packetfence/blob/devel/docs/PacketFenceZEN_Installation_Guide.asciidoc) has been exploded in [inline](https://github.com/inverse-inc/packetfence/blob/devel/docs/PacketFence_Inline_Deployment_Quick_Guide_ZEN.asciidoc) and [out of band](https://github.com/inverse-inc/packetfence/blob/devel/docs/PacketFence_Out-of-Band_Deployment_Quick_Guide_

[2017-05-23 22:25] rokkhan commented on #2091
any update?

[2017-05-24 12:33] julsemaan commented on #2091
will try to replicate and look into it shortly

[2017-05-24 14:25] julsemaan opened #2342 "Apache + modperl + libc + liblasso = disaster"
Seems that the versions of libc and modperl shipped in Debian 8.8 are breaking when being used with liblasso (for SAML). With those, apache segfaults when starting up

Updating to the most recent version of lasso isn't fixing it.
Anyway, we need to address how liblasso is used with modperl as it is currently broken (#1652 + PR #1653)

A runtime loading of liblasso was put in place in 9b88893101698

[2017-05-24 14:25] #2342 closed

[2017-05-24 15:39] julsemaan commented on #2338
Re-opening to track cherry-picking in maintenance/7.0 once this fix is confirmed as working with the 7.1 testing

[2017-05-24 15:39] julsemaan commented on #1784
Re-opening to track cherry-picking in maintenance/7.0 once this fix is confirmed as working with the 7.1 testing

[2017-05-24 16:47] julsemaan opened #2343 "Default ip4log cleanup settings set the expiration to 1 month"
Seems that the new pfmon introduced a change in logic where before the rotation window was used as the cleanup window if rotation was disabled. Now the rotation window only affects the job when the rotation is enabled (which makes sense)

But, that means if you have rotation disabled, we keep 1 month worth of ips in ip4log_history which in a lot of cases will lead to issues.

I suggest the followi

[2017-05-24 18:24] #1848 closed

[2017-05-24 18:27] dwlfrth commented on #2343
I agree

[2017-05-24 19:27] julsemaan opened #2344 "Impossible to preview an email template"
Previewing an email template in the connection profile files tab results in the following error:
![image](https://cloud.githubusercontent.com/assets/3857942/26421798/5820b6e4-4095-11e7-93e7-cec91c956956.png)

Not even sure that should have been available in the first place.

We should do one of the following:
- Remove the preview button for the email templates
- Fix it and make sure it previews fi

[2017-05-24 19:56] dwlfrth commented on #2344
Second option should be the one to take

[2017-05-24 20:15] julsemaan commented on #2344
@jrouzierinverse, have place in your to-do for that one ?

[2017-05-24 21:03] rokkhan commented on #2091
thanks a lot!! please feel free to ask any test or info
greetings

2017-05-24 14:33 GMT+02:00 Julien Semaan <notifications@github.com>:

[2017-05-24 22:08] dwlfrth opened #2345 "service managers: All services managed by PacketFence should have their service manager"
They should also all be manageable through `pfcmd` using a standard syntax.

ie: mariadb (generatemariadbconfig)

[2017-05-25 14:05] dwlfrth opened #2346 "LDAP authentication source cache match key"
The key used to cache a match when querying an LDAP authentication source should be review and adjusted to match the  configured rule it matches. The cache would then be on a "per rule" basis and would avoid keeping in cache a result that was computed for an old rule.

[2017-05-25 16:53] tlaurion commented on #2333
Next steps would be:

1. For both of the following files, replace "Content-Security-Policy-Report-Only" by "Content-Security-Policy" so that the prohibited content is actually blocked.
1. For the admin, replace in the code:
"default-src 'self';" by "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';") under /usr/local/pf/html/pfappserver/lib/pfappserver.pm

[2017-05-25 17:36] lzammit opened #2348 "Fingerbank issue in the logs"
pfqueue: Use of uninitialized value in concatenation (.) or string at /usr/local/pf/lib/fingerbank/SourceMatcher.pm line 49.

[2017-05-25 19:02] julsemaan opened #2349 "bypass_vlan and bypass_role bypass the REJECT role"
The REJECT role should be the holy truth and even if there is a bypass VLAN or bypass role it shouldn't override the REJECT assignation.

[2017-05-25 20:09] julsemaan opened #2350 "httpd.aaa logging config is taken from httpd.webservices"
conf/log.conf.d/httpd.aaa.conf is ignored by the httpd.aaa service and takes whatever is in conf/log.conf.d/httpd.webservices.conf

Easiest way to replicate is to change the log level in the httpd.aaa.conf file and then see that it will still log in info

[2017-05-25 20:31] julsemaan opened #2352 "Web-authentication session leak"
When creating a web-authentication session (using pf::Portal::Session), then if the endpoint doesn't reuse the session ID we gave him in the next requests, we will create a session for nothing. This is especially damageable when a device hammers the portal with multiple web-auth redirect requests per second which may end up taking a lot of place in the redis instance

We should make this session u

[2017-05-25 21:14] julsemaan commented on #2352
Reopening to track patching in maintenance after 7.1 testing is done